@model LoginViewModel

@if (Request.IsAuthenticated)
{
    @Html.AntiForgeryToken()
    <!-- Section -->
    <section>
        @{ Response.Redirect("~/Manage/Index");}
    </section>
}
else
{
    <section>
        <div class="container">
            <br /><br /><br /><br />
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Login</h3>
                            </div>
                            <div class="panel-body">
                                <br />
                                @using easyfis.Models
                                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Username:</label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Username" })
                                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Password:</label>
                                        <div class="col-sm-9">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-9">
                                            <label>
                                                @Html.CheckBoxFor(m => m.RememberMe)
                                                @Html.LabelFor(m => m.RememberMe)
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-9">
                                            @Html.ValidationMessage("LoginError", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-9">
                                            <input type="submit" value="Login" class="btn btn-primary">
                                        </div>
                                    </div>
                                }
                            </div>
                            @*<div class="panel-footer" align="right">
                                <span class="panel-footer-custom">Not yet a member? <a href="@Url.Action("Register", "Account")" data-toggle="tooltip" title="Register account for free!">Register here!</a></span>
                                <br />
                            </div>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </section>
}
