@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework

@if (Request.IsAuthenticated)
{
    @Html.AntiForgeryToken()
    <!-- Section -->
    <section>
        @{ Response.Redirect("~/Manage/Index");}
    </section>
}
else
{
    <!-- Section -->
    <section>
        <div class="cover-login-photo-custom">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        @*<img class="img-thumbnail img-responsive center-block img-custom" data-src="holder.js/500x500/auto" alt="" src="../images/sectionImages/productManagement.jpg">*@
                    </div>
                    <div class="col-md-6">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Login</h3>
                                </div>
                                <div class="panel-body">
                                    @*<form class="form-horizontal" role="form">*@
                                    @using easyfis.Models
                                    @model LoginViewModel
                                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="form-group">
                                            <label class="control-label col-sm-3">Username:</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Username" })
                                                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                                @*<input type="email" class="form-control modal-form-border" id="email" placeholder="Username" required>*@
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-3">Password:</label>
                                            <div class="col-sm-9">
                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                                                @*<input type="password" class="form-control modal-form-border" id="pwd" placeholder="Password..." required>*@
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-3"></div>
                                            <div class="col-sm-9">
                                                <label>
                                                    @Html.CheckBoxFor(m => m.RememberMe)
                                                    @Html.LabelFor(m => m.RememberMe)
                                                </label>

                                                <a href="#" class="pull-right" data-placement="bottom" data-toggle="tooltip" title="Remember your password">Forgot Password?</a>
                                                @*<label class="control-label"><input type="checkbox"> Remember me</label>*@
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <div class="col-sm-3"></div>
                                            <div class="col-sm-9">
                                                @*@Html.ValidationSummary(true, "Incorrect username or password. Please try again.", new { @class = "text-danger" })*@
                                                @Html.ValidationMessage("LoginError", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-3"></div>
                                            <div class="col-sm-9">
                                                <input type="submit" value="Login" class="btn btn-primary">
                                            </div>
                                        </div>
                                        @*<hr class="featurette-divider">
                                        <div class="form-group" align="center">
                                            <div class="col-sm-3"></div>
                                            <div class="col-sm-9">
                                                <button type="button" class="btn btn-primary btn-circle btn-lg" data-placement="top" data-toggle="tooltip" title="Login using Facebook Account"><i class="fa fa-facebook-official"></i></button>
                                                <button type="button" class="btn btn-danger btn-circle btn-lg" data-placement="right" data-toggle="tooltip" title="Login using Google or Gmail Account"><i class="fa fa-google"></i></button>
                                            </div>
                                        </div>*@
                                    }
                                    @*</form>*@
                                </div>
                                <div class="panel-footer">
                                    @*@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })*@
                                    <span class="panel-footer-custom">Not yet a member? <a href="@Url.Action("Register", "Account")" data-toggle="tooltip" title="Register account for free!">Register here!</a></span>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        @*<img class="img-thumbnail img-responsive center-block img-custom" data-src="holder.js/500x500/auto" alt="" src="../images/sectionImages/productManagement.jpg">*@
                    </div>
                </div>
            </div>
        </div>
    </section>
}
