@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <!-- Section -->
        <section>
            <div class="cover-login-photo-custom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="container">
                                <h2>User's Name</h2>
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#BasicInfo">Basic Information</a></li>
                                    <li><a data-toggle="tab" href="#LaunchSoftware">Launch your Software</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="BasicInfo" class="tab-pane fade in active">
                                        <h3>BasicInfo</h3>
                                        <a href="@Url.Action("Index", "Manage")" class="btn btn-default">Change Settings</a><br />
                                        <ul>
                                            <li>First name: blabla</li>
                                            <li>Last name: blabla</li>
                                            <li>Gender: blabla</li>
                                            <li>Email Address: blabla</li>
                                        </ul>
                                    </div>
                                    <div id="LaunchSoftware" class="tab-pane fade">
                                        <br />
                                        <a href="@Url.Action("Index", "Software")" class="btn btn-primary btn-lg">Launch Software</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-md-4">*@
                            @*@Html.ActionLink(User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
                            @*<a href="@Url.Action("Index", "Software")" class="btn btn-primary btn-lg btn-block">Launch Software</a>*@
                        @*</div>*@
                    </div>
                </div>
            </div>
        </section>

    }
}
else
{
    <!-- Section -->
    <section>
        <div class="cover-login-photo-custom">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        @*<img class="img-thumbnail img-responsive center-block img-custom" data-src="holder.js/500x500/auto" alt="" src="../images/sectionImages/productManagement.jpg">*@
                    </div>
                    <div class="col-md-4">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Login</h3>
                                </div>
                                <div>
                                    <div class="panel-body">
                                        @*<form class="form-horizontal" role="form">*@
                                        @using easyfis.Models
                                        @model LoginViewModel
                                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Username" })
                                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                                    @*<input type="email" class="form-control modal-form-border" id="email" placeholder="Username" required>*@
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                                    @*<input type="password" class="form-control modal-form-border" id="pwd" placeholder="Password..." required>*@
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <div>
                                                        <label>
                                                            @Html.CheckBoxFor(m => m.RememberMe)
                                                            @Html.LabelFor(m => m.RememberMe)
                                                        </label>
                                                        @*<label class="control-label"><input type="checkbox"> Remember me</label>*@
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    @*@Html.ValidationSummary(true, "Incorrect username or password. Please try again.", new { @class = "text-danger" })*@
                                                    @Html.ValidationMessage("LoginError", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <input type="submit" value="Login" class="btn btn-primary btn-lg btn-block">
                                                </div>
                                            </div>
                                            <hr class="featurette-divider">
                                            <div class="form-group" align="center">
                                                <div class="col-sm-12">
                                                    <button type="button" class="btn btn-primary btn-circle btn-lg" data-placement="top" data-toggle="tooltip" title="Login using Facebook Account"><i class="fa fa-facebook-official"></i></button>
                                                    <button type="button" class="btn btn-danger btn-circle btn-lg" data-placement="right" data-toggle="tooltip" title="Login using Google or Gmail Account"><i class="fa fa-google"></i></button>
                                                </div>
                                            </div>
                                        }
                                        @*</form>*@
                                    </div>
                                    <div class="panel-footer">
                                        @*@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })*@
                                        <a href="#" data-placement="left" data-toggle="tooltip" title="Click here to remember your password">Forgot Password?</a>
                                        <span class="panel-footer-custom">Not yet a member? <a href="@Url.Action("Register", "Account")" data-toggle="tooltip" title="Register account for free!">Register</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
