@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework

@if (Request.IsAuthenticated)
{
    <!-- Section -->
    <section>
        <div class="cover-login-photo-custom">
            <div class="container">
                <div class="panel panel-info">
                    <div class="panel-heading">Basic Info</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    @Html.ActionLink((ViewData["FullName"]) + "", "Login", "Account", routeValues: null, htmlAttributes: new { title = "Your Name", @class = "profile-name" }) <br />
                                    Address: <span class="profile-details">@ViewData["Address"]  <br /></span>
                                    Email Address: <span class="profile-details">@ViewData["Email"] <br /></span>
                                    Username:<span class="profile-details"> @ViewData["UserName"]</span>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-default" onclick="cmdEditProfileDetails_OnClickButton()"> Edit Info</button>
                        <a href="@Url.Action("ChangePassword", "Manage")" class="btn btn-default"> Change Your Password</a>
                        <p class="change-password-success">@ViewBag.StatusMessage</p>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">ERP</div>
                    <div class="panel-body">
                        <a href="@Url.Action("Index", "Software")" class="btn btn-primary">Launch Software</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <section>
        @{ Response.Redirect("~/Account/Login");}
    </section>
}