@using Microsoft.AspNet.Identity
@{
    var branchId = Request.QueryString["BranchId"];
}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav">
            @*<li><a href="@Url.Action("Index","Software")"><i class="fa fa-table"></i> DashBoard</a></li>*@
            <li><a href="#" id="c-button--push-left">Menu</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="@Url.Action("Login", "Account")">@ViewData["FirstName"]</a></li>
            @*<li>@Html.ActionLink("Hello " + (ViewData["FirstName"]) + "", "Login", "Account", routeValues: null, htmlAttributes: new { title = (ViewData["FullName"]) })</li>*@
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-chevron-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("Index", "Software", new { BranchId = branchId })">Main Menu</a></li>
                    <li class="divider"></li>
                    <li><a href="@Url.Action("Index", "Manage")">Help</a></li>
                    <li><a href="@Url.Action("Index", "Manage")">Report a problem</a></li>
                    <li><a href="@Url.Action("Index", "Manage")">Settings</a></li>
                    @*<li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i> Sign out</a></li>*@
                    <li><a href="#" data-toggle="modal" data-target="#modalLogout">Logout</a></li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="@Url.Action("Login", "Account")"><i class="fa fa-sign-in"></i> Sign in</a></li>
    </ul>
}
