@{
    var branchId = Request.QueryString["BranchId"];
}
<!-- SideBar Menu -->
<nav id="c-menu--push-left" class="c-menu c-menu--push-left">
    <b class="c-menu__close">Menu  <a href="#" style="float: right;"><i class="fa fa-times sidebar-menu-close"></i></a></b>

    <div class="panel-group" id="accordion">
        <div class="panel panel-custom-menu">
            <b>
                <a href="@Url.Action("Index", "Software", new { BranchId = branchId })" class="sidebar-menu-link menu-link-custom menu-main-menu">Main Menu</a>
            </b>
        </div>
        <div class="panel panel-custom-menu">
            <b>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="sidebar-menu-link menu-link-custom menu-green">
                    Setup <i class="fa-drop1 fa fa-chevron-down pull-right"></i>
                </a>
            </b>
            <div id="collapse1" class="panel-collapse collapse">
                <ul class="menu-items">
                    <li class="menu-items"><a href="@Url.Action("Supplier", "Software", new { BranchId = branchId })" class="menu-link sidebar-menu-link">Supplier</a></li>
                    <li class="menu-items"><a href="@Url.Action("Customer", "Software", new { BranchId = branchId })" class="menu-link sidebar-menu-link">Customer</a></li>
                    <li class="menu-items"><a href="@Url.Action("Items", "Software", new { BranchId = branchId })" class="menu-link sidebar-menu-link">Items</a></li>
                    <li class="menu-items"><a href="@Url.Action("ChartOfAccounts", "Software", new { BranchId = branchId })" class="menu-link sidebar-menu-link">Chart of Accounts</a></li>
                    <li class="menu-items"><a href="@Url.Action("Bank", "Software", new { BranchId = branchId })" class="menu-link sidebar-menu-link">Bank</a></li>
                </ul>
            </div>
        </div>
        <div class="panel panel-custom-menu">
            <b>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="sidebar-menu-link menu-link-custom menu-lavander">
                    System <i class="fa-drop2 fa fa-chevron-down pull-right"></i>
                </a>
            </b>
            <div id="collapse2" class="panel-collapse collapse">
                <ul class="menu-items">
                    <li class="menu-items"><a href="@Url.Action("Company", "Software", new { BranchId = branchId })" class=" menu-link sidebar-menu-link">Comapany</a></li>
                    <li class="menu-items"><a href="@Url.Action("Users", "Software", new { BranchId = branchId })" class="menu-link sidebar-menu-link">Users</a></li>
                    <li class="menu-items"><a href="@Url.Action("Settings", "Software", new { BranchId = branchId })" class="menu-link sidebar-menu-link">Settings</a></li>
                    <li class="menu-items"><a href="@Url.Action("SystemTables", "Software", new { BranchId = branchId })" class="menu-link sidebar-menu-link">System Tables</a></li>
                </ul>
            </div>
        </div>
        <div class="panel panel-custom-menu">
            <b>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="sidebar-menu-link menu-link-custom menu-blue">
                    Activity <i class="fa-drop3 fa fa-chevron-down pull-right"></i>
                </a>
            </b>
            <div id="collapse3" class="panel-collapse collapse">
                <ul class="menu-items">
                    <li class="menu-items"><a href="@Url.Action("PurchaseOrder", "Software", new { BranchId = branchId })" class="menu-link sidebar-menu-link">Purchase Order</a></li>
                    <li class="menu-items"><a href="@Url.Action("ReceivingReceipt", "Software", new { BranchId = branchId })" class="menu-link sidebar-menu-link">Receiving Receipt</a></li>
                    <li class="menu-items"><a href="@Url.Action("Disbursement", "Software", new { BranchId = branchId })" class="menu-link sidebar-menu-link">Disbursement</a></li>
                    <li class="menu-items"><a href="@Url.Action("Sales", "Software", new { BranchId = branchId })" class="menu-link sidebar-menu-link">Sales</a></li>
                    <li class="menu-items"><a href="@Url.Action("Collection", "Software", new { BranchId = branchId })" class="menu-link sidebar-menu-link">Collection</a></li>
                    <li class="menu-items"><a href="@Url.Action("StockIn", "Software", new { BranchId = branchId })" class="menu-link sidebar-menu-link">Stock In</a></li>
                    <li class="menu-items"><a href="@Url.Action("StockOut", "Software", new { BranchId = branchId })" class="menu-link sidebar-menu-link">Stock Out</a></li>
                    <li class="menu-items"><a href="@Url.Action("StockTransfer", "Software", new { BranchId = branchId })" class="menu-link sidebar-menu-link">Stock Transfer</a></li>
                    <li class="menu-items"><a href="@Url.Action("JournalVoucher", "Software", new { BranchId = branchId })" class="menu-link sidebar-menu-link">Journal Voucher</a></li>
                </ul>
            </div>
        </div>
        <div class="panel panel-custom-menu">
            <b>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="sidebar-menu-link menu-link-custom menu-orange">
                    Reports <i class="fa-drop4 fa fa-chevron-down pull-right"></i>
                </a>
            </b>
            <div id="collapse4" class="panel-collapse collapse">
                <ul class="menu-items">
                    <li class="menu-items"><a href="@Url.Action("AccountsReceivable", "Software", new { BranchId = branchId })" class="menu-link sidebar-menu-link">Accounts Receivable</a></li>
                    <li class="menu-items"><a href="@Url.Action("AccountsPayable", "Software", new { BranchId = branchId })" class="menu-link sidebar-menu-link">Accounts Payable</a></li>
                    <li class="menu-items"><a href="@Url.Action("InventoryReport", "Software", new { BranchId = branchId })" class="menu-link sidebar-menu-link">Inventory Report</a></li>
                    <li class="menu-items"><a href="@Url.Action("FinancialStatements", "Software", new { BranchId = branchId })" class="menu-link sidebar-menu-link">Financial Statements</a></li>
                    <li class="menu-items"><a href="@Url.Action("BankReconciliation", "Software", new { BranchId = branchId })" class="menu-link sidebar-menu-link">Bank Reconciliation</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav><!-- /c-menu push-left -->
