<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Some slide and push menu demos using CSS3 transitions.">

    <!-- Title of the Page -->
    <title>Accounts Receivable</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Content/Software-css")
</head>
<body>
    <div id="o-wrapper" class="o-wrapper">
        <!-- Header -->
        @Html.Partial("_SoftwareHeader")

        <!-- Section -->
        <section>
            <div class="sub-nav">
                <div class="container">
                    <h4><span class="accountReportsDetail">AR</span> Accounts Receivable</h4>
                </div>
                <div class="div_Current_Page">
                    <div class="container">
                        <a href="@Url.Action("Index", "Software")" class="currentPageLinkCustom">Main Menu</a> > Accounts Receivable
                    </div>
                </div>
            </div>
            <div class="container">
                @*<button id="c-button--push-left" class="btn btn-default"><i class="fa fa-bars"></i> Menu</button>
                    <a href="@Url.Action("Index","Software")" class="btn btn-default"><i class="fa fa-table"></i> DashBoard</a>*@
                @*<br /><br />*@
                @*<h2>Accounts Payable</h2>*@
                <div class="row">
                    <div class="col-md-4">
                        <ul class="nav nav-pills nav-stacked pill-custom pill-report-custom" role="tablist" id="myTab">
                            <li class="active"><a data-toggle="pill" href="#AR">Accounts Receivable</a></li>
                            <li><a data-toggle="pill" href="#ARS">Accounts Receivable Summary</a></li>
                            <li><a data-toggle="pill" href="#SOA">Statement of Account</a></li>
                        </ul>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content">
                            <div id="AR" class="tab-pane fade in active">
                                <div align="right">
                                    <button onclick="AccountsReceivablePDF_OnClick()" class="btn btn-primary btn-sm"><i class="fa fa-print"></i> Print</button>
                                    <a href="@Url.Action("Index", "Software")" class="btn btn-danger btn-sm" id=""><i class="fa fa-times"></i> Close</a>
                                </div>
                                <div class="well">
                                    <form class="form-horizontal" role="form">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2">Date as of</label>
                                                    <div class="col-sm-6">
                                                        <div class="comboBox-wide" id="accountReceivableReport_DateAsOf"></div>
                                                        <input type="hidden" id="accountReceivableReport_DateAsOf_data" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2">Company</label>
                                                    <div class="col-sm-6">
                                                        <div class="comboBox-wide" id="accountReceivableReport_Company"></div>
                                                        <input type="hidden" id="accountReceivableReport_Company_data" />
                                                        <input type="hidden" id="accountReceivableReport_Company_selectedValue" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2">Filter:</label>
                                                    <div class="col-sm-6">
                                                        <input type="checkbox" id="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div id="ARS" class="tab-pane fade">
                                <div align="right">
                                    <button onclick="window.location.href ='@Url.Action("AccountsReceivableSummaryPDF", "Software")'" class="btn btn-primary btn-sm"><i class="fa fa-print"></i> Print</button>
                                    <a href="@Url.Action("Index", "Software")" class="btn btn-danger btn-sm" id=""><i class="fa fa-times"></i> Close</a>
                                </div>
                                <div class="well">
                                    <form class="form-horizontal" role="form">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2">Date as of</label>
                                                    <div class="col-sm-6">
                                                        <div class="comboBox-wide" id="accountReceivableSummaryReport_DateAsOf"></div>
                                                        <input type="hidden" id="accountReceivableSummaryReport_DateAsOf_data" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2">Company</label>
                                                    <div class="col-sm-6">
                                                        <div class="comboBox-wide" id="accountReceivableSummaryReport_Company"></div>
                                                        <input type="hidden" id="accountReceivableSummaryReport_Company_data" />
                                                        <input type="hidden" id="accountReceivableSummaryReport_Company_selectedValue" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2">Filter</label>
                                                    <div class="col-sm-6">
                                                        <input type="checkbox" id="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div id="SOA" class="tab-pane fade">
                                <div align="right">
                                    <button onclick="window.location.href ='@Url.Action("AccountsReceivableStatementOfAccountPDF", "Software")'" class="btn btn-primary btn-sm"><i class="fa fa-print"></i> Print</button>
                                    <a href="@Url.Action("Index", "Software")" class="btn btn-danger btn-sm" id=""><i class="fa fa-times"></i> Close</a>
                                </div>
                                <div class="well">
                                    <form class="form-horizontal" role="form">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2">Date as of</label>
                                                    <div class="col-sm-6">
                                                        <div class="comboBox-wide" id="StatementOfTheAccount_DateAsOf"></div>
                                                        <input type="hidden" id="StatementOfTheAccount_DateAsOf_data" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2">Company</label>
                                                    <div class="col-sm-6">
                                                        <div class="comboBox-wide" id="StatementOfTheAccount_Company"></div>
                                                        <input type="hidden" id="StatementOfTheAccount_Company_data" />
                                                        <input type="hidden" id="StatementOfTheAccount_Company_selectedValue" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2">Customer</label>
                                                    <div class="col-sm-6">
                                                        <div class="comboBox-wide" id="StatementOfTheAccount_Customer"></div>
                                                        <input type="hidden" id="StatementOfTheAccount_Customer_data" />
                                                        <input type="hidden" id="StatementOfTheAccount_Customer_selectedValue" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2">Filter</label>
                                                    <div class="col-sm-6">
                                                        <input type="checkbox" id="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        @Html.Partial("_SoftwareFooter")
    </div>

    <!-- SideBar Menu -->
    @Html.Partial("_SoftwareSideBarMenu")

    <div id="c-mask" class="c-mask"></div><!-- /c-mask -->
    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        // ================
        // Global Variables
        // ================
        var accountsReceivableDateAsOf;
        var accountsReceivableSummaryDateAsOf;
        var StatementOfTheAccountDateAsOf;
        var companies;
        var accountReceivableCboCompany;
        var accountReceivableSummaryCboCompany;
        var StatementOfTheAccountCboCompany;
        var customers;
        var cboCustomer;

        // ===========
        // Get company
        // ===========
        function getCompanies() {
            companies = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/listCompany',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (results) {
                    if (results.length > 0) {
                        for (i = 0; i < results.length; i++) {
                            companies.push({
                                Id: results[i]["Id"],
                                Company: results[i]["Company"],
                                Address: results[i]["Address"],
                                ContactNumber: results[i]["ContactNumber"],
                                TaxNumber: results[i]["TaxNumber"],
                            });
                        }

                        createCboComapny(companies);
                    }
                }
            });
            return companies;
        }

        // ===================
        // Company - Combo Box
        // ===================
        function createCboComapny(companies) {
            var companyCollection = new wijmo.collections.CollectionView(companies);
            var companyList = new Array();
            for (var i = 0; i < companyCollection.items.length; i++) {
                companyList.push(companyCollection.items[i].Company);
            }

            accountReceivableCboCompany.dispose();
            accountReceivableCboCompany = new wijmo.input.ComboBox('#accountReceivableReport_Company', {
                placeholder: "Select Company",
                itemsSource: companyList,
                isEditable: false,
                required: false,
                selectedValue: document.getElementById('accountReceivableReport_Company_selectedValue').value.toString(),
                onSelectedIndexChanged: function () {
                    $("#accountReceivableReport_Company_data").val(companyCollection.items[this.selectedIndex].Id);
                }
            });

            accountReceivableSummaryCboCompany.dispose();
            accountReceivableSummaryCboCompany = new wijmo.input.ComboBox('#accountReceivableSummaryReport_Company', {
                placeholder: "Select Company",
                itemsSource: companyList,
                isEditable: false,
                required: false,
                selectedValue: document.getElementById('accountReceivableSummaryReport_Company_selectedValue').value.toString(),
                onSelectedIndexChanged: function () {
                    $("#accountReceivableSummaryReport_Company_data").val(companyCollection.items[this.selectedIndex].Id);
                }
            });

            StatementOfTheAccountCboCompany.dispose();
            StatementOfTheAccountCboCompany = new wijmo.input.ComboBox('#StatementOfTheAccount_Company', {
                placeholder: "Select Company",
                itemsSource: companyList,
                isEditable: false,
                required: false,
                selectedValue: document.getElementById('StatementOfTheAccount_Company_selectedValue').value.toString(),
                onSelectedIndexChanged: function () {
                    $("#StatementOfTheAccount_Company_data").val(companyCollection.items[this.selectedIndex].Id);
                }
            });
        }

        // ============
        // GET Customer
        // ============
        function getCustomers() {
            customers = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/listArticleByArticleTypeId/2',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (results) {
                    if (results.length > 0) {
                        for (i = 0; i < results.length; i++) {
                            customers.push({
                                CustomerId: results[i]["Id"],
                                Customer: results[i]["Article"]
                            });
                        }
                        createCboCustomer(customers);
                    }
                }
            });
            return customers;
        }

        // ======================
        // Combo Box for Customer
        // ======================
        function createCboCustomer(customers) {
            var customerCollection = new wijmo.collections.CollectionView(customers);
            var customerList = new Array();
            for (var i = 0; i < customerCollection.items.length; i++) {
                customerList.push(customerCollection.items[i].Customer);
            }

            cboCustomer.dispose();
            cboCustomer = new wijmo.input.ComboBox('#StatementOfTheAccount_Customer', {
                placeholder: "Select Customer",
                itemsSource: customerList,
                isEditable: false,
                required: false,
                selectedValue: document.getElementById('StatementOfTheAccount_Customer_selectedValue').value.toString(),
                onSelectedIndexChanged: function () {
                    $("#StatementOfTheAccount_Customer_data").val(customerCollection.items[this.selectedIndex].CustomerId);
                }
            });
        }

        function AccountsReceivablePDF_OnClick() {
            var accountReceivableReportDateAsOf = document.getElementById('accountReceivableReport_DateAsOf_data').value;

            var companyId;
            if (document.getElementById('accountReceivableReport_Company_data').value == "") {
                companyId = 0;
                document.getElementById('accountReceivableReport_Company').style.border = "1px solid red";
                toastr.error("Lacking Information");
            } else {
                companyId = document.getElementById('accountReceivableReport_Company_data').value;
                document.getElementById('accountReceivableReport_Company').style.border = " ";
                window.location.href = '/Software/AccountsReceivablePDF?DateAsOf=' + accountReceivableReportDateAsOf + '&CompanyId=' + companyId;
            }
        }

        // ============
        // On Load Page
        // ============
        $(document).ready(function () {
            accountReceivableCboCompany = new wijmo.input.ComboBox('#accountReceivableReport_Company');
            accountReceivableSummaryCboCompany = new wijmo.input.ComboBox('#accountReceivableSummaryReport_Company');
            StatementOfTheAccountCboCompany = new wijmo.input.ComboBox('#StatementOfTheAccount_Company');
            cboCustomer = new wijmo.input.ComboBox('#StatementOfTheAccount_Customer');
            getCompanies();
            getCustomers();

            document.getElementById('accountReceivableReport_DateAsOf_data').value = new Date().toLocaleDateString();
            document.getElementById('accountReceivableSummaryReport_DateAsOf_data').value = new Date().toLocaleDateString();
            document.getElementById('StatementOfTheAccount_DateAsOf_data').value = new Date().toLocaleDateString();

            // Accounts Receivable Date As Of
            accountsReceivableDateAsOf = new wijmo.input.InputDate('#accountReceivableReport_DateAsOf', {
                format: 'MM/dd/yyyy',
                value: new Date(),
                mask: '99/99/9999',
                onValueChanged: function () {
                    document.getElementById('accountReceivableReport_DateAsOf_data').value = this.value.toLocaleDateString();
                }
            });

            // Accounts Receivable Summary Date As Of
            accountsReceivableSummaryDateAsOf = new wijmo.input.InputDate('#accountReceivableSummaryReport_DateAsOf', {
                format: 'MM/dd/yyyy',
                value: new Date(),
                mask: '99/99/9999',
                onValueChanged: function () {
                    document.getElementById('accountReceivableSummaryReport_DateAsOf_data').value = this.value.toLocaleDateString();
                }
            });

            // Statement Of The Account Date As Of
            StatementOfTheAccountDateAsOf = new wijmo.input.InputDate('#StatementOfTheAccount_DateAsOf', {
                format: 'MM/dd/yyyy',
                value: new Date(),
                mask: '99/99/9999',
                onValueChanged: function () {
                    document.getElementById('StatementOfTheAccount_DateAsOf_data').value = this.value.toLocaleDateString();
                }
            });

        });

    </script>
</body>
</html>