<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Title of the Page -->
    <link rel="shortcut icon" href="~/Images/icon/easyfislogomini.ico">
    <title>Accounts Payable</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Content/Software-css")
</head>
<body class="">

    <div id="o-wrapper" class="o-wrapper">
        <main class="o-content">
            @Html.Partial("_SoftwareHeader")
            <section class="content-header">
                <div class="container">
                    <h3>
                        Accounts Payable  <br />  <small>@ViewData["Company"] &nbsp; | &nbsp; @ViewData["Branch"]</small>
                    </h3>
                </div>
            </section>
            <section class="container">
                <div class="row">
                    <div class="col-md-5">
                        <ul class="nav nav-pills nav-stacked pill-custom pill-report-custom" role="tablist" id="myTab">
                            <li class="active"><a data-toggle="pill" href="#AP">Accounts Payable</a></li>
                            <li class="reportDivider"><a data-toggle="pill" href="#APV">Accounts Payable Voucher</a></li>
                            <li><a data-toggle="pill" href="#IVR">Input VAT Report</a></li>
                            <li class="reportDivider"><a data-toggle="pill" href="#WTR">Withholding Tax Report</a></li>
                            <li><a data-toggle="pill" href="#PSR">Purchase Summary Report</a></li>
                            <li><a data-toggle="pill" href="#PDR">Purchase Detail  Report</a></li>
                            <li><a data-toggle="pill" href="#RRSR">Receiving Receipt Summary Report</a></li>
                            <li><a data-toggle="pill" href="#RRDR">Receiving Receipt Detail Report</a></li>
                            <li><a data-toggle="pill" href="#DSR">Disbursement Summary Report</a></li>
                            <li><a data-toggle="pill" href="#DDR">Disbursement Detail Report</a></li>
                        </ul>
                    </div>
                    <div class="col-md-7">
                        <div class="tab-content">
                            <div id="AP" class="tab-pane fade in active">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div align="right">
                                            <button onclick="AccountsPayableView_OnClick()" class="btn btn-primary "><i class="fa fa-table"></i> View</button>
                                            <button onclick="AccountsPayablePDF_OnClick()" class="btn btn-primary "><i class="fa fa-print"></i> Print</button>
                                            <a href="@Url.Action("Index", "Software")" class="btn btn-danger " id=""><i class="fa fa-times"></i> Close</a>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="">
                                            <form class="form-horizontal" role="form">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">Date as of</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="accountsPaybleReport_DateAsOf"></div>
                                                                <input type="hidden" id="accountsPaybleReport_DateAsOf_data" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">Company</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="accountsPaybleReport_Comapny"></div>

                                                                <input type="hidden" id="accountsPaybleReport_Comapny_data" />
                                                                <input type="hidden" id="accountsPaybleReport_Comapny_selectedValue" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="APV" class="tab-pane fade">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div align="right">
                                            <button onclick="AccountsPayableVoucherPDF_OnClick()" class="btn btn-primary "><i class="fa fa-print"></i> Print</button>
                                            <a href="@Url.Action("Index", "Software")" class="btn btn-danger " id=""><i class="fa fa-times"></i> Close</a>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="">
                                            <form class="form-horizontal" role="form">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">RR No.</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="accountsPayableVoucher_RRNo"></div>

                                                                <input type="hidden" id="accountsPayableVoucher_RRNo_data" />
                                                                <input type="hidden" id="accountsPayableVoucher_RRNo_selectedValue" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="IVR" class="tab-pane fade">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div align="right">
                                            <button onclick="AccountsPayableInputVATReportPDF_OnClick()" class="btn btn-primary "><i class="fa fa-print"></i> Print</button>
                                            <a href="@Url.Action("Index", "Software")" class="btn btn-danger " id=""><i class="fa fa-times"></i> Close</a>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="">
                                            <form class="form-horizontal" role="form">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">Start Date</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="InputVATReport_StartDate"></div>
                                                                <input type="hidden" id="InputVATReport_StartDate_data" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">End Date</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="InputVATReport_EndDate"></div>
                                                                <input type="hidden" id="InputVATReport_EndDate_data" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="WTR" class="tab-pane fade">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div align="right">
                                            <button onclick="AccountsPayableWithHoldingTaxReportPDF_OnClick()" class="btn btn-primary "><i class="fa fa-print"></i> Print</button>
                                            <a href="@Url.Action("Index", "Software")" class="btn btn-danger " id=""><i class="fa fa-times"></i> Close</a>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="">
                                            <form class="form-horizontal" role="form">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">Start Date</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="withHoldingTAXReport_StartDate"></div>
                                                                <input type="hidden" id="withHoldingTAXReport_StartDate_data" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">End Date</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="withHoldingTAXReport_EndDate"></div>
                                                                <input type="hidden" id="withHoldingTAXReport_EndDate_data" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="PSR" class="tab-pane fade">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div align="right">
                                            <button onclick="purchaseSummaryReportView_OnClick()" class="btn btn-primary "><i class="fa fa-table"></i> View</button>
                                            <button onclick="purchaseSummaryReportPDF_OnClick()" class="btn btn-primary "><i class="fa fa-print"></i> Print</button>
                                            <a href="@Url.Action("Index", "Software")" class="btn btn-danger " id=""><i class="fa fa-times"></i> Close</a>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="">
                                            <form class="form-horizontal" role="form">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">Start Date</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="purchaseSummaryReport_StartDate"></div>
                                                                <input type="hidden" id="purchaseSummaryReport_StartDate_data" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">End Date</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="purchaseSummaryReport_EndDate"></div>
                                                                <input type="hidden" id="purchaseSummaryReport_EndDate_data" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="PDR" class="tab-pane fade">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div align="right">
                                            <button onclick="purchaseDetailReportView_OnClick()" class="btn btn-primary "><i class="fa fa-table"></i> View</button>
                                            <button onclick="purchaseDetailReportPDF_OnClick()" class="btn btn-primary "><i class="fa fa-print"></i> Print</button>
                                            <a href="@Url.Action("Index", "Software")" class="btn btn-danger " id=""><i class="fa fa-times"></i> Close</a>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="">
                                            <form class="form-horizontal" role="form">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">Start Date</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="purchaseDetailReport_StartDate"></div>
                                                                <input type="hidden" id="purchaseDetailReport_StartDate_data" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">End Date</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="purchaseDetailReport_EndDate"></div>
                                                                <input type="hidden" id="purchaseDetailReport_EndDate_data" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="RRSR" class="tab-pane fade">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div align="right">
                                            <button onclick="receivingReceiptSummaryReportView_OnClick()" class="btn btn-primary "><i class="fa fa-table"></i> View</button>
                                            <button onclick="receivingReceiptSummaryReportPDF_OnClick()" class="btn btn-primary "><i class="fa fa-print"></i> Print</button>
                                            <a href="@Url.Action("Index", "Software")" class="btn btn-danger " id=""><i class="fa fa-times"></i> Close</a>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="">
                                            <form class="form-horizontal" role="form">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">Start Date</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="receivingReceiptSummaryReport_StartDate"></div>
                                                                <input type="hidden" id="receivingReceiptSummaryReport_StartDate_data" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">End Date</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="receivingReceiptSummaryReport_EndDate"></div>
                                                                <input type="hidden" id="receivingReceiptSummaryReport_EndDate_data" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="RRDR" class="tab-pane fade">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div align="right">
                                            <button onclick="receivingReceiptDetailReportView_OnClick()" class="btn btn-primary "><i class="fa fa-table"></i> View</button>
                                            <button onclick="receivingReceiptDetailReportPDF_OnClick()" class="btn btn-primary "><i class="fa fa-print"></i> Print</button>
                                            <a href="@Url.Action("Index", "Software")" class="btn btn-danger " id=""><i class="fa fa-times"></i> Close</a>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="">
                                            <form class="form-horizontal" role="form">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">Start Date</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="receivingReceiptDetailReport_StartDate"></div>
                                                                <input type="hidden" id="receivingReceiptDetailReport_StartDate_data" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">End Date</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="receivingReceiptDetailReport_EndDate"></div>
                                                                <input type="hidden" id="receivingReceiptDetailReport_EndDate_data" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="DSR" class="tab-pane fade">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div align="right">
                                            <button onclick="disbursementSummaryReportView_OnClick()" class="btn btn-primary "><i class="fa fa-table"></i> View</button>
                                            <button onclick="disbursementSummaryReportPDF_OnClick()" class="btn btn-primary "><i class="fa fa-print"></i> Print</button>
                                            <a href="@Url.Action("Index", "Software")" class="btn btn-danger " id=""><i class="fa fa-times"></i> Close</a>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="">
                                            <form class="form-horizontal" role="form">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">Start Date</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="disbursementSummaryReport_StartDate"></div>
                                                                <input type="hidden" id="disbursementSummaryReport_StartDate_data" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">End Date</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="disbursementSummaryReport_EndDate"></div>
                                                                <input type="hidden" id="disbursementSummaryReport_EndDate_data" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="DDR" class="tab-pane fade">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div align="right">
                                            <button onclick="disbursementDetailReportView_OnClick()" class="btn btn-primary "><i class="fa fa-table"></i> View</button>
                                            <button onclick="disbursementDetailReportPDF_OnClick()" class="btn btn-primary "><i class="fa fa-print"></i> Print</button>
                                            <a href="@Url.Action("Index", "Software")" class="btn btn-danger " id=""><i class="fa fa-times"></i> Close</a>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="">
                                            <form class="form-horizontal" role="form">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">Start Date</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="disbursementDetailReport_StartDate"></div>
                                                                <input type="hidden" id="disbursementDetailReport_StartDate_data" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">End Date</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="disbursementDetailReport_EndDate"></div>
                                                                <input type="hidden" id="disbursementDetailReport_EndDate_data" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            @Html.Partial("_SoftwareFooter")
        </main>
    </div>

    <div id="c-mask" class="c-mask"></div><!-- /c-mask -->
    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        // ================
        // Global Variables
        // ================
        var accountsPayableReportDateAsOf;
        var companies;
        var cboCompany;
        var accounts;
        var cboAccounts;
        var suppliers;
        var cboSuppliers;
        var RRNos;
        var cboRRNo;
        var InputVATReportStartDate;
        var InputVATReportEndDate;
        var withHoldingTAXReportStartDate;
        var withHoldingTAXReportEndDate;
        var certificateOfCreditableTaxWithheldStartDate;
        var certificateOfCreditableTaxWithheldEndDate;
        var purchaseSummaryReportStartDate;
        var purchaseSummaryReportEndDate;
        var purchaseDetailReportStartDate;
        var purchaseDetailReportEndDate;
        var receivingReceiptSummaryReportStartDate;
        var receivingReceiptSummaryReportEndDate;
        var receivingReceiptDetailReportStartDate;
        var receivingReceiptDetailReportEndDate;
        var disbursementSummaryReportStartDate;
        var disbursementSummaryReportEndDate;
        var disbursementDetailReportStartDate;
        var disbursementDetailReportEndDate;

        // ===========
        // Get company
        // ===========
        function getCompanies() {
            companies = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/listCompany',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (results) {
                    if (results.length > 0) {
                        for (i = 0; i < results.length; i++) {
                            companies.push({
                                Id: results[i]["Id"],
                                Company: results[i]["Company"],
                                Address: results[i]["Address"],
                                ContactNumber: results[i]["ContactNumber"],
                                TaxNumber: results[i]["TaxNumber"],
                            });
                        }
                        createCboComapny(companies);
                    }
                }
            });
            return companies;
        }

        // ===================
        // Company - Combo Box
        // ===================
        function createCboComapny(companies) {
            var companyCollection = new wijmo.collections.CollectionView(companies);
            var companyList = new Array();
            for (var i = 0; i < companyCollection.items.length; i++) {
                companyList.push(companyCollection.items[i].Company);
            }

            cboCompany.dispose();
            cboCompany = new wijmo.input.ComboBox('#accountsPaybleReport_Comapny', {
                placeholder: "Select Company",
                itemsSource: companyList,
                isEditable: false,
                required: false,
                selectedValue: document.getElementById('accountsPaybleReport_Comapny_selectedValue').value.toString(),
                onSelectedIndexChanged: function () {
                    $("#accountsPaybleReport_Comapny_data").val(companyCollection.items[this.selectedIndex].Id);
                }
            });
        }

        // ======
        // Get RR
        // ======
        function getRRs() {
            RRNos = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/listReceivingReceipt',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (Results) {
                    if (Results.length > 0) {
                        for (i = 0; i < Results.length; i++) {
                            RRNos.push({
                                Id: Results[i]["Id"],
                                BranchId: Results[i]["BranchId"],
                                Branch: Results[i]["Branch"],
                                RRNumber: Results[i]["RRNumber"],
                                RRDate: Results[i]["RRDate"],
                                SupplierId: Results[i]["SupplierId"],
                                Supplier: Results[i]["Supplier"],
                                TermId: Results[i]["TermId"],
                                Term: Results[i]["Term"],
                                DocumentReference: Results[i]["DocumentReference"],
                                ManualRRNumber: Results[i]["ManualRRNumber"],
                                Remarks: Results[i]["Remarks"],
                                Amount: Results[i]["Amount"],
                                WTaxAmount: Results[i]["WTaxAmount"],
                                PaidAmount: Results[i]["PaidAmount"],
                                AdjustmentAmount: Results[i]["AdjustmentAmount"],
                                BalanceAmount: Results[i]["BalanceAmount"],
                                ReceivedById: Results[i]["ReceivedById"],
                                ReceivedBy: Results[i]["ReceivedBy"],
                                PreparedById: Results[i]["PreparedById"],
                                PreparedBy: Results[i]["PreparedBy"],
                                CheckedById: Results[i]["CheckedById"],
                                CheckedBy: Results[i]["CheckedBy"],
                                ApprovedById: Results[i]["ApprovedById"],
                                ApprovedBy: Results[i]["ApprovedBy"],
                                IsLocked: Results[i]["IsLocked"],
                                CreatedById: Results[i]["CreatedById"],
                                CreatedBy: Results[i]["CreatedBy"],
                                CreatedDateTime: Results[i]["CreatedDateTime"],
                                UpdatedById: Results[i]["UpdatedById"],
                                UpdatedBy: Results[i]["UpdatedBy"],
                                UpdatedDateTime: Results[i]["UpdatedDateTime"]
                            });
                        }
                        createCboRRNo(RRNos);
                    }
                }
            });
            return RRNos;
        }

        // =================
        // RR No - Combo Box
        // =================
        function createCboRRNo(RRNos) {
            var rrNoCollection = new wijmo.collections.CollectionView(RRNos);
            var rrNoList = new Array();
            for (var i = 0; i < rrNoCollection.items.length; i++) {
                rrNoList.push(rrNoCollection.items[i].RRNumber);
            }

            cboRRNo.dispose();
            cboRRNo = new wijmo.input.ComboBox('#accountsPayableVoucher_RRNo', {
                placeholder: "Select RR No",
                itemsSource: rrNoList,
                isEditable: false,
                required: false,
                selectedValue: document.getElementById('accountsPayableVoucher_RRNo_selectedValue').value.toString(),
                onSelectedIndexChanged: function () {
                    $("#accountsPayableVoucher_RRNo_data").val(rrNoCollection.items[this.selectedIndex].Id);
                }
            });
        }

        // Print Accounts payable voucher pdf
        function AccountsPayableVoucherPDF_OnClick() {
            if (document.getElementById('accountsPayableVoucher_RRNo_data').value == '') {
                document.getElementById("accountsPayableVoucher_RRNo").style.border = "1px solid red";

                toastr.error("Invalid Entry");
            } else {
                document.getElementById("accountsPayableVoucher_RRNo").style.border = "1px solid #C8C8C8";

                var accountsPaybleVoucherReportData = document.getElementById('accountsPayableVoucher_RRNo_data').value;
                window.location.href = '/RepAccountsPayableVoucher/AccountsPayableVoucher?ReceivingReceiptId=' + accountsPaybleVoucherReportData;
            }
        }


        // get Input VAT Report Start Date
        function getInputVATReportStartDate() {
            InputVATReportStartDate.dispose();
            InputVATReportStartDate = new wijmo.input.InputDate('#InputVATReport_StartDate', {
                format: 'MM-dd-yyyy',
                value: new Date(document.getElementById('InputVATReport_StartDate_data').value),
                mask: '99-99-9999',
                max: new Date(document.getElementById('InputVATReport_EndDate_data').value),
                onValueChanged: function () {
                    var thisDateValue = this.value;
                    document.getElementById('InputVATReport_StartDate_data').value = thisDateValue;

                    console.log(thisDateValue);

                    setTimeout(function () {
                        getInputVATReportEndDate();
                    }, 50);
                }
            });
        }

        // get Input VAT Report End Date
        function getInputVATReportEndDate() {
            InputVATReportEndDate.dispose();
            InputVATReportEndDate = new wijmo.input.InputDate('#InputVATReport_EndDate', {
                format: 'MM-dd-yyyy',
                value: new Date(document.getElementById('InputVATReport_EndDate_data').value),
                mask: '99-99-9999',
                min: new Date(document.getElementById('InputVATReport_StartDate_data').value),
                onValueChanged: function () {
                    var thisDateValue = this.value;
                    document.getElementById('InputVATReport_EndDate_data').value = thisDateValue;

                    setTimeout(function () {
                        getInputVATReportStartDate();
                    }, 50);
                }
            });
        }

        // Input VAT report on click
        function AccountsPayableInputVATReportPDF_OnClick() {
            var InputVATReportStartDate = document.getElementById('InputVATReport_StartDate_data').value;
            var InputVATReportEndDate = document.getElementById('InputVATReport_EndDate_data').value;

            window.location.href = '/RepInputVATReport/InputVATReport?StartDate=' + convertDateToShortDateString(InputVATReportStartDate) + '&EndDate=' + convertDateToShortDateString(InputVATReportEndDate);
        }

        // get WithHolding TAX Report Start Date
        function getWithHoldingTAXReportStartDate() {
            withHoldingTAXReportStartDate.dispose();
            withHoldingTAXReportStartDate = new wijmo.input.InputDate('#withHoldingTAXReport_StartDate', {
                format: 'MM-dd-yyyy',
                value: new Date(document.getElementById('withHoldingTAXReport_StartDate_data').value),
                mask: '99-99-9999',
                max: new Date(document.getElementById('withHoldingTAXReport_EndDate_data').value),
                onValueChanged: function () {
                    var thisDateValue = this.value;
                    document.getElementById('withHoldingTAXReport_StartDate_data').value = thisDateValue;
                    setTimeout(function () {
                        getWithHoldingTAXReportEndDate();
                    }, 50);
                }
            });
        }

        // get WithHolding TAX Report End Date
        function getWithHoldingTAXReportEndDate() {
            withHoldingTAXReportEndDate.dispose();
            withHoldingTAXReportEndDate = new wijmo.input.InputDate('#withHoldingTAXReport_EndDate', {
                format: 'MM-dd-yyyy',
                value: new Date(document.getElementById('withHoldingTAXReport_EndDate_data').value),
                mask: '99-99-9999',
                min: new Date(document.getElementById('withHoldingTAXReport_StartDate_data').value),
                onValueChanged: function () {
                    var thisDateValue = this.value;
                    document.getElementById('withHoldingTAXReport_EndDate_data').value = thisDateValue;
                    setTimeout(function () {
                        getWithHoldingTAXReportStartDate();
                    }, 50);
                }
            });
        }


        // withholding tax report on click
        function AccountsPayableWithHoldingTaxReportPDF_OnClick() {
            var WithHoldingTaxStartDate = document.getElementById('withHoldingTAXReport_StartDate_data').value;
            var WithHoldingTaxReportEndDate = document.getElementById('withHoldingTAXReport_EndDate_data').value;

            window.location.href = '/RepWithholdingTaxReport/WithholdingTaxReport?StartDate=' + convertDateToShortDateString(WithHoldingTaxStartDate) + '&EndDate=' + convertDateToShortDateString(WithHoldingTaxReportEndDate);
        }

        function AccountsPayablePDF_OnClick() {
            var accountsPaybleReportDateAsOf = document.getElementById('accountsPaybleReport_DateAsOf_data').value;

            var companyId;
            if (document.getElementById('accountsPaybleReport_Comapny_data').value == "") {
                companyId = 0;
                document.getElementById('accountsPaybleReport_Comapny').style.border = "1px solid red";
                toastr.error("Lacking Information");
            } else {
                companyId = document.getElementById('accountsPaybleReport_Comapny_data').value;
                document.getElementById('accountsPaybleReport_Comapny').style.border = " ";
                window.location.href = '/RepAccountsPayable/AccountsPayable?DateAsOf=' + convertDateToShortDateString(accountsPaybleReportDateAsOf) + '&CompanyId=' + companyId;
            }
        }

        function AccountsPayableView_OnClick() {
            var accountsPaybleReportDateAsOf = document.getElementById('accountsPaybleReport_DateAsOf_data').value;

            var companyId;
            if (document.getElementById('accountsPaybleReport_Comapny_data').value == "") {
                companyId = 0;
                document.getElementById('accountsPaybleReport_Comapny').style.border = "1px solid red";
                toastr.error("Lacking Information");
            } else {
                companyId = document.getElementById('accountsPaybleReport_Comapny_data').value;
                document.getElementById('accountsPaybleReport_Comapny').style.border = " ";
                window.location.href = '/Software/AccountsPayableReport?DateAsOf=' + convertDateToShortDateString(accountsPaybleReportDateAsOf) + '&CompanyId=' + companyId;
            }
        }

        // get Purchase Summary Report Start Date
        function getPurchaseSummaryReportStartDate() {
            purchaseSummaryReportStartDate.dispose();
            purchaseSummaryReportStartDate = new wijmo.input.InputDate('#purchaseSummaryReport_StartDate', {
                format: 'MM-dd-yyyy',
                value: new Date(document.getElementById('purchaseSummaryReport_StartDate_data').value),
                mask: '99-99-9999',
                max: new Date(document.getElementById('purchaseSummaryReport_EndDate_data').value),
                onValueChanged: function () {
                    var thisDateValue = this.value;
                    document.getElementById('purchaseSummaryReport_StartDate_data').value = thisDateValue;
                    setTimeout(function () {
                        getPurchaseSummaryReportEndDate();
                    }, 50);
                }
            });
        }

        // get Purchase Summary Report End Date
        function getPurchaseSummaryReportEndDate() {
            purchaseSummaryReportEndDate.dispose();
            purchaseSummaryReportEndDate = new wijmo.input.InputDate('#purchaseSummaryReport_EndDate', {
                format: 'MM-dd-yyyy',
                value: new Date(document.getElementById('purchaseSummaryReport_EndDate_data').value),
                mask: '99-99-9999',
                min: new Date(document.getElementById('purchaseSummaryReport_StartDate_data').value),
                onValueChanged: function () {
                    var thisDateValue = this.value;
                    document.getElementById('purchaseSummaryReport_EndDate_data').value = thisDateValue;
                    setTimeout(function () {
                        getPurchaseSummaryReportStartDate();
                    }, 50);
                }
            });
        }

        // Purchase Summary report on click
        function purchaseSummaryReportPDF_OnClick() {
            var purchaseSummaryReportStartDate = document.getElementById('purchaseSummaryReport_StartDate_data').value;
            var purchaseSummaryReportEndDate = document.getElementById('purchaseSummaryReport_EndDate_data').value;

            window.location.href = '/RepPurchaseSummaryReport/PurchaseSummaryReport?StartDate=' + convertDateToShortDateString(purchaseSummaryReportStartDate) + '&EndDate=' + convertDateToShortDateString(purchaseSummaryReportEndDate);
        }

        // Purchase Summary report on click
        function purchaseSummaryReportView_OnClick() {
            var purchaseSummaryReportStartDate = document.getElementById('purchaseSummaryReport_StartDate_data').value;
            var purchaseSummaryReportEndDate = document.getElementById('purchaseSummaryReport_EndDate_data').value;

            window.location.href = '/Software/PurchaseSummaryReport?StartDate=' + convertDateToShortDateString(purchaseSummaryReportStartDate) + '&EndDate=' + convertDateToShortDateString(purchaseSummaryReportEndDate);
        }

        // get Purchase Detail Report Start Date
        function getPurchaseDetailReportStartDate() {
            purchaseDetailReportStartDate.dispose();
            purchaseDetailReportStartDate = new wijmo.input.InputDate('#purchaseDetailReport_StartDate', {
                format: 'MM-dd-yyyy',
                value: new Date(document.getElementById('purchaseDetailReport_StartDate_data').value),
                mask: '99-99-9999',
                max: new Date(document.getElementById('purchaseDetailReport_EndDate_data').value),
                onValueChanged: function () {
                    var thisDateValue = this.value;
                    document.getElementById('purchaseDetailReport_StartDate_data').value = thisDateValue;
                    setTimeout(function () {
                        getPurchaseDetailReportEndDate();
                    }, 50);
                }
            });
        }

        // get Purchase Detail Report End Date
        function getPurchaseDetailReportEndDate() {
            purchaseDetailReportEndDate.dispose();
            purchaseDetailReportEndDate = new wijmo.input.InputDate('#purchaseDetailReport_EndDate', {
                format: 'MM-dd-yyyy',
                value: new Date(document.getElementById('purchaseDetailReport_EndDate_data').value),
                mask: '99-99-9999',
                min: new Date(document.getElementById('purchaseDetailReport_StartDate_data').value),
                onValueChanged: function () {
                    var thisDateValue = this.value;
                    document.getElementById('purchaseDetailReport_EndDate_data').value = thisDateValue;
                    setTimeout(function () {
                        getPurchaseDetailReportStartDate();
                    }, 50);
                }
            });
        }

        // Purchase Detail report on click
        function purchaseDetailReportPDF_OnClick() {
            var purchaseDetailReportStartDate = document.getElementById('purchaseDetailReport_StartDate_data').value;
            var purchaseDetailReportEndDate = document.getElementById('purchaseDetailReport_EndDate_data').value;

            window.location.href = '/RepPurchaseDetailReport/PurchaseDetailReport?StartDate=' + convertDateToShortDateString(purchaseDetailReportStartDate) + '&EndDate=' + convertDateToShortDateString(purchaseDetailReportEndDate);
        }

        // Purchase Detail report on click
        function purchaseDetailReportView_OnClick() {
            var purchaseDetailReportStartDate = document.getElementById('purchaseDetailReport_StartDate_data').value;
            var purchaseDetailReportEndDate = document.getElementById('purchaseDetailReport_EndDate_data').value;

            window.location.href = '/Software/PurchaseDetailReport?StartDate=' + convertDateToShortDateString(purchaseDetailReportStartDate) + '&EndDate=' + convertDateToShortDateString(purchaseDetailReportEndDate);

        }

        // get Receiving Receipt Summary Report Start Date
        function getReceivingReceiptSummaryReportStartDate() {
            receivingReceiptSummaryReportStartDate.dispose();
            receivingReceiptSummaryReportStartDate = new wijmo.input.InputDate('#receivingReceiptSummaryReport_StartDate', {
                format: 'MM-dd-yyyy',
                value: new Date(document.getElementById('receivingReceiptSummaryReport_StartDate_data').value),
                mask: '99-99-9999',
                max: new Date(document.getElementById('receivingReceiptSummaryReport_EndDate_data').value),
                onValueChanged: function () {
                    var thisDateValue = this.value;
                    document.getElementById('receivingReceiptSummaryReport_StartDate_data').value = thisDateValue;
                    setTimeout(function () {
                        getReceivingReceiptSummaryReportEndDate();
                    }, 50);
                }
            });
        }

        // get Receiving Receipt Summary Report End Date
        function getReceivingReceiptSummaryReportEndDate() {
            receivingReceiptSummaryReportEndDate.dispose();
            receivingReceiptSummaryReportEndDate = new wijmo.input.InputDate('#receivingReceiptSummaryReport_EndDate', {
                format: 'MM-dd-yyyy',
                value: new Date(document.getElementById('receivingReceiptSummaryReport_EndDate_data').value),
                mask: '99-99-999',
                min: new Date(document.getElementById('receivingReceiptSummaryReport_StartDate_data').value),
                onValueChanged: function () {
                    var thisDateValue = this.value;
                    document.getElementById('receivingReceiptSummaryReport_EndDate_data').value = thisDateValue;
                    setTimeout(function () {
                        getReceivingReceiptSummaryReportStartDate();
                    }, 50);
                }
            });
        }

        // Receiving Receipt Summary report on click
        function receivingReceiptSummaryReportPDF_OnClick() {
            var receivingReceiptSummaryReportStartDate = document.getElementById('receivingReceiptSummaryReport_StartDate_data').value;
            var receivingReceiptSummaryReportEndDate = document.getElementById('receivingReceiptSummaryReport_EndDate_data').value;

            window.location.href = '/RepReceivingReceiptSummaryReport/ReceivingReceiptSummaryReport?StartDate=' + convertDateToShortDateString(receivingReceiptSummaryReportStartDate) + '&EndDate=' + convertDateToShortDateString(receivingReceiptSummaryReportEndDate);
        }
        // Receiving Receipt Summary report on click
        function receivingReceiptSummaryReportView_OnClick() {
            var receivingReceiptSummaryReport_StartDate_data = document.getElementById('receivingReceiptSummaryReport_StartDate_data').value;
            var receivingReceiptSummaryReport_EndDate_data = document.getElementById('receivingReceiptSummaryReport_EndDate_data').value;

            window.location.href = '/Software/ReceivingReceiptSummaryReport?StartDate=' + convertDateToShortDateString(receivingReceiptSummaryReport_StartDate_data) + '&EndDate=' + convertDateToShortDateString(receivingReceiptSummaryReport_EndDate_data);
        }

        // get Receiving Receipt Detail Report Start Date
        function getReceivingReceiptDetailReportStartDate() {
            receivingReceiptDetailReportStartDate.dispose();
            receivingReceiptDetailReportStartDate = new wijmo.input.InputDate('#receivingReceiptDetailReport_StartDate', {
                format: 'MM-dd-yyyy',
                value: new Date(document.getElementById('receivingReceiptDetailReport_StartDate_data').value),
                mask: '99-99-9999',
                max: new Date(document.getElementById('receivingReceiptDetailReport_EndDate_data').value),
                onValueChanged: function () {
                    var thisDateValue = this.value;
                    document.getElementById('receivingReceiptDetailReport_StartDate_data').value = thisDateValue;
                    setTimeout(function () {
                        getReceivingReceiptDetailReportEndDate();
                    }, 50);
                }
            });
        }

        // get Receiving Receipt Detail Report End Date
        function getReceivingReceiptDetailReportEndDate() {
            receivingReceiptDetailReportEndDate.dispose();
            receivingReceiptDetailReportEndDate = new wijmo.input.InputDate('#receivingReceiptDetailReport_EndDate', {
                format: 'MM-dd-yyyy',
                value: new Date(document.getElementById('receivingReceiptDetailReport_EndDate_data').value),
                mask: '99-99-9999',
                min: new Date(document.getElementById('receivingReceiptDetailReport_StartDate_data').value),
                onValueChanged: function () {
                    var thisDateValue = this.value;
                    document.getElementById('receivingReceiptDetailReport_EndDate_data').value = thisDateValue;
                    setTimeout(function () {
                        getReceivingReceiptDetailReportStartDate();
                    }, 50);
                }
            });
        }

        // Receiving Receipt Detail report on click
        function receivingReceiptDetailReportPDF_OnClick() {
            var receivingReceiptDetailReportStartDate = document.getElementById('receivingReceiptDetailReport_StartDate_data').value;
            var receivingReceiptDetailReportEndDate = document.getElementById('receivingReceiptDetailReport_EndDate_data').value;

            window.location.href = '/RepReceivingReceiptDetailReport/ReceivingReceiptDetailReport?StartDate=' + convertDateToShortDateString(receivingReceiptDetailReportStartDate) + '&EndDate=' + convertDateToShortDateString(receivingReceiptDetailReportEndDate);
        }

        // Receiving Receipt Detail report on click
        function receivingReceiptDetailReportView_OnClick() {
            var receivingReceiptDetailReport_StartDate_data = document.getElementById('receivingReceiptDetailReport_StartDate_data').value;
            var receivingReceiptDetailReport_EndDate_data = document.getElementById('receivingReceiptDetailReport_EndDate_data').value;

            window.location.href = '/Software/ReceivingReceiptDetailReport?StartDate=' + convertDateToShortDateString(receivingReceiptDetailReport_StartDate_data) + '&EndDate=' + convertDateToShortDateString(receivingReceiptDetailReport_EndDate_data);
        }

        // get Disbursement Summary Report Start Date
        function getDisbursementSummaryReportStartDate() {
            disbursementSummaryReportStartDate.dispose();
            disbursementSummaryReportStartDate = new wijmo.input.InputDate('#disbursementSummaryReport_StartDate', {
                format: 'MM-dd-yyyy',
                value: new Date(document.getElementById('disbursementSummaryReport_StartDate_data').value),
                mask: '99-99-9999',
                max: new Date(document.getElementById('disbursementSummaryReport_EndDate_data').value),
                onValueChanged: function () {
                    var thisDateValue = this.value;
                    document.getElementById('disbursementSummaryReport_StartDate_data').value = thisDateValue;
                    setTimeout(function () {
                        getDisbursementSummaryReportEndDate();
                    }, 50);
                }
            });
        }

        // get Disbursement Summary Report End Date
        function getDisbursementSummaryReportEndDate() {
            disbursementSummaryReportEndDate.dispose();
            disbursementSummaryReportEndDate = new wijmo.input.InputDate('#disbursementSummaryReport_EndDate', {
                format: 'MM-dd-yyyy',
                value: new Date(document.getElementById('disbursementSummaryReport_EndDate_data').value),
                mask: '99-99-9999',
                min: new Date(document.getElementById('disbursementSummaryReport_StartDate_data').value),
                onValueChanged: function () {
                    var thisDateValue = this.value;
                    document.getElementById('disbursementSummaryReport_EndDate_data').value = thisDateValue;
                    setTimeout(function () {
                        getDisbursementSummaryReportStartDate();
                    }, 50);
                }
            });
        }

        // Disbursement Summary report on click
        function disbursementSummaryReportPDF_OnClick() {
            var disbursementSummaryReportStartDate = document.getElementById('disbursementSummaryReport_StartDate_data').value;
            var disbursementSummaryReportEndDate = document.getElementById('disbursementSummaryReport_EndDate_data').value;

            window.location.href = '/RepDisbursementSummaryReport/DisbursementSummaryReport?StartDate=' + convertDateToShortDateString(disbursementSummaryReportStartDate) + '&EndDate=' + convertDateToShortDateString(disbursementSummaryReportEndDate);
        }

        // Disbursement Summary report on click
        function disbursementSummaryReportView_OnClick() {
            var disbursementSummaryReport_StartDate_data = document.getElementById('disbursementSummaryReport_StartDate_data').value;
            var disbursementSummaryReport_EndDate_data = document.getElementById('disbursementSummaryReport_EndDate_data').value;

            window.location.href = '/Software/DisbursementSummaryReport?StartDate=' + convertDateToShortDateString(disbursementSummaryReport_StartDate_data) + '&EndDate=' + convertDateToShortDateString(disbursementSummaryReport_EndDate_data);
        }

        // get Disbursement Detail Report Start Date
        function getDisbursementDetailReportStartDate() {
            disbursementDetailReportStartDate.dispose();
            disbursementDetailReportStartDate = new wijmo.input.InputDate('#disbursementDetailReport_StartDate', {
                format: 'MM-dd-yyyy',
                value: new Date(document.getElementById('disbursementDetailReport_StartDate_data').value),
                mask: '99-99-9999',
                max: new Date(document.getElementById('disbursementDetailReport_EndDate_data').value),
                onValueChanged: function () {
                    var thisDateValue = this.value;
                    document.getElementById('disbursementDetailReport_StartDate_data').value = thisDateValue;
                    setTimeout(function () {
                        getDisbursementDetailReportEndDate();
                    }, 50);
                }
            });
        }

        // get Disbursement Detail Report End Date
        function getDisbursementDetailReportEndDate() {
            disbursementDetailReportEndDate.dispose();
            disbursementDetailReportEndDate = new wijmo.input.InputDate('#disbursementDetailReport_EndDate', {
                format: 'MM-dd-yyyy',
                value: new Date(document.getElementById('disbursementDetailReport_EndDate_data').value),
                mask: '99-99-9999',
                min: new Date(document.getElementById('disbursementDetailReport_StartDate_data').value),
                onValueChanged: function () {
                    var thisDateValue = this.value;
                    document.getElementById('disbursementDetailReport_EndDate_data').value = thisDateValue;
                    setTimeout(function () {
                        getDisbursementDetailReportStartDate();
                    }, 50);
                }
            });
        }

        // Disbursement Detail report on click
        function disbursementDetailReportPDF_OnClick() {
            var disbursementDetailReportStartDate = document.getElementById('disbursementDetailReport_StartDate_data').value;
            var disbursementDetailReportEndDate = document.getElementById('disbursementDetailReport_EndDate_data').value;

            window.location.href = '/RepDisbursementDetailReport/DisbursementDetailReport?StartDate=' + convertDateToShortDateString(disbursementDetailReportStartDate) + '&EndDate=' + convertDateToShortDateString(disbursementDetailReportEndDate);
        }

        // Disbursement Detail report on click
        function disbursementDetailReportView_OnClick() {
            var disbursementDetailReport_StartDate_data = document.getElementById('disbursementDetailReport_StartDate_data').value;
            var disbursementDetailReport_EndDate_data = document.getElementById('disbursementDetailReport_EndDate_data').value;

            window.location.href = '/Software/DisbursementDetailReport?StartDate=' + convertDateToShortDateString(disbursementDetailReport_StartDate_data) + '&EndDate=' + convertDateToShortDateString(disbursementDetailReport_EndDate_data);
        }

        function convertDateToShortDateString(theDate) {
            var theDate = new Date(theDate);
            return [theDate.getFullYear(), theDate.getMonth() + 1, theDate.getDate()].join('-');
        }

        // ===========
        // OnLoad Page
        // ===========
        $(document).ready(function () {
            var newDate = new Date();
            var defaultDate = newDate;

            // Input Vat Summary Dates
            document.getElementById('InputVATReport_StartDate_data').value = defaultDate;
            document.getElementById('InputVATReport_EndDate_data').value = defaultDate;

            InputVATReportStartDate = new wijmo.input.InputDate('#InputVATReport_StartDate');
            InputVATReportEndDate = new wijmo.input.InputDate('#InputVATReport_EndDate');

            getInputVATReportStartDate();
            getInputVATReportEndDate();

            // WithHolding TAX Report Dates
            document.getElementById('withHoldingTAXReport_StartDate_data').value = defaultDate;
            document.getElementById('withHoldingTAXReport_EndDate_data').value = defaultDate;

            withHoldingTAXReportStartDate = new wijmo.input.InputDate('#withHoldingTAXReport_StartDate');
            withHoldingTAXReportEndDate = new wijmo.input.InputDate('#withHoldingTAXReport_EndDate');

            getWithHoldingTAXReportStartDate();
            getWithHoldingTAXReportEndDate();

            // Purchase Summary Report Dates
            document.getElementById('purchaseSummaryReport_StartDate_data').value = defaultDate;
            document.getElementById('purchaseSummaryReport_EndDate_data').value = defaultDate;

            purchaseSummaryReportStartDate = new wijmo.input.InputDate('#purchaseSummaryReport_StartDate');
            purchaseSummaryReportEndDate = new wijmo.input.InputDate('#purchaseSummaryReport_EndDate');

            getPurchaseSummaryReportStartDate();
            getPurchaseSummaryReportEndDate();

            // Purchase Detail Report Dates
            document.getElementById('purchaseDetailReport_StartDate_data').value = defaultDate;
            document.getElementById('purchaseDetailReport_EndDate_data').value = defaultDate;

            purchaseDetailReportStartDate = new wijmo.input.InputDate('#purchaseDetailReport_StartDate');
            purchaseDetailReportEndDate = new wijmo.input.InputDate('#purchaseDetailReport_EndDate');

            getPurchaseDetailReportStartDate();
            getPurchaseDetailReportEndDate();

            // Receiving Receipt Summary Report Dates
            document.getElementById('receivingReceiptSummaryReport_StartDate_data').value = defaultDate;
            document.getElementById('receivingReceiptSummaryReport_EndDate_data').value = defaultDate;

            receivingReceiptSummaryReportStartDate = new wijmo.input.InputDate('#receivingReceiptSummaryReport_StartDate');
            receivingReceiptSummaryReportEndDate = new wijmo.input.InputDate('#receivingReceiptSummaryReport_EndDate');

            getReceivingReceiptSummaryReportStartDate();
            getReceivingReceiptSummaryReportEndDate();

            // Receiving Receipt Detail Report Dates
            document.getElementById('receivingReceiptDetailReport_StartDate_data').value = defaultDate;
            document.getElementById('receivingReceiptDetailReport_EndDate_data').value = defaultDate;

            receivingReceiptDetailReportStartDate = new wijmo.input.InputDate('#receivingReceiptDetailReport_StartDate');
            receivingReceiptDetailReportEndDate = new wijmo.input.InputDate('#receivingReceiptDetailReport_EndDate');

            getReceivingReceiptDetailReportStartDate();
            getReceivingReceiptDetailReportEndDate();

            // Disbursement Summary Report Dates
            document.getElementById('disbursementSummaryReport_StartDate_data').value = defaultDate;
            document.getElementById('disbursementSummaryReport_EndDate_data').value = defaultDate;

            disbursementSummaryReportStartDate = new wijmo.input.InputDate('#disbursementSummaryReport_StartDate');
            disbursementSummaryReportEndDate = new wijmo.input.InputDate('#disbursementSummaryReport_EndDate');

            getDisbursementSummaryReportStartDate();
            getDisbursementSummaryReportEndDate();

            // Disbursement Detail Report Dates
            document.getElementById('disbursementDetailReport_StartDate_data').value = defaultDate;
            document.getElementById('disbursementDetailReport_EndDate_data').value = defaultDate;

            disbursementDetailReportStartDate = new wijmo.input.InputDate('#disbursementDetailReport_StartDate');
            disbursementDetailReportEndDate = new wijmo.input.InputDate('#disbursementDetailReport_EndDate');

            getDisbursementDetailReportStartDate();
            getDisbursementDetailReportEndDate();

            // accounts payable date as of..
            accountsPayableReportDateAsOf = new wijmo.input.InputDate('#accountsPaybleReport_DateAsOf', {
                format: 'MM-dd-yyyy',
                value: new Date(),
                mask: '99-99-9999',
                onValueChanged: function () {
                    var thisDateValue = this.value;
                    document.getElementById('accountsPaybleReport_DateAsOf_data').value = thisDateValue;
                }
            });

            document.getElementById('accountsPaybleReport_DateAsOf_data').value = defaultDate;
            document.getElementById('accountsPaybleReport_Comapny_data').value = "";

            getCompanies();
            getRRs();

            cboCompany = new wijmo.input.ComboBox('#accountsPaybleReport_Comapny')
            cboRRNo = new wijmo.input.ComboBox('#accountsPayableVoucher_RRNo');

        });
    </script>
    <script type="text/javascript">
        var slideLeft = new Menu({
            wrapper: '#o-wrapper',
            type: 'slide-left',
            menuOpenerClass: '.c-button',
            maskId: '#c-mask'
        });

        var slideLeftBtn = document.querySelector('#c-button--slide-left');

        slideLeftBtn.addEventListener('click', function (e) {
            e.preventDefault;
            slideLeft.open();
        });
    </script>
</body>
</html>