<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Title of the Page -->
    <link rel="shortcut icon" href="~/Images/icon/easyfislogomini.ico">
    <title>Accounts Payable</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Content/Software-css")
</head>
<body class="hold-transition skin-blue fixed sidebar-mini">
    <div class="wrapper">
        @Html.Partial("_SoftwareHeader")
        @Html.Partial("_SoftwareSideBarMenu")

        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    Accounts Payable
                    <small><i class="fa fa-building"></i> @ViewData["Company"] / @ViewData["Branch"]</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/Software"> Dashboard</a></li>
                    <li> Accounts Payable </li>
                </ol>
            </section>

            <section class="content">
                <div class="box box-default">
                    <div class="box-header">

                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4">
                                <ul class="nav nav-pills nav-stacked pill-custom pill-report-custom" role="tablist" id="myTab">
                                    <li class="active"><a data-toggle="pill" href="#AP">Accounts Payable</a></li>
                                    <li class="reportDivider"><a data-toggle="pill" href="#APV">Accounts Payable Voucher</a></li>
                                    <li><a data-toggle="pill" href="#IVR">Input VAT Report</a></li>
                                    <li class="reportDivider"><a data-toggle="pill" href="#WTR">Withholding Tax Report</a></li>
                                    <li><a data-toggle="pill" href="#PSR">Purchase Summary Report</a></li>
                                    <li><a data-toggle="pill" href="#PDR">Purchase Detail  Report</a></li>
                                    <li><a data-toggle="pill" href="#RRSR">Receiving Receipt Summary Report</a></li>
                                    <li><a data-toggle="pill" href="#RRDR">Receiving Receipt Detail Report</a></li>
                                    <li><a data-toggle="pill" href="#DSR">Disbursement Summary Report</a></li>
                                    <li><a data-toggle="pill" href="#DDR">Disbursement Detail Report</a></li>
                                </ul>
                            </div>
                            <div class="col-md-8">
                                <div class="tab-content">
                                    <div id="AP" class="tab-pane fade in active">
                                        <div align="right">
                                            <button onclick="AccountsPayableView_OnClick()" class="btn btn-primary btn-sm"><i class="fa fa-table"></i> View</button>
                                            <button onclick="AccountsPayablePDF_OnClick()" class="btn btn-primary btn-sm"><i class="fa fa-print"></i> Print</button>
                                            <a href="@Url.Action("Index", "Software")" class="btn btn-danger btn-sm" id=""><i class="fa fa-times"></i> Close</a>
                                        </div>
                                        <div class="well">
                                            <form class="form-horizontal" role="form">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-2">Date as of</label>
                                                            <div class="col-sm-6">
                                                                <div class="comboBox-wide" id="accountsPaybleReport_DateAsOf"></div>
                                                                <input type="hidden" id="accountsPaybleReport_DateAsOf_data" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-2">Company</label>
                                                            <div class="col-sm-6">
                                                                <div class="comboBox-wide" id="accountsPaybleReport_Comapny"></div>

                                                                <input type="hidden" id="accountsPaybleReport_Comapny_data" />
                                                                <input type="hidden" id="accountsPaybleReport_Comapny_selectedValue" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-2">Filter:</label>
                                                            <div class="col-sm-6">
                                                                <input type="checkbox" id="filterAccountAndSupplier" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div id="filterTabs">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a data-toggle="tab" href="#one">1</a></li>
                                            </ul>

                                            <div class="tab-content">
                                                <div id="one" class="tab-pane fade in active">
                                                    <div class="well">
                                                        <form class="form-horizontal" role="form">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-sm-2">Account</label>
                                                                        <div class="col-sm-6">
                                                                            <div class="comboBox-wide" id="accountsPaybleReport_Accounts"></div>

                                                                            <input type="hidden" id="accountsPaybleReport_Accounts_data" />
                                                                            <input type="hidden" id="accountsPaybleReport_Accounts_selectedValue" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label col-sm-2">Supplier</label>
                                                                        <div class="col-sm-6">
                                                                            <div class="comboBox-wide" id="accountsPaybleReport_Supplier"></div>

                                                                            <input type="hidden" id="accountsPaybleReport_Supplier_data" />
                                                                            <input type="hidden" id="accountsPaybleReport_Supplier_selectedValue" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="APV" class="tab-pane fade">
                                        <div align="right">
                                            <button onclick="AccountsPayableVoucherPDF_OnClick()" class="btn btn-primary btn-sm"><i class="fa fa-print"></i> Print</button>
                                            <a href="@Url.Action("Index", "Software")" class="btn btn-danger btn-sm" id=""><i class="fa fa-times"></i> Close</a>
                                        </div>
                                        <div class="well">
                                            <form class="form-horizontal" role="form">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-2">RR No.</label>
                                                            <div class="col-sm-6">
                                                                <div class="comboBox-wide" id="accountsPayableVoucher_RRNo"></div>

                                                                <input type="hidden" id="accountsPayableVoucher_RRNo_data" />
                                                                <input type="hidden" id="accountsPayableVoucher_RRNo_selectedValue" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div id="IVR" class="tab-pane fade">
                                        <div align="right">
                                            <button onclick="AccountsPayableInputVATReportPDF_OnClick()" class="btn btn-primary btn-sm"><i class="fa fa-print"></i> Print</button>
                                            <a href="@Url.Action("Index", "Software")" class="btn btn-danger btn-sm" id=""><i class="fa fa-times"></i> Close</a>
                                        </div>
                                        <div class="well">
                                            <form class="form-horizontal" role="form">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-2">Start Date</label>
                                                            <div class="col-sm-6">
                                                                <div class="comboBox-wide" id="InputVATReport_StartDate"></div>
                                                                <input type="hidden" id="InputVATReport_StartDate_data" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-2">End Date</label>
                                                            <div class="col-sm-6">
                                                                <div class="comboBox-wide" id="InputVATReport_EndDate"></div>
                                                                <input type="hidden" id="InputVATReport_EndDate_data" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div id="WTR" class="tab-pane fade">
                                        <div align="right">
                                            <button onclick="AccountsPayableWithHoldingTaxReportPDF_OnClick()" class="btn btn-primary btn-sm"><i class="fa fa-print"></i> Print</button>
                                            <a href="@Url.Action("Index", "Software")" class="btn btn-danger btn-sm" id=""><i class="fa fa-times"></i> Close</a>
                                        </div>
                                        <div class="well">
                                            <form class="form-horizontal" role="form">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-2">Start Date</label>
                                                            <div class="col-sm-6">
                                                                <div class="comboBox-wide" id="withHoldingTAXReport_StartDate"></div>
                                                                <input type="hidden" id="withHoldingTAXReport_StartDate_data" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-2">End Date</label>
                                                            <div class="col-sm-6">
                                                                <div class="comboBox-wide" id="withHoldingTAXReport_EndDate"></div>
                                                                <input type="hidden" id="withHoldingTAXReport_EndDate_data" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div id="PSR" class="tab-pane fade">
                                        <div align="right">
                                            <button onclick="purchaseSummaryReportView_OnClick()" class="btn btn-primary btn-sm"><i class="fa fa-table"></i> View</button>
                                            <button onclick="purchaseSummaryReportPDF_OnClick()" class="btn btn-primary btn-sm"><i class="fa fa-print"></i> Print</button>
                                            <a href="@Url.Action("Index", "Software")" class="btn btn-danger btn-sm" id=""><i class="fa fa-times"></i> Close</a>
                                        </div>
                                        <div class="well">
                                            <form class="form-horizontal" role="form">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-2">Start Date</label>
                                                            <div class="col-sm-6">
                                                                <div class="comboBox-wide" id="purchaseSummaryReport_StartDate"></div>
                                                                <input type="hidden" id="purchaseSummaryReport_StartDate_data" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-2">End Date</label>
                                                            <div class="col-sm-6">
                                                                <div class="comboBox-wide" id="purchaseSummaryReport_EndDate"></div>
                                                                <input type="hidden" id="purchaseSummaryReport_EndDate_data" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div id="PDR" class="tab-pane fade">
                                        <div align="right">
                                            <button onclick="purchaseDetailReportView_OnClick()" class="btn btn-primary btn-sm"><i class="fa fa-table"></i> View</button>
                                            <button onclick="purchaseDetailReportPDF_OnClick()" class="btn btn-primary btn-sm"><i class="fa fa-print"></i> Print</button>
                                            <a href="@Url.Action("Index", "Software")" class="btn btn-danger btn-sm" id=""><i class="fa fa-times"></i> Close</a>
                                        </div>
                                        <div class="well">
                                            <form class="form-horizontal" role="form">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-2">Start Date</label>
                                                            <div class="col-sm-6">
                                                                <div class="comboBox-wide" id="purchaseDetailReport_StartDate"></div>
                                                                <input type="hidden" id="purchaseDetailReport_StartDate_data" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-2">End Date</label>
                                                            <div class="col-sm-6">
                                                                <div class="comboBox-wide" id="purchaseDetailReport_EndDate"></div>
                                                                <input type="hidden" id="purchaseDetailReport_EndDate_data" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div id="RRSR" class="tab-pane fade">
                                        <div align="right">
                                            <button onclick="receivingReceiptSummaryReportPDF_OnClick()" class="btn btn-primary btn-sm"><i class="fa fa-print"></i> Print</button>
                                            <a href="@Url.Action("Index", "Software")" class="btn btn-danger btn-sm" id=""><i class="fa fa-times"></i> Close</a>
                                        </div>
                                        <div class="well">
                                            <form class="form-horizontal" role="form">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-2">Start Date</label>
                                                            <div class="col-sm-6">
                                                                <div class="comboBox-wide" id="receivingReceiptSummaryReport_StartDate"></div>
                                                                <input type="hidden" id="receivingReceiptSummaryReport_StartDate_data" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-2">End Date</label>
                                                            <div class="col-sm-6">
                                                                <div class="comboBox-wide" id="receivingReceiptSummaryReport_EndDate"></div>
                                                                <input type="hidden" id="receivingReceiptSummaryReport_EndDate_data" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div id="RRDR" class="tab-pane fade">
                                        <div align="right">
                                            <button onclick="receivingReceiptDetailReportPDF_OnClick()" class="btn btn-primary btn-sm"><i class="fa fa-print"></i> Print</button>
                                            <a href="@Url.Action("Index", "Software")" class="btn btn-danger btn-sm" id=""><i class="fa fa-times"></i> Close</a>
                                        </div>
                                        <div class="well">
                                            <form class="form-horizontal" role="form">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-2">Start Date</label>
                                                            <div class="col-sm-6">
                                                                <div class="comboBox-wide" id="receivingReceiptDetailReport_StartDate"></div>
                                                                <input type="hidden" id="receivingReceiptDetailReport_StartDate_data" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-2">End Date</label>
                                                            <div class="col-sm-6">
                                                                <div class="comboBox-wide" id="receivingReceiptDetailReport_EndDate"></div>
                                                                <input type="hidden" id="receivingReceiptDetailReport_EndDate_data" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div id="DSR" class="tab-pane fade">
                                        <div align="right">
                                            <button onclick="disbursementSummaryReportPDF_OnClick()" class="btn btn-primary btn-sm"><i class="fa fa-print"></i> Print</button>
                                            <a href="@Url.Action("Index", "Software")" class="btn btn-danger btn-sm" id=""><i class="fa fa-times"></i> Close</a>
                                        </div>
                                        <div class="well">
                                            <form class="form-horizontal" role="form">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-2">Start Date</label>
                                                            <div class="col-sm-6">
                                                                <div class="comboBox-wide" id="disbursementSummaryReport_StartDate"></div>
                                                                <input type="hidden" id="disbursementSummaryReport_StartDate_data" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-2">End Date</label>
                                                            <div class="col-sm-6">
                                                                <div class="comboBox-wide" id="disbursementSummaryReport_EndDate"></div>
                                                                <input type="hidden" id="disbursementSummaryReport_EndDate_data" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div id="DDR" class="tab-pane fade">
                                        <div align="right">
                                            <button onclick="disbursementDetailReportPDF_OnClick()" class="btn btn-primary btn-sm"><i class="fa fa-print"></i> Print</button>
                                            <a href="@Url.Action("Index", "Software")" class="btn btn-danger btn-sm" id=""><i class="fa fa-times"></i> Close</a>
                                        </div>
                                        <div class="well">
                                            <form class="form-horizontal" role="form">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-2">Start Date</label>
                                                            <div class="col-sm-6">
                                                                <div class="comboBox-wide" id="disbursementDetailReport_StartDate"></div>
                                                                <input type="hidden" id="disbursementDetailReport_StartDate_data" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-2">End Date</label>
                                                            <div class="col-sm-6">
                                                                <div class="comboBox-wide" id="disbursementDetailReport_EndDate"></div>
                                                                <input type="hidden" id="disbursementDetailReport_EndDate_data" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        @Html.Partial("_SoftwareFooter")
    </div>

    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        // ================
        // Global Variables
        // ================
        var accountsPayableReportDateAsOf;
        var companies;
        var cboCompany;
        var accounts;
        var cboAccounts;
        var suppliers;
        var cboSuppliers;
        var RRNos;
        var cboRRNo;
        var InputVATReportStartDate;
        var InputVATReportEndDate;
        var withHoldingTAXReportStartDate;
        var withHoldingTAXReportEndDate;
        var certificateOfCreditableTaxWithheldStartDate;
        var certificateOfCreditableTaxWithheldEndDate;
        var purchaseSummaryReportStartDate;
        var purchaseSummaryReportEndDate;
        var purchaseDetailReportStartDate;
        var purchaseDetailReportEndDate;
        var receivingReceiptSummaryReportStartDate;
        var receivingReceiptSummaryReportEndDate;
        var receivingReceiptDetailReportStartDate;
        var receivingReceiptDetailReportEndDate;
        var disbursementSummaryReportStartDate;
        var disbursementSummaryReportEndDate;
        var disbursementDetailReportStartDate;
        var disbursementDetailReportEndDate;

        // ===========
        // Get company
        // ===========
        function getCompanies() {
            companies = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/listCompany',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (results) {
                    if (results.length > 0) {
                        for (i = 0; i < results.length; i++) {
                            companies.push({
                                Id: results[i]["Id"],
                                Company: results[i]["Company"],
                                Address: results[i]["Address"],
                                ContactNumber: results[i]["ContactNumber"],
                                TaxNumber: results[i]["TaxNumber"],
                            });
                        }
                        createCboComapny(companies);
                    }
                }
            });
            return companies;
        }

        // ===================
        // Company - Combo Box
        // ===================
        function createCboComapny(companies) {
            var companyCollection = new wijmo.collections.CollectionView(companies);
            var companyList = new Array();
            for (var i = 0; i < companyCollection.items.length; i++) {
                companyList.push(companyCollection.items[i].Company);
            }

            cboCompany.dispose();
            cboCompany = new wijmo.input.ComboBox('#accountsPaybleReport_Comapny', {
                placeholder: "Select Company",
                itemsSource: companyList,
                isEditable: false,
                required: false,
                selectedValue: document.getElementById('accountsPaybleReport_Comapny_selectedValue').value.toString(),
                onSelectedIndexChanged: function () {
                    $("#accountsPaybleReport_Comapny_data").val(companyCollection.items[this.selectedIndex].Id);
                }
            });
        }

        // ============
        // Get Accounts
        // ============
        function getAccounts() {
            accounts = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/listAccount',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (results) {
                    if (results.length > 0) {
                        for (i = 0; i < results.length; i++) {
                            accounts.push({
                                Id: results[i]["Id"],
                                AccountCode: results[i]["AccountCode"],
                                Account: results[i]["Account"],
                                AccountTypeId: results[i]["AccountTypeId"],
                                AccountType: results[i]["AccountType"],
                                AccountCashFlowId: results[i]["AccountCashFlowId"],
                                AccountCashFlow: results[i]["AccountCashFlow"]
                            });
                        }
                        createCboAccount(accounts);
                    }
                }
            });
            return accounts;
        }

        // ===================
        // Company - Combo Box
        // ===================
        function createCboAccount(accounts) {
            var accountCollection = new wijmo.collections.CollectionView(accounts);
            var accountList = new Array();
            for (var i = 0; i < accountCollection.items.length; i++) {
                accountList.push(accountCollection.items[i].Account);
            }

            cboAccounts.dispose();
            cboAccounts = new wijmo.input.ComboBox('#accountsPaybleReport_Accounts', {
                placeholder: "Select Account",
                itemsSource: accountList,
                isEditable: false,
                required: false,
                selectedValue: document.getElementById('accountsPaybleReport_Accounts_selectedValue').value.toString(),
                onSelectedIndexChanged: function () {
                    $("#accountsPaybleReport_Accounts_data").val(accountCollection.items[this.selectedIndex].Id);

                    getSuppliers();
                }
            });
        }

        // ============
        // Get supplier
        // ============
        function getSuppliers() {
            suppliers = new wijmo.collections.ObservableArray();
            var accountId = document.getElementById('accountsPaybleReport_Accounts_data').value;

            var disabled;
            if (document.getElementById('accountsPaybleReport_Accounts_data').value == "") {
                var accountId = 0;
            }
            else {
                var accountId = document.getElementById('accountsPaybleReport_Accounts_data').value;
            }

            $.ajax({
                url: '/api/articleByAccountTypeIdAndArticleTypeId/' + accountId + "/" + '3',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (Results) {
                    if (Results.length > 0) {
                        for (i = 0; i < Results.length; i++) {
                            suppliers.push({
                                Id: Results[i]["Id"],
                                ArticleCode: Results[i]["ArticleCode"],
                                ManualArticleCode: Results[i]["ManualArticleCode"],
                                Article: Results[i]["Article"],
                                Category: Results[i]["Category"],
                                ArticleTypeId: Results[i]["ArticleTypeId"],
                                ArticleType: Results[i]["ArticleType"],
                                ArticleGroupId: Results[i]["ArticleGroupId"],
                                ArticleGroup: Results[i]["ArticleGroup"],
                                AccountId: Results[i]["AccountId"],
                                Account: Results[i]["Account"],
                                SalesAccountId: Results[i]["SalesAccountId"],
                                CostAccountId: Results[i]["CostAccountId"],
                                AssetAccountId: Results[i]["AssetAccountId"],
                                ExpenseAccountId: Results[i]["ExpenseAccountId"],
                                UnitId: Results[i]["UnitId"],
                                OutputTaxId: Results[i]["OutputTaxId"],
                                InputTaxId: Results[i]["InputTaxId"],
                                WTaxTypeId: Results[i]["WTaxTypeId"],
                                Price: Results[i]["Price"],
                                Cost: Results[i]["Cost"],
                                IsInventory: Results[i]["IsInventory"],
                                Particulars: Results[i]["Particulars"],
                                Address: Results[i]["Address"],
                                TermId: Results[i]["TermId"],
                                ContactNumber: Results[i]["ContactNumber"],
                                ContactPerson: Results[i]["ContactPerson"],
                                TaxNumber: Results[i]["TaxNumber"],
                                CreditLimit: Results[i]["CreditLimit"],
                                DateAcquired: Results[i]["DateAcquired"],
                                UsefulLife: Results[i]["UsefulLife"],
                                SalvageValue: Results[i]["SalvageValue"],
                                ManualArticleOldCode: Results[i]["ManualArticleOldCode"],
                                IsLocked: Results[i]["IsLocked"],
                                CreatedById: Results[i]["CreatedById"],
                                CreatedBy: Results[i]["CreatedBy"],
                                CreatedDateTime: Results[i]["CreatedDateTime"],
                                UpdatedById: Results[i]["UpdatedById"],
                                UpdatedBy: Results[i]["UpdatedBy"],
                                UpdatedDateTime: Results[i]["UpdatedDateTime"]
                            });
                        }
                        createCboSupplier(suppliers);
                    } else {
                        createCboSupplier(suppliers);
                    }
                }
            });
            return suppliers;
        }

        // ====================
        // Supplier - Combo Box
        // ====================
        function createCboSupplier(suppliers) {
            var supplierCollection = new wijmo.collections.CollectionView(suppliers);
            var supplierList = new Array();
            for (var i = 0; i < supplierCollection.items.length; i++) {
                supplierList.push(supplierCollection.items[i].Article);
            }

            var disabled;
            if (suppliers == 0) {
                disabled = true;
            } else {
                disabled = false;
            }

            document.getElementById('accountsPaybleReport_Supplier_data').value = "";

            cboSuppliers.dispose();
            cboSuppliers = new wijmo.input.ComboBox('#accountsPaybleReport_Supplier', {
                disabled: disabled,
                placeholder: "Select Supplier",
                itemsSource: supplierList,
                isEditable: false,
                required: false,
                selectedValue: document.getElementById('accountsPaybleReport_Supplier_selectedValue').value.toString(),
                onSelectedIndexChanged: function () {
                    $("#accountsPaybleReport_Supplier_data").val(supplierCollection.items[this.selectedIndex].Id);
                }
            });
        }

        // ======
        // Get RR
        // ======
        function getRRs() {
            RRNos = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/listReceivingReceipt',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (Results) {
                    if (Results.length > 0) {
                        for (i = 0; i < Results.length; i++) {
                            RRNos.push({
                                Id: Results[i]["Id"],
                                BranchId: Results[i]["BranchId"],
                                Branch: Results[i]["Branch"],
                                RRNumber: Results[i]["RRNumber"],
                                RRDate: Results[i]["RRDate"],
                                SupplierId: Results[i]["SupplierId"],
                                Supplier: Results[i]["Supplier"],
                                TermId: Results[i]["TermId"],
                                Term: Results[i]["Term"],
                                DocumentReference: Results[i]["DocumentReference"],
                                ManualRRNumber: Results[i]["ManualRRNumber"],
                                Remarks: Results[i]["Remarks"],
                                Amount: Results[i]["Amount"],
                                WTaxAmount: Results[i]["WTaxAmount"],
                                PaidAmount: Results[i]["PaidAmount"],
                                AdjustmentAmount: Results[i]["AdjustmentAmount"],
                                BalanceAmount: Results[i]["BalanceAmount"],
                                ReceivedById: Results[i]["ReceivedById"],
                                ReceivedBy: Results[i]["ReceivedBy"],
                                PreparedById: Results[i]["PreparedById"],
                                PreparedBy: Results[i]["PreparedBy"],
                                CheckedById: Results[i]["CheckedById"],
                                CheckedBy: Results[i]["CheckedBy"],
                                ApprovedById: Results[i]["ApprovedById"],
                                ApprovedBy: Results[i]["ApprovedBy"],
                                IsLocked: Results[i]["IsLocked"],
                                CreatedById: Results[i]["CreatedById"],
                                CreatedBy: Results[i]["CreatedBy"],
                                CreatedDateTime: Results[i]["CreatedDateTime"],
                                UpdatedById: Results[i]["UpdatedById"],
                                UpdatedBy: Results[i]["UpdatedBy"],
                                UpdatedDateTime: Results[i]["UpdatedDateTime"]
                            });
                        }
                        createCboRRNo(RRNos);
                    }
                }
            });
            return RRNos;
        }

        // =================
        // RR No - Combo Box
        // =================
        function createCboRRNo(RRNos) {
            var rrNoCollection = new wijmo.collections.CollectionView(RRNos);
            var rrNoList = new Array();
            for (var i = 0; i < rrNoCollection.items.length; i++) {
                rrNoList.push(rrNoCollection.items[i].RRNumber);
            }

            cboRRNo.dispose();
            cboRRNo = new wijmo.input.ComboBox('#accountsPayableVoucher_RRNo', {
                placeholder: "Select RR No",
                itemsSource: rrNoList,
                isEditable: false,
                required: false,
                selectedValue: document.getElementById('accountsPayableVoucher_RRNo_selectedValue').value.toString(),
                onSelectedIndexChanged: function () {
                    $("#accountsPayableVoucher_RRNo_data").val(rrNoCollection.items[this.selectedIndex].Id);
                }
            });
        }

        // Print Accounts payable voucher pdf
        function AccountsPayableVoucherPDF_OnClick() {
            if (document.getElementById('accountsPayableVoucher_RRNo_data').value == '') {
                document.getElementById("accountsPayableVoucher_RRNo").style.border = "1px solid red";

                toastr.error("Invalid Entry");
            } else {
                document.getElementById("accountsPayableVoucher_RRNo").style.border = "1px solid #C8C8C8";

                var accountsPaybleVoucherReportData = document.getElementById('accountsPayableVoucher_RRNo_data').value;
                window.location.href = '/RepAccountsPayableVoucher/AccountsPayableVoucher?ReceivingReceiptId=' + accountsPaybleVoucherReportData;
            }
        }


        // get Input VAT Report Start Date
        function getInputVATReportStartDate() {
            InputVATReportStartDate.dispose();
            InputVATReportStartDate = new wijmo.input.InputDate('#InputVATReport_StartDate', {
                format: 'MM/dd/yyyy',
                value: new Date(document.getElementById('InputVATReport_StartDate_data').value),
                mask: '99/99/9999',
                max: new Date(document.getElementById('InputVATReport_EndDate_data').value),
                onValueChanged: function () {
                    document.getElementById('InputVATReport_StartDate_data').value = this.value.toLocaleDateString();
                    setTimeout(function () {
                        getInputVATReportEndDate();
                    }, 50);
                }
            });
        }

        // get Input VAT Report End Date
        function getInputVATReportEndDate() {
            InputVATReportEndDate.dispose();
            InputVATReportEndDate = new wijmo.input.InputDate('#InputVATReport_EndDate', {
                format: 'MM/dd/yyyy',
                value: new Date(document.getElementById('InputVATReport_EndDate_data').value),
                mask: '99/99/9999',
                min: new Date(document.getElementById('InputVATReport_StartDate_data').value),
                onValueChanged: function () {
                    document.getElementById('InputVATReport_EndDate_data').value = this.value.toLocaleDateString();
                    setTimeout(function () {
                        getInputVATReportStartDate();
                    }, 50);
                }
            });
        }

        // Input VAT report on click
        function AccountsPayableInputVATReportPDF_OnClick() {
            var InputVATReportStartDate = document.getElementById('InputVATReport_StartDate_data').value;
            var InputVATReportEndDate = document.getElementById('InputVATReport_EndDate_data').value;

            window.location.href = '/RepInputVATReport/InputVATReport?StartDate=' + InputVATReportStartDate + '&EndDate=' + InputVATReportEndDate;
        }

        // get WithHolding TAX Report Start Date
        function getWithHoldingTAXReportStartDate() {
            withHoldingTAXReportStartDate.dispose();
            withHoldingTAXReportStartDate = new wijmo.input.InputDate('#withHoldingTAXReport_StartDate', {
                format: 'MM/dd/yyyy',
                value: new Date(document.getElementById('withHoldingTAXReport_StartDate_data').value),
                mask: '99/99/9999',
                max: new Date(document.getElementById('withHoldingTAXReport_EndDate_data').value),
                onValueChanged: function () {
                    document.getElementById('withHoldingTAXReport_StartDate_data').value = this.value.toLocaleDateString();
                    setTimeout(function () {
                        getWithHoldingTAXReportEndDate();
                    }, 50);
                }
            });
        }

        // get WithHolding TAX Report End Date
        function getWithHoldingTAXReportEndDate() {
            withHoldingTAXReportEndDate.dispose();
            withHoldingTAXReportEndDate = new wijmo.input.InputDate('#withHoldingTAXReport_EndDate', {
                format: 'MM/dd/yyyy',
                value: new Date(document.getElementById('withHoldingTAXReport_EndDate_data').value),
                mask: '99/99/9999',
                min: new Date(document.getElementById('withHoldingTAXReport_StartDate_data').value),
                onValueChanged: function () {
                    document.getElementById('withHoldingTAXReport_EndDate_data').value = this.value.toLocaleDateString();
                    setTimeout(function () {
                        getWithHoldingTAXReportStartDate();
                    }, 50);
                }
            });
        }

        
        // Input VAT report on click
        function AccountsPayableWithHoldingTaxReportPDF_OnClick() {
            var WithHoldingTaxStartDate = document.getElementById('withHoldingTAXReport_StartDate_data').value;
            var WithHoldingTaxReportEndDate = document.getElementById('withHoldingTAXReport_EndDate_data').value;

            window.location.href = '/RepWithholdingTaxReport/WithholdingTaxReport?StartDate=' + WithHoldingTaxStartDate + '&EndDate=' + WithHoldingTaxReportEndDate;
        }

        function AccountsPayablePDF_OnClick() {
            var accountsPaybleReportDateAsOf = document.getElementById('accountsPaybleReport_DateAsOf_data').value;

            var companyId;
            if (document.getElementById('accountsPaybleReport_Comapny_data').value == "") {
                companyId = 0;
                document.getElementById('accountsPaybleReport_Comapny').style.border = "1px solid red";
                toastr.error("Lacking Information");
            } else {
                companyId = document.getElementById('accountsPaybleReport_Comapny_data').value;
                document.getElementById('accountsPaybleReport_Comapny').style.border = " ";
                window.location.href = '/RepAccountsPayable/AccountsPayable?DateAsOf=' + accountsPaybleReportDateAsOf + '&CompanyId=' + companyId;
            }
        }

        function AccountsPayableView_OnClick() {
            var accountsPaybleReportDateAsOf = document.getElementById('accountsPaybleReport_DateAsOf_data').value;

            var companyId;
            if (document.getElementById('accountsPaybleReport_Comapny_data').value == "") {
                companyId = 0;
                document.getElementById('accountsPaybleReport_Comapny').style.border = "1px solid red";
                toastr.error("Lacking Information");
            } else {
                companyId = document.getElementById('accountsPaybleReport_Comapny_data').value;
                document.getElementById('accountsPaybleReport_Comapny').style.border = " ";
                window.location.href = '/Software/AccountsPayableReport?DateAsOf=' + accountsPaybleReportDateAsOf + '&CompanyId=' + companyId;
            }
        }

        // get Purchase Summary Report Start Date
        function getPurchaseSummaryReportStartDate() {
            purchaseSummaryReportStartDate.dispose();
            purchaseSummaryReportStartDate = new wijmo.input.InputDate('#purchaseSummaryReport_StartDate', {
                format: 'MM-dd-yyyy',
                value: new Date(document.getElementById('purchaseSummaryReport_StartDate_data').value),
                mask: '99-99-9999',
                max: new Date(document.getElementById('purchaseSummaryReport_EndDate_data').value),
                onValueChanged: function () {
                    var thisDateValue = [this.value.getMonth() + 1, this.value.getDate(), this.value.getFullYear()].join('-');
                    document.getElementById('purchaseSummaryReport_StartDate_data').value = thisDateValue;
                    setTimeout(function () {
                        getPurchaseSummaryReportEndDate();
                    }, 50);
                }
            });
        }

        // get Purchase Summary Report End Date
        function getPurchaseSummaryReportEndDate() {
            purchaseSummaryReportEndDate.dispose();
            purchaseSummaryReportEndDate = new wijmo.input.InputDate('#purchaseSummaryReport_EndDate', {
                format: 'MM-dd-yyyy',
                value: new Date(document.getElementById('purchaseSummaryReport_EndDate_data').value),
                mask: '99-99-9999',
                min: new Date(document.getElementById('purchaseSummaryReport_StartDate_data').value),
                onValueChanged: function () {
                    var thisDateValue = [this.value.getMonth() + 1, this.value.getDate(), this.value.getFullYear()].join('-');
                    document.getElementById('purchaseSummaryReport_EndDate_data').value = thisDateValue;
                    setTimeout(function () {
                        getPurchaseSummaryReportStartDate();
                    }, 50);
                }
            });
        }

        // Purchase Summary report on click
        function purchaseSummaryReportPDF_OnClick() {
            var purchaseSummaryReportStartDate = document.getElementById('purchaseSummaryReport_StartDate_data').value;
            var purchaseSummaryReportEndDate = document.getElementById('purchaseSummaryReport_EndDate_data').value;

            window.location.href = '/RepPurchaseSummaryReport/PurchaseSummaryReport?StartDate=' + purchaseSummaryReportStartDate + '&EndDate=' + purchaseSummaryReportEndDate;
        }

        // Purchase Summary report on click
        function purchaseSummaryReportView_OnClick() {
            var purchaseSummaryReportStartDate = document.getElementById('purchaseSummaryReport_StartDate_data').value;
            var purchaseSummaryReportEndDate = document.getElementById('purchaseSummaryReport_EndDate_data').value;

            window.location.href = '/Software/PurchaseSummaryReport?StartDate=' + purchaseSummaryReportStartDate + '&EndDate=' + purchaseSummaryReportEndDate;
        }

        // get Purchase Detail Report Start Date
        function getPurchaseDetailReportStartDate() {
            purchaseDetailReportStartDate.dispose();
            purchaseDetailReportStartDate = new wijmo.input.InputDate('#purchaseDetailReport_StartDate', {
                format: 'MM-dd-yyyy',
                value: new Date(document.getElementById('purchaseDetailReport_StartDate_data').value),
                mask: '99-99-9999',
                max: new Date(document.getElementById('purchaseDetailReport_EndDate_data').value),
                onValueChanged: function () {
                    var thisDateValue = [this.value.getMonth() + 1, this.value.getDate(), this.value.getFullYear()].join('-');
                    document.getElementById('purchaseDetailReport_StartDate_data').value = thisDateValue;
                    setTimeout(function () {
                        getPurchaseDetailReportEndDate();
                    }, 50);
                }
            });
        }

        // get Purchase Detail Report End Date
        function getPurchaseDetailReportEndDate() {
            purchaseDetailReportEndDate.dispose();
            purchaseDetailReportEndDate = new wijmo.input.InputDate('#purchaseDetailReport_EndDate', {
                format: 'MM-dd-yyyy',
                value: new Date(document.getElementById('purchaseDetailReport_EndDate_data').value),
                mask: '99-99-9999',
                min: new Date(document.getElementById('purchaseDetailReport_StartDate_data').value),
                onValueChanged: function () {
                    var thisDateValue = [this.value.getMonth() + 1, this.value.getDate(), this.value.getFullYear()].join('-');
                    document.getElementById('purchaseDetailReport_EndDate_data').value = thisDateValue;
                    setTimeout(function () {
                        getPurchaseDetailReportStartDate();
                    }, 50);
                }
            });
        }

        // Purchase Detail report on click
        function purchaseDetailReportPDF_OnClick() {
            var purchaseDetailReportStartDate = document.getElementById('purchaseDetailReport_StartDate_data').value;
            var purchaseDetailReportEndDate = document.getElementById('purchaseDetailReport_EndDate_data').value;

            window.location.href = '/RepPurchaseDetailReport/PurchaseDetailReport?StartDate=' + purchaseDetailReportStartDate + '&EndDate=' + purchaseDetailReportEndDate;
        }

        // Purchase Detail report on click
        function purchaseDetailReportView_OnClick() {
            var purchaseDetailReportStartDate = document.getElementById('purchaseDetailReport_StartDate_data').value;
            var purchaseDetailReportEndDate = document.getElementById('purchaseDetailReport_EndDate_data').value;

            window.location.href = '/Software/PurchaseDetailReport?StartDate=' + purchaseDetailReportStartDate + '&EndDate=' + purchaseDetailReportEndDate;

        }
       
        // get Receiving Receipt Summary Report Start Date
        function getReceivingReceiptSummaryReportStartDate() {
            receivingReceiptSummaryReportStartDate.dispose();
            receivingReceiptSummaryReportStartDate = new wijmo.input.InputDate('#receivingReceiptSummaryReport_StartDate', {
                format: 'MM/dd/yyyy',
                value: new Date(document.getElementById('receivingReceiptSummaryReport_StartDate_data').value),
                mask: '99/99/9999',
                max: new Date(document.getElementById('receivingReceiptSummaryReport_EndDate_data').value),
                onValueChanged: function () {
                    document.getElementById('receivingReceiptSummaryReport_StartDate_data').value = this.value.toLocaleDateString();
                    setTimeout(function () {
                        getReceivingReceiptSummaryReportEndDate();
                    }, 50);
                }
            });
        }

        // get Receiving Receipt Summary Report End Date
        function getReceivingReceiptSummaryReportEndDate() {
            receivingReceiptSummaryReportEndDate.dispose();
            receivingReceiptSummaryReportEndDate = new wijmo.input.InputDate('#receivingReceiptSummaryReport_EndDate', {
                format: 'MM/dd/yyyy',
                value: new Date(document.getElementById('receivingReceiptSummaryReport_EndDate_data').value),
                mask: '99/99/9999',
                min: new Date(document.getElementById('receivingReceiptSummaryReport_StartDate_data').value),
                onValueChanged: function () {
                    document.getElementById('receivingReceiptSummaryReport_EndDate_data').value = this.value.toLocaleDateString();
                    setTimeout(function () {
                        getReceivingReceiptSummaryReportStartDate();
                    }, 50);
                }
            });
        }

        // Receiving Receipt Summary report on click
        function receivingReceiptSummaryReportPDF_OnClick() {
            var receivingReceiptSummaryReportStartDate = document.getElementById('receivingReceiptSummaryReport_StartDate_data').value;
            var receivingReceiptSummaryReportEndDate = document.getElementById('receivingReceiptSummaryReport_EndDate_data').value;

            window.location.href = '/RepReceivingReceiptSummaryReport/ReceivingReceiptSummaryReport?StartDate=' + receivingReceiptSummaryReportStartDate + '&EndDate=' + receivingReceiptSummaryReportEndDate;
        }

        // get Receiving Receipt Detail Report Start Date
        function getReceivingReceiptDetailReportStartDate() {
            receivingReceiptDetailReportStartDate.dispose();
            receivingReceiptDetailReportStartDate = new wijmo.input.InputDate('#receivingReceiptDetailReport_StartDate', {
                format: 'MM/dd/yyyy',
                value: new Date(document.getElementById('receivingReceiptDetailReport_StartDate_data').value),
                mask: '99/99/9999',
                max: new Date(document.getElementById('receivingReceiptDetailReport_EndDate_data').value),
                onValueChanged: function () {
                    document.getElementById('receivingReceiptDetailReport_StartDate_data').value = this.value.toLocaleDateString();
                    setTimeout(function () {
                        getReceivingReceiptDetailReportEndDate();
                    }, 50);
                }
            });
        }

        // get Receiving Receipt Detail Report End Date
        function getReceivingReceiptDetailReportEndDate() {
            receivingReceiptDetailReportEndDate.dispose();
            receivingReceiptDetailReportEndDate = new wijmo.input.InputDate('#receivingReceiptDetailReport_EndDate', {
                format: 'MM/dd/yyyy',
                value: new Date(document.getElementById('receivingReceiptDetailReport_EndDate_data').value),
                mask: '99/99/9999',
                min: new Date(document.getElementById('receivingReceiptDetailReport_StartDate_data').value),
                onValueChanged: function () {
                    document.getElementById('receivingReceiptDetailReport_EndDate_data').value = this.value.toLocaleDateString();
                    setTimeout(function () {
                        getReceivingReceiptDetailReportStartDate();
                    }, 50);
                }
            });
        }

        // Receiving Receipt Detail report on click
        function receivingReceiptDetailReportPDF_OnClick() {
            var receivingReceiptDetailReportStartDate = document.getElementById('receivingReceiptDetailReport_StartDate_data').value;
            var receivingReceiptDetailReportEndDate = document.getElementById('receivingReceiptDetailReport_EndDate_data').value;

            window.location.href = '/RepReceivingReceiptDetailReport/ReceivingReceiptDetailReport?StartDate=' + receivingReceiptDetailReportStartDate + '&EndDate=' + receivingReceiptDetailReportEndDate;
        }

        // get Disbursement Summary Report Start Date
        function getDisbursementSummaryReportStartDate() {
            disbursementSummaryReportStartDate.dispose();
            disbursementSummaryReportStartDate = new wijmo.input.InputDate('#disbursementSummaryReport_StartDate', {
                format: 'MM/dd/yyyy',
                value: new Date(document.getElementById('disbursementSummaryReport_StartDate_data').value),
                mask: '99/99/9999',
                max: new Date(document.getElementById('disbursementSummaryReport_EndDate_data').value),
                onValueChanged: function () {
                    document.getElementById('disbursementSummaryReport_StartDate_data').value = this.value.toLocaleDateString();
                    setTimeout(function () {
                        getDisbursementSummaryReportEndDate();
                    }, 50);
                }
            });
        }

        // get Disbursement Summary Report End Date
        function getDisbursementSummaryReportEndDate() {
            disbursementSummaryReportEndDate.dispose();
            disbursementSummaryReportEndDate = new wijmo.input.InputDate('#disbursementSummaryReport_EndDate', {
                format: 'MM/dd/yyyy',
                value: new Date(document.getElementById('disbursementSummaryReport_EndDate_data').value),
                mask: '99/99/9999',
                min: new Date(document.getElementById('disbursementSummaryReport_StartDate_data').value),
                onValueChanged: function () {
                    document.getElementById('disbursementSummaryReport_EndDate_data').value = this.value.toLocaleDateString();
                    setTimeout(function () {
                        getDisbursementSummaryReportStartDate();
                    }, 50);
                }
            });
        }

        // Disbursement Summary report on click
        function disbursementSummaryReportPDF_OnClick() {
            var disbursementSummaryReportStartDate = document.getElementById('disbursementSummaryReport_StartDate_data').value;
            var disbursementSummaryReportEndDate = document.getElementById('disbursementSummaryReport_EndDate_data').value;

            window.location.href = '/RepDisbursementSummaryReport/DisbursementSummaryReport?StartDate=' + disbursementSummaryReportStartDate + '&EndDate=' + disbursementSummaryReportEndDate;
        }

        // get Disbursement Detail Report Start Date
        function getDisbursementDetailReportStartDate() {
            disbursementDetailReportStartDate.dispose();
            disbursementDetailReportStartDate = new wijmo.input.InputDate('#disbursementDetailReport_StartDate', {
                format: 'MM/dd/yyyy',
                value: new Date(document.getElementById('disbursementDetailReport_StartDate_data').value),
                mask: '99/99/9999',
                max: new Date(document.getElementById('disbursementDetailReport_EndDate_data').value),
                onValueChanged: function () {
                    document.getElementById('disbursementDetailReport_StartDate_data').value = this.value.toLocaleDateString();
                    setTimeout(function () {
                        getDisbursementDetailReportEndDate();
                    }, 50);
                }
            });
        }

        // get Disbursement Detail Report End Date
        function getDisbursementDetailReportEndDate() {
            disbursementDetailReportEndDate.dispose();
            disbursementDetailReportEndDate = new wijmo.input.InputDate('#disbursementDetailReport_EndDate', {
                format: 'MM/dd/yyyy',
                value: new Date(document.getElementById('disbursementDetailReport_EndDate_data').value),
                mask: '99/99/9999',
                min: new Date(document.getElementById('disbursementDetailReport_StartDate_data').value),
                onValueChanged: function () {
                    document.getElementById('disbursementDetailReport_EndDate_data').value = this.value.toLocaleDateString();
                    setTimeout(function () {
                        getDisbursementDetailReportStartDate();
                    }, 50);
                }
            });
        }

        // Disbursement Detail report on click
        function disbursementDetailReportPDF_OnClick() {
            var disbursementDetailReportStartDate = document.getElementById('disbursementDetailReport_StartDate_data').value;
            var disbursementDetailReportEndDate = document.getElementById('disbursementDetailReport_EndDate_data').value;

            window.location.href = '/RepDisbursementDetailReport/DisbursementDetailReport?StartDate=' + disbursementDetailReportStartDate + '&EndDate=' + disbursementDetailReportEndDate;
        }

        // ===========
        // OnLoad Page
        // ===========
        $(document).ready(function () {
            var userId = '@ViewData["MstUserId"]';
            rightsAccessValidation(userId);

            var newDate = new Date();
            var defaultDate = [newDate.getMonth() + 1, newDate.getDate(), newDate.getFullYear()].join('-');

            // Input Vat Summary Dates
            document.getElementById('InputVATReport_StartDate_data').value = new Date().toLocaleDateString();
            document.getElementById('InputVATReport_EndDate_data').value = new Date().toLocaleDateString();

            InputVATReportStartDate = new wijmo.input.InputDate('#InputVATReport_StartDate');
            InputVATReportEndDate = new wijmo.input.InputDate('#InputVATReport_EndDate');

            getInputVATReportStartDate();
            getInputVATReportEndDate();

            // WithHolding TAX Report Dates
            document.getElementById('withHoldingTAXReport_StartDate_data').value = new Date().toLocaleDateString();
            document.getElementById('withHoldingTAXReport_EndDate_data').value = new Date().toLocaleDateString();

            withHoldingTAXReportStartDate = new wijmo.input.InputDate('#withHoldingTAXReport_StartDate');
            withHoldingTAXReportEndDate = new wijmo.input.InputDate('#withHoldingTAXReport_EndDate');

            getWithHoldingTAXReportStartDate();
            getWithHoldingTAXReportEndDate();

            // Purchase Summary Report Dates
            document.getElementById('purchaseSummaryReport_StartDate_data').value = defaultDate;
            document.getElementById('purchaseSummaryReport_EndDate_data').value = defaultDate;

            purchaseSummaryReportStartDate = new wijmo.input.InputDate('#purchaseSummaryReport_StartDate');
            purchaseSummaryReportEndDate = new wijmo.input.InputDate('#purchaseSummaryReport_EndDate');

            getPurchaseSummaryReportStartDate();
            getPurchaseSummaryReportEndDate();

            // Purchase Detail Report Dates
            document.getElementById('purchaseDetailReport_StartDate_data').value = defaultDate;
            document.getElementById('purchaseDetailReport_EndDate_data').value = defaultDate;

            purchaseDetailReportStartDate = new wijmo.input.InputDate('#purchaseDetailReport_StartDate');
            purchaseDetailReportEndDate = new wijmo.input.InputDate('#purchaseDetailReport_EndDate');

            getPurchaseDetailReportStartDate();
            getPurchaseDetailReportEndDate();

            // Receiving Receipt Summary Report Dates
            document.getElementById('receivingReceiptSummaryReport_StartDate_data').value = new Date().toLocaleDateString();
            document.getElementById('receivingReceiptSummaryReport_EndDate_data').value = new Date().toLocaleDateString();

            receivingReceiptSummaryReportStartDate = new wijmo.input.InputDate('#receivingReceiptSummaryReport_StartDate');
            receivingReceiptSummaryReportEndDate = new wijmo.input.InputDate('#receivingReceiptSummaryReport_EndDate');

            getReceivingReceiptSummaryReportStartDate();
            getReceivingReceiptSummaryReportEndDate();

            // Receiving Receipt Detail Report Dates
            document.getElementById('receivingReceiptDetailReport_StartDate_data').value = new Date().toLocaleDateString();
            document.getElementById('receivingReceiptDetailReport_EndDate_data').value = new Date().toLocaleDateString();

            receivingReceiptDetailReportStartDate = new wijmo.input.InputDate('#receivingReceiptDetailReport_StartDate');
            receivingReceiptDetailReportEndDate = new wijmo.input.InputDate('#receivingReceiptDetailReport_EndDate');

            getReceivingReceiptDetailReportStartDate();
            getReceivingReceiptDetailReportEndDate();

            // Disbursement Summary Report Dates
            document.getElementById('disbursementSummaryReport_StartDate_data').value = new Date().toLocaleDateString();
            document.getElementById('disbursementSummaryReport_EndDate_data').value = new Date().toLocaleDateString();

            disbursementSummaryReportStartDate = new wijmo.input.InputDate('#disbursementSummaryReport_StartDate');
            disbursementSummaryReportEndDate = new wijmo.input.InputDate('#disbursementSummaryReport_EndDate');

            getDisbursementSummaryReportStartDate();
            getDisbursementSummaryReportEndDate();

            // Disbursement Detail Report Dates
            document.getElementById('disbursementDetailReport_StartDate_data').value = new Date().toLocaleDateString();
            document.getElementById('disbursementDetailReport_EndDate_data').value = new Date().toLocaleDateString();

            disbursementDetailReportStartDate = new wijmo.input.InputDate('#disbursementDetailReport_StartDate');
            disbursementDetailReportEndDate = new wijmo.input.InputDate('#disbursementDetailReport_EndDate');

            getDisbursementDetailReportStartDate();
            getDisbursementDetailReportEndDate();

            // accounts payable date as of..
            accountsPayableReportDateAsOf = new wijmo.input.InputDate('#accountsPaybleReport_DateAsOf', {
                format: 'MM-dd-yyyy',
                value: new Date(),
                mask: '99-99-9999',
                onValueChanged: function () {
                    var thisDateValue = [this.value.getMonth() + 1, this.value.getDate(), this.value.getFullYear()].join('-');
                    document.getElementById('accountsPaybleReport_DateAsOf_data').value = thisDateValue;
                }
            });

            document.getElementById('accountsPaybleReport_DateAsOf_data').value = defaultDate;
            document.getElementById('accountsPaybleReport_Comapny_data').value = "";

            getCompanies();
            getAccounts();
            getSuppliers();
            getRRs();

            cboCompany = new wijmo.input.ComboBox('#accountsPaybleReport_Comapny')
            cboAccounts = new wijmo.input.ComboBox('#accountsPaybleReport_Accounts');
            cboSuppliers = new wijmo.input.ComboBox('#accountsPaybleReport_Supplier');
            cboRRNo = new wijmo.input.ComboBox('#accountsPayableVoucher_RRNo');

            // filter accounts payable and supplier
            $('#filterTabs').hide();
            document.getElementById('filterAccountAndSupplier').checked = false;
            $("#filterAccountAndSupplier").click(function () {
                if ($(this).is(':checked')) {
                    $('#filterTabs').show();
                } else {
                    $('#filterTabs').hide();
                }
            });
        });
    </script>
</body>
</html>