<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Title of the Page -->
    <link rel="shortcut icon" href="~/Images/icon/easyfislogomini.ico">
    <title>Accounts Payable</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Content/Software-css")
</head>
<body>
    <div id="o-wrapper" class="o-wrapper">
        <main class="o-content">
            @Html.Partial("_SoftwareHeader")
            <section class="content-header">
                <div class="container">
                    <h3>
                        Accounts Payable  
                    </h3>
                    <p>
                        <i class="fa fa-building-o fa-fw"></i> &nbsp; @ViewData["Company"] <br />
                        <i class="fa fa-home fa-fw"></i> &nbsp; <a href="#" onclick="getUserBranches()" style="color: white;">@ViewData["Branch"]</a>
                    </p>
                </div>
            </section>
            <section class="container">
                <div class="row">
                    <div class="col-md-5">
                        <ul class="nav nav-pills nav-stacked pill-custom pill-report-custom" role="tablist" id="myTab">
                            <li class="active"><a data-toggle="pill" href="#AP">Accounts Payable</a></li>
                            <li class="reportDivider"><a data-toggle="pill" href="#APV">Accounts Payable Voucher</a></li>
                            <li><a data-toggle="pill" href="#IVR">Input VAT Report</a></li>
                            <li class="reportDivider"><a data-toggle="pill" href="#WTR">Withholding Tax Report</a></li>
                            <li><a data-toggle="pill" href="#PSR">Purchase Summary Report</a></li>
                            <li><a data-toggle="pill" href="#PDR">Purchase Detail  Report</a></li>
                            <li><a data-toggle="pill" href="#RRSR">Receiving Receipt Summary Report</a></li>
                            <li><a data-toggle="pill" href="#RRDR">Receiving Receipt Detail Report</a></li>
                            <li><a data-toggle="pill" href="#DSR">Disbursement Summary Report</a></li>
                            <li><a data-toggle="pill" href="#DDR">Disbursement Detail Report</a></li>
                        </ul>
                    </div>
                    <div class="col-md-7">
                        <div class="tab-content">
                            <div id="AP" class="tab-pane fade in active">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div align="right">
                                            <button onclick="btnAPReportViewOnclick()" id="btnAPReportView" class="btn btn-primary"><i class="fa fa-table"></i> View</button>
                                            <button onclick="btnAPReportPrintPDFOnclick()"id="btnAPReportPrintPDF" class="btn btn-primary"><i class="fa fa-print"></i> Print</button>
                                            <a href="@Url.Action("Index", "Software")" class="btn btn-danger" id=""><i class="fa fa-times"></i> Close</a>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="">
                                            <form class="form-horizontal" role="form">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">Date as of</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="cboAPReportDateAsOf"></div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">Company</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="cboAPReportComapny"></div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">Branch</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="cboAPReportBranch"></div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">Account</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="cboAPReportAccount"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="APV" class="tab-pane fade">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div align="right">
                                            <button onclick="btnAPVoucherReportPrintPDFOnclick()" id="btnAPVoucherReportPrintPDF" class="btn btn-primary "><i class="fa fa-print"></i> Print</button>
                                            <a href="@Url.Action("Index", "Software")" class="btn btn-danger " id=""><i class="fa fa-times"></i> Close</a>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="">
                                            <form class="form-horizontal" role="form">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">RR No.</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="cboAPVoucherReportRRNo"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="IVR" class="tab-pane fade">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div align="right">
                                            <button onclick="btnAPInputVATReportPrintPDFOnclick()" class="btn btn-primary "><i class="fa fa-print"></i> Print</button>
                                            <a href="@Url.Action("Index", "Software")" class="btn btn-danger " id=""><i class="fa fa-times"></i> Close</a>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="">
                                            <form class="form-horizontal" role="form">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">Start Date</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="cboAPInputVATReportStartDate"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">End Date</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="cboAPInputVATReportEndDate"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="WTR" class="tab-pane fade">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div align="right">
                                            <button onclick="btnAPWithHoldingTaxReportPrintPDFOnclick()" class="btn btn-primary "><i class="fa fa-print"></i> Print</button>
                                            <a href="@Url.Action("Index", "Software")" class="btn btn-danger " id=""><i class="fa fa-times"></i> Close</a>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="">
                                            <form class="form-horizontal" role="form">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">Start Date</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="cboAPWithHoldingTAXReportStartDate"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">End Date</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="cboAPWithHoldingTAXReportEndDate"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="PSR" class="tab-pane fade">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div align="right">
                                            <button onclick="btnAPPurchaseSummaryReportViewOnClick()" class="btn btn-primary "><i class="fa fa-table"></i> View</button>
                                            <button onclick="btnAPPurchaseSummaryReportPrintPDFOnClick()" class="btn btn-primary "><i class="fa fa-print"></i> Print</button>
                                            <a href="@Url.Action("Index", "Software")" class="btn btn-danger " id=""><i class="fa fa-times"></i> Close</a>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="">
                                            <form class="form-horizontal" role="form">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">Start Date</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="cboAPPurchaseSummaryReportStartDate"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">End Date</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="cboAPPurchaseSummaryReportEndDate"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="PDR" class="tab-pane fade">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div align="right">
                                            <button onclick="btnpAPPrchaseDetailReportViewOnClick()" class="btn btn-primary "><i class="fa fa-table"></i> View</button>
                                            <button onclick="btnpAPPrchaseDetailReportPrintPDFOnClick()" class="btn btn-primary "><i class="fa fa-print"></i> Print</button>
                                            <a href="@Url.Action("Index", "Software")" class="btn btn-danger " id=""><i class="fa fa-times"></i> Close</a>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="">
                                            <form class="form-horizontal" role="form">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">Start Date</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="cboAPPurchaseDetailReportStartDate"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">End Date</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="cboAPPurchaseDetailReportEndDate"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="RRSR" class="tab-pane fade">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div align="right">
                                            <button onclick="btnAPReceivingReceiptSummaryReportViewOnClick()" class="btn btn-primary "><i class="fa fa-table"></i> View</button>
                                            <button onclick="btnAPReceivingReceiptSummaryReportPrintPDFOnClick()" class="btn btn-primary "><i class="fa fa-print"></i> Print</button>
                                            <a href="@Url.Action("Index", "Software")" class="btn btn-danger " id=""><i class="fa fa-times"></i> Close</a>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="">
                                            <form class="form-horizontal" role="form">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">Start Date</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="cboAPReceivingReceiptSummaryReportStartDate"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">End Date</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="cboAPReceivingReceiptSummaryReportEndDate"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="RRDR" class="tab-pane fade">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div align="right">
                                            <button onclick="btnAPReceivingReceiptDetailReportViewOnClick()" class="btn btn-primary "><i class="fa fa-table"></i> View</button>
                                            <button onclick="btnAPReceivingReceiptDetailReportPrintPDFOnClick()" class="btn btn-primary "><i class="fa fa-print"></i> Print</button>
                                            <a href="@Url.Action("Index", "Software")" class="btn btn-danger " id=""><i class="fa fa-times"></i> Close</a>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="">
                                            <form class="form-horizontal" role="form">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">Start Date</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="cboAPReceivingReceiptDetailReportStartDate"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">End Date</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="cboAPReceivingReceiptDetailReportEndDate"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="DSR" class="tab-pane fade">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div align="right">
                                            <button onclick="btnAPDisbursementSummaryReportViewOnClick()" class="btn btn-primary "><i class="fa fa-table"></i> View</button>
                                            <button onclick="btnAPDisbursementSummaryReportPrintPDFOnClick()" class="btn btn-primary "><i class="fa fa-print"></i> Print</button>
                                            <a href="@Url.Action("Index", "Software")" class="btn btn-danger " id=""><i class="fa fa-times"></i> Close</a>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="">
                                            <form class="form-horizontal" role="form">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">Start Date</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="cboAPdisbursementSummaryReportStartDate"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">End Date</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="cboAPdisbursementSummaryReportEndDate"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="DDR" class="tab-pane fade">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div align="right">
                                            <button onclick="btnAPDisbursementDetailReportViewOnClick()" class="btn btn-primary "><i class="fa fa-table"></i> View</button>
                                            <button onclick="btnAPDisbursementDetailReportPrintPDFOnClick()" class="btn btn-primary "><i class="fa fa-print"></i> Print</button>
                                            <a href="@Url.Action("Index", "Software")" class="btn btn-danger " id=""><i class="fa fa-times"></i> Close</a>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="">
                                            <form class="form-horizontal" role="form">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">Start Date</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="cboAPDisbursementDetailReportStartDate"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">End Date</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="cboAPDisbursementDetailReportEndDate"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            @Html.Partial("_SoftwareFooter")
        </main>
    </div>
    <div id="c-mask" class="c-mask"></div>

    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        // ================
        // Global Variables
        // ================
        var cboAPReportDateAsOf = new wijmo.input.InputDate('#cboAPReportDateAsOf');
        var cboAPInputVATReportStartDate = new wijmo.input.InputDate('#cboAPInputVATReportStartDate');
        var cboAPInputVATReportEndDate = new wijmo.input.InputDate('#cboAPInputVATReportEndDate');
        var cboAPWithHoldingTAXReportStartDate = new wijmo.input.InputDate('#cboAPWithHoldingTAXReportStartDate');
        var cboAPWithHoldingTAXReportEndDate = new wijmo.input.InputDate('#cboAPWithHoldingTAXReportEndDate');
        var cboAPPurchaseSummaryReportStartDate = new wijmo.input.InputDate('#cboAPPurchaseSummaryReportStartDate');
        var cboAPPurchaseSummaryReportEndDate = new wijmo.input.InputDate('#cboAPPurchaseSummaryReportEndDate');
        var cboAPPurchaseDetailReportStartDate = new wijmo.input.InputDate('#cboAPPurchaseDetailReportStartDate');
        var cboAPPurchaseDetailReportEndDate = new wijmo.input.InputDate('#cboAPPurchaseDetailReportEndDate');
        var cboAPReceivingReceiptSummaryReportStartDate = new wijmo.input.InputDate('#cboAPReceivingReceiptSummaryReportStartDate');
        var cboAPReceivingReceiptSummaryReportEndDate = new wijmo.input.InputDate('#cboAPReceivingReceiptSummaryReportEndDate');
        var cboAPReceivingReceiptDetailReportStartDate = new wijmo.input.InputDate('#cboAPReceivingReceiptDetailReportStartDate');
        var cboAPReceivingReceiptDetailReportEndDate = new wijmo.input.InputDate('#cboAPReceivingReceiptDetailReportEndDate');
        var cboAPdisbursementSummaryReportStartDate = new wijmo.input.InputDate('#cboAPdisbursementSummaryReportStartDate');
        var cboAPdisbursementSummaryReportEndDate = new wijmo.input.InputDate('#cboAPdisbursementSummaryReportEndDate');
        var cboAPDisbursementDetailReportStartDate = new wijmo.input.InputDate('#cboAPDisbursementDetailReportStartDate');
        var cboAPDisbursementDetailReportEndDate = new wijmo.input.InputDate('#cboAPDisbursementDetailReportEndDate');
        var cboAPReportComapny = new wijmo.input.ComboBox('#cboAPReportComapny');
        var cboAPVoucherReportRRNo = new wijmo.input.ComboBox('#cboAPVoucherReportRRNo');
        var cboAPReportBranch = new wijmo.input.ComboBox('#cboAPReportBranch');
        var isCompanySelected = false;
        var cboAPReportAccount = new wijmo.input.ComboBox('#cboAPReportAccount');

        // ===================
        // AP All Filter Dates
        // ===================
        function createCboAPAllDateFilters() {
            // =========
            // AP report
            // =========
            cboAPReportDateAsOf.dispose();
            cboAPReportDateAsOf = new wijmo.input.InputDate('#cboAPReportDateAsOf', {
                format: 'MM-dd-yyyy',
                value: new Date()
            });

            // =========
            // Input VAT
            // =========
            cboAPInputVATReportStartDate.dispose();
            cboAPInputVATReportStartDate = new wijmo.input.InputDate('#cboAPInputVATReportStartDate', {
                format: 'MM-dd-yyyy',
                value: new Date()
            });

            cboAPInputVATReportEndDate.dispose();
            cboAPInputVATReportEndDate = new wijmo.input.InputDate('#cboAPInputVATReportEndDate', {
                format: 'MM-dd-yyyy',
                value: new Date()
            });

            // ===============
            // WithHolding Tax
            // ===============
            cboAPWithHoldingTAXReportStartDate.dispose();
            cboAPWithHoldingTAXReportStartDate = new wijmo.input.InputDate('#cboAPWithHoldingTAXReportStartDate', {
                format: 'MM-dd-yyyy',
                value: new Date()
            });

            cboAPWithHoldingTAXReportEndDate.dispose();
            cboAPWithHoldingTAXReportEndDate = new wijmo.input.InputDate('#cboAPWithHoldingTAXReportEndDate', {
                format: 'MM-dd-yyyy',
                value: new Date()
            });

            // =======================
            // Purhcase Summary Report
            // =======================
            cboAPPurchaseSummaryReportStartDate.dispose();
            cboAPPurchaseSummaryReportStartDate = new wijmo.input.InputDate('#cboAPPurchaseSummaryReportStartDate', {
                format: 'MM-dd-yyyy',
                value: new Date()
            });

            cboAPPurchaseSummaryReportEndDate.dispose();
            cboAPPurchaseSummaryReportEndDate = new wijmo.input.InputDate('#cboAPPurchaseSummaryReportEndDate', {
                format: 'MM-dd-yyyy',
                value: new Date()
            });

            // ======================
            // Purhcase Detail Report
            // ======================
            cboAPPurchaseDetailReportStartDate.dispose();
            cboAPPurchaseDetailReportStartDate = new wijmo.input.InputDate('#cboAPPurchaseDetailReportStartDate', {
                format: 'MM-dd-yyyy',
                value: new Date()
            });

            cboAPPurchaseDetailReportEndDate.dispose();
            cboAPPurchaseDetailReportEndDate = new wijmo.input.InputDate('#cboAPPurchaseDetailReportEndDate', {
                format: 'MM-dd-yyyy',
                value: new Date()
            });

            // ================================
            // Receiving Receipt Summary Report
            // ================================
            cboAPReceivingReceiptSummaryReportStartDate.dispose();
            cboAPReceivingReceiptSummaryReportStartDate = new wijmo.input.InputDate('#cboAPReceivingReceiptSummaryReportStartDate', {
                format: 'MM-dd-yyyy',
                value: new Date()
            });

            cboAPReceivingReceiptSummaryReportEndDate.dispose();
            cboAPReceivingReceiptSummaryReportEndDate = new wijmo.input.InputDate('#cboAPReceivingReceiptSummaryReportEndDate', {
                format: 'MM-dd-yyyy',
                value: new Date()
            });

            // ===============================
            // Receiving Receipt Detail Report
            // ===============================
            cboAPReceivingReceiptDetailReportStartDate.dispose();
            cboAPReceivingReceiptDetailReportStartDate = new wijmo.input.InputDate('#cboAPReceivingReceiptDetailReportStartDate', {
                format: 'MM-dd-yyyy',
                value: new Date()
            });

            cboAPReceivingReceiptDetailReportEndDate.dispose();
            cboAPReceivingReceiptDetailReportEndDate = new wijmo.input.InputDate('#cboAPReceivingReceiptDetailReportEndDate', {
                format: 'MM-dd-yyyy',
                value: new Date()
            });

            // ===========================
            // Disbursement Summary Report
            // ===========================
            cboAPdisbursementSummaryReportStartDate.dispose();
            cboAPdisbursementSummaryReportStartDate = new wijmo.input.InputDate('#cboAPdisbursementSummaryReportStartDate', {
                format: 'MM-dd-yyyy',
                value: new Date()
            });

            cboAPdisbursementSummaryReportEndDate.dispose();
            cboAPdisbursementSummaryReportEndDate = new wijmo.input.InputDate('#cboAPdisbursementSummaryReportEndDate', {
                format: 'MM-dd-yyyy',
                value: new Date()
            });

            // ===========================
            // Disbursement Summary Report
            // ===========================
            cboAPDisbursementDetailReportStartDate.dispose();
            cboAPDisbursementDetailReportStartDate = new wijmo.input.InputDate('#cboAPDisbursementDetailReportStartDate', {
                format: 'MM-dd-yyyy',
                value: new Date()
            });

            cboAPDisbursementDetailReportEndDate.dispose();
            cboAPDisbursementDetailReportEndDate = new wijmo.input.InputDate('#cboAPDisbursementDetailReportEndDate', {
                format: 'MM-dd-yyyy',
                value: new Date()
            });

            createCboAPAllCompanyFilters();
        }

        // ======================
        // AP All Company Filters
        // ======================
        function createCboAPAllCompanyFilters() {
            var companyObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/company/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (companyResults) {
                    if (companyResults.length > 0) {
                        for (i = 0; i < companyResults.length; i++) {
                            companyObservableArray.push({
                                Id: companyResults[i]["Id"],
                                Company: companyResults[i]["Company"],
                                Address: companyResults[i]["Address"],
                                ContactNumber: companyResults[i]["ContactNumber"],
                                TaxNumber: companyResults[i]["TaxNumber"],
                            });
                        }
                    }

                    var disabled = true;
                    if (companyResults.length > 0) {
                        disabled = false;
                    } else {
                        $("#btnAPReportView").prop("disabled", true);
                        $("#btnAPReportPrintPDF").prop("disabled", true);
                    }

                    cboAPReportComapny.dispose();
                    cboAPReportComapny = new wijmo.input.ComboBox('#cboAPReportComapny', {
                        disabled: disabled,
                        isEditable: false,
                        itemsSource: companyObservableArray,
                        displayMemberPath: "Company",
                        selectedValuePath: "Id",
                        onSelectedIndexChanged: function () {
                            isCompanySelected = true;
                            createCboAPAllBranchFilters();
                        }
                    });

                    createCboAPAllBranchFilters();
                }
            });
        }

        // =====================
        // AP All Branch Filters
        // =====================
        function createCboAPAllBranchFilters() {
            var branchObservableArray = new wijmo.collections.ObservableArray();
            if (cboAPReportComapny.selectedValue != null) {
                var companyId = cboAPReportComapny.selectedValue;
                $.ajax({
                    url: '/api/branch/byCompanyId/list/locked/' + companyId,
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    success: function (branchResults) {
                        if (branchResults.length > 0) {
                            for (i = 0; i < branchResults.length; i++) {
                                branchObservableArray.push({
                                    Id: branchResults[i]["Id"],
                                    CompanyId: branchResults[i]["CompanyId"],
                                    Branch: branchResults[i]["Branch"],
                                    Address: branchResults[i]["Address"],
                                    ContactNumber: branchResults[i]["ContactNumber"],
                                    TaxNumber: branchResults[i]["TaxNumber"]
                                });
                            }
                        }

                        var disabled = true;
                        if (branchResults.length > 0) {
                            disabled = false;
                            $("#btnAPReportView").prop("disabled", false);
                            $("#btnAPReportPrintPDF").prop("disabled", false);
                        } else {
                            $("#btnAPReportView").prop("disabled", true);
                            $("#btnAPReportPrintPDF").prop("disabled", true);
                        }

                        cboAPReportBranch.dispose();
                        cboAPReportBranch = new wijmo.input.ComboBox('#cboAPReportBranch', {
                            disabled: disabled,
                            isEditable: false,
                            itemsSource: branchObservableArray,
                            displayMemberPath: "Branch",
                            selectedValuePath: "Id"
                        });

                        if (!isCompanySelected) {
                            createCboAPRRNoFilter();
                        }
                    }
                });
            } else {
                cboAPReportBranch.dispose();
                cboAPReportBranch = new wijmo.input.ComboBox('#cboAPReportBranch', {
                    disabled: true,
                    isEditable: false,
                    itemsSource: branchObservableArray,
                });

                if (!isCompanySelected) {
                    createCboAPRRNoFilter();
                }
            }
        }

        // ================
        // AP RR No. Filter
        // ================
        function createCboAPRRNoFilter() {
            var RRNosObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/listReceivingReceipt',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (RRNoFilterResults) {
                    if (RRNoFilterResults.length > 0) {
                        for (i = 0; i < RRNoFilterResults.length; i++) {

                            var RRDateResult = new Date(RRNoFilterResults[i]["RRDate"])
                            var RRDate = ('0' + (RRDateResult.getMonth() + 1)).slice(-2) + '-' + ('0' + RRDateResult.getDate()).slice(-2) + '-' + RRDateResult.getFullYear();

                            RRNosObservableArray.push({
                                Id: RRNoFilterResults[i]["Id"],
                                RRNumber: RRNoFilterResults[i]["RRNumber"] + " (" + RRDate + ")",
                                RRDate: RRNoFilterResults[i]["RRDate"],
                            });
                        }
                    }

                    var disabled = true;
                    if (RRNoFilterResults.length > 0) {
                        disabled = false;
                    } else {
                        $("#btnAPVoucherReportPrintPDF").prop("disabled", true);
                    }

                    cboAPVoucherReportRRNo.dispose();
                    cboAPVoucherReportRRNo = new wijmo.input.ComboBox('#cboAPVoucherReportRRNo', {
                        disabled: disabled,
                        isEditable: false,
                        itemsSource: RRNosObservableArray,
                        displayMemberPath: "RRNumber",
                        selectedValuePath: "Id"
                    });

                    createCboAPAccountFilter();
                }
            });
        }

        // =================
        // AP Account Filter
        // =================
        function createCboAPAccountFilter() {
            var accountsObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/articleGroup/account/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (accountResults) {
                    if (accountResults.length > 0) {
                        for (i = 0; i < accountResults.length; i++) {
                            accountsObservableArray.push({
                                AccountId: accountResults[i]["AccountId"],
                                AccountCode: accountResults[i]["AccountCode"],
                                Account: accountResults[i]["Account"],
                            });
                        }
                    }

                    var disabled = true;
                    if (accountResults.length > 0) {
                        disabled = false;
                    } else {

                    }

                    cboAPReportAccount.dispose();
                    cboAPReportAccount = new wijmo.input.ComboBox('#cboAPReportAccount', {
                        disabled: disabled,
                        isEditable: false,
                        itemsSource: accountsObservableArray,
                        displayMemberPath: "Account",
                        selectedValuePath: "AccountId"
                    });
                }
            });
        }

        // ==============
        // AP Report View 
        // ==============
        function btnAPReportViewOnclick() {
            if (cboAPReportComapny.selectedValue != null) {
                if (cboAPReportBranch.selectedValue != null) {
                    if (cboAPReportAccount.selectedValue != null) {
                        var dateAsOf = cboAPReportDateAsOf.value.toLocaleDateString().replace(/\//g, '-');
                        var companyId = cboAPReportComapny.selectedValue;
                        var branchId = cboAPReportBranch.selectedValue;
                        var accountId = cboAPReportAccount.selectedValue;

                        window.location.href = '/Software/AccountsPayableReport?DateAsOf=' + dateAsOf + '&CompanyId=' + companyId + '&BranchId=' + branchId + '&AccountId=' + accountId;
                    } else {
                        toastr.error("Lacking Information");
                    }
                } else {
                    toastr.error("Lacking Information");
                }
            } else {
                toastr.error("Lacking Information");
            }
        }

        // ===================
        // AP Report Print PDF 
        // ===================
        function btnAPReportPrintPDFOnclick() {
            if (cboAPReportComapny.selectedValue != null) {
                if (cboAPReportBranch.selectedValue != null) {
                    if (cboAPReportAccount.selectedValue != null) {
                        var dateAsOf = cboAPReportDateAsOf.value.toLocaleDateString().replace(/\//g, '-');
                        var companyId = cboAPReportComapny.selectedValue;
                        var branchId = cboAPReportBranch.selectedValue;
                        var accountId = cboAPReportAccount.selectedValue;

                        window.location.href = '/RepAccountsPayable/AccountsPayable?DateAsOf=' + dateAsOf + '&CompanyId=' + companyId + '&BranchId=' + branchId + '&AccountId=' + accountId;
                    } else {
                        toastr.error("Lacking Information");
                    }
                } else {
                    toastr.error("Lacking Information");
                }
            } else {
                toastr.error("Lacking Information");
            }
        }

        // ===========================
        // AP Voucher Report Print PDF
        // ===========================
        function btnAPVoucherReportPrintPDFOnclick() {
            if (cboAPVoucherReportRRNo.selectedValue != null) {
                var RRId = cboAPVoucherReportRRNo.selectedValue;
                window.location.href = '/RepAccountsPayableVoucher/AccountsPayableVoucher?ReceivingReceiptId=' + RRId;
            } else {
                toastr.error("Lacking Information");
            }
        }

        // =============================
        // AP Input VAT Report Print PDF
        // =============================
        function btnAPInputVATReportPrintPDFOnclick() {
            var startDate = cboAPInputVATReportStartDate.value.toLocaleDateString().replace(/\//g, '-');
            var endDate = cboAPInputVATReportEndDate.value.toLocaleDateString().replace(/\//g, '-');

            window.location.href = '/RepInputVATReport/InputVATReport?StartDate=' + startDate + '&EndDate=' + endDate;
        }

        // ====================================
        // AP With Holding Tax Report Print PDF
        // ====================================
        function btnAPWithHoldingTaxReportPrintPDFOnclick() {
            var startDate = cboAPWithHoldingTAXReportStartDate.value.toLocaleDateString().replace(/\//g, '-');
            var endDate = cboAPWithHoldingTAXReportEndDate.value.toLocaleDateString().replace(/\//g, '-');

            window.location.href = '/RepWithholdingTaxReport/WithholdingTaxReport?StartDate=' + startDate + '&EndDate=' + endDate;
        }

        // ===============================
        // AP Purchase Summary Report View
        // ===============================
        function btnAPPurchaseSummaryReportViewOnClick() {
            var startDate = cboAPPurchaseSummaryReportStartDate.value.toLocaleDateString().replace(/\//g, '-');
            var endDate = cboAPPurchaseSummaryReportEndDate.value.toLocaleDateString().replace(/\//g, '-');

            window.location.href = '/Software/PurchaseSummaryReport?StartDate=' + startDate + '&EndDate=' + endDate;
        }

        // ====================================
        // AP Purchase Summary Report Print PDF
        // ====================================
        function btnAPPurchaseSummaryReportPrintPDFOnClick() {
            var startDate = cboAPPurchaseSummaryReportStartDate.value.toLocaleDateString().replace(/\//g, '-');
            var endDate = cboAPPurchaseSummaryReportEndDate.value.toLocaleDateString().replace(/\//g, '-');

            window.location.href = '/RepPurchaseSummaryReport/PurchaseSummaryReport?StartDate=' + startDate + '&EndDate=' + endDate;
        }

        // ==============================
        // AP Purchase Detail Report View
        // ==============================
        function btnpAPPrchaseDetailReportViewOnClick() {
            var startDate = cboAPPurchaseDetailReportStartDate.value.toLocaleDateString().replace(/\//g, '-');
            var endDate = cboAPPurchaseDetailReportEndDate.value.toLocaleDateString().replace(/\//g, '-');

            window.location.href = '/Software/PurchaseDetailReport?StartDate=' + startDate + '&EndDate=' + endDate;
        }

        // ===================================
        // AP Purchase Detail Report Print PDF
        // ===================================
        function btnpAPPrchaseDetailReportPrintPDFOnClick() {
            var startDate = cboAPPurchaseDetailReportStartDate.value.toLocaleDateString().replace(/\//g, '-');
            var endDate = cboAPPurchaseDetailReportEndDate.value.toLocaleDateString().replace(/\//g, '-');

            window.location.href = '/RepPurchaseDetailReport/PurchaseDetailReport?StartDate=' + startDate + '&EndDate=' + endDate;
        }

        // ========================================
        // AP Receiving Receipt Summary Report View
        // ========================================
        function btnAPReceivingReceiptSummaryReportViewOnClick() {
            var startDate = cboAPReceivingReceiptSummaryReportStartDate.value.toLocaleDateString().replace(/\//g, '-');
            var endDate = cboAPReceivingReceiptSummaryReportEndDate.value.toLocaleDateString().replace(/\//g, '-');

            window.location.href = '/Software/ReceivingReceiptSummaryReport?StartDate=' + startDate + '&EndDate=' + endDate;
        }

        // =============================================
        // AP Receiving Receipt Summary Report Print PDF
        // =============================================
        function btnAPReceivingReceiptSummaryReportPrintPDFOnClick() {
            var startDate = cboAPReceivingReceiptSummaryReportStartDate.value.toLocaleDateString().replace(/\//g, '-');
            var endDate = cboAPReceivingReceiptSummaryReportEndDate.value.toLocaleDateString().replace(/\//g, '-');

            window.location.href = '/RepReceivingReceiptSummaryReport/ReceivingReceiptSummaryReport?StartDate=' + startDate + '&EndDate=' + endDate;
        }

        // =======================================
        // AP Receiving Receipt Detail Report View
        // =======================================
        function btnAPReceivingReceiptDetailReportViewOnClick() {
            var startDate = cboAPReceivingReceiptDetailReportStartDate.value.toLocaleDateString().replace(/\//g, '-');
            var endDate = cboAPReceivingReceiptDetailReportEndDate.value.toLocaleDateString().replace(/\//g, '-');

            window.location.href = '/Software/ReceivingReceiptDetailReport?StartDate=' + startDate + '&EndDate=' + endDate;
        }

        // ============================================
        // AP Receiving Receipt Detail Report Print PDF
        // ============================================
        function btnAPReceivingReceiptDetailReportPrintPDFOnClick() {
            var startDate = cboAPReceivingReceiptDetailReportStartDate.value.toLocaleDateString().replace(/\//g, '-');
            var endDate = cboAPReceivingReceiptDetailReportEndDate.value.toLocaleDateString().replace(/\//g, '-');

            window.location.href = '/RepReceivingReceiptDetailReport/ReceivingReceiptDetailReport?StartDate=' + startDate + '&EndDate=' + endDate;
        }

        // ===================================
        // AP Disbursement Summary Report View
        // ===================================
        function btnAPDisbursementSummaryReportViewOnClick() {
            var startDate = cboAPdisbursementSummaryReportStartDate.value.toLocaleDateString().replace(/\//g, '-');
            var endDate = cboAPdisbursementSummaryReportEndDate.value.toLocaleDateString().replace(/\//g, '-');

            window.location.href = '/Software/DisbursementSummaryReport?StartDate=' + startDate + '&EndDate=' + endDate;
        }

        // ========================================
        // AP Disbursement Summary Report Print PDF
        // ========================================
        function btnAPDisbursementSummaryReportPrintPDFOnClick() {
            var startDate = cboAPdisbursementSummaryReportStartDate.value.toLocaleDateString().replace(/\//g, '-');
            var endDate = cboAPdisbursementSummaryReportEndDate.value.toLocaleDateString().replace(/\//g, '-');

            window.location.href = '/RepDisbursementSummaryReport/DisbursementSummaryReport?StartDate=' + startDate + '&EndDate=' + endDate;
        }

        // ==================================
        // AP Disbursement Detail Report View
        // ==================================
        function btnAPDisbursementDetailReportViewOnClick() {
            var startDate = cboAPDisbursementDetailReportStartDate.value.toLocaleDateString().replace(/\//g, '-');
            var endDate = cboAPDisbursementDetailReportEndDate.value.toLocaleDateString().replace(/\//g, '-');

            window.location.href = '/Software/DisbursementDetailReport?StartDate=' + startDate + '&EndDate=' + endDate;
        }

        // =======================================
        // AP Disbursement Detail Report Print PDF
        // =======================================
        function btnAPDisbursementDetailReportPrintPDFOnClick() {
            var startDate = cboAPDisbursementDetailReportStartDate.value.toLocaleDateString().replace(/\//g, '-');
            var endDate = cboAPDisbursementDetailReportEndDate.value.toLocaleDateString().replace(/\//g, '-');

            window.location.href = '/RepDisbursementDetailReport/DisbursementDetailReport?StartDate=' + startDate + '&EndDate=' + endDate;
        }

        // ============
        // On Load Page
        // ============
        $(document).ready(function () {
            createCboAPAllDateFilters();
        });
    </script>
    <script type="text/javascript">
        var cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches');
        function getUserBranches() {
            $("#loadingUserBranches").show();
            document.getElementById("loadingUserBranches").innerHTML = '<i class="fa fa-spinner fa-spin"></i>';
            $("#userBranchContent").hide();

            $('#userBranchesModal').modal({ show: true, backdrop: 'static' });

            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
            $("#updateUserBranch").prop("disabled", false);
            $("#closeUserBranch").prop("disabled", false);

            var userBranchesObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/userBranch/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (userBranchesResults) {
                    if (userBranchesResults.length > 0) {
                        for (i = 0; i < userBranchesResults.length; i++) {
                            userBranchesObservableArray.push({
                                BranchId: userBranchesResults[i]["BranchId"],
                                Branch: userBranchesResults[i]["Branch"]
                            });
                        }
                    }

                    var currentBranch = "@ViewData["BranchId"]";
                    cboUserBranches.dispose();
                    cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches', {
                        isEditable: false,
                        placeholder: "Select Branches",
                        itemsSource: userBranchesObservableArray,
                        displayMemberPath: "Branch",
                        selectedValuePath: "BranchId",
                        selectedValue: currentBranch
                    });

                    setTimeout(function () {
                        $("#loadingUserBranches").hide();
                        $("#userBranchContent").show();
                    }, 500)
                }
            });
        }

        function updateUserBranchOnclick() {
            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Updating";
            $("#updateUserBranch").prop("disabled", true);
            $("#closeUserBranch").prop("disabled", true);

            var userBranchObject = new Object();
            userBranchObject.BranchId = cboUserBranches.selectedValue;
            var userBranchData = JSON.stringify(userBranchObject);

            $.ajax({
                type: "PUT",
                url: '/api/userBranch/update',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: userBranchData,
                statusCode: {
                    200: function () {
                        toastr.success("Update Successful");
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function () {
                        toastr.error("Not Found");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    },
                    500: function () {
                        toastr.error("Bad Request");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    }
                }
            });
        }
    </script>
    <script type="text/javascript">
        var slideLeft = new Menu({
            wrapper: '#o-wrapper',
            type: 'slide-left',
            menuOpenerClass: '.c-button',
            maskId: '#c-mask'
        });

        var slideLeftBtn = document.querySelector('#c-button--slide-left');

        slideLeftBtn.addEventListener('click', function (e) {
            e.preventDefault;
            slideLeft.open();
        });
    </script>
</body>
</html>