<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Title of the Page -->
    <link rel="shortcut icon" href="~/Images/icon/easyfislogomini.ico">
    <title>Accounts Payable Report</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Content/Software-css")
</head>
<body>
    <div id="o-wrapper" class="o-wrapper">
        <main class="o-content">
            @Html.Partial("_SoftwareHeader")
            <section class="content-header">
                <div class="container">
                    <h3>
                        Accounts Payable Report 
                    </h3>
                    <p>
                        <i class="fa fa-building-o fa-fw"></i> &nbsp; @ViewData["Company"] <br />
                        <i class="fa fa-home fa-fw"></i> &nbsp; <a href="#" onclick="getUserBranches()" style="color: white;">@ViewData["Branch"]</a>
                    </p>
                </div>
            </section>
            <section class="container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 49%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        <input type="text" class="form-control " id="InputFilter" placeholder="Search...">
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 50%" align="right">
                                    <button onclick="accountsPayableReportCSVOnclick()" id="btnCSV" class="btn btn-success "><i class="fa fa-file-excel-o" aria-hidden="true"></i> CSV</button>
                                    <button onclick="accountsPayableReportPDFOnclick()" id="btnPrintPDF" class="btn btn-primary "><i class="fa fa-print"></i> Print</button>
                                    <a href="/Software/AccountsPayable" class="btn btn-danger "><i class="fa fa-close"></i> Close</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 24%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Date as of</b></span>
                                        <div class="comboBox-wide" id="cboAPReportDateAsOf" style="font-size: 12.5px;"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%" align="right">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Company</b></span>
                                        <div class="comboBox-wide" id="cboAPReportComapny" style="font-size: 12.5px;"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Branch</b></span>
                                        <div class="comboBox-wide" id="cboAPReportBranch" style="font-size: 12.5px;"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Account</b></span>
                                        <div class="comboBox-wide" id="cboAPReportAccount" style="font-size: 12.5px;"></div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="accountsPayableGrid" style="font-size: 12.5px;"></div>
                <br /><br />
                <div class="row">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">
                        <dl class="dl-horizontal dl-custom">
                            <dt>
                                <b>Total Balance</b>
                            </dt>
                            <dd>
                                <input type="text" class="form-control numberField" id="totalBalance" placeholder="0.00" disabled />
                            </dd>
                            <dt>
                                <b>Total Current Amount</b>
                            </dt>
                            <dd>
                                <input type="text" class="form-control numberField" id="totalCurrentAmount" placeholder="0.00" disabled />
                            </dd>
                            <dt>
                                <b>Total Amount in 30 Days</b>
                            </dt>
                            <dd>
                                <input type="text" class="form-control numberField" id="totalAmount30Days" placeholder="0.00" disabled />
                            </dd>
                            <dt>
                                <b>Total Amount in 60 Days</b>
                            </dt>
                            <dd>
                                <input type="text" class="form-control numberField" id="totalAmount60Days" placeholder="0.00" disabled />
                            </dd>
                            <dt>
                                <b>Total Amount in 90 Days</b>
                            </dt>
                            <dd>
                                <input type="text" class="form-control numberField" id="totalAmount90Days" placeholder="0.00" disabled />
                            </dd>
                            <dt>
                                <b>Total Amount Over 120 Days</b>
                            </dt>
                            <dd>
                                <input type="text" class="form-control numberField" id="totalAmountOver120Days" placeholder="0.00" disabled />
                            </dd>
                        </dl>
                    </div>
                </div>
            </section>
            @Html.Partial("_SoftwareFooter")
        </main>
    </div>
    <div id="c-mask" class="c-mask"></div>

    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        // ================
        // Global Variables
        // ================
        var cboAPReportDateAsOf = new wijmo.input.InputDate('#cboAPReportDateAsOf');
        var isDateAsOfSelected = true;
        var cboAPReportComapny = new wijmo.input.ComboBox('#cboAPReportComapny');
        var cboAPReportBranch = new wijmo.input.ComboBox('#cboAPReportBranch');
        var cboAPReportAccount = new wijmo.input.ComboBox('#cboAPReportAccount');
        var accountsPayableCollections;
        var accountsPayableGrid;
        var accountHasData = false;

        // ====================
        // Get Parameter Values
        // ====================
        function getParam(name) {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");

            var regexS = "[\\?&]" + name + "=([^&#]*)";
            var regex = new RegExp(regexS);

            var results = regex.exec(window.location.href);
            if (results == null) {
                return "";
            } else {
                return results[1];
            }
        }

        // ==============
        // AP Filter Date
        // ==============
        function createCboAPAllDateFilters() {
            NProgress.start();
            cboAPReportDateAsOf.dispose();
            cboAPReportDateAsOf = new wijmo.input.InputDate('#cboAPReportDateAsOf', {
                format: 'MM-dd-yyyy',
                value: new Date(getParam("DateAsOf")),
                onValueChanged: function () {
                    if (isDateAsOfSelected) {
                        NProgress.start();
                        refreshAccountsPayableFlexGrid();
                    } else {
                        isDateAsOfSelected = false;
                    }
                }
            });

            createCboAPAllCompanyFilter();
        }

        var isCompanySelected = false;

        // ======================
        // AP All Company Filters
        // ======================
        function createCboAPAllCompanyFilter() {
            var companyObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/company/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (companyResults) {
                    if (companyResults.length > 0) {
                        for (i = 0; i < companyResults.length; i++) {
                            companyObservableArray.push({
                                Id: companyResults[i]["Id"],
                                Company: companyResults[i]["Company"],
                                Address: companyResults[i]["Address"],
                                ContactNumber: companyResults[i]["ContactNumber"],
                                TaxNumber: companyResults[i]["TaxNumber"],
                            });
                        }
                    }

                    var disabled = true;
                    if (companyResults.length > 0) {
                        disabled = false;
                    } else {
                        $("#btnCSV").prop("disabled", true);
                        $("#btnPrintPDF").prop("disabled", true);
                    }

                    cboAPReportComapny.dispose();
                    cboAPReportComapny = new wijmo.input.ComboBox('#cboAPReportComapny', {
                        disabled: disabled,
                        isEditable: false,
                        itemsSource: companyObservableArray,
                        displayMemberPath: "Company",
                        selectedValuePath: "Id",
                        selectedValue: getParam("CompanyId"),
                        onSelectedIndexChanged: function () {
                            NProgress.start();
                            if (accountHasData) {
                                $("#btnCSV").prop("disabled", false);
                                $("#btnPrintPDF").prop("disabled", false);
                            }
                            isCompanySelected = true;
                            createCboAPBranchFilter();
                        }
                    });

                    createCboAPBranchFilter();
                }
            });
        }

        // ================
        // AP Branch Filter
        // ================
        function createCboAPBranchFilter() {
            var branchObservableArray = new wijmo.collections.ObservableArray();
            if (cboAPReportComapny.selectedValue != null) {
                var companyId = cboAPReportComapny.selectedValue;

                $.ajax({
                    url: '/api/branch/byCompanyId/list/locked/' + companyId,
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    success: function (branchResults) {
                        if (branchResults.length > 0) {
                            for (i = 0; i < branchResults.length; i++) {
                                branchObservableArray.push({
                                    Id: branchResults[i]["Id"],
                                    CompanyId: branchResults[i]["CompanyId"],
                                    Branch: branchResults[i]["Branch"],
                                    Address: branchResults[i]["Address"],
                                    ContactNumber: branchResults[i]["ContactNumber"],
                                    TaxNumber: branchResults[i]["TaxNumber"]
                                });
                            }
                        }

                        var disabled = true;
                        if (branchResults.length > 0) {
                            disabled = false;
                        } else {
                            $("#btnCSV").prop("disabled", true);
                            $("#btnPrintPDF").prop("disabled", true);
                        }

                        cboAPReportBranch.dispose();
                        cboAPReportBranch = new wijmo.input.ComboBox('#cboAPReportBranch', {
                            disabled: disabled,
                            isEditable: false,
                            itemsSource: branchObservableArray,
                            displayMemberPath: "Branch",
                            selectedValuePath: "Id",
                            selectedValue: getParam("BranchId"),
                            onSelectedIndexChanged: function () {
                                NProgress.start();
                                refreshAccountsPayableFlexGrid();
                            }
                        });

                        if (!isCompanySelected) {
                            createCboAPAccountFilter();
                        } else {
                            refreshAccountsPayableFlexGrid();
                        }
                    }
                });
            } else {
                cboAPReportBranch.dispose();
                cboAPReportBranch = new wijmo.input.ComboBox('#cboAPReportBranch', {
                    disabled: true,
                    isEditable: false,
                    itemsSource: branchObservableArray
                });

                refreshAccountsPayableFlexGrid();
            }
        }

        // =================
        // AP Account Filter
        // =================
        function createCboAPAccountFilter() {
            var accountsObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/articleGroup/account/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (accountResults) {
                    if (accountResults.length > 0) {
                        for (i = 0; i < accountResults.length; i++) {
                            accountsObservableArray.push({
                                AccountId: accountResults[i]["AccountId"],
                                AccountCode: accountResults[i]["AccountCode"],
                                Account: accountResults[i]["Account"],
                            });
                        }
                    }

                    var disabled = true;
                    if (accountResults.length > 0) {
                        disabled = false;
                        accountHasData = true;
                    } else {
                        $("#btnCSV").prop("disabled", true);
                        $("#btnPrintPDF").prop("disabled", true);
                    }

                    cboAPReportAccount.dispose();
                    cboAPReportAccount = new wijmo.input.ComboBox('#cboAPReportAccount', {
                        disabled: disabled,
                        isEditable: false,
                        itemsSource: accountsObservableArray,
                        displayMemberPath: "Account",
                        selectedValuePath: "AccountId",
                        selectedValue: getParam("AccountId"),
                        onSelectedIndexChanged: function () {
                            NProgress.start();
                            refreshAccountsPayableFlexGrid();
                        }
                    });

                    createAccounstPayableFlexGrid();
                }
            });
        }

        // ================
        // Accounts Payable
        // ================
        function getAccountsPayable() {
            var accountsPayableObservableArray = new wijmo.collections.ObservableArray;
            if (cboAPReportComapny.selectedValue != null) {
                if (cboAPReportBranch.selectedValue != null) {
                    if (cboAPReportAccount.selectedValue != null) {

                        var dateAsOf = cboAPReportDateAsOf.value.toLocaleDateString().replace(/\//g, '-');
                        var companyId = cboAPReportComapny.selectedValue;
                        var branchId = cboAPReportBranch.selectedValue;
                        var accountId = cboAPReportAccount.selectedValue;

                        $.ajax({
                            url: '/api/accountsPayable/list/' + dateAsOf + "/" + companyId + "/" + branchId + "/" + accountId,
                            cache: false,
                            type: 'GET',
                            contentType: 'application/json; charset=utf-8',
                            success: function (accountsPayableResults) {
                                var totalBalance = 0;
                                var totalCurrentAmount = 0;
                                var totalAge30Amount = 0;
                                var totalAge60Amount = 0;
                                var totalAge90Amount = 0;
                                var totalAge120Amount = 0;

                                if (accountsPayableResults.length > 0) {
                                    for (i = 0; i < accountsPayableResults.length; i++) {
                                        var docLink = "/Software/ReceivingReceiptDetail?id=" + accountsPayableResults[i]["Id"];

                                        totalBalance = totalBalance + accountsPayableResults[i]["BalanceAmount"];
                                        totalCurrentAmount = totalCurrentAmount + accountsPayableResults[i]["CurrentAmount"];
                                        totalAge30Amount = totalAge30Amount + accountsPayableResults[i]["Age30Amount"];
                                        totalAge60Amount = totalAge60Amount + accountsPayableResults[i]["Age60Amount"];
                                        totalAge90Amount = totalAge90Amount + accountsPayableResults[i]["Age90Amount"];
                                        totalAge120Amount = totalAge120Amount + accountsPayableResults[i]["Age120Amount"];

                                        var RRDateResult = new Date(accountsPayableResults[i]["RRDate"])
                                        var RRDate = ('0' + (RRDateResult.getMonth() + 1)).slice(-2) + '-' + ('0' + RRDateResult.getDate()).slice(-2) + '-' + RRDateResult.getFullYear();

                                        var DueDateResult = new Date(accountsPayableResults[i]["DueDate"])
                                        var DueDate = ('0' + (DueDateResult.getMonth() + 1)).slice(-2) + '-' + ('0' + DueDateResult.getDate()).slice(-2) + '-' + DueDateResult.getFullYear();

                                        accountsPayableObservableArray.push({
                                            Id: accountsPayableResults[i]["Id"],
                                            AccountId: accountsPayableResults[i]["AccountId"],
                                            AccountCode: accountsPayableResults[i]["AccountCode"],
                                            Account: accountsPayableResults[i]["AccountCode"] + "-" + accountsPayableResults[i]["Account"],
                                            SupplierId: accountsPayableResults[i]["SupplierId"],
                                            Supplier: accountsPayableResults[i]["Supplier"],
                                            RRNumber: "<a href='" + docLink + "' style='font-size: 10px;' class='btn btn-primary btn-xs btn-block'>" + accountsPayableResults[i]["RRNumber"] + "</a>",
                                            RRNumberValue: accountsPayableResults[i]["RRNumber"],
                                            RRNumberCSVValue: "RR-" + accountsPayableResults[i]["RRNumber"],
                                            RRDate: RRDate,
                                            DocumentReference: accountsPayableResults[i]["DocumentReference"],
                                            BalanceAmount: accountsPayableResults[i]["BalanceAmount"],
                                            BalanceAmountDisplay: parseFloat(accountsPayableResults[i]["BalanceAmount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                            DueDate: DueDate,
                                            NumberOfDaysFromDueDate: accountsPayableResults[i]["NumberOfDaysFromDueDate"],
                                            CurrentAmount: accountsPayableResults[i]["CurrentAmount"],
                                            CurrentAmountDisplay: parseFloat(accountsPayableResults[i]["CurrentAmount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                            Age30Amount: accountsPayableResults[i]["Age30Amount"],
                                            Age30AmountDisplay: parseFloat(accountsPayableResults[i]["Age30Amount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                            Age60Amount: accountsPayableResults[i]["Age60Amount"],
                                            Age60AmountDisplay: parseFloat(accountsPayableResults[i]["Age60Amount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                            Age90Amount: accountsPayableResults[i]["Age90Amount"],
                                            Age90AmountDisplay: parseFloat(accountsPayableResults[i]["Age90Amount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                            Age120Amount: accountsPayableResults[i]["Age120Amount"],
                                            Age120AmountDisplay: parseFloat(accountsPayableResults[i]["Age120Amount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                        });
                                    }
                                }

                                document.getElementById("totalBalance").value = parseFloat(totalBalance).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                document.getElementById("totalCurrentAmount").value = parseFloat(totalCurrentAmount).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                document.getElementById("totalAmount30Days").value = parseFloat(totalAge30Amount).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                document.getElementById("totalAmount60Days").value = parseFloat(totalAge60Amount).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                document.getElementById("totalAmount90Days").value = parseFloat(totalAge90Amount).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                document.getElementById("totalAmountOver120Days").value = parseFloat(totalAge120Amount).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");

                                NProgress.done();
                            }
                        });
                    } else {
                        document.getElementById("totalBalance").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        document.getElementById("totalCurrentAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        document.getElementById("totalAmount30Days").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        document.getElementById("totalAmount60Days").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        document.getElementById("totalAmount90Days").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        document.getElementById("totalAmountOver120Days").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");

                        NProgress.done();
                    }
                } else {
                    document.getElementById("totalBalance").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    document.getElementById("totalCurrentAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    document.getElementById("totalAmount30Days").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    document.getElementById("totalAmount60Days").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    document.getElementById("totalAmount90Days").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    document.getElementById("totalAmountOver120Days").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");

                    NProgress.done();
                }
            } else {
                document.getElementById("totalBalance").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                document.getElementById("totalCurrentAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                document.getElementById("totalAmount30Days").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                document.getElementById("totalAmount60Days").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                document.getElementById("totalAmount90Days").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                document.getElementById("totalAmountOver120Days").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");

                NProgress.done();
            }

            return accountsPayableObservableArray;
        }

        // ==========================
        // Accounts Payable Flex Grid
        // ==========================
        function createAccounstPayableFlexGrid() {
            accountsPayableCollections = new wijmo.collections.CollectionView(getAccountsPayable());
            accountsPayableCollections.canFilter = true;

            var filterText = '';
            $('#InputFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                accountsPayableCollections.refresh();
            });

            accountsPayableCollections.filter = function (item) {
                return !filterText || (item.Account.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Supplier.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.RRNumberValue.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.DocumentReference.toLowerCase().indexOf(filterText) > -1);
            }

            accountsPayableGrid = new wijmo.grid.FlexGrid('#accountsPayableGrid');
            accountsPayableGrid.initialize({
                columns: [
                    {
                        "header": "RR No.",
                        "binding": "RRNumber",
                        "allowSorting": true,
                        "width": 80,
                        "isContentHtml": true
                    },
                    {
                        "header": "Supplier",
                        "binding": "Supplier",
                        "allowSorting": true,
                        "width": "1.3*",

                    },
                    {
                        "header": "RR Date",
                        "binding": "RRDate",
                        "allowSorting": true,
                        "width": "0.8*"
                    },
                    {
                        "header": "Doc. Ref.",
                        "binding": "DocumentReference",
                        "allowSorting": true,
                        "width": "1*",
                    },
                    {
                        "header": "Due Date",
                        "binding": "DueDate",
                        "allowSorting": true,
                        "width": "0.8*"
                    },
                    {
                        "header": "Balance",
                        "binding": "BalanceAmountDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1*"
                    },
                    {
                        "header": "Current",
                        "binding": "CurrentAmountDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1*"
                    },
                    {
                        "header": "30 Days",
                        "binding": "Age30AmountDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1*"
                    },
                    {
                        "header": "60 Days",
                        "binding": "Age60AmountDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1*"
                    },
                    {
                        "header": "90 Days",
                        "binding": "Age90AmountDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1*"
                    },
                    {
                        "header": "Over 120 Days",
                        "binding": "Age120AmountDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1*"
                    },
                ],
                autoGenerateColumns: false,
                itemsSource: accountsPayableCollections,
                isReadOnly: true,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            accountsPayableGrid.trackChanges = true;
        }

        // ==================================
        // Refresh Accounts Payable Flex Grid
        // ==================================
        function refreshAccountsPayableFlexGrid() {
            accountsPayableCollections = new wijmo.collections.CollectionView(getAccountsPayable());
            accountsPayableCollections.canFilter = true;

            var filterText = '';
            $('#InputFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                accountsPayableCollections.refresh();
            });

            accountsPayableCollections.filter = function (item) {
                return !filterText || (item.Account.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Supplier.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.RRNumberValue.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.DocumentReference.toLowerCase().indexOf(filterText) > -1);
            }

            accountsPayableGrid.itemsSource = accountsPayableCollections;
            accountsPayableGrid.trackChanges = true;
        }

        // ============
        // Download CSV
        // ============
        function accountsPayableReportCSVOnclick() {
            var CSV = '';
            var accountPayables = [];
            var fileName = 'AccountsPayableReport.CSV';

            for (i = 0; i < accountsPayableCollections.items.length; i++) {
                accountPayables.push({
                    RRNumber: accountsPayableCollections.items[i].RRNumberCSVValue,
                    Account: accountsPayableCollections.items[i].Account,
                    Supplier: accountsPayableCollections.items[i].Supplier,
                    RRDate: accountsPayableCollections.items[i].RRDate,
                    DocumentReference: accountsPayableCollections.items[i].DocumentReference,
                    DueDate: accountsPayableCollections.items[i].DueDate,
                    BalanceAmount: accountsPayableCollections.items[i].BalanceAmount,
                    CurrentAmount: accountsPayableCollections.items[i].CurrentAmount,
                    Age30Amount: accountsPayableCollections.items[i].Age30Amount,
                    Age60Amount: accountsPayableCollections.items[i].Age60Amount,
                    Age90Amount: accountsPayableCollections.items[i].Age90Amount,
                    Age120Amount: accountsPayableCollections.items[i].Age120Amount
                });
            }

            var Headers = [];
            Headers.push({
                RRNumber: "RR Number",
                Account: "Account",
                Supplier: "Supplier",
                RRDate: "RR Date",
                DocumentReference: "Doc Reference",
                DueDate: "Due Date",
                BalanceAmount: "Balance",
                CurrentAmount: "Current",
                Age30Amount: "30 Days",
                Age60Amount: "60 Days",
                Age90Amount: "90 Days",
                Age120Amount: "120 Days"
            });

            var header = '';
            for (var b in Headers[0]) {
                header += '"' + Headers[0][b] + '",';
            }

            CSV = header + '\r\n';
            for (var i = 0; i < accountPayables.length; i++) {
                var row = '';
                for (var a in accountPayables[i]) {
                    row += '"' + accountPayables[i][a] + '",';
                }

                row.slice(0, row.length - 1);
                CSV += row + '\r\n';
            }

            if (CSV == '') {
                toastr.error("No data.");
            } else {
                var link = document.createElement("a");
                if (link.download !== undefined) {
                    var blob = new Blob([CSV], { type: 'text/csv;charset=utf-8;' });
                    var url = URL.createObjectURL(blob);
                    link.setAttribute("href", url);
                    link.setAttribute("download", fileName);
                    link.style = "visibility:hidden";
                }

                if (navigator.msSaveBlob) {
                    link.addEventListener("click", function (event) {
                        var blob = new Blob([CSV], {
                            "type": "text/csv;charset=utf-8;"
                        });
                        navigator.msSaveBlob(blob, fileName);
                    }, false);
                }

                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
                toastr.success("Dowload successful.");
            }
        }

        // =========
        // Print PDF
        // =========
        function accountsPayableReportPDFOnclick() {
            if (cboAPReportComapny.selectedValue != null) {
                if (cboAPReportBranch.selectedValue != null) {
                    if (cboAPReportAccount.selectedValue != null) {
                        var dateAsOf = cboAPReportDateAsOf.value.toLocaleDateString().replace(/\//g, '-');
                        var companyId = cboAPReportComapny.selectedValue;
                        var branchId = cboAPReportBranch.selectedValue;
                        var accountId = cboAPReportAccount.selectedValue;

                        window.location.href = '/RepAccountsPayable/AccountsPayable?DateAsOf=' + dateAsOf + '&CompanyId=' + companyId + '&BranchId=' + branchId + '&AccountId=' + accountId;
                    } else {
                        toastr.error("Lacking Information");
                    }
                } else {
                    toastr.error("Lacking Information");
                }
            } else {
                toastr.error("Lacking Information");
            }
        }

        // ============
        // On load Page
        // ============
        $(document).ready(function () {
            createCboAPAllDateFilters();
        });
    </script>
    <script type="text/javascript">
        var cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches');
        function getUserBranches() {
            $("#loadingUserBranches").show();
            document.getElementById("loadingUserBranches").innerHTML = '<i class="fa fa-spinner fa-spin"></i>';
            $("#userBranchContent").hide();

            $('#userBranchesModal').modal({ show: true, backdrop: 'static' });

            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
            $("#updateUserBranch").prop("disabled", false);
            $("#closeUserBranch").prop("disabled", false);

            var userBranchesObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/userBranch/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (userBranchesResults) {
                    if (userBranchesResults.length > 0) {
                        for (i = 0; i < userBranchesResults.length; i++) {
                            userBranchesObservableArray.push({
                                BranchId: userBranchesResults[i]["BranchId"],
                                Branch: userBranchesResults[i]["Branch"]
                            });
                        }
                    }

                    var currentBranch = "@ViewData["BranchId"]";
                    cboUserBranches.dispose();
                    cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches', {
                        isEditable: false,
                        placeholder: "Select Branches",
                        itemsSource: userBranchesObservableArray,
                        displayMemberPath: "Branch",
                        selectedValuePath: "BranchId",
                        selectedValue: currentBranch
                    });

                    setTimeout(function () {
                        $("#loadingUserBranches").hide();
                        $("#userBranchContent").show();
                    }, 500)
                }
            });
        }

        function updateUserBranchOnclick() {
            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Updating";
            $("#updateUserBranch").prop("disabled", true);
            $("#closeUserBranch").prop("disabled", true);

            var userBranchObject = new Object();
            userBranchObject.BranchId = cboUserBranches.selectedValue;
            var userBranchData = JSON.stringify(userBranchObject);

            $.ajax({
                type: "PUT",
                url: '/api/userBranch/update',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: userBranchData,
                statusCode: {
                    200: function () {
                        toastr.success("Update Successful");
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function () {
                        toastr.error("Not Found");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    },
                    500: function () {
                        toastr.error("Bad Request");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    }
                }
            });
        }
    </script>
    <script type="text/javascript">
        var slideLeft = new Menu({
            wrapper: '#o-wrapper',
            type: 'slide-left',
            menuOpenerClass: '.c-button',
            maskId: '#c-mask'
        });

        var slideLeftBtn = document.querySelector('#c-button--slide-left');

        slideLeftBtn.addEventListener('click', function (e) {
            e.preventDefault;
            slideLeft.open();
        });
    </script>
</body>
</html>