<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Some slide and push menu demos using CSS3 transitions.">

    <!-- Title of the Page -->
    <title>Software Dashboard</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Font-Awesome/css")
    @Styles.Render("~/Content/Software-css")
</head>
<body>
    <div id="wrapper" class="wrapper">
        <!-- Header -->
        <header>
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="@Url.Action("Index","Home")" class="navbar-brand"> ERP System</a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        @Html.Partial("_SoftwareAfterLogin")
                    </div>
                </div>
            </nav>
        </header>

        <!-- Section -->
        <section>
            <br /><br /><br />
            <div class="container">
                <button id="c-button--push-left" class="btn btn-default"><i class="fa fa-bars"></i> Menu</button>
                <a href="@Url.Action("Index","Software")" class="btn btn-default"><i class="fa fa-table"></i> DashBoard</a>
                <br /><br />
                <h2>Accounts Receivable</h2>
            </div>
        </section>
    </div>

    <!-- SideBar Menu -->
    <nav id="c-menu--push-left" class="c-menu c-menu--push-left">
        <h3 class="c-menu__close"><i class="fa fa-bars"></i> Software Dashboard</h3>
        <ul class="menu-items">
            <li class="menu-items"><a href="@Url.Action("Supplier","Software")" class="menu-link sidebar-menu-link"><i class="fa fa-truck "></i> Supplier</a></li>
            <li class="menu-items"><a href="@Url.Action("PurchaseOrder", "Software")" class="menu-link sidebar-menu-link"><i class="fa fa-tags"></i> Purchase Order</a></li>
            <li class="menu-items"><a href="@Url.Action("ReceivingReceipt", "Software")" class="menu-link sidebar-menu-link"><i class="fa fa-file-text-o"></i> Receiving Receipt</a></li>
            <li class="menu-items"><a href="@Url.Action("AccountsPayable", "Software")" class="menu-link sidebar-menu-link"><i class="fa fa-file-text-o"></i> Accounts Payable</a></li>
            <li class="menu-items"><a href="@Url.Action("Disbursement", "Software")" class="menu-link sidebar-menu-link"><i class="fa fa-file-text-o"></i> Disbursement</a></li>
            <li class="menu-items"><a href="@Url.Action("Bank", "Software")" class="menu-link sidebar-menu-link"><i class="fa fa-university"></i> Bank</a></li>
            <li class="menu-items"><a href="@Url.Action("Customer", "Software")" class="menu-link sidebar-menu-link"><i class="fa fa-users"></i> Customer</a></li>
            <li class="menu-items"><a href="@Url.Action("Sales", "Software")" class="menu-link sidebar-menu-link"><i class="fa fa-bar-chart"></i> Sales</a></li>
            <li class="menu-items"><a href="@Url.Action("AccountsReceivable", "Software")" class="menu-link sidebar-menu-link"><i class="fa fa-file-text-o"></i> Accounts Receivable</a></li>
            <li class="menu-items"><a href="@Url.Action("Collection", "Software")" class="menu-link sidebar-menu-link"><i class="fa fa-archive"></i> Collection</a></li>
            <li class="menu-items"><a href="@Url.Action("BankReconciliation", "Software")" class="menu-link sidebar-menu-link"><i class="fa fa-university"></i> Bank Reconciliation</a></li>
            <li class="menu-items"><a href="@Url.Action("Items", "Software")" class="menu-link sidebar-menu-link"><i class="fa fa-suitcase"></i> Items</a></li>
            <li class="menu-items"><a href="@Url.Action("StockIn", "Software")" class="menu-link sidebar-menu-link"><i class="fa fa-cubes"></i> Stock In</a></li>
            <li class="menu-items"><a href="@Url.Action("StockOut", "Software")" class="menu-link sidebar-menu-link"><i class="fa fa-cubes"></i> Stock Out</a></li>
            <li class="menu-items"><a href="@Url.Action("InventoryReport", "Software")" class="menu-link sidebar-menu-link"><i class="fa fa-file-text-o"></i> Inventory Report</a></li>
            <li class="menu-items"><a href="@Url.Action("StockTransfer", "Software")" class="menu-link sidebar-menu-link"><i class="fa fa-cubes"></i> Stock Transfer</a></li>
            <li class="menu-items"><a href="@Url.Action("SystemTables", "Software")" class="menu-link sidebar-menu-link"><i class="fa fa-cubes"></i> System Tables</a></li>
            <li class="menu-items"><a href="@Url.Action("ChartOfAccounts", "Software")" class="menu-link sidebar-menu-link"><i class="fa fa-line-chart"></i> Chart of Accounts</a></li>
            <li class="menu-items"><a href="@Url.Action("JournalVoucher", "Software")" class="menu-link sidebar-menu-link"><i class="fa fa-book"></i> Journal Voucher</a></li>
            <li class="menu-items"><a href="@Url.Action("Company", "Software")" class="menu-link sidebar-menu-link"><i class="fa fa-building"></i> Comapany</a></li>
            <li class="menu-items"><a href="@Url.Action("FinancialStatements", "Software")" class="menu-link sidebar-menu-link"><i class="fa fa-money"></i> Financial Statements</a></li>
            <li class="menu-items"><a href="@Url.Action("Users", "Software")" class="menu-link sidebar-menu-link"><i class="fa fa-user"></i> Users</a></li>
            <li class="menu-items"><a href="@Url.Action("Settings", "Software")" class="menu-link sidebar-menu-link"><i class="fa fa-gears"></i> Settings</a></li>
        </ul>
    </nav><!-- /c-menu push-left -->

    <div id="c-mask" class="c-mask"></div><!-- /c-mask -->
    @Scripts.Render("~/Scripts/Software-js")
</body>
</html>