@{
    var id = Request.QueryString["CompanyId"];
    var branchId = Request.QueryString["BranchId"];
}
<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Some slide and push menu demos using CSS3 transitions.">

    <!-- Title of the Page -->
    <title>Company Detail</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Font-Awesome/css")
    @Styles.Render("~/Content/Software-css")
    @Styles.Render("~/WijmoCSS/Wijmo-css")
</head>
<body>
    <div id="wrapper" class="wrapper">
        <!-- Header -->
        @Html.Partial("_SoftwareHeader")

        <!-- Section -->
        <section>
            <br /><br /><br />
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        @*<h4><img src='~/images/Icons/iCollect.png'> Company - Detail</h4>*@
                        <h4><i class="fa fa-cc-visa fa-2x"></i> Collection Detail</h4>
                        <br />
                        <div class="div_Current_Page">
                            @*<label id="currentBranchName"></label>*@
                            <span id="currentPage"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4 id="collectionDetailLabel"></h4>
                    </div>
                    <div class="col-md-6" align="right">
                        <button class="btn btn-primary btn-sm" id="cmdSaveCompany" onclick="cmdCompanySaveButton_OnClick()"><i class="fa fa-save"></i> Save</button>
                        <button onclick="window.location.href = '@Url.Action("Collection", "Software", new { BranchId = branchId })'" class="btn btn-danger btn-sm" id="cmdCloseButtonCompany"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
                @*<hr />*@
                <div class="well">
                    <form id="collectionDetailForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Branch:</label>
                                    <input type="text" class="form-control input-sm requiredCompany" id="company_Company">
                                </div>
                                <div class="form-group">
                                    <label>OR Number:</label>
                                    <textarea class="form-control textarea-custom requiredCompany" id="company_Address"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>OR Date:</label>
                                    <textarea class="form-control textarea-custom requiredCompany" id="company_Address"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Manual or Number:</label>
                                    <textarea class="form-control textarea-custom requiredCompany" id="company_Address"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Customer:</label>
                                    <textarea class="form-control textarea-custom requiredCompany" id="company_Address"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Particulars:</label>
                                    <textarea class="form-control textarea-custom requiredCompany" id="company_Address"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Approve By:</label>
                                    <input type="text" class="form-control input-sm requiredCompany" id="company_TaxNumber">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- Footer -->
        @Html.Partial("_SoftwareFooter")
    </div>

    <!-- SideBar Menu -->
    @Html.Partial("_SoftwareSideBarMenu")

    <div id="c-mask" class="c-mask"></div><!-- /c-mask -->
    <!-- Scripts JavaScripts -->
    @Scripts.Render("~/Scripts/Software-js")
    @Scripts.Render("~/WijmoScripts/Wijmo-js")
    <script type="text/javascript">

        document.getElementById('currentPage').innerHTML = '<a href="@Url.Action("Index", "Software", new { BranchId = branchId })" class="currentPageLinkCustom">Main Menu</a> > ' + ' <a href="@Url.Action("Collection", "Software", new { BranchId = branchId })" class="currentPageLinkCustom">Collection</a> ' + ' > Collection Detail';

    </script>
</body>
</html>