<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Title of the Page -->
    <link rel="shortcut icon" href="~/Images/icon/easyfislogomini.ico">
    <title>Collection Detail Report</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Content/Software-css")
</head>
<body class="">

    <div id="o-wrapper" class="o-wrapper">
        <main class="o-content">
            @Html.Partial("_SoftwareHeader")
            <section class="content-header">
                <div class="container">
                    <h3>
                        Collection Detail Report <br />  <small>@ViewData["Company"] &nbsp; | &nbsp; @ViewData["Branch"]</small>
                    </h3>
                </div>
            </section>
            <section class="container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 59%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        <input type="text" class="form-control " id="InputFilter" placeholder="Search">
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 40%" align="right">
                                    <button onclick="collectionDetailReportCSV_OnClick()" class="btn btn-primary "><i class="fa fa-file-excel-o" aria-hidden="true"></i> CSV</button>
                                    <button onclick="collectionDetailReportPDF_OnClick()" class="btn btn-primary "><i class="fa fa-print"></i> Print</button>
                                    <a href="/Software/AccountsReceivable" class="btn btn-danger "><i class="fa fa-close"></i> Close</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 59%">
                                    <div class="input-group ">
                                        <span class="input-group-addon">Date:</span>
                                        <input type="text" class="form-control " id="dateFrom" placeholder="filter date" disabled>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 20%" align="right"></td>
                                <td style="width: 20%"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-body">
                        <div id="collectionDetailReportGrid" class="grid"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <table class="table table-responsive table-bordered">
                            <tr>
                                <td align="right">
                                    <b>Total: </b>
                                </td>
                                <td style="padding-left: 10px" align="right">
                                    <span id="total">NA</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </section>
            @Html.Partial("_SoftwareFooter")
        </main>
    </div>

    <div id="c-mask" class="c-mask"></div><!-- /c-mask -->
    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        function getParam(name) {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
            var regexS = "[\\?&]" + name + "=([^&#]*)";
            var regex = new RegExp(regexS);
            var results = regex.exec(window.location.href);
            if (results == null)
                return "";
            else
                return results[1];
        }

        function collectionDetailReportPDF_OnClick() {
            window.location.href = '/RepCollectionDetailReport/CollectionDetailReport?StartDate=' + getParam("StartDate") + '&EndDate=' + getParam("EndDate");
        }

        function getCollectionDetailReport() {
            var collectionDetailReport = new wijmo.collections.ObservableArray;
            $.ajax({
                url: '/api/collectionDetailReport/list/' + getParam("StartDate") + '/' + getParam("EndDate"),
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (collectionDetailReportResult) {
                    if (collectionDetailReportResult.length > 0) {
                        var totalAmount = 0;

                        for (i = 0; i < collectionDetailReportResult.length; i++) {
                            var docLink = "/Software/CollectionDetail?CollectonId=" + collectionDetailReportResult[i]["ORId"];
                            // Array Push
                            collectionDetailReport.push({
                                ORId: collectionDetailReportResult[i]["Id"],
                                Id: collectionDetailReportResult[i]["Id"],
                                OR: collectionDetailReportResult[i]["OR"],
                                ORForCSV: "OR-" + collectionDetailReportResult[i]["OR"],
                                ORButton: "<a href='" + docLink + "' class='btn btn-default btn-xs btn-block' style='text-align: left'>" + collectionDetailReportResult[i]["OR"],
                                ORDate: collectionDetailReportResult[i]["ORDate"],
                                SI: collectionDetailReportResult[i]["SI"],
                                SIForCSV: "SI-" + collectionDetailReportResult[i]["SI"],
                                Amount: collectionDetailReportResult[i]["Amount"],
                                DepositoryBank: collectionDetailReportResult[i]["DepositoryBank"],
                                PayType: collectionDetailReportResult[i]["PayType"],
                                Customer: collectionDetailReportResult[i]["Customer"],
                                CheckNumber: collectionDetailReportResult[i]["CheckNumber"],
                                CheckDate: collectionDetailReportResult[i]["CheckDate"],
                                CheckBank: collectionDetailReportResult[i]["CheckBank"],
                                Particulars: collectionDetailReportResult[i]["Particulars"],
                                Remarks: collectionDetailReportResult[i]["Remarks"],
                                SoldBy: collectionDetailReportResult[i]["SoldBy"],
                            });

                            totalAmount += collectionDetailReportResult[i]["Amount"];
                        }

                        document.getElementById("total").innerHTML = totalAmount.toLocaleString();
                    }
                    NProgress.done();
                }
            });

            return collectionDetailReport;
        }
        var collectionDetailReportCollection;

        function collectionDetailReportCSV_OnClick() {


            var CSV = '';
            var collectionDetailReport = [];
            var fileName = 'CollectionDetailReport.CSV';

            for (i = 0; i < collectionDetailReportCollection.items.length; i++) {
                collectionDetailReport.push({
                    OR: collectionDetailReportCollection.items[i].ORForCSV,
                    ORDate: collectionDetailReportCollection.items[i].ORDate,
                    Customer: collectionDetailReportCollection.items[i].Customer,
                    PayType: collectionDetailReportCollection.items[i].PayType,
                    DepositoryBank: collectionDetailReportCollection.items[i].DepositoryBank,
                    Amount: collectionDetailReportCollection.items[i].Amount,
                    CheckNumber: collectionDetailReportCollection.items[i].CheckNumber,
                    CheckDate: collectionDetailReportCollection.items[i].CheckDate,
                    CheckBank: collectionDetailReportCollection.items[i].CheckBank,
                    Particulars: collectionDetailReportCollection.items[i].Particulars,
                    SI: collectionDetailReportCollection.items[i].SIForCSV,
                    Remarks: collectionDetailReportCollection.items[i].Remarks,
                    SoldBy: collectionDetailReportCollection.items[i].SoldBy
                });
            }

            //for (var i = 0; i < symbols.length; i++) {
            //    CSV += '"' + symbols[i].AccountCode + '"\r\n';
            //}

            //Rows
            var Headers = [];
            Headers.push({
                OR: "OR Number",
                ORDate: "OR Date",
                Customer: "Customer",
                PayType: "Pay Type",
                DepositoryBank: "Dispository Bank",
                Amount: "Amount",
                CheckNumber: "Check Number",
                CheckDate: "Check Date",
                CheckBank: "Check Bank",
                Particulars: "Particulars",
                SI: "SI Number",
                Remarks: "Remarks",
                SoldBy: "Sold By",
            });

            var header = '';
            for (var b in Headers[0]) {
                header += '"' + Headers[0][b] + '",';
            }
            CSV = header + '\r\n';
            for (var i = 0; i < collectionDetailReport.length; i++) {
                var row = '';
                for (var a in collectionDetailReport[i]) {
                    row += '"' + collectionDetailReport[i][a] + '",';
                }
                row.slice(0, row.length - 1);
                CSV += row + '\r\n';
            }

            if (CSV == '') {
                toastr.error("No data.");
            } else {
                var link = document.createElement("a");

                if (link.download !== undefined) {
                    var blob = new Blob([CSV], { type: 'text/csv;charset=utf-8;' });
                    var url = URL.createObjectURL(blob);
                    link.setAttribute("href", url);
                    link.setAttribute("download", fileName);
                    link.style = "visibility:hidden";
                }

                if (navigator.msSaveBlob) {
                    link.addEventListener("click", function (event) {
                        var blob = new Blob([CSV], {
                            "type": "text/csv;charset=utf-8;"
                        });
                        navigator.msSaveBlob(blob, fileName);
                    }, false);
                }

                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);

                toastr.success("Dowload successful.");
            }
        }


        $(document).ready(function () {
            NProgress.start();
            document.getElementById("dateFrom").value = "Date from " + getParam("StartDate") + " to " + getParam("EndDate");

            collectionDetailReportCollection = new wijmo.collections.CollectionView(getCollectionDetailReport());
            collectionDetailReportCollection.canFilter = true;

            var filterText = '';
            $('#InputFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                collectionDetailReportCollection.refresh();
            });
            collectionDetailReportCollection.filter = function (item) {
                return !filterText || (item.OR.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.PayType.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.DepositoryBank.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Customer.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.SI.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.CheckNumber.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.CheckBank.toLowerCase().indexOf(filterText) > -1)

            }
            // Flex Grid
            var collectionDetailReportGrid = new wijmo.grid.FlexGrid('#collectionDetailReportGrid');
            collectionDetailReportGrid.initialize({
                columns: [
                    {
                        "header": "OR Number  ",
                        "binding": "ORButton",
                        "isContentHtml": true,
                        "allowSorting": true,
                        "width": 110
                    },
                    {
                        "header": "OR Date ",
                        "binding": "ORDate",
                        "allowSorting": true,
                        "width": 100
                    },
                    {
                        "header": "Customer",
                        "binding": "Customer",
                        "allowSorting": true,
                        "width": 300
                    },
                    {
                        "header": "Pay Type",
                        "binding": "PayType",
                        "allowSorting": true,
                        "width": 200
                    },
                    {
                        "header": "SI Number",
                        "binding": "SI",
                        "allowSorting": true,
                        "width": 110
                    },
                    {
                        "header": "Dispository Bank",
                        "binding": "DepositoryBank",
                        "allowSorting": true,
                        "width": 200
                    },
                    {
                        "header": "Amount",
                        "binding": "Amount",
                        "allowSorting": true,
                        "width": 150
                    },
                    {
                        "header": "Check Number",
                        "binding": "CheckNumber",
                        "allowSorting": true,
                        "width": 170
                    },
                    {
                        "header": "Check Date",
                        "binding": "CheckDate",
                        "allowSorting": true,
                        "width": 100
                    },
                    {
                        "header": "Check Bank",
                        "binding": "CheckBank",
                        "allowSorting": true,
                        "width": 200
                    },
                ],
                autoGenerateColumns: false,
                itemsSource: collectionDetailReportCollection,
                isReadOnly: true,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            collectionDetailReportGrid.trackChanges = true;
        });
    </script>
    <script type="text/javascript">
        var slideLeft = new Menu({
            wrapper: '#o-wrapper',
            type: 'slide-left',
            menuOpenerClass: '.c-button',
            maskId: '#c-mask'
        });

        var slideLeftBtn = document.querySelector('#c-button--slide-left');

        slideLeftBtn.addEventListener('click', function (e) {
            e.preventDefault;
            slideLeft.open();
        });
    </script>
</body>
</html>