<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Title of the Page -->
    <link rel="shortcut icon" href="~/Images/icon/easyfislogomini.ico">
    <title>Company</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Content/Software-css")
</head>
<body class="hold-transition skin-blue fixed sidebar-mini">
    <div class="wrapper">
        @Html.Partial("_SoftwareHeader")
        @Html.Partial("_SoftwareSideBarMenu")

        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    Company
                    <small><i class="fa fa-building"></i> @ViewData["Company"] / @ViewData["Branch"]</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/Software"> Dashboard</a></li>
                    <li> Company </li>
                </ol>
            </section>

            <section class="content">
                <div class="box box-default">
                    <div class="box-header">

                    </div>
                    <div class="box-body">
                        <!-- Company List -->
                        <div id="companyList">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        <input type="text" class="form-control input-sm" id="InputFilter" placeholder="Search">
                                    </div>
                                </div>
                                <div class="col-lg-8" align="right">
                                    <button class="btn btn-primary btn-sm" onclick="btnAddCompany_OnClick()"><i class="fa fa-plus"></i> Add</button>
                                    <button class="btn btn-danger btn-sm" onclick="btnCloseCompany_OnClick()"><i class=" fa fa-times"></i> Close</button>
                                </div>
                            </div>
                            <br />
                            <div class="row" align="left">
                                <div class="col-lg-12">
                                    <div id="CompanyGrid" class="grid" align="left"></div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="btn-group col-md-7" id="naviagtionPageGrid">
                                    <button type="button" class="btn btn-default border-custom" id="btnMoveToFirstPageGrid">
                                        <span class="glyphicon glyphicon-fast-backward"></span>
                                    </button>
                                    <button type="button" class="btn btn-default border-custom" id="btnMoveToPreviousPageGrid">
                                        <span class="glyphicon glyphicon-step-backward"></span>
                                    </button>
                                    <button type="button" class="btn btn-default border-custom" disabled style="width: 100px" id="btnCurrentPageGrid"></button>
                                    <button type="button" class="btn btn-default border-custom" id="btnMoveToNextPageGrid">
                                        <span class="glyphicon glyphicon-step-forward"></span>
                                    </button>
                                    <button type="button" class="btn btn-default border-custom" id="btnMoveToLastPageGrid">
                                        <span class="glyphicon glyphicon-fast-forward"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        @Html.Partial("_SoftwareFooter")
    </div>

    <!-- Company Delete -->
    <div class="modal fade" id="deleteCompanyConfirm" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Company <i class="fa fa-trash"></i></h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger btn-sm" id="cmdConfirmDeleteCompany" onclick="cmdCompanyConfirmDeleteButton_OnClick()"><i class="fa fa-trash"></i> Delete</button>
                    <button id="cmdConfirmDeleteCloseButton" class="btn btn-primary btn-sm" data-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Lock -->
    <div class="modal fade" id="deleteRecordLock" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Record Locked <i class="fa fa-lock"></i></h4>
                </div>
                <div class="modal-body">
                    Sorry, the record is lock! It can't be deleted!
                </div>
                <div class="modal-footer">
                    <button id="cmdConfirmDeleteCloseButton" class="btn btn-primary btn-sm" data-dismiss="modal"> Okay</button>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        // ================
        // Global Variables
        // ================
        var companies;
        var companyGrid;

        var btnFirstPageGrid;
        var btnPreviousPageGrid;
        var btnNextPageGrid;
        var btnLastPageGrid;
        var btnCurrentPageGrid;

        // ================
        // GET Company List
        // ================
        function getCompany() {
            var companies = new wijmo.collections.ObservableArray;
            NProgress.start();
            $.ajax({
                url: '/api/company/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (Results) {
                    if (Results.length > 0) {
                        for (i = 0; i < Results.length; i++) {
                            if (Results[i]["IsLocked"] == true) {
                                companies.push({
                                    EditId: "<button class='btn btn-primary btn-xs btn-block' id='companyEditButton' onclick='cmdCompanyEditButton_OnClick()'><i class='fa fa-edit'></i> Edit</button>",
                                    DeleteId: "<button class='btn btn-danger btn-xs btn-block' id='companyDeleteButton' onclick='cmdCompanyDeleteLockButton_OnClick()'><i class='fa fa-trash'></i> Delete</button>",
                                    Id: Results[i]["Id"],
                                    Company: Results[i]["Company"],
                                    Address: Results[i]["Address"],
                                    ContactNumber: Results[i]["ContactNumber"],
                                    TaxNumber: Results[i]["TaxNumber"],
                                    IsLocked: Results[i]["IsLocked"],
                                    CreatedById: Results[i]["CreatedById"],
                                    CreatedBy: Results[i]["CreatedBy"],
                                    CreatedDateTime: Results[i]["CreatedDateTime"],
                                    UpdatedById: Results[i]["UpdatedById"],
                                    UpdatedBy: Results[i]["UpdatedBy"],
                                    UpdatedDateTime: Results[i]["UpdatedDateTime"]
                                });
                            } else {
                                companies.push({
                                    EditId: "<button class='btn btn-primary btn-xs btn-block' id='companyEditButton' onclick='cmdCompanyEditButton_OnClick()'><i class='fa fa-edit'></i> Edit</button>",
                                    DeleteId: "<button class='btn btn-danger btn-xs btn-block' id='companyDeleteButton' onclick='cmdCompanyDeleteButton_OnClick()'><i class='fa fa-trash'></i> Delete</button>",
                                    Id: Results[i]["Id"],
                                    Company: Results[i]["Company"],
                                    Address: Results[i]["Address"],
                                    ContactNumber: Results[i]["ContactNumber"],
                                    TaxNumber: Results[i]["TaxNumber"],
                                    IsLocked: Results[i]["IsLocked"],
                                    CreatedById: Results[i]["CreatedById"],
                                    CreatedBy: Results[i]["CreatedBy"],
                                    CreatedDateTime: Results[i]["CreatedDateTime"],
                                    UpdatedById: Results[i]["UpdatedById"],
                                    UpdatedBy: Results[i]["UpdatedBy"],
                                    UpdatedDateTime: Results[i]["UpdatedDateTime"]
                                });
                            }
                        }
                    }
                    NProgress.done();
                }
            }).fail(function (xhr, textStatus, err) {
                alert(err);
            });
            return companies;
        }

        // ==========================
        // Company Delete Lock Button
        // ==========================
        function cmdCompanyDeleteLockButton_OnClick() {
            $('#deleteRecordLock').modal({
                show: true,
                backdrop: 'static'
            });
        }

        // ==================
        // Company Add Button
        // ==================
        function btnAddCompany_OnClick() {
            window.location = '/Software/CompanyDetail';
        }

        // ====================
        // Company Close Button
        // ====================
        function btnCloseCompany_OnClick() {
            window.location = '/Software';
        }

        // ===================
        // Company Edit Button
        // ===================
        function cmdCompanyEditButton_OnClick() {
            companies.editItem(companies.currentItem);
            var company = companies.currentEditItem;
            var companyId = company.Id;
            window.location = '/Software/CompanyDetail?CompanyId=' + companyId;
        }

        // =====================
        // Company delete Button
        // =====================
        function cmdCompanyDeleteButton_OnClick() {
            $('#deleteCompanyConfirm').modal({
                show: true,
                backdrop: 'static'
            });

            $("#cmdConfirmDeleteCompany").prop("disabled", false);
            $("#cmdConfirmDeleteCloseButton").prop("disabled", false);
        }
        // Company Confirm Delete Button
        function cmdCompanyConfirmDeleteButton_OnClick() {
            $("#cmdConfirmDeleteCompany").prop("disabled", true);
            $("#cmdConfirmDeleteCloseButton").prop("disabled", true);

            companies.editItem(companies.currentItem);
            var id = companies.currentEditItem.Id;
            $.ajax({
                url: '/api/deleteCompany/' + id,
                type: "DELETE",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                statusCode: {
                    200: function () {
                        $("#cmdConfirmDeleteCompany").prop("disabled", true);
                        $("#cmdConfirmDeleteCloseButton").prop("disabled", true);
                        toastr.success("Successfully Deleted");

                        $('#deleteCompanyConfirm').modal('hide');

                        companies = new wijmo.collections.CollectionView(getCompany());
                        companies.canFilter = true;
                        companies.pageSize = 15;

                        var filterText = '';
                        $('#InputFilter').keyup(function () {
                            filterText = this.value.toLowerCase();
                            companies.refresh();
                        });
                        companies.filter = function (item) {
                            return !filterText || (item.Company.toLowerCase().indexOf(filterText) > -1);
                        }
                        companies.collectionChanged.addHandler(function (sender, args) {
                            updateNavigateButtonsCompany();
                        });
                        companies.currentChanged.addHandler(function (sender, args) {
                            updateDetails();
                        });

                        // Flex Grid
                        companyGrid.itemsSource = companies;
                        companyGrid.trackChanges = true;
                    },
                    404: function () {
                        toastr.error("Request Not Found");
                        $('#deleteCompanyConfirm').modal('hide');
                        $("#cmdConfirmDeleteCompany").prop("disabled", false);
                        $("#cmdConfirmDeleteCloseButton").prop("disabled", false);
                    },
                    400: function () {
                        toastr.error("Can't be deleted");
                        $('#deleteCompanyConfirm').modal('hide');
                        $("#cmdConfirmDeleteCompany").prop("disabled", false);
                        $("#cmdConfirmDeleteCloseButton").prop("disabled", false);
                    }
                }
            });
        }

        // ===================
        // FlexGrid Selection
        // ===================
        function updateDetails() {
            var item = companies.currentItem;
            document.getElementById('createdBy').innerHTML = item.CreatedBy;
            document.getElementById('createdDate').innerHTML = item.CreatedDateTime;
            document.getElementById('updatedBy').innerHTML = item.UpdatedBy;
            document.getElementById('updatedDate').innerHTML = item.UpdatedDateTime;
        }

        // ===============================
        // Navigation Buttons for Comapany
        // ===============================
        function updateNavigateButtonsCompany() {
            if (companies.pageSize <= 0) {
                document.getElementById('naviagtionPageGrid').style.display = 'none';
                return;
            }
            document.getElementById('naviagtionPageGrid').style.display = 'block';
            if (companies.pageIndex === 0) {
                btnFirstPageGrid.setAttribute('disabled', 'disabled');
                btnPreviousPageGrid.setAttribute('disabled', 'disabled');
                btnNextPageGrid.removeAttribute('disabled');
                btnLastPageGrid.removeAttribute('disabled');
            } else if (companies.pageIndex === (companies.pageCount - 1)) {
                btnFirstPageGrid.removeAttribute('disabled');
                btnPreviousPageGrid.removeAttribute('disabled');
                btnLastPageGrid.setAttribute('disabled', 'disabled');
                btnNextPageGrid.setAttribute('disabled', 'disabled');
            } else {
                btnFirstPageGrid.removeAttribute('disabled');
                btnPreviousPageGrid.removeAttribute('disabled');
                btnNextPageGrid.removeAttribute('disabled');
                btnLastPageGrid.removeAttribute('disabled');
            }
            btnCurrentPageGrid.innerHTML = (companies.pageIndex + 1) + ' / ' + companies.pageCount;
        }

        // ============
        // On Page Load
        // ============
        $(document).ready(function () {
            var userId = '@ViewData["MstUserId"]';
            rightsAccessValidation(userId);

            companies = new wijmo.collections.CollectionView(getCompany());
            companies.canFilter = true;
            companies.pageSize = 15;

            var filterText = '';
            $('#InputFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                companies.refresh();
            });
            companies.filter = function (item) {
                return !filterText || (item.Company.toLowerCase().indexOf(filterText) > -1);
            }
            companies.collectionChanged.addHandler(function (sender, args) {
                updateNavigateButtonsCompany();
            });
            companies.currentChanged.addHandler(function (sender, args) {
                updateDetails();
            });

            // Flex Grid
            companyGrid = new wijmo.grid.FlexGrid('#CompanyGrid');
            companyGrid.initialize({
                columns: [
                            {
                                "header": "Edit",
                                "binding": "EditId",
                                "width": 60,
                                "align": "center",
                                "allowResizing": false,
                                "allowSorting": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "Delete",
                                "binding": "DeleteId",
                                "width": 70,
                                "align": "center",
                                "allowResizing": false,
                                "allowSorting": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "Company",
                                "binding": "Company",
                                "allowSorting": true,
                                "width": "2*",
                            },
                            {
                                "header": "Address",
                                "binding": "Address",
                                "allowSorting": true,
                                "width": "4*"
                            },
                            {
                                "header": "TIN",
                                "binding": "TaxNumber",
                                "allowSorting": true,
                                "width": "2*"
                            },
                            {
                                "header": "Lock",
                                "binding": "IsLocked",
                                "allowSorting": true,
                                "width": "0.5*"
                            }
                ],
                autoGenerateColumns: false,
                itemsSource: companies,
                isReadOnly: true,
                //frozenColumns: 2,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            companyGrid.trackChanges = true;

            //Navigation button
            btnFirstPageGrid = document.getElementById('btnMoveToFirstPageGrid');
            btnPreviousPageGrid = document.getElementById('btnMoveToPreviousPageGrid');
            btnNextPageGrid = document.getElementById('btnMoveToNextPageGrid');
            btnLastPageGrid = document.getElementById('btnMoveToLastPageGrid');
            btnCurrentPageGrid = document.getElementById('btnCurrentPageGrid');

            updateNavigateButtonsCompany();

            btnFirstPageGrid.addEventListener('click', function () {
                companies.moveToFirstPage();
                updateNavigateButtonsCompany();
            });
            btnPreviousPageGrid.addEventListener('click', function () {
                companies.moveToPreviousPage();
                updateNavigateButtonsCompany();
            });
            btnNextPageGrid.addEventListener('click', function () {
                companies.moveToNextPage();
                updateNavigateButtonsCompany();
            });
            btnLastPageGrid.addEventListener('click', function () {
                companies.moveToLastPage();
                updateNavigateButtonsCompany();
            });
        });
    </script>
</body>
</html>