@{
    var id = Request.QueryString["id"];
}
<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Some slide and push menu demos using CSS3 transitions.">

    <!-- Title of the Page -->
    <title>Software Dashboard</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Font-Awesome/css")
    @Styles.Render("~/Content/Software-css")
    @Styles.Render("~/WijmoCSS/Wijmo-css")
</head>
<body>
    <div id="wrapper" class="wrapper">
        <!-- Header -->
        @Html.Partial("_SoftwareHeader")

        <!-- Section -->
        <section>
            <br /><br /><br />
            <div class="container">
                <a href="@Url.Action("Company","Software")" class="btn btn-default"><i class="fa fa-arrow-left"></i> Back</a>
                <hr />
                <h4>Company Detail:</h4>
                <div class="well">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="usr">Company:</label>
                                <input type="text" class="form-control" placeholder="Comapny Name" id="company_Company">
                            </div>
                            <div class="form-group">
                                <label for="usr">Contact Number:</label>
                                <input type="text" class="form-control" placeholder="Contact Number" id="company_ContactNumber">
                            </div>
                            <div class="form-group">
                                <label for="usr">TAX Number:</label>
                                <input type="text" class="form-control" placeholder="TAX Number" id="company_TaxNumber">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="usr">Company address:</label>
                                <textarea class="form-control textarea-custom-company" placeholder="Comapny Address" id="company_Address"></textarea>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12" align="right">
                            <button class="btn btn-primary" onclick="cmdCompanyAddButton_OnClick()"><i class="fa fa-plus"></i> Add</button>
                            <button class="btn btn-success" onclick="cmdCompanyUpdateButton_OnClick()"><i class="fa fa-pencil"></i> Update</button>
                        </div>
                    </div>
                </div>

                <hr class="divider" />
                <!-- Branch List -->
                <section id="branchList">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4>Branch List</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" readonly>
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                                <input type="text" class="form-control" id="InputFilter" placeholder="Search Company">
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <button type="submit" class="btn btn-primary pull-right" onclick="branchAddButton_OnClick()"><i class="fa fa-plus"></i> Add Branch</button>
                        </div>
                    </div>
                    <br />
                    <div class="row" align="left">
                        <div class="col-lg-12">
                            <div id="BranchGrid" class="grid" align="left"></div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="btn-group col-md-7" id="naviagtionPageGrid">
                            <button type="button" class="btn btn-default border-custom" id="btnMoveToFirstPageGrid">
                                <span class="glyphicon glyphicon-fast-backward"></span>
                            </button>
                            <button type="button" class="btn btn-default border-custom" id="btnMoveToPreviousPageGrid">
                                <span class="glyphicon glyphicon-step-backward"></span>
                            </button>
                            <button type="button" class="btn btn-default border-custom" disabled style="width: 100px" id="btnCurrentPageGrid"></button>
                            <button type="button" class="btn btn-default border-custom" id="btnMoveToNextPageGrid">
                                <span class="glyphicon glyphicon-step-forward"></span>
                            </button>
                            <button type="button" class="btn btn-default border-custom" id="btnMoveToLastPageGrid">
                                <span class="glyphicon glyphicon-fast-forward"></span>
                            </button>
                        </div>
                    </div>
                </section>
            </div>
        </section>

        <!-- Branch Edit Detail -->
        <div class="modal fade" id="branchEdit" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Branch edit detail</h4>
                    </div>
                    <div class="modal-body">
                        <dl class="dl-horizontal">
                            <dt>Company:</dt>
                            <dd><input class="form-control" placeholder="Company" id="branch_company" /></dd>
                            <dt>Branch:</dt>
                            <dd><input class="form-control" placeholder="Branch" id="branch_branch" /></dd>
                            <dt>Branch code:</dt>
                            <dd><input class="form-control" placeholder="Branch code" id="branch_Code" /></dd>
                            <dt>Address:</dt>
                            <dd><textarea class="form-control textarea-custom-branch" placeholder="Address" id="branch_Address"></textarea></dd>
                            <dt>Contact Number:</dt>
                            <dd><input class="form-control" placeholder="Contact Number" id="branch_ContactNumber" /></dd>
                            <dt>Tax Number:</dt>
                            <dd><input class="form-control" placeholder="Tax Number" id="branch_TaxNumber" /></dd>
                        </dl>
                    </div>
                    <div class="modal-footer">
                        @*<a href="#" class="modal-footer-custom">Forgot Password?</a>
                            Not yet a member? <a href="#">Register</a>*@
                        <button class="btn btn-primary"><i class="fa fa-check"></i> Ok</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Branch Delete Modal Confirmation -->
        <div class="modal fade" id="deleteBranchConfirm" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    @*<div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Delete Branch <i class="fa fa-trash"></i></h4>
                        </div>*@
                    <div class="modal-body">
                        Are you sure you want to delete this? <i class="fa fa-trash"></i>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" onclick="cmdBranchConfirmDeleteButton_OnClick()"><i class="fa fa-trash"></i> Delete</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- SideBar Menu -->
    @Html.Partial("_SoftwareSideBarMenu")

    <div id="c-mask" class="c-mask"></div><!-- /c-mask -->
    @Scripts.Render("~/Scripts/Software-js")
    @Scripts.Render("~/WijmoScripts/Wijmo-js")

    <script type="text/javascript">
        // ================
        // Global Variables
        // ================
        var branches;
        var branchGrid;

        var companies;

        var btnFirstPageGrid;
        var btnPreviousPageGrid;
        var btnNextPageGrid;
        var btnLastPageGrid;
        var btnCurrentPageGrid;

        // ================
        // GET Branch List
        // ================
        function getBranch() {
            var branches = new wijmo.collections.ObservableArray;
            $.ajax({
                url: '/api/listBranch',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (Results) {
                    if (Results.length > 0) {
                        for (i = 0; i < Results.length; i++) {
                            branches.push({

                                // GET data in api-ListBranch
                                EditId: "<button class='btn btn-primary btn-xs btn-block' onclick='cmdBranchEditButton_OnClick()'><i class='fa fa-pencil-square'></i> Edit</button>",
                                DeleteId: "<button class='btn btn-danger btn-xs btn-block' onclick='cmdBranchDeleteButton_OnClick()'><i class='fa fa-trash'></i> Delete</button>",
                                Id: Results[i]["Id"],
                                CompanyId: Results[i]["CompanyId"],
                                Company: Results[i]["Company"],
                                Branch: Results[i]["Branch"],
                                BranchCode: Results[i]["BranchCode"],
                                Address: Results[i]["Address"],
                                ContactNumber: Results[i]["ContactNumber"],
                                TaxNumber: Results[i]["TaxNumber"],

                                // Users in the System
                                IsLocked: Results[i]["IsLocked"],
                                CreatedById: Results[i]["CreatedById"],
                                CreateDateTime: Results[i]["CreateDateTime"],
                                UpdatedById: Results[i]["UpdatedById"],
                                UpdatedDateTime: Results[i]["UpdatedDateTime"]
                            });
                        }
                    }
                }
            }).fail(function (xhr, textStatus, err) {
                alert(err);
            });

            return branches;
        }

        // ================
        // GET Company List
        // ================
        function getEditCompany() {
            var companies = new wijmo.collections.ObservableArray;
            var Id = @id
            $.ajax({
                url: '/api/company/' + Id,
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (Results) {
                    if (Results.length > 0) {
                        companies.push({
                            Id: Results.Id,
                            Company: Results.Company,
                            Address: Results.Address,
                            ContactNumber: Results.ContactNumber,
                            TaxNumber: Results.TaxNumber,
                            IsLocked: Results.IsLocked,
                            CreatedById: Results.CreatedById,
                            CreateDateTime: Results.CreateDateTime,
                            UpdatedById: Results.UpdatedById,
                            UpdatedDateTime: Results.UpdatedDateTime
                        });
                    }

                    document.getElementById('company_Company').value = Results.Company;
                    document.getElementById('company_Address').value = Results.Address;
                    document.getElementById('company_ContactNumber').value = Results.ContactNumber;
                    document.getElementById('company_TaxNumber').value = Results.TaxNumber;
                }
            }).fail(function (xhr, textStatus, err) {
                alert(err);
            });

            return companies;
        }

        // ==================
        // Company Add Button
        // ==================
        function cmdCompanyAddButton_OnClick() {
            var companyObject = new Object();
            //companyObject.Id = parseInt(document.getElementById('companyId').value);
            companyObject.Company = document.getElementById('company_Company').value;
            companyObject.Address = document.getElementById('company_Address').value;
            companyObject.ContactNumber = document.getElementById('company_ContactNumber').value;
            companyObject.TaxNumber = document.getElementById('company_TaxNumber').value;

            var data = JSON.stringify(companyObject);
            $.ajax({
                type: "POST",
                url: '/api/addCompany',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: data,
                success: function (data) {
                    if (data.Id > 0) {
                        toastr.success("Successfully Added");
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    } else {
                        toastr.error("Can't Add");
                    }
                }
            });
        }

        // =====================
        // Company Update Button
        // =====================
        function cmdCompanyUpdateButton_OnClick() {
            var companyObject = new Object();
            var id = @id

            companyObject.Company = document.getElementById('company_Company').value;
            companyObject.Address = document.getElementById('company_Address').value;
            companyObject.ContactNumber = document.getElementById('company_ContactNumber').value;
            companyObject.TaxNumber = document.getElementById('company_TaxNumber').value;

            var data = JSON.stringify(companyObject);
            $.ajax({
                type: "PUT",
                url: '/api/updateCompany/' + id,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: data,
                statusCode: {
                    200: function () {
                        toastr.success("Successfully Updated");
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function () {
                        toastr.error("Can't Update");
                    },
                    400: function () {
                        toastr.error("Bad Request");
                    }
                }
            });
        }

        // =================
        // Branch Add Button
        // =================
        function branchAddButton_OnClick() {
            $('#branchEdit').modal({
                show: true,
                backdrop: 'static'
            });

            document.getElementById('branch_company').value = "";
            document.getElementById('branch_branch').value = "";
            document.getElementById('branch_Code').value = "";
            document.getElementById('branch_Address').value = "";
            document.getElementById('branch_ContactNumber').value = "";
            document.getElementById('branch_TaxNumber').value = "";
        }

        // =================
        // Brach Edit Button
        // =================
        function cmdBranchEditButton_OnClick() {
            branches.editItem(branches.currentItem);

            $('#branchEdit').modal({
                show: true,
                backdrop: 'static'
            });

            var branch = branches.currentEditItem;
            document.getElementById('branch_company').value = branch.Company ? branch.Company : '';
            document.getElementById('branch_branch').value = branch.Branch ? branch.Branch : '';
            document.getElementById('branch_Code').value = branch.BranchCode ? branch.BranchCode : '';
            document.getElementById('branch_Address').value = branch.Address ? branch.Address : '';
            document.getElementById('branch_ContactNumber').value = branch.ContactNumber ? branch.ContactNumber : '';
            document.getElementById('branch_TaxNumber').value = branch.TaxNumber ? branch.TaxNumber : '';

        }

        // ===================
        // Branch Delete Button
        // ===================
        function cmdBranchDeleteButton_OnClick() {
            $('#deleteBranchConfirm').modal({
                show: true,
                backdrop: 'static'
            });
        }
        // Branch Confirm Delete
        function cmdBranchConfirmDeleteButton_OnClick() {
            branches.editItem(branches.currentItem);
            var id = branches.currentEditItem.Id;

            $.ajax({
                type: "DELETE",
                url: '/api/company/' + id,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                statusCode: {
                    200: function () {
                        toastr.success(getMessage("S0001"));
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function () {
                        toastr.error(getMessage("E0004"));
                    },
                    400: function () {
                        toastr.error(getMessage("E0003"));
                    }
                }
            });

        }

        // =============================
        // Navigation Buttons for Branch
        // =============================
        function updateNavigateButtonsBranch() {
            if (branches.pageSize <= 0) {
                document.getElementById('naviagtionPageGrid').style.display = 'none';
                return;
            }
            document.getElementById('naviagtionPageGrid').style.display = 'block';
            if (branches.pageIndex === 0) {
                btnFirstPageGrid.setAttribute('disabled', 'disabled');
                btnPreviousPageGrid.setAttribute('disabled', 'disabled');
                btnNextPageGrid.removeAttribute('disabled');
                btnLastPageGrid.removeAttribute('disabled');
            } else if (branches.pageIndex === (branches.pageCount - 1)) {
                btnFirstPageGrid.removeAttribute('disabled');
                btnPreviousPageGrid.removeAttribute('disabled');
                btnLastPageGrid.setAttribute('disabled', 'disabled');
                btnNextPageGrid.setAttribute('disabled', 'disabled');
            } else {
                btnFirstPageGrid.removeAttribute('disabled');
                btnPreviousPageGrid.removeAttribute('disabled');
                btnNextPageGrid.removeAttribute('disabled');
                btnLastPageGrid.removeAttribute('disabled');
            }
            btnCurrentPageGrid.innerHTML = (branches.pageIndex + 1) + ' / ' + branches.pageCount;
        }

        // ============
        // On Page Load
        // ============
        $(document).ready(function () {
            toastr.options = {
                "closeButton": true,
                "debug": true,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }

            getEditCompany();

            branches = new wijmo.collections.CollectionView(getBranch());
            branches.canFilter = true;
            branches.pageSize = 10;

            var filterText = '';
            $('#InputFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                branches.refresh();
            });
            branches.filter = function (item) {
                return !filterText || (item.Company.toLowerCase().indexOf(filterText) > -1);
            }
            branches.collectionChanged.addHandler(function (sender, args) {
                updateNavigateButtonsBranch();
            });

            // Flex Grid
            branchGrid = new wijmo.grid.FlexGrid('#BranchGrid');
            branchGrid.initialize({
                columns: [
                            {
                                "header": "Edit",
                                "binding": "EditId",
                                "width": 60,
                                "align": "center",
                                "allowResizing": false,
                                "allowSorting": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "Delete",
                                "binding": "DeleteId",
                                "width": 70,
                                "align": "center",
                                "allowResizing": false,
                                "allowSorting": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "Company",
                                "binding": "Company",
                                "align": "left",
                                "allowSorting": true,
                                "width": "2*",
                            },
                            {
                                "header": "Branch",
                                "binding": "Branch",
                                "align": "left",
                                "allowSorting": true,
                                "width": "2*",
                            },
                            {
                                "header": "Branch Code",
                                "binding": "BranchCode",
                                "align": "left",
                                "allowSorting": true,
                                "width": "2*"
                            },
                            {
                                "header": "Address",
                                "binding": "Address",
                                "align": "left",
                                "allowSorting": true,
                                "width": "2*"
                            },
                            {
                                "header": "ContactNumber",
                                "binding": "ContactNumber",
                                "align": "left",
                                "allowSorting": true,
                                "width": "2*"
                            },
                            {
                                "header": "TaxNumber",
                                "binding": "TaxNumber",
                                "align": "left",
                                "allowSorting": true,
                                "width": "2*"
                            }
                ],
                autoGenerateColumns: false,
                itemsSource: branches,
                isReadOnly: true,
                frozenColumns: 2,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                headersVisibility: wijmo.grid.HeadersVisibility.Column,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            branchGrid.trackChanges = true;

            //Navigation button
            btnFirstPageGrid = document.getElementById('btnMoveToFirstPageGrid');
            btnPreviousPageGrid = document.getElementById('btnMoveToPreviousPageGrid');
            btnNextPageGrid = document.getElementById('btnMoveToNextPageGrid');
            btnLastPageGrid = document.getElementById('btnMoveToLastPageGrid');
            btnCurrentPageGrid = document.getElementById('btnCurrentPageGrid');

            updateNavigateButtonsBranch();

            btnFirstPageGrid.addEventListener('click', function () {
                branches.moveToFirstPage();
                updateNavigateButtonsBranch();
            });
            btnPreviousPageGrid.addEventListener('click', function () {
                branches.moveToPreviousPage();
                updateNavigateButtonsBranch();
            });
            btnNextPageGrid.addEventListener('click', function () {
                branches.moveToNextPage();
                updateNavigateButtonsBranch();
            });
            btnLastPageGrid.addEventListener('click', function () {
                branches.moveToLastPage();
                updateNavigateButtonsBranch();
            });
        });
    </script>
</body>
</html>