<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Title of the Page -->
    <link rel="shortcut icon" href="~/Images/icon/easyfislogomini.ico">
    <title>Company Detail</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Content/Software-css")
</head>
<body class="">
    <div id="o-wrapper" class="o-wrapper">
        <main class="o-content">
            @Html.Partial("_SoftwareHeader")
            <section class="content-header">
                <div class="container">
                    <h2>
                        <i class="fa fa-building fa-fw"></i> Company Detail
                    </h2>
                </div>
            </section>
            <br />
            <section class="container">
                <div class="input-group" style="margin-bottom: 10px;">
                    <span class="input-group-addon">Company</span>
                    <input type="text" class="form-control" id="" value="@ViewData["Company"] / @ViewData["Branch"]" placeholder="Company" disabled>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-12" align="right">
                                @*<button class="btn btn-primary " id="cmdSaveCompany" onclick="cmdCompanySaveButton_OnClick()"><i class="fa fa-save"></i> Save</button>*@
                                <button class="btn btn-primary " id="cmdSaveUpdateCompany" onclick="cmdCompanySaveUpdateButton_OnClick()"><i class="fa fa-lock"></i> Lock</button>
                                <button class="btn btn-primary " id="cmdEditCompany" onclick="cmdCompanyEditButton_OnClick()"><i class="fa fa-unlock"></i> Unlock</button>
                                <button onclick="window.location.href = '/Software/Company'" class="btn btn-danger " id="cmdCloseButtonCompany"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="">
                            <form class="form-horizontal" role="form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Company</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control  requiredCompany" id="company_Company" placeholder="Company" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Address</label>
                                            <div class="col-sm-8">
                                                <textarea rows="5" class="form-control textarea-custom requiredCompany" id="company_Address" placeholder="Address"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Contact No</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control  requiredCompany" id="company_ContactNumber" placeholder="Contact Number" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">TAX No</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control  requiredCompany" id="company_TaxNumber" placeholder="TIN Number" />
                                            </div>
                                        </div>
                                        @*<div class="form-group">
                                                <label class="control-label col-sm-4">Lock:</label>
                                                <div class="col-sm-8">
                                                    <input type="checkbox" class="checkbox_custom" id="isLocked_Status" />
                                                </div>
                                            </div>*@
                                        <div class="form-group">
                                            <div class="col-sm-4"></div>
                                            <div class="col-sm-8">
                                                <input type="hidden" id="Company_IsLocked">
                                                <input type="hidden" id="Company_IsLocked_defaultTrue">
                                                <input type="hidden" id="Company_IsLocked_defaultFalse">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <ul class="nav nav-tabs" role="tablist" id="myTab">
                    <li role="presentation" class="active"><a data-toggle="tab" href="#CollectionLine" id="branchList">Branch List</a></li>
                </ul>
                <br />
                <div class="tab-content">
                    <div id="branchList" class="tab-pane fade in active">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <button type="submit" class="btn btn-primary pull-right " id="cmdBranchAddBranchButton" onclick="cmdbranchAddBranchButton_OnClick()"><i class="fa fa-plus"></i> Add</button>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row" align="left">
                                    <div class="col-lg-12">
                                        <div id="BranchGrid" class="grid"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            @Html.Partial("_SoftwareFooter")
        </main>
    </div>

    <div id="c-mask" class="c-mask"></div><!-- /c-mask -->
    <!-- Branch Edit Detail -->
    <div class="modal fade" id="branchEdit" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="companyNameModalLabel">Branch - Detail</h4>
                </div>
                <div class="modal-body">
                    <form id="branchDetailForm">
                        <input type="hidden" class="form-control" id="branch_Id" />
                        <input type="hidden" class="form-control" id="branch_companyId" />
                        <dl class="dl-horizontal">
                            <dt>Company</dt>
                            <dd><input type="text" class="form-control " id="branch_company" placeholder="Company" readonly /></dd>
                            <dt>Branch</dt>
                            <dd><input type="text" class="form-control  requiredBranch" id="branch_branch" placeholder="Branch" /></dd>
                            <dt>Branch code</dt>
                            <dd>
                                <input type="text" class="form-control  " id="branch_Code_Display" />
                                <input type="hidden" id="branch_Code" />
                            </dd>
                            <dt>Address</dt>
                            <dd><textarea rows="5" class="form-control textarea-custom requiredBranch" id="branch_Address" placeholder="Address"></textarea></dd>
                            <dt>Contact Number:</dt>
                            <dd><input type="text" class="form-control   requiredBranch" id="branch_ContactNumber" placeholder="Contact Number" /></dd>
                            <dt>Tax Number</dt>
                            <dd><input type="text" class="form-control  " id="branch_TaxNumber" placeholder="TIN Number" /></dd>
                        </dl>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary " id="cmdSaveBranchButton" onclick="cmdBranchSaveButton_OnClick()"><i class="fa fa-save"></i> Save</button>
                    <button id="cmdBranchDetailCloseButton" class="btn btn-danger " data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Branch Delete Modal Confirmation -->
    <div class="modal fade" id="deleteBranchConfirm" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Branch <i class="fa fa-trash"></i></h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger " id="cmdConfirmDeleteBranch" onclick="cmdBranchConfirmDeleteButton_OnClick()"><i class="fa fa-trash"></i> Delete</button>
                    <button id="cmdConfirmDeleteCloseButton" class="btn btn-primary " data-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
                </div>
            </div>
        </div>
    </div>


    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        // ================
        // Global Variables
        // ================
        var branches;
        var branchGrid;

        var companies;

        var btnFirstPageGrid;
        var btnPreviousPageGrid;
        var btnNextPageGrid;
        var btnLastPageGrid;
        var btnCurrentPageGrid;

        // =======================
        // Get URL Parameter Value
        // =======================
        function getParam(name) {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
            var regexS = "[\\?&]" + name + "=([^&#]*)";
            var regex = new RegExp(regexS);
            var results = regex.exec(window.location.href);
            if (results == null)
                return "";
            else
                return results[1];
        }

        // =================
        // GET Company by Id
        // =================
        function getCompanyById() {
            var companyId = getParam("CompanyId");
            if (document.location.search.length == 0) {
                document.getElementById('company_Company').value = "NA";
                document.getElementById('company_Address').value = "NA";
                document.getElementById('company_ContactNumber').value = "NA";
                document.getElementById('company_TaxNumber').value = "NA";

                NProgress.done();
            } else {
                NProgress.start();
                $.ajax({
                    url: '/api/company/' + companyId,
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    data: {},
                    success: function (Results) {
                        //document.getElementById('companyDetailLabel').innerHTML = Results.Company;
                        //document.getElementById('companyNameLabel').innerHTML = Results.Company + " Branch List";
                        document.getElementById('companyNameModalLabel').innerHTML = Results.Company + " Branch Detail";
                        document.getElementById('branch_company').value = Results.Company;
                        document.getElementById('company_Company').value = Results.Company;
                        document.getElementById('company_Address').value = Results.Address;
                        document.getElementById('company_ContactNumber').value = Results.ContactNumber;
                        document.getElementById('company_TaxNumber').value = Results.TaxNumber;

                        document.getElementById('Company_IsLocked').value = Results.IsLocked;
                        document.getElementById('createdBy').innerHTML = Results.CreatedBy;
                        document.getElementById('createdDate').innerHTML = Results.CreatedDateTime;
                        document.getElementById('updatedBy').innerHTML = Results.UpdatedBy;
                        document.getElementById('updatedDate').innerHTML = Results.UpdatedDateTime;

                        NProgress.done();

                        if (document.getElementById('Company_IsLocked').value == 'true') {
                            //$("#cmdSaveCompany").prop("disabled", false);
                            $("#cmdEditCompany").prop("disabled", false);
                            $("#cmdPrintCompany").prop("disabled", false);
                            $("#cmdSaveUpdateCompany").prop("disabled", true);
                            $("#cmdBranchAddBranchButton").prop("disabled", true);
                            document.getElementById('company_Company').disabled = true;
                            document.getElementById('company_Address').disabled = true;
                            document.getElementById('company_ContactNumber').disabled = true;
                            document.getElementById('company_TaxNumber').disabled = true;

                            //document.getElementById('isLocked_Status').checked = true;

                            var canUnLock = "@ViewData["CanUnlock"]";
                            if (canUnLock == "True") {
                                $("#cmdEditCompany").prop("disabled", false)
                            } else if (canUnLock == "False") {
                                $("#cmdEditCompany").prop("disabled", true)
                            } else {
                                $("#cmdEditPO").prop("disabled", true)
                            }

                        } else if (document.getElementById('Company_IsLocked').value == 'false') {
                            //$("#cmdSaveCompany").prop("disabled", true);
                            $("#cmdEditCompany").prop("disabled", true);
                            $("#cmdPrintCompany").prop("disabled", true);
                            $("#cmdSaveUpdateCompany").prop("disabled", false);

                            //document.getElementById('isLocked_Status').checked = false;

                            document.getElementById('company_Company').disabled = false;
                            document.getElementById('company_Address').disabled = false;
                            document.getElementById('company_ContactNumber').disabled = false;
                            document.getElementById('company_TaxNumber').disabled = false;


                            var canLock = "@ViewData["CanLock"]";
                            if (canLock == "True") {
                                $("#cmdSaveUpdateCompany").prop("disabled", false)
                            } else if (canLock == "False") {
                                $("#cmdSaveUpdateCompany").prop("disabled", true)
                            } else {
                                $("#cmdSaveUpdateCompany").prop("disabled", true)
                            }

                            var canAdd = "@ViewData["CanAdd"]";
                            if (canAdd == "True") {
                                $("#cmdBranchAddBranchButton").prop("disabled", false)
                            } else if (canAdd == "False") {
                                $("#cmdBranchAddBranchButton").prop("disabled", true)
                            } else {
                                $("#cmdBranchAddBranchButton").prop("disabled", true)
                            }
                        }
                    }
                }).fail(function (xhr, textStatus, err) {
                    alert(err);
                });
            }
        }

        // ===================
        // Company Save Button
        // ===================
        //function cmdCompanySaveButton_OnClick() {
        //    var companyObject = new Object();
        //    var companyId = getParam("CompanyId");
        //    companyObject.Company = document.getElementById('company_Company').value;
        //    companyObject.Address = document.getElementById('company_Address').value;
        //    companyObject.ContactNumber = document.getElementById('company_ContactNumber').value;
        //    companyObject.TaxNumber = document.getElementById('company_TaxNumber').value;
        //    var data = JSON.stringify(companyObject);

        //    var isValid = true;
        //    $('.requiredCompany').each(function () {
        //        if ($.trim($(this).val()) == '') {
        //            isValid = false;
        //            $(this).css({
        //                "border": "1px solid red"
        //            });
        //        }
        //        else {
        //            $(this).css({
        //                "border": "",
        //            });
        //        }
        //    });
        //    if (isValid == false) {
        //        toastr.error("Invalid Entry");
        //        e.preventDefault();
        //    }
        //    else {
        //        $("#cmdSaveCompany").prop("disabled", true);
        //        $("#cmdSaveUpdateCompany").prop("disabled", true);
        //        $("#cmdEditCompany").prop("disabled", true);
        //        $("#cmdPrintCompany").prop("disabled", true);
        //        $("#cmdCloseButtonCompany").prop("disabled", true);
        //        $("#cmdSaveBranchButton").prop("disabled", true);
        //        $("#cmdBranchDetailCloseButton").prop("disabled", true);
        //        if (document.location.search.length == 0) {
        //            $.ajax({
        //                type: "POST",
        //                url: '/api/addCompany',
        //                contentType: "application/json; charset=utf-8",
        //                dataType: "json",
        //                data: data,
        //                success: function(id){
        //                    if(id > 0) {
        //                        $("#cmdSaveCompany").prop("disabled", true);
        //                        $("#cmdSaveUpdateCompany").prop("disabled", true);
        //                        $("#cmdEditCompany").prop("disabled", true);
        //                        $("#cmdPrintCompany").prop("disabled", true);
        //                        $("#cmdCloseButtonCompany").prop("disabled", true);
        //                        $("#cmdSaveBranchButton").prop("disabled", true);
        //                        $("#cmdBranchDetailCloseButton").prop("disabled", true);
        //                        window.location = '/Software/CompanyDetail?CompanyId=' + id;
        //                    } else {
        //                        window.history.back();
        //                    }
        //                }
        //            });
        //        } else {
        //            var companyObject = new Object();
        //            var companyId = getParam("CompanyId");
        //            companyObject.Company = document.getElementById('company_Company').value;
        //            companyObject.Address = document.getElementById('company_Address').value;
        //            companyObject.ContactNumber = document.getElementById('company_ContactNumber').value;
        //            companyObject.TaxNumber = document.getElementById('company_TaxNumber').value;
        //            if (companyId > 0) {
        //                companyObject.IsLocked = document.getElementById('Company_IsLocked_defaultFalse').value;
        //            } else {
        //                companyObject.IsLocked = document.getElementById('Company_IsLocked_defaultTrue').value;
        //            }

        //            var dataUpdate = JSON.stringify(companyObject);
        //            $.ajax({
        //                type: "PUT",
        //                url: '/api/updateCompany/' + companyId,
        //                contentType: "application/json; charset=utf-8",
        //                dataType: "json",
        //                data: dataUpdate,
        //                statusCode: {
        //                    200: function () {
        //                        $("#cmdSaveCompany").prop("disabled", true);
        //                        $("#cmdSaveUpdateCompany").prop("disabled", true);
        //                        $("#cmdEditCompany").prop("disabled", true);
        //                        $("#cmdPrintCompany").prop("disabled", true);
        //                        $("#cmdCloseButtonCompany").prop("disabled", true);
        //                        $("#cmdSaveBranchButton").prop("disabled", true);
        //                        $("#cmdBranchDetailCloseButton").prop("disabled", true);
        //                        toastr.success("Successfully Updated");
        //                        window.setTimeout(function () {
        //                            location.reload()
        //                        }, 1000);
        //                    },
        //                    404: function () {
        //                        toastr.error("Can't Update");
        //                        $("#cmdSaveCompany").prop("disabled", false);
        //                        $("#cmdSaveUpdateCompany").prop("disabled", false);
        //                        $("#cmdEditCompany").prop("disabled", false);
        //                        $("#cmdPrintCompany").prop("disabled", false);
        //                        $("#cmdCloseButtonCompany").prop("disabled", false);
        //                        $("#cmdSaveBranchButton").prop("disabled", false);
        //                        $("#cmdBranchDetailCloseButton").prop("disabled", false);
        //                    },
        //                    400: function () {
        //                        toastr.error("Bad Request");
        //                        $("#cmdSaveCompany").prop("disabled", false);
        //                        $("#cmdSaveUpdateCompany").prop("disabled", false);
        //                        $("#cmdEditCompany").prop("disabled", false);
        //                        $("#cmdPrintCompany").prop("disabled", false);
        //                        $("#cmdCloseButtonCompany").prop("disabled", false);
        //                        $("#cmdSaveBranchButton").prop("disabled", false);
        //                        $("#cmdBranchDetailCloseButton").prop("disabled", false);
        //                    }
        //                }
        //            });
        //        }
        //    }
        //}

        // ====================
        // Save and Lock Button
        // ====================
        function cmdCompanySaveUpdateButton_OnClick() {
            //$("#cmdSaveCompany").prop("disabled", true);
            document.getElementById('cmdSaveUpdateCompany').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Locking";
            $("#cmdSaveUpdateCompany").prop("disabled", true);
            $("#cmdEditCompany").prop("disabled", true);
            $("#cmdPrintCompany").prop("disabled", true);
            $("#cmdCloseButtonCompany").prop("disabled", true);
            $("#cmdSaveBranchButton").prop("disabled", true);
            $("#cmdBranchDetailCloseButton").prop("disabled", true);

            var companyObject = new Object();
            var companyId = getParam("CompanyId");

            companyObject.Company = document.getElementById('company_Company').value;
            companyObject.Address = document.getElementById('company_Address').value;
            companyObject.ContactNumber = document.getElementById('company_ContactNumber').value;
            companyObject.TaxNumber = document.getElementById('company_TaxNumber').value;
            if (companyId > 0) {
                companyObject.IsLocked = document.getElementById('Company_IsLocked_defaultTrue').value;
            } else {
                companyObject.IsLocked = document.getElementById('Company_IsLocked_defaultFalse').value;
            }

            var isValid = true;
            $('.requiredCompany').each(function () {
                if ($.trim($(this).val()) == '') {
                    isValid = false;
                    $(this).css({
                        "border": "1px solid red"
                    });
                }
                else {
                    $(this).css({
                        "border": "",
                    });
                }
            });
            if (isValid == false) {
                toastr.error("Invalid Entry");
                e.preventDefault();
            } else {
                var dataUpdate = JSON.stringify(companyObject);
                $.ajax({
                    type: "PUT",
                    url: '/api/updateCompany/' + companyId,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: dataUpdate,
                    statusCode: {
                        200: function () {
                            //$("#cmdSaveCompany").prop("disabled", true);
                            toastr.success("Lock Successful");
                            window.setTimeout(function () {
                                location.reload()
                            }, 1000);
                        },
                        404: function () {
                            toastr.error("Not Found");
                            $("#cmdBranchDetailCloseButton").prop("disabled", false);
                        },
                        400: function () {
                            toastr.error("Bad Request");
                            $("#cmdBranchDetailCloseButton").prop("disabled", false);
                        }
                    }
                });
            }
        }

        // ===========
        // Edit Button
        // ===========
        function cmdCompanyEditButton_OnClick() {
            var companyObject = new Object();
            var companyId = getParam("CompanyId");

            document.getElementById('cmdEditCompany').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Unlocking";
            //$("#cmdSaveCompany").prop("disabled", true);
            $("#cmdSaveUpdateCompany").prop("disabled", true);
            $("#cmdEditCompany").prop("disabled", true);
            $("#cmdPrintCompany").prop("disabled", true);
            $("#cmdCloseButtonCompany").prop("disabled", true);
            $("#cmdSaveBranchButton").prop("disabled", true);
            $("#cmdBranchDetailCloseButton").prop("disabled", true);

            if (companyId > 0) {
                companyObject.IsLocked = document.getElementById('Company_IsLocked_defaultFalse').value;
            } else {
                companyObject.IsLocked = document.getElementById('Company_IsLocked_defaultTrue').value;
            }

            var dataUpdate = JSON.stringify(companyObject);
            $.ajax({
                type: "PUT",
                url: '/api/updateCompanyIsLock/' + companyId,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: dataUpdate,
                statusCode: {
                    200: function () {
                        //$("#cmdSaveCompany").prop("disabled", true);
                        toastr.success("Unlock Successful");
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function () {
                        toastr.error("Can't Update");
                        //$("#cmdSaveCompany").prop("disabled", false);
                        $("#cmdBranchDetailCloseButton").prop("disabled", false);
                    },
                    400: function () {
                        toastr.error("Bad Request");
                        //$("#cmdSaveCompany").prop("disabled", false);
                        $("#cmdBranchDetailCloseButton").prop("disabled", false);
                    }
                }
            });
        }

        function cmdCompanyAddAnotherCompanyButton_OnClick() {
            var id = 0;
            window.location = '/Software/CompanyDetail/?Id=' + id;
        }

        // =====================
        // GET Branch List by Id
        // =====================
        function getBranchByCompanyId() {
            // $('#loadingModal').modal('show');
            var branches = new wijmo.collections.ObservableArray;
            var companyId = getParam("CompanyId");
            if (document.location.search.length > 0) {
                NProgress.start();
                $.ajax({
                    url: '/api/listBranchByCompanyId/' + companyId,
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    data: {},
                    success: function (Results) {
                        var companies = new wijmo.collections.ObservableArray;
                        var companyId
                        for (i = 0; i < Results.length; i++) {
                            companyId = getParam("CompanyId");
                        }

                        if (Results.length > 0) {
                            $.ajax({
                                url: '/api/company/' + companyId,
                                cache: false,
                                type: 'GET',
                                contentType: 'application/json; charset=utf-8',
                                data: {},
                                success: function (CompanyResults) {
                                    if (CompanyResults.length > 0) {
                                        companies.push({
                                            Id: CompanyResults.Id,
                                            IsLocked: CompanyResults.IsLocked
                                        });
                                    }


                                    var canEdit = "@ViewData["CanEdit"]";
                                    var editDisabled = "disabled";

                                    if (canEdit == "True") {
                                        editDisabled = "";
                                    } else if (canEdit == "False") {
                                        editDisabled = "disabled";
                                    } else {
                                        editDisabled = "disabled";
                                    }

                                    var canDelete = "@ViewData["CanDelete"]";
                                    var deleteDisabled = "disabled";

                                    if (canDelete == "True") {
                                        deleteDisabled = "";
                                    } else if (canDelete == "False") {
                                        deleteDisabled = "disabled";
                                    } else {
                                        deleteDisabled = "disabled";
                                    }

                                    var btnEditId;
                                    var btnDeleteId;
                                    if (CompanyResults.IsLocked == true) {
                                        btnEditId = "<button class='btn btn-primary btn-xs btn-block' onclick='cmdBranchEditButton_OnClick()' disabled><i class='fa fa-edit'></i> Edit</button>";
                                        btnDeleteId = "<button class='btn btn-danger btn-xs btn-block' onclick='cmdBranchDeleteButton_OnClick()' disabled><i class='fa fa-trash'></i> Delete</button>";
                                    } else {
                                        btnEditId = "<button class='btn btn-primary btn-xs btn-block' onclick='cmdBranchEditButton_OnClick()' " + editDisabled + "><i class='fa fa-edit'></i> Edit</button>";
                                        btnDeleteId = "<button class='btn btn-danger btn-xs btn-block' onclick='cmdBranchDeleteButton_OnClick()'" + deleteDisabled + "><i class='fa fa-trash'></i> Delete</button>";
                                    }

                                    for (i = 0; i < Results.length; i++) {
                                        branches.push({
                                            EditId: btnEditId,
                                            DeleteId: btnDeleteId,
                                            Id: Results[i]["Id"],
                                            CompanyId: Results[i]["CompanyId"],
                                            Company: Results[i]["Company"],
                                            Branch: Results[i]["Branch"],
                                            BranchCode: Results[i]["BranchCode"],
                                            Address: Results[i]["Address"],
                                            ContactNumber: Results[i]["ContactNumber"],
                                            TaxNumber: Results[i]["TaxNumber"],
                                            IsLocked: Results[i]["IsLocked"],
                                            CreatedById: Results[i]["CreatedById"],
                                            CreatedBy: Results[i]["CreatedBy"],
                                            CreatedDateTime: Results[i]["CreatedDateTime"],
                                            UpdatedById: Results[i]["UpdatedById"],
                                            UpdatedBy: Results[i]["UpdatedBy"],
                                            UpdatedDateTime: Results[i]["UpdatedDateTime"]
                                        });
                                    }
                                }
                            });
                        }
                        NProgress.done();
                    }
                }).fail(function (xhr, textStatus, err) {
                    alert(err);
                });
            }
            return branches;
        }

        // ========================
        // Branch Add-Branch Button
        // ========================
        function cmdbranchAddBranchButton_OnClick() {
            $('#branchEdit').modal({
                show: true,
                backdrop: 'static'
            });

            $('.requiredBranch').each(function () {
                $(this).css({
                    "border": "",
                });
            });

            document.getElementById('cmdSaveBranchButton').innerHTML = "<i class='fa fa-save'></i> Save";
            $("#cmdSaveBranchButton").prop("disabled", false);
            $("#cmdBranchDetailCloseButton").prop("disabled", false);

            document.getElementById('branch_Id').value = 0;
            document.getElementById('branch_branch').value = "";
            //document.getElementById('branch_Code').value = "";
            document.getElementById('branch_Address').value = "";
            document.getElementById('branch_ContactNumber').value = "";
            document.getElementById('branch_TaxNumber').value = "";

            var brancheLast = new wijmo.collections.ObservableArray;
            $.ajax({
                url: '/api/listBranchLast',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (Results) {
                    if (Results.length > 0) {
                        brancheLast.push({
                            Id: Results.Id,
                            BranchCode: Results.BranchCode
                        });
                    }
                    var branch_Code = parseInt(Results.BranchCode);
                    var branch_Code_PlusOne = 001;
                    var branch_Code_Results = branch_Code + branch_Code_PlusOne;
                    //var JV_Number_Display = JV_Num_Results.toString().replace(/(\d{3})(\d+)/, '$1-$2');

                    document.getElementById('branch_Code').value = zerofill(branch_Code_Results, 3);
                    document.getElementById('branch_Code_Display').value = zerofill(branch_Code_Results, 3);
                }
            });
            //document.getElementById('branch_Code').value = 0;
            if (document.getElementById('branch_Code').value == 0) {
                document.getElementById('branch_Code_Display').value = "001";
            }
        }

        // ==================
        // Branch Save Button
        // ==================
        function cmdBranchSaveButton_OnClick() {
            var branchObject = new Object();
            var branchId = document.getElementById('branch_Id').value;

            var companyId = getParam("CompanyId");
            branchObject.CompanyId = companyId;
            branchObject.Branch = document.getElementById('branch_branch').value;
            //branchObject.BranchCode = document.getElementById('branch_Code').value;
            branchObject.BranchCode = document.getElementById('branch_Code_Display').value;
            branchObject.Address = document.getElementById('branch_Address').value;
            branchObject.ContactNumber = document.getElementById('branch_ContactNumber').value;
            branchObject.TaxNumber = document.getElementById('branch_TaxNumber').value;
            var data = JSON.stringify(branchObject);

            var isValid = true;
            $('.requiredBranch').each(function () {
                if ($.trim($(this).val()) == '') {
                    isValid = false;
                    $(this).css({
                        "border": "1px solid red"
                    });
                }
                else {
                    $(this).css({
                        "border": "",
                    });
                }
            });
            if (isValid == false) {
                toastr.error("Invalid Entry");
                e.preventDefault();
            } else {
                document.getElementById('cmdSaveBranchButton').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Saving";
                $("#cmdSaveBranchButton").prop("disabled", true);
                $("#cmdBranchDetailCloseButton").prop("disabled", true);

                if (branchId == 0) {
                    $.ajax({
                        type: "POST",
                        url: '/api/addBranch',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: data,
                        success: function (id) {
                            if (id > 0) {
                                $("#cmdSaveBranchButton").prop("disabled", true);
                                $("#cmdBranchDetailCloseButton").prop("disabled", true);
                                toastr.success("Save Successful");

                                $('#branchEdit').modal('hide');

                                branches = new wijmo.collections.CollectionView(getBranchByCompanyId());
                                //branches.currentChanged.addHandler(function (sender, args) {
                                //    updateDetails();
                                //});

                                // Flex Grid
                                branchGrid.itemsSource = branches;
                                branchGrid.trackChanges = true;
                            } else {
                                $("#cmdSaveBranchButton").prop("disabled", false);
                                $("#cmdBranchDetailCloseButton").prop("disabled", false);
                                toastr.error("Internal Server Error");
                            }
                        }
                    });
                } else {
                    $.ajax({
                        type: "PUT",
                        url: '/api/updateBranch/' + branchId,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: data,
                        statusCode: {
                            200: function () {
                                $("#cmdSaveBranchButton").prop("disabled", true);
                                $("#cmdBranchDetailCloseButton").prop("disabled", true);
                                toastr.success("Update Successful");

                                $('#branchEdit').modal('hide');

                                branches = new wijmo.collections.CollectionView(getBranchByCompanyId());
                                //branches.currentChanged.addHandler(function (sender, args) {
                                //    updateDetails();
                                //});

                                // Flex Grid
                                branchGrid.itemsSource = branches;
                                branchGrid.trackChanges = true;
                            },
                            404: function () {
                                toastr.error("Not Found");
                                $('#branchEdit').modal('hide');
                                $("#cmdSaveBranchButton").prop("disabled", false);
                                $("#cmdBranchDetailCloseButton").prop("disabled", false);
                            },
                            400: function () {
                                toastr.error("Bad Request");
                                $('#branchEdit').modal('hide');
                                $("#cmdSaveBranchButton").prop("disabled", false);
                                $("#cmdBranchDetailCloseButton").prop("disabled", false);
                            }
                        }
                    });
                }
            }
        }

        // ==================
        // Branch Edit Button
        // ==================
        function cmdBranchEditButton_OnClick() {
            branches.editItem(branches.currentItem);
            $('#branchEdit').modal({
                show: true,
                backdrop: 'static'
            });

            $('.requiredBranch').each(function () {
                $(this).css({
                    "border": "",
                });
            });

            document.getElementById('cmdSaveBranchButton').innerHTML = "<i class='fa fa-save'></i> Save";
            $("#cmdSaveBranchButton").prop("disabled", false);
            $("#cmdBranchDetailCloseButton").prop("disabled", false);

            var branch = branches.currentEditItem;
            document.getElementById('branch_Id').value = branch.Id ? branch.Id : '';
            document.getElementById('branch_company').value = branch.Company ? branch.Company : '';
            document.getElementById('branch_companyId').value = branch.CompanyId ? branch.CompanyId : '';
            document.getElementById('branch_branch').value = branch.Branch ? branch.Branch : '';
            document.getElementById('branch_Code').value = branch.BranchCode ? branch.BranchCode : '';
            document.getElementById('branch_Code_Display').value = branch.BranchCode ? branch.BranchCode : '';
            document.getElementById('branch_Address').value = branch.Address ? branch.Address : '';
            document.getElementById('branch_ContactNumber').value = branch.ContactNumber ? branch.ContactNumber : '';
            document.getElementById('branch_TaxNumber').value = branch.TaxNumber ? branch.TaxNumber : '';
        }

        // ====================
        // Branch Delete Button
        // ====================
        function cmdBranchDeleteButton_OnClick() {
            $('#deleteBranchConfirm').modal({
                show: true,
                backdrop: 'static'
            });

            document.getElementById('cmdConfirmDeleteBranch').innerHTML = "<i class='fa fa-trash'></i> Delete";
            $("#cmdConfirmDeleteBranch").prop("disabled", false);
            $("#cmdConfirmDeleteCloseButton").prop("disabled", false);
        }
        // Branch Confirm Delete
        function cmdBranchConfirmDeleteButton_OnClick() {
            document.getElementById('cmdConfirmDeleteBranch').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Deleting";
            $("#cmdConfirmDeleteBranch").prop("disabled", true);
            $("#cmdConfirmDeleteCloseButton").prop("disabled", true);

            branches.editItem(branches.currentItem);
            var branchId = branches.currentEditItem.Id;
            $.ajax({
                url: '/api/deleteBranch/' + branchId,
                type: "DELETE",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                statusCode: {
                    200: function () {
                        $("#cmdConfirmDeleteBranch").prop("disabled", true);
                        $("#cmdConfirmDeleteCloseButton").prop("disabled", true);
                        toastr.success("Delete Successful");

                        $('#deleteBranchConfirm').modal('hide');

                        branches = new wijmo.collections.CollectionView(getBranchByCompanyId());
                        //branches.currentChanged.addHandler(function (sender, args) {
                        //    updateDetails();
                        //});

                        // Flex Grid
                        branchGrid.itemsSource = branches;
                        branchGrid.trackChanges = true;
                    },
                    404: function () {
                        toastr.error("Not Found");
                        $('#deleteBranchConfirm').modal('hide');
                        $("#cmdConfirmDeleteBranch").prop("disabled", false);
                        $("#cmdConfirmDeleteCloseButton").prop("disabled", false);
                    },
                    400: function () {
                        toastr.error("Bad Request");
                        $('#deleteBranchConfirm').modal('hide');
                        $("#cmdConfirmDeleteBranch").prop("disabled", false);
                        $("#cmdConfirmDeleteCloseButton").prop("disabled", false);
                    }
                }
            });
        }

        // =======================================================
        // Function with leading zeroes to display the branch Code
        // =======================================================
        function zerofill(number, length) {
            var result = number.toString();
            var pad = length - result.length;
            while (pad > 0) {
                result = '0' + result;
                pad--;
            }
            return result;
        }

        // ============
        // On Page Load
        // ============
        $(document).ready(function () {
            var companyId = getParam("CompanyId");
            if (document.location.search.length == 0) {
                $('#cmdSaveUpdateCompany').hide();
                //$('#cmdSaveCompany').show();
                $('#cmdEditCompany').hide();
                $("#cmdPrintCompany").prop("disabled", true);
                $('#cmdBranchAddBranchButton').prop('disabled', true);

            } else {
                $('#cmdSaveUpdateCompany').show();
                //$('#cmdSaveCompany').hide();
                $('#cmdEditCompany').show();
            }

            document.getElementById('Company_IsLocked_defaultTrue').value = 'true';
            document.getElementById('Company_IsLocked_defaultFalse').value = 'false';

            //document.getElementById('isLocked_Status').disabled = true;

            if (document.location.search.length == 0) {
                $("#cmdBranchAddBranchButton").prop("disabled", true);
                //$("#cmdSaveCompany").prop("disabled", false);
                $("#cmdSaveUpdateCompany").prop("disabled", true);
                $("#cmdEditCompany").prop("disabled", true);
                $("#cmdPrintCompany").prop("disabled", true);


            } else {
                $("#cmdBranchAddBranchButton").prop("disabled", false);
            }

            document.getElementById('branch_Code_Display').disabled = true;

            toastr.options = {
                "closeButton": true,
                "debug": true,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }

            getCompanyById();

            branches = new wijmo.collections.CollectionView(getBranchByCompanyId());
            //branches.currentChanged.addHandler(function (sender, args) {
            //    updateDetails();
            //});

            // Flex Grid
            branchGrid = new wijmo.grid.FlexGrid('#BranchGrid');
            branchGrid.initialize({
                columns: [
                            {
                                "header": "Edit",
                                "binding": "EditId",
                                "width": 70,
                                "align": "center",
                                "allowResizing": false,
                                "allowSorting": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "Delete",
                                "binding": "DeleteId",
                                "width": 70,
                                "align": "center",
                                "allowResizing": false,
                                "allowSorting": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "Branch",
                                "binding": "Branch",
                                "allowSorting": true,
                                "width": 250,
                            },
                            {
                                "header": "Code",
                                "binding": "BranchCode",
                                "allowSorting": true,
                                "width": 100
                            },
                            {
                                "header": "Address",
                                "binding": "Address",
                                "allowSorting": true,
                                "width": 300
                            },
                            {
                                "header": "Contact Number",
                                "binding": "ContactNumber",
                                "allowSorting": true,
                                "width": 200
                            },
                            {
                                "header": "Tax Number",
                                "binding": "TaxNumber",
                                "allowSorting": true,
                                "width": 200
                            }
                ],
                autoGenerateColumns: false,
                itemsSource: branches,
                isReadOnly: true,
                //frozenColumns: 2,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            branchGrid.trackChanges = true;

            //$(document).ajaxStop(function () {
            //    if (document.location.search.length == 0) {
            //        cmdCompanySaveButton_OnClick();
            //        window.cmdCompanySaveButton_OnClick = function () {
            //            return true;
            //        }
            //    }
            //});
        });
    </script>
    <script type="text/javascript">
        var slideLeft = new Menu({
            wrapper: '#o-wrapper',
            type: 'slide-left',
            menuOpenerClass: '.c-button',
            maskId: '#c-mask'
        });

        var slideLeftBtn = document.querySelector('#c-button--slide-left');

        slideLeftBtn.addEventListener('click', function (e) {
            e.preventDefault;
            slideLeft.open();
        });
    </script>
</body>
</html>