<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Title of the Page -->
    <link rel="shortcut icon" href="~/Images/icon/easyfislogomini.ico">
    <title>Disbursement Summary Report</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Content/Software-css")
</head>
<body class="">
    <div id="o-wrapper" class="o-wrapper">
        <main class="o-content">
            @Html.Partial("_SoftwareHeader")
            <section class="content-header">
                <div class="container">
                    <h3>
                        Disbursement Summary Report <br />  <small>@ViewData["Company"] &nbsp; | &nbsp; @ViewData["Branch"]</small>
                    </h3>
                </div>
            </section>
            <section class="container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 59%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        <input type="text" class="form-control " id="InputFilter" placeholder="Search">
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 40%" align="right">
                                    <button onclick="disbursementSummaryReportCSV_OnClick()" class="btn btn-primary "><i class="fa fa-file-excel-o" aria-hidden="true"></i> CSV</button>
                                    <button onclick="disbursementSummaryReportPDF_OnClick()" class="btn btn-primary "><i class="fa fa-print"></i> Print</button>
                                    <a href="/Software/AccountsPayable" class="btn btn-danger "><i class="fa fa-close"></i> Close</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 59%">
                                    <div class="input-group ">
                                        <span class="input-group-addon">Date:</span>
                                        <input type="text" class="form-control " id="dateFrom" placeholder="filter date" disabled>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 20%" align="right"></td>
                                <td style="width: 20%"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-body">
                        <div id="disbursementSummaryReportGrid" class="grid"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <table class="table table-responsive table-bordered">
                            <tr>
                                <td align="right">
                                    <b>Total: </b>
                                </td>
                                <td style="padding-left: 10px" align="right">
                                    <span id="total">NA</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </section>
            @Html.Partial("_SoftwareFooter")
        </main>
    </div>

    <div id="c-mask" class="c-mask"></div><!-- /c-mask -->
    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        function getParam(name) {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
            var regexS = "[\\?&]" + name + "=([^&#]*)";
            var regex = new RegExp(regexS);
            var results = regex.exec(window.location.href);
            if (results == null)
                return "";
            else
                return results[1];
        }

        function disbursementSummaryReportPDF_OnClick() {
            window.location.href = '/RepDisbursementSummaryReport/DisbursementSummaryReport?StartDate=' + getParam("StartDate") + '&EndDate=' + getParam("EndDate");
        }

        function getDisbursementSummaryReport() {
            var disbursementSummaryReport = new wijmo.collections.ObservableArray;
            $.ajax({
                url: '/api/disbursementSummaryReport/list/' + getParam("StartDate") + '/' + getParam("EndDate"),
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (disbursementSummaryReportResults) {
                    if (disbursementSummaryReportResults.length > 0) {
                        var totalAmount = 0;

                        for (i = 0; i < disbursementSummaryReportResults.length; i++) {
                            var docLink = "/Software/DisbursementDetail?DisbursementId=" + disbursementSummaryReportResults[i]["Id"];
                            // Array Push
                            disbursementSummaryReport.push({



                                Id: disbursementSummaryReportResults[i]["Id"],
                                Branch: disbursementSummaryReportResults[i]["Branch"],
                                CVNumber: disbursementSummaryReportResults[i]["CVNumber"],
                                CVNumberForCSV: "CV-" + disbursementSummaryReportResults[i]["CVNumber"],
                                CVNumberButton: "<a href='" + docLink + "' class='btn btn-default btn-xs btn-block' style='text-align: left'>" + disbursementSummaryReportResults[i]["CVNumber"],
                                CVDate: disbursementSummaryReportResults[i]["CVDate"],
                                Supplier: disbursementSummaryReportResults[i]["Supplier"],
                                CheckNumber: disbursementSummaryReportResults[i]["CheckNumber"],
                                Amount: disbursementSummaryReportResults[i]["Amount"],

                            });

                            totalAmount += disbursementSummaryReportResults[i]["Amount"];
                        }

                        document.getElementById("total").innerHTML = totalAmount.toLocaleString();
                    }
                    NProgress.done();
                }
            });

            return disbursementSummaryReport;
        }

        var disbursementSummaryReportCollection;

        function disbursementSummaryReportCSV_OnClick() {


            var CSV = '';
            var disbursementSummaryReport = [];
            var fileName = 'DisbursementSummaryReport.CSV';

            for (i = 0; i < disbursementSummaryReportCollection.items.length; i++) {
                disbursementSummaryReport.push({
                    Branch: disbursementSummaryReportCollection.items[i].Branch,
                    CVDate: disbursementSummaryReportCollection.items[i].CVDate,
                    CVNumber: disbursementSummaryReportCollection.items[i].CVNumberForCSV,
                    Supplier: disbursementSummaryReportCollection.items[i].Supplier,
                    CheckNumber: disbursementSummaryReportCollection.items[i].CheckNumber,
                    Amount: disbursementSummaryReportCollection.items[i].Amount,


                });
            }

            //for (var i = 0; i < symbols.length; i++) {
            //    CSV += '"' + symbols[i].AccountCode + '"\r\n';
            //}

            var Headers = [];
            Headers.push({

                Branch: "Branch",
                CVDate: "CV Date",
                CVNumber: "CV Number",
                Supplier: "Supplier",
                CheckNumber: "Check Number",
                Amount: "Amount",

            });

            var header = '';
            // Rows
            for (var b in Headers[0]) {
                header += '"' + Headers[0][b] + '",';
            }

            CSV = header + '\r\n';
            for (var i = 0; i < disbursementSummaryReport.length; i++) {
                var row = '';
                for (var a in disbursementSummaryReport[i]) {
                    row += '"' + disbursementSummaryReport[i][a] + '",';
                }
                row.slice(0, row.length - 1);
                CSV += row + '\r\n';
            }

            if (CSV == '') {
                toastr.error("No data.");
            } else {
                var link = document.createElement("a");

                if (link.download !== undefined) {
                    var blob = new Blob([CSV], { type: 'text/csv;charset=utf-8;' });
                    var url = URL.createObjectURL(blob);
                    link.setAttribute("href", url);
                    link.setAttribute("download", fileName);
                    link.style = "visibility:hidden";
                }

                if (navigator.msSaveBlob) {
                    link.addEventListener("click", function (event) {
                        var blob = new Blob([CSV], {
                            "type": "text/csv;charset=utf-8;"
                        });
                        navigator.msSaveBlob(blob, fileName);
                    }, false);
                }

                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);

                toastr.success("Dowload successful.");
            }
        }
        $(document).ready(function () {
            NProgress.start();
            document.getElementById("dateFrom").value = "Date from " + getParam("StartDate") + " to " + getParam("EndDate");

            disbursementSummaryReportCollection = new wijmo.collections.CollectionView(getDisbursementSummaryReport());
            disbursementSummaryReportCollection.canFilter = true;

            var filterText = '';
            $('#InputFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                disbursementSummaryReportCollection.refresh();
            });
            disbursementSummaryReportCollection.filter = function (item) {
                return !filterText || (item.CVNumber.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Branch.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Supplier.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.CheckNumber.toLowerCase().indexOf(filterText) > -1)

            }
            // Flex Grid
            var disbursementSummaryReportGrid = new wijmo.grid.FlexGrid('#disbursementSummaryReportGrid');
            disbursementSummaryReportGrid.initialize({
                columns: [
                    {
                        "header": "Branch  ",
                        "binding": "Branch",
                        "allowSorting": true,
                        "width": 200,
                    },
                    {
                        "header": "CV Date",
                        "binding": "CVDate",
                        "allowSorting": true,
                        "width": 100,
                    },
                    {
                        "header": "CV Number ",
                        "binding": "CVNumberButton",
                        "isContentHtml": true,
                        "allowSorting": true,
                        "width": 110,
                    },
                    {
                        "header": "Supplier",
                        "binding": "Supplier",
                        "allowSorting": true,
                        "width": 300,
                    },
                    {
                        "header": "Check Number",
                        "binding": "CheckNumber",
                        "allowSorting": true,
                        "width": 250,
                    },
                    {
                        "header": "Amount",
                        "binding": "Amount",
                        "allowSorting": true,
                        "width": 150,
                    }
                ],
                autoGenerateColumns: false,
                itemsSource: disbursementSummaryReportCollection,
                isReadOnly: true,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            disbursementSummaryReportGrid.trackChanges = true;
        });

    </script>
    <script type="text/javascript">
        var slideLeft = new Menu({
            wrapper: '#o-wrapper',
            type: 'slide-left',
            menuOpenerClass: '.c-button',
            maskId: '#c-mask'
        });

        var slideLeftBtn = document.querySelector('#c-button--slide-left');

        slideLeftBtn.addEventListener('click', function (e) {
            e.preventDefault;
            slideLeft.open();
        });
    </script>

</body>
</html>