<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- Title of the Page -->
    <link rel="shortcut icon" href="~/Images/icon/easyfislogomini.ico">
    <title>Easyfis - Forbidden</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Content/Software-css")
</head>
<body class="">
    <div id="o-wrapper" class="o-wrapper">
        <main class="o-content">
            @Html.Partial("_SoftwareHeader")
            <section class="content-header">
                <div class="container">
                    <h3>
                        Forbidden 
                    </h3>
                    <p>
                        <i class="fa fa-building-o fa-fw"></i> &nbsp; @ViewData["Company"] <br />
                        <i class="fa fa-home fa-fw"></i> &nbsp; @ViewData["Branch"]
                    </p>
                </div>
            </section>
            <section class="container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-lg-4">
                            </div>
                            <div class="col-lg-8" align="right">
                                <button class="btn btn-danger " onclick="btnForbiddenOkayOnClick()"><i class=" fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body" style="background-color: #1e1e1e">
                        <br /><br />
                        <center>
                            <i class="fa fa-exclamation-triangle" style="font-size: 200px; color: #fffa00"></i>
                            <h1 style="color: #fff">Forbidden</h1>
                            <br />
                            <p style="color: #fff">Sorry, you have no rights to access this page.</p>
                            <br /><br />
                            <button class="btn btn-primary btn-lg" onclick="btnForbiddenOkayOnClick()"> Okay </button>
                        </center>
                        <br /><br />
                    </div>
                </div>
            </section>
            @Html.Partial("_SoftwareFooter")
        </main>
    </div>

    <div id="c-mask" class="c-mask"></div><!-- /c-mask -->
    @* add class 'sidebar-collapse' when you want to collapse the sidebar menu *@
    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        function btnForbiddenOkayOnClick() {
            window.history.back();
        }
    </script>
    <script type="text/javascript">
        var slideLeft = new Menu({
            wrapper: '#o-wrapper',
            type: 'slide-left',
            menuOpenerClass: '.c-button',
            maskId: '#c-mask'
        });

        var slideLeftBtn = document.querySelector('#c-button--slide-left');

        slideLeftBtn.addEventListener('click', function (e) {
            e.preventDefault;
            slideLeft.open();
        });
    </script>

</body>
</html>