<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Title of the Page -->
    <title>EasyFIS - Dashboard</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Content/Software-css")
</head>
<body>
    <div id="o-wrapper" class="o-wrapper">
        <!-- Header -->
        @Html.Partial("_SoftwareHeader")

        <!-- Section -->
        <section>
            <div class="sub-nav">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h4><i class="fa fa-home"></i> Dashboard </h4>
                        </div>
                        <div class="col-md-6" align="right">
                            <h5><strong><span id="currentCompanyName"></span> <span> / </span> <span id="currentBranchName"></span></strong></h5>
                        </div>
                    </div>
                </div>
                <div class="div_Current_Page">
                    <div class="container">
                        <a href="@Url.Action("Index", "Software" )" class="currentPageLinkCustom"> Main Menu</a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <a href="@Url.Action("Supplier", "Software")">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-truck fa-4x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="" id="">&nbsp;</div>
                                            <div>Supplier</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer panel-green-footer ">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </a>

                        <a href="@Url.Action("PurchaseOrder", "Software")">
                            <div class="panel panel-blue">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-shopping-cart fa-4x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="" id="">&nbsp;</div>
                                            <div>Purchase Order</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer panel-blue-footer ">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </a>

                        <a href="@Url.Action("ReceivingReceipt", "Software")">
                            <div class="panel panel-blue">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-file-text fa-4x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="" id="">&nbsp;</div>
                                            <div>Receiving Receipt</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer panel-blue-footer ">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </a>

                        <a href="@Url.Action("AccountsPayable", "Software")">
                            <div class="panel panel-orange">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            @*<i class="fa fa-file-text-o fa-4x"></i>*@
                                            <span class="accountReports">AP</span>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="" id="">&nbsp;</div>
                                            <div>Accounts Payable</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer panel-orange-footer ">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </a>

                        <a href="@Url.Action("Disbursement", "Software")">
                            <div class="panel panel-blue">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-credit-card fa-4x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="" id="">&nbsp;</div>
                                            <div>Disbursement</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer panel-blue-footer ">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </a>

                        <a href="@Url.Action("Bank", "Software")">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-bank fa-4x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="" id="">&nbsp;</div>
                                            <div>Bank</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer panel-green-footer ">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3">
                        <a href="@Url.Action("Customer", "Software")">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-users fa-4x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="" id="">&nbsp;</div>
                                            <div>Customer</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer panel-green-footer ">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </a>

                        <a href="@Url.Action("Sales", "Software")">
                            <div class="panel panel-blue">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-bar-chart fa-4x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="" id="">&nbsp;</div>
                                            <div>Sales</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer panel-blue-footer panel-sales-custom-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </a>

                        <a href="@Url.Action("AccountsReceivable", "Software")">
                            <div class="panel panel-orange">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            @*<i class="fa fa-file-text-o fa-4x"></i>*@
                                            <span class="accountReports">AR</span>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="" id="">&nbsp;</div>
                                            <div>Accounts Receivable</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer panel-orange-footer ">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </a>

                        <a href="@Url.Action("Collection", "Software")">
                            <div class="panel panel-blue">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-cc-visa fa-4x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="" id="">&nbsp;</div>
                                            <div>Collection</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer panel-blue-footer ">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </a>

                        <a href="@Url.Action("BankReconciliation", "Software")">
                            <div class="panel panel-orange">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-check fa-4x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="" id="">&nbsp;</div>
                                            <div>Bank Reconciliation</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer panel-orange-footer ">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3">
                        <a href="@Url.Action("Items", "Software")">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-cart-arrow-down fa-4x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="" id="">&nbsp;</div>
                                            <div>Items</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer panel-green-footer ">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </a>

                        <a href="@Url.Action("StockIn", "Software")">
                            <div class="panel panel-blue">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-archive fa-4x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="" id="">&nbsp;</div>
                                            <div>Stock In</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer panel-blue-footer ">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </a>

                        <a href="@Url.Action("StockOut", "Software")">
                            <div class="panel panel-blue">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-dropbox fa-4x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="" id="">&nbsp;</div>
                                            <div>Stock Out</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer panel-blue-footer ">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </a>

                        <a href="@Url.Action("InventoryReport", "Software")">
                            <div class=" panel panel-orange">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-print fa-4x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="" id="">&nbsp;</div>
                                            <div>Inventory Report</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer panel-orange-footer ">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </a>

                        <a href="@Url.Action("StockTransfer", "Software")">
                            <div class="panel panel-blue">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-exchange fa-4x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="" id="">&nbsp;</div>
                                            <div>Stock Transfer</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer panel-blue-footer ">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </a>
                        
                        <a href="@Url.Action("StockCount", "Software")">
                            <div class="panel panel-blue">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-cubes fa-4x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="" id="">&nbsp;</div>
                                            <div>Stock Count</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer panel-blue-footer ">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3">
                        <a href="@Url.Action("ChartOfAccounts", "Software")">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-list fa-4x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="" id="">&nbsp;</div>
                                            <div>Chart of Accounts</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer panel-green-footer ">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </a>

                        <a href="@Url.Action("JournalVoucher", "Software")">
                            <div class="panel panel-blue">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-book fa-4x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="" id="">&nbsp;</div>
                                            <div>Journal Voucher</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer panel-blue-footer ">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </a>

                        <a href="@Url.Action("Company", "Software")">
                            <div class="panel panel-lavander">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-building fa-4x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="" id="">&nbsp;</div>
                                            <div>Company</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer panel-lavander-footer ">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </a>

                        <a href="@Url.Action("FinancialStatements", "Software")">
                            <div class="panel panel-orange">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            @*<i class="fa fa-money fa-4x"></i>*@
                                            <span class="accountReports">FS</span>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="" id="">&nbsp;</div>
                                            <div>Financial Statements</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer panel-orange-footer ">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </a>

                        <a href="@Url.Action("Users", "Software")">
                            <div class="panel panel-lavander">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-user fa-4x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="" id="">&nbsp;</div>
                                            <div>Users</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer panel-lavander-footer ">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </a>

                        <a href="@Url.Action("SystemTables", "Software")">
                            <div class="panel panel-lavander">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-table fa-4x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="" id="">&nbsp;</div>
                                            <div>System Tables</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer panel-lavander-footer ">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        @Html.Partial("_SoftwareFooter")
    </div>

    <!-- SideBar Menu -->
    @Html.Partial("_SoftwareSideBarMenu")

    <div id="c-mask" class="c-mask"></div><!-- /c-mask -->
    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        // ============
        // On Load Page
        // ============
        $(document).ready(function () {
            NProgress.start();
            getCompanyAndBranch();
            NProgress.done();
        });
    </script>
</body>
</html>