<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Some slide and push menu demos using CSS3 transitions.">

    <!-- Title of the Page -->
    <title>Software Dashboard</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Font-Awesome/css")
    @Styles.Render("~/Content/Software-css")
</head>
<body>
    <div id="wrapper" class="wrapper">
        <!-- Header -->
        @Html.Partial("_SoftwareHeader")

        <!-- Section -->
        <section>
            <br /><br /><br />
            <div class="container">
                @*<button id="c-button--push-left" class="btn btn-default"><i class="fa fa-bars"></i> Menu</button><br /><br />*@
                @*<h3>Software Dashboard</h3>*@
                <div class="well">
                    <div class="row">
                        <div class="col-md-3">
                            <a class="btn-masterlist btn-dashboard button--masterlist" href="@Url.Action("Supplier","Software")"><img src='~/images/Icons/iSupplier.png'><br /> Supplier</a>
                            <a class="btn-submenu btn-dashboard button--submenu" href="@Url.Action("PurchaseOrder", "Software")"><img src='~/images/Icons/iPurchase.png'><br /> Purchase Order</a>
                            <a class="btn-submenu btn-dashboard button--submenu" href="@Url.Action("ReceivingReceipt", "Software")"><img src='~/images/Icons/iReceipt.png'><br /> Receiving Receipt</a>
                            <a class="btn-reports btn-dashboard button--reports" href="@Url.Action("AccountsPayable", "Software")"><img src='~/images/Icons/iPayable.png'><br /> Accounts Payable</a>
                            <a class="btn-submenu btn-dashboard button--submenu" href="@Url.Action("Disbursement", "Software")"><img src='~/images/Icons/iDisburse.png'><br /> Disbursement</a>
                            <a class="btn-masterlist btn-dashboard  button--masterlist" href="@Url.Action("Bank", "Software")"><img src='~/images/Icons/iBank.png'><br /> Bank</a>
                        </div>
                        <div class="col-md-3 ">
                            <a class="btn-masterlist btn-dashboard button--masterlist" href="@Url.Action("Customer", "Software")"><img src='~/images/Icons/iUsers.png'><br /> Customer</a>
                            <a class="btn-submenu btn-sale button--submenu" href="@Url.Action("Sales", "Software")"><img src='~/images/Icons/iSales.png'><br /> Sales</a>
                            <a class="btn-reports btn-dashboard button--reports" href="@Url.Action("AccountsReceivable", "Software")"><img src='~/images/Icons/iReceive.png'><br /> Accounts Receivable</a>
                            <a class="btn-submenu btn-dashboard button--submenu" href="@Url.Action("Collection", "Software")"><img src='~/images/Icons/iCollect.png'><br /> Collection</a>
                            <a class="btn-submenu btn-dashboard button--submenu" href="@Url.Action("BankReconciliation", "Software")"><img src='~/images/Icons/iBank.png'><br /> Bank Reconciliation</a>
                        </div>
                        <div class="col-md-3">
                            <a class="btn-masterlist btn-dashboard button--masterlist" href="@Url.Action("Items", "Software")"><img src='~/images/Icons/iItems.png'><br /> Items</a>
                            <a class="btn-submenu btn-dashboard button--submenu" href="@Url.Action("StockIn", "Software")"><img src='~/images/Icons/iStockIn.png'><br /> Stock In</a>
                            <a class="btn-submenu btn-dashboard button--submenu" href="@Url.Action("StockOut", "Software")"><img src='~/images/Icons/iStockOut.png'><br /> Stock Out</a>
                            <a class="btn-reports btn-dashboard button--reports" href="@Url.Action("InventoryReport", "Software")"><img src='~/images/Icons/iReport.png'><br /> Inventory Report</a>
                            <a class="btn-submenu btn-dashboard button--submenu" href="@Url.Action("StockTransfer", "Software")"><img src='~/images/Icons/iStock.png'><br /> Stock Transfer</a>
                            <a class="btn-submenu btn-dashboard button--submenu" href="@Url.Action("SystemTables", "Software")"><img src='~/images/Icons/iTables.png'><br /> System Tables</a>
                        </div>
                        <div class="col-md-3">
                            <a class="btn-masterlist btn-dashboard button--masterlist" href="@Url.Action("ChartOfAccounts", "Software")"><img src='~/images/Icons/iChart.png'><br /> Chart of Accounts</a>
                            <a class="btn-submenu btn-dashboard button--submenu" href="@Url.Action("JournalVoucher", "Software")"><img src='~/images/Icons/iJournal.png'><br /> Journal Voucher</a>
                            <a class="btn-submenu btn-dashboard button--submenu" href="@Url.Action("Company", "Software")"><img src='~/images/Icons/iCompany.png'><br /> Comapany</a>
                            <a class="btn-reports btn-dashboard button--reports" href="@Url.Action("FinancialStatements", "Software")"><img src='~/images/Icons/iStatement.png'><br /> Financial Statements</a>
                            <a class="btn-submenu btn-dashboard button--submenu" href="@Url.Action("Users", "Software")"><img src='~/images/Icons/iUsers.png'><br /> Users</a>
                            <a class="btn-submenu btn-dashboard button--submenu" href="@Url.Action("Settings", "Software")"><img src='~/images/Icons/iSettings.png'><br /> Settings</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- SideBar Menu -->
    @Html.Partial("_SoftwareSideBarMenu")

    <div id="c-mask" class="c-mask"></div><!-- /c-mask -->
    @Scripts.Render("~/Scripts/Software-js")
</body>
</html>