<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- Title of the Page -->
    <link rel="shortcut icon" href="~/Images/icon/easyfislogomini.ico">
    <title>EasyFIS - Dashboard</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Content/Software-css")
</head>
<body class="hold-transition skin-blue fixed  sidebar-mini">
    @* add class 'sidebar-collapse' when you want to collapse the sidebar menu *@
    <div class="wrapper">
        @Html.Partial("_SoftwareHeader")
        @Html.Partial("_SoftwareSideBarMenu")

        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    Dashboard
                    <small><i class="fa fa-building"></i> @ViewData["Company"] / @ViewData["Branch"]</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/Software"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                </ol>
            </section>

            <section class="content">
                <div class="box box-default">
                    <div class="box-header">

                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="/Software/Supplier">

                                    <div class="panel panel-theme">
                                        <i class="fa fa-black-tie fa-4x"></i>
                                        <h4>Supplier</h4>
                                    </div>

                                    @*<div class="panel panel-theme">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <i class="fa fa-black-tie fa-4x"></i>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="" id="">&nbsp;</div>
                                                    <div>Supplier</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer panel-theme-footer ">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>*@
                                </a>

                                <a href="/Software/PurchaseOrder">
                                    <div class="panel panel-theme">
                                        <i class="fa fa-clipboard fa-4x"></i>
                                        <h4>Purchase Order</h4>
                                    </div>

                                    @*<div class="panel panel-theme">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <i class="fa fa-clipboard fa-4x"></i>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="" id="">&nbsp;</div>
                                                    <div>Purchase Order</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer panel-theme-footer ">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>*@
                                </a>

                                <a href="/Software/ReceivingReceipt">
                                    <div class="panel panel-theme">
                                        <i class="fa fa-truck fa-4x"></i>
                                        <h4>Receiving Receipt</h4>
                                    </div>

                                    @*<div class="panel panel-theme">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <i class="fa fa-truck fa-4x"></i>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="" id="">&nbsp;</div>
                                                    <div>Receiving Receipt</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer panel-theme-footer ">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>*@
                                </a>

                                <a href="/Software/AccountsPayable">
                                    <div class="panel panel-theme">
                                        <i class="fa fa-print fa-4x"></i>
                                        <h4>Accounts Payable</h4>
                                    </div>

                                    @*<div class="panel panel-theme">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <i class="fa fa-print fa-4x"></i>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="" id="">&nbsp;</div>
                                                    <div>Accounts Payable</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer panel-theme-footer ">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>*@
                                </a>

                                <a href="/Software/Disbursement">
                                    <div class="panel panel-theme">
                                        <i class="fa fa-credit-card fa-4x"></i>
                                        <h4>Disbursement</h4>
                                    </div>

                                    @*<div class="panel panel-theme">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <i class="fa fa-credit-card fa-4x"></i>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="" id="">&nbsp;</div>
                                                    <div>Disbursement</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer panel-theme-footer ">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>*@
                                </a>

                                <a href="/Software/Bank">
                                    <div class="panel panel-theme">
                                        <i class="fa fa-bank fa-4x"></i>
                                        <h4>Bank</h4>
                                    </div>


                                    @*<div class="panel panel-theme">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <i class="fa fa-bank fa-4x"></i>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="" id="">&nbsp;</div>
                                                    <div>Bank</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer panel-theme-footer ">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>*@
                                </a>
                            </div>

                            <div class="col-md-3">
                                <a href="/Software/Customer">
                                    <div class="panel panel-theme">
                                        <i class="fa fa-users fa-4x"></i>
                                        <h4>Customer</h4>
                                    </div>

                                    @*<div class="panel panel-theme">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <i class="fa fa-users fa-4x"></i>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="" id="">&nbsp;</div>
                                                    <div>Customer</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer panel-theme-footer ">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>*@
                                </a>

                                <a href="/Software/Sales">
                                    <div class="panel panel-theme-sales">
                                        <i class="fa fa-tags fa-4x"></i>
                                        <h4>Sales</h4>
                                    </div>

                                    @*<div class="panel panel-theme">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <i class="fa fa-tags fa-4x"></i>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="" id="">&nbsp;</div>
                                                    <div>Sales</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer panel-theme-footer panel-sales-custom-footer">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>*@
                                </a>

                                <a href="/Software/AccountsReceivable">
                                    <div class="panel panel-theme">
                                        <i class="fa fa-print fa-4x"></i>
                                        <h4>Accounts Receivable</h4>
                                    </div>

                                    @*<div class="panel panel-theme">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <i class="fa fa-print fa-4x"></i>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="" id="">&nbsp;</div>
                                                    <div>Accounts Receivable</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer panel-theme-footer ">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>*@
                                </a>

                                <a href="/Software/Collection">
                                    <div class="panel panel-theme">
                                        <i class="fa fa-cc-visa fa-4x"></i>
                                        <h4>Collection</h4>
                                    </div>

                                    @*<div class="panel panel-theme">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <i class="fa fa-cc-visa fa-4x"></i>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="" id="">&nbsp;</div>
                                                    <div>Collection</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer panel-theme-footer ">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>*@
                                </a>

                                <a href="/Software/BankReconciliation">
                                    <div class="panel panel-theme">
                                        <i class="fa fa-print fa-4x"></i>
                                        <h4>Bank Reconciliation</h4>
                                    </div>

                                    @*<div class="panel panel-theme">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <i class="fa fa-print fa-4x"></i>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="" id="">&nbsp;</div>
                                                    <div>Bank Reconciliation</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer panel-theme-footer ">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>*@
                                </a>
                            </div>

                            <div class="col-md-3">
                                <a href="/Software/Items">
                                    <div class="panel panel-theme">
                                        <i class="fa fa-cubes fa-4x"></i>
                                        <h4>Items</h4>
                                    </div>

                                    @*<div class="panel panel-theme">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <i class="fa fa-cubes fa-4x"></i>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="" id="">&nbsp;</div>
                                                    <div>Items</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer panel-theme-footer ">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>*@
                                </a>

                                <a href="/Software/StockIn">
                                    <div class="panel panel-theme">
                                        <i class="fa fa-archive fa-4x"></i>
                                        <h4>Stock In</h4>
                                    </div>

                                    @*<div class="panel panel-theme">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <i class="fa fa-archive fa-4x"></i>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="" id="">&nbsp;</div>
                                                    <div>Stock In</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer panel-theme-footer ">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>*@
                                </a>

                                <a href="/Software/StockOut">
                                    <div class="panel panel-theme">
                                        <i class="fa fa-dropbox fa-4x"></i>
                                        <h4>Stock Out</h4>
                                    </div>

                                    @*<div class="panel panel-theme">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <i class="fa fa-dropbox fa-4x"></i>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="" id="">&nbsp;</div>
                                                    <div>Stock Out</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer panel-theme-footer ">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>*@
                                </a>

                                <a href="/Software/InventoryReport">
                                    <div class="panel panel-theme">
                                        <i class="fa fa-print fa-4x"></i>
                                        <h4>Inventory Report</h4>
                                    </div>

                                    @*<div class=" panel panel-theme">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <i class="fa fa-print fa-4x"></i>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="" id="">&nbsp;</div>
                                                    <div>Inventory Report</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer panel-theme-footer ">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>*@
                                </a>

                                <a href="/Software/StockTransfer">
                                    <div class="panel panel-theme">
                                        <i class="fa fa-exchange fa-4x"></i>
                                        <h4>Stock Transfer</h4>
                                    </div>

                                    @*<div class="panel panel-theme">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <i class="fa fa-exchange fa-4x"></i>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="" id="">&nbsp;</div>
                                                    <div>Stock Transfer</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer panel-theme-footer ">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>*@
                                </a>

                                <a href="/Software/StockCount">
                                    <div class="panel panel-theme">
                                        <i class="fa fa-tablet fa-4x"></i>
                                        <h4>Stock Count</h4>
                                    </div>

                                    @*<div class="panel panel-theme">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <i class="fa fa-tablet fa-4x"></i>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="" id="">&nbsp;</div>
                                                    <div>Stock Count</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer panel-theme-footer ">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>*@
                                </a>
                            </div>

                            <div class="col-md-3">
                                <a href="/Software/ChartOfAccounts">
                                    <div class="panel panel-theme">
                                        <i class="fa fa-list fa-4x"></i>
                                        <h4>Chart of Accounts</h4>
                                    </div>

                                    @*<div class="panel panel-theme">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <i class="fa fa-list fa-4x"></i>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="" id="">&nbsp;</div>
                                                    <div>Chart of Accounts</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer panel-theme-footer ">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>*@
                                </a>

                                <a href="/Software/JournalVoucher">
                                    <div class="panel panel-theme">
                                        <i class="fa fa-book fa-4x"></i>
                                        <h4>Journal Voucher</h4>
                                    </div>

                                    @*<div class="panel panel-theme">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <i class="fa fa-book fa-4x"></i>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="" id="">&nbsp;</div>
                                                    <div>Journal Voucher</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer panel-theme-footer ">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>*@
                                </a>

                                <a href="/Software/Company">
                                    <div class="panel panel-theme">
                                        <i class="fa fa-building fa-4x"></i>
                                        <h4>Company</h4>
                                    </div>

                                    @*<div class="panel panel-theme">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <i class="fa fa-building fa-4x"></i>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="" id="">&nbsp;</div>
                                                    <div>Company</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer panel-theme-footer ">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>*@
                                </a>

                                <a href="/Software/FinancialStatements">
                                    <div class="panel panel-theme">
                                        <i class="fa fa-print fa-4x"></i>
                                        <h4>Financial Statements</h4>
                                    </div>


                                    @*<div class="panel panel-theme">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <i class="fa fa-print fa-4x"></i>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="" id="">&nbsp;</div>
                                                    <div>Financial Statements</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer panel-theme-footer ">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>*@
                                </a>

                                <a href="/Software/Users">
                                    <div class="panel panel-theme">
                                        <i class="fa fa-key fa-4x"></i>
                                        <h4>Users</h4>
                                    </div>

                                    @*<div class="panel panel-theme">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <i class="fa fa-key fa-4x"></i>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="" id="">&nbsp;</div>
                                                    <div>Users</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer panel-theme-footer ">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>*@
                                </a>

                                <a href="/Software/SystemTables">
                                    <div class="panel panel-theme">
                                        <i class="fa fa-table fa-4x"></i>
                                        <h4>System Tables</h4>
                                    </div>

                                    @*<div class="panel panel-theme">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <i class="fa fa-table fa-4x"></i>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="" id="">&nbsp;</div>
                                                    <div>System Tables</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer panel-theme-footer ">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>*@
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        @Html.Partial("_SoftwareFooter")
    </div>

    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        $(document).ready(function () {
            var userId = '@ViewData["UserId"]';
            rightsAccessValidation(userId);

            NProgress.start();
            NProgress.done();
        });
    </script>
</body>
</html>