<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- Title of the Page -->
    <link rel="shortcut icon" href="~/Images/icon/easyfislogomini.ico">
    <title>Easyfis - Main Menu </title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Content/Software-css")
</head>
<body>
    <div id="o-wrapper" class="o-wrapper">
        <main class="o-content">
            @Html.Partial("_SoftwareHeader")
            <section class="content-header">
                <div class="container">
                    <h3>
                        Main Menu
                    </h3>
                    <p>
                        <i class="fa fa-building-o fa-fw"></i> &nbsp; @ViewData["Company"] <br />
                        <i class="fa fa-home fa-fw"></i> &nbsp; <a href="#" onclick="getUserBranches()" style="color: white;">@ViewData["Branch"]</a>
                    </p>
                </div>
            </section>
            <section class="container">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="/Software/Supplier">
                                    <div class="panel panel-theme">
                                        <img src="~/Images/svgIcons/businessman.svg" class="svg-icon-style" /> 
                                        <br />
                                        <h4>Supplier</h4>
                                    </div>
                                </a>
                                <a href="/Software/PurchaseOrder">
                                    <div class="panel panel-theme">
                                        <img src="~/Images/svgIcons/inspection.svg" class="svg-icon-style" />
                                        <br />
                                        <h4>Purchase Order</h4>
                                    </div>
                                </a>
                                <a href="/Software/ReceivingReceipt">
                                    <div class="panel panel-theme">
                                        <img src="~/Images/svgIcons/shipped.svg" class="svg-icon-style" />
                                        <br />
                                        <h4>Receiving Receipt</h4>
                                    </div>
                                </a>
                                <a href="/Software/AccountsPayable">
                                    <div class="panel panel-theme">
                                        <img src="~/Images/svgIcons/print.svg" class="svg-icon-style" />
                                        <br />
                                        <h4>Accounts Payable</h4>
                                    </div>
                                </a>
                                <a href="/Software/Disbursement">
                                    <div class="panel panel-theme">
                                        <img src="~/Images/svgIcons/money_transfer.svg" class="svg-icon-style" />
                                        <br />
                                        <h4>Disbursement</h4>
                                    </div>
                                </a>
                                <a href="/Software/Bank">
                                    <div class="panel panel-theme">
                                        <img src="~/Images/svgIcons/library.svg" class="svg-icon-style" />
                                        <br />
                                        <h4>Bank</h4>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="/Software/Customer">
                                    <div class="panel panel-theme">
                                        <img src="~/Images/svgIcons/conference_call.svg" class="svg-icon-style" />
                                        <br />
                                        <h4>Customer</h4>
                                    </div>
                                </a>
                                <a href="/Software/Sales">
                                    <div class="panel panel-theme-sales">
                                        <img src="~/Images/svgIcons/approval.svg" class="svg-icon-style" />
                                        <br />
                                        <h4>Sales Invoice</h4>
                                    </div>
                                </a>
                                <a href="/Software/AccountsReceivable">
                                    <div class="panel panel-theme">
                                        <img src="~/Images/svgIcons/print.svg" class="svg-icon-style" />
                                        <br />
                                        <h4>Accounts Receivable</h4>
                                    </div>
                                </a>
                                <a href="/Software/Collection">
                                    <div class="panel panel-theme">
                                        <img src="~/Images/svgIcons/sales_performance.svg" class="svg-icon-style" />
                                        <br />
                                        <h4>Collection</h4>
                                    </div>
                                </a>
                                <a href="/Software/BankReconciliation">
                                    <div class="panel panel-theme">
                                        <img src="~/Images/svgIcons/print.svg" class="svg-icon-style" />
                                        <br />
                                        <h4>Bank Reconciliation</h4>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="/Software/Item">
                                    <div class="panel panel-theme">
                                        <img src="~/Images/svgIcons/paid.svg" class="svg-icon-style" />
                                        <br />
                                        <h4>Item</h4>
                                    </div>
                                </a>
                                <a href="/Software/StockIn">
                                    <div class="panel panel-theme">
                                        <img src="~/Images/svgIcons/internal.svg" class="svg-icon-style" />
                                        <br />
                                        <h4>Stock In</h4>
                                    </div>
                                </a>
                                <a href="/Software/StockOut">
                                    <div class="panel panel-theme">
                                        <img src="~/Images/svgIcons/external.svg" class="svg-icon-style" />
                                        <br />
                                        <h4>Stock Out</h4>
                                    </div>
                                </a>
                                <a href="/Software/Inventory">
                                    <div class="panel panel-theme">
                                        <img src="~/Images/svgIcons/print.svg" class="svg-icon-style" />
                                        <br />
                                        <h4>Inventory Report</h4>
                                    </div>
                                </a>
                                <a href="/Software/StockTransfer">
                                    <div class="panel panel-theme">
                                        <img src="~/Images/svgIcons/refresh.svg" class="svg-icon-style" />
                                        <br />
                                        <h4>Stock Transfer</h4>
                                    </div>
                                </a>
                                <a href="/Software/StockCount">
                                    <div class="panel panel-theme">
                                        <img src="~/Images/svgIcons/kindle.svg" class="svg-icon-style" />
                                        <br />
                                        <h4>Stock Count</h4>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="/Software/ChartOfAccounts">
                                    <div class="panel panel-theme">
                                        <img src="~/Images/svgIcons/todo_list.svg" class="svg-icon-style" />
                                        <br />
                                        <h4>Chart of Accounts</h4>
                                    </div>
                                </a>
                                <a href="/Software/JournalVoucher">
                                    <div class="panel panel-theme">
                                        <img src="~/Images/svgIcons/rules.svg" class="svg-icon-style" />
                                        <br />
                                        <h4>Journal Voucher</h4>
                                    </div>
                                </a>
                                <a href="/Software/Company">
                                    <div class="panel panel-theme">
                                        <img src="~/Images/svgIcons/organization.svg" class="svg-icon-style" />
                                        <br />
                                        <h4>Company</h4>
                                    </div>
                                </a>
                                <a href="/Software/FinancialStatements">
                                    <div class="panel panel-theme">
                                        <img src="~/Images/svgIcons/print.svg" class="svg-icon-style" />
                                        <br />
                                        <h4>Financial Statements</h4>
                                    </div>
                                </a>
                                <a href="/Software/Users">
                                    <div class="panel panel-theme">
                                        <img src="~/Images/svgIcons/key.svg" class="svg-icon-style" />
                                        <br />
                                        <h4>User</h4>
                                    </div>
                                </a>
                                <a href="/Software/SystemTables">
                                    <div class="panel panel-theme">
                                        <img src="~/Images/svgIcons/grid.svg" class="svg-icon-style" />
                                        <br />
                                        <h4>System Tables</h4>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            @Html.Partial("_SoftwareFooter")
        </main>
    </div>
    <div id="c-mask" class="c-mask"></div>

    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        $(document).ready(function () {
            NProgress.start();
            NProgress.done();
        });
    </script>
    <script type="text/javascript">
        var cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches');
        function getUserBranches() {
            $("#loadingUserBranches").show();
            document.getElementById("loadingUserBranches").innerHTML = '<i class="fa fa-spinner fa-spin"></i>';
            $("#userBranchContent").hide();

            $('#userBranchesModal').modal({ show: true, backdrop: 'static' });

            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
            $("#updateUserBranch").prop("disabled", false);
            $("#closeUserBranch").prop("disabled", false);

            var userBranchesObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/userBranch/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (userBranchesResults) {
                    if (userBranchesResults.length > 0) {
                        for (i = 0; i < userBranchesResults.length; i++) {
                            userBranchesObservableArray.push({
                                BranchId: userBranchesResults[i]["BranchId"],
                                Branch: userBranchesResults[i]["Branch"]
                            });
                        }
                    }

                    var currentBranch = "@ViewData["BranchId"]";
                    cboUserBranches.dispose();
                    cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches', {
                        isEditable: false,
                        placeholder: "Select Branches",
                        itemsSource: userBranchesObservableArray,
                        displayMemberPath: "Branch",
                        selectedValuePath: "BranchId",
                        selectedValue: currentBranch
                    });

                    setTimeout(function () {
                        $("#loadingUserBranches").hide();
                        $("#userBranchContent").show();
                    }, 500)
                }
            });
        }

        function updateUserBranchOnclick() {
            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Updating";
            $("#updateUserBranch").prop("disabled", true);
            $("#closeUserBranch").prop("disabled", true);

            var userBranchObject = new Object();
            userBranchObject.BranchId = cboUserBranches.selectedValue;
            var userBranchData = JSON.stringify(userBranchObject);

            $.ajax({
                type: "PUT",
                url: '/api/userBranch/update',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: userBranchData,
                statusCode: {
                    200: function () {
                        toastr.success("Update Successful");
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function () {
                        toastr.error("Not Found");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    },
                    500: function () {
                        toastr.error("Bad Request");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    }
                }
            });
        }
    </script>
    <script type="text/javascript">
        var slideLeft = new Menu({
            wrapper: '#o-wrapper',
            type: 'slide-left',
            menuOpenerClass: '.c-button',
            maskId: '#c-mask'
        });

        var slideLeftBtn = document.querySelector('#c-button--slide-left');

        slideLeftBtn.addEventListener('click', function (e) {
            e.preventDefault;
            slideLeft.open();
        });
    </script>

</body>
</html>