<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Some slide and push menu demos using CSS3 transitions.">

    <!-- Title of the Page -->
    <title>Software Dashboard</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Font-Awesome/css")
    @Styles.Render("~/Content/Software-css")
</head>
<body>
    <div id="wrapper" class="wrapper">
        <!-- Header -->
        @Html.Partial("_SoftwareHeader")

        <!-- Section -->
        <section>
            <br /><br /><br />
            <div class="container">
                @*<button id="c-button--push-left" class="btn btn-default"><i class="fa fa-bars"></i> Menu</button><br /><br />*@
                @*<h3>Software Dashboard</h3>*@
                <div class="well">
                    <div class="row">
                        <div class="col-md-3">
                            <a class="btn-masterlist btn-dashboard button--masterlist" href="@Url.Action("Supplier","Software")"><i class="fa fa-truck"></i> Supplier</a>
                            <a class="btn-submenu btn-dashboard button--submenu" href="@Url.Action("PurchaseOrder", "Software")"><i class="fa fa-tags"></i> Purchase Order</a>
                            <a class="btn-submenu btn-dashboard button--submenu" href="@Url.Action("ReceivingReceipt", "Software")"><i class="fa fa-file-text-o"></i> Receiving Receipt</a>
                            <a class="btn-reports btn-dashboard button--reports" href="@Url.Action("AccountsPayable", "Software")"><i class="fa fa-file-text-o"></i> Accounts Payable</a>
                            <a class="btn-submenu btn-dashboard button--submenu" href="@Url.Action("Disbursement", "Software")"><i class="fa fa-file-text-o"></i> Disbursement</a>
                            <a class="btn-masterlist btn-dashboard  button--masterlist" href="@Url.Action("Bank", "Software")"><i class="fa fa-university"></i> Bank</a>
                        </div>
                        <div class="col-md-3">
                            <a class="btn-masterlist btn-dashboard button--masterlist" href="@Url.Action("Customer", "Software")"><i class="fa fa-users"></i> Customer</a>
                            <a class="btn-submenu btn-sale button--submenu" href="@Url.Action("Sales", "Software")"><i class="fa fa-bar-chart"></i> Sales</a>
                            <a class="btn-reports btn-dashboard button--reports" href="@Url.Action("AccountsReceivable", "Software")"><i class="fa fa-file-text-o"></i> Accounts Receivable</a>
                            <a class="btn-submenu btn-dashboard button--submenu" href="@Url.Action("Collection", "Software")"><i class="fa fa-archive"></i> Collection</a>
                            <a class="btn-submenu btn-dashboard button--submenu" href="@Url.Action("BankReconciliation", "Software")"><i class="fa fa-university"></i> Bank Reconciliation</a>
                        </div>
                        <div class="col-md-3">
                            <a class="btn-masterlist btn-dashboard button--masterlist" href="@Url.Action("Items", "Software")"><i class="fa fa-suitcase"></i> Items</a>
                            <a class="btn-submenu btn-dashboard button--submenu" href="@Url.Action("StockIn", "Software")"><i class="fa fa-cubes"></i> Stock In</a>
                            <a class="btn-submenu btn-dashboard button--submenu" href="@Url.Action("StockOut", "Software")"><i class="fa fa-cubes"></i> Stock Out</a>
                            <a class="btn-reports btn-dashboard button--reports" href="@Url.Action("InventoryReport", "Software")"><i class="fa fa-file-text-o"></i> Inventory Report</a>
                            <a class="btn-submenu btn-dashboard button--submenu" href="@Url.Action("StockTransfer", "Software")"><i class="fa fa-cubes"></i> Stock Transfer</a>
                            <a class="btn-submenu btn-dashboard button--submenu" href="@Url.Action("SystemTables", "Software")"><i class="fa fa-table"></i> System Tables</a>
                        </div>
                        <div class="col-md-3">
                            <a class="btn-masterlist btn-dashboard button--masterlist" href="@Url.Action("ChartOfAccounts", "Software")"><i class="fa fa-line-chart"></i> Chart of Accounts</a>
                            <a class="btn-submenu btn-dashboard button--submenu" href="@Url.Action("JournalVoucher", "Software")"><i class="fa fa-book"></i> Journal Voucher</a>
                            <a class="btn-submenu btn-dashboard button--submenu" href="@Url.Action("Company", "Software")"><i class="fa fa-building"></i> Comapany</a>
                            <a class="btn-reports btn-dashboard button--reports" href="@Url.Action("FinancialStatements", "Software")"><i class="fa fa-money"></i> Financial Statements</a>
                            <a class="btn-submenu btn-dashboard button--submenu" href="@Url.Action("Users", "Software")"><i class="fa fa-user"></i> Users</a>
                            <a class="btn-submenu btn-dashboard button--submenu" href="@Url.Action("Settings", "Software")"><i class="fa fa-gears"></i> Settings</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- SideBar Menu -->
    @Html.Partial("_SoftwareSideBarMenu")

    <div id="c-mask" class="c-mask"></div><!-- /c-mask -->
    @Scripts.Render("~/Scripts/Software-js")
</body>
</html>