<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Some slide and push menu demos using CSS3 transitions.">

    <!-- Title of the Page -->
    <link rel="shortcut icon" href="~/Images/icon/easyfislogomini.ico">
    <title>Inventory Report</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Content/Software-css")
</head>
<body>
    <div id="o-wrapper" class="o-wrapper">
        <main class="o-content">
            @Html.Partial("_SoftwareHeader")
            <section class="content-header">
                <div class="container">
                    <h3>
                        Inventory Report
                    </h3>
                    <p>
                        <i class="fa fa-building-o fa-fw"></i> &nbsp; @ViewData["Company"] <br />
                        <i class="fa fa-home fa-fw"></i> &nbsp; <a href="#" onclick="getUserBranches()" style="color: white;">@ViewData["Branch"]</a>
                    </p>
                </div>
            </section>
            <section class="container">
                <div class="row">
                    <div class="col-md-5">
                        <ul class="nav nav-pills nav-stacked pill-custom pill-report-custom" role="tablist" id="myTab">
                            <li class="active"><a data-toggle="pill" href="#Inventory">Inventory</a></li>
                            <li><a data-toggle="pill" href="#SC">Stock Card</a></li>
                            <li class="reportDivider"></li>
                            <li><a data-toggle="pill" href="#SIDR">Stock-In Detail Report</a></li>
                            <li><a data-toggle="pill" href="#SODR">Stock-Out Detail Report</a></li>
                            <li><a data-toggle="pill" href="#STDR">Stock Transfer Detail Report</a></li>
                            <li class="reportDivider"></li>
                            <li><a data-toggle="pill" href="#IL">Item List</a></li>
                            <li><a data-toggle="pill" href="#ICL">Item Component List</a></li>
                            <li><a data-toggle="pill" href="#PCS">Physical Count Sheet</a></li>
                            <li class="reportDivider"></li>
                            <li><a data-toggle="pill" href="#FAR">Fixed Assets Report</a></li>
                        </ul>
                    </div>
                    <div class="col-md-7">
                        <div class="tab-content">
                            <div id="Inventory" class="tab-pane fade in active">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div align="right">
                                            <button onclick="btnInventoryReportViewOnclick()" class="btn btn-primary "><i class="fa fa-table"></i> View</button>
                                            <button onclick="btnInventoryReportPrintPDFOnclick()" class="btn btn-primary "><i class="fa fa-print"></i> Print</button>
                                            <a href="@Url.Action("Index", "Software")" class="btn btn-danger " id=""><i class="fa fa-times"></i> Close</a>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="">
                                            <form class="form-horizontal" role="form">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Start Date</label>
                                                    <div class="col-sm-8">
                                                        <div class="comboBox-wide" id="cboInventoryStartDate"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">End Date</label>
                                                    <div class="col-sm-8">
                                                        <div class="comboBox-wide" id="cboInventoryEndDate"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Company</label>
                                                    <div class="col-sm-8">
                                                        <div class="comboBox-wide" id="cboInventoryCompany"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Branch</label>
                                                    <div class="col-sm-8">
                                                        <div class="comboBox-wide" id="cboInventoryBranch"></div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="SC" class="tab-pane fade">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div align="right">
                                            <button onclick="btnStockCardViewOnclick()" class="btn btn-primary "><i class="fa fa-table"></i> View</button>
                                            <button onclick="btnStockCardPrintPDFOnclick()" class="btn btn-primary "><i class="fa fa-print"></i> Print</button>
                                            <a href="@Url.Action("Index", "Software")" class="btn btn-danger " id=""><i class="fa fa-times"></i> Close</a>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="">
                                            <form class="form-horizontal" role="form">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Start Date</label>
                                                    <div class="col-sm-8">
                                                        <div class="comboBox-wide" id="cboStockCardStartDate"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">End Date</label>
                                                    <div class="col-sm-8">
                                                        <div class="comboBox-wide" id="cboStockCardEndDate"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Company</label>
                                                    <div class="col-sm-8">
                                                        <div class="comboBox-wide" id="cboStockCardCompany"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Branch</label>
                                                    <div class="col-sm-8">
                                                        <div class="comboBox-wide" id="cboStockCardBranch"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Item</label>
                                                    <div class="col-sm-8">
                                                        <div class="comboBox-wide" id="cboStockCardItem"></div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="SIDR" class="tab-pane fade">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div align="right">
                                            <button onclick="btnStockInDetailPrintPDFOnclick()" class="btn btn-primary "><i class="fa fa-print"></i> Print</button>
                                            <a href="@Url.Action("Index", "Software")" class="btn btn-danger " id=""><i class="fa fa-times"></i> Close</a>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="">
                                            <form class="form-horizontal" role="form">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Start Date</label>
                                                    <div class="col-sm-8">
                                                        <div class="comboBox-wide" id="cboStockInDetailStartDate"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">End Date</label>
                                                    <div class="col-sm-8">
                                                        <div class="comboBox-wide" id="cboStockInDetailEndDate"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Company</label>
                                                    <div class="col-sm-8">
                                                        <div class="comboBox-wide" id="cboStockInDetailCompany"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Branch</label>
                                                    <div class="col-sm-8">
                                                        <div class="comboBox-wide" id="cboStockInDetailBranch"></div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="SODR" class="tab-pane fade">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div align="right">
                                            <button onclick="btnStockOutDetailPrintPDFOnclick()" class="btn btn-primary "><i class="fa fa-print"></i> Print</button>
                                            <a href="@Url.Action("Index", "Software")" class="btn btn-danger " id=""><i class="fa fa-times"></i> Close</a>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="">
                                            <form class="form-horizontal" role="form">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Start Date</label>
                                                    <div class="col-sm-8">
                                                        <div class="comboBox-wide" id="cboStockOutDetailStartDate"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">End Date</label>
                                                    <div class="col-sm-8">
                                                        <div class="comboBox-wide" id="cboStockOutDetailEndDate"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Company</label>
                                                    <div class="col-sm-8">
                                                        <div class="comboBox-wide" id="cboStockOutDetailCompany"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Branch</label>
                                                    <div class="col-sm-8">
                                                        <div class="comboBox-wide" id="cboStockOutDetailBranch"></div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="STDR" class="tab-pane fade">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div align="right">
                                            <button onclick="btnStockTransferDetailPrintPDFOnclick()" class="btn btn-primary "><i class="fa fa-print"></i> Print</button>
                                            <a href="@Url.Action("Index", "Software")" class="btn btn-danger " id=""><i class="fa fa-times"></i> Close</a>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="">
                                            <form class="form-horizontal" role="form">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Start Date</label>
                                                    <div class="col-sm-8">
                                                        <div class="comboBox-wide" id="cboStockTransferDetailStartDate"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">End Date</label>
                                                    <div class="col-sm-8">
                                                        <div class="comboBox-wide" id="cboStockTransferDetailEndDate"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Company</label>
                                                    <div class="col-sm-8">
                                                        <div class="comboBox-wide" id="cboStockTransferDetailCompany"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Branch</label>
                                                    <div class="col-sm-8">
                                                        <div class="comboBox-wide" id="cboStockTransferDetailBranch"></div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="IL" class="tab-pane fade">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div align="right">
                                            <button onclick="btnItemListPrintPDFOnclick()" class="btn btn-primary "><i class="fa fa-print"></i> Print</button>
                                            <a href="@Url.Action("Index", "Software")" class="btn btn-danger " id=""><i class="fa fa-times"></i> Close</a>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="">
                                            <form class="form-horizontal" role="form">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Item Group</label>
                                                    <div class="col-sm-8">
                                                        <div class="comboBox-wide" id="cboItemListItemGroup"></div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="ICL" class="tab-pane fade">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div align="right">
                                            <button onclick="btnItemComponentListPrintPDFOnclick()" class="btn btn-primary "><i class="fa fa-print"></i> Print</button>
                                            <a href="@Url.Action("Index", "Software")" class="btn btn-danger " id=""><i class="fa fa-times"></i> Close</a>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="">
                                            <form class="form-horizontal" role="form">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Item Group</label>
                                                    <div class="col-sm-8">
                                                        <div class="comboBox-wide" id="cboItemComponentListItemGroup"></div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="PCS" class="tab-pane fade">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div align="right">
                                            <button onclick="btnPhysicalCountSheetPrintPDFOnclick()" class="btn btn-primary "><i class="fa fa-print"></i> Print</button>
                                            <a href="@Url.Action("Index", "Software")" class="btn btn-danger " id=""><i class="fa fa-times"></i> Close</a>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="">
                                            <form class="form-horizontal" role="form">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Item Group</label>
                                                    <div class="col-sm-8">
                                                        <div class="comboBox-wide" id="cboPhysicalCountSheetItemGroup"></div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="FAR" class="tab-pane fade">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div align="right">
                                            <button onclick="btnFixedAssetPrintPDFOnclick()" class="btn btn-primary "><i class="fa fa-print"></i> Print</button>
                                            <a href="@Url.Action("Index", "Software")" class="btn btn-danger " id=""><i class="fa fa-times"></i> Close</a>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="">
                                            <form class="form-horizontal" role="form">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">Start Date</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="cboFixedAssetStartDate"></div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">End Date</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="cboFixedAssetEndDate"></div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">Company</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="cboFixedAssetCompany"></div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">Branch</label>
                                                            <div class="col-sm-8">
                                                                <div class="comboBox-wide" id="cboFixedAssetBranch"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            @Html.Partial("_SoftwareFooter")
        </main>
    </div>

    <div id="c-mask" class="c-mask"></div><!-- /c-mask -->
    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        // ================
        // Global Variables
        // ================
        var cboInventoryStartDate = new wijmo.input.InputDate('#cboInventoryStartDate');
        var cboInventoryEndDate = new wijmo.input.InputDate('#cboInventoryEndDate');
        var cboInventoryCompany = new wijmo.input.ComboBox('#cboInventoryCompany');
        var cboInventoryBranch = new wijmo.input.ComboBox('#cboInventoryBranch');
        var cboStockCardStartDate = new wijmo.input.InputDate('#cboStockCardStartDate');
        var cboStockCardEndDate = new wijmo.input.InputDate('#cboStockCardEndDate');
        var cboStockCardCompany = new wijmo.input.ComboBox('#cboStockCardCompany');
        var cboStockCardBranch = new wijmo.input.ComboBox('#cboStockCardBranch');
        var cboStockCardItem = new wijmo.input.ComboBox('#cboStockCardItem');
        var cboStockInDetailStartDate = new wijmo.input.InputDate('#cboStockInDetailStartDate');
        var cboStockInDetailEndDate = new wijmo.input.InputDate('#cboStockInDetailEndDate');
        var cboStockInDetailCompany = new wijmo.input.ComboBox('#cboStockInDetailCompany');
        var cboStockInDetailBranch = new wijmo.input.ComboBox('#cboStockInDetailBranch');
        var cboStockOutDetailStartDate = new wijmo.input.InputDate('#cboStockOutDetailStartDate');
        var cboStockOutDetailEndDate = new wijmo.input.InputDate('#cboStockOutDetailEndDate');
        var cboStockOutDetailCompany = new wijmo.input.ComboBox('#cboStockOutDetailCompany');
        var cboStockOutDetailBranch = new wijmo.input.ComboBox('#cboStockOutDetailBranch');
        var cboStockTransferDetailStartDate = new wijmo.input.InputDate('#cboStockTransferDetailStartDate');
        var cboStockTransferDetailEndDate = new wijmo.input.InputDate('#cboStockTransferDetailEndDate');
        var cboStockTransferDetailCompany = new wijmo.input.ComboBox('#cboStockTransferDetailCompany');
        var cboStockTransferDetailBranch = new wijmo.input.ComboBox('#cboStockTransferDetailBranch');
        var cboItemListItemGroup = new wijmo.input.ComboBox('#cboItemListItemGroup');
        var cboItemComponentListItemGroup = new wijmo.input.ComboBox('#cboItemComponentListItemGroup');
        var cboPhysicalCountSheetItemGroup = new wijmo.input.ComboBox('#cboPhysicalCountSheetItemGroup');
        var cboFixedAssetStartDate = new wijmo.input.InputDate('#cboFixedAssetStartDate');
        var cboFixedAssetEndDate = new wijmo.input.InputDate('#cboFixedAssetEndDate');
        var cboFixedAssetCompany = new wijmo.input.ComboBox('#cboFixedAssetCompany');
        var cboFixedAssetBranch = new wijmo.input.ComboBox('#cboFixedAssetBranch');
        var isInventoryCompanySelected = true;
        var isStockCardCompanySelected = true;
        var isStockInDetailCompanySelected = true;
        var isStockOutDetailCompanySelected = true;
        var isStockTransferDetailCompanySelected = true;
        var isFixedAssetCompanySelected = true;
        var enableBranchSelect = false;

        // ============
        // Date Filters
        // ============
        function createCboDateFilters() {
            // ================
            // Inventory Report
            // ================
            NProgress.start();
            cboInventoryStartDate.dispose();
            cboInventoryStartDate = new wijmo.input.InputDate('#cboInventoryStartDate', {
                format: 'MM-dd-yyyy',
                value: new Date()
            });

            cboInventoryEndDate.dispose();
            cboInventoryEndDate = new wijmo.input.InputDate('#cboInventoryEndDate', {
                format: 'MM-dd-yyyy',
                value: new Date()
            });

            // ==========
            // Stock Card
            // ==========
            cboStockCardStartDate.dispose();
            cboStockCardStartDate = new wijmo.input.InputDate('#cboStockCardStartDate', {
                format: 'MM-dd-yyyy',
                value: new Date()
            });

            cboStockCardEndDate.dispose();
            cboStockCardEndDate = new wijmo.input.InputDate('#cboStockCardEndDate', {
                format: 'MM-dd-yyyy',
                value: new Date()
            });

            // ===============
            // Stock In Detail
            // ===============
            cboStockInDetailStartDate.dispose();
            cboStockInDetailStartDate = new wijmo.input.InputDate('#cboStockInDetailStartDate', {
                format: 'MM-dd-yyyy',
                value: new Date()
            });

            cboStockInDetailEndDate.dispose();
            cboStockInDetailEndDate = new wijmo.input.InputDate('#cboStockInDetailEndDate', {
                format: 'MM-dd-yyyy',
                value: new Date()
            });

            // ================
            // Stock Out Detail
            // ================
            cboStockOutDetailStartDate.dispose();
            cboStockOutDetailStartDate = new wijmo.input.InputDate('#cboStockOutDetailStartDate', {
                format: 'MM-dd-yyyy',
                value: new Date()
            });

            cboStockOutDetailEndDate.dispose();
            cboStockOutDetailEndDate = new wijmo.input.InputDate('#cboStockOutDetailEndDate', {
                format: 'MM-dd-yyyy',
                value: new Date()
            });

            // =====================
            // Stock Transfer Detail
            // =====================
            cboStockTransferDetailStartDate.dispose();
            cboStockTransferDetailStartDate = new wijmo.input.InputDate('#cboStockTransferDetailStartDate', {
                format: 'MM-dd-yyyy',
                value: new Date()
            });

            cboStockTransferDetailEndDate.dispose();
            cboStockTransferDetailEndDate = new wijmo.input.InputDate('#cboStockTransferDetailEndDate', {
                format: 'MM-dd-yyyy',
                value: new Date()
            });

            // ===========
            // Fixed Asset
            // ===========
            cboFixedAssetStartDate.dispose();
            cboFixedAssetStartDate = new wijmo.input.InputDate('#cboFixedAssetStartDate', {
                format: 'MM-dd-yyyy',
                value: new Date()
            });

            cboFixedAssetEndDate.dispose();
            cboFixedAssetEndDate = new wijmo.input.InputDate('#cboFixedAssetEndDate', {
                format: 'MM-dd-yyyy',
                value: new Date()
            });

            createCboCompanyFilters();
        }

        // ===============
        // Company Filters
        // ===============
        function createCboCompanyFilters() {
            var companyObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/company/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (companyResults) {
                    if (companyResults.length > 0) {
                        for (i = 0; i < companyResults.length; i++) {
                            companyObservableArray.push({
                                Id: companyResults[i]["Id"],
                                Company: companyResults[i]["Company"],
                                Address: companyResults[i]["Address"],
                                ContactNumber: companyResults[i]["ContactNumber"],
                                TaxNumber: companyResults[i]["TaxNumber"],
                            });
                        }
                    }

                    var disabled = true;
                    if (companyResults.length > 0) {
                        disabled = false;
                    } else {

                    }

                    cboInventoryCompany.dispose();
                    cboInventoryCompany = new wijmo.input.ComboBox('#cboInventoryCompany', {
                        disabled: disabled,
                        isEditable: false,
                        itemsSource: companyObservableArray,
                        displayMemberPath: "Company",
                        selectedValuePath: "Id",
                        onSelectedIndexChanged: function () {
                            isInventoryCompanySelected = true;
                            if (this.selectedValue != null) {
                                createCboBranchFilters(this.selectedValue);
                            } else {
                                createCboBranchFilters(0);
                            }
                        }
                    });

                    cboStockCardCompany.dispose();
                    cboStockCardCompany = new wijmo.input.ComboBox('#cboStockCardCompany', {
                        disabled: disabled,
                        isEditable: false,
                        itemsSource: companyObservableArray,
                        displayMemberPath: "Company",
                        selectedValuePath: "Id",
                        onSelectedIndexChanged: function () {
                            isStockCardCompanySelected = true;
                            if (this.selectedValue != null) {
                                createCboBranchFilters(this.selectedValue);
                            } else {
                                createCboBranchFilters(0);
                            }
                        }
                    });

                    cboStockInDetailCompany.dispose();
                    cboStockInDetailCompany = new wijmo.input.ComboBox('#cboStockInDetailCompany', {
                        disabled: disabled,
                        isEditable: false,
                        itemsSource: companyObservableArray,
                        displayMemberPath: "Company",
                        selectedValuePath: "Id",
                        onSelectedIndexChanged: function () {
                            isStockInDetailCompanySelected = true;
                            if (this.selectedValue != null) {
                                createCboBranchFilters(this.selectedValue);
                            } else {
                                createCboBranchFilters(0);
                            }
                        }
                    });

                    cboStockOutDetailCompany.dispose();
                    cboStockOutDetailCompany = new wijmo.input.ComboBox('#cboStockOutDetailCompany', {
                        disabled: disabled,
                        isEditable: false,
                        itemsSource: companyObservableArray,
                        displayMemberPath: "Company",
                        selectedValuePath: "Id",
                        onSelectedIndexChanged: function () {
                            isStockOutDetailCompanySelected = true;
                            if (this.selectedValue != null) {
                                createCboBranchFilters(this.selectedValue);
                            } else {
                                createCboBranchFilters(0);
                            }
                        }
                    });

                    cboStockTransferDetailCompany.dispose();
                    cboStockTransferDetailCompany = new wijmo.input.ComboBox('#cboStockTransferDetailCompany', {
                        disabled: disabled,
                        isEditable: false,
                        itemsSource: companyObservableArray,
                        displayMemberPath: "Company",
                        selectedValuePath: "Id",
                        onSelectedIndexChanged: function () {
                            isStockTransferDetailCompanySelected = true;
                            if (this.selectedValue != null) {
                                createCboBranchFilters(this.selectedValue);
                            } else {
                                createCboBranchFilters(0);
                            }
                        }
                    });

                    cboFixedAssetCompany.dispose();
                    cboFixedAssetCompany = new wijmo.input.ComboBox('#cboFixedAssetCompany', {
                        disabled: disabled,
                        isEditable: false,
                        itemsSource: companyObservableArray,
                        displayMemberPath: "Company",
                        selectedValuePath: "Id",
                        onSelectedIndexChanged: function () {
                            isFixedAssetCompanySelected = true;
                            if (this.selectedValue != null) {
                                createCboBranchFilters(this.selectedValue);
                            } else {
                                createCboBranchFilters(0);
                            }
                        }
                    });

                    if (cboInventoryCompany.selectedValue != null) {
                        createCboBranchFilters(cboInventoryCompany.selectedValue);
                    } else {
                        createCboBranchFilters(null);
                    }
                }
            });
        }

        // ==============
        // Branch Filters
        // ==============
        function createCboBranchFilters(companyId) {
            var branchObservableArray = new wijmo.collections.ObservableArray();
            if (companyId != null) {
                $.ajax({
                    url: '/api/branch/byCompanyId/list/locked/' + companyId,
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    success: function (branchResults) {
                        if (branchResults.length > 0) {
                            for (i = 0; i < branchResults.length; i++) {
                                branchObservableArray.push({
                                    Id: branchResults[i]["Id"],
                                    CompanyId: branchResults[i]["CompanyId"],
                                    Branch: branchResults[i]["Branch"],
                                    Address: branchResults[i]["Address"],
                                    ContactNumber: branchResults[i]["ContactNumber"],
                                    TaxNumber: branchResults[i]["TaxNumber"]
                                });
                            }
                        }

                        var disabled = true;
                        if (branchResults.length > 0) {
                            disabled = false;

                        } else {

                        }

                        if (isInventoryCompanySelected) {
                            cboInventoryBranch.dispose();
                            cboInventoryBranch = new wijmo.input.ComboBox('#cboInventoryBranch', {
                                disabled: disabled,
                                isEditable: false,
                                itemsSource: branchObservableArray,
                                displayMemberPath: "Branch",
                                selectedValuePath: "Id"
                            });
                        }

                        if (isStockCardCompanySelected) {
                            cboStockCardBranch.dispose();
                            cboStockCardBranch = new wijmo.input.ComboBox('#cboStockCardBranch', {
                                disabled: disabled,
                                isEditable: false,
                                itemsSource: branchObservableArray,
                                displayMemberPath: "Branch",
                                selectedValuePath: "Id"
                            });
                        }

                        if (isStockInDetailCompanySelected) {
                            cboStockInDetailBranch.dispose();
                            cboStockInDetailBranch = new wijmo.input.ComboBox('#cboStockInDetailBranch', {
                                disabled: disabled,
                                isEditable: false,
                                itemsSource: branchObservableArray,
                                displayMemberPath: "Branch",
                                selectedValuePath: "Id"
                            });
                        }

                        if (isStockOutDetailCompanySelected) {
                            cboStockOutDetailBranch.dispose();
                            cboStockOutDetailBranch = new wijmo.input.ComboBox('#cboStockOutDetailBranch', {
                                disabled: disabled,
                                isEditable: false,
                                itemsSource: branchObservableArray,
                                displayMemberPath: "Branch",
                                selectedValuePath: "Id"
                            });
                        }

                        if (isStockTransferDetailCompanySelected) {
                            cboStockTransferDetailBranch.dispose();
                            cboStockTransferDetailBranch = new wijmo.input.ComboBox('#cboStockTransferDetailBranch', {
                                disabled: disabled,
                                isEditable: false,
                                itemsSource: branchObservableArray,
                                displayMemberPath: "Branch",
                                selectedValuePath: "Id"
                            });
                        }

                        if (isFixedAssetCompanySelected) {
                            cboFixedAssetBranch.dispose();
                            cboFixedAssetBranch = new wijmo.input.ComboBox('#cboFixedAssetBranch', {
                                disabled: disabled,
                                isEditable: false,
                                itemsSource: branchObservableArray,
                                displayMemberPath: "Branch",
                                selectedValuePath: "Id"
                            });
                        }

                        if (!enableBranchSelect) {
                            enableBranchSelect = true;
                            createCboItemFilters();
                        }

                        isInventoryCompanySelected = false;
                        isStockCardCompanySelected = false;
                        isStockInDetailCompanySelected = false;
                        isStockOutDetailCompanySelected = false;
                        isStockTransferDetailCompanySelected = false;
                        isFixedAssetCompanySelected = false;
                    }
                });
            } else {
                cboInventoryBranch.dispose();
                cboInventoryBranch = new wijmo.input.ComboBox('#cboInventoryBranch', {
                    disabled: true,
                    isEditable: false,
                    itemsSource: branchObservableArray,
                });

                cboStockCardBranch.dispose();
                cboStockCardBranch = new wijmo.input.ComboBox('#cboStockCardBranch', {
                    disabled: true,
                    isEditable: false,
                    itemsSource: branchObservableArray,
                });

                isStockInDetailCompanySelected.dispose();
                isStockInDetailCompanySelected = new wijmo.input.ComboBox('#isStockInDetailCompanySelected', {
                    disabled: true,
                    isEditable: false,
                    itemsSource: branchObservableArray,
                });

                isStockOutDetailCompanySelected.dispose();
                isStockOutDetailCompanySelected = new wijmo.input.ComboBox('#isStockOutDetailCompanySelected', {
                    disabled: true,
                    isEditable: false,
                    itemsSource: branchObservableArray,
                });

                isStockTransferDetailCompanySelected.dispose();
                isStockTransferDetailCompanySelected = new wijmo.input.ComboBox('#isStockTransferDetailCompanySelected', {
                    disabled: true,
                    isEditable: false,
                    itemsSource: branchObservableArray,
                });

                cboAPReceivingReceiptSummaryReportBranch.dispose();
                cboAPReceivingReceiptSummaryReportBranch = new wijmo.input.ComboBox('#cboAPReceivingReceiptSummaryReportBranch', {
                    disabled: true,
                    isEditable: false,
                    itemsSource: branchObservableArray,
                });

                isFixedAssetCompanySelected.dispose();
                isFixedAssetCompanySelected = new wijmo.input.ComboBox('#isFixedAssetCompanySelected', {
                    disabled: true,
                    isEditable: false,
                    itemsSource: branchObservableArray,
                });

                if (!enableBranchSelect) {
                    enableBranchSelect = true;
                    createCboItemFilters();
                }

                isInventoryCompanySelected = false;
                isStockCardCompanySelected = false;
                isStockInDetailCompanySelected = false;
                isStockOutDetailCompanySelected = false;
                isStockTransferDetailCompanySelected = false;
                isFixedAssetCompanySelected = false;
            }
        }

        // ============
        // Item Filters
        // ============
        function createCboItemFilters() {
            var itemsObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/listArticleByArticleTypeId/1',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (Results) {
                    if (Results.length > 0) {
                        for (i = 0; i < Results.length; i++) {
                            itemsObservableArray.push({
                                Id: Results[i]["Id"],
                                Article: Results[i]["Article"]
                            });
                        }
                    }

                    var disabled = true;
                    if (Results.length > 0) {
                        disabled = false;
                    } else {

                    }

                    cboStockCardItem.dispose();
                    cboStockCardItem = new wijmo.input.ComboBox('#cboStockCardItem', {
                        disabled: disabled,
                        isEditable: false,
                        itemsSource: itemsObservableArray,
                        displayMemberPath: "Article",
                        selectedValuePath: "Id"
                    });

                    createCboItemGroupFilters();
                }
            });
        }

        // ==================
        // Item Group Filters
        // ==================
        function createCboItemGroupFilters() {
            var itemGroupObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/listArticleGroupByArticleTypeId/1',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (Results) {
                    if (Results.length > 0) {
                        for (i = 0; i < Results.length; i++) {
                            itemGroupObservableArray.push({
                                Id: Results[i]["Id"],
                                ArticleGroup: Results[i]["ArticleGroup"]
                            });
                        }
                    }

                    var disabled = true;
                    if (Results.length > 0) {
                        disabled = false;
                    } else {

                    }

                    cboItemListItemGroup.dispose();
                    cboItemListItemGroup = new wijmo.input.ComboBox('#cboItemListItemGroup', {
                        disabled: disabled,
                        isEditable: false,
                        itemsSource: itemGroupObservableArray,
                        displayMemberPath: "ArticleGroup",
                        selectedValuePath: "Id"
                    });

                    cboItemComponentListItemGroup.dispose();
                    cboItemComponentListItemGroup = new wijmo.input.ComboBox('#cboItemComponentListItemGroup', {
                        disabled: disabled,
                        isEditable: false,
                        itemsSource: itemGroupObservableArray,
                        displayMemberPath: "ArticleGroup",
                        selectedValuePath: "Id"
                    });

                    cboPhysicalCountSheetItemGroup.dispose();
                    cboPhysicalCountSheetItemGroup = new wijmo.input.ComboBox('#cboPhysicalCountSheetItemGroup', {
                        disabled: disabled,
                        isEditable: false,
                        itemsSource: itemGroupObservableArray,
                        displayMemberPath: "ArticleGroup",
                        selectedValuePath: "Id"
                    });

                    NProgress.done();
                }
            });
        }

        // =====================
        // Inventory Report View
        // =====================
        function btnInventoryReportViewOnclick() {
            if (cboInventoryCompany.selectedValue != null) {
                if (cboInventoryBranch.selectedValue != null) {
                    var startDate = cboInventoryStartDate.value.toLocaleDateString().replace(/\//g, '-');
                    var endDate = cboInventoryEndDate.value.toLocaleDateString().replace(/\//g, '-');
                    var companyId = cboInventoryCompany.selectedValue;
                    var branchId = cboInventoryBranch.selectedValue;

                    window.location.href = '/Software/InventoryReport?StartDate=' + startDate + '&EndDate=' + endDate + '&CompanyId=' + companyId + '&BranchId=' + branchId;
                } else {
                    toastr.error("Lacking Information");
                }
            } else {
                toastr.error("Lacking Information");
            }
        }

        // ==========================
        // Inventory Report Print PDF
        // ==========================
        function btnInventoryReportPrintPDFOnclick() {
            if (cboInventoryCompany.selectedValue != null) {
                if (cboInventoryBranch.selectedValue != null) {
                    var startDate = cboInventoryStartDate.value.toLocaleDateString().replace(/\//g, '-');
                    var endDate = cboInventoryEndDate.value.toLocaleDateString().replace(/\//g, '-');
                    var companyId = cboInventoryCompany.selectedValue;
                    var branchId = cboInventoryBranch.selectedValue;

                    window.location.href = '/RepInventoryReport/InventoryReport?StartDate=' + startDate + '&EndDate=' + endDate + '&CompanyId=' + companyId + '&BranchId=' + branchId;
                } else {
                    toastr.error("Lacking Information");
                }
            } else {
                toastr.error("Lacking Information");
            }
        }

        // ===============
        // Stock Card View
        // ===============
        function btnStockCardViewOnclick() {
            if (cboStockCardCompany.selectedValue != null) {
                if (cboStockCardBranch.selectedValue != null) {
                    if (cboStockCardItem.selectedValue != null) {
                        var startDate = cboStockCardStartDate.value.toLocaleDateString().replace(/\//g, '-');
                        var endDate = cboStockCardEndDate.value.toLocaleDateString().replace(/\//g, '-');
                        var companyId = cboStockCardCompany.selectedValue;
                        var branchId = cboStockCardBranch.selectedValue;
                        var itemId = cboStockCardItem.selectedValue;

                        window.location.href = '/Software/StockCard?StartDate=' + startDate + '&EndDate=' + endDate + '&CompanyId=' + companyId + '&BranchId=' + branchId + '&ItemId=' + itemId;
                    } else {
                        toastr.error("Lacking Information");
                    }
                } else {
                    toastr.error("Lacking Information");
                }
            } else {
                toastr.error("Lacking Information");
            }
        }

        // ====================
        // Stock Card Print PDF
        // ====================
        function btnStockCardPrintPDFOnclick() {
            if (cboStockCardCompany.selectedValue != null) {
                if (cboStockCardBranch.selectedValue != null) {
                    if (cboStockCardItem.selectedValue != null) {
                        var startDate = cboStockCardStartDate.value.toLocaleDateString().replace(/\//g, '-');
                        var endDate = cboStockCardEndDate.value.toLocaleDateString().replace(/\//g, '-');
                        var companyId = cboStockCardCompany.selectedValue;
                        var branchId = cboStockCardBranch.selectedValue;
                        var itemId = cboStockCardItem.selectedValue;

                        window.location.href = '/RepStockCard/StockCard?StartDate=' + startDate + '&EndDate=' + endDate + '&CompanyId=' + companyId + '&BranchId=' + branchId + '&ItemId=' + itemId;
                    } else {
                        toastr.error("Lacking Information");
                    }
                } else {
                    toastr.error("Lacking Information");
                }
            } else {
                toastr.error("Lacking Information");
            }
        }

        // ================================
        // Stock In Detail Report Print PDF
        // ================================
        function btnStockInDetailPrintPDFOnclick() {
            if (cboStockInDetailCompany.selectedValue != null) {
                if (cboStockInDetailBranch.selectedValue != null) {
                    var startDate = cboStockInDetailStartDate.value.toLocaleDateString().replace(/\//g, '-');
                    var endDate = cboStockInDetailEndDate.value.toLocaleDateString().replace(/\//g, '-');
                    var companyId = cboStockInDetailCompany.selectedValue;
                    var branchId = cboStockInDetailBranch.selectedValue;

                    window.location.href = '/RepStockInDetailReport/StockInDetailReport?StartDate=' + startDate + '&EndDate=' + endDate + '&CompanyId=' + companyId + '&BranchId=' + branchId;
                } else {
                    toastr.error("Lacking Information");
                }
            } else {
                toastr.error("Lacking Information");
            }
        }

        // =================================
        // Stock Out Detail Report Print PDF
        // =================================
        function btnStockOutDetailPrintPDFOnclick() {
            if (cboStockOutDetailCompany.selectedValue != null) {
                if (cboStockOutDetailBranch.selectedValue != null) {
                    var startDate = cboStockOutDetailStartDate.value.toLocaleDateString().replace(/\//g, '-');
                    var endDate = cboStockOutDetailEndDate.value.toLocaleDateString().replace(/\//g, '-');
                    var companyId = cboStockOutDetailCompany.selectedValue;
                    var branchId = cboStockOutDetailBranch.selectedValue;

                    window.location.href = '/RepStockOutDetailReport/StockOutDetailReport?StartDate=' + startDate + '&EndDate=' + endDate + '&CompanyId=' + companyId + '&BranchId=' + branchId;
                } else {
                    toastr.error("Lacking Information");
                }
            } else {
                toastr.error("Lacking Information");
            }
        }

        // ======================================
        // Stock Transfer Detail Report Print PDF
        // ======================================
        function btnStockTransferDetailPrintPDFOnclick() {
            if (cboStockTransferDetailCompany.selectedValue != null) {
                if (cboStockTransferDetailBranch.selectedValue != null) {
                    var startDate = cboStockTransferDetailStartDate.value.toLocaleDateString().replace(/\//g, '-');
                    var endDate = cboStockTransferDetailEndDate.value.toLocaleDateString().replace(/\//g, '-');
                    var companyId = cboStockTransferDetailCompany.selectedValue;
                    var branchId = cboStockTransferDetailBranch.selectedValue;

                    window.location.href = '/RepStockTransferDetailReport/StockTransferDetailReport?StartDate=' + startDate + '&EndDate=' + endDate + '&CompanyId=' + companyId + '&BranchId=' + branchId;
                } else {
                    toastr.error("Lacking Information");
                }
            } else {
                toastr.error("Lacking Information");
            }
        }

        // ===================
        // Item List Print PDF
        // ===================
        function btnItemListPrintPDFOnclick() {
            if (cboItemListItemGroup.selectedValue != null) {
                var itemGroupId = cboItemListItemGroup.selectedValue;
                window.location.href = '/RepItemList/ItemList?ItemGroupId=' + itemGroupId;
            } else {
                toastr.error("Lacking Information");
            }
        }

        // =============================
        // Item Component List Print PDF
        // =============================
        function btnItemComponentListPrintPDFOnclick() {
            if (cboItemComponentListItemGroup.selectedValue != null) {
                var itemGroupId = cboItemComponentListItemGroup.selectedValue;
                window.location.href = '/RepItemComponentList/ItemComponentList?ItemGroupId=' + itemGroupId;
            } else {
                toastr.error("Lacking Information");
            }
        }

        // ==============================
        // Physical Count Sheet Print PDF
        // ==============================
        function btnPhysicalCountSheetPrintPDFOnclick() {
            if (cboPhysicalCountSheetItemGroup.selectedValue != null) {
                var itemGroupId = cboPhysicalCountSheetItemGroup.selectedValue;
                window.location.href = '/RepPhysicalCountSheet/PhysicalCountSheet?ItemGroupId=' + itemGroupId;
            } else {
                toastr.error("Lacking Information");
            }
        }

        // ============================
        // Fixed Asset Report Print PDF
        // ============================
        function btnFixedAssetPrintPDFOnclick() {
            if (cboFixedAssetCompany.selectedValue != null) {
                if (cboFixedAssetBranch.selectedValue != null) {
                    var startDate = cboFixedAssetStartDate.value.toLocaleDateString().replace(/\//g, '-');
                    var endDate = cboFixedAssetEndDate.value.toLocaleDateString().replace(/\//g, '-');
                    var companyId = cboFixedAssetCompany.selectedValue;
                    var branchId = cboFixedAssetBranch.selectedValue;

                    window.location.href = '/RepFixedAssets/FixedAssets?StartDate=' + startDate + '&EndDate=' + endDate + '&CompanyId=' + companyId + '&BranchId=' + branchId;
                } else {
                    toastr.error("Lacking Information");
                }
            } else {
                toastr.error("Lacking Information");
            }
        }

        // ============
        // On Load Page
        // ============
        $(document).ready(function () {
            createCboDateFilters();
        });
    </script>
    <script type="text/javascript">
        var cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches');
        function getUserBranches() {
            $("#loadingUserBranches").show();
            document.getElementById("loadingUserBranches").innerHTML = '<i class="fa fa-spinner fa-spin"></i>';
            $("#userBranchContent").hide();

            $('#userBranchesModal').modal({ show: true, backdrop: 'static' });

            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
            $("#updateUserBranch").prop("disabled", false);
            $("#closeUserBranch").prop("disabled", false);

            var userBranchesObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/userBranch/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (userBranchesResults) {
                    if (userBranchesResults.length > 0) {
                        for (i = 0; i < userBranchesResults.length; i++) {
                            userBranchesObservableArray.push({
                                BranchId: userBranchesResults[i]["BranchId"],
                                Branch: userBranchesResults[i]["Branch"]
                            });
                        }
                    }

                    var currentBranch = "@ViewData["BranchId"]";
                    cboUserBranches.dispose();
                    cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches', {
                        isEditable: false,
                        placeholder: "Select Branches",
                        itemsSource: userBranchesObservableArray,
                        displayMemberPath: "Branch",
                        selectedValuePath: "BranchId",
                        selectedValue: currentBranch
                    });

                    setTimeout(function () {
                        $("#loadingUserBranches").hide();
                        $("#userBranchContent").show();
                    }, 500)
                }
            });
        }

        function updateUserBranchOnclick() {
            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Updating";
            $("#updateUserBranch").prop("disabled", true);
            $("#closeUserBranch").prop("disabled", true);

            var userBranchObject = new Object();
            userBranchObject.BranchId = cboUserBranches.selectedValue;
            var userBranchData = JSON.stringify(userBranchObject);

            $.ajax({
                type: "PUT",
                url: '/api/userBranch/update',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: userBranchData,
                statusCode: {
                    200: function () {
                        toastr.success("Update Successful");
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function () {
                        toastr.error("Not Found");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    },
                    500: function () {
                        toastr.error("Bad Request");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    }
                }
            });
        }
    </script>
    <script type="text/javascript">
        var slideLeft = new Menu({
            wrapper: '#o-wrapper',
            type: 'slide-left',
            menuOpenerClass: '.c-button',
            maskId: '#c-mask'
        });

        var slideLeftBtn = document.querySelector('#c-button--slide-left');

        slideLeftBtn.addEventListener('click', function (e) {
            e.preventDefault;
            slideLeft.open();
        });
    </script>
</body>
</html>