@{
    var branchId = Request.QueryString["BranchId"];
}
<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Some slide and push menu demos using CSS3 transitions.">

    <!-- Title of the Page -->
    <title>Item Detail</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Font-Awesome/css")
    @Styles.Render("~/Content/Software-css")
    @Styles.Render("~/WijmoCSS/Wijmo-css")
</head>
<body>
    <div id="wrapper" class="wrapper">
        <!-- Header -->
        @Html.Partial("_SoftwareHeader")

        <!-- Section -->
        <section>
            <br /><br /><br />
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        @*<h4><img src='~/images/Icons/iItems.png'> Item Detail</h4>*@
                        <h4><i class="fa fa-cart-arrow-down fa-2x"></i> Item Detail</h4>
                        <br />
                        <div class="div_Current_Page">
                            @*<label id="currentBranchName"></label>*@
                            <span id="currentPage"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4 id="itemDetailLabel"></h4>
                    </div>
                    <div class="col-md-6" align="right">
                        <button class="btn btn-primary btn-sm" id=""><i class="fa fa-save"></i> Save</button>
                        <button class="btn btn-primary btn-sm" id=""><i class="fa fa-edit"></i> Edit</button>
                        <button class="btn btn-primary btn-sm" id=""><i class="fa fa-print"></i> Print</button>
                        <button onclick="window.location.href = '@Url.Action("Items", "Software", new { BranchId = branchId })'" class="btn btn-danger btn-sm" id=""><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
                @*<hr />*@
                <div class="jumbotron">
                    <form class="form-horizontal" role="form">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Code:</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control input-sm" id="" /> <!-- Auto Generated No ni-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Manual Code:</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control input-sm" id="" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Item:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control input-sm" id="" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Item Group:</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control input-sm" id=""> <!-- Drop down list ni-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Category:</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control input-sm" id=""> <!-- Drop down list ni-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Unit:</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control input-sm" id=""> <!-- Drop down list ni-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Price:</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control input-sm" id="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Particulars:</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control textarea-custom" id=""></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Input Tax:</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control input-sm" id=""> <!-- Drop down list ni-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Output Tax:</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control input-sm" id=""> <!-- Drop down list ni-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Withholding Tax:</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control input-sm" id=""> <!-- Drop down list ni-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Inventory:</label>
                                    <div class="col-sm-6">
                                        <input type="checkbox" id="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Old Manual Cost:</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control input-sm" id="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Manual Cost:</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control input-sm" id="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- Footer -->
        @Html.Partial("_SoftwareFooter")
    </div>

    <!-- SideBar Menu -->
    @Html.Partial("_SoftwareSideBarMenu")

    <div id="c-mask" class="c-mask"></div><!-- /c-mask -->
    @Scripts.Render("~/Scripts/Software-js")
    @Scripts.Render("~/WijmoScripts/Wijmo-js")
    <script type="text/javascript">

    $(document).ready(function () {
        document.getElementById('currentPage').innerHTML = '<a href="@Url.Action("Index", "Software", new { BranchId = branchId })" class="currentPageLinkCustom">Main Menu</a> > ' + ' <a href="@Url.Action("Items", "Software", new { BranchId = branchId })" class="currentPageLinkCustom">Items</a> ' + ' > Item Detail';
    });

    </script>

</body>
</html>