<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Title of the Page -->
    <link rel="shortcut icon" href="~/Images/icon/easyfislogomini.ico">
    <title>Journal Voucher</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Content/Software-css")
</head>
<body>
    <div id="o-wrapper" class="o-wrapper">
        <main class="o-content">
            @Html.Partial("_SoftwareHeader")
            <section class="content-header">
                <div class="container">
                    <h3>
                        Journal Voucher
                    </h3>
                    <p>
                        <i class="fa fa-building-o fa-fw"></i> &nbsp; @ViewData["Company"] <br />
                        <i class="fa fa-home fa-fw"></i> &nbsp; <a href="#" onclick="getUserBranches()" style="color: white;">@ViewData["Branch"]</a>
                    </p>
                </div>
            </section>
            <section class="container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 59%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        <input type="text" class="form-control " id="InputFilterJournalVoucher" placeholder="Search...">
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 40%" align="right">
                                    <button class="btn btn-primary " id="btnAddJournalVoucher" onclick="btnAddJournalVoucher_OnClick()"><i class="fa fa-plus"></i> Add</button>
                                    <button class="btn btn-danger " id="btnCloseJournalVoucher" onclick="btnCloseJournalVoucher_OnClick()"><i class=" fa fa-times"></i> Close</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 29%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Start Date</b></span>
                                        <div id="cboStartDateFilter"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 29%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>End Date</b></span>
                                        <div id="cboEndDateFilter"></div>
                                    </div>
                                </td>
                                <td style="width: 41%"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-body">
                        <div id="JournalVoucherGrid" class="grid" align="left"></div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="btn-group col-md-7" id="naviagtionPageGridJournalVoucher">
                                <button type="button" class="btn btn-default" id="btnMoveToFirstPageGridJournalVoucher">
                                    <span class="glyphicon glyphicon-fast-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default" id="btnMoveToPreviousPageGridJournalVoucher">
                                    <span class="glyphicon glyphicon-step-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default" disabled style="width: 100px" id="btnCurrentPageGridJournalVoucher"></button>
                                <button type="button" class="btn btn-default" id="btnMoveToNextPageGridJournalVoucher">
                                    <span class="glyphicon glyphicon-step-forward"></span>
                                </button>
                                <button type="button" class="btn btn-default" id="btnMoveToLastPageGridJournalVoucher">
                                    <span class="glyphicon glyphicon-fast-forward"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            @Html.Partial("_SoftwareFooter")
        </main>
    </div>
    <div id="c-mask" class="c-mask"></div>

    <!-- Journal Voucher Delete -->
    <div class="modal fade" id="deleteJournalVoucherConfirm" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this journal voucher?
                </div>
                <div class="modal-footer">
                    <button id="cmdJournalVoucherDeleteCompany" class="btn btn-danger" onclick="cmdJournalVoucherConfirmDeleteButton_OnClick()"><i class="fa fa-trash"></i> Delete</button>
                    <button id="cmdConfirmDeleteCloseButtonJournalVoucher" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        // ================
        // Global Variables
        // ================
        var journalVouchers;
        var journalVoucherGrid;
        var btnFirstPageGridJournalVoucher;
        var btnPreviousPageGridJournalVoucher;
        var btnNextPageGridJournalVoucher;
        var btnLastPageGridJournalVoucher;
        var btnCurrentPageGridJournalVoucher;
        var cboStartDateFilter = new wijmo.input.InputDate('#cboStartDateFilter');
        var cboEndDateFilter = new wijmo.input.InputDate('#cboEndDateFilter');
        var isStartDateFirstSelect = true;
        var isEndDateFirstSelect = true;

        // ===========
        // Date Filter
        // ===========
        function cboDateFilters() {
            cboStartDateFilter.dispose();
            cboStartDateFilter = new wijmo.input.InputDate('#cboStartDateFilter', {
                format: 'MM-dd-yyyy',
                value: new Date(),
                onValueChanged: function () {
                    if (!isStartDateFirstSelect) {
                        refreshJournalVoucherFlexGrid();
                    } else {
                        isStartDateFirstSelect = false;
                    }
                }
            });

            cboEndDateFilter.dispose();
            cboEndDateFilter = new wijmo.input.InputDate('#cboEndDateFilter', {
                format: 'MM-dd-yyyy',
                value: new Date(),
                onValueChanged: function () {
                    if (!isEndDateFirstSelect) {
                        refreshJournalVoucherFlexGrid();
                    } else {
                        isEndDateFirstSelect = false;
                    }
                }
            });
        }

        // ========================
        // Get Journal Voucher LIST
        // ========================
        function getJournalVoucher() {
            NProgress.start();
            var startDate = cboStartDateFilter.value.toLocaleDateString().replace(/\//g, '-');
            var endDate = cboEndDateFilter.value.toLocaleDateString().replace(/\//g, '-');

            var journalVouchers = new wijmo.collections.ObservableArray;
            $.ajax({
                url: '/api/listJournalVoucherByJVDate/' + startDate + '/' + endDate,
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (Results) {
                    if (Results.length > 0) {
                        for (i = 0; i < Results.length; i++) {
                            var canDelete = "@ViewData["CanDelete"]";
                            var deleteDisabled = "";
                            if (canDelete == "False") {
                                deleteDisabled = "disabled";
                            }

                            var canEdit = "@ViewData["CanEdit"]";
                            var editDisabled = "";
                            if (canEdit == "False") {
                                editDisabled = "disabled";
                            }

                            var JVDateResult = new Date(Results[i]["JVDate"])
                            var JVDate = ('0' + (JVDateResult.getMonth() + 1)).slice(-2) + '-' + ('0' + JVDateResult.getDate()).slice(-2) + '-' + JVDateResult.getFullYear();

                            journalVouchers.push({
                                EditId: "<button class='btn btn-primary btn-xs btn-block' onclick='cmdJournalVoucherEditButton_OnClick()'" + editDisabled + "><i class='fa fa-edit'></i> Edit</button>",
                                DeleteId: "<button class='btn btn-danger btn-xs btn-block' onclick='cmdJournalVoucherDeleteButton_OnClick()' " + deleteDisabled + "><i class='fa fa-trash'></i> Delete</button>",
                                Id: Results[i]["Id"],
                                BranchId: Results[i]["BranchId"],
                                Branch: Results[i]["Branch"],
                                JVNumber: Results[i]["JVNumber"],
                                JVDate: JVDate,
                                Particulars: Results[i]["Particulars"],
                                ManualJVNumber: Results[i]["ManualJVNumber"],
                                PreparedById: Results[i]["PreparedById"],
                                PreparedBy: Results[i]["PreparedBy"],
                                CheckedById: Results[i]["CheckedById"],
                                CheckedBy: Results[i]["CheckedBy"],
                                ApprovedById: Results[i]["ApprovedById"],
                                ApprovedBy: Results[i]["ApprovedBy"],
                                IsLocked: Results[i]["IsLocked"],
                                CreatedById: Results[i]["CreatedById"],
                                CreatedBy: Results[i]["CreatedBy"],
                                CreatedDateTime: Results[i]["CreatedDateTime"],
                                UpdatedById: Results[i]["UpdatedById"],
                                UpdatedBy: Results[i]["UpdatedBy"],
                                UpdatedDateTime: Results[i]["UpdatedDateTime"]
                            });
                        }
                    }

                    NProgress.done();
                }
            });

            return journalVouchers;
        }

        // ==========================
        // Journal Voucher Add Button
        // ==========================
        function btnAddJournalVoucher_OnClick() {
            document.getElementById('btnAddJournalVoucher').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Adding";
            $('#btnAddJournalVoucher').prop('disabled', true);
            $('#btnCloseJournalVoucher').prop('disabled', true);

            var canAccessToDetailPage = "@ViewData["CanAccessToDetailPage"]";
            if (canAccessToDetailPage == "True") {
                $.ajax({
                    type: "POST",
                    url: '/api/addJournalVoucher',
                    contentType: "application/json; charset=utf-8",
                    success: function (id) {
                        if (id > 0) {
                            window.location = '/Software/JournalVoucherDetail?id=' + id;
                        } else {
                            toastr.error("Internal Server Error");
                            document.getElementById('btnAddJournalVoucher').innerHTML = "<i class='fa fa-plus'></i> Add";
                            $('#btnAddJournalVoucher').prop('disabled', false);
                            $('#btnCloseJournalVoucher').prop('disabled', false);
                        }
                    }
                });
            } else {
                if (canAccessToDetailPage == "False") {
                    window.location = '/Software/Forbidden';
                }
            }
        }

        // ============================
        // Journal Voucher Close Button
        // ============================
        function btnCloseJournalVoucher_OnClick() {
            window.location = '/Software';
        }

        // ===========================
        // Journal Voucher Edit Button
        // ===========================
        function cmdJournalVoucherEditButton_OnClick() {
            journalVouchers.editItem(journalVouchers.currentItem);
            var journalVoucher = journalVouchers.currentEditItem;
            var journalVoucherId = journalVoucher.Id;
            window.location = '/Software/JournalVoucherDetail?id=' + journalVoucherId;
        }

        // =============================
        // Journal Voucher delete Button
        // =============================
        function cmdJournalVoucherDeleteButton_OnClick() {
            journalVouchers.editItem(journalVouchers.currentItem);
            var journalVoucher = journalVouchers.currentEditItem;
            if (journalVoucher.IsLocked) {
                toastr.error("Delete is not allowed when the selected record is locked!");
            } else {
                $('#deleteJournalVoucherConfirm').modal({
                    show: true,
                    backdrop: 'static'
                });

                document.getElementById('cmdJournalVoucherDeleteCompany').innerHTML = "<i class='fa fa-trash'></i> Delete";
                $("#cmdJournalVoucherDeleteCompany").prop("disabled", false);
                $("#cmdConfirmDeleteCloseButtonJournalVoucher").prop("disabled", false);
            }
        }

        // Journal Voucher Confirm Delete Button
        function cmdJournalVoucherConfirmDeleteButton_OnClick() {
            document.getElementById('cmdJournalVoucherDeleteCompany').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Deleting";
            $("#cmdJournalVoucherDeleteCompany").prop("disabled", true);
            $("#cmdConfirmDeleteCloseButtonJournalVoucher").prop("disabled", true);

            journalVouchers.editItem(journalVouchers.currentItem);
            var id = journalVouchers.currentEditItem.Id;
            $.ajax({
                url: '/api/deleteJournalVoucher/' + id,
                type: "DELETE",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                statusCode: {
                    200: function () {
                        toastr.success("Delete Successful");
                        $('#deleteJournalVoucherConfirm').modal('hide');
                        refreshJournalVoucherFlexGrid();
                    },
                    404: function () {
                        toastr.error("Not Found");
                        $('#deleteJournalVoucherConfirm').modal('hide');
                        document.getElementById('cmdJournalVoucherDeleteCompany').innerHTML = "<i class='fa fa-trash'></i> Delete";
                        $("#cmdJournalVoucherDeleteCompany").prop("disabled", false);
                        $("#cmdConfirmDeleteCloseButtonJournalVoucher").prop("disabled", false);
                    },
                    400: function () {
                        toastr.error("Bad Request");
                        $('#deleteJournalVoucherConfirm').modal('hide');
                        document.getElementById('cmdJournalVoucherDeleteCompany').innerHTML = "<i class='fa fa-trash'></i> Delete";
                        $("#cmdJournalVoucherDeleteCompany").prop("disabled", false);
                        $("#cmdConfirmDeleteCloseButtonJournalVoucher").prop("disabled", false);
                    }
                }
            });
        }

        // ===================
        // FlexGrid Selection
        // ===================
        function updateDetailsJournalVoucher() {
            var item = journalVouchers.currentItem;
            document.getElementById('createdBy').innerHTML = item.CreatedBy;
            document.getElementById('createdDate').innerHTML = item.CreatedDateTime;
            document.getElementById('updatedBy').innerHTML = item.UpdatedBy;
            document.getElementById('updatedDate').innerHTML = item.UpdatedDateTime;
        }

        // ======================================
        // Navigation Buttons for Journal Voucher
        // ======================================
        function updateNavigateButtonsJournalVoucher() {
            if (journalVouchers.pageSize <= 0) {
                document.getElementById('naviagtionPageGridJournalVoucher').style.display = 'none';
                return;
            }
            document.getElementById('naviagtionPageGridJournalVoucher').style.display = 'block';
            if (journalVouchers.pageIndex === 0) {
                btnFirstPageGridJournalVoucher.setAttribute('disabled', 'disabled');
                btnPreviousPageGridJournalVoucher.setAttribute('disabled', 'disabled');
                btnNextPageGridJournalVoucher.removeAttribute('disabled');
                btnLastPageGridJournalVoucher.removeAttribute('disabled');
            } else if (journalVouchers.pageIndex === (journalVouchers.pageCount - 1)) {
                btnFirstPageGridJournalVoucher.removeAttribute('disabled');
                btnPreviousPageGridJournalVoucher.removeAttribute('disabled');
                btnLastPageGridJournalVoucher.setAttribute('disabled', 'disabled');
                btnNextPageGridJournalVoucher.setAttribute('disabled', 'disabled');
            } else {
                btnFirstPageGridJournalVoucher.removeAttribute('disabled');
                btnPreviousPageGridJournalVoucher.removeAttribute('disabled');
                btnNextPageGridJournalVoucher.removeAttribute('disabled');
                btnLastPageGridJournalVoucher.removeAttribute('disabled');
            }
            btnCurrentPageGridJournalVoucher.innerHTML = (journalVouchers.pageIndex + 1) + ' / ' + journalVouchers.pageCount;
        }

        function refreshJournalVoucherFlexGrid() {
            journalVouchers = new wijmo.collections.CollectionView(getJournalVoucher());
            journalVouchers.canFilter = true;
            journalVouchers.pageSize = 15;

            var filterTextJournalVoucher = '';
            $('#InputFilterJournalVoucher').keyup(function () {
                filterTextJournalVoucher = this.value.toLowerCase();
                journalVouchers.refresh();
            });

            journalVouchers.filter = function (item) {
                return !filterTextJournalVoucher || (item.JVNumber.toLowerCase().indexOf(filterTextJournalVoucher) > -1)
                    || (item.Particulars.toLowerCase().indexOf(filterTextJournalVoucher) > -1);
            }

            journalVouchers.collectionChanged.addHandler(function (sender, args) {
                updateNavigateButtonsJournalVoucher();
            });

            journalVouchers.currentChanged.addHandler(function (sender, args) {
                updateDetailsJournalVoucher();
            });

            // Flex Grid
            journalVoucherGrid.itemsSource = journalVouchers;
            journalVoucherGrid.trackChanges = true;
        }

        // ========================
        // Journal Voucher FlexGrid
        // ========================
        function createJournalVoucherFlexGrid() {
            cboDateFilters();
            journalVouchers = new wijmo.collections.CollectionView(getJournalVoucher());
            journalVouchers.canFilter = true;
            journalVouchers.pageSize = 15;

            var filterTextJournalVoucher = '';
            $('#InputFilterJournalVoucher').keyup(function () {
                filterTextJournalVoucher = this.value.toLowerCase();
                journalVouchers.refresh();
            });
            journalVouchers.filter = function (item) {
                return !filterTextJournalVoucher || (item.JVNumber.toLowerCase().indexOf(filterTextJournalVoucher) > -1)
                                                 || (item.Particulars.toLowerCase().indexOf(filterTextJournalVoucher) > -1);
            }
            journalVouchers.collectionChanged.addHandler(function (sender, args) {
                updateNavigateButtonsJournalVoucher();
            });
            journalVouchers.currentChanged.addHandler(function (sender, args) {
                updateDetailsJournalVoucher();
            });

            // Flex Grid
            journalVoucherGrid = new wijmo.grid.FlexGrid('#JournalVoucherGrid');
            journalVoucherGrid.initialize({
                columns: [
                            {
                                "header": "Edit",
                                "binding": "EditId",
                                "width": 70,
                                "align": "center",
                                "allowResizing": false,
                                "allowSorting": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "Delete",
                                "binding": "DeleteId",
                                "width": 70,
                                "align": "center",
                                "allowResizing": false,
                                "allowSorting": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "JV Number",
                                "binding": "JVNumber",
                                "allowSorting": true,
                                "width": "1.5*"
                            },
                            {
                                "header": "JV Date",
                                "binding": "JVDate",
                                "allowSorting": true,
                                "width": "1.5*"
                            },
                            {
                                "header": "Particulars",
                                "binding": "Particulars",
                                "allowSorting": true,
                                "width": "3*"
                            },
                            {
                                "header": "L",
                                "binding": "IsLocked",
                                "allowSorting": true,
                                "width": 50
                            }
                ],
                autoGenerateColumns: false,
                itemsSource: journalVouchers,
                isReadOnly: true,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            journalVoucherGrid.trackChanges = true;

            btnFirstPageGridJournalVoucher = document.getElementById('btnMoveToFirstPageGridJournalVoucher');
            btnPreviousPageGridJournalVoucher = document.getElementById('btnMoveToPreviousPageGridJournalVoucher');
            btnNextPageGridJournalVoucher = document.getElementById('btnMoveToNextPageGridJournalVoucher');
            btnLastPageGridJournalVoucher = document.getElementById('btnMoveToLastPageGridJournalVoucher');
            btnCurrentPageGridJournalVoucher = document.getElementById('btnCurrentPageGridJournalVoucher');

            updateNavigateButtonsJournalVoucher();

            btnFirstPageGridJournalVoucher.addEventListener('click', function () {
                journalVouchers.moveToFirstPage();
                updateNavigateButtonsJournalVoucher();
            });

            btnPreviousPageGridJournalVoucher.addEventListener('click', function () {
                journalVouchers.moveToPreviousPage();
                updateNavigateButtonsJournalVoucher();
            });

            btnNextPageGridJournalVoucher.addEventListener('click', function () {
                journalVouchers.moveToNextPage();
                updateNavigateButtonsJournalVoucher();
            });

            btnLastPageGridJournalVoucher.addEventListener('click', function () {
                journalVouchers.moveToLastPage();
                updateNavigateButtonsJournalVoucher();
            });

            var canAdd = "@ViewData["CanAdd"]";
            if (canAdd == "False") {
                $("#btnAddJournalVoucher").prop("disabled", true);
            }
        }

        // ============
        // On Load Page
        // ============
        $(document).ready(function () {
            createJournalVoucherFlexGrid();
        });
    </script>
    <script type="text/javascript">
        var cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches');
        function getUserBranches() {
            $("#loadingUserBranches").show();
            document.getElementById("loadingUserBranches").innerHTML = '<i class="fa fa-spinner fa-spin"></i>';
            $("#userBranchContent").hide();

            $('#userBranchesModal').modal({ show: true, backdrop: 'static' });

            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
            $("#updateUserBranch").prop("disabled", false);
            $("#closeUserBranch").prop("disabled", false);

            var userBranchesObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/userBranch/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (userBranchesResults) {
                    if (userBranchesResults.length > 0) {
                        for (i = 0; i < userBranchesResults.length; i++) {
                            userBranchesObservableArray.push({
                                BranchId: userBranchesResults[i]["BranchId"],
                                Branch: userBranchesResults[i]["Branch"]
                            });
                        }
                    }

                    var currentBranch = "@ViewData["BranchId"]";
                    cboUserBranches.dispose();
                    cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches', {
                        isEditable: false,
                        placeholder: "Select Branches",
                        itemsSource: userBranchesObservableArray,
                        displayMemberPath: "Branch",
                        selectedValuePath: "BranchId",
                        selectedValue: currentBranch
                    });

                    setTimeout(function () {
                        $("#loadingUserBranches").hide();
                        $("#userBranchContent").show();
                    }, 500)
                }
            });
        }

        function updateUserBranchOnclick() {
            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Updating";
            $("#updateUserBranch").prop("disabled", true);
            $("#closeUserBranch").prop("disabled", true);

            var userBranchObject = new Object();
            userBranchObject.BranchId = cboUserBranches.selectedValue;
            var userBranchData = JSON.stringify(userBranchObject);

            $.ajax({
                type: "PUT",
                url: '/api/userBranch/update',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: userBranchData,
                statusCode: {
                    200: function () {
                        toastr.success("Update Successful");
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function () {
                        toastr.error("Not Found");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    },
                    500: function () {
                        toastr.error("Bad Request");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    }
                }
            });
        }
    </script>
    <script type="text/javascript">
        var slideLeft = new Menu({
            wrapper: '#o-wrapper',
            type: 'slide-left',
            menuOpenerClass: '.c-button',
            maskId: '#c-mask'
        });

        var slideLeftBtn = document.querySelector('#c-button--slide-left');

        slideLeftBtn.addEventListener('click', function (e) {
            e.preventDefault;
            slideLeft.open();
        });
    </script>
</body>
</html>