<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Title of the Page -->
    <link rel="shortcut icon" href="~/Images/icon/easyfislogomini.ico">
    <title>Purchase Detail Report</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Content/Software-css")
</head>
<body>
    <div id="o-wrapper" class="o-wrapper">
        <main class="o-content">
            @Html.Partial("_SoftwareHeader")
            <section class="content-header">
                <div class="container">
                    <h3>
                        Purchase Detail Report
                    </h3>
                    <p>
                        <i class="fa fa-building-o fa-fw"></i> &nbsp; @ViewData["Company"] <br />
                        <i class="fa fa-home fa-fw"></i> &nbsp; <a href="#" onclick="getUserBranches()" style="color: white;">@ViewData["Branch"]</a>
                    </p>
                </div>
            </section>
            <section class="container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 49%">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        <input type="text" class="form-control " id="InputFilter" placeholder="Search">
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 50%" align="right">
                                    <button onclick="btnPurchaseOrderDetailReportCSVOnclick()" id="btnPurchaseOrderDetailReportCSV" class="btn btn-success"><i class="fa fa-file-excel-o" aria-hidden="true"></i> CSV</button>
                                    <button onclick="btnPurchaseOrderDetailReportPrintPDFOnclick()" id="btnPurchaseOrderDetailReportPrintPDF" class="btn btn-primary"><i class="fa fa-print"></i> Print</button>
                                    <a href="/Software/AccountsPayable" class="btn btn-danger"><i class="fa fa-close"></i> Close</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 24%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Start Date</b></span>
                                        <div class="comboBox-wide" id="cboAPPurchaseDetailReportStartDate"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%" align="right">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>End Date</b></span>
                                        <div class="comboBox-wide" id="cboAPPurchaseDetailReportEndDate"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Company</b></span>
                                        <div class="comboBox-wide" id="cboAPPurchaseDetailReportCompany"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Branch</b></span>
                                        <div class="comboBox-wide" id="cboAPPurchaseDetailReportBranch"></div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="purchaseDetailReportGrid" class="grid"></div>
                <br /><br />
                <div class="row">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">
                        <dl class="dl-horizontal dl-custom">
                            <dt>
                                <b>Total Amount</b>
                            </dt>
                            <dd>
                                <input type="text" class="form-control numberField" id="totalAmount" placeholder="0.00" disabled />
                            </dd>
                        </dl>
                    </div>
                </div>
            </section>
            @Html.Partial("_SoftwareFooter")
        </main>
    </div>
    <div id="c-mask" class="c-mask"></div>

    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        // ================
        // Global Variables
        // ================
        var cboAPPurchaseDetailReportStartDate = new wijmo.input.InputDate('#cboAPPurchaseDetailReportStartDate');
        var cboAPPurchaseDetailReportEndDate = new wijmo.input.InputDate('#cboAPPurchaseDetailReportEndDate');
        var isAPPurchaseDetailReportStartDateSelected = false;
        var isAPPurchaseDetailReportEndDateSelected = false;
        var cboAPPurchaseDetailReportCompany = new wijmo.input.ComboBox('#cboAPPurchaseDetailReportCompany');
        var cboAPPurchaseDetailReportBranch = new wijmo.input.ComboBox('#cboAPPurchaseDetailReportBranch');
        var purchaseDetailReportCollections;
        var purchaseDetailReportGrid;
        var isAPPurchaseDetailReportCompanySelected = false;

        // ===================
        // Get Parameter Value
        // ===================
        function getParam(name) {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");

            var regexS = "[\\?&]" + name + "=([^&#]*)";
            var regex = new RegExp(regexS);

            var results = regex.exec(window.location.href);
            if (results == null) {
                return "";
            } else {
                return results[1];
            }
        }

        // ============
        // Date Filters
        // ============
        function purchaseOrderDetailReportDateFilters() {
            NProgress.start();
            cboAPPurchaseDetailReportStartDate.dispose();
            cboAPPurchaseDetailReportStartDate = new wijmo.input.InputDate('#cboAPPurchaseDetailReportStartDate', {
                format: 'MM-dd-yyyy',
                value: new Date(getParam("StartDate")),
                onValueChanged: function () {
                    if (!isAPPurchaseDetailReportStartDateSelected) {
                        NProgress.start();
                        refreshPurchaseOrderDetailReportFlexGrid();
                    } else {
                        isAPPurchaseDetailReportStartDateSelected = false;
                    }
                }
            });

            cboAPPurchaseDetailReportEndDate.dispose();
            cboAPPurchaseDetailReportEndDate = new wijmo.input.InputDate('#cboAPPurchaseDetailReportEndDate', {
                format: 'MM-dd-yyyy',
                value: new Date(getParam("EndDate")),
                onValueChanged: function () {
                    if (!isAPPurchaseDetailReportEndDateSelected) {
                        NProgress.start();
                        refreshPurchaseOrderDetailReportFlexGrid();
                    } else {
                        isAPPurchaseDetailReportEndDateSelected = false;
                    }
                }
            });

            createCboCompany();
        }

        // ==============
        // Company Filter
        // ==============
        function createCboCompany() {
            var companyObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/company/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (companyResults) {
                    if (companyResults.length > 0) {
                        for (i = 0; i < companyResults.length; i++) {
                            companyObservableArray.push({
                                Id: companyResults[i]["Id"],
                                Company: companyResults[i]["Company"],
                                Address: companyResults[i]["Address"],
                                ContactNumber: companyResults[i]["ContactNumber"],
                                TaxNumber: companyResults[i]["TaxNumber"],
                            });
                        }
                    }

                    var disabled = true;
                    if (companyResults.length > 0) {
                        disabled = false;
                    } else {
                        $("#btnPurchaseOrderDetailReportCSV").prop("disabled", true);
                        $("#btnPurchaseOrderDetailReportPrintPDF").prop("disabled", true);
                    }

                    cboAPPurchaseDetailReportCompany.dispose();
                    cboAPPurchaseDetailReportCompany = new wijmo.input.ComboBox('#cboAPPurchaseDetailReportCompany', {
                        disabled: disabled,
                        isEditable: false,
                        itemsSource: companyObservableArray,
                        displayMemberPath: "Company",
                        selectedValuePath: "Id",
                        selectedValue: getParam("CompanyId"),
                        onSelectedIndexChanged: function () {
                            NProgress.start();
                            $("#btnPurchaseOrderDetailReportCSV").prop("disabled", false);
                            $("#btnPurchaseOrderDetailReportPrintPDF").prop("disabled", false);
                            isAPPurchaseDetailReportCompanySelected = true;
                            createCboBranch();
                        }
                    });

                    createCboBranch();
                }
            });
        }

        // =============
        // Branch Filter
        // =============
        function createCboBranch() {
            var branchObservableArray = new wijmo.collections.ObservableArray();
            if (cboAPPurchaseDetailReportCompany.selectedValue != null) {
                $.ajax({
                    url: '/api/branch/byCompanyId/list/locked/' + cboAPPurchaseDetailReportCompany.selectedValue,
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    success: function (branchResults) {
                        if (branchResults.length > 0) {
                            for (i = 0; i < branchResults.length; i++) {
                                branchObservableArray.push({
                                    Id: branchResults[i]["Id"],
                                    CompanyId: branchResults[i]["CompanyId"],
                                    Branch: branchResults[i]["Branch"],
                                    Address: branchResults[i]["Address"],
                                    ContactNumber: branchResults[i]["ContactNumber"],
                                    TaxNumber: branchResults[i]["TaxNumber"]
                                });
                            }
                        }

                        var disabled = true;
                        if (branchResults.length > 0) {
                            disabled = false;
                        } else {
                            $("#btnPurchaseOrderDetailReportCSV").prop("disabled", true);
                            $("#btnPurchaseOrderDetailReportPrintPDF").prop("disabled", true);
                        }

                        cboAPPurchaseDetailReportBranch.dispose();
                        cboAPPurchaseDetailReportBranch = new wijmo.input.ComboBox('#cboAPPurchaseDetailReportBranch', {
                            disabled: disabled,
                            isEditable: false,
                            itemsSource: branchObservableArray,
                            displayMemberPath: "Branch",
                            selectedValuePath: "Id",
                            selectedValue: getParam("BranchId"),
                            onSelectedIndexChanged: function () {
                                NProgress.start();
                                refreshPurchaseOrderDetailReportFlexGrid();
                            }
                        });

                        if (!isAPPurchaseDetailReportCompanySelected) {
                            createPurchaseOrderDetailReportFlexGrid();
                        } else {
                            refreshPurchaseOrderDetailReportFlexGrid();
                        }
                    }
                });
            }
        }

        // ==============================
        // Get Purchase Order Detail Data
        // ==============================
        function getPurchaseDetailReport() {
            var purchaseDetailReports = new wijmo.collections.ObservableArray;
            if (cboAPPurchaseDetailReportCompany.selectedValue != null) {
                if (cboAPPurchaseDetailReportBranch.selectedValue != null) {
                    var startDate = cboAPPurchaseDetailReportStartDate.value.toLocaleDateString().replace(/\//g, '-');
                    var endDate = cboAPPurchaseDetailReportEndDate.value.toLocaleDateString().replace(/\//g, '-');
                    var companyId = cboAPPurchaseDetailReportCompany.selectedValue;
                    var branchId = cboAPPurchaseDetailReportBranch.selectedValue;

                    $.ajax({
                        url: '/api/purchaseDetailReport/list/' + startDate + '/' + endDate + '/' + + companyId + '/' + branchId,
                        cache: false,
                        type: 'GET',
                        contentType: 'application/json; charset=utf-8',
                        success: function (purchaseDetailReportResults) {
                            var totalAmount = 0;
                            if (purchaseDetailReportResults.length > 0) {
                                for (i = 0; i < purchaseDetailReportResults.length; i++) {
                                    var docLink = "/Software/PurchaseOrderDetail?id=" + purchaseDetailReportResults[i]["POId"];

                                    var PODateResult = new Date(purchaseDetailReportResults[i]["PODate"])
                                    var PODate = ('0' + (PODateResult.getMonth() + 1)).slice(-2) + '-' + ('0' + PODateResult.getDate()).slice(-2) + '-' + PODateResult.getFullYear();

                                    purchaseDetailReports.push({
                                        Id: purchaseDetailReportResults[i]["Id"],
                                        Branch: purchaseDetailReportResults[i]["Branch"],
                                        POId: purchaseDetailReportResults[i]["POId"],
                                        PONumber: purchaseDetailReportResults[i]["PO"],
                                        PONumberForCSV: "PO-" + purchaseDetailReportResults[i]["PO"],
                                        PONumberButton: "<a href='" + docLink + "' class='btn btn-primary btn-xs btn-block'>" + purchaseDetailReportResults[i]["PO"],
                                        PODate: PODate,
                                        Supplier: purchaseDetailReportResults[i]["Supplier"],
                                        Item: purchaseDetailReportResults[i]["Item"],
                                        Price: purchaseDetailReportResults[i]["Price"],
                                        PriceDisplay: parseFloat(purchaseDetailReportResults[i]["Price"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                        Unit: purchaseDetailReportResults[i]["Unit"],
                                        Quantity: purchaseDetailReportResults[i]["Quantity"],
                                        QuantityDisplay: parseFloat(purchaseDetailReportResults[i]["Quantity"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                        Amount: purchaseDetailReportResults[i]["Amount"],
                                        AmountDisplay: parseFloat(purchaseDetailReportResults[i]["Amount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                                    });

                                    totalAmount += purchaseDetailReportResults[i]["Amount"];
                                }
                            }

                            document.getElementById("totalAmount").value = parseFloat(totalAmount).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                            NProgress.done();
                        }
                    });
                } else {
                    document.getElementById("totalAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    NProgress.done();
                }
            } else {
                document.getElementById("totalAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                NProgress.done();
            }

            return purchaseDetailReports;
        }

        // =================
        // Refresh Flex Grid
        // =================
        function refreshPurchaseOrderDetailReportFlexGrid() {
            purchaseDetailReportCollections = new wijmo.collections.CollectionView(getPurchaseDetailReport());
            purchaseDetailReportCollections.canFilter = true;

            var filterText = '';
            $('#InputFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                purchaseDetailReportCollections.refresh();

                if (purchaseDetailReportCollections.items.length > 0) {
                    var totalAmount = 0;
                    for (var i = 0; i < purchaseDetailReportCollections.items.length; i++) {
                        totalAmount += purchaseDetailReportCollections.items[i].Amount;
                    }

                    document.getElementById("totalAmount").value = parseFloat(totalAmount).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                } else {
                    document.getElementById("totalAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                }
            });

            purchaseDetailReportCollections.filter = function (item) {
                return !filterText || (item.Branch.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.PONumber.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Supplier.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Item.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Unit.toLowerCase().indexOf(filterText) > -1);

            }

            purchaseDetailReportGrid.itemsSource = purchaseDetailReportCollections;
            purchaseDetailReportGrid.trackChanges = true;
        }

        // =========
        // Flex Grid
        // =========
        function createPurchaseOrderDetailReportFlexGrid() {
            purchaseDetailReportCollections = new wijmo.collections.CollectionView(getPurchaseDetailReport());
            purchaseDetailReportCollections.canFilter = true;

            var filterText = '';
            $('#InputFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                purchaseDetailReportCollections.refresh();

                if (purchaseDetailReportCollections.items.length > 0) {
                    var totalAmount = 0;
                    for (var i = 0; i < purchaseDetailReportCollections.items.length; i++) {
                        totalAmount += purchaseDetailReportCollections.items[i].Amount;
                    }

                    document.getElementById("totalAmount").value = parseFloat(totalAmount).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                } else {
                    document.getElementById("totalAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                }
            });

            purchaseDetailReportCollections.filter = function (item) {
                return !filterText || (item.Branch.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.PONumber.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Supplier.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Item.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Unit.toLowerCase().indexOf(filterText) > -1);
            }

            purchaseDetailReportGrid = new wijmo.grid.FlexGrid('#purchaseDetailReportGrid');
            purchaseDetailReportGrid.initialize({
                columns: [
                    {
                        "header": "Branch",
                        "binding": "Branch",
                        "allowSorting": true,
                        "width": "1.5*"
                    },
                    {
                        "header": "PO Number",
                        "binding": "PONumberButton",
                        "isContentHtml": true,
                        "allowSorting": true,
                        "width": "1*"
                    },
                    {
                        "header": "PO Date",
                        "binding": "PODate",
                        "allowSorting": true,
                        "width": "1*"
                    },
                    {
                        "header": "Supplier",
                        "binding": "Supplier",
                        "allowSorting": true,
                        "width": "1.5*"
                    },
                    {
                        "header": "Item",
                        "binding": "Item",
                        "allowSorting": true,
                        "width": "1.5*"
                    },
                    {
                        "header": "Price",
                        "binding": "PriceDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1*"
                    },
                    {
                        "header": "Unit",
                        "binding": "Unit",
                        "allowSorting": true,
                        "width": "0.7*"
                    },
                    {
                        "header": "Quantity",
                        "binding": "QuantityDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1*"
                    },
                    {
                        "header": "Amount",
                        "binding": "AmountDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1*"
                    }
                ],
                autoGenerateColumns: false,
                itemsSource: purchaseDetailReportCollections,
                isReadOnly: true,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            purchaseDetailReportGrid.trackChanges = true;
        }

        // ============
        // Download CSV
        // ============
        function btnPurchaseOrderDetailReportCSVOnclick() {
            var CSV = '';
            var purchaseDetailReport = [];
            var fileName = 'PurchaseDetailReport.CSV';

            for (i = 0; i < purchaseDetailReportCollections.items.length; i++) {
                purchaseDetailReport.push({
                    Branch: purchaseDetailReportCollections.items[i].Branch,
                    PONumber: purchaseDetailReportCollections.items[i].PONumberForCSV,
                    PODate: purchaseDetailReportCollections.items[i].PODate,
                    Supplier: purchaseDetailReportCollections.items[i].Supplier,
                    Item: purchaseDetailReportCollections.items[i].Item,
                    Price: purchaseDetailReportCollections.items[i].Price,
                    Unit: purchaseDetailReportCollections.items[i].Unit,
                    Quantity: purchaseDetailReportCollections.items[i].Quantity,
                    Amount: purchaseDetailReportCollections.items[i].Amount,
                });
            }

            var Headers = [];
            Headers.push({
                Branch: "Branch",
                PONumber: "PO Number",
                PODate: "PO Date",
                Supplier: "Supplier",
                Item: "Item",
                Price: "Price",
                Unit: "Unit",
                Quantity: "Quantity",
                Amount: "Amount",
            });

            var header = '';
            for (var b in Headers[0]) {
                header += '"' + Headers[0][b] + '",';
            }

            CSV = header + '\r\n';
            for (var i = 0; i < purchaseDetailReport.length; i++) {
                var row = '';
                for (var a in purchaseDetailReport[i]) {
                    row += '"' + purchaseDetailReport[i][a] + '",';
                }

                row.slice(0, row.length - 1);
                CSV += row + '\r\n';
            }

            if (CSV == '') {
                toastr.error("No data.");
            } else {
                var link = document.createElement("a");
                if (link.download !== undefined) {
                    var blob = new Blob([CSV], { type: 'text/csv;charset=utf-8;' });
                    var url = URL.createObjectURL(blob);
                    link.setAttribute("href", url);
                    link.setAttribute("download", fileName);
                    link.style = "visibility:hidden";
                }

                if (navigator.msSaveBlob) {
                    link.addEventListener("click", function (event) {
                        var blob = new Blob([CSV], {
                            "type": "text/csv;charset=utf-8;"
                        });
                        navigator.msSaveBlob(blob, fileName);
                    }, false);
                }

                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);

                toastr.success("Dowload successful.");
            }
        }

        // =====================
        // Preview and Print PDF
        // =====================
        function btnPurchaseOrderDetailReportPrintPDFOnclick() {
            if (cboAPPurchaseDetailReportCompany.selectedValue != null) {
                if (cboAPPurchaseDetailReportBranch.selectedValue != null) {
                    var startDate = cboAPPurchaseDetailReportStartDate.value.toLocaleDateString().replace(/\//g, '-');
                    var endDate = cboAPPurchaseDetailReportEndDate.value.toLocaleDateString().replace(/\//g, '-');
                    var companyId = cboAPPurchaseDetailReportCompany.selectedValue;
                    var branchId = cboAPPurchaseDetailReportBranch.selectedValue;

                    window.location.href = '/RepPurchaseDetailReport/PurchaseDetailReport?StartDate=' + startDate + '&EndDate=' + endDate + '&CompanyId=' + companyId + '&BranchId=' + branchId;
                } else {
                    toastr.error("Lacking Information");
                }
            } else {
                toastr.error("Lacking Information");
            }
        }

        // ============
        // On Load Page
        // ============
        $(document).ready(function () {
            purchaseOrderDetailReportDateFilters();
        });
    </script>
    <script type="text/javascript">
        var cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches');
        function getUserBranches() {
            $("#loadingUserBranches").show();
            document.getElementById("loadingUserBranches").innerHTML = '<i class="fa fa-spinner fa-spin"></i>';
            $("#userBranchContent").hide();

            $('#userBranchesModal').modal({ show: true, backdrop: 'static' });

            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
            $("#updateUserBranch").prop("disabled", false);
            $("#closeUserBranch").prop("disabled", false);

            var userBranchesObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/userBranch/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (userBranchesResults) {
                    if (userBranchesResults.length > 0) {
                        for (i = 0; i < userBranchesResults.length; i++) {
                            userBranchesObservableArray.push({
                                BranchId: userBranchesResults[i]["BranchId"],
                                Branch: userBranchesResults[i]["Branch"]
                            });
                        }
                    }

                    var currentBranch = "@ViewData["BranchId"]";
                    cboUserBranches.dispose();
                    cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches', {
                        isEditable: false,
                        placeholder: "Select Branches",
                        itemsSource: userBranchesObservableArray,
                        displayMemberPath: "Branch",
                        selectedValuePath: "BranchId",
                        selectedValue: currentBranch
                    });

                    setTimeout(function () {
                        $("#loadingUserBranches").hide();
                        $("#userBranchContent").show();
                    }, 500)
                }
            });
        }

        function updateUserBranchOnclick() {
            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Updating";
            $("#updateUserBranch").prop("disabled", true);
            $("#closeUserBranch").prop("disabled", true);

            var userBranchObject = new Object();
            userBranchObject.BranchId = cboUserBranches.selectedValue;
            var userBranchData = JSON.stringify(userBranchObject);

            $.ajax({
                type: "PUT",
                url: '/api/userBranch/update',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: userBranchData,
                statusCode: {
                    200: function () {
                        toastr.success("Update Successful");
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function () {
                        toastr.error("Not Found");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    },
                    500: function () {
                        toastr.error("Bad Request");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    }
                }
            });
        }
    </script>
    <script type="text/javascript">
        var slideLeft = new Menu({
            wrapper: '#o-wrapper',
            type: 'slide-left',
            menuOpenerClass: '.c-button',
            maskId: '#c-mask'
        });

        var slideLeftBtn = document.querySelector('#c-button--slide-left');

        slideLeftBtn.addEventListener('click', function (e) {
            e.preventDefault;
            slideLeft.open();
        });
    </script>
</body>
</html>