<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Title of the Page -->
    <link rel="shortcut icon" href="~/Images/icon/easyfislogomini.ico">
    <title>Purchase Order</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Content/Software-css")
</head>
<body class="">

    <div id="o-wrapper" class="o-wrapper">
        <main class="o-content">
            @Html.Partial("_SoftwareHeader")
            <section class="content-header">
                <div class="container">
                    <h2>
                        <i class="fa fa-clipboard fa-fw"></i> Purchase Order
                    </h2>
                </div>
            </section>
            <br />
            <section class="container">
                <div class="input-group" style="margin-bottom: 10px;">
                    <span class="input-group-addon">Company</span>
                    <input type="text" class="form-control" id="" value="@ViewData["Company"] / @ViewData["Branch"]" placeholder="Company" disabled>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 59%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        <input type="text" class="form-control " id="InputFilter" placeholder="Search">
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 40%" align="right">
                                    <button class="btn btn-primary " id="btnAddPurchaseOrder" onclick="btnAddPurchaseOrder_OnClick()"><i class="fa fa-plus"></i> Add</button>
                                    <button class="btn btn-danger " id="btnAddClose" onclick="btnClosePurchaseOrder_OnClick()"><i class=" fa fa-times"></i> Close</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 29%">
                                    <div class="input-group ">
                                        <span class="input-group-addon">Start Date</span>
                                        <div id="filterDate"></div>
                                        <input type="hidden" id="filterDate_data" />
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 29%">
                                    <div class="input-group ">
                                        <span class="input-group-addon">End Date</span>
                                        <div id="filterEndDate"></div>
                                        <input type="hidden" id="filterEndDate_data" />
                                    </div>
                                </td>
                                <td style="width: 41%"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-body">
                        <div class="row" align="left">
                            <div class="col-lg-12">
                                <div id="POGrid" class="grid" align="left"></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="btn-group col-md-7" id="naviagtionPageGrid">
                                <button type="button" class="btn btn-default border-custom" id="btnMoveToFirstPageGrid">
                                    <span class="glyphicon glyphicon-fast-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" id="btnMoveToPreviousPageGrid">
                                    <span class="glyphicon glyphicon-step-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" disabled style="width: 100px" id="btnCurrentPageGrid"></button>
                                <button type="button" class="btn btn-default border-custom" id="btnMoveToNextPageGrid">
                                    <span class="glyphicon glyphicon-step-forward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" id="btnMoveToLastPageGrid">
                                    <span class="glyphicon glyphicon-fast-forward"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            @Html.Partial("_SoftwareFooter")
        </main>
    </div>

    <div id="c-mask" class="c-mask"></div><!-- /c-mask -->
    <!-- PO Delete -->
    <div class="modal fade" id="deletePOConfirm" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete PO <i class="fa fa-trash"></i></h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger " id="cmdConfirmDeletePO" onclick="cmdPOConfirmDeleteButton_OnClick()"><i class="fa fa-trash"></i> Delete</button>
                    <button id="cmdConfirmDeleteCloseButton" class="btn btn-primary " data-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Lock -->
    <div class="modal fade" id="deleteRecordLock" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Record Locked <i class="fa fa-lock"></i></h4>
                </div>
                <div class="modal-body">
                    Sorry, the record is lock! It can't be deleted!
                </div>
                <div class="modal-footer">
                    <button id="cmdConfirmDeleteCloseButton" class="btn btn-primary " data-dismiss="modal"> Okay</button>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        // ================
        // Global Variables
        // ================
        var POs;
        var POGrid;

        var btnFirstPageGrid;
        var btnPreviousPageGrid;
        var btnNextPageGrid;
        var btnLastPageGrid;
        var btnCurrentPageGrid;

        var isFirstSelect = true;
        var isEndFirstSelect = true;

        var cboFilterDate;
        var cboFilterEndDate;

        // ==================
        // GET Purchase Order
        // ==================
        function getPOFilterByDate() {
            var POs = new wijmo.collections.ObservableArray;
            NProgress.start();

            var PODateFilterValue = document.getElementById('filterDate_data').value;
            var POEndDateFilterValue = document.getElementById('filterEndDate_data').value;

            $.ajax({
                url: '/api/listPurchaseOrderFilterByPODate/' + PODateFilterValue + '/' + POEndDateFilterValue,
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (purchaseOrderResults) {
                    if (purchaseOrderResults.length > 0) {
                        for (i = 0; i < purchaseOrderResults.length; i++) {

                            var canDelete = "@ViewData["CanDelete"]";
                            var deleteDisabled;

                            if (canDelete == "True") {
                                deleteDisabled = "";
                            } else if (canDelete == "False") {
                                deleteDisabled = "disabled";
                            } else {
                                deleteDisabled = "disabled";
                            }

                            var btnDeleteId;
                            if (purchaseOrderResults[i]["IsLocked"] == true) {
                                btnDeleteId = "<button class='btn btn-danger btn-xs btn-block' onclick='PODeleteLockButton_OnClick()' " + deleteDisabled + "><i class='fa fa-trash'></i> Delete</button>";
                            } else {
                                btnDeleteId = "<button class='btn btn-danger btn-xs btn-block' onclick='PODeleteButton_OnClick()' " + deleteDisabled + "><i class='fa fa-trash'></i> Delete</button>";
                            }

                            var canEdit = "@ViewData["CanEdit"]";
                            var editDisabled;

                            if (canEdit == "True") {
                                editDisabled = "";
                            } else if (canEdit == "False") {
                                editDisabled = "disabled";
                            } else {
                                editDisabled = "disabled";
                            }

                            POs.push({
                                EditId: "<button class='btn btn-primary btn-xs btn-block' id='POEditButton' onclick='POEditButton_OnClick()' " + editDisabled + "><i class='fa fa-edit'></i> Edit</button>",
                                DeleteId: btnDeleteId,
                                Id: purchaseOrderResults[i]["Id"],
                                BranchId: purchaseOrderResults[i]["BranchId"],
                                Branch: purchaseOrderResults[i]["Branch"],
                                PONumber: purchaseOrderResults[i]["PONumber"],
                                PODate: purchaseOrderResults[i]["PODate"],
                                SupplierId: purchaseOrderResults[i]["SupplierId"],
                                Supplier: purchaseOrderResults[i]["Supplier"],
                                TermId: purchaseOrderResults[i]["TermId"],
                                Term: purchaseOrderResults[i]["Term"],
                                ManualRequestNumber: purchaseOrderResults[i]["ManualRequestNumber"],
                                ManualPONumber: purchaseOrderResults[i]["ManualPONumber"],
                                DateNeeded: purchaseOrderResults[i]["DateNeeded"],
                                Remarks: purchaseOrderResults[i]["Remarks"],
                                IsClose: purchaseOrderResults[i]["IsClose"],
                                Amount: purchaseOrderResults[i]["Amount"],
                                RequestedById: purchaseOrderResults[i]["RequestedById"],
                                RequestedBy: purchaseOrderResults[i]["RequestedBy"],
                                PreparedById: purchaseOrderResults[i]["PreparedById"],
                                PreparedBy: purchaseOrderResults[i]["PreparedBy"],
                                CheckedById: purchaseOrderResults[i]["CheckedById"],
                                CheckedBy: purchaseOrderResults[i]["CheckedBy"],
                                ApprovedById: purchaseOrderResults[i]["ApprovedById"],
                                ApprovedBy: purchaseOrderResults[i]["ApprovedBy"],
                                IsLocked: purchaseOrderResults[i]["IsLocked"],
                                CreatedById: purchaseOrderResults[i]["CreatedById"],
                                CreatedBy: purchaseOrderResults[i]["CreatedBy"],
                                CreatedDateTime: purchaseOrderResults[i]["CreatedDateTime"],
                                UpdatedById: purchaseOrderResults[i]["UpdatedById"],
                                UpdatedBy: purchaseOrderResults[i]["UpdatedBy"],
                                UpdatedDateTime: purchaseOrderResults[i]["UpdatedDateTime"]
                            });
                        }
                    }
                    NProgress.done();
                }
            }).fail(function (xhr, textStatus, err) {
                alert(err);
            });
            return POs;
        }

        // =====================
        // PO Delete Lock Button
        // =====================
        function PODeleteLockButton_OnClick() {
            toastr.error("Record Locked")
        }

        // =========================
        // Purchase Order Add Button
        // =========================
        function btnAddPurchaseOrder_OnClick() {
            //window.location = '/Software/SupplierDetail';
            document.getElementById('btnAddPurchaseOrder').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Adding";
            $('#btnAddPurchaseOrder').prop('disabled', true);
            $('#btnAddClose').prop('disabled', true);

            var canAccessToDetailPage = "@ViewData["CanAccessToDetailPage"]";
            if (canAccessToDetailPage == "True") {
                $.ajax({
                    type: "POST",
                    url: '/api/addPurchaseOrder',
                    contentType: "application/json; charset=utf-8",
                    success: function (id) {
                        if (id > 0) {
                            window.location = '/Software/PurchaseOrderDetail?PurchaseOrderId=' + id;
                        } else {
                            toastr.error("Internal Server Error");
                        }
                    }
                });
            } else if (canAccessToDetailPage == "False") {
                window.location = '/Software/Forbidden';
            } else {
                document.getElementById('btnAddPurchaseOrder').innerHTML = "<i class='fa fa-plus'></i> Add";
                $('#btnAddPurchaseOrder').prop('disabled', false);
                $('#btnAddClose').prop('disabled', false);
            }
        }

        // ===========
        // read Cookie
        // ===========
        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1, c.length);
                    if (c.indexOf(nameEQ) == 0) {
                        return c.substring(nameEQ.length, c.length);
                    }
                }
            }
            return null;
        }

        // ==============
        // PO Edit Button
        // ==============
        function POEditButton_OnClick() {
            POs.editItem(POs.currentItem);
            var PO = POs.currentEditItem;
            var PurchaseOrderId = PO.Id;
            window.location = '/Software/PurchaseOrderDetail?PurchaseOrderId=' + PurchaseOrderId;
        }

        // ===========================
        // Purchase Order Close Button
        // ===========================
        function btnClosePurchaseOrder_OnClick() {
            window.location = '/Software';
        }

        // ================
        // PO Delete Button
        // ================
        function PODeleteButton_OnClick() {
            $('#deletePOConfirm').modal({
                show: true,
                backdrop: 'static'
            });

            document.getElementById('cmdConfirmDeletePO').innerHTML = "<i class='fa fa-trash'></i> Delete";
            $("#cmdConfirmDeletePO").prop("disabled", false);
            $("#cmdConfirmDeleteCloseButton").prop("disabled", false);
        }
        // PO Confirm Delete Button
        function cmdPOConfirmDeleteButton_OnClick() {
            document.getElementById('cmdConfirmDeletePO').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Deleting";
            $("#cmdConfirmDeletePO").prop("disabled", true);
            $("#cmdConfirmDeleteCloseButton").prop("disabled", true);

            POs.editItem(POs.currentItem);
            var id = POs.currentEditItem.Id;
            $.ajax({
                url: '/api/deletePO/' + id,
                type: "DELETE",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                statusCode: {
                    200: function () {
                        $("#cmdConfirmDeletePO").prop("disabled", true);
                        $("#cmdConfirmDeleteCloseButton").prop("disabled", true);
                        toastr.success("Delete Successful");

                        $('#deletePOConfirm').modal('hide');

                        var PODateFilter = document.getElementById('filterDate_data').value;
                        POs = new wijmo.collections.CollectionView(getPOFilterByDate());
                        POs.canFilter = true;
                        POs.pageSize = 15;

                        var filterText = '';
                        $('#InputFilter').keyup(function () {
                            filterText = this.value.toLowerCase();
                            POs.refresh();
                        });
                        POs.filter = function (item) {
                            return !filterText || (item.Supplier.toLowerCase().indexOf(filterText) > -1);
                        }
                        POs.collectionChanged.addHandler(function (sender, args) {
                            updateNavigateButtonsPO();
                        });
                        POs.currentChanged.addHandler(function (sender, args) {
                            updateDetails();
                        });

                        // Flex Grid
                        POGrid.itemsSource = POs;
                        POGrid.trackChanges = true;
                    },
                    404: function () {
                        toastr.error("Request Not Found");
                        $('#deletePOConfirm').modal('hide');
                        $("#cmdConfirmDeletePO").prop("disabled", false);
                        $("#cmdConfirmDeleteCloseButton").prop("disabled", false);
                    },
                    400: function () {
                        toastr.error("Can't be deleted");
                        $('#deletePOConfirm').modal('hide');
                        $("#cmdConfirmDeletePO").prop("disabled", false);
                        $("#cmdConfirmDeleteCloseButton").prop("disabled", false);
                    }
                }
            });
        }

        // ===================
        // FlexGrid Selection
        // ===================
        function updateDetails() {
            var item = POs.currentItem;
            document.getElementById('createdBy').innerHTML = item.CreatedBy;
            document.getElementById('createdDate').innerHTML = item.CreatedDateTime;
            document.getElementById('updatedBy').innerHTML = item.UpdatedBy;
            document.getElementById('updatedDate').innerHTML = item.UpdatedDateTime;
        }

        // ===============================
        // Navigation Buttons for Comapany
        // ===============================
        function updateNavigateButtonsPO() {
            if (POs.pageSize <= 0) {
                document.getElementById('naviagtionPageGrid').style.display = 'none';
                return;
            }
            document.getElementById('naviagtionPageGrid').style.display = 'block';
            if (POs.pageIndex === 0) {
                btnFirstPageGrid.setAttribute('disabled', 'disabled');
                btnPreviousPageGrid.setAttribute('disabled', 'disabled');
                btnNextPageGrid.removeAttribute('disabled');
                btnLastPageGrid.removeAttribute('disabled');
            } else if (POs.pageIndex === (POs.pageCount - 1)) {
                btnFirstPageGrid.removeAttribute('disabled');
                btnPreviousPageGrid.removeAttribute('disabled');
                btnLastPageGrid.setAttribute('disabled', 'disabled');
                btnNextPageGrid.setAttribute('disabled', 'disabled');
            } else {
                btnFirstPageGrid.removeAttribute('disabled');
                btnPreviousPageGrid.removeAttribute('disabled');
                btnNextPageGrid.removeAttribute('disabled');
                btnLastPageGrid.removeAttribute('disabled');
            }
            btnCurrentPageGrid.innerHTML = (POs.pageIndex + 1) + ' / ' + POs.pageCount;
        }

        // ============
        // On Load Page
        // ============
        $(document).ready(function () {
            var PODateFilter_Date = new Date();
            document.getElementById("filterDate_data").value = [PODateFilter_Date.getMonth() + 1, PODateFilter_Date.getDate(), PODateFilter_Date.getFullYear()].join('-');
            document.getElementById("filterEndDate_data").value = [PODateFilter_Date.getMonth() + 1, PODateFilter_Date.getDate(), PODateFilter_Date.getFullYear()].join('-');

            cboFilterDate = new wijmo.input.InputDate('#filterDate', {
                format: 'MM/dd/yyyy',
                value: new Date(),
                mask: '99/99/9999',
                onValueChanged: function () {
                    if (!isFirstSelect) {
                        document.getElementById('filterDate_data').value = [this.value.getMonth() + 1, this.value.getDate(), this.value.getFullYear()].join('-');
                        var PODateFilterValue = document.getElementById('filterDate_data').value;

                        $('body').removeClass('modal-open');
                        $(".modal-backdrop").remove();

                        POs = new wijmo.collections.CollectionView(getPOFilterByDate());
                        POs.canFilter = true;
                        POs.pageSize = 15;

                        var filterText = '';
                        $('#InputFilter').keyup(function () {
                            filterText = this.value.toLowerCase();
                            POs.refresh();
                        });
                        POs.filter = function (item) {
                            return !filterText || (item.Supplier.toLowerCase().indexOf(filterText) > -1);
                        }
                        POs.collectionChanged.addHandler(function (sender, args) {
                            updateNavigateButtonsPO();
                        });
                        POs.currentChanged.addHandler(function (sender, args) {
                            updateDetails();
                        });

                        POGrid.itemsSource = POs;
                        POGrid.trackChanges = true;

                        updateNavigateButtonsPO();
                    } else {
                        isFirstSelect = false;
                    }
                }
            });

            cboFilterEndDate = new wijmo.input.InputDate('#filterEndDate', {
                format: 'MM/dd/yyyy',
                value: new Date(),
                mask: '99/99/9999',
                onValueChanged: function () {
                    if (!isEndFirstSelect) {
                        document.getElementById('filterEndDate_data').value = [this.value.getMonth() + 1, this.value.getDate(), this.value.getFullYear()].join('-');
                        var POEndDateFilterValue = document.getElementById('filterEndDate_data').value;

                        $('body').removeClass('modal-open');
                        $(".modal-backdrop").remove();

                        POs = new wijmo.collections.CollectionView(getPOFilterByDate());
                        POs.canFilter = true;
                        POs.pageSize = 15;

                        var filterText = '';
                        $('#InputFilter').keyup(function () {
                            filterText = this.value.toLowerCase();
                            POs.refresh();
                        });
                        POs.filter = function (item) {
                            return !filterText || (item.Supplier.toLowerCase().indexOf(filterText) > -1);
                        }
                        POs.collectionChanged.addHandler(function (sender, args) {
                            updateNavigateButtonsPO();
                        });
                        POs.currentChanged.addHandler(function (sender, args) {
                            updateDetails();
                        });

                        POGrid.itemsSource = POs;
                        POGrid.trackChanges = true;

                        updateNavigateButtonsPO();
                    } else {
                        isEndFirstSelect = false;
                    }
                }
            });


            var PODateFilter = document.getElementById('filterDate_data').value;
            POs = new wijmo.collections.CollectionView(getPOFilterByDate());
            POs.canFilter = true;
            POs.pageSize = 15;

            var filterText = '';
            $('#InputFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                POs.refresh();
            });
            POs.filter = function (item) {
                return !filterText || (item.Supplier.toLowerCase().indexOf(filterText) > -1);
            }
            POs.collectionChanged.addHandler(function (sender, args) {
                updateNavigateButtonsPO();
            });
            POs.currentChanged.addHandler(function (sender, args) {
                updateDetails();
            });

            // Flex Grid
            POGrid = new wijmo.grid.FlexGrid('#POGrid');
            POGrid.initialize({
                columns: [
                            {
                                "header": "Edit",
                                "binding": "EditId",
                                "width": 70,
                                "align": "center",
                                "allowResizing": false,
                                "allowSorting": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "Delete",
                                "binding": "DeleteId",
                                "width": 70,
                                "align": "center",
                                "allowResizing": false,
                                "allowSorting": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "PO Number",
                                "binding": "PONumber",
                                "allowSorting": true,
                                "width": 110,
                            },
                            {
                                "header": "PO Date",
                                "binding": "PODate",
                                "allowSorting": true,
                                "width": 100
                            },
                            {
                                "header": "Supplier",
                                "binding": "Supplier",
                                "allowSorting": true,
                                "width": 440
                            },
                            {
                                "header": "Amount",
                                "binding": "Amount",
                                "allowSorting": true,
                                "width": 170
                            },
                            {
                                "header": "Close",
                                "binding": "IsClose",
                                "allowSorting": true,
                                "width": 70
                            },
                            {
                                "header": "L",
                                "binding": "IsLocked",
                                "allowSorting": true,
                                "width": 50
                            }
                ],
                autoGenerateColumns: false,
                itemsSource: POs,
                isReadOnly: true,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            POGrid.trackChanges = true;

            //Navigation button
            btnFirstPageGrid = document.getElementById('btnMoveToFirstPageGrid');
            btnPreviousPageGrid = document.getElementById('btnMoveToPreviousPageGrid');
            btnNextPageGrid = document.getElementById('btnMoveToNextPageGrid');
            btnLastPageGrid = document.getElementById('btnMoveToLastPageGrid');
            btnCurrentPageGrid = document.getElementById('btnCurrentPageGrid');

            updateNavigateButtonsPO();

            btnFirstPageGrid.addEventListener('click', function () {
                POs.moveToFirstPage();
                updateNavigateButtonsPO();
            });
            btnPreviousPageGrid.addEventListener('click', function () {
                POs.moveToPreviousPage();
                updateNavigateButtonsPO();
            });
            btnNextPageGrid.addEventListener('click', function () {
                POs.moveToNextPage();
                updateNavigateButtonsPO();
            });
            btnLastPageGrid.addEventListener('click', function () {
                POs.moveToLastPage();
                updateNavigateButtonsPO();
            });

            var canAdd = "@ViewData["CanAdd"]";
            if (canAdd == "True") {
                $("#btnAddPurchaseOrder").prop("disabled", false)
            } else if (canAdd == "False") {
                $("#btnAddPurchaseOrder").prop("disabled", true)
            } else {
                $("#btnAddPurchaseOrder").prop("disabled", true)
            }
        });

        function refreshGrids() {
            setTimeout(function () {
                POs.refresh();
            }, 500)
        }
    </script>
    <script type="text/javascript">
        var slideLeft = new Menu({
            wrapper: '#o-wrapper',
            type: 'slide-left',
            menuOpenerClass: '.c-button',
            maskId: '#c-mask'
        });

        var slideLeftBtn = document.querySelector('#c-button--slide-left');

        slideLeftBtn.addEventListener('click', function (e) {
            e.preventDefault;
            slideLeft.open();
        });
    </script>
</body>
</html>