<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Title of the Page -->
    <link rel="shortcut icon" href="~/Images/icon/easyfislogomini.ico">
    <title>Purchase Detail Report</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Content/Software-css")
</head>
<body class="">
    <div id="o-wrapper" class="o-wrapper">
        <main class="o-content">
            @Html.Partial("_SoftwareHeader")
            <section class="content-header">
                <div class="container">
                    <h2>
                        <i class="fa fa-print fa-fw"></i> Purchase Detail Report
                    </h2>
                </div>
            </section>
            <br />
            <section class="container">
                <div class="input-group" style="margin-bottom: 10px;">
                    <span class="input-group-addon">Company</span>
                    <input type="text" class="form-control" id="" value="@ViewData["Company"] / @ViewData["Branch"]" placeholder="Company" disabled>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 59%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        <input type="text" class="form-control " id="InputFilter" placeholder="Search">
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 40%" align="right">
                                    <button onclick="purchaseDetailReportCSV_OnClick()" class="btn btn-primary "><i class="fa fa-file-excel-o" aria-hidden="true"></i> CSV</button>
                                    <button onclick="purchaseDetailReportPDF_OnClick()" class="btn btn-primary "><i class="fa fa-print"></i> Print</button>
                                    <a href="/Software/AccountsPayable" class="btn btn-danger "><i class="fa fa-close"></i> Close</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 59%">
                                    <div class="input-group ">
                                        <span class="input-group-addon">Date:</span>
                                        <input type="text" class="form-control " id="dateFrom" placeholder="filter date" disabled>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 20%" align="right"></td>
                                <td style="width: 20%"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-body">
                        <div id="purchaseDetailReportGrid" class="grid"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <table class="table table-responsive table-bordered">
                            <tr>
                                <td align="right">
                                    <b>Total: </b>
                                </td>
                                <td style="padding-left: 10px" align="right">
                                    <span id="total">NA</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </section>
            @Html.Partial("_SoftwareFooter")
        </main>
    </div>
    <div id="c-mask" class="c-mask"></div><!-- /c-mask -->
    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        function getParam(name) {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
            var regexS = "[\\?&]" + name + "=([^&#]*)";
            var regex = new RegExp(regexS);
            var results = regex.exec(window.location.href);
            if (results == null)
                return "";
            else
                return results[1];
        }

        function purchaseDetailReportPDF_OnClick() {
            window.location.href = '/RepPurchaseDetailReport/PurchaseDetailReport?StartDate=' + getParam("StartDate") + '&EndDate=' + getParam("EndDate");
        }

        function getPurchaseDetailReport() {
            var purchaseDetailReport = new wijmo.collections.ObservableArray;
            $.ajax({
                url: '/api/purchaseDetailReport/list/' + getParam("StartDate") + '/' + getParam("EndDate"),
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (purchaseDetailReportResults) {
                    if (purchaseDetailReportResults.length > 0) {
                        var totalAmount = 0;

                        for (i = 0; i < purchaseDetailReportResults.length; i++) {
                            var docLink = "/Software/PurchaseOrderDetail?PurchaseOrderId=" + purchaseDetailReportResults[i]["POId"];
                            // Array Push
                            purchaseDetailReport.push({

                                POId: purchaseDetailReportResults[i]["POId"],
                                PONumber: purchaseDetailReportResults[i]["PO"],
                                PONumberForCSV: "PO-" + purchaseDetailReportResults[i]["PO"],
                                PONumberButton: "<a href='" + docLink + "' class='btn btn-default btn-xs btn-block' style='text-align: left'>" + purchaseDetailReportResults[i]["PO"],
                                PODate: purchaseDetailReportResults[i]["PODate"],
                                Item: purchaseDetailReportResults[i]["Item"],
                                Price: purchaseDetailReportResults[i]["Price"],
                                Unit: purchaseDetailReportResults[i]["Unit"],
                                Quantity: purchaseDetailReportResults[i]["Quantity"],
                                Amount: purchaseDetailReportResults[i]["Amount"]
                            });

                            totalAmount += purchaseDetailReportResults[i]["Amount"];
                        }

                        document.getElementById("total").innerHTML = totalAmount.toLocaleString();
                    }
                    NProgress.done();
                }
            });

            return purchaseDetailReport;
        }

        var purchaseDetailReportCollections;

        function purchaseDetailReportCSV_OnClick() {
            var CSV = '';
            var purchaseDetailReport = [];
            var fileName = 'PurchaseDetailReport.CSV';

            for (i = 0; i < purchaseDetailReportCollections.items.length; i++) {
                purchaseDetailReport.push({
                    PONumber: purchaseDetailReportCollections.items[i].PONumberForCSV,
                    PODate: purchaseDetailReportCollections.items[i].PODate,
                    Item: purchaseDetailReportCollections.items[i].Item,
                    Price: purchaseDetailReportCollections.items[i].Price,
                    Unit: purchaseDetailReportCollections.items[i].Unit,
                    Quantity: purchaseDetailReportCollections.items[i].Quantity,
                    Amount: purchaseDetailReportCollections.items[i].Amount,


                });
            }

            //for (var i = 0; i < symbols.length; i++) {
            //    CSV += '"' + symbols[i].AccountCode + '"\r\n';
            //}

            var Headers = [];
            Headers.push({

                PONumber: "PO Number",
                PODate: "PO Date",
                Item: "Item",
                Price: "Price",
                Unit: "Unit",
                Quantity: "Quantity",
                Amount: "Amount",

            });

            var header = '';
            // Rows
            for (var b in Headers[0]) {
                header += '"' + Headers[0][b] + '",';
            }

            CSV = header + '\r\n';
            for (var i = 0; i < purchaseDetailReport.length; i++) {
                var row = '';
                for (var a in purchaseDetailReport[i]) {
                    row += '"' + purchaseDetailReport[i][a] + '",';
                }

                row.slice(0, row.length - 1);
                CSV += row + '\r\n';
            }

            if (CSV == '') {
                toastr.error("No data.");
            } else {
                var link = document.createElement("a");

                if (link.download !== undefined) {
                    var blob = new Blob([CSV], { type: 'text/csv;charset=utf-8;' });
                    var url = URL.createObjectURL(blob);
                    link.setAttribute("href", url);
                    link.setAttribute("download", fileName);
                    link.style = "visibility:hidden";
                }

                if (navigator.msSaveBlob) {
                    link.addEventListener("click", function (event) {
                        var blob = new Blob([CSV], {
                            "type": "text/csv;charset=utf-8;"
                        });
                        navigator.msSaveBlob(blob, fileName);
                    }, false);
                }

                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);

                toastr.success("Dowload successful.");
            }
        }


        $(document).ready(function () {
            NProgress.start();
            document.getElementById("dateFrom").value = "Date from " + getParam("StartDate") + " to " + getParam("EndDate");

            purchaseDetailReportCollections = new wijmo.collections.CollectionView(getPurchaseDetailReport());
            purchaseDetailReportCollections.canFilter = true;

            var filterText = '';
            $('#InputFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                purchaseDetailReportCollections.refresh();
            });
            purchaseDetailReportCollections.filter = function (item) {
                return !filterText || (item.Item.toLowerCase().indexOf(filterText) > -1)
                   || !filterText || (item.PONumber.toLowerCase().indexOf(filterText) > -1)

            }
            // Flex Grid
            var purchaseDetailReportGrid = new wijmo.grid.FlexGrid('#purchaseDetailReportGrid');
            purchaseDetailReportGrid.initialize({
                columns: [
                            {
                                "header": "PO Number",
                                "binding": "PONumberButton",
                                "isContentHtml": true,
                                "allowSorting": true,
                                "width": 110,
                            },
                            {
                                "header": "PO Date",
                                "binding": "PODate",
                                "allowSorting": true,
                                "width": 100
                            },
                            {
                                "header": "Item ",
                                "binding": "Item",
                                "allowSorting": true,
                                "width": 300
                            },
                            {
                                "header": "Price",
                                "binding": "Price",
                                "allowSorting": true,
                                "width": 150
                            },
                            {
                                "header": "Unit",
                                "binding": "Unit",
                                "allowSorting": true,
                                "width": 120
                            },
                            {
                                "header": "Quantity",
                                "binding": "Quantity",
                                "allowSorting": true,
                                "width": 150
                            },
                            {
                                "header": "Amount",
                                "binding": "Amount",
                                "allowSorting": true,
                                "width": 150
                            }
                ],
                autoGenerateColumns: false,
                itemsSource: purchaseDetailReportCollections,
                isReadOnly: true,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            purchaseDetailReportGrid.trackChanges = true;
        });
    </script>
    <script type="text/javascript">
        var slideLeft = new Menu({
            wrapper: '#o-wrapper',
            type: 'slide-left',
            menuOpenerClass: '.c-button',
            maskId: '#c-mask'
        });

        var slideLeftBtn = document.querySelector('#c-button--slide-left');

        slideLeftBtn.addEventListener('click', function (e) {
            e.preventDefault;
            slideLeft.open();
        });
    </script>
</body>
</html>