@{
    var id = Request.QueryString["CompanyId"];
    var branchId = Request.QueryString["BranchId"];
    var RRId = Request.QueryString["RRId"];
    var userId = ViewData["UserId"];
}
<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Some slide and push menu demos using CSS3 transitions.">

    <!-- Title of the Page -->
    <title>Receiving Receipt Detail</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Font-Awesome/css")
    @Styles.Render("~/Content/Software-css")
    @Styles.Render("~/WijmoCSS/Wijmo-css")
</head>
<body>
    <div id="wrapper" class="wrapper">
        <!-- Header -->
        @Html.Partial("_SoftwareHeader")

        <!-- Section -->
        <section>
            <br /><br /><br />
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        @*<h4><img src='~/images/Icons/iCompany.png'> Company - Detail</h4>*@
                        <h4><i class="fa fa-file-text fa-2x"></i>  Receiving Receipt Detail</h4>
                        <br />
                        <div class="div_Current_Page">
                            @*<label id="currentBranchName"></label>*@
                            <span id="currentPage"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4 id="RRDetailLabel"></h4>
                    </div>
                    <div class="col-md-6" align="right">
                        <button class="btn btn-primary btn-sm"><i class="fa fa-book"></i> Journal</button>
                        <button class="btn btn-primary btn-sm"><i class="fa fa-save"></i> Save</button>
                        <button class="btn btn-primary btn-sm"><i class="fa fa-edit"></i> Edit</button>
                        <button class="btn btn-primary btn-sm"><i class="fa fa-print"></i> Print</button>
                        <button onclick="window.location.href = '@Url.Action("ReceivingReceipt", "Software", new { BranchId = branchId })'" class="btn btn-danger btn-sm" id=""><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
                @*<hr />*@
                <div class="well">
                    <form class="form-horizontal" role="form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Branch:</label>
                                    <div class="col-sm-8">
                                        <div class="comboBox-wide" id="RRbranch"></div>

                                        <input type="hidden" id="RRbranch_data" />
                                        <input type="hidden" id="RRbranch_selectedValue" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">RR Number:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control input-sm" id="RRRRNumber" />
                                        <input type="hidden" id="RRRRNumber_Display" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">RR Date:</label>
                                    <div class="col-sm-8">
                                        <div class="comboBox-wide" id="RRRRDate"></div>
                                        <input type="hidden" id="RRRRDate_data" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Doc Reference:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control input-sm" id="RRDocReference">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Supplier:</label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <div class="comboBox-wide" id="RRSupplier"></div>

                                            <input type="hidden" id="RRSupplier_data" />
                                            <input type="hidden" id="RRSupplier_selectedValue" />
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-primary btn-sm" id="cmdRRForPOSupplier" onclick="RRForPOSupplier_OnClick()">PO</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Term:</label>
                                    <div class="col-sm-8">
                                        <div class="comboBox-wide" id="RRTerm"></div>

                                        <input type="hidden" id="RRTerm_data" />
                                        <input type="hidden" id="RRTerm_selectedValue" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Remarks:</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control textarea-custom" id="RRRemarks"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Manual RR Number:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control input-sm" id="RRManualRRNumber">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Received by:</label>
                                    <div class="col-sm-8">
                                        <div class="comboBox-wide" id="RRReceivedBy"></div>

                                        <input type="hidden" id="RRReceivedBy_data" />
                                        <input type="hidden" id="RRReceivedBy_selectedValue" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Prepared by:</label>
                                    <div class="col-sm-8">
                                        <div class="comboBox-wide" id="RRPreparedBy"></div>

                                        <input type="hidden" id="RRPreparedBy_data" />
                                        <input type="hidden" id="RRPreparedBy_selectedValue" />
                                        <input type="hidden" id="userId_data" value="@userId" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Checked by:</label>
                                    <div class="col-sm-8">
                                        <div class="comboBox-wide" id="RRCheckedBy"></div>

                                        <input type="hidden" id="RRCheckedBy_data" />
                                        <input type="hidden" id="RRCheckedBy_selectedValue" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Approved by:</label>
                                    <div class="col-sm-8">
                                        <div class="comboBox-wide" id="RRApprovedBy"></div>

                                        <input type="hidden" id="RRApprovedBy_data" />
                                        <input type="hidden" id="RRApprovedBy_selectedValue" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Lock:</label>
                                    <div class="col-sm-8">
                                        <input type="checkbox" id="RR_Lock">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-8">
                                        <input type="hidden" id="RR_IsLocked">
                                        <input type="hidden" id="RR_IsLocked_defaultTrue">
                                        <input type="hidden" id="RR_IsLocked_defaultFalse">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- JournalList -->
        <div class="modal fade" id="POStatus" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="POStatusModalLabel">Purchase Order Status</h4>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <!--tton class="btn btn-primary btn-sm" id="cmdSaveJournalVoucherLineButton" onclick="cmdJournalVoucherLineSaveButton_OnClick()"><i class="fa fa-save"></i> Save</button>-->
                        <button type="button" id="cmdPOStatusCloseButton" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Loading Modal -->
        <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="Loading..." aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class=" modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <h4>Loading ...</h4>
                    </div>
                    <div class="modal-footer">
                        <img class="img-thumbnail img-responsive center-block img-custom" src='~/images/loading/progress_bar.gif'>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        @Html.Partial("_SoftwareFooter")
    </div>

    <!-- SideBar Menu -->
    @Html.Partial("_SoftwareSideBarMenu")

    <div id="c-mask" class="c-mask"></div><!-- /c-mask -->
    <!-- Scripts JavaScripts -->
    @Scripts.Render("~/Scripts/Software-js")
    @Scripts.Render("~/WijmoScripts/Wijmo-js")
    <script type="text/javascript">
        // ================
        // Global Variables
        // ================
        var RRs;

        var branches;
        var users;
        var suppliers;
        var terms;
        var RRDate;
        var cboBranch;
        var cboSupplier;
        var cboTerm;

        var cboReceivedBy;
        var cboPreparedBy;
        var cboCheckedBy;
        var cboApprovedBy;

        // =================
        // GET RR List By Id
        // =================
        function getRRById() {
            var RRs = new wijmo.collections.ObservableArray;
            var RRId = @RRId;
            $('#loadingModal').modal('show');
            $.ajax({
                url: '/api/listReceivingReceiptById/' + RRId,
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (Results) {
                    $('#loadingModal').modal('hide');
                    if (Results.length > 0) {
                        RRs.push({
                            Id: Results.Id,
                            BranchId: Results.BranchId,
                            Branch: Results.Branch,
                            RRNumber: Results.RRNumber,
                            RRDate: Results.RRDate,
                            SupplierId: Results.SupplierId,
                            Supplier: Results.Supplier,
                            TermId: Results.TermId,
                            Term: Results.Term,
                            DocumentReference: Results.DocumentReference,
                            ManualRRNumber: Results.ManualRRNumber,
                            Remarks: Results.Remarks,
                            Amount: Results.Amount,
                            WTaxAmount: Results.WTaxAmount,
                            PaidAmount: Results.PaidAmount,
                            AdjustmentAmount: Results.AdjustmentAmount,
                            BalanceAmount: Results.BalanceAmount,
                            ReceivedById: Results.ReceivedById,
                            ReceivedBy: Results.ReceivedBy,
                            PreparedById: Results.PreparedById,
                            PreparedBy: Results.PreparedBy,
                            CheckedById: Results.CheckedById,
                            CheckedBy: Results.CheckedBy,
                            ApprovedById: Results.ApprovedById,
                            ApprovedBy: Results.ApprovedBy,
                            IsLocked: Results.IsLocked,
                            CreatedById: Results.CreatedById,
                            CreatedBy: Results.CreatedBy,
                            CreatedDateTime: Results.CreatedDateTime,
                            UpdatedById: Results.UpdatedById,
                            UpdatedBy: Results.UpdatedBy,
                            UpdatedDateTime: Results.UpdatedDateTime
                        });
                    }
                    document.getElementById('RRbranch_data').value = Results.BranchId;
                    document.getElementById('RRbranch_selectedValue').value = Results.Branch;

                    document.getElementById('RRRRNumber').value = Results.RRNumber;
                    document.getElementById('RRRRDate_data').value = Results.RRDate;

                    var RRdate_date = Results.RRDate;
                    RRDate.dispose();
                    RRDate = new wijmo.input.InputDate('#RRRRDate', {
                        format: 'MM/dd/yyyy',
                        value: new Date(RRdate_date),
                        mask: '99/99/9999',
                        onValueChanged: function () {
                            document.getElementById('RRRRDate_data').value = this.value.toLocaleDateString();
                        }
                    });

                    document.getElementById('RRDocReference').value = Results.DocumentReference;
                    document.getElementById('RRSupplier_data').value = Results.SupplierId;
                    document.getElementById('RRSupplier_selectedValue').value = Results.Supplier;
                    document.getElementById('RRTerm_data').value = Results.TermId;
                    document.getElementById('RRTerm_selectedValue').value = Results.Term;
                    document.getElementById('RRRemarks').value = Results.Remarks;
                    document.getElementById('RRManualRRNumber').value = Results.ManualRRNumber;
                    document.getElementById('RRReceivedBy_data').value = Results.ReceivedById;
                    document.getElementById('RRReceivedBy_selectedValue').value = Results.ReceivedBy;
                    document.getElementById('RRPreparedBy_data').value = Results.PreparedById;
                    document.getElementById('RRPreparedBy_selectedValue').value = Results.PreparedBy;
                    document.getElementById('RRCheckedBy_data').value = Results.CheckedById;
                    document.getElementById('RRCheckedBy_selectedValue').value = Results.CheckedBy;
                    document.getElementById('RRApprovedBy_data').value = Results.ApprovedById;
                    document.getElementById('RRApprovedBy_selectedValue').value = Results.ApprovedBy;
                    document.getElementById('RR_Lock').checked = Results.IsLocked;

                    document.getElementById('createdBy').innerHTML = Results.CreatedBy;
                    document.getElementById('createdDate').innerHTML = Results.CreatedDateTime;
                    document.getElementById('updatedBy').innerHTML = Results.UpdatedBy;
                    document.getElementById('updatedDate').innerHTML = Results.UpdatedDateTime;

                    getBranchesForComboBox();
                    getSupplierForComboBox();
                    getTermForComboBox();
                    getUsersForComboBox();
                }
            }).fail(function (xhr, textStatus, err) {
                alert(err);
            });
            return RRs;
        }

        // ========================
        // GET Branch for Combo Box
        // ========================
        function getBranchesForComboBox() {
            branches = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/listBranch',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (results) {
                    if (results.length > 0) {
                        for (i = 0; i < results.length; i++) {
                            branches.push({
                                BranchId: results[i]["Id"],
                                BranchBranch: results[i]["Branch"]
                            });
                        }

                        var RRId = @RRId;
                        if(RRId == 0) {
                            $.ajax({
                                url: '/api/listBranchById/' + @branchId,
                                cache: false,
                                type: 'GET',
                                contentType: 'application/json; charset=utf-8',
                                data: {},
                                success: function (results) {
                                    if (results.length > 0) {
                                        branches.push({
                                            BranchId: results.Id,
                                            Branch: results.Branch
                                        });
                                    }
                                    document.getElementById('RRbranch_data').value = results.Id;
                                    document.getElementById('RRbranch_selectedValue').value = results.Branch;

                                    createCboBranch(branches);
                                }
                            });
                        } else {
                            createCboBranch(branches);
                        }
                    }
                }
            }).fail(function (xhr, textStatus, err) {
                alert(err);
            }
                );

            return branches;
        }

        // ======================
        // Combo Box for Branches
        // ======--==============
        function createCboBranch(branches) {
            var branchCollections = new wijmo.collections.CollectionView(branches);
            var branchList = new Array();
            for (var i = 0; i < branchCollections.items.length; i++) {
                branchList.push(branchCollections.items[i].BranchBranch);
            }

            cboBranch.dispose();
            cboBranch = new wijmo.input.ComboBox('#RRbranch', {
                disabled: true,
                placeholder: "Select Branch",
                itemsSource: branchList,
                isEditable: false,
                required: false,
                selectedValue: document.getElementById('RRbranch_selectedValue').value.toString(),
                onSelectedIndexChanged: function () {
                    $("#RRbranch_data").val(branchCollections.items[this.selectedIndex].BranchId);
                }
            });
        }

        // ==========================
        // GET Supplier for Combo Box
        // ==========================
        function getSupplierForComboBox() {
            suppliers = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/listArticleByArticleTypeId/3',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (results) {
                    if (results.length > 0) {
                        for (i = 0; i < results.length; i++) {
                            suppliers.push({
                                SupplierId: results[i]["Id"],
                                Supplier: results[i]["Article"]
                            });
                        }
                        createCbosupplier(suppliers);
                    }
                }
            }).fail(function (xhr, textStatus, err) {
                alert(err);
            }
                );

            return suppliers;
        }

        // =======================
        // Combo Box for Suppliers
        // =======================
        function createCbosupplier(suppliers) {
            var supplierCollection = new wijmo.collections.CollectionView(suppliers);
            var supplierList = new Array();
            for (var i = 0; i < supplierCollection.items.length; i++) {
                supplierList.push(supplierCollection.items[i].Supplier);
            }

            cboSupplier.dispose();
            cboSupplier = new wijmo.input.ComboBox('#RRSupplier', {
                placeholder: "Select Supplier",
                itemsSource: supplierList,
                isEditable: false,
                required: false,
                selectedValue: document.getElementById('RRSupplier_selectedValue').value.toString(),
                onSelectedIndexChanged: function () {
                    $("#RRSupplier_data").val(supplierCollection.items[this.selectedIndex].SupplierId);
                }
            });
        }

        // =======================
        // GET Terms for Combo Box
        // =======================
        function getTermForComboBox() {
            terms = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/listTerm',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (results) {
                    if (results.length > 0) {
                        for (i = 0; i < results.length; i++) {
                            terms.push({
                                TermId: results[i]["Id"],
                                Term: results[i]["Term"]
                            });
                        }
                        createCboTerm(terms);
                    }
                }
            }).fail(function (xhr, textStatus, err) {
                alert(err);
            }
                );

            return terms;
        }

        // ===================
        // Combo Box for Terms
        // ===================
        function createCboTerm(terms) {
            var termCollections = new wijmo.collections.CollectionView(terms);
            var termList = new Array();
            for (var i = 0; i < termCollections.items.length; i++) {
                termList.push(termCollections.items[i].Term);
            }

            cboTerm.dispose();
            cboTerm = new wijmo.input.ComboBox('#RRTerm', {
                placeholder: "Select Term",
                itemsSource: termList,
                isEditable: false,
                required: false,
                selectedValue: document.getElementById('RRTerm_selectedValue').value.toString(),
                onSelectedIndexChanged: function () {
                    $("#RRTerm_data").val(termCollections.items[this.selectedIndex].TermId);
                }
            });
        }


        // =======================
        // GET Users for Combo Box
        // =======================
        function getUsersForComboBox() {
            users = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/listUser',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (results) {
                    if (results.length > 0) {
                        for (i = 0; i < results.length; i++) {
                            users.push({
                                UserId: results[i]["Id"],
                                UserFullName: results[i]["FullName"]
                            });
                        }

                        var RRId = @RRId;
                        if(RRId == 0) {
                            var userId = document.getElementById('userId_data').value;
                            $.ajax({
                                url: '/api/listByMstUserId/' + userId,
                                cache: false,
                                type: 'GET',
                                contentType: 'application/json; charset=utf-8',
                                data: {},
                                success: function (results) {
                                    if (results.length > 0) {
                                        users.push({
                                            UserId: results.Id,
                                            UserFullName: results.FullName
                                        });
                                    }

                                    document.getElementById('RRPreparedBy_data').value = results.Id;
                                    document.getElementById('RRPreparedBy_selectedValue').value =  results.FullName;

                                    createCboUserReceivedBy(users);
                                    createCboUserPreparedBy(users);
                                    createCboUserCheckedBy(users);
                                    createCboUserApprovedBy(users);
                                }
                            });
                        } else {
                            createCboUserReceivedBy(users);
                            createCboUserPreparedBy(users);
                            createCboUserCheckedBy(users);
                            createCboUserApprovedBy(users);
                        }
                    }
                }
            }).fail(function (xhr, textStatus, err) {
                alert(err);
            });
            return users;
        }

        // ==================================
        // Combo Box for Users - Received By
        // ==================================
        function createCboUserReceivedBy(users) {
            var usersCollection = new wijmo.collections.CollectionView(users);
            var userList = new Array();
            for (var i = 0; i < usersCollection.items.length; i++) {
                userList.push(usersCollection.items[i].UserFullName);
            }

            cboReceivedBy.dispose();
            cboReceivedBy = new wijmo.input.ComboBox('#RRReceivedBy', {
                placeholder: "Select User",
                itemsSource: userList,
                isEditable: false,
                required: false,
                selectedValue: document.getElementById('RRReceivedBy_selectedValue').value.toString(),
                onSelectedIndexChanged: function () {
                    $("#RRReceivedBy_data").val(usersCollection.items[this.selectedIndex].UserId);
                }
            });
        }

        // =================================
        // Combo Box for Users - Prepared By
        // =================================
        function createCboUserPreparedBy(users) {
            var usersCollection = new wijmo.collections.CollectionView(users);
            var userList = new Array();
            for (var i = 0; i < usersCollection.items.length; i++) {
                userList.push(usersCollection.items[i].UserFullName);
            }

            cboPreparedBy.dispose();
            cboPreparedBy = new wijmo.input.ComboBox('#RRPreparedBy', {
                disabled: true,
                placeholder: "Select User",
                itemsSource: userList,
                isEditable: false,
                required: false,
                selectedValue: document.getElementById('RRPreparedBy_selectedValue').value.toString(),
                onSelectedIndexChanged: function () {
                    $("#RRPreparedBy_data").val(usersCollection.items[this.selectedIndex].UserId);
                }
            });
        }

        // =================================
        // Combo Box for Users - Checked By
        // =================================
        function createCboUserCheckedBy(users) {
            var usersCollection = new wijmo.collections.CollectionView(users);
            var userList = new Array();
            for (var i = 0; i < usersCollection.items.length; i++) {
                userList.push(usersCollection.items[i].UserFullName);
            }

            cboCheckedBy.dispose();
            cboCheckedBy = new wijmo.input.ComboBox('#RRCheckedBy', {
                placeholder: "Select User",
                itemsSource: userList,
                isEditable: false,
                required: false,
                selectedValue: document.getElementById('RRCheckedBy_selectedValue').value.toString(),
                onSelectedIndexChanged: function () {
                    $("#RRCheckedBy_data").val(usersCollection.items[this.selectedIndex].UserId);
                }
            });
        }

        // =================================
        // Combo Box for Users - Approved By
        // =================================
        function createCboUserApprovedBy(users) {
            var usersCollection = new wijmo.collections.CollectionView(users);
            var userList = new Array();
            for (var i = 0; i < usersCollection.items.length; i++) {
                userList.push(usersCollection.items[i].UserFullName);
            }

            cboApprovedBy.dispose();
            cboApprovedBy = new wijmo.input.ComboBox('#RRApprovedBy', {
                placeholder: "Select User",
                itemsSource: userList,
                isEditable: false,
                required: false,
                selectedValue: document.getElementById('RRApprovedBy_selectedValue').value.toString(),
                onSelectedIndexChanged: function () {
                    $("#RRApprovedBy_data").val(usersCollection.items[this.selectedIndex].UserId);
                }
            });
        }

        // =====================================================
        // Function with leading zeroes to display the RR Number
        // =====================================================
        function zerofill(number, length) {
            var result = number.toString();
            var pad = length - result.length;
            while(pad > 0) {
                result = '0' + result;
                pad--;
            }
            return result;
        }

        // ===============
        // OnLoad Function
        // ===============
        $(document).ready(function () {

            $('#cmdRRForPOSupplier').click(function () {
                $('#POStatus').modal({
                    show: true,
                    backdrop: 'static'
                });
            });

            document.getElementById('currentPage').innerHTML = '<a href="@Url.Action("Index", "Software", new { BranchId = branchId })" class="currentPageLinkCustom">Main Menu</a> > ' + ' <a href="@Url.Action("ReceivingReceipt", "Software", new { BranchId = branchId })" class="currentPageLinkCustom">Receiving Receipt</a> ' + ' > Receiving Receipt Detail';
            document.getElementById('RR_Lock').disabled = true;
            document.getElementById('RRRRNumber').disabled = true;

            var RRId = @RRId;
            if(RRId == 0) {
                if(document.getElementById('RRRRNumber').value == 0) {
                    document.getElementById('RRRRNumber_Display').value = "0000000001";
                }

                document.getElementById('RRRRNumber').value = 0;
                //document.getElementById('journalVoucher_No_Display').value = "000-000000";
                var POs = new wijmo.collections.ObservableArray;
                $.ajax({
                    url: '/api/listReceivingReceiptLast',
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    data: {},
                    success: function (Results) {
                        if (Results.length > 0) {
                            POs.push({
                                Id: Results.Id,
                                RRNumber: Results.RRNumber
                            });
                        }
                        var RR_Number = parseInt(Results.RRNumber);
                        var RR_Number_PlusOne = 0000000001;
                        var RR_Num_Results = RR_Number + RR_Number_PlusOne;
                        //var JV_Number_Display = JV_Num_Results.toString().replace(/(\d{3})(\d+)/, '$1-$2');

                        document.getElementById('RRRRNumber').value = zerofill(RR_Num_Results, 10);
                        document.getElementById('RRRRNumber_Display').value = zerofill(RR_Num_Results, 10);
                    }
                });
            }

            getRRById();
            getBranchesForComboBox();
            getSupplierForComboBox();
            getTermForComboBox();
            getUsersForComboBox();

            cboBranch = new wijmo.input.ComboBox('#RRbranch');

            var d = new Date();
            document.getElementById("RRRRDate_data").value = [ d.getMonth()+1, d.getDate(), d.getFullYear()].join('/');
            RRDate = new wijmo.input.InputDate('#RRRRDate', {
                format: 'MM/dd/yyyy',
                value: new Date(),
                mask: '99/99/9999',
                onValueChanged: function () {
                    document.getElementById('RRRRDate_data').value = this.value.toLocaleDateString();
                }
            });

            cboSupplier = new wijmo.input.ComboBox('#RRSupplier');
            cboTerm = new wijmo.input.ComboBox('#RRTerm');
            cboReceivedBy  = new wijmo.input.ComboBox('#RRReceivedBy');
            cboPreparedBy  = new wijmo.input.ComboBox('#RRPreparedBy');
            cboCheckedBy  = new wijmo.input.ComboBox('#RRCheckedBy');
            cboApprovedBy  = new wijmo.input.ComboBox('#RRApprovedBy');

        });
    </script>
</body>
</html>