<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Title of the Page -->
    <link rel="shortcut icon" href="~/Images/icon/easyfislogomini.ico">
    <title>Receiving Receipt Summary Report</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Content/Software-css")
</head>
<body class="hold-transition skin-blue fixed sidebar-mini">
    <div class="wrapper">
        @Html.Partial("_SoftwareHeader")
        @Html.Partial("_SoftwareSideBarMenu")

        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    Receiving Receipt Summary Report
                    <small><i class="fa fa-building"></i> @ViewData["Company"] / @ViewData["Branch"]</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/Software"> Dashboard</a></li>
                    <li> <a href="/Software/AccountsPayable"> Accounts Payable </a></li>
                    <li> Receiving Receipt Summary Report </li>
                </ol>
            </section>

            <section class="content">
                <div class="box box-default">
                    <div class="box-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>
                                    @ViewData["Company"]
                                    <small>
                                        <i class="fa fa-calendar fa-fw"></i> <span id="dateFrom"></span>
                                    </small>
                                </h4>
                            </div>
                            <div class="col-md-6" align="right">
                                <button onclick="receivingReceiptSummaryReportCSV_OnClick()" class="btn btn-primary btn-sm"><i class="fa fa-file-excel-o" aria-hidden="true"></i> CSV</button>
                                <button onclick="receivingReceiptSummaryReportPDF_OnClick()" class="btn btn-primary btn-sm"><i class="fa fa-print"></i> Print</button>
                                <a href="/Software/AccountsPayable" class="btn btn-danger btn-sm"><i class="fa fa-close"></i> Close</a>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div id="receivingReceiptSummaryReportGrid" class="grid"></div>
                        <br /><br /><br />
                        <div align="right">
                            <div class="row">
                                <div class="col-md-8"></div>
                                <div class="col-md-4">
                                    <table class="table table-responsive table-bordered">
                                        <tr>
                                            <td align="right">
                                                <b>Total: </b>
                                            </td>
                                            <td style="padding-left: 10px" align="right">
                                                <span id="total">NA</span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        @Html.Partial("_SoftwareFooter")
    </div>

    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        function getParam(name) {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
            var regexS = "[\\?&]" + name + "=([^&#]*)";
            var regex = new RegExp(regexS);
            var results = regex.exec(window.location.href);
            if (results == null)
                return "";
            else
                return results[1];
        }

        function receivingReceiptSummaryReportPDF_OnClick() {
            window.location.href = '/RepReceivingReceiptSummaryReport/ReceivingReceiptSummaryReport?StartDate=' + getParam("StartDate") + '&EndDate=' + getParam("EndDate");
        }

        function getReceivingReceiptSummaryReport() {
            var receivingReceiptSummaryReport = new wijmo.collections.ObservableArray;
            $.ajax({
                url: '/api/ReceivingReceiptSummaryReport/list/' + getParam("StartDate") + '/' + getParam("EndDate"),
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (receivingReceiptSummaryReportResults) {
                    if (receivingReceiptSummaryReportResults.length > 0) {
                        var totalAmount = 0;

                        for (i = 0; i < receivingReceiptSummaryReportResults.length; i++) {

                            // Array Push
                            receivingReceiptSummaryReport.push({

                          

                                Branch: receivingReceiptSummaryReportResults[i]["Branch"],
                                RRDate: receivingReceiptSummaryReportResults[i]["RRDate"],
                                RRNumber: receivingReceiptSummaryReportResults[i]["RRNumber"],
                                DocumentReference: receivingReceiptSummaryReportResults[i]["DocumentReference"],
                                Supplier: receivingReceiptSummaryReportResults[i]["Supplier"],
                                Remarks: receivingReceiptSummaryReportResults[i]["Remarks"],
                                Amount: receivingReceiptSummaryReportResults[i]["Amount"]
                            });

                            totalAmount += receivingReceiptSummaryReportResults[i]["Amount"];
                        }

                        document.getElementById("total").innerHTML = totalAmount.toLocaleString();
                    }
                    NProgress.done();
                }
            });

            return receivingReceiptSummaryReport;
        }
        var receivingReceiptSummaryCollection;

        function receivingReceiptSummaryReportCSV_OnClick() {


            var CSV = '';
            var receivingReceiptSummaryReport = [];
            var fileName = 'ReceivingReceiptSummaryReport.CSV';

            for (i = 0; i < receivingReceiptSummaryReportCollection.items.length; i++) {
                receivingReceiptSummaryReport.push({
                    Branch: receivingReceiptSummaryReportCollection.items[i].Branch,
                    RRDate: receivingReceiptSummaryReportCollection.items[i].RRDate,
                    RRNumber: receivingReceiptSummaryReportCollection.items[i].RRNumber,
                    DocumentReference: receivingReceiptSummaryReportCollection.items[i].DocumentReference,
                    Supplier: receivingReceiptSummaryReportCollection.items[i].Supplier,
                    Remarks: receivingReceiptSummaryReportCollection.items[i].Remarks,
                    Amount: receivingReceiptSummaryReportCollection.items[i].Amount,


                });
            }

            //for (var i = 0; i < symbols.length; i++) {
            //    CSV += '"' + symbols[i].AccountCode + '"\r\n';
            //}

            // Rows
            for (var i = 0; i < receivingReceiptSummaryReport.length; i++) {
                var row = '';
                for (var a in receivingReceiptSummaryReport[i]) {
                    row += '"' + receivingReceiptSummaryReport[i][a] + '",';
                }
                row.slice(0, row.length - 1);
                CSV += row + '\r\n';
            }

            if (CSV == '') {
                toastr.error("No data.");
            } else {
                var link = document.createElement("a");

                if (link.download !== undefined) {
                    var blob = new Blob([CSV], { type: 'text/csv;charset=utf-8;' });
                    var url = URL.createObjectURL(blob);
                    link.setAttribute("href", url);
                    link.setAttribute("download", fileName);
                    link.style = "visibility:hidden";
                }

                if (navigator.msSaveBlob) {
                    link.addEventListener("click", function (event) {
                        var blob = new Blob([CSV], {
                            "type": "text/csv;charset=utf-8;"
                        });
                        navigator.msSaveBlob(blob, fileName);
                    }, false);
                }

                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);

                toastr.success("Dowload successful.");
            }
        }
        $(document).ready(function () {
            NProgress.start();
            document.getElementById("dateFrom").innerHTML = "Date from " + getParam("StartDate") + " to " + getParam("EndDate");

            receivingReceiptSummaryReportCollection = new wijmo.collections.CollectionView(getReceivingReceiptSummaryReport());

            // Flex Grid
            var receivingReceiptSummaryReportGrid = new wijmo.grid.FlexGrid('#receivingReceiptSummaryReportGrid');
            receivingReceiptSummaryReportGrid.initialize({
                columns: [
                            {
                                "header": "Branch ",
                                "binding": "Branch",
                                "allowSorting": true,
                                "width": "0.5*",
                            },
                            {
                                "header": "RR Date",
                                "binding": "RRDate",
                                "allowSorting": true,
                                "width": "0.5*"
                            },
                            {
                                "header": "RR Number ",
                                "binding": "RRNumber",
                                "allowSorting": true,
                                "width": "0.5*"
                            },
                            {
                                "header": "Doc. Ref",
                                "binding": "DocumentReference",
                                "allowSorting": true,
                                "width": "0.5*"
                            },
                            {
                                "header": "Supplier",
                                "binding": "Supplier",
                                "allowSorting": true,
                                "width": "1*"
                            },
                            {
                                "header": "Remarks",
                                "binding": "Remarks",
                                "allowSorting": true,
                                "width": "0.5*"
                            },
                            {
                                "header": "Amount",
                                "binding": "Amount",
                                "allowSorting": true,
                                "width": "0.5*"
                            }
                ],
                autoGenerateColumns: false,
                itemsSource: receivingReceiptSummaryReportCollection,
                isReadOnly: true,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            receivingReceiptSummaryReportGrid.trackChanges = true;
        });
    </script>
</body>
</html>