@{
    var id = Request.QueryString["CompanyId"];
    var branchId = Request.QueryString["BranchId"];
    var RRId = Request.QueryString["RRId"];
}
<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Some slide and push menu demos using CSS3 transitions.">

    <!-- Title of the Page -->
    <title>Receiving Receipt Detail</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Font-Awesome/css")
    @Styles.Render("~/Content/Software-css")
    @Styles.Render("~/WijmoCSS/Wijmo-css")
</head>
<body>
    <div id="wrapper" class="wrapper">
        <!-- Header -->
        @Html.Partial("_SoftwareHeader")

        <!-- Section -->
        <section>
            <br /><br /><br />
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        @*<h4><img src='~/images/Icons/iCompany.png'> Company - Detail</h4>*@
                        <h4><i class="fa fa-file-text fa-2x"></i>  Receiving Receipt Detail</h4>
                        <br />
                        <div class="div_Current_Page">
                            @*<label id="currentBranchName"></label>*@
                            <span id="currentPage"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4 id="RRDetailLabel"></h4>
                    </div>
                    <div class="col-md-6" align="right">
                        <button class="btn btn-primary btn-sm"><i class="fa fa-book"></i> Journal</button>
                        <button class="btn btn-primary btn-sm"><i class="fa fa-save"></i> Save</button>
                        <button class="btn btn-primary btn-sm"><i class="fa fa-edit"></i> Edit</button>
                        <button class="btn btn-primary btn-sm"><i class="fa fa-print"></i> Print</button>
                        <button onclick="window.location.href = '@Url.Action("ReceivingReceipt", "Software", new { BranchId = branchId })'" class="btn btn-danger btn-sm" id=""><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
                @*<hr />*@
                <div class="well">
                    <form class="form-horizontal" role="form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Branch:</label>
                                    <div class="col-sm-8">
                                        <div class="comboBox-wide" id="RRbranch"></div>

                                        <input type="text" id="RRbranch_data" />
                                        <input type="text" id="RRbranch_selectedValue" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">RR Number:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control input-sm" id="RRRRNumber" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">RR Date:</label>
                                    <div class="col-sm-8">
                                        <div class="comboBox-wide" id="RRRRDate"></div>
                                        <input type="text" id="RRRRDate_data"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Doc Reference:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control input-sm" id="RRDocReference">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Supplier:</label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <div class="comboBox-wide" id="RRSupplier"></div>

                                            <input type="text" id="RRSupplier_data" />
                                            <input type="text" id="RRSupplier_selectedValue" />
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-primary btn-sm">PO</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Term:</label>
                                    <div class="col-sm-8">
                                        <div class="comboBox-wide" id="RRTerm"></div>

                                        <input type="text" id="RRTerm_data" />
                                        <input type="text" id="RRTerm_selectedValue" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Remarks:</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control textarea-custom" id="RRRemarks"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Manual RR Number:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control input-sm" id="RRManualRRNumber">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Received by:</label>
                                    <div class="col-sm-8">
                                        <div class="comboBox-wide" id="RRReceivedBy"></div>

                                        <input type="text" id="RRReceivedBy_data" />
                                        <input type="text" id="RRReceivedBy_selectedValue" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Prepared by:</label>
                                    <div class="col-sm-8">
                                        <div class="comboBox-wide" id="RRPreparedBy"></div>

                                        <input type="text" id="RRPreparedBy_data" />
                                        <input type="text" id="RRPreparedBy_selectedValue" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Checked by:</label>
                                    <div class="col-sm-8">
                                        <div class="comboBox-wide" id="RRCheckedBy"></div>

                                        <input type="text" id="RRCheckedBy_data" />
                                        <input type="text" id="RRCheckedBy_selectedValue" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Approved by:</label>
                                    <div class="col-sm-8">
                                        <div class="comboBox-wide" id="RRApprovedBy"></div>

                                        <input type="text" id="RRApprovedBy_data" />
                                        <input type="text" id="RRApprovedBy_selectedValue" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Lock:</label>
                                    <div class="col-sm-8">
                                        <input type="checkbox" id="RR_Lock">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-8">
                                        <input type="hidden" id="RR_IsLocked">
                                        <input type="hidden" id="RR_IsLocked_defaultTrue">
                                        <input type="hidden" id="RR_IsLocked_defaultFalse">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- Loading Modal -->
        <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="Loading..." aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class=" modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <h4>Loading ...</h4>
                    </div>
                    <div class="modal-footer">
                        <img class="img-thumbnail img-responsive center-block img-custom" src='~/images/loading/progress_bar.gif'>
                    </div>
                </div>
            </div>
        </div>


        <!-- Footer -->
        @Html.Partial("_SoftwareFooter")
    </div>

    <!-- SideBar Menu -->
    @Html.Partial("_SoftwareSideBarMenu")

    <div id="c-mask" class="c-mask"></div><!-- /c-mask -->
    <!-- Scripts JavaScripts -->
    @Scripts.Render("~/Scripts/Software-js")
    @Scripts.Render("~/WijmoScripts/Wijmo-js")
    <script type="text/javascript">
        // ================
        // Global Variables
        // ================
        var RRs;

        // =================
        // GET RR List By Id
        // =================
        function getRRById() {
            var RRs = new wijmo.collections.ObservableArray;
            var RRId = @RRId;
            $('#loadingModal').modal('show');
            $.ajax({
                url: '/api/listReceivingReceiptById/' + RRId,
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (Results) {
                    $('#loadingModal').modal('hide');
                    if (Results.length > 0) {
                        RRs.push({
                            Id: Results.Id,
                            BranchId: Results.BranchId,
                            Branch: Results.Branch,
                            RRNumber: Results.RRNumber,
                            RRDate: Results.RRDate,
                            SupplierId: Results.SupplierId,
                            Supplier: Results.Supplier,
                            TermId: Results.TermId,
                            Term: Results.Term,
                            DocumentReference: Results.DocumentReference,
                            ManualRRNumber: Results.ManualRRNumber,
                            Remarks: Results.Remarks,
                            Amount: Results.Amount,
                            WTaxAmount: Results.WTaxAmount,
                            PaidAmount: Results.PaidAmount,
                            AdjustmentAmount: Results.AdjustmentAmount,
                            BalanceAmount: Results.BalanceAmount,
                            ReceivedById: Results.ReceivedById,
                            ReceivedBy: Results.ReceivedBy,
                            PreparedById: Results.PreparedById,
                            PreparedBy: Results.PreparedBy,
                            CheckedById: Results.CheckedById,
                            CheckedBy: Results.CheckedBy,
                            ApprovedById: Results.ApprovedById,
                            ApprovedBy: Results.ApprovedBy,
                            IsLocked: Results.IsLocked,
                            CreatedById: Results.CreatedById,
                            CreatedBy: Results.CreatedBy,
                            CreatedDateTime: Results.CreatedDateTime,
                            UpdatedById: Results.UpdatedById,
                            UpdatedBy: Results.UpdatedBy,
                            UpdatedDateTime: Results.UpdatedDateTime
                        });
                    }
                    document.getElementById('RRbranch_data').value = Results.BranchId;
                    document.getElementById('RRbranch_selectedValue').value = Results.Branch;
                    
                    document.getElementById('RRRRNumber').value = Results.RRNumber;
                    document.getElementById('RRRRDate_data').value = Results.RRDate;
                    document.getElementById('RRDocReference').value = Results.DocumentReference;
                    document.getElementById('RRSupplier_data').value = Results.SupplierId;
                    document.getElementById('RRSupplier_selectedValue').value = Results.Supplier;
                    document.getElementById('RRTerm_data').value = Results.TermId;
                    document.getElementById('RRTerm_selectedValue').value = Results.Term;
                    document.getElementById('RRRemarks').value = Results.Remarks;
                    document.getElementById('RRManualRRNumber').value = Results.ManualRRNumber;
                    document.getElementById('RRReceivedBy_data').value = Results.ReceivedById;
                    document.getElementById('RRReceivedBy_selectedValue').value = Results.ReceivedBy;
                    document.getElementById('RRPreparedBy_data').value = Results.PreparedById;
                    document.getElementById('RRPreparedBy_selectedValue').value = Results.PreparedBy;
                    document.getElementById('RRCheckedBy_data').value = Results.CheckedById;
                    document.getElementById('RRCheckedBy_selectedValue').value = Results.CheckedBy;
                    document.getElementById('RRApprovedBy_data').value = Results.ApprovedById;
                    document.getElementById('RRApprovedBy_selectedValue').value = Results.ApprovedBy;
                    document.getElementById('RR_Lock').checked = Results.IsLocked;

                    document.getElementById('createdBy').innerHTML = Results.CreatedBy;
                    document.getElementById('createdDate').innerHTML = Results.CreatedDateTime;
                    document.getElementById('updatedBy').innerHTML = Results.UpdatedBy;
                    document.getElementById('updatedDate').innerHTML = Results.UpdatedDateTime;

                }
            }).fail(function (xhr, textStatus, err) {
                alert(err);
            });
            return RRs;
        }

        // ===============
        // OnLoad Function
        // ===============
        $(document).ready(function () {
            document.getElementById('currentPage').innerHTML = '<a href="@Url.Action("Index", "Software", new { BranchId = branchId })" class="currentPageLinkCustom">Main Menu</a> > ' + ' <a href="@Url.Action("ReceivingReceipt", "Software", new { BranchId = branchId })" class="currentPageLinkCustom">Receiving Receipt</a> ' + ' > Receiving Receipt Detail';
            document.getElementById('RR_Lock').disabled = true;

            getRRById();
        });

    </script>
</body>
</html>