@model easyfis.Entities.MstUserForm
@{
    // =====================
    // User Rights Variables
    // =====================
    var canAdd = Model.CanAdd;
    var canEdit = Model.CanEdit;
    var canDelete = Model.CanDelete;
    var canLock = Model.CanLock;
    var canUnlock = Model.CanUnlock;
    var canPrint = Model.CanPrint;
}
<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Title of the Page -->
    <link rel="shortcut icon" href="~/Images/icon/easyfislogomini.ico">
    <title>Receiving Receipt</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Content/Software-css")
</head>
<body>
    <div id="o-wrapper" class="o-wrapper">
        <main class="o-content">
            @Html.Partial("_SoftwareHeader")
            <section class="content-header">
                <div class="container">
                    <h3>
                        Receiving Receipt
                    </h3>
                    <p>
                        <i class="fa fa-building-o fa-fw"></i> &nbsp; @ViewData["Company"] <br />
                        <i class="fa fa-home fa-fw"></i> &nbsp; <a href="#" onclick="getUserBranches()" style="color: white;">@ViewData["Branch"]</a>
                    </p>
                </div>
            </section>
            <section class="container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 59%">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        <input type="text" class="form-control " id="InputFilter" placeholder="Search...">
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 40%" align="right">
                                    @{
                                        if (canAdd)
                                        {
                                            <button class="btn btn-primary" id="btnAddReceivingReceipt" onclick="btnAddReceivingReceiptOnclick()"><i class="fa fa-plus"></i> Add</button>
                                        }
                                    }
                                    <button class="btn btn-danger" id="btnCloseReceivingReceipt" onclick="btnCloseReceivingReceiptOnclick()"><i class=" fa fa-times"></i> Close</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 29%">
                                    <div class="input-group">
                                        <span class="input-group-addon"><b>Start Date</b></span>
                                        <div id="cboStartDateFilter"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 29%">
                                    <div class="input-group">
                                        <span class="input-group-addon"><b>End Date</b></span>
                                        <div id="cboEndDateFilter"></div>
                                    </div>
                                </td>
                                <td style="width: 41%"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-body">
                        <div id="recivingReceiptFlexGrid" class="grid" align="left"></div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="btn-group col-md-7" id="naviagtionPageGrid">
                                <button type="button" class="btn btn-default border-custom" id="btnMoveToFirstPageGrid">
                                    <span class="glyphicon glyphicon-fast-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" id="btnMoveToPreviousPageGrid">
                                    <span class="glyphicon glyphicon-step-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" disabled style="width: 100px" id="btnCurrentPageGrid"></button>
                                <button type="button" class="btn btn-default border-custom" id="btnMoveToNextPageGrid">
                                    <span class="glyphicon glyphicon-step-forward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" id="btnMoveToLastPageGrid">
                                    <span class="glyphicon glyphicon-fast-forward"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            @Html.Partial("_SoftwareFooter")
        </main>
    </div>
    <div id="c-mask" class="c-mask"></div>

    <!-- Receiving Receipt Delete Modal -->
    <div class="modal fade" id="deleteRRConfirm" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this RR?
                </div>
                <div class="modal-footer">
                    <button id="cmdConfirmDeleteRR" class="btn btn-danger" onclick="cmdRRConfirmDeleteButton_OnClick()"><i class="fa fa-trash"></i> Delete</button>
                    <button id="cmdConfirmDeleteCloseButton" class="btn btn-primary " data-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        // ================
        // Global Variables
        // ================
        var receivingReceiptCollectionView;
        var receivingReceiptFlexGrid;
        var btnFirstPageGrid;
        var btnPreviousPageGrid;
        var btnNextPageGrid;
        var btnLastPageGrid;
        var btnCurrentPageGrid;
        var cboStartDateFilter = new wijmo.input.InputDate('#cboStartDateFilter');
        var cboEndDateFilter = new wijmo.input.InputDate('#cboEndDateFilter');
        var isStartDateFirstSelect = true;
        var isEndDateFirstSelect = true;

        // ===========
        // Date Filter
        // ===========
        function cboDateFilters() {
            cboStartDateFilter.dispose();
            cboStartDateFilter = new wijmo.input.InputDate('#cboStartDateFilter', {
                format: 'MM-dd-yyyy',
                value: new Date(),
                onValueChanged: function () {
                    if (!isStartDateFirstSelect) {
                        refreshReceivingReceiptFlexGrid();
                    } else {
                        isStartDateFirstSelect = false;
                    }
                }
            });

            cboEndDateFilter.dispose();
            cboEndDateFilter = new wijmo.input.InputDate('#cboEndDateFilter', {
                format: 'MM-dd-yyyy',
                value: new Date(),
                onValueChanged: function () {
                    if (!isEndDateFirstSelect) {
                        refreshReceivingReceiptFlexGrid();
                    } else {
                        isEndDateFirstSelect = false;
                    }
                }
            });
        }

        // ============================
        // GET RR List Filter By RRDate
        // ============================
        function getRRFilterByRRDate() {
            NProgress.start();
            var startDate = cboStartDateFilter.value.toLocaleDateString().replace(/\//g, '-');
            var endDate = cboEndDateFilter.value.toLocaleDateString().replace(/\//g, '-');

            var receivingReceiptsObservableArray = new wijmo.collections.ObservableArray;
            $.ajax({
                url: '/api/receivingReceipt/list/' + startDate + '/' + endDate,
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (results) {
                    if (results.length > 0) {
                        for (i = 0; i < results.length; i++) {
                            var RRDateResult = new Date(results[i]["RRDate"])
                            var RRDate = ('0' + (RRDateResult.getMonth() + 1)).slice(-2) + '-' + ('0' + RRDateResult.getDate()).slice(-2) + '-' + RRDateResult.getFullYear();

                            receivingReceiptsObservableArray.push({
                                EditId: "<button class='btn btn-primary btn-xs btn-block' id='RREditButton' onclick='btnEditReceivingReceiptOnclick()'><i class='fa fa-edit'></i> Edit</button>",
                                DeleteId: "<button class='btn btn-danger btn-xs btn-block' id='RRDeleteButton' onclick='btnDeleteReceivingReceiptOnclick()'><i class='fa fa-trash'></i> Delete</button>",
                                Id: results[i]["Id"],
                                RRNumber: results[i]["RRNumber"],
                                RRDate: RRDate,
                                Supplier: results[i]["Supplier"],
                                DocumentReference: results[i]["DocumentReference"],
                                Amount: results[i]["Amount"],
                                AmountDisplay: parseFloat(results[i]["Amount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                PaidAmount: results[i]["PaidAmount"],
                                PaidAmountDisplay: parseFloat(results[i]["PaidAmount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                IsLocked: results[i]["IsLocked"],
                                CreatedBy: results[i]["CreatedBy"],
                                CreatedDateTime: results[i]["CreatedDateTime"],
                                UpdatedBy: results[i]["UpdatedBy"],
                                UpdatedDateTime: results[i]["UpdatedDateTime"]
                            });
                        }
                    }

                    NProgress.done();
                }
            });

            return receivingReceiptsObservableArray;
        }

        // ============================
        // Receiving Receipt Add Button
        // ============================
        function btnAddReceivingReceiptOnclick() {
            document.getElementById('btnAddReceivingReceipt').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Adding";
            $('#btnAddReceivingReceipt').prop('disabled', true);
            $('#btnCloseReceivingReceipt').prop('disabled', true);

            $.ajax({
                type: "POST",
                url: '/api/receivingReceipt/add',
                contentType: "application/json; charset=utf-8",
                statusCode: {
                    200: function (id) {
                        window.location = '/Software/ReceivingReceiptDetail?id=' + id;
                    },
                    404: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404");
                        document.getElementById('btnAddReceivingReceipt').innerHTML = "<i class='fa fa-plus'></i> Add";
                        $('#btnAddReceivingReceipt').prop('disabled', false);
                        $('#btnCloseReceivingReceipt').prop('disabled', false);
                    },
                    400: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400");
                        document.getElementById('btnAddReceivingReceipt').innerHTML = "<i class='fa fa-plus'></i> Add";
                        $('#btnAddReceivingReceipt').prop('disabled', false);
                        $('#btnCloseReceivingReceipt').prop('disabled', false);
                    },
                    500: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500");
                        document.getElementById('btnAddReceivingReceipt').innerHTML = "<i class='fa fa-plus'></i> Add";
                        $('#btnAddReceivingReceipt').prop('disabled', false);
                        $('#btnCloseReceivingReceipt').prop('disabled', false);
                    }
                }
            });
        }

        // ==============
        // RR Edit Button
        // ==============
        function btnEditReceivingReceiptOnclick() {
            receivingReceiptCollectionView.editItem(receivingReceiptCollectionView.currentItem);
            var RR = receivingReceiptCollectionView.currentEditItem;
            var ReceivingReceitId = RR.Id;
            window.location = '/Software/ReceivingReceiptDetail?id=' + ReceivingReceitId;
        }

        // ==============================
        // Receiving Receipt Close Button
        // ==============================
        function btnCloseReceivingReceiptOnclick() {
            window.location = '/Software';
        }

        // ================
        // RR delete Button
        // ================
        function btnDeleteReceivingReceiptOnclick() {
            receivingReceiptCollectionView.editItem(receivingReceiptCollectionView.currentItem);
            var RR = receivingReceiptCollectionView.currentEditItem;
            if (RR.IsLocked) {
                toastr.error("Delete is not allowed when the selected record is locked!");
            } else {
                $('#deleteRRConfirm').modal({
                    show: true,
                    backdrop: 'static'
                });

                document.getElementById('cmdConfirmDeleteRR').innerHTML = "<i class='fa fa-trash'></i> Delete";
                $("#cmdConfirmDeleteRR").prop("disabled", false);
                $("#cmdConfirmDeleteCloseButton").prop("disabled", false);
            }
        }

        // RR Confirm Delete Button
        function cmdRRConfirmDeleteButton_OnClick() {
            document.getElementById('cmdConfirmDeleteRR').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Deleting";
            $("#cmdConfirmDeleteRR").prop("disabled", true);
            $("#cmdConfirmDeleteCloseButton").prop("disabled", true);

            receivingReceiptCollectionView.editItem(receivingReceiptCollectionView.currentItem);
            var id = receivingReceiptCollectionView.currentEditItem.Id;

            $.ajax({
                url: '/api/receivingReceipt/delete/' + id,
                type: "DELETE",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                statusCode: {
                    200: function () {
                        toastr.success("Delete Successful");
                        $('#deleteRRConfirm').modal('hide');
                        refreshReceivingReceiptFlexGrid();
                    },
                    404: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404");
                        $('#deleteRRConfirm').modal('hide');
                        document.getElementById('cmdConfirmDeleteRR').innerHTML = "<i class='fa fa-trash'></i> Delete";
                        $("#cmdConfirmDeleteRR").prop("disabled", false);
                        $("#cmdConfirmDeleteCloseButton").prop("disabled", false);
                    },
                    400: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400");
                        $('#deleteRRConfirm').modal('hide');
                        document.getElementById('cmdConfirmDeleteRR').innerHTML = "<i class='fa fa-trash'></i> Delete";
                        $("#cmdConfirmDeleteRR").prop("disabled", false);
                        $("#cmdConfirmDeleteCloseButton").prop("disabled", false);
                    },
                    500: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500");
                        $('#deleteRRConfirm').modal('hide');
                        document.getElementById('cmdConfirmDeleteRR').innerHTML = "<i class='fa fa-trash'></i> Delete";
                        $("#cmdConfirmDeleteRR").prop("disabled", false);
                        $("#cmdConfirmDeleteCloseButton").prop("disabled", false);
                    }
                }
            });
        }

        // ==================
        // FlexGrid Selection
        // ==================
        function updateDetails() {
            var item = receivingReceiptCollectionView.currentItem;
            document.getElementById('createdBy').innerHTML = item.CreatedBy;
            document.getElementById('createdDate').innerHTML = item.CreatedDateTime;
            document.getElementById('updatedBy').innerHTML = item.UpdatedBy;
            document.getElementById('updatedDate').innerHTML = item.UpdatedDateTime;
        }

        // ===========================
        // Navigation Buttons for RR
        // ==========================
        function updateNavigateButtonsRR() {
            if (receivingReceiptCollectionView.pageSize <= 0) {
                document.getElementById('naviagtionPageGrid').style.display = 'none';
                return;
            }
            document.getElementById('naviagtionPageGrid').style.display = 'block';
            if (receivingReceiptCollectionView.pageIndex === 0) {
                btnFirstPageGrid.setAttribute('disabled', 'disabled');
                btnPreviousPageGrid.setAttribute('disabled', 'disabled');
                btnNextPageGrid.removeAttribute('disabled');
                btnLastPageGrid.removeAttribute('disabled');
            } else if (receivingReceiptCollectionView.pageIndex === (receivingReceiptCollectionView.pageCount - 1)) {
                btnFirstPageGrid.removeAttribute('disabled');
                btnPreviousPageGrid.removeAttribute('disabled');
                btnLastPageGrid.setAttribute('disabled', 'disabled');
                btnNextPageGrid.setAttribute('disabled', 'disabled');
            } else {
                btnFirstPageGrid.removeAttribute('disabled');
                btnPreviousPageGrid.removeAttribute('disabled');
                btnNextPageGrid.removeAttribute('disabled');
                btnLastPageGrid.removeAttribute('disabled');
            }
            btnCurrentPageGrid.innerHTML = (receivingReceiptCollectionView.pageIndex + 1) + ' / ' + receivingReceiptCollectionView.pageCount;
        }

        // ==================================
        // Refresh Receiving Receipt FlexGrid
        // ==================================
        function refreshReceivingReceiptFlexGrid() {
            receivingReceiptCollectionView = new wijmo.collections.CollectionView(getRRFilterByRRDate());
            receivingReceiptCollectionView.canFilter = true;
            receivingReceiptCollectionView.pageSize = 15;

            var filterText = '';
            $('#InputFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                receivingReceiptCollectionView.refresh();
            });

            receivingReceiptCollectionView.filter = function (item) {
                return !filterText || (item.RRNumber.toLowerCase().indexOf(filterText) > -1)
                    || (item.Supplier.toLowerCase().indexOf(filterText) > -1)
                    || (item.DocumentReference.toLowerCase().indexOf(filterText) > -1);
            }

            receivingReceiptCollectionView.collectionChanged.addHandler(function (sender, args) {
                updateNavigateButtonsRR();
            });

            receivingReceiptCollectionView.currentChanged.addHandler(function (sender, args) {
                updateDetails();
            });

            receivingReceiptFlexGrid.itemsSource = receivingReceiptCollectionView;
            receivingReceiptFlexGrid.trackChanges = true;
        }

        // ==========================
        // Receiving Receipt FlexGrid
        // ==========================
        function createReceivingReceiptFlexGrid() {
            cboDateFilters();
            receivingReceiptCollectionView = new wijmo.collections.CollectionView(getRRFilterByRRDate());
            receivingReceiptCollectionView.canFilter = true;
            receivingReceiptCollectionView.pageSize = 15;

            var filterText = '';
            $('#InputFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                receivingReceiptCollectionView.refresh();
            });

            receivingReceiptCollectionView.filter = function (item) {
                return !filterText || (item.RRNumber.toLowerCase().indexOf(filterText) > -1)
                                   || (item.Supplier.toLowerCase().indexOf(filterText) > -1)
                                   || (item.DocumentReference.toLowerCase().indexOf(filterText) > -1);
            }

            receivingReceiptCollectionView.collectionChanged.addHandler(function (sender, args) {
                updateNavigateButtonsRR();
            });

            receivingReceiptCollectionView.currentChanged.addHandler(function (sender, args) {
                updateDetails();
            });

            receivingReceiptFlexGrid = new wijmo.grid.FlexGrid('#recivingReceiptFlexGrid');
            receivingReceiptFlexGrid.initialize({
                columns: [
                            @{
                                if (canEdit)
                                {
                                    <text>
                                        {
                                            "header": "Edit",
                                            "binding": "EditId",
                                            "width": 70,
                                            "align": "center",
                                            "allowResizing": false,
                                            "allowSorting": false,
                                            "isContentHtml": true
                                        },
                                    </text>
                                }
                                if (canDelete)
                                {
                                    <text>
                                        {
                                            "header": "Delete",
                                            "binding": "DeleteId",
                                            "width": 70,
                                            "align": "center",
                                            "allowResizing": false,
                                            "allowSorting": false,
                                            "isContentHtml": true
                                        },
                                    </text>
                                }
                            }
                            {
                                "header": "RR Number",
                                "binding": "RRNumber",
                                "allowSorting": true,
                                "width": "1.5*"
                            },
                            {
                                "header": "RR Date",
                                "binding": "RRDate",
                                "allowSorting": true,
                                "width": "1.5*"
                            },
                            {
                                "header": "Supplier",
                                "binding": "Supplier",
                                "allowSorting": true,
                                "width": "4*"
                            },
                            {
                                "header": "Doc Reference",
                                "binding": "DocumentReference",
                                "allowSorting": true,
                                "width": "2.5*"
                            },
                            {
                                "header": "Amount",
                                "binding": "AmountDisplay",
                                "allowSorting": true,
                                "align": "right",
                                "width": "2*"
                            },
                            {
                                "header": "Paid Amount",
                                "binding": "PaidAmountDisplay",
                                "allowSorting": true,
                                "align": "right",
                                "width": "2*"
                            },
                            {
                                "header": "L",
                                "binding": "IsLocked",
                                "allowSorting": true,
                                "width": 50
                            }
                ],
                autoGenerateColumns: false,
                itemsSource: receivingReceiptCollectionView,
                isReadOnly: true,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            receivingReceiptFlexGrid.trackChanges = true;

            btnFirstPageGrid = document.getElementById('btnMoveToFirstPageGrid');
            btnPreviousPageGrid = document.getElementById('btnMoveToPreviousPageGrid');
            btnNextPageGrid = document.getElementById('btnMoveToNextPageGrid');
            btnLastPageGrid = document.getElementById('btnMoveToLastPageGrid');
            btnCurrentPageGrid = document.getElementById('btnCurrentPageGrid');

            updateNavigateButtonsRR();

            btnFirstPageGrid.addEventListener('click', function () {
                receivingReceiptCollectionView.moveToFirstPage();
                updateNavigateButtonsRR();
            });

            btnPreviousPageGrid.addEventListener('click', function () {
                receivingReceiptCollectionView.moveToPreviousPage();
                updateNavigateButtonsRR();
            });

            btnNextPageGrid.addEventListener('click', function () {
                receivingReceiptCollectionView.moveToNextPage();
                updateNavigateButtonsRR();
            });

            btnLastPageGrid.addEventListener('click', function () {
                receivingReceiptCollectionView.moveToLastPage();
                updateNavigateButtonsRR();
            });
        }

        // ===========
        // Onload Page
        // ===========
        $(document).ready(function () {
            createReceivingReceiptFlexGrid();
        });
    </script>
    <script type="text/javascript">
        var cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches');
        function getUserBranches() {
            $("#loadingUserBranches").show();
            document.getElementById("loadingUserBranches").innerHTML = '<i class="fa fa-spinner fa-spin"></i>';
            $("#userBranchContent").hide();

            $('#userBranchesModal').modal({ show: true, backdrop: 'static' });

            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
            $("#updateUserBranch").prop("disabled", false);
            $("#closeUserBranch").prop("disabled", false);

            var userBranchesObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/userBranch/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (userBranchesResults) {
                    if (userBranchesResults.length > 0) {
                        for (i = 0; i < userBranchesResults.length; i++) {
                            userBranchesObservableArray.push({
                                BranchId: userBranchesResults[i]["BranchId"],
                                Branch: userBranchesResults[i]["Branch"]
                            });
                        }
                    }

                    var currentBranch = "@ViewData["BranchId"]";
                    cboUserBranches.dispose();
                    cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches', {
                        isEditable: false,
                        placeholder: "Select Branches",
                        itemsSource: userBranchesObservableArray,
                        displayMemberPath: "Branch",
                        selectedValuePath: "BranchId",
                        selectedValue: currentBranch
                    });

                    setTimeout(function () {
                        $("#loadingUserBranches").hide();
                        $("#userBranchContent").show();
                    }, 500)
                }
            });
        }

        function updateUserBranchOnclick() {
            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Updating";
            $("#updateUserBranch").prop("disabled", true);
            $("#closeUserBranch").prop("disabled", true);

            var userBranchObject = new Object();
            userBranchObject.BranchId = cboUserBranches.selectedValue;
            var userBranchData = JSON.stringify(userBranchObject);

            $.ajax({
                type: "PUT",
                url: '/api/userBranch/update',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: userBranchData,
                statusCode: {
                    200: function () {
                        toastr.success("Update Successful");
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function () {
                        toastr.error("Not Found");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    },
                    500: function () {
                        toastr.error("Bad Request");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    }
                }
            });
        }
    </script>
    <script type="text/javascript">
        var slideLeft = new Menu({
            wrapper: '#o-wrapper',
            type: 'slide-left',
            menuOpenerClass: '.c-button',
            maskId: '#c-mask'
        });

        var slideLeftBtn = document.querySelector('#c-button--slide-left');

        slideLeftBtn.addEventListener('click', function (e) {
            e.preventDefault;
            slideLeft.open();
        });
    </script>
</body>
</html>