<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Title of the Page -->
    <link rel="shortcut icon" href="~/Images/icon/easyfislogomini.ico">
    <title>Sales Summary Report</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Content/Software-css")
</head>
<body>
    <div id="o-wrapper" class="o-wrapper">
        <main class="o-content">
            @Html.Partial("_SoftwareHeader")
            <section class="content-header">
                <div class="container">
                    <h3>
                        Sales Summary Report
                    </h3>
                    <p>
                        <i class="fa fa-building-o fa-fw"></i> &nbsp; @ViewData["Company"] <br />
                        <i class="fa fa-home fa-fw"></i> &nbsp; <a href="#" onclick="getUserBranches()" style="color: white;">@ViewData["Branch"]</a>
                    </p>
                </div>
            </section>
            <section class="container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 49%">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        <input type="text" class="form-control " id="InputFilter" placeholder="Search...">
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 50%" align="right">
                                    <button onclick="btnSalesSummaryReportCSVOnclick()" id="btnSalesSummaryReportCSV" class="btn btn-success"><i class="fa fa-file-excel-o" aria-hidden="true"></i> CSV</button>
                                    <button onclick="btnSalesSummaryReportPrintPDFOnclick()" id="btnSalesSummaryReportPrintPDF" class="btn btn-primary"><i class="fa fa-print"></i> Print</button>
                                    <a href="/Software/AccountsReceivable" class="btn btn-danger"><i class="fa fa-close"></i> Close</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 24%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Start Date</b></span>
                                        <div class="comboBox-wide" id="cboAPSalesSummaryReportStartDate"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%" align="right">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>End Date</b></span>
                                        <div class="comboBox-wide" id="cboAPSalesSummaryReportEndDate"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Company</b></span>
                                        <div class="comboBox-wide" id="cboAPSalesSummaryReportCompany"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Branch</b></span>
                                        <div class="comboBox-wide" id="cboAPSalesSummaryReportBranch"></div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="salesSummaryReportGrid" class="grid"></div>
                <br /><br />
                <div class="row">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">
                        <dl class="dl-horizontal dl-custom">
                            <dt>
                                <b>Total Amount</b>
                            </dt>
                            <dd>
                                <input type="text" class="form-control numberField" id="totalAmount" placeholder="0.00" disabled />
                            </dd>
                        </dl>
                    </div>
                </div>
            </section>
            @Html.Partial("_SoftwareFooter")
        </main>
    </div>
    <div id="c-mask" class="c-mask"></div>

    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        // ================
        // Global Variables
        // ================
        var cboAPSalesSummaryReportStartDate = new wijmo.input.InputDate('#cboAPSalesSummaryReportStartDate');
        var cboAPSalesSummaryReportEndDate = new wijmo.input.InputDate('#cboAPSalesSummaryReportEndDate');
        var isAPSalesSummaryReportStartDateSelected = false;
        var isAPSalesSummaryReportEndDateSelected = false;
        var cboAPSalesSummaryReportCompany = new wijmo.input.ComboBox('#cboAPSalesSummaryReportCompany');
        var cboAPSalesSummaryReportBranch = new wijmo.input.ComboBox('#cboAPSalesSummaryReportBranch');
        var salesSummaryReportCollections;
        var salesSummaryReportGrid;
        var isAPSalesSummaryReportCompanySelected = false;

        // ===================
        // Get Parameter Value
        // ===================
        function getParam(name) {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");

            var regexS = "[\\?&]" + name + "=([^&#]*)";
            var regex = new RegExp(regexS);

            var results = regex.exec(window.location.href);
            if (results == null) {
                return "";
            } else {
                return results[1];
            }
        }

        // ============
        // Date Filters
        // ============
        function salesSummaryReportDateFilters() {
            NProgress.start();
            cboAPSalesSummaryReportStartDate.dispose();
            cboAPSalesSummaryReportStartDate = new wijmo.input.InputDate('#cboAPSalesSummaryReportStartDate', {
                format: 'MM-dd-yyyy',
                value: new Date(getParam("StartDate")),
                onValueChanged: function () {
                    if (!isAPSalesSummaryReportStartDateSelected) {
                        NProgress.start();
                        refreshSalesSummaryReportFlexGrid();
                    } else {
                        isAPSalesSummaryReportStartDateSelected = false;
                    }
                }
            });

            cboAPSalesSummaryReportEndDate.dispose();
            cboAPSalesSummaryReportEndDate = new wijmo.input.InputDate('#cboAPSalesSummaryReportEndDate', {
                format: 'MM-dd-yyyy',
                value: new Date(getParam("EndDate")),
                onValueChanged: function () {
                    if (!isAPSalesSummaryReportEndDateSelected) {
                        NProgress.start();
                        refreshSalesSummaryReportFlexGrid();
                    } else {
                        isAPSalesSummaryReportEndDateSelected = false;
                    }
                }
            });

            createCboCompany();
        }

        // ==============
        // Company Filter
        // ==============
        function createCboCompany() {
            var companyObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/company/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (companyResults) {
                    if (companyResults.length > 0) {
                        for (i = 0; i < companyResults.length; i++) {
                            companyObservableArray.push({
                                Id: companyResults[i]["Id"],
                                Company: companyResults[i]["Company"],
                                Address: companyResults[i]["Address"],
                                ContactNumber: companyResults[i]["ContactNumber"],
                                TaxNumber: companyResults[i]["TaxNumber"],
                            });
                        }
                    }

                    var disabled = true;
                    if (companyResults.length > 0) {
                        disabled = false;
                    } else {
                        $("#btnSalesSummaryReportCSV").prop("disabled", true);
                        $("#btnSalesSummaryReportPrintPDF").prop("disabled", true);
                    }

                    cboAPSalesSummaryReportCompany.dispose();
                    cboAPSalesSummaryReportCompany = new wijmo.input.ComboBox('#cboAPSalesSummaryReportCompany', {
                        disabled: disabled,
                        isEditable: false,
                        itemsSource: companyObservableArray,
                        displayMemberPath: "Company",
                        selectedValuePath: "Id",
                        selectedValue: getParam("CompanyId"),
                        onSelectedIndexChanged: function () {
                            NProgress.start();
                            $("#btnSalesSummaryReportCSV").prop("disabled", false);
                            $("#btnSalesSummaryReportPrintPDF").prop("disabled", false);
                            isAPSalesSummaryReportCompanySelected = true;
                            createCboBranch();
                        }
                    });

                    createCboBranch();
                }
            });
        }

        // =============
        // Branch Filter
        // =============
        function createCboBranch() {
            var branchObservableArray = new wijmo.collections.ObservableArray();
            if (cboAPSalesSummaryReportCompany.selectedValue != null) {
                $.ajax({
                    url: '/api/branch/byCompanyId/list/locked/' + cboAPSalesSummaryReportCompany.selectedValue,
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    success: function (branchResults) {
                        if (branchResults.length > 0) {
                            for (i = 0; i < branchResults.length; i++) {
                                branchObservableArray.push({
                                    Id: branchResults[i]["Id"],
                                    CompanyId: branchResults[i]["CompanyId"],
                                    Branch: branchResults[i]["Branch"],
                                    Address: branchResults[i]["Address"],
                                    ContactNumber: branchResults[i]["ContactNumber"],
                                    TaxNumber: branchResults[i]["TaxNumber"]
                                });
                            }
                        }

                        var disabled = true;
                        if (branchResults.length > 0) {
                            disabled = false;
                        } else {
                            $("#btnSalesSummaryReportCSV").prop("disabled", true);
                            $("#btnSalesSummaryReportPrintPDF").prop("disabled", true);
                        }

                        cboAPSalesSummaryReportBranch.dispose();
                        cboAPSalesSummaryReportBranch = new wijmo.input.ComboBox('#cboAPSalesSummaryReportBranch', {
                            disabled: disabled,
                            isEditable: false,
                            itemsSource: branchObservableArray,
                            displayMemberPath: "Branch",
                            selectedValuePath: "Id",
                            selectedValue: getParam("BranchId"),
                            onSelectedIndexChanged: function () {
                                NProgress.start();
                                refreshSalesSummaryReportFlexGrid();
                            }
                        });

                        if (!isAPSalesSummaryReportCompanySelected) {
                            createSalesSummaryReportFlexGrid();
                        } else {
                            refreshSalesSummaryReportFlexGrid();
                        }
                    }
                });
            }
        }

        // ===============================
        // Get Sales Order Summary Data
        // ===============================
        function getSalesSummaryReport() {
            var salesSummaryReports = new wijmo.collections.ObservableArray;
            if (cboAPSalesSummaryReportCompany.selectedValue != null) {
                if (cboAPSalesSummaryReportBranch.selectedValue != null) {
                    var startDate = cboAPSalesSummaryReportStartDate.value.toLocaleDateString().replace(/\//g, '-');
                    var endDate = cboAPSalesSummaryReportEndDate.value.toLocaleDateString().replace(/\//g, '-');
                    var companyId = cboAPSalesSummaryReportCompany.selectedValue;
                    var branchId = cboAPSalesSummaryReportBranch.selectedValue;

                    $.ajax({
                        url: '/api/salesSummaryReport/list/' + startDate + '/' + endDate + '/' + + companyId + '/' + branchId,
                        cache: false,
                        type: 'GET',
                        contentType: 'application/json; charset=utf-8',
                        success: function (salesSummaryReportResult) {
                            var totalAmount = 0;
                            if (salesSummaryReportResult.length > 0) {
                                for (i = 0; i < salesSummaryReportResult.length; i++) {
                                    var docLink = "/Software/SalesDetail?id=" + salesSummaryReportResult[i]["Id"];

                                    var SIDateResult = new Date(salesSummaryReportResult[i]["SIDate"])
                                    var SIDate = ('0' + (SIDateResult.getMonth() + 1)).slice(-2) + '-' + ('0' + SIDateResult.getDate()).slice(-2) + '-' + SIDateResult.getFullYear();

                                    salesSummaryReports.push({
                                        Id: salesSummaryReportResult[i]["Id"],
                                        Branch: salesSummaryReportResult[i]["Branch"],
                                        SINumber: salesSummaryReportResult[i]["SINumber"],
                                        SINumberForCSV: "SI-" + salesSummaryReportResult[i]["SINumber"],
                                        SINumberButton: "<a href='" + docLink + "' class='btn btn-primary btn-xs btn-block'>" + salesSummaryReportResult[i]["SINumber"],
                                        SIDate: SIDate,
                                        Customer: salesSummaryReportResult[i]["Customer"],
                                        Remarks: salesSummaryReportResult[i]["Remarks"],
                                        SoldBy: salesSummaryReportResult[i]["SoldBy"],
                                        Amount: salesSummaryReportResult[i]["Amount"],
                                        AmountDisplay: parseFloat(salesSummaryReportResult[i]["Amount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                    });

                                    totalAmount += salesSummaryReportResult[i]["Amount"];
                                }
                            }

                            document.getElementById("totalAmount").value = parseFloat(totalAmount).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                            NProgress.done();
                        }
                    });
                } else {
                    document.getElementById("totalAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    NProgress.done();
                }
            } else {
                document.getElementById("totalAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                NProgress.done();
            }

            return salesSummaryReports;
        }

        // =================
        // Refresh Flex Grid
        // =================
        function refreshSalesSummaryReportFlexGrid() {
            salesSummaryReportCollections = new wijmo.collections.CollectionView(getSalesSummaryReport());
            salesSummaryReportCollections.canFilter = true;

            var filterText = '';
            $('#InputFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                salesSummaryReportCollections.refresh();

                if (salesSummaryReportCollections.items.length > 0) {
                    var totalAmount = 0;
                    for (var i = 0; i < salesSummaryReportCollections.items.length; i++) {
                        totalAmount += salesSummaryReportCollections.items[i].Amount;
                    }

                    document.getElementById("totalAmount").value = parseFloat(totalAmount).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                } else {
                    document.getElementById("totalAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                }
            });

            salesSummaryReportCollections.filter = function (item) {
                return !filterText || (item.Branch.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.SINumber.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Customer.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.SoldBy.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Remarks.toLowerCase().indexOf(filterText) > -1);
            }

            salesSummaryReportGrid.itemsSource = salesSummaryReportCollections;
            salesSummaryReportGrid.trackChanges = true;
        }

        // =========
        // Flex Grid
        // =========
        function createSalesSummaryReportFlexGrid() {
            salesSummaryReportCollections = new wijmo.collections.CollectionView(getSalesSummaryReport());
            salesSummaryReportCollections.canFilter = true;

            var filterText = '';
            $('#InputFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                salesSummaryReportCollections.refresh();

                if (salesSummaryReportCollections.items.length > 0) {
                    var totalAmount = 0;
                    for (var i = 0; i < salesSummaryReportCollections.items.length; i++) {
                        totalAmount += salesSummaryReportCollections.items[i].Amount;
                    }

                    document.getElementById("totalAmount").value = parseFloat(totalAmount).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                } else {
                    document.getElementById("totalAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                }
            });

            salesSummaryReportCollections.filter = function (item) {
                return !filterText || (item.Branch.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.SINumber.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Customer.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.SoldBy.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Remarks.toLowerCase().indexOf(filterText) > -1);
            }

            salesSummaryReportGrid = new wijmo.grid.FlexGrid('#salesSummaryReportGrid');
            salesSummaryReportGrid.initialize({
                columns: [
                    {
                        "header": "Branch   ",
                        "binding": "Branch",
                        "allowSorting": true,
                        "width": "1*"
                    },
                    {
                        "header": "SI Number",
                        "binding": "SINumberButton",
                        "isContentHtml": true,
                        "allowSorting": true,
                        "width": "1*"
                    },
                    {
                        "header": "SI Date ",
                        "binding": "SIDate",
                        "allowSorting": true,
                        "width": "1*"
                    },
                    {
                        "header": "Customer",
                        "binding": "Customer",
                        "allowSorting": true,
                        "width": "2*"
                    },
                    {
                        "header": "Sold By",
                        "binding": "SoldBy",
                        "allowSorting": true,
                        "width": "2*"
                    },
                    {
                        "header": "Remarks",
                        "binding": "Remarks",
                        "allowSorting": true,
                        "width": "2*"
                    },
                    {
                        "header": "Amount",
                        "binding": "AmountDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1*"
                    },
                ],
                autoGenerateColumns: false,
                itemsSource: salesSummaryReportCollections,
                isReadOnly: true,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            salesSummaryReportGrid.trackChanges = true;
        }

        // ============
        // Download CSV
        // ============
        function btnSalesSummaryReportCSVOnclick() {
            var CSV = '';
            var salesSummaryReport = [];
            var fileName = 'SalesSummaryReport.CSV';

            for (i = 0; i < salesSummaryReportCollections.items.length; i++) {
                var IsClose = salesSummaryReportCollections.items[i].IsClose;
                var isPOClose = "Not Closed";
                if (IsClose) {
                    isPOClose = "Closed"
                }

                salesSummaryReport.push({
                    Branch: salesSummaryReportCollections.items[i].Branch,
                    SINumber: salesSummaryReportCollections.items[i].SINumberForCSV,
                    SIDate: salesSummaryReportCollections.items[i].SIDate,
                    Customer: salesSummaryReportCollections.items[i].Customer,
                    SoldBy: salesSummaryReportCollections.items[i].SoldBy,
                    Remarks: salesSummaryReportCollections.items[i].Remarks,
                    Amount: salesSummaryReportCollections.items[i].Amount,
                });
            }

            var Headers = [];
            Headers.push({
                Branch: "Branch",
                SINumber: "SI Number",
                SIDate: "SI Date",
                Customer: "Customer",
                SoldBy: "Sold By",
                Remarks: "Remarks",
                Amount: "Amount",
            });

            var header = '';
            for (var b in Headers[0]) {
                header += '"' + Headers[0][b] + '",';
            }

            CSV = header + '\r\n';
            for (var i = 0; i < salesSummaryReport.length; i++) {
                var row = '';
                for (var a in salesSummaryReport[i]) {
                    row += '"' + salesSummaryReport[i][a] + '",';
                }

                row.slice(0, row.length - 1);
                CSV += row + '\r\n';
            }

            if (CSV == '') {
                toastr.error("No data.");
            } else {
                var link = document.createElement("a");
                if (link.download !== undefined) {
                    var blob = new Blob([CSV], { type: 'text/csv;charset=utf-8;' });
                    var url = URL.createObjectURL(blob);
                    link.setAttribute("href", url);
                    link.setAttribute("download", fileName);
                    link.style = "visibility:hidden";
                }

                if (navigator.msSaveBlob) {
                    link.addEventListener("click", function (event) {
                        var blob = new Blob([CSV], {
                            "type": "text/csv;charset=utf-8;"
                        });
                        navigator.msSaveBlob(blob, fileName);
                    }, false);
                }

                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);

                toastr.success("Dowload successful.");
            }
        }

        // =====================
        // Preview and Print PDF
        // =====================
        function btnSalesSummaryReportPrintPDFOnclick() {
            if (cboAPSalesSummaryReportCompany.selectedValue != null) {
                if (cboAPSalesSummaryReportBranch.selectedValue != null) {
                    var startDate = cboAPSalesSummaryReportStartDate.value.toLocaleDateString().replace(/\//g, '-');
                    var endDate = cboAPSalesSummaryReportEndDate.value.toLocaleDateString().replace(/\//g, '-');
                    var companyId = cboAPSalesSummaryReportCompany.selectedValue;
                    var branchId = cboAPSalesSummaryReportBranch.selectedValue;

                    window.location.href = '/RepSalesSummaryReport/SalesSummaryReport?StartDate=' + startDate + '&EndDate=' + endDate + '&CompanyId=' + companyId + '&BranchId=' + branchId;
                } else {
                    toastr.error("Lacking Information");
                }
            } else {
                toastr.error("Lacking Information");
            }
        }

        // ============
        // On Load Page
        // ============
        $(document).ready(function () {
            salesSummaryReportDateFilters();
        });
    </script>
    <script type="text/javascript">
        var cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches');
        function getUserBranches() {
            $("#loadingUserBranches").show();
            document.getElementById("loadingUserBranches").innerHTML = '<i class="fa fa-spinner fa-spin"></i>';
            $("#userBranchContent").hide();

            $('#userBranchesModal').modal({ show: true, backdrop: 'static' });

            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
            $("#updateUserBranch").prop("disabled", false);
            $("#closeUserBranch").prop("disabled", false);

            var userBranchesObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/userBranch/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (userBranchesResults) {
                    if (userBranchesResults.length > 0) {
                        for (i = 0; i < userBranchesResults.length; i++) {
                            userBranchesObservableArray.push({
                                BranchId: userBranchesResults[i]["BranchId"],
                                Branch: userBranchesResults[i]["Branch"]
                            });
                        }
                    }

                    var currentBranch = "@ViewData["BranchId"]";
                    cboUserBranches.dispose();
                    cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches', {
                        isEditable: false,
                        placeholder: "Select Branches",
                        itemsSource: userBranchesObservableArray,
                        displayMemberPath: "Branch",
                        selectedValuePath: "BranchId",
                        selectedValue: currentBranch
                    });

                    setTimeout(function () {
                        $("#loadingUserBranches").hide();
                        $("#userBranchContent").show();
                    }, 500)
                }
            });
        }

        function updateUserBranchOnclick() {
            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Updating";
            $("#updateUserBranch").prop("disabled", true);
            $("#closeUserBranch").prop("disabled", true);

            var userBranchObject = new Object();
            userBranchObject.BranchId = cboUserBranches.selectedValue;
            var userBranchData = JSON.stringify(userBranchObject);

            $.ajax({
                type: "PUT",
                url: '/api/userBranch/update',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: userBranchData,
                statusCode: {
                    200: function () {
                        toastr.success("Update Successful");
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function () {
                        toastr.error("Not Found");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    },
                    500: function () {
                        toastr.error("Bad Request");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    }
                }
            });
        }
    </script>
    <script type="text/javascript">
        var slideLeft = new Menu({
            wrapper: '#o-wrapper',
            type: 'slide-left',
            menuOpenerClass: '.c-button',
            maskId: '#c-mask'
        });

        var slideLeftBtn = document.querySelector('#c-button--slide-left');

        slideLeftBtn.addEventListener('click', function (e) {
            e.preventDefault;
            slideLeft.open();
        });
    </script>
</body>
</html>