<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Title of the Page -->
    <link rel="shortcut icon" href="~/Images/icon/easyfislogomini.ico">
    <title>Sales Detail Report</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Content/Software-css")
</head>
<body>
    <div id="o-wrapper" class="o-wrapper">
        <main class="o-content">
            @Html.Partial("_SoftwareHeader")
            <section class="content-header">
                <div class="container">
                    <h3>
                        Sales Detail Report
                    </h3>
                    <p>
                        <i class="fa fa-building-o fa-fw"></i> &nbsp; @ViewData["Company"] <br />
                        <i class="fa fa-home fa-fw"></i> &nbsp; <a href="#" onclick="getUserBranches()" style="color: white;">@ViewData["Branch"]</a>
                    </p>
                </div>
            </section>
            <section class="container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 49%">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        <input type="text" class="form-control " id="InputFilter" placeholder="Search...">
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 50%" align="right">
                                    <button onclick="btnSalesDetailReportCSVOnclick()" id="btnSalesDetailReportCSV" class="btn btn-success"><i class="fa fa-file-excel-o" aria-hidden="true"></i> CSV</button>
                                    <button onclick="btnSalesDetailReportPrintPDFOnclick()" id="btnSalesDetailReportPrintPDF" class="btn btn-primary"><i class="fa fa-print"></i> Print</button>
                                    <a href="/Software/AccountsReceivable" class="btn btn-danger"><i class="fa fa-close"></i> Close</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 24%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Start Date</b></span>
                                        <div class="comboBox-wide" id="cboARSalesDetailReportStartDate"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%" align="right">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>End Date</b></span>
                                        <div class="comboBox-wide" id="cboARSalesDetailReportEndDate"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Company</b></span>
                                        <div class="comboBox-wide" id="cboARSalesDetailReportCompany"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Branch</b></span>
                                        <div class="comboBox-wide" id="cboARSalesDetailReportBranch"></div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="salesDetailReportGrid" class="grid" style="font-size: 13px;"></div>
                <br /><br />
                <div class="row">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">
                        <dl class="dl-horizontal dl-custom">
                            <dt>
                                <b>Total Amount</b>
                            </dt>
                            <dd>
                                <input type="text" class="form-control numberField" id="totalAmount" placeholder="0.00" disabled />
                            </dd>
                        </dl>
                    </div>
                </div>
            </section>
            @Html.Partial("_SoftwareFooter")
        </main>
    </div>
    <div id="c-mask" class="c-mask"></div>

    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        // ================
        // Global Variables
        // ================
        var cboARSalesDetailReportStartDate = new wijmo.input.InputDate('#cboARSalesDetailReportStartDate');
        var cboARSalesDetailReportEndDate = new wijmo.input.InputDate('#cboARSalesDetailReportEndDate');
        var isARSalesDetailReportStartDateSelected = false;
        var isARSalesDetailReportEndDateSelected = false;
        var cboARSalesDetailReportCompany = new wijmo.input.ComboBox('#cboARSalesDetailReportCompany');
        var cboARSalesDetailReportBranch = new wijmo.input.ComboBox('#cboARSalesDetailReportBranch');
        var salesDetailReportCollections;
        var salesDetailReportGrid;
        var isARSalesDetailReportCompanySelected = false;

        // ===================
        // Get Parameter Value
        // ===================
        function getParam(name) {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");

            var regexS = "[\\?&]" + name + "=([^&#]*)";
            var regex = new RegExp(regexS);

            var results = regex.exec(window.location.href);
            if (results == null) {
                return "";
            } else {
                return results[1];
            }
        }

        // ============
        // Date Filters
        // ============
        function salesDetailReportDateFilters() {
            NProgress.start();
            cboARSalesDetailReportStartDate.dispose();
            cboARSalesDetailReportStartDate = new wijmo.input.InputDate('#cboARSalesDetailReportStartDate', {
                format: 'MM-dd-yyyy',
                value: new Date(getParam("StartDate")),
                onValueChanged: function () {
                    if (!isARSalesDetailReportStartDateSelected) {
                        NProgress.start();
                        refreshSalesDetailReportFlexGrid();
                    } else {
                        isARSalesDetailReportStartDateSelected = false;
                    }
                }
            });

            cboARSalesDetailReportEndDate.dispose();
            cboARSalesDetailReportEndDate = new wijmo.input.InputDate('#cboARSalesDetailReportEndDate', {
                format: 'MM-dd-yyyy',
                value: new Date(getParam("EndDate")),
                onValueChanged: function () {
                    if (!isARSalesDetailReportEndDateSelected) {
                        NProgress.start();
                        refreshSalesDetailReportFlexGrid();
                    } else {
                        isARSalesDetailReportEndDateSelected = false;
                    }
                }
            });

            createCboCompany();
        }

        // ==============
        // Company Filter
        // ==============
        function createCboCompany() {
            var companyObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/company/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (companyResults) {
                    if (companyResults.length > 0) {
                        for (i = 0; i < companyResults.length; i++) {
                            companyObservableArray.push({
                                Id: companyResults[i]["Id"],
                                Company: companyResults[i]["Company"],
                                Address: companyResults[i]["Address"],
                                ContactNumber: companyResults[i]["ContactNumber"],
                                TaxNumber: companyResults[i]["TaxNumber"],
                            });
                        }
                    }

                    var disabled = true;
                    if (companyResults.length > 0) {
                        disabled = false;
                    } else {
                        $("#btnSalesDetailReportCSV").prop("disabled", true);
                        $("#btnSalesDetailReportPrintPDF").prop("disabled", true);
                    }

                    cboARSalesDetailReportCompany.dispose();
                    cboARSalesDetailReportCompany = new wijmo.input.ComboBox('#cboARSalesDetailReportCompany', {
                        disabled: disabled,
                        isEditable: false,
                        itemsSource: companyObservableArray,
                        displayMemberPath: "Company",
                        selectedValuePath: "Id",
                        selectedValue: getParam("CompanyId"),
                        onSelectedIndexChanged: function () {
                            NProgress.start();
                            $("#btnSalesDetailReportCSV").prop("disabled", false);
                            $("#btnSalesDetailReportPrintPDF").prop("disabled", false);
                            isARSalesDetailReportCompanySelected = true;
                            createCboBranch();
                        }
                    });

                    createCboBranch();
                }
            });
        }

        // =============
        // Branch Filter
        // =============
        function createCboBranch() {
            var branchObservableArray = new wijmo.collections.ObservableArray();
            if (cboARSalesDetailReportCompany.selectedValue != null) {
                $.ajax({
                    url: '/api/branch/byCompanyId/list/locked/' + cboARSalesDetailReportCompany.selectedValue,
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    success: function (branchResults) {
                        if (branchResults.length > 0) {
                            for (i = 0; i < branchResults.length; i++) {
                                branchObservableArray.push({
                                    Id: branchResults[i]["Id"],
                                    CompanyId: branchResults[i]["CompanyId"],
                                    Branch: branchResults[i]["Branch"],
                                    Address: branchResults[i]["Address"],
                                    ContactNumber: branchResults[i]["ContactNumber"],
                                    TaxNumber: branchResults[i]["TaxNumber"]
                                });
                            }
                        }

                        var disabled = true;
                        if (branchResults.length > 0) {
                            disabled = false;
                        } else {
                            $("#btnSalesDetailReportCSV").prop("disabled", true);
                            $("#btnSalesDetailReportPrintPDF").prop("disabled", true);
                        }

                        cboARSalesDetailReportBranch.dispose();
                        cboARSalesDetailReportBranch = new wijmo.input.ComboBox('#cboARSalesDetailReportBranch', {
                            disabled: disabled,
                            isEditable: false,
                            itemsSource: branchObservableArray,
                            displayMemberPath: "Branch",
                            selectedValuePath: "Id",
                            selectedValue: getParam("BranchId"),
                            onSelectedIndexChanged: function () {
                                NProgress.start();
                                refreshSalesDetailReportFlexGrid();
                            }
                        });

                        if (!isARSalesDetailReportCompanySelected) {
                            createSalesDetailReportFlexGrid();
                        } else {
                            refreshSalesDetailReportFlexGrid();
                        }
                    }
                });
            }
        }

        // ===============================
        // Get Sales Order Detail Data
        // ===============================
        function getSalesDetailReport() {
            var salesDetailReports = new wijmo.collections.ObservableArray;
            if (cboARSalesDetailReportCompany.selectedValue != null) {
                if (cboARSalesDetailReportBranch.selectedValue != null) {
                    var startDate = cboARSalesDetailReportStartDate.value.toLocaleDateString().replace(/\//g, '-');
                    var endDate = cboARSalesDetailReportEndDate.value.toLocaleDateString().replace(/\//g, '-');
                    var companyId = cboARSalesDetailReportCompany.selectedValue;
                    var branchId = cboARSalesDetailReportBranch.selectedValue;

                    $.ajax({
                        url: '/api/salesDetailReport/list/' + startDate + '/' + endDate + '/' + + companyId + '/' + branchId,
                        cache: false,
                        type: 'GET',
                        contentType: 'application/json; charset=utf-8',
                        success: function (salesDetailReportResult) {
                            var totalAmount = 0;
                            if (salesDetailReportResult.length > 0) {
                                for (i = 0; i < salesDetailReportResult.length; i++) {
                                    var docLink = "/Software/SalesDetail?id=" + salesDetailReportResult[i]["SIId"];

                                    var SIDateResult = new Date(salesDetailReportResult[i]["SIDate"])
                                    var SIDate = ('0' + (SIDateResult.getMonth() + 1)).slice(-2) + '-' + ('0' + SIDateResult.getDate()).slice(-2) + '-' + SIDateResult.getFullYear();

                                    salesDetailReports.push({
                                        Id: salesDetailReportResult[i]["Id"],
                                        SIId: salesDetailReportResult["SIId"],
                                        SI: salesDetailReportResult[i]["SI"],
                                        Branch: salesDetailReportResult[i]["Branch"],
                                        SIForCSV: "SI-" + salesDetailReportResult[i]["SI"],
                                        SIButton: "<a href='" + docLink + "' class='btn btn-primary btn-xs btn-block' style='font-size: 10.5px;'>" + salesDetailReportResult[i]["SI"],
                                        SIDate: SIDate,
                                        Item: salesDetailReportResult[i]["Item"],
                                        ItemInventory: salesDetailReportResult[i]["ItemInventory"] != null ? salesDetailReportResult[i]["ItemInventory"] : "",
                                        Unit: salesDetailReportResult[i]["Unit"],
                                        Quantity: salesDetailReportResult[i]["Quantity"],
                                        QuantityDisplay: parseFloat(salesDetailReportResult[i]["Quantity"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                        Price: salesDetailReportResult[i]["Price"],
                                        PriceDisplay: parseFloat(salesDetailReportResult[i]["Price"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                        Amount: salesDetailReportResult[i]["Amount"],
                                        AmountDisplay: parseFloat(salesDetailReportResult[i]["Amount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                        Customer: salesDetailReportResult[i]["Customer"],
                                    });

                                    totalAmount += salesDetailReportResult[i]["Amount"];
                                }
                            }

                            document.getElementById("totalAmount").value = parseFloat(totalAmount).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                            NProgress.done();
                        }
                    });
                } else {
                    document.getElementById("totalAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    NProgress.done();
                }
            } else {
                document.getElementById("totalAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                NProgress.done();
            }

            return salesDetailReports;
        }

        // =================
        // Refresh Flex Grid
        // =================
        function refreshSalesDetailReportFlexGrid() {
            salesDetailReportCollections = new wijmo.collections.CollectionView(getSalesDetailReport());
            salesDetailReportCollections.canFilter = true;

            var filterText = '';
            $('#InputFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                salesDetailReportCollections.refresh();

                if (salesDetailReportCollections.items.length > 0) {
                    var totalAmount = 0;
                    for (var i = 0; i < salesDetailReportCollections.items.length; i++) {
                        totalAmount += salesDetailReportCollections.items[i].Amount;
                    }

                    document.getElementById("totalAmount").value = parseFloat(totalAmount).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                } else {
                    document.getElementById("totalAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                }
            });

            salesDetailReportCollections.filter = function (item) {
                return !filterText || (item.Branch.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.SI.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Customer.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Item.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.ItemInventory.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Unit.toLowerCase().indexOf(filterText) > -1);
            }

            salesDetailReportGrid.itemsSource = salesDetailReportCollections;
            salesDetailReportGrid.trackChanges = true;
        }

        // =========
        // Flex Grid
        // =========
        function createSalesDetailReportFlexGrid() {
            salesDetailReportCollections = new wijmo.collections.CollectionView(getSalesDetailReport());
            salesDetailReportCollections.canFilter = true;

            var filterText = '';
            $('#InputFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                salesDetailReportCollections.refresh();

                if (salesDetailReportCollections.items.length > 0) {
                    var totalAmount = 0;
                    for (var i = 0; i < salesDetailReportCollections.items.length; i++) {
                        totalAmount += salesDetailReportCollections.items[i].Amount;
                    }

                    document.getElementById("totalAmount").value = parseFloat(totalAmount).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                } else {
                    document.getElementById("totalAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                }
            });

            salesDetailReportCollections.filter = function (item) {
                return !filterText || (item.Branch.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.SI.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Customer.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Item.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.ItemInventory.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Unit.toLowerCase().indexOf(filterText) > -1);
            }

            salesDetailReportGrid = new wijmo.grid.FlexGrid('#salesDetailReportGrid');
            salesDetailReportGrid.initialize({
                columns: [
                    {
                        "header": "SI Number",
                        "binding": "SIButton",
                        "isContentHtml": true,
                        "allowSorting": true,
                        "width": "1*"
                    },
                    {
                        "header": "SI Date",
                        "binding": "SIDate",
                        "allowSorting": true,
                        "width": "1*"
                    },
                    {
                        "header": "Customer",
                        "binding": "Customer",
                        "allowSorting": true,
                        "width": "1.5*"
                    },
                    {
                        "header": "Item",
                        "binding": "Item",
                        "allowSorting": true,
                        "width": "1.5*"
                    },
                    {
                        "header": "Inventory Code",
                        "binding": "ItemInventory",
                        "allowSorting": true,
                        "width": "1.5*"
                    },
                    {
                        "header": "Price",
                        "binding": "PriceDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1*"
                    },
                    {
                        "header": "Unit",
                        "binding": "Unit",
                        "allowSorting": true,
                        "width": "0.7*"
                    },
                    {
                        "header": "Quantity",
                        "binding": "QuantityDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1*"
                    },
                    {
                        "header": "Amount",
                        "binding": "AmountDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1*"
                    },
                ],
                autoGenerateColumns: false,
                itemsSource: salesDetailReportCollections,
                isReadOnly: true,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            salesDetailReportGrid.trackChanges = true;
        }

        // ============
        // Download CSV
        // ============
        function btnSalesDetailReportCSVOnclick() {
            var CSV = '';
            var salesDetailReport = [];
            var fileName = 'SalesDetailReport.CSV';

            for (i = 0; i < salesDetailReportCollections.items.length; i++) {
                var IsClose = salesDetailReportCollections.items[i].IsClose;
                var isPOClose = "Not Closed";
                if (IsClose) {
                    isPOClose = "Closed"
                }

                salesDetailReport.push({
                    Branch: salesDetailReportCollections.items[i].Branch,
                    SINumber: salesDetailReportCollections.items[i].SIForCSV,
                    SIDate: salesDetailReportCollections.items[i].SIDate,
                    Customer: salesDetailReportCollections.items[i].Customer,
                    Item: salesDetailReportCollections.items[i].Item,
                    ItemInventory: salesDetailReportCollections.items[i].ItemInventory,
                    Price: salesDetailReportCollections.items[i].Price,
                    Unit: salesDetailReportCollections.items[i].Unit,
                    Quantity: salesDetailReportCollections.items[i].Quantity,
                    Amount: salesDetailReportCollections.items[i].Amount,
                });
            }

            var Headers = [];
            Headers.push({
                Branch: "Branch",
                SINumber: "SI Number",
                SIDate: "SI Date",
                Customer: "Customer",
                Item: "Item",
                ItemInventory: "Inventory Code",
                Price: "Price",
                Unit: "Unit",
                Quantity: "Quantity",
                Amount: "Amount"
            });

            var header = '';
            for (var b in Headers[0]) {
                header += '"' + Headers[0][b] + '",';
            }

            CSV = header + '\r\n';
            for (var i = 0; i < salesDetailReport.length; i++) {
                var row = '';
                for (var a in salesDetailReport[i]) {
                    row += '"' + salesDetailReport[i][a] + '",';
                }

                row.slice(0, row.length - 1);
                CSV += row + '\r\n';
            }

            if (CSV == '') {
                toastr.error("No data.");
            } else {
                var link = document.createElement("a");
                if (link.download !== undefined) {
                    var blob = new Blob([CSV], { type: 'text/csv;charset=utf-8;' });
                    var url = URL.createObjectURL(blob);
                    link.setAttribute("href", url);
                    link.setAttribute("download", fileName);
                    link.style = "visibility:hidden";
                }

                if (navigator.msSaveBlob) {
                    link.addEventListener("click", function (event) {
                        var blob = new Blob([CSV], {
                            "type": "text/csv;charset=utf-8;"
                        });
                        navigator.msSaveBlob(blob, fileName);
                    }, false);
                }

                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);

                toastr.success("Dowload successful.");
            }
        }

        // =====================
        // Preview and Print PDF
        // =====================
        function btnSalesDetailReportPrintPDFOnclick() {
            if (cboARSalesDetailReportCompany.selectedValue != null) {
                if (cboARSalesDetailReportBranch.selectedValue != null) {
                    var startDate = cboARSalesDetailReportStartDate.value.toLocaleDateString().replace(/\//g, '-');
                    var endDate = cboARSalesDetailReportEndDate.value.toLocaleDateString().replace(/\//g, '-');
                    var companyId = cboARSalesDetailReportCompany.selectedValue;
                    var branchId = cboARSalesDetailReportBranch.selectedValue;

                    window.location.href = '/RepSalesDetailReport/SalesDetailReport?StartDate=' + startDate + '&EndDate=' + endDate + '&CompanyId=' + companyId + '&BranchId=' + branchId;
                } else {
                    toastr.error("Lacking Information");
                }
            } else {
                toastr.error("Lacking Information");
            }
        }

        // ============
        // On Load Page
        // ============
        $(document).ready(function () {
            salesDetailReportDateFilters();
        });
    </script>
    <script type="text/javascript">
        var cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches');
        function getUserBranches() {
            $("#loadingUserBranches").show();
            document.getElementById("loadingUserBranches").innerHTML = '<i class="fa fa-spinner fa-spin"></i>';
            $("#userBranchContent").hide();

            $('#userBranchesModal').modal({ show: true, backdrop: 'static' });

            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
            $("#updateUserBranch").prop("disabled", false);
            $("#closeUserBranch").prop("disabled", false);

            var userBranchesObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/userBranch/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (userBranchesResults) {
                    if (userBranchesResults.length > 0) {
                        for (i = 0; i < userBranchesResults.length; i++) {
                            userBranchesObservableArray.push({
                                BranchId: userBranchesResults[i]["BranchId"],
                                Branch: userBranchesResults[i]["Branch"]
                            });
                        }
                    }

                    var currentBranch = "@ViewData["BranchId"]";
                    cboUserBranches.dispose();
                    cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches', {
                        isEditable: false,
                        placeholder: "Select Branches",
                        itemsSource: userBranchesObservableArray,
                        displayMemberPath: "Branch",
                        selectedValuePath: "BranchId",
                        selectedValue: currentBranch
                    });

                    setTimeout(function () {
                        $("#loadingUserBranches").hide();
                        $("#userBranchContent").show();
                    }, 500)
                }
            });
        }

        function updateUserBranchOnclick() {
            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Updating";
            $("#updateUserBranch").prop("disabled", true);
            $("#closeUserBranch").prop("disabled", true);

            var userBranchObject = new Object();
            userBranchObject.BranchId = cboUserBranches.selectedValue;
            var userBranchData = JSON.stringify(userBranchObject);

            $.ajax({
                type: "PUT",
                url: '/api/userBranch/update',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: userBranchData,
                statusCode: {
                    200: function () {
                        toastr.success("Update Successful");
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function () {
                        toastr.error("Not Found");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    },
                    500: function () {
                        toastr.error("Bad Request");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    }
                }
            });
        }
    </script>
    <script type="text/javascript">
        var slideLeft = new Menu({
            wrapper: '#o-wrapper',
            type: 'slide-left',
            menuOpenerClass: '.c-button',
            maskId: '#c-mask'
        });

        var slideLeftBtn = document.querySelector('#c-button--slide-left');

        slideLeftBtn.addEventListener('click', function (e) {
            e.preventDefault;
            slideLeft.open();
        });
    </script>
</body>
</html>