@{
    var id = Request.QueryString["CompanyId"];
    var branchId = Request.QueryString["BranchId"];
    var stockTransferId = Request.QueryString["StockTransferId"];
    var userId = ViewData["UserId"];
}
<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Some slide and push menu demos using CSS3 transitions.">

    <!-- Title of the Page -->
    <title>Stock Transfer Detail</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Font-Awesome/css")
    @Styles.Render("~/Content/Software-css")
    @Styles.Render("~/WijmoCSS/Wijmo-css")
</head>
<body>
    <div id="wrapper" class="wrapper">
        <!-- Header -->
        @Html.Partial("_SoftwareHeader")

        <!-- Section -->
        <section>
            <br /><br /><br />
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        @*<h4><img src='~/images/Icons/iCollect.png'> Company - Detail</h4>*@
                        <h4><i class="fa fa-exchange fa-2x"></i> Stock Transfer Detail</h4>
                        <br />
                        <div class="div_Current_Page">
                            @*<label id="currentBranchName"></label>*@
                            <span id="currentPage"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4 id="collectionDetailLabel"></h4>
                    </div>
                    <div class="col-md-6" align="right">
                        <button class="btn btn-primary btn-sm"><i class="fa fa-book"></i> Journal</button>
                        <button class="btn btn-primary btn-sm"><i class="fa fa-save"></i> Save</button>
                        <button class="btn btn-primary btn-sm"><i class="fa fa-edit"></i> Edit</button>
                        <button class="btn btn-primary btn-sm" onclick="window.location.href ='@Url.Action("StockTransferPDF", "Software", new { StockTransferId = stockTransferId })'"><i class="fa fa-print"></i> Print</button>
                        <button onclick="window.location.href = '@Url.Action("StockTransfer", "Software", new { BranchId = branchId })'" class="btn btn-danger btn-sm"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
                @*<hr />*@
                <div class="well">
                    <form class="form-horizontal" role="form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Branch:</label>
                                    <div class="col-sm-8">
                                        <div class="comboBox-wide" id="stockTransfer_Branch"></div>

                                        <input type="hidden" id="stockTransfer_Branch_data" />
                                        <input type="hidden" id="stockTransfer_Branch_selectedValue" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">ST Number:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control input-sm" id="stockTransfer_STNumber" />
                                        <input type="hidden" id="stockTransfer_STNumber_Display" /> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">ST Date:</label>
                                    <div class="col-sm-8">
                                        <div class="comboBox-wide" id="stockTransfer_STDate"></div>
                                        <input type="hidden" id="stockTransfer_STDate_data" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">To branch:</label>
                                    <div class="col-sm-8">
                                        <div class="comboBox-wide" id="stockTransfer_ToBranch"></div>

                                        <input type="hidden" id="stockTransfer_ToBranch_data" />
                                        <input type="hidden" id="stockTransfer_ToBranch_selectedValue" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Particulars:</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control textarea-custom" id="stockTransfer_Particulars"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Manual ST Number:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control input-sm" id="stockTransfer_ManualSTNumber">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Prepared by:</label>
                                    <div class="col-sm-8">
                                        <div class="comboBox-wide" id="stockTransfer_PreparedBy"></div>

                                        <input type="hidden" id="stockTransfer_PreparedBy_data" />
                                        <input type="hidden" id="stockTransfer_PreparedBy_selectedValue" />
                                        <input type="hidden" id="userId_data" value="@userId" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Checked by:</label>
                                    <div class="col-sm-8">
                                        <div class="comboBox-wide" id="stockTransfer_CheckedBy"></div>

                                        <input type="hidden" id="stockTransfer_CheckedBy_data" />
                                        <input type="hidden" id="stockTransfer_CheckedBy_selectedValue" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Approved by:</label>
                                    <div class="col-sm-8">
                                        <div class="comboBox-wide" id="stockTransfer_ApprovedBy"></div>

                                        <input type="hidden" id="stockTransfer_ApprovedBy_data" />
                                        <input type="hidden" id="stockTransfer_ApprovedBy_selectedValue" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Lock:</label>
                                    <div class="col-sm-8">
                                        <input type="checkbox" id="StockTransfer_Lock">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-8">
                                        <input type="hidden" id="StockTransfer_IsLocked">
                                        <input type="hidden" id="StockTransfer_IsLocked_defaultTrue">
                                        <input type="hidden" id="StockTransfer_IsLocked_defaultFalse">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- Loading Modal -->
        <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="Loading..." aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class=" modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <h4>Loading ...</h4>
                    </div>
                    <div class="modal-footer">
                        <img class="img-thumbnail img-responsive center-block img-custom" src='~/images/loading/progress_bar.gif'>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        @Html.Partial("_SoftwareFooter")
    </div>

    <!-- SideBar Menu -->
    @Html.Partial("_SoftwareSideBarMenu")

    <div id="c-mask" class="c-mask"></div><!-- /c-mask -->
    <!-- Scripts JavaScripts -->
    @Scripts.Render("~/Scripts/Software-js")
    @Scripts.Render("~/WijmoScripts/Wijmo-js")
    <script type="text/javascript">
        // ================
        // Global Variables
        // ================
        var stockTransfers;
        var branches;

        var STDate;

        var cboBranch;
        var cboToBranch;
        var cboPreparedBy;
        var cboCheckedBy;
        var cboApprovedBy;

        // =======================
        // GET Stock Transfer by Id
        // =======================
        function getStockTransferById() {
            stockTransfers = new wijmo.collections.ObservableArray;
            var stockTransferId = @stockTransferId;
            $('#loadingModal').modal('show');
            $.ajax({
                url: '/api/stockTransfer/' + stockTransferId,
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (Results) {
                    $('#loadingModal').modal('hide');
                    if (Results.length > 0) {
                        stockTransfers.push({
                            Id: Results.Id,
                            BranchId: Results.BranchId,
                            Branch: Results.Branch,
                            STNumber: Results.STNumber,
                            STDate: Results.STDate,
                            ToBranchId: Results.ToBranchId,
                            ToBranch: Results.ToBranch,
                            Particulars: Results.Particulars,
                            ManualSTNumber: Results.ManualSTNumber,
                            PreparedById: Results.PreparedById,
                            PreparedBy: Results.PreparedBy,
                            CheckedById: Results.CheckedById,
                            CheckedBy: Results.CheckedBy,
                            ApprovedById: Results.ApprovedById,
                            ApprovedBy: Results.ApprovedBy,
                            IsLocked: Results.IsLocked,
                            CreatedById: Results.CreatedById,
                            CreatedBy: Results.CreatedBy,
                            CreatedDateTime: Results.CreatedDateTime,
                            UpdatedById: Results.UpdatedById,
                            UpdatedBy: Results.UpdatedBy,
                            UpdatedDateTime: Results.UpdatedDateTime
                        });
                    }

                    document.getElementById('stockTransfer_Branch_data').value = Results.BranchId;
                    document.getElementById('stockTransfer_Branch_selectedValue').value = Results.Branch;
                    document.getElementById('stockTransfer_STNumber').value = Results.STNumber;
                    document.getElementById('stockTransfer_STNumber_Display').value = Results.STNumber;
                    document.getElementById('stockTransfer_STDate_data').value = Results.STDate;

                    var STDate_date = Results.STDate;
                    STDate.dispose();
                    STDate = new wijmo.input.InputDate('#stockTransfer_STDate', {
                        format: 'MM/dd/yyyy',
                        value: new Date(STDate_date),
                        mask: '99/99/9999',
                        onValueChanged: function () {
                            document.getElementById('stockTransfer_STDate_data').value = this.value.toLocaleDateString();
                        }
                    });

                    document.getElementById('stockTransfer_ToBranch_data').value = Results.ToBranchId;
                    document.getElementById('stockTransfer_ToBranch_selectedValue').value = Results.ToBranch;
                    document.getElementById('stockTransfer_Particulars').value = Results.Particulars;
                    document.getElementById('stockTransfer_ManualSTNumber').value = Results.ManualSTNumber;
                    document.getElementById('stockTransfer_PreparedBy_data').value = Results.PreparedById;
                    document.getElementById('stockTransfer_PreparedBy_selectedValue').value = Results.PreparedBy
                    document.getElementById('stockTransfer_CheckedBy_data').value = Results.CheckedById;
                    document.getElementById('stockTransfer_CheckedBy_selectedValue').value = Results.CheckedBy;
                    document.getElementById('stockTransfer_ApprovedBy_data').value = Results.ApprovedById;
                    document.getElementById('stockTransfer_ApprovedBy_selectedValue').value = Results.ApprovedBy;
                    document.getElementById('StockTransfer_Lock').checked = Results.IsLocked;

                    document.getElementById('createdBy').innerHTML = Results.CreatedBy;
                    document.getElementById('createdDate').innerHTML = Results.CreatedDateTime;
                    document.getElementById('updatedBy').innerHTML = Results.UpdatedBy;
                    document.getElementById('updatedDate').innerHTML = Results.UpdatedDateTime;

                    getBranchesForComboBox();
                    getUsersForComboBox();
                }
            }).fail(function (xhr, textStatus, err) {
                alert(err);
            });
            return stockTransfers;
        }

        // ========================
        // GET Branch for Combo Box
        // ========================
        function getBranchesForComboBox() {
            branches = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/listBranch',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (results) {
                    if (results.length > 0) {
                        for (i = 0; i < results.length; i++) {
                            branches.push({
                                BranchId: results[i]["Id"],
                                BranchBranch: results[i]["Branch"]
                            });
                        }

                        var stockTransferId = @stockTransferId;
                        if(stockTransferId == 0) {
                            $.ajax({
                                url: '/api/listBranchById/' + @branchId,
                                cache: false,
                                type: 'GET',
                                contentType: 'application/json; charset=utf-8',
                                data: {},
                                success: function (results) {
                                    if (results.length > 0) {
                                        branches.push({
                                            BranchId: results.Id,
                                            Branch: results.Branch
                                        });
                                    }
                                    document.getElementById('stockTransfer_Branch_data').value = results.Id;
                                    document.getElementById('stockTransfer_Branch_selectedValue').value = results.Branch;

                                    createCboBranch(branches);
                                    createCboToBranch(branches);
                                }
                            });
                        } else {
                            createCboBranch(branches);
                            createCboToBranch(branches);
                        }
                    }
                }
            }).fail(function (xhr, textStatus, err) {
                alert(err);
            }
                        );
            return branches;
        }


        // ======================
        // Combo Box for Branches
        // ======================
        function createCboBranch(branches) {
            var branchCollections = new wijmo.collections.CollectionView(branches);
            var branchList = new Array();
            for (var i = 0; i < branchCollections.items.length; i++) {
                branchList.push(branchCollections.items[i].BranchBranch);
            }

            cboBranch.dispose();
            cboBranch = new wijmo.input.ComboBox('#stockTransfer_Branch', {
                disabled: true,
                placeholder: "Select Branch",
                itemsSource: branchList,
                isEditable: false,
                required: false,
                selectedValue: document.getElementById('stockTransfer_Branch_selectedValue').value.toString(),
                onSelectedIndexChanged: function () {
                    $("#stockTransfer_Branch_data").val(branchCollections.items[this.selectedIndex].BranchId);
                }
            });
        }

        // =======================
        // Combo Box for ToBranche
        // =======================
        function createCboToBranch(branches) {
            var branchCollections = new wijmo.collections.CollectionView(branches);
            var branchList = new Array();
            for (var i = 0; i < branchCollections.items.length; i++) {
                branchList.push(branchCollections.items[i].BranchBranch);
            }

            cboToBranch.dispose();
            cboToBranch = new wijmo.input.ComboBox('#stockTransfer_ToBranch', {
                disabled: false,
                placeholder: "Select Branch",
                itemsSource: branchList,
                isEditable: false,
                required: false,
                selectedValue: document.getElementById('stockTransfer_ToBranch_selectedValue').value.toString(),
                onSelectedIndexChanged: function () {
                    $("#stockTransfer_ToBranch_data").val(branchCollections.items[this.selectedIndex].BranchId);
                }
            });
        }

        // =======================
        // GET Users for Combo Box
        // =======================
        function getUsersForComboBox() {
            users = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/listUser',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (results) {
                    if (results.length > 0) {
                        for (i = 0; i < results.length; i++) {
                            users.push({
                                UserId: results[i]["Id"],
                                UserFullName: results[i]["FullName"]
                            });
                        }

                        var stockTransferId = @stockTransferId;
                        if(stockTransferId == 0) {
                            var userId = document.getElementById('userId_data').value;
                            $.ajax({
                                url: '/api/listByMstUserId/' + userId,
                                cache: false,
                                type: 'GET',
                                contentType: 'application/json; charset=utf-8',
                                data: {},
                                success: function (results) {
                                    if (results.length > 0) {
                                        users.push({
                                            UserId: results.Id,
                                            UserFullName: results.FullName
                                        });
                                    }

                                    document.getElementById('stockTransfer_PreparedBy_data').value = results.Id;
                                    document.getElementById('stockTransfer_PreparedBy_selectedValue').value =  results.FullName;

                                    createCboUserPreparedBy(users);
                                    createCboUserCheckedBy(users);
                                    createCboUserApprovedBy(users);
                                }
                            });
                        } else {
                            createCboUserPreparedBy(users);
                            createCboUserCheckedBy(users);
                            createCboUserApprovedBy(users);

                        }
                    }
                }
            }).fail(function (xhr, textStatus, err) {
                alert(err);
            });
            return users;
        }

        // =================================
        // Combo Box for Users - Prepared By
        // =================================
        function createCboUserPreparedBy(users) {
            var usersCollection = new wijmo.collections.CollectionView(users);
            var userList = new Array();
            for (var i = 0; i < usersCollection.items.length; i++) {
                userList.push(usersCollection.items[i].UserFullName);
            }

            cboPreparedBy.dispose();
            cboPreparedBy = new wijmo.input.ComboBox('#stockTransfer_PreparedBy', {
                disabled: true,
                placeholder: "Select User",
                itemsSource: userList,
                isEditable: false,
                required: false,
                selectedValue: document.getElementById('stockTransfer_PreparedBy_selectedValue').value.toString(),
                onSelectedIndexChanged: function () {
                    $("#stockTransfer_PreparedBy_data").val(usersCollection.items[this.selectedIndex].UserId);
                }
            });
        }

        // ================================
        // Combo Box for Users - Checked By
        // ================================
        function createCboUserCheckedBy(users) {
            var usersCollection = new wijmo.collections.CollectionView(users);
            var userList = new Array();
            for (var i = 0; i < usersCollection.items.length; i++) {
                userList.push(usersCollection.items[i].UserFullName);
            }

            cboCheckedBy.dispose();
            cboCheckedBy = new wijmo.input.ComboBox('#stockTransfer_CheckedBy', {
                placeholder: "Select User",
                itemsSource: userList,
                isEditable: false,
                required: false,
                selectedValue: document.getElementById('stockTransfer_CheckedBy_selectedValue').value.toString(),
                onSelectedIndexChanged: function () {
                    $("#stockTransfer_CheckedBy_data").val(usersCollection.items[this.selectedIndex].UserId);
                }
            });
        }
        
        // ==================================
        // Combo Box for Users - Approved By
        // ==================================
        function createCboUserApprovedBy(users) {
            var usersCollection = new wijmo.collections.CollectionView(users);
            var userList = new Array();
            for (var i = 0; i < usersCollection.items.length; i++) {
                userList.push(usersCollection.items[i].UserFullName);
            }

            cboApprovedBy.dispose();
            cboApprovedBy = new wijmo.input.ComboBox('#stockTransfer_ApprovedBy', {
                placeholder: "Select User",
                itemsSource: userList,
                isEditable: false,
                required: false,
                selectedValue: document.getElementById('stockTransfer_ApprovedBy_selectedValue').value.toString(),
                onSelectedIndexChanged: function () {
                    $("#stockTransfer_ApprovedBy_data").val(usersCollection.items[this.selectedIndex].UserId);
                }
            });
        }

        // =====================================================
        // Function with leading zeroes to display the ST Number
        // =====================================================
        function zerofill(number, length) {
            var result = number.toString();
            var pad = length - result.length;
            while(pad > 0) {
                result = '0' + result;
                pad--;
            }
            return result;
        }

        // ===========
        // OnLoad Page
        // ===========
        $(document).ready(function () {
            document.getElementById('currentPage').innerHTML = '<a href="@Url.Action("Index", "Software", new { BranchId = branchId })" class="currentPageLinkCustom">Main Menu</a> > ' + ' <a href="@Url.Action("StockTransfer", "Software", new { BranchId = branchId })" class="currentPageLinkCustom">Stock Transfer</a> ' + ' > Stock Transfer Detail';
            document.getElementById('stockTransfer_STNumber').disabled = true;
            document.getElementById('StockTransfer_Lock').disabled = true;

            getStockTransferById();

            var d = new Date();
            document.getElementById("stockTransfer_STDate_data").value = [ d.getMonth()+1, d.getDate(), d.getFullYear()].join('/');
            STDate = new wijmo.input.InputDate('#stockTransfer_STDate', {
                format: 'MM/dd/yyyy',
                value: new Date(),
                mask: '99/99/9999',
                onValueChanged: function () {
                    document.getElementById('stockTransfer_STDate_data').value = this.value.toLocaleDateString();
                }
            });
            
            cboBranch = new wijmo.input.ComboBox('#stockTransfer_Branch');
            cboPreparedBy = new wijmo.input.ComboBox('#stockTransfer_PreparedBy');
            cboCheckedBy = new wijmo.input.ComboBox('#stockTransfer_CheckedBy');
            cboApprovedBy = new wijmo.input.ComboBox('#stockTransfer_ApprovedBy');
            cboToBranch = new wijmo.input.ComboBox('#stockTransfer_ToBranch');

            var stockTransferId = @stockTransferId;
            if(stockTransferId == 0) {
                getBranchesForComboBox();
                getUsersForComboBox();

                if(document.getElementById('stockTransfer_STNumber').value == 0) {
                    document.getElementById('stockTransfer_STNumber_Display').value = "0000000001";
                }

                document.getElementById('stockTransfer_STNumber').value = 0;
                //document.getElementById('journalVoucher_No_Display').value = "000-000000";
                var stockTransfers = new wijmo.collections.ObservableArray;
                $.ajax({
                    url: '/api/stockTransferLastSTNumber',
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    data: {},
                    success: function (Results) {
                        if (Results.length > 0) {
                            stockTransfers.push({
                                Id: Results.Id,
                                STNumber: Results.STNumber
                            });
                        }
                        var ST_Number = parseInt(Results.STNumber);
                        var ST_Number_PlusOne = 0000000001;
                        var ST_Num_Results = ST_Number + ST_Number_PlusOne;
                        //var JV_Number_Display = JV_Num_Results.toString().replace(/(\d{3})(\d+)/, '$1-$2');

                        document.getElementById('stockTransfer_STNumber').value = zerofill(ST_Num_Results, 10);
                        document.getElementById('stockTransfer_STNumber_Display').value = zerofill(ST_Num_Results, 10);
                    }
                });
            }
        });
    </script>
</body>
</html>