<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Title of the Page -->
    <title>Stock Transfer</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Content/Software-css")
</head>
<body>
    <div id="o-wrapper" class="o-wrapper">
        <!-- Header -->
        @Html.Partial("_SoftwareHeader")

        <!-- Section -->
        <section>
            <div class="sub-nav">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h4><i class="fa fa-exchange"></i> Stock Transfer</h4>
                        </div>
                        <div class="col-md-6" align="right">
                            <h5><strong><span id="currentCompanyName"></span> <span> / </span> <span id="currentBranchName"></span></strong></h5>
                        </div>
                    </div>
                </div>
                <div class="div_Current_Page">
                    <div class="container">
                        <a href="@Url.Action("Index", "Software")" class="currentPageLinkCustom">Main Menu</a> > Stock Transfer
                    </div>
                </div>
            </div>
            <div class="container">
                <!-- Stock Transfer List -->
                <div id="">
                    <label>ST date </label>
                    <div class="row">
                        <div class="col-lg-4">
                            <div id="filterDate"></div>
                            <input type="hidden" id="filterDate_data" />
                        </div>
                        <div class="col-lg-8"></div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                <input type="text" class="form-control input-sm" id="InputFilter" placeholder="Search">
                            </div>
                        </div>
                        <div class="col-lg-8" align="right">
                            <button class="btn btn-primary btn-sm" onclick="btnAddStockTransfer_OnClick()"><i class="fa fa-plus"></i> Add</button>
                            <button class="btn btn-danger btn-sm" onclick="btnCloseStockTransfer_OnClick()"><i class=" fa fa-times"></i> Close</button>
                        </div>
                    </div>
                    <br />
                    <div class="row" align="left">
                        <div class="col-lg-12">
                            <div id="StockTransferGrid" class="grid" align="left"></div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="btn-group col-md-7" id="naviagtionPageGrid">
                            <button type="button" class="btn btn-default border-custom" id="btnMoveToFirstPageGrid">
                                <span class="glyphicon glyphicon-fast-backward"></span>
                            </button>
                            <button type="button" class="btn btn-default border-custom" id="btnMoveToPreviousPageGrid">
                                <span class="glyphicon glyphicon-step-backward"></span>
                            </button>
                            <button type="button" class="btn btn-default border-custom" disabled style="width: 100px" id="btnCurrentPageGrid"></button>
                            <button type="button" class="btn btn-default border-custom" id="btnMoveToNextPageGrid">
                                <span class="glyphicon glyphicon-step-forward"></span>
                            </button>
                            <button type="button" class="btn btn-default border-custom" id="btnMoveToLastPageGrid">
                                <span class="glyphicon glyphicon-fast-forward"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- StockTransfer Delete -->
        <div class="modal fade" id="deleteStockTransferConfirm" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Delete Stock <i class="fa fa-trash"></i></h4>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this?
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger btn-sm" id="cmdConfirmDeleteStockTransfer" onclick="cmdStockTransferConfirmDeleteButton_OnClick()"><i class="fa fa-trash"></i> Delete</button>
                        <button id="cmdConfirmDeleteCloseButton" class="btn btn-primary btn-sm" data-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Delete Lock -->
        <div class="modal fade" id="deleteRecordLock" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Record Locked <i class="fa fa-lock"></i></h4>
                    </div>
                    <div class="modal-body">
                        Sorry, the record is lock! It can't be deleted!
                    </div>
                    <div class="modal-footer">
                        <button id="cmdConfirmDeleteCloseButton" class="btn btn-primary btn-sm" data-dismiss="modal"> Okay</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        @Html.Partial("_SoftwareFooter")
    </div>

    <!-- SideBar Menu -->
    @Html.Partial("_SoftwareSideBarMenu")

    <div id="c-mask" class="c-mask"></div><!-- /c-mask -->
    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        // ================
        // Global Variables
        // ================
        var stockTransfers;
        var stockTransferGrid;
        var btnFirstPageGrid;
        var btnPreviousPageGrid;
        var btnNextPageGrid;
        var btnLastPageGrid;
        var btnCurrentPageGrid;

        var isFirstSelect = true;

        // =======================================
        // GET Stock Transfer List Flter by STDate
        // =======================================
        function getStockTransferFilterBySTDate(STDateFilter) {
            var stockTransfers = new wijmo.collections.ObservableArray;
            NProgress.start();
            $.ajax({
                url: '/api/listStockTransferFilterBySTDate/' + STDateFilter,
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (Results) {
                    if (Results.length > 0) {
                        for (i = 0; i < Results.length; i++) {
                            if (Results[i]["IsLocked"] == true) {
                                stockTransfers.push({
                                    EditId: "<button class='btn btn-primary btn-xs btn-block' id='StockTransferEditButton' onclick='cmdStockTransferEditButton_OnClick()'><i class='fa fa-edit'></i> Edit</button>",
                                    DeleteId: "<button class='btn btn-danger btn-xs btn-block' id='StockTransferDeleteButton' onclick='cmdStockTransferDeleteLockButton_OnClick()'><i class='fa fa-trash'></i> Delete</button>",
                                    Id: Results[i]["Id"],
                                    BranchId: Results[i]["BranchId"],
                                    Branch: Results[i]["Branch"],
                                    STNumber: Results[i]["STNumber"],
                                    STDate: Results[i]["STDate"],
                                    ToBranchId: Results[i]["ToBranchId"],
                                    ToBranch: Results[i]["ToBranch"],
                                    Particulars: Results[i]["Particulars"],
                                    ManualSTNumber: Results[i]["ManualSTNumber"],
                                    PreparedById: Results[i]["PreparedById"],
                                    PreparedBy: Results[i]["PreparedBy"],
                                    CheckedById: Results[i]["CheckedById"],
                                    CheckedBy: Results[i]["CheckedBy"],
                                    ApprovedById: Results[i]["ApprovedById"],
                                    ApprovedBy: Results[i]["ApprovedBy"],
                                    IsLocked: Results[i]["IsLocked"],
                                    CreatedById: Results[i]["CreatedById"],
                                    CreatedBy: Results[i]["CreatedBy"],
                                    CreatedDateTime: Results[i]["CreatedDateTime"],
                                    UpdatedById: Results[i]["UpdatedById"],
                                    UpdatedBy: Results[i]["UpdatedBy"],
                                    UpdatedDateTime: Results[i]["UpdatedDateTime"]
                                });
                            } else {
                                stockTransfers.push({
                                    EditId: "<button class='btn btn-primary btn-xs btn-block' id='StockTransferEditButton' onclick='cmdStockTransferEditButton_OnClick()'><i class='fa fa-edit'></i> Edit</button>",
                                    DeleteId: "<button class='btn btn-danger btn-xs btn-block' id='StockTransferDeleteButton' onclick='cmdStockTransferDeleteButton_OnClick()'><i class='fa fa-trash'></i> Delete</button>",
                                    Id: Results[i]["Id"],
                                    BranchId: Results[i]["BranchId"],
                                    Branch: Results[i]["Branch"],
                                    STNumber: Results[i]["STNumber"],
                                    STDate: Results[i]["STDate"],
                                    ToBranchId: Results[i]["ToBranchId"],
                                    ToBranch: Results[i]["ToBranch"],
                                    Particulars: Results[i]["Particulars"],
                                    ManualSTNumber: Results[i]["ManualSTNumber"],
                                    PreparedById: Results[i]["PreparedById"],
                                    PreparedBy: Results[i]["PreparedBy"],
                                    CheckedById: Results[i]["CheckedById"],
                                    CheckedBy: Results[i]["CheckedBy"],
                                    ApprovedById: Results[i]["ApprovedById"],
                                    ApprovedBy: Results[i]["ApprovedBy"],
                                    IsLocked: Results[i]["IsLocked"],
                                    CreatedById: Results[i]["CreatedById"],
                                    CreatedBy: Results[i]["CreatedBy"],
                                    CreatedDateTime: Results[i]["CreatedDateTime"],
                                    UpdatedById: Results[i]["UpdatedById"],
                                    UpdatedBy: Results[i]["UpdatedBy"],
                                    UpdatedDateTime: Results[i]["UpdatedDateTime"]
                                });
                            }
                        }
                    }
                    NProgress.done();
                }
            }).fail(function (xhr, textStatus, err) {
                alert(err);
            });
            return stockTransfers;
        }

        // =================================
        // Stock Transfer Delete Lock Button
        // =================================
        function cmdStockTransferDeleteLockButton_OnClick() {
            $('#deleteRecordLock').modal({
                show: true,
                backdrop: 'static'
            });
        }

        // =========================
        // Stock Transfer Add Button
        // =========================
        function btnAddStockTransfer_OnClick() {
            window.location = '/Software/StockTransferDetail';
        }

        // ===========================
        // Stock Transfer Close Button
        // ===========================
        function btnCloseStockTransfer_OnClick() {
            window.location = '/Software';
        }

        // ==========================
        // Stock Transfer Edit Button
        // ==========================
        function cmdStockTransferEditButton_OnClick() {
            stockTransfers.editItem(stockTransfers.currentItem);
            var stockTransfer = stockTransfers.currentEditItem;
            var stockTransferId = stockTransfer.Id;
            window.location = '/Software/StockTransferDetail?StockTransferId=' + stockTransferId;
        }

        // ============================
        // Stock Transfer delete Button
        // ============================
        function cmdStockTransferDeleteButton_OnClick() {
            $('#deleteStockTransferConfirm').modal({
                show: true,
                backdrop: 'static'
            });

            $("#cmdConfirmDeleteStockTransfer").prop("disabled", false);
            $("#cmdConfirmDeleteCloseButton").prop("disabled", false);
        }
        // Company Confirm Delete Button
        function cmdStockTransferConfirmDeleteButton_OnClick() {
            $("#cmdConfirmDeleteStockTransfer").prop("disabled", true);
            $("#cmdConfirmDeleteCloseButton").prop("disabled", true);

            stockTransfers.editItem(stockTransfers.currentItem);
            var id = stockTransfers.currentEditItem.Id;
            $.ajax({
                url: '/api/deleteStockTransfer/' + id,
                type: "DELETE",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                statusCode: {
                    200: function () {
                        $("#cmdConfirmDeleteStockTransfer").prop("disabled", true);
                        $("#cmdConfirmDeleteCloseButton").prop("disabled", true);
                        toastr.success("Successfully Deleted");

                        $('#deleteStockTransferConfirm').modal('hide');

                        var STDateFilter = document.getElementById('filterDate_data').value;
                        stockTransfers = new wijmo.collections.CollectionView(getStockTransferFilterBySTDate(STDateFilter));
                        stockTransfers.canFilter = true;
                        stockTransfers.pageSize = 15;

                        var filterText = '';
                        $('#InputFilter').keyup(function () {
                            filterText = this.value.toLowerCase();
                            stockTransfers.refresh();
                        });
                        stockTransfers.filter = function (item) {
                            return !filterText || (item.STNumber.toLowerCase().indexOf(filterText) > -1);
                        }
                        stockTransfers.collectionChanged.addHandler(function (sender, args) {
                            updateNavigateButtonsStockTransfer();
                        });
                        stockTransfers.currentChanged.addHandler(function (sender, args) {
                            updateDetails();
                        });

                        // Flex Grid
                        stockTransferGrid.itemsSource = stockTransfers;
                        stockTransferGrid.trackChanges = true;
                    },
                    404: function () {
                        toastr.error("Request Not Found");
                        $('#deleteStockTransferConfirm').modal('hide');
                        $("#cmdConfirmDeleteStockTransfer").prop("disabled", false);
                        $("#cmdConfirmDeleteCloseButton").prop("disabled", false);
                    },
                    400: function () {
                        toastr.error("Can't be deleted");
                        $('#deleteStockTransferConfirm').modal('hide');
                        $("#cmdConfirmDeleteStockTransfer").prop("disabled", false);
                        $("#cmdConfirmDeleteCloseButton").prop("disabled", false);
                    }
                }
            });
        }

        // ===================
        // FlexGrid Selection
        // ===================
        function updateDetails() {
            var item = stockTransfers.currentItem;
            document.getElementById('createdBy').innerHTML = item.CreatedBy;
            document.getElementById('createdDate').innerHTML = item.CreatedDateTime;
            document.getElementById('updatedBy').innerHTML = item.UpdatedBy;
            document.getElementById('updatedDate').innerHTML = item.UpdatedDateTime;
        }

        // ===============================
        // Navigation Buttons for Comapany
        // ===============================
        function updateNavigateButtonsStockTransfer() {
            if (stockTransfers.pageSize <= 0) {
                document.getElementById('naviagtionPageGrid').style.display = 'none';
                return;
            }
            document.getElementById('naviagtionPageGrid').style.display = 'block';
            if (stockTransfers.pageIndex === 0) {
                btnFirstPageGrid.setAttribute('disabled', 'disabled');
                btnPreviousPageGrid.setAttribute('disabled', 'disabled');
                btnNextPageGrid.removeAttribute('disabled');
                btnLastPageGrid.removeAttribute('disabled');
            } else if (stockTransfers.pageIndex === (stockTransfers.pageCount - 1)) {
                btnFirstPageGrid.removeAttribute('disabled');
                btnPreviousPageGrid.removeAttribute('disabled');
                btnLastPageGrid.setAttribute('disabled', 'disabled');
                btnNextPageGrid.setAttribute('disabled', 'disabled');
            } else {
                btnFirstPageGrid.removeAttribute('disabled');
                btnPreviousPageGrid.removeAttribute('disabled');
                btnNextPageGrid.removeAttribute('disabled');
                btnLastPageGrid.removeAttribute('disabled');
            }
            btnCurrentPageGrid.innerHTML = (stockTransfers.pageIndex + 1) + ' / ' + stockTransfers.pageCount;
        }

        // ===========
        // OnLoad Page
        // ===========
        $(document).ready(function () {
            var STDateFilter_Date = new Date();
            document.getElementById("filterDate_data").value = [STDateFilter_Date.getMonth() + 1, STDateFilter_Date.getDate(), STDateFilter_Date.getFullYear()].join('-');

            var cboFilterDate;
            cboFilterDate = new wijmo.input.InputDate('#filterDate', {
                format: 'MM/dd/yyyy',
                value: new Date(),
                mask: '99/99/9999',
                onValueChanged: function () {
                    if (!isFirstSelect) {
                        document.getElementById('filterDate_data').value = [this.value.getMonth() + 1, this.value.getDate(), this.value.getFullYear()].join('-');
                        var STDateFilterValue = document.getElementById('filterDate_data').value;

                        $('body').removeClass('modal-open');
                        $(".modal-backdrop").remove();

                        stockTransfers = new wijmo.collections.CollectionView(getStockTransferFilterBySTDate(STDateFilterValue));
                        stockTransfers.canFilter = true;
                        stockTransfers.pageSize = 15;

                        var filterText = '';
                        $('#InputFilter').keyup(function () {
                            filterText = this.value.toLowerCase();
                            stockTransfers.refresh();
                        });
                        stockTransfers.filter = function (item) {
                            return !filterText || (item.STNumber.toLowerCase().indexOf(filterText) > -1);
                        }
                        stockTransfers.collectionChanged.addHandler(function (sender, args) {
                            updateNavigateButtonsStockTransfer();
                        });
                        stockTransfers.currentChanged.addHandler(function (sender, args) {
                            updateDetails();
                        });

                        stockTransferGrid.itemsSource = stockTransfers;
                        stockTransferGrid.trackChanges = true;

                        updateNavigateButtonsStockTransfer();
                    } else {
                        isFirstSelect = false;
                    }
                }
            });

            var STDateFilter = document.getElementById('filterDate_data').value;
            stockTransfers = new wijmo.collections.CollectionView(getStockTransferFilterBySTDate(STDateFilter));
            stockTransfers.canFilter = true;
            stockTransfers.pageSize = 15;

            var filterText = '';
            $('#InputFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                stockTransfers.refresh();
            });
            stockTransfers.filter = function (item) {
                return !filterText || (item.STNumber.toLowerCase().indexOf(filterText) > -1);
            }
            stockTransfers.collectionChanged.addHandler(function (sender, args) {
                updateNavigateButtonsStockTransfer();
            });
            stockTransfers.currentChanged.addHandler(function (sender, args) {
                updateDetails();
            });

            // Flex Grid
            stockTransferGrid = new wijmo.grid.FlexGrid('#StockTransferGrid');
            stockTransferGrid.initialize({
                columns: [
                            {
                                "header": "Edit",
                                "binding": "EditId",
                                "width": 60,
                                "align": "center",
                                "allowResizing": false,
                                "allowSorting": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "Delete",
                                "binding": "DeleteId",
                                "width": 70,
                                "align": "center",
                                "allowResizing": false,
                                "allowSorting": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "ST Number",
                                "binding": "STNumber",
                                "allowSorting": true,
                                "width": "1*",
                            },
                            {
                                "header": "ST Date",
                                "binding": "STDate",
                                "allowSorting": true,
                                "width": "1*"
                            },
                            {
                                "header": "From Branch",
                                "binding": "Branch",
                                "allowSorting": true,
                                "width": "2*"
                            },
                            {
                                "header": "To Branch",
                                "binding": "ToBranch",
                                "allowSorting": true,
                                "width": "2*"
                            },
                            {
                                "header": "Lock",
                                "binding": "IsLocked",
                                "allowSorting": true,
                                "width": "0.5*"
                            }
                ],
                autoGenerateColumns: false,
                itemsSource: stockTransfers,
                isReadOnly: true,
                //frozenColumns: 2,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            stockTransferGrid.trackChanges = true;

            //Navigation button
            btnFirstPageGrid = document.getElementById('btnMoveToFirstPageGrid');
            btnPreviousPageGrid = document.getElementById('btnMoveToPreviousPageGrid');
            btnNextPageGrid = document.getElementById('btnMoveToNextPageGrid');
            btnLastPageGrid = document.getElementById('btnMoveToLastPageGrid');
            btnCurrentPageGrid = document.getElementById('btnCurrentPageGrid');

            updateNavigateButtonsStockTransfer();

            btnFirstPageGrid.addEventListener('click', function () {
                stockTransfers.moveToFirstPage();
                updateNavigateButtonsStockTransfer();
            });
            btnPreviousPageGrid.addEventListener('click', function () {
                stockTransfers.moveToPreviousPage();
                updateNavigateButtonsStockTransfer();
            });
            btnNextPageGrid.addEventListener('click', function () {
                stockTransfers.moveToNextPage();
                updateNavigateButtonsStockTransfer();
            });
            btnLastPageGrid.addEventListener('click', function () {
                stockTransfers.moveToLastPage();
                updateNavigateButtonsStockTransfer();
            });
        });

    </script>
</body>
</html>