<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Title of the Page -->
    <link rel="shortcut icon" href="~/Images/icon/easyfislogomini.ico">
    <title>Stock Transfer</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Content/Software-css")
</head>
<body>
    <div id="o-wrapper" class="o-wrapper">
        <main class="o-content">
            @Html.Partial("_SoftwareHeader")
            <section class="content-header">
                <div class="container">
                    <h3>
                        Stock Transfer 
                    </h3>
                    <p>
                        <i class="fa fa-building-o fa-fw"></i> &nbsp; @ViewData["Company"] <br />
                        <i class="fa fa-home fa-fw"></i> &nbsp; <a href="#" onclick="getUserBranches()" style="color: white;">@ViewData["Branch"]</a>
                    </p>
                </div>
            </section>
            <section class="container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 59%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        <input type="text" class="form-control " id="InputFilter" placeholder="Search">
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 40%" align="right">
                                    <button class="btn btn-primary " id="btnAddStockTransfer" onclick="btnAddStockTransfer_OnClick()"><i class="fa fa-plus"></i> Add</button>
                                    <button class="btn btn-danger " id="btnCloseStockTransfer" onclick="btnCloseStockTransfer_OnClick()"><i class=" fa fa-times"></i> Close</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 29%">
                                    <div class="input-group ">
                                        <span class="input-group-addon">Start Date</span>
                                        <div id="filterDate"></div>
                                        <input type="hidden" id="filterDate_data" />
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 29%">
                                    <div class="input-group ">
                                        <span class="input-group-addon">End Date</span>
                                        <div id="filterEndDate"></div>
                                        <input type="hidden" id="filterEndDate_data" />
                                    </div>
                                </td>
                                <td style="width: 41%"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-body">
                        <div class="row" align="left">
                            <div class="col-lg-12">
                                <div id="StockTransferGrid" class="grid" align="left"></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="btn-group col-md-7" id="naviagtionPageGrid">
                                <button type="button" class="btn btn-default border-custom" id="btnMoveToFirstPageGrid">
                                    <span class="glyphicon glyphicon-fast-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" id="btnMoveToPreviousPageGrid">
                                    <span class="glyphicon glyphicon-step-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" disabled style="width: 100px" id="btnCurrentPageGrid"></button>
                                <button type="button" class="btn btn-default border-custom" id="btnMoveToNextPageGrid">
                                    <span class="glyphicon glyphicon-step-forward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" id="btnMoveToLastPageGrid">
                                    <span class="glyphicon glyphicon-fast-forward"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            @Html.Partial("_SoftwareFooter")
        </main>
    </div>

    <div id="c-mask" class="c-mask"></div><!-- /c-mask -->
    <!-- StockTransfer Delete -->
    <div class="modal fade" id="deleteStockTransferConfirm" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Stock <i class="fa fa-trash"></i></h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger " id="cmdConfirmDeleteStockTransfer" onclick="cmdStockTransferConfirmDeleteButton_OnClick()"><i class="fa fa-trash"></i> Delete</button>
                    <button id="cmdConfirmDeleteCloseButton" class="btn btn-primary " data-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Lock -->
    <div class="modal fade" id="deleteRecordLock" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Record Locked <i class="fa fa-lock"></i></h4>
                </div>
                <div class="modal-body">
                    Sorry, the record is lock! It can't be deleted!
                </div>
                <div class="modal-footer">
                    <button id="cmdConfirmDeleteCloseButton" class="btn btn-primary " data-dismiss="modal"> Okay</button>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        // ================
        // Global Variables
        // ================
        var stockTransfers;
        var stockTransferGrid;
        var btnFirstPageGrid;
        var btnPreviousPageGrid;
        var btnNextPageGrid;
        var btnLastPageGrid;
        var btnCurrentPageGrid;

        var isFirstSelect = true;
        var isFirstSelectEndDate = true;

        // =======================================
        // GET Stock Transfer List Flter by STDate
        // =======================================
        function getStockTransferFilterBySTDate() {
            var stockTransfers = new wijmo.collections.ObservableArray;

            var startDate = document.getElementById('filterDate_data').value;
            var endDate = document.getElementById('filterEndDate_data').value;

            NProgress.start();
            $.ajax({
                url: '/api/listStockTransferFilterBySTDate/' + startDate + '/' + endDate,
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (Results) {
                    if (Results.length > 0) {
                        for (i = 0; i < Results.length; i++) {

                            var canDelete = "@ViewData["CanDelete"]";
                            var deleteDisabled;

                            if (canDelete == "True") {
                                deleteDisabled = "";
                            } else if (canDelete == "False") {
                                deleteDisabled = "disabled";
                            } else {
                                deleteDisabled = "disabled";
                            }

                            var btnDeleteId;
                            if (Results[i]["IsLocked"] == true) {
                                btnDeleteId = "<button class='btn btn-danger btn-xs btn-block' onclick='cmdStockTransferDeleteLockButton_OnClick()' " + deleteDisabled + "><i class='fa fa-trash'></i> Delete</button>";
                            } else {
                                btnDeleteId = "<button class='btn btn-danger btn-xs btn-block' onclick='cmdStockTransferDeleteButton_OnClick()' " + deleteDisabled + "><i class='fa fa-trash'></i> Delete</button>";
                            }

                            var canEdit = "@ViewData["CanEdit"]";
                            var editDisabled;

                            if (canEdit == "True") {
                                editDisabled = "";
                            } else if (canEdit == "False") {
                                editDisabled = "disabled";
                            } else {
                                editDisabled = "disabled";
                            }

                            stockTransfers.push({
                                EditId: "<button class='btn btn-primary btn-xs btn-block' id='StockTransferEditButton' onclick='cmdStockTransferEditButton_OnClick()'" + editDisabled + "><i class='fa fa-edit'></i> Edit</button>",
                                DeleteId: btnDeleteId,
                                Id: Results[i]["Id"],
                                BranchId: Results[i]["BranchId"],
                                Branch: Results[i]["Branch"],
                                STNumber: Results[i]["STNumber"],
                                STDate: Results[i]["STDate"],
                                ToBranchId: Results[i]["ToBranchId"],
                                ToBranch: Results[i]["ToBranch"],
                                Particulars: Results[i]["Particulars"],
                                ManualSTNumber: Results[i]["ManualSTNumber"],
                                PreparedById: Results[i]["PreparedById"],
                                PreparedBy: Results[i]["PreparedBy"],
                                CheckedById: Results[i]["CheckedById"],
                                CheckedBy: Results[i]["CheckedBy"],
                                ApprovedById: Results[i]["ApprovedById"],
                                ApprovedBy: Results[i]["ApprovedBy"],
                                IsLocked: Results[i]["IsLocked"],
                                CreatedById: Results[i]["CreatedById"],
                                CreatedBy: Results[i]["CreatedBy"],
                                CreatedDateTime: Results[i]["CreatedDateTime"],
                                UpdatedById: Results[i]["UpdatedById"],
                                UpdatedBy: Results[i]["UpdatedBy"],
                                UpdatedDateTime: Results[i]["UpdatedDateTime"]
                            });
                        }
                    }
                    NProgress.done();
                }
            }).fail(function (xhr, textStatus, err) {
                alert(err);
            });
            return stockTransfers;
        }

        // =================================
        // Stock Transfer Delete Lock Button
        // =================================
        function cmdStockTransferDeleteLockButton_OnClick() {
            toastr.error("Record Locked")
        }

        // =========================
        // Stock Transfer Add Button
        // =========================
        function btnAddStockTransfer_OnClick() {
            //window.location = '/Software/StockTransferDetail';
            document.getElementById('btnAddStockTransfer').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Adding";
            $('#btnAddStockTransfer').prop('disabled', true);
            $('#btnCloseStockTransfer').prop('disabled', true);

            var canAccessToDetailPage = "@ViewData["CanAccessToDetailPage"]";
            if (canAccessToDetailPage == "True") {
                $.ajax({
                    type: "POST",
                    url: '/api/addStockTransfer',
                    contentType: "application/json; charset=utf-8",
                    success: function (id) {
                        if (id > 0) {
                            window.location = '/Software/StockTransferDetail?StockTransferId=' + id;
                        } else {
                            toastr.error("Internal Server Error");
                        }
                    }
                });
            } else if (canAccessToDetailPage == "False") {
                window.location = '/Software/Forbidden';
            } else {
                document.getElementById('btnAddStockTransfer').innerHTML = "<i class='fa fa-plus'></i> Add";
                $('#btnAddStockTransfer').prop('disabled', false);
                $('#btnCloseStockTransfer').prop('disabled', false);

            }
        }

        // ===========================
        // Stock Transfer Close Button
        // ===========================
        function btnCloseStockTransfer_OnClick() {
            window.location = '/Software';
        }

        // ==========================
        // Stock Transfer Edit Button
        // ==========================
        function cmdStockTransferEditButton_OnClick() {
            stockTransfers.editItem(stockTransfers.currentItem);
            var stockTransfer = stockTransfers.currentEditItem;
            var stockTransferId = stockTransfer.Id;
            window.location = '/Software/StockTransferDetail?StockTransferId=' + stockTransferId;
        }

        // ============================
        // Stock Transfer delete Button
        // ============================
        function cmdStockTransferDeleteButton_OnClick() {
            $('#deleteStockTransferConfirm').modal({
                show: true,
                backdrop: 'static'
            });

            document.getElementById('cmdConfirmDeleteStockTransfer').innerHTML = "<i class='fa fa-trash'></i> Delete";
            $("#cmdConfirmDeleteStockTransfer").prop("disabled", false);
            $("#cmdConfirmDeleteCloseButton").prop("disabled", false);
        }
        // Company Confirm Delete Button
        function cmdStockTransferConfirmDeleteButton_OnClick() {
            document.getElementById('cmdConfirmDeleteStockTransfer').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Deleting";
            $("#cmdConfirmDeleteStockTransfer").prop("disabled", true);
            $("#cmdConfirmDeleteCloseButton").prop("disabled", true);

            stockTransfers.editItem(stockTransfers.currentItem);
            var id = stockTransfers.currentEditItem.Id;
            $.ajax({
                url: '/api/deleteStockTransfer/' + id,
                type: "DELETE",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                statusCode: {
                    200: function () {
                        $("#cmdConfirmDeleteStockTransfer").prop("disabled", true);
                        $("#cmdConfirmDeleteCloseButton").prop("disabled", true);
                        toastr.success("Delete Successful");

                        $('#deleteStockTransferConfirm').modal('hide');

                        var STDateFilter = document.getElementById('filterDate_data').value;
                        stockTransfers = new wijmo.collections.CollectionView(getStockTransferFilterBySTDate());
                        stockTransfers.canFilter = true;
                        stockTransfers.pageSize = 15;

                        var filterText = '';
                        $('#InputFilter').keyup(function () {
                            filterText = this.value.toLowerCase();
                            stockTransfers.refresh();
                        });
                        stockTransfers.filter = function (item) {
                            return !filterText || (item.STNumber.toLowerCase().indexOf(filterText) > -1)
                                               || (item.Branch.toLowerCase().indexOf(filterText) > -1)
                                               || (item.ToBranch.toLowerCase().indexOf(filterText) > -1);
                        }
                        stockTransfers.collectionChanged.addHandler(function (sender, args) {
                            updateNavigateButtonsStockTransfer();
                        });
                        stockTransfers.currentChanged.addHandler(function (sender, args) {
                            updateDetails();
                        });

                        // Flex Grid
                        stockTransferGrid.itemsSource = stockTransfers;
                        stockTransferGrid.trackChanges = true;
                    },
                    404: function () {
                        toastr.error("Not Found");
                        $('#deleteStockTransferConfirm').modal('hide');
                        $("#cmdConfirmDeleteStockTransfer").prop("disabled", false);
                        $("#cmdConfirmDeleteCloseButton").prop("disabled", false);
                    },
                    400: function () {
                        toastr.error("Bad Request");
                        $('#deleteStockTransferConfirm').modal('hide');
                        $("#cmdConfirmDeleteStockTransfer").prop("disabled", false);
                        $("#cmdConfirmDeleteCloseButton").prop("disabled", false);
                    }
                }
            });
        }

        // ===================
        // FlexGrid Selection
        // ===================
        function updateDetails() {
            var item = stockTransfers.currentItem;
            document.getElementById('createdBy').innerHTML = item.CreatedBy;
            document.getElementById('createdDate').innerHTML = item.CreatedDateTime;
            document.getElementById('updatedBy').innerHTML = item.UpdatedBy;
            document.getElementById('updatedDate').innerHTML = item.UpdatedDateTime;
        }

        // ===============================
        // Navigation Buttons for Comapany
        // ===============================
        function updateNavigateButtonsStockTransfer() {
            if (stockTransfers.pageSize <= 0) {
                document.getElementById('naviagtionPageGrid').style.display = 'none';
                return;
            }
            document.getElementById('naviagtionPageGrid').style.display = 'block';
            if (stockTransfers.pageIndex === 0) {
                btnFirstPageGrid.setAttribute('disabled', 'disabled');
                btnPreviousPageGrid.setAttribute('disabled', 'disabled');
                btnNextPageGrid.removeAttribute('disabled');
                btnLastPageGrid.removeAttribute('disabled');
            } else if (stockTransfers.pageIndex === (stockTransfers.pageCount - 1)) {
                btnFirstPageGrid.removeAttribute('disabled');
                btnPreviousPageGrid.removeAttribute('disabled');
                btnLastPageGrid.setAttribute('disabled', 'disabled');
                btnNextPageGrid.setAttribute('disabled', 'disabled');
            } else {
                btnFirstPageGrid.removeAttribute('disabled');
                btnPreviousPageGrid.removeAttribute('disabled');
                btnNextPageGrid.removeAttribute('disabled');
                btnLastPageGrid.removeAttribute('disabled');
            }
            btnCurrentPageGrid.innerHTML = (stockTransfers.pageIndex + 1) + ' / ' + stockTransfers.pageCount;
        }

        // ===========
        // OnLoad Page
        // ===========
        $(document).ready(function () {
            var STDateFilter_Date = new Date();
            document.getElementById("filterDate_data").value = [STDateFilter_Date.getMonth() + 1, STDateFilter_Date.getDate(), STDateFilter_Date.getFullYear()].join('-');
            document.getElementById("filterEndDate_data").value = [STDateFilter_Date.getMonth() + 1, STDateFilter_Date.getDate(), STDateFilter_Date.getFullYear()].join('-');

            var cboFilterDate;
            cboFilterDate = new wijmo.input.InputDate('#filterDate', {
                format: 'MM/dd/yyyy',
                value: new Date(),
                mask: '99/99/9999',
                onValueChanged: function () {
                    if (!isFirstSelect) {
                        document.getElementById('filterDate_data').value = [this.value.getMonth() + 1, this.value.getDate(), this.value.getFullYear()].join('-');
                        var STDateFilterValue = document.getElementById('filterDate_data').value;

                        $('body').removeClass('modal-open');
                        $(".modal-backdrop").remove();

                        stockTransfers = new wijmo.collections.CollectionView(getStockTransferFilterBySTDate(STDateFilterValue));
                        stockTransfers.canFilter = true;
                        stockTransfers.pageSize = 15;

                        var filterText = '';
                        $('#InputFilter').keyup(function () {
                            filterText = this.value.toLowerCase();
                            stockTransfers.refresh();
                        });
                        stockTransfers.filter = function (item) {
                            return !filterText || (item.STNumber.toLowerCase().indexOf(filterText) > -1)
                                               || (item.Branch.toLowerCase().indexOf(filterText) > -1)
                                               || (item.ToBranch.toLowerCase().indexOf(filterText) > -1);
                        }
                        stockTransfers.collectionChanged.addHandler(function (sender, args) {
                            updateNavigateButtonsStockTransfer();
                        });
                        stockTransfers.currentChanged.addHandler(function (sender, args) {
                            updateDetails();
                        });

                        stockTransferGrid.itemsSource = stockTransfers;
                        stockTransferGrid.trackChanges = true;

                        updateNavigateButtonsStockTransfer();
                    } else {
                        isFirstSelect = false;
                    }
                }
            });

            var cboFilterEndDate;
            cboFilterEndDate = new wijmo.input.InputDate('#filterEndDate', {
                format: 'MM/dd/yyyy',
                value: new Date(),
                mask: '99/99/9999',
                onValueChanged: function () {
                    if (!isFirstSelectEndDate) {
                        document.getElementById('filterEndDate_data').value = [this.value.getMonth() + 1, this.value.getDate(), this.value.getFullYear()].join('-');
                        var STDateFilterValue = document.getElementById('filterEndDate_data').value;

                        $('body').removeClass('modal-open');
                        $(".modal-backdrop").remove();

                        stockTransfers = new wijmo.collections.CollectionView(getStockTransferFilterBySTDate(STDateFilterValue));
                        stockTransfers.canFilter = true;
                        stockTransfers.pageSize = 15;

                        var filterText = '';
                        $('#InputFilter').keyup(function () {
                            filterText = this.value.toLowerCase();
                            stockTransfers.refresh();
                        });
                        stockTransfers.filter = function (item) {
                            return !filterText || (item.STNumber.toLowerCase().indexOf(filterText) > -1)
                                               || (item.Branch.toLowerCase().indexOf(filterText) > -1)
                                               || (item.ToBranch.toLowerCase().indexOf(filterText) > -1);
                        }
                        stockTransfers.collectionChanged.addHandler(function (sender, args) {
                            updateNavigateButtonsStockTransfer();
                        });
                        stockTransfers.currentChanged.addHandler(function (sender, args) {
                            updateDetails();
                        });

                        stockTransferGrid.itemsSource = stockTransfers;
                        stockTransferGrid.trackChanges = true;

                        updateNavigateButtonsStockTransfer();
                    } else {
                        isFirstSelectEndDate = false;
                    }
                }
            });


            var STDateFilter = document.getElementById('filterDate_data').value;
            stockTransfers = new wijmo.collections.CollectionView(getStockTransferFilterBySTDate());
            stockTransfers.canFilter = true;
            stockTransfers.pageSize = 15;

            var filterText = '';
            $('#InputFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                stockTransfers.refresh();
            });
            stockTransfers.filter = function (item) {
                return !filterText || (item.STNumber.toLowerCase().indexOf(filterText) > -1)
                                   || (item.Branch.toLowerCase().indexOf(filterText) > -1)
                                   || (item.ToBranch.toLowerCase().indexOf(filterText) > -1);
            }
            stockTransfers.collectionChanged.addHandler(function (sender, args) {
                updateNavigateButtonsStockTransfer();
            });
            stockTransfers.currentChanged.addHandler(function (sender, args) {
                updateDetails();
            });

            // Flex Grid
            stockTransferGrid = new wijmo.grid.FlexGrid('#StockTransferGrid');
            stockTransferGrid.initialize({
                columns: [
                            {
                                "header": "Edit",
                                "binding": "EditId",
                                "width": 70,
                                "align": "center",
                                "allowResizing": false,
                                "allowSorting": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "Delete",
                                "binding": "DeleteId",
                                "width": 70,
                                "align": "center",
                                "allowResizing": false,
                                "allowSorting": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "ST Number",
                                "binding": "STNumber",
                                "allowSorting": true,
                                "width": 110,
                            },
                            {
                                "header": "ST Date",
                                "binding": "STDate",
                                "allowSorting": true,
                                "width": 100
                            },
                            {
                                "header": "From Branch",
                                "binding": "Branch",
                                "allowSorting": true,
                                "width": 340
                            },
                            {
                                "header": "To Branch",
                                "binding": "ToBranch",
                                "allowSorting": true,
                                "width": 340
                            },
                            {
                                "header": "L",
                                "binding": "IsLocked",
                                "allowSorting": true,
                                "width": 50
                            }
                ],
                autoGenerateColumns: false,
                itemsSource: stockTransfers,
                isReadOnly: true,
                //frozenColumns: 2,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            stockTransferGrid.trackChanges = true;

            //Navigation button
            btnFirstPageGrid = document.getElementById('btnMoveToFirstPageGrid');
            btnPreviousPageGrid = document.getElementById('btnMoveToPreviousPageGrid');
            btnNextPageGrid = document.getElementById('btnMoveToNextPageGrid');
            btnLastPageGrid = document.getElementById('btnMoveToLastPageGrid');
            btnCurrentPageGrid = document.getElementById('btnCurrentPageGrid');

            updateNavigateButtonsStockTransfer();

            btnFirstPageGrid.addEventListener('click', function () {
                stockTransfers.moveToFirstPage();
                updateNavigateButtonsStockTransfer();
            });
            btnPreviousPageGrid.addEventListener('click', function () {
                stockTransfers.moveToPreviousPage();
                updateNavigateButtonsStockTransfer();
            });
            btnNextPageGrid.addEventListener('click', function () {
                stockTransfers.moveToNextPage();
                updateNavigateButtonsStockTransfer();
            });
            btnLastPageGrid.addEventListener('click', function () {
                stockTransfers.moveToLastPage();
                updateNavigateButtonsStockTransfer();
            });

            var canAdd = "@ViewData["CanAdd"]";
            if (canAdd == "True") {
                $("#btnAddStockTransfer").prop("disabled", false)
            } else if (canAdd == "False") {
                $("#btnAddStockTransfer").prop("disabled", true)
            } else {
                $("#btnAddStockTransfer").prop("disabled", true)
            }
        });
    </script>
    <script type="text/javascript">
        var cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches');
        function getUserBranches() {
            $("#loadingUserBranches").show();
            document.getElementById("loadingUserBranches").innerHTML = '<i class="fa fa-spinner fa-spin"></i>';
            $("#userBranchContent").hide();

            $('#userBranchesModal').modal({ show: true, backdrop: 'static' });

            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
            $("#updateUserBranch").prop("disabled", false);
            $("#closeUserBranch").prop("disabled", false);

            var userBranchesObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/userBranch/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (userBranchesResults) {
                    if (userBranchesResults.length > 0) {
                        for (i = 0; i < userBranchesResults.length; i++) {
                            userBranchesObservableArray.push({
                                BranchId: userBranchesResults[i]["BranchId"],
                                Branch: userBranchesResults[i]["Branch"]
                            });
                        }
                    }

                    var currentBranch = "@ViewData["BranchId"]";
                    cboUserBranches.dispose();
                    cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches', {
                        isEditable: false,
                        placeholder: "Select Branches",
                        itemsSource: userBranchesObservableArray,
                        displayMemberPath: "Branch",
                        selectedValuePath: "BranchId",
                        selectedValue: currentBranch
                    });

                    setTimeout(function () {
                        $("#loadingUserBranches").hide();
                        $("#userBranchContent").show();
                    }, 500)
                }
            });
        }

        function updateUserBranchOnclick() {
            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Updating";
            $("#updateUserBranch").prop("disabled", true);
            $("#closeUserBranch").prop("disabled", true);

            var userBranchObject = new Object();
            userBranchObject.BranchId = cboUserBranches.selectedValue;
            var userBranchData = JSON.stringify(userBranchObject);

            $.ajax({
                type: "PUT",
                url: '/api/userBranch/update',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: userBranchData,
                statusCode: {
                    200: function () {
                        toastr.success("Update Successful");
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function () {
                        toastr.error("Not Found");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    },
                    500: function () {
                        toastr.error("Bad Request");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    }
                }
            });
        }
    </script>
    <script type="text/javascript">
        var slideLeft = new Menu({
            wrapper: '#o-wrapper',
            type: 'slide-left',
            menuOpenerClass: '.c-button',
            maskId: '#c-mask'
        });

        var slideLeftBtn = document.querySelector('#c-button--slide-left');

        slideLeftBtn.addEventListener('click', function (e) {
            e.preventDefault;
            slideLeft.open();
        });
    </script>
</body>
</html>