@{
    var branchId = Request.QueryString["BranchId"];
    var stockOutId = Request.QueryString["StockOutId"];
    var userId = ViewData["UserId"];
}
<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Some slide and push menu demos using CSS3 transitions.">

    <!-- Title of the Page -->
    <title>Stock Out Detail</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Font-Awesome/css")
    @Styles.Render("~/Content/Software-css")
    @Styles.Render("~/WijmoCSS/Wijmo-css")
</head>
<body>
    <div id="wrapper" class="wrapper">
        <!-- Header -->
        @Html.Partial("_SoftwareHeader")

        <!-- Section -->
        <section>
            <br /><br /><br />
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h4><i class="fa fa-dropbox fa-2x"></i>  Stock Out Detail</h4>
                        <br />
                        <div class="div_Current_Page">
                            <span id="currentPage"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4 id="stockOutDetailLabel"></h4>
                    </div>
                    <div class="col-md-6" align="right">
                        <button class="btn btn-primary btn-sm" id="cmdStockOutJournal"><i class="fa fa-book"></i> Journal</button>
                        <button class="btn btn-primary btn-sm" id="cmdStockOutSave" onclick="btnStockOutSave_OnClick()"><i class="fa fa-save"></i> Save</button>
                        <button class="btn btn-primary btn-sm" id="cmdStockOutEdit"><i class="fa fa-edit"></i> Edit</button>
                        <button class="btn btn-primary btn-sm" id="cmdStockOutPrint" onclick="window.location.href ='@Url.Action("StockOutPDF", "Software", new { StockOutId = stockOutId })'"><i class="fa fa-print"></i> Print</button>
                        <button onclick="window.location.href = '@Url.Action("StockOut", "Software", new { BranchId = branchId })'" class="btn btn-danger btn-sm" id="cmdStockOutClose"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
                @*<hr />*@
                <div class="well">
                    <form class="form-horizontal" role="form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Branch:</label>
                                    <div class="col-sm-8">
                                        <div class="comboBox-wide" id="StockOut_Branch"></div>

                                        <input type="hidden" id="StockOut_Branch_data" class="requiredStockOut" />
                                        <input type="hidden" id="StockOut_Branch_selectedValue" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">OT Number:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control input-sm requiredStockOut" id="StockOut_OTNumber" />
                                        <input type="hidden" id="StockOut_OTNumber_Display" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">OT Date:</label>
                                    <div class="col-sm-8">
                                        <div class="comboBox-wide" id="StockOut_OTDate"></div>
                                        <input type="hidden" id="StockOut_OTDate_data" class="requiredStockOut" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Account:</label>
                                    <div class="col-sm-8">
                                        <div class="comboBox-wide" id="StockOut_Account"></div>

                                        <input type="hidden" id="StockOut_Account_data" class="requiredStockOut" />
                                        <input type="hidden" id="StockOut_Account_selectedValue" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Article:</label>
                                    <div class="col-sm-8">
                                        <div class="comboBox-wide" id="StockOut_Article"></div>

                                        <input type="hidden" id="StockOut_Article_data" class="requiredStockOut" />
                                        <input type="hidden" id="StockOut_Article_selectedValue" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Particulars:</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control textarea-custom requiredStockOut" id="StockOut_Particulars"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Manual OT Number:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control input-sm requiredStockOut" id="StockOUt_ManualOTNumber">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Prepared by:</label>
                                    <div class="col-sm-8">
                                        <div class="comboBox-wide" id="StockOut_PreparedBy"></div>

                                        <input type="hidden" id="StockOut_PreparedBy_data" class="requiredStockOut" />
                                        <input type="hidden" id="StockOut_PreparedBy_selectedValue" />
                                        <input type="hidden" id="userId_data" value="@userId" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Checked by:</label>
                                    <div class="col-sm-8">
                                        <div class="comboBox-wide" id="StockOut_CheckedBy"></div>

                                        <input type="hidden" id="StockOut_CheckedBy_data" class="requiredStockOut" />
                                        <input type="hidden" id="StockOut_CheckedBy_selectedValue" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Approved by:</label>
                                    <div class="col-sm-8">
                                        <div class="comboBox-wide" id="StockOut_ApprovedBy"></div>

                                        <input type="hidden" id="StockOut_ApprovedBy_data" class="requiredStockOut" />
                                        <input type="hidden" id="StockOut_ApprovedBy_selectedValue" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Lock:</label>
                                    <div class="col-sm-8">
                                        <input type="checkbox" id="StockOut_Lock">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-8">
                                        <button type="button" class="btn btn-primary btn-sm">FA Disposal</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-8">
                                        <input type="hidden" id="StockOut_IsLocked">
                                        <input type="hidden" id="StockOut_IsLocked_defaultTrue">
                                        <input type="hidden" id="StockOut_IsLocked_defaultFalse">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h4>Stock Out Line</h4>
                    </div>
                </div>
                <!-- Stock Out line -->
                <ul class="nav nav-tabs" role="tablist" id="myTab">
                    <li role="presentation" class="active"><a data-toggle="tab" href="#Items" id="itemTabId">Items</a></li>
                    @*<li role="presentation"><a data-toggle="tab" href="#InventoryEntries" id="inventoryEntryTabId">Inventory Entries</a></li>*@
                </ul>
                <br />
                <div class="tab-content">
                    <div id="Items" class="tab-pane fade in active">
                        <!-- Item  List -->
                        <div class="row">
                            <div class="col-lg-12">
                                <h4>Items</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                    <input type="text" class="form-control input-sm" id="InputFilterItem" placeholder="Search">
                                </div>
                            </div>
                            <div class="col-lg-8" align="right">
                                <button class="btn btn-primary btn-sm" onclick="cmdStockOutItem_OnClick()"><i class="fa fa-plus"></i> Add</button>
                            </div>
                        </div>
                        <br />
                        <div class="row" align="left">
                            <div class="col-lg-12">
                                <div id="ItemGrid" class="grid" align="left"></div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="btn-group col-md-7" id="navigationPageGridItem">
                                <button type="button" class="btn btn-default" id="btnMoveToFirstPageGridItem">
                                    <span class="glyphicon glyphicon-fast-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default" id="btnMoveToPreviousPageGridItem">
                                    <span class="glyphicon glyphicon-step-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default" disabled style="width: 100px" id="btnCurrentPageGridItem"></button>
                                <button type="button" class="btn btn-default" id="btnMoveToNextPageGridItem">
                                    <span class="glyphicon glyphicon-step-forward"></span>
                                </button>
                                <button type="button" class="btn btn-default" id="btnMoveToLastPageGridItem">
                                    <span class="glyphicon glyphicon-fast-forward"></span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div id="InventoryEntries" class="tab-pane fade in active">
                        <!-- Inventory Entries List -->
                        <div class="row">
                            <div class="col-lg-12">
                                <h4>Inventory Entries</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                    <input type="text" class="form-control input-sm" id="InputFilterInventoryEntry" placeholder="Search">
                                </div>
                            </div>
                            <div class="col-lg-8" align="right">
                                <button class="btn btn-primary btn-sm" onclick="cmdAddNewAccount_OnClick()"><i class="fa fa-plus"></i> Add</button>
                            </div>
                        </div>
                        <br />
                        <div class="row" align="left">
                            <div class="col-lg-12">
                                <div id="InventoryEntryGrid" class="grid" align="left"></div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="btn-group col-md-7" id="navigationPageGridInventoryEntry">
                                <button type="button" class="btn btn-default" id="btnMoveToFirstPageGridInventoryEntry">
                                    <span class="glyphicon glyphicon-fast-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default" id="btnMoveToPreviousPageGridInventoryEntry">
                                    <span class="glyphicon glyphicon-step-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default" disabled style="width: 100px" id="btnCurrentPageGridInventoryEntry"></button>
                                <button type="button" class="btn btn-default" id="btnMoveToNextPageGridInventoryEntry">
                                    <span class="glyphicon glyphicon-step-forward"></span>
                                </button>
                                <button type="button" class="btn btn-default" id="btnMoveToLastPageGridInventoryEntry">
                                    <span class="glyphicon glyphicon-fast-forward"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ===================== -->
        <!-- Stock Out Item Detail -->
        <!-- ===================== -->
        <div class="modal fade" id="stockOutItemsEdit" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="stockOutItemsModalLabel">Stock-Out Item - Detail</h4>
                    </div>
                    <div class="modal-body">
                        <form id="stockOutItemsDetailForm">
                            <input type="text" id="stockOutItem_Id" />
                            <div class="row">
                                <div class="col-md-6">
                                    <dl class="dl-horizontal">
                                        <dt>Item Code:</dt>
                                        <dd>
                                            <div class="comboBox-wide" id="stockOutItem_ItemCode"></div>

                                            <input type="text" id="stockOutItem_ItemId_data" class="requiredStockOutItem">
                                            <input type="text" id="stockOutItem_ItemCode_selectedValue" />
                                        </dd>
                                        <dt>Item Description:</dt>
                                        <dd>
                                            <div class="comboBox-wide" id="stockOutItem_ItemDescription"></div>

                                            <input type="text" id="stockInItem_ItemDescription_selectedValue" />
                                        </dd>
                                        <dt>Particulars:</dt>
                                        <dd><textarea class="form-control textarea-custom requiredStockOutItem" id="stockOutItem_Particulars"></textarea></dd>
                                        <dt>Item Inventory Code:</dt>
                                        <dd>
                                            <div class="comboBox-wide" id="stockOutItem_ItemInventoryCode"></div>

                                            <input type="text" id="stockOutItem_ItemInventoryCode_data" class="requiredStockOutItem">
                                            <input type="text" id="stockOutItem_ItemInventoryCode_selectedValue" />
                                        </dd>
                                        <dt>Quantity:</dt>
                                        <dd><input type="text" class="form-control input-sm requiredStockOutItem" id="stockOutItem_Quantity" /></dd>
                                        <dt>Unit:</dt>
                                        <dd>
                                            <div class="comboBox-wide" id="stockOutItem_Unit"></div>

                                            <input type="text" id="stockOutItem_Unit_data" class="requiredStockOutItem">
                                            <input type="text" id="stockOutItem_Unit_selectedValue" />
                                        </dd>
                                        <dt>Cost:</dt>
                                        <dd><input type="text" class="form-control input-sm requiredStockOutItem" id="stockOutItem_Cost" /></dd>
                                        <dt>Amount:</dt>
                                        <dd><input type="text" class="form-control input-sm requiredStockOutItem" id="stockOutItem_Amount" /></dd>
                                    </dl>
                                </div>
                                <div class="col-md-6">
                                    <dl class="dl-horizontal">
                                        <dt></dt>
                                        <dd>
                                            <center><label>Basic Unit Conversion</label></center>
                                            <br />
                                        </dd>
                                        <dt>Unit:</dt>
                                        <dd>
                                            <div class="comboBox-wide" id="stockOutItem_BUCUnit"></div>

                                            <input type="text" id="stockOutItem_BUCUnit_data" class="requiredStockOutItem">
                                            <input type="text" id="stockOutItem_BUCUnit_selectedValue" />
                                        </dd>
                                        <dt>Quantity:</dt>
                                        <dd><input type="text" class="form-control input-sm requiredStockOutItem" id="stockOutItem_BUCQuantity" /></dd>
                                        <dt>Cost:</dt>
                                        <dd><input type="text" class="form-control input-sm requiredStockOutItem" id="stockOutItem_BUCCost" /></dd>
                                        <dt></dt>
                                        <dd>
                                            <br />
                                            <br />
                                        </dd>
                                        <dt>Expense Amount:</dt>
                                        <dd>
                                            <div class="comboBox-wide" id="stockOutItem_Unit"></div>

                                            <input type="text" id="stockOutItem_Unit_data" class="requiredStockOutItem">
                                            <input type="text" id="stockOutItem_Unit_selectedValue" />
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary btn-sm" id="cmdSaveStockOutItemButton" onclick="cmdStockOutItemSaveButton_OnClick()"><i class="fa fa-save"></i> Save</button>
                        <button id="cmdStockOutItemDetailCloseButton" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- ========================================= -->
        <!-- Stock Out Items Delete Modal Confirmation -->
        <!-- ========================================= -->
        <div class="modal fade" id="deletStockOutItemsConfirm" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Delete Stock-Out Item <i class="fa fa-trash"></i></h4>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this?
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger btn-sm" id="cmdConfirmDeleteStockOutItems" onclick="cmdStockOutItemsConfirmDeleteButton_OnClick()"><i class="fa fa-trash"></i> Delete</button>
                        <button id="cmdConfirmDeleteStockOutItemsCloseButton" class="btn btn-primary btn-sm" data-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Loading Modal -->
        <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="Loading..." aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class=" modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <h4>Loading ...</h4>
                    </div>
                    <div class="modal-footer">
                        <img class="img-thumbnail img-responsive center-block img-custom" src='~/images/loading/progress_bar.gif'>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        @Html.Partial("_SoftwareFooter")
    </div>

    <!-- SideBar Menu -->
    @Html.Partial("_SoftwareSideBarMenu")

    <div id="c-mask" class="c-mask"></div><!-- /c-mask -->
    <!-- Scripts JavaScripts -->
    @Scripts.Render("~/Scripts/Software-js")
    @Scripts.Render("~/WijmoScripts/Wijmo-js")
    <script type="text/javascript">
        // ================
        // Global Variables
        // ================
        var stockOuts;
        var branches;
        var accounts;
        var articles;
        var users;
        var OTDate;
        var cboBranch;
        var cboForAccount;
        var cboArticle;
        var cboPreparedBy;
        var cboCheckedBy;
        var cboApprovedBy;

        // ==================
        // GET Stock out List
        // ==================
        function getStockOutById() {
            stockOuts = new wijmo.collections.ObservableArray;
            var stockOutId = @stockOutId;
            $('#loadingModal').modal('show');
            $.ajax({
                url: '/api/stockOut/' + stockOutId,
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (Results) {
                    $('#loadingModal').modal('hide');
                    if (Results.length > 0) {
                        stockOuts.push({
                            Id: Results.Id,
                            BranchId: Results.BranchId,
                            Branch: Results.Branch,
                            OTNumber: Results.OTNumber,
                            OTDate: Results.OTDate,
                            AccountId: Results.AccountId,
                            Account: Results.Account,
                            ArticleId: Results.ArticleId,
                            Article: Results.Article,
                            Particulars: Results.Particulars,
                            ManualOTNumber: Results.ManualOTNumber,
                            PreparedById: Results.PreparedById,
                            PreparedBy: Results.PreparedBy,
                            CheckedById: Results.CheckedById,
                            CheckedBy: Results.CheckedBy,
                            ApprovedById: Results.ApprovedById,
                            ApprovedBy: Results.ApprovedBy,
                            IsLocked: Results.IsLocked,
                            CreatedById: Results.CreatedById,
                            CreatedBy: Results.CreatedBy,
                            CreatedDateTime: Results.CreatedDateTime,
                            UpdatedById: Results.UpdatedById,
                            UpdatedBy: Results.UpdatedBy,
                            UpdatedDateTime: Results.UpdatedDateTime
                        });
                    }

                    document.getElementById('StockOut_Branch_data').value = Results.BranchId;
                    document.getElementById('StockOut_Branch_selectedValue').value = Results.Branch;
                    document.getElementById('StockOut_OTNumber').value = Results.OTNumber;
                    document.getElementById('StockOut_OTNumber_Display').value = Results.OTNumber;
                    document.getElementById('StockOut_OTDate_data').value = Results.OTDate;

                    var OTDate_date = Results.OTDate;
                    OTDate.dispose();
                    OTDate = new wijmo.input.InputDate('#StockOut_OTDate', {
                        format: 'MM/dd/yyyy',
                        value: new Date(OTDate_date),
                        mask: '99/99/9999',
                        onValueChanged: function () {
                            document.getElementById('StockOut_OTDate_data').value = this.value.toLocaleDateString();
                        }
                    });

                    document.getElementById('StockOut_Account_data').value = Results.AccountId;
                    document.getElementById('StockOut_Account_selectedValue').value = Results.Account;
                    document.getElementById('StockOut_Article_data').value = Results.ArticleId;
                    document.getElementById('StockOut_Article_selectedValue').value = Results.Article;
                    document.getElementById('StockOut_Particulars').value = Results.Particulars;
                    document.getElementById('StockOUt_ManualOTNumber').value = Results.ManualOTNumber;
                    document.getElementById('StockOut_PreparedBy_data').value = Results.PreparedById;
                    document.getElementById('StockOut_PreparedBy_selectedValue').value = Results.PreparedBy;
                    document.getElementById('StockOut_CheckedBy_data').value = Results.CheckedById;
                    document.getElementById('StockOut_CheckedBy_selectedValue').value = Results.CheckedBy;
                    document.getElementById('StockOut_ApprovedBy_data').value = Results.ApprovedById;
                    document.getElementById('StockOut_ApprovedBy_selectedValue').value = Results.ApprovedBy;
                    document.getElementById('StockOut_Lock').checked = Results.IsLocked;

                    document.getElementById('createdBy').innerHTML = Results.CreatedBy;
                    document.getElementById('createdDate').innerHTML = Results.CreatedDateTime;
                    document.getElementById('updatedBy').innerHTML = Results.UpdatedBy;
                    document.getElementById('updatedDate').innerHTML = Results.UpdatedDateTime;

                    getBranchesForComboBox();
                    getAccountForComboBox();
                    getArticlesForComboBox();
                    getUsersForComboBox();
                }
            }).fail(function (xhr, textStatus, err) {
                alert(err);
            });
            return stockOuts;
        }

        // =====================
        // GET Stock Out Last Id
        // =====================
        function getStockOutLastId() {
            stockOuts = new wijmo.collections.ObservableArray;
            $.ajax({
                url: '/api/stockOutLastId',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (Results) {
                    if (Results.length > 0) {
                        stockOuts.push({
                            Id: Results.Id,
                            OTNumber: Results.OTNumber
                        });
                    }
                    window.location = '/Software/StockOutDetail?StockOutId=' + Results.Id + '&BranchId=' + @branchId;
                    window.setTimeout(function () { location.reload() }, 1000);
                }
            });
            return stockOuts;
        }

        // ========================
        // GET Branch for Combo Box
        // ========================
        function getBranchesForComboBox() {
            branches = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/listBranch',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (results) {
                    if (results.length > 0) {
                        for (i = 0; i < results.length; i++) {
                            branches.push({
                                BranchId: results[i]["Id"],
                                BranchBranch: results[i]["Branch"]
                            });
                        }

                        var stockOutId = @stockOutId;
                        if(stockOutId == 0) {
                            $.ajax({
                                url: '/api/listBranchById/' + @branchId,
                                cache: false,
                                type: 'GET',
                                contentType: 'application/json; charset=utf-8',
                                data: {},
                                success: function (results) {
                                    if (results.length > 0) {
                                        branches.push({
                                            BranchId: results.Id,
                                            Branch: results.Branch
                                        });
                                    }
                                    document.getElementById('StockOut_Branch_data').value = results.Id;
                                    document.getElementById('StockOut_Branch_selectedValue').value = results.Branch;

                                    createCboBranch(branches);
                                }
                            });
                        } else {
                            createCboBranch(branches);
                        }
                    }
                }
            }).fail(function (xhr, textStatus, err) {
                alert(err);
            }
                    );
            return branches;
        }

        // ======================
        // Combo Box for Branches
        // ======================
        function createCboBranch(branches) {
            var branchCollections = new wijmo.collections.CollectionView(branches);
            var branchList = new Array();
            for (var i = 0; i < branchCollections.items.length; i++) {
                branchList.push(branchCollections.items[i].BranchBranch);
            }

            cboBranch.dispose();
            cboBranch = new wijmo.input.ComboBox('#StockOut_Branch', {
                disabled: true,
                placeholder: "Select Branch",
                itemsSource: branchList,
                isEditable: false,
                required: false,
                selectedValue: document.getElementById('StockOut_Branch_selectedValue').value.toString(),
                onSelectedIndexChanged: function () {
                    $("#StockOut_Branch_data").val(branchCollections.items[this.selectedIndex].BranchId);
                }
            });
        }

        // =====================
        // Get Stock Out Account
        // =====================
        function getAccountForComboBox() {
            accounts = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/listAccount',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (results) {
                    if (results.length > 0) {
                        for (i = 0; i < results.length; i++) {
                            accounts.push({
                                AccountId: results[i]["Id"],
                                AccountAccount: results[i]["Account"]
                            });
                        }
                        createCboForAccount(accounts);
                    }
                }
            }).fail(function (xhr, textStatus, err) {
                alert(err);
            }
            );
        }

        // ===============
        // CBO for Account
        // ===============
        function  createCboForAccount(accounts) {
            var accountCollection = new wijmo.collections.CollectionView(accounts);
            var accountList = new Array();
            for (var i = 0; i < accountCollection.items.length; i++) {
                accountList.push(accountCollection.items[i].AccountAccount);
            }

            cboForAccount.dispose();
            cboForAccount = new wijmo.input.ComboBox('#StockOut_Account', {
                disabled: false,
                placeholder: "Select Account",
                itemsSource: accountList,
                isEditable: false,
                required: false,
                selectedValue: document.getElementById('StockOut_Account_selectedValue').value.toString(),
                onSelectedIndexChanged: function () {
                    $("#StockOut_Account_data").val(accountCollection.items[this.selectedIndex].AccountId);
                }
            });
        }


        // ==========================
        // GET Articles for Combo Box
        // ==========================
        function getArticlesForComboBox() {
            articles = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/listArticle',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (results) {
                    if (results.length > 0) {
                        for (i = 0; i < results.length; i++) {
                            articles.push({
                                ArticleId: results[i]["Id"],
                                ArticleArticle: results[i]["Article"]
                            });
                        }
                        createCboArticles(articles);
                    }
                }
            }).fail(function (xhr, textStatus, err) {
                alert(err);
            }
            );
        }

        // ======================
        // Combo Box for Articles
        // ======================
        function createCboArticles(articles) {
            var articleCollections = new wijmo.collections.CollectionView(articles);
            var articleList = new Array();
            for (var i = 0; i < articleCollections.items.length; i++) {
                articleList.push(articleCollections.items[i].ArticleArticle);
            }

            cboArticle.dispose();
            cboArticle = new wijmo.input.ComboBox('#StockOut_Article', {
                placeholder: "Select Article",
                itemsSource: articleList,
                isEditable: false,
                required: false,
                selectedValue: document.getElementById('StockOut_Article_selectedValue').value.toString(),
                onSelectedIndexChanged: function () {
                    $("#StockOut_Article_data").val(articleCollections.items[this.selectedIndex].ArticleId);
                }
            });
        }

        // =======================
        // GET Users for Combo Box
        // =======================
        function getUsersForComboBox() {
            users = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/listUser',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (results) {
                    if (results.length > 0) {
                        for (i = 0; i < results.length; i++) {
                            users.push({
                                UserId: results[i]["Id"],
                                UserFullName: results[i]["FullName"]
                            });
                        }

                        var stockOutId = @stockOutId;
                        if(stockOutId == 0) {
                            var userId = document.getElementById('userId_data').value;
                            $.ajax({
                                url: '/api/listByMstUserId/' + userId,
                                cache: false,
                                type: 'GET',
                                contentType: 'application/json; charset=utf-8',
                                data: {},
                                success: function (results) {
                                    if (results.length > 0) {
                                        users.push({
                                            UserId: results.Id,
                                            UserFullName: results.FullName
                                        });
                                    }

                                    document.getElementById('StockOut_PreparedBy_data').value = results.Id;
                                    document.getElementById('StockOut_PreparedBy_selectedValue').value =  results.FullName;

                                    createCboUserPreparedBy(users);
                                    createCboUserCheckedBy(users);
                                    createCboUserApprovedBy(users);
                                }
                            });
                        } else {
                            createCboUserPreparedBy(users);
                            createCboUserCheckedBy(users);
                            createCboUserApprovedBy(users);

                        }
                    }
                }
            }).fail(function (xhr, textStatus, err) {
                alert(err);
            });
            return users;
        }

        // ==================================
        // Combo Box for Users - Prepared By
        // ==================================
        function createCboUserPreparedBy(users) {
            var usersCollection = new wijmo.collections.CollectionView(users);
            var userList = new Array();
            for (var i = 0; i < usersCollection.items.length; i++) {
                userList.push(usersCollection.items[i].UserFullName);
            }

            cboPreparedBy.dispose();
            cboPreparedBy = new wijmo.input.ComboBox('#StockOut_PreparedBy', {
                disabled: true,
                placeholder: "Select User",
                itemsSource: userList,
                isEditable: false,
                required: false,
                selectedValue: document.getElementById('StockOut_PreparedBy_selectedValue').value.toString(),
                onSelectedIndexChanged: function () {
                    $("#StockOut_PreparedBy_data").val(usersCollection.items[this.selectedIndex].UserId);
                }
            });
        }

        // ==================================
        // Combo Box for Users - Checked By
        // ==================================
        function createCboUserCheckedBy(users) {
            var usersCollection = new wijmo.collections.CollectionView(users);
            var userList = new Array();
            for (var i = 0; i < usersCollection.items.length; i++) {
                userList.push(usersCollection.items[i].UserFullName);
            }

            cboCheckedBy.dispose();
            cboCheckedBy = new wijmo.input.ComboBox('#StockOut_CheckedBy', {
                placeholder: "Select User",
                itemsSource: userList,
                isEditable: false,
                required: false,
                selectedValue: document.getElementById('StockOut_CheckedBy_selectedValue').value.toString(),
                onSelectedIndexChanged: function () {
                    $("#StockOut_CheckedBy_data").val(usersCollection.items[this.selectedIndex].UserId);
                }
            });
        }

        // ==================================
        // Combo Box for Users - Approved By
        // ==================================
        function createCboUserApprovedBy(users) {
            var usersCollection = new wijmo.collections.CollectionView(users);
            var userList = new Array();
            for (var i = 0; i < usersCollection.items.length; i++) {
                userList.push(usersCollection.items[i].UserFullName);
            }

            cboApprovedBy.dispose();
            cboApprovedBy = new wijmo.input.ComboBox('#StockOut_ApprovedBy', {
                placeholder: "Select User",
                itemsSource: userList,
                isEditable: false,
                required: false,
                selectedValue: document.getElementById('StockOut_ApprovedBy_selectedValue').value.toString(),
                onSelectedIndexChanged: function () {
                    $("#StockOut_ApprovedBy_data").val(usersCollection.items[this.selectedIndex].UserId);
                }
            });
        }

        // =====================================================
        // Function with leading zeroes to display the OT Number
        // =====================================================
        function zerofill(number, length) {
            var result = number.toString();
            var pad = length - result.length;
            while(pad > 0) {
                result = '0' + result;
                pad--;
            }
            return result;
        }

        // =============
        // Add Stock Out
        // =============
        function btnStockOutSave_OnClick() {
            var stockOutObject = new Object();
            var stockOutId = @stockOutId;
            stockOutObject.BranchId = document.getElementById('StockOut_Branch_data').value;
            stockOutObject.OTNumber = document.getElementById('StockOut_OTNumber').value;
            stockOutObject.OTDate = document.getElementById('StockOut_OTDate_data').value;
            stockOutObject.AccountId = document.getElementById('StockOut_Account_data').value;
            stockOutObject.ArticleId = document.getElementById('StockOut_Article_data').value;
            stockOutObject.Particulars = document.getElementById('StockOut_Particulars').value;
            stockOutObject.ManualOTNumber = document.getElementById('StockOUt_ManualOTNumber').value;
            stockOutObject.PreparedById = document.getElementById('StockOut_PreparedBy_data').value;
            stockOutObject.CheckedById = document.getElementById('StockOut_CheckedBy_data').value;
            stockOutObject.ApprovedById = document.getElementById('StockOut_ApprovedBy_data').value;
            var data = JSON.stringify(stockOutObject);

            if( document.getElementById('StockOut_Branch_data').value == '') {
                document.getElementById("StockOut_Branch").style.border = "1px solid red";
            } else {
                document.getElementById("StockOut_Branch").style.border = "1px solid #C8C8C8   ";
            }

            if( document.getElementById('StockOut_Account_data').value == '') {
                document.getElementById("StockOut_Account").style.border = "1px solid red";
            } else {
                document.getElementById("StockOut_Account").style.border = "1px solid #C8C8C8   ";
            }

            if( document.getElementById('StockOut_Article_data').value == '') {
                document.getElementById("StockOut_Article").style.border = "1px solid red";
            } else {
                document.getElementById("StockOut_Article").style.border = "1px solid #C8C8C8   ";
            }

            if( document.getElementById('StockOut_PreparedBy_data').value == '') {
                document.getElementById("StockOut_PreparedBy").style.border = "1px solid red";
            } else {
                document.getElementById("StockOut_PreparedBy").style.border = "1px solid #C8C8C8   ";
            }

            if( document.getElementById('StockOut_CheckedBy_data').value == '') {
                document.getElementById("StockOut_CheckedBy").style.border = "1px solid red";
            } else {
                document.getElementById("StockOut_CheckedBy").style.border = "1px solid #C8C8C8   ";
            }

            if( document.getElementById('StockOut_ApprovedBy_data').value == '') {
                document.getElementById("StockOut_ApprovedBy").style.border = "1px solid red";
            } else {
                document.getElementById("StockOut_ApprovedBy").style.border = "1px solid #C8C8C8   ";
            }

            var isValid = true;
            $('.requiredStockOut').each(function () {
                if ($.trim($(this).val()) == '') {
                    isValid = false;
                    $(this).css({
                        "border": "1px solid red"
                    });
                }
                else {
                    $(this).css({
                        "border": "",
                    });
                }
            });

            if (isValid == false) {
                toastr.error("Invalid Entry");
                e.preventDefault();
            }
            else {
                if (stockOutId == 0) {
                    $.ajax({
                        type: "POST",
                        url: '/api/addStockOut',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: data,
                        statusCode: {
                            200: function () {
                                $("#cmdStockOutJournal").prop("disabled", true);
                                $("#cmdStockOutSave").prop("disabled", true);
                                $("#cmdStockOutEdit").prop("disabled", true);
                                $("#cmdStockOutPrint").prop("disabled", true);
                                $("#cmdStockOutClose").prop("disabled", true);
                                toastr.success("Successfully Saved");
                                setTimeout(getStockOutLastId, 1000)
                            },
                            404: function () {
                                toastr.error("Can't Save");
                                $("#cmdStockOutJournal").prop("disabled", true);
                                $("#cmdStockOutSave").prop("disabled", true);
                                $("#cmdStockOutEdit").prop("disabled", true);
                                $("#cmdStockOutPrint").prop("disabled", true);
                                $("#cmdStockOutClose").prop("disabled", true);
                            },
                            400: function () {
                                toastr.error("Bad Request");
                                $("#cmdStockOutJournal").prop("disabled", true);
                                $("#cmdStockOutSave").prop("disabled", true);
                                $("#cmdStockOutEdit").prop("disabled", true);
                                $("#cmdStockOutPrint").prop("disabled", true);
                                $("#cmdStockOutClose").prop("disabled", true);
                            }
                        }
                    });
                } else {
                    $.ajax({
                        type: "PUT",
                        url: '/api/updateStockOut/' + stockOutId,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: data,
                        statusCode: {
                            200: function () {
                                $("#cmdStockOutJournal").prop("disabled", true);
                                $("#cmdStockOutSave").prop("disabled", true);
                                $("#cmdStockOutEdit").prop("disabled", true);
                                $("#cmdStockOutPrint").prop("disabled", true);
                                $("#cmdStockOutClose").prop("disabled", true);
                                toastr.success("Successfully Updated");
                                window.setTimeout(function () {
                                    location.reload()
                                }, 1000);
                            },
                            404: function () {
                                toastr.error("Can't Save");
                                $("#cmdStockOutJournal").prop("disabled", true);
                                $("#cmdStockOutSave").prop("disabled", true);
                                $("#cmdStockOutEdit").prop("disabled", true);
                                $("#cmdStockOutPrint").prop("disabled", true);
                                $("#cmdStockOutClose").prop("disabled", true);
                            },
                            400: function () {
                                toastr.error("Bad Request");
                                $("#cmdStockOutJournal").prop("disabled", true);
                                $("#cmdStockOutSave").prop("disabled", true);
                                $("#cmdStockOutEdit").prop("disabled", true);
                                $("#cmdStockOutPrint").prop("disabled", true);
                                $("#cmdStockOutClose").prop("disabled", true);
                            }
                        }
                    });
                }
            }
        }

        // ===========
        // OnLoad Page
        // ===========
        $(document).ready(function () {
            document.getElementById('currentPage').innerHTML = '<a href="@Url.Action("Index", "Software", new { BranchId = branchId })" class="currentPageLinkCustom">Main Menu</a> > ' + ' <a href="@Url.Action("StockOut", "Software", new { BranchId = branchId })" class="currentPageLinkCustom">Sock Out</a> ' + ' > Stock Out Detail';
            document.getElementById('StockOut_OTNumber').disabled = true;
            document.getElementById('StockOut_Lock').disabled = true;

            cboBranch = new wijmo.input.ComboBox('#StockOut_Branch');

            var d = new Date();
            document.getElementById("StockOut_OTDate_data").value = [ d.getMonth()+1, d.getDate(), d.getFullYear()].join('/');
            OTDate = new wijmo.input.InputDate('#StockOut_OTDate', {
                format: 'MM/dd/yyyy',
                value: new Date(),
                mask: '99/99/9999',
                onValueChanged: function () {
                    document.getElementById('StockOut_OTDate_data').value = this.value.toLocaleDateString();
                }
            });

            cboForAccount = new wijmo.input.ComboBox('#StockOut_Account');
            cboArticle = new wijmo.input.ComboBox('#StockOut_Article');
            cboPreparedBy = new wijmo.input.ComboBox('#StockOut_PreparedBy');
            cboCheckedBy = new wijmo.input.ComboBox('#StockOut_CheckedBy');
            cboApprovedBy = new wijmo.input.ComboBox('#StockOut_ApprovedBy');

            getStockOutById();

            var stockOutId = @stockOutId;
            if(stockOutId == 0) {
                getBranchesForComboBox();
                getAccountForComboBox();
                getArticlesForComboBox();
                getUsersForComboBox();

                if(document.getElementById('StockOut_OTNumber').value == 0) {
                    document.getElementById('StockOut_OTNumber_Display').value = "0000000001";
                }

                document.getElementById('StockOut_OTNumber').value = 0;
                //document.getElementById('journalVoucher_No_Display').value = "000-000000";
                var stockOuts = new wijmo.collections.ObservableArray;
                $.ajax({
                    url: '/api/stockOutLastOTNumber',
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    data: {},
                    success: function (Results) {
                        if (Results.length > 0) {
                            stockOuts.push({
                                Id: Results.Id,
                                OTNumber: Results.OTNumber
                            });
                        }
                        var OT_Number = parseInt(Results.OTNumber);
                        var OT_Number_PlusOne = 0000000001;
                        var OT_Num_Results = OT_Number + OT_Number_PlusOne;
                        //var JV_Number_Display = JV_Num_Results.toString().replace(/(\d{3})(\d+)/, '$1-$2');

                        document.getElementById('StockOut_OTNumber').value = zerofill(OT_Num_Results, 10);
                        document.getElementById('StockOut_OTNumber_Display').value = zerofill(OT_Num_Results, 10);
                    }
                });
            }
        });
    </script>

    <!-- ============= -->
    <!-- Items Scripts -->
    <!-- ============= -->
    <script type="text/javascript">
        // ==========================
        // Global Variables for Items
        // ==========================
        var items;
        var itemGrid;

        var btnFirstPageGridItem;
        var btnPreviousPageGridItem;
        var btnNextPageGridItem;
        var btnLastPageGridItem;
        var btnCurrentPageGridItem;

        // =======================
        // GET Stock OUT Item List
        // =======================
        function getItem() {
            var items = new wijmo.collections.ObservableArray;
            var OTId = @stockOutId;
            $('#loadingModal').modal('show');
            $.ajax({
                url: '/api/listStockOutItemByOTId/' + OTId,
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (Results) {
                    $('#loadingModal').modal('hide');
                    if (Results.length > 0) {
                        for (i = 0; i < Results.length; i++) {
                            items.push({
                                EditId: "<button class='btn btn-primary btn-xs btn-block' onclick='btnEditStockOutItem_OnClick()'><i class='fa fa-edit'></i> Edit</button>",
                                DeleteId: "<button class='btn btn-danger btn-xs btn-block' onclick='btnDeleteStockOutItem_OnClick()'><i class='fa fa-trash'></i> Delete</button>",
                                Id: Results[i]["Id"],
                                OTId: Results[i]["OTId"],
                                OT: Results[i]["OT"],
                                ExpenseAccountId: Results[i]["ExpenseAccountId"],
                                ExpenseAccount: Results[i]["ExpenseAccount"],
                                ItemId: Results[i]["ItemId"],
                                ItemCode: Results[i]["ItemCode"],
                                Item: Results[i]["Item"],
                                ItemInventoryId: Results[i]["ItemInventoryId"],
                                ItemInventory: Results[i]["ItemInventory"],
                                Particulars: Results[i]["Particulars"],
                                UnitId: Results[i]["UnitId"],
                                Unit: Results[i]["Unit"],
                                Quantity: Results[i]["Quantity"],
                                Cost: Results[i]["Cost"],
                                Amount: Results[i]["Amount"],
                                BaseUnitId: Results[i]["BaseUnitId"],
                                BaseUnit: Results[i]["BaseUnit"],
                                BaseQuantity: Results[i]["BaseQuantity"],
                                BaseCost: Results[i]["BaseCost"]
                            });
                        }
                    }
                }
            }).fail(function (xhr, textStatus, err) {
                alert(err);
            });
            return items;
        }
        
        // ==================
        // ADD Stock Out Item
        // ==================
        function cmdStockOutItem_OnClick() {
            $('#stockOutItemsEdit').modal({
                show: true,
                backdrop: 'static'
            });
        }

        // ===================
        // Edit Stock Out Item
        // ===================
        function btnEditStockOutItem_OnClick() {
            $('#stockOutItemsEdit').modal({
                show: true,
                backdrop: 'static'
            });
        }

        // =====================
        // Delete Stock Out Item
        // =====================
        function btnDeleteStockOutItem_OnClick() {
            $('#deletStockOutItemsConfirm').modal({
                show: true,
                backdrop: 'static'
            });
        }

        // ============================
        // Navigation Buttons for Items
        // ============================
        function updateNavigateButtonsItem() {
            if (items.pageSize <= 0) {
                document.getElementById('navigationPageGridItem').style.display = 'none';
                return;
            }
            document.getElementById('navigationPageGridItem').style.display = 'block';
            if (items.pageIndex === 0) {
                btnFirstPageGridItem.setAttribute('disabled', 'disabled');
                btnPreviousPageGridItem.setAttribute('disabled', 'disabled');
                btnNextPageGridItem.removeAttribute('disabled');
                btnLastPageGridItem.removeAttribute('disabled');
            } else if (items.pageIndex === (items.pageCount - 1)) {
                btnFirstPageGridItem.removeAttribute('disabled');
                btnPreviousPageGridItem.removeAttribute('disabled');
                btnLastPageGridItem.setAttribute('disabled', 'disabled');
                btnNextPageGridItem.setAttribute('disabled', 'disabled');
            } else {
                btnFirstPageGridItem.removeAttribute('disabled');
                btnPreviousPageGridItem.removeAttribute('disabled');
                btnNextPageGridItem.removeAttribute('disabled');
                btnLastPageGridItem.removeAttribute('disabled');
            }
            btnCurrentPageGridItem.innerHTML = (items.pageIndex + 1) + ' / ' + items.pageCount;
        }

        // ======
        //  Items
        // ======
        function itemTab() {
            items = new wijmo.collections.CollectionView(getItem());
            items.canFilter = true;
            items.pageSize = 15;

            var filterTextItem = '';
            $('#InputFilterItem').keyup(function () {
                filterTextItem = this.value.toLowerCase();
                items.refresh();
            });
            items.filter = function (item) {
                return !filterTextItem || (item.item.toLowerCase().indexOf(filterTextItem) > -1);
            }
            items.collectionChanged.addHandler(function (sender, args) {
                updateNavigateButtonsItem();
            });

            // Flex Grid for Items
            itemGrid = new wijmo.grid.FlexGrid('#ItemGrid');
            itemGrid.initialize({
                columns: [
                            {
                                "header": "Edit",
                                "binding": "EditId",
                                "width": 60,
                                "align": "center",
                                "allowResizing": false,
                                "allowSorting": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "Delete",
                                "binding": "DeleteId",
                                "width": 70,
                                "align": "center",
                                "allowResizing": false,
                                "allowSorting": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "Item Code",
                                "binding": "ItemCode",
                                "allowSorting": true,
                                "width": 150,
                            },
                            {
                                "header": "Item Description",
                                "binding": "Item",
                                "allowSorting": true,
                                "width": 350,
                            },
                            {
                                "header": "Particulars",
                                "binding": "Particulars",
                                "allowSorting": true,
                                "width": 300
                            },
                            {
                                "header": "Item Inventory Code",
                                "binding": "ItemInventory",
                                "allowSorting": true,
                                "width": 200
                            },
                            {
                                "header": "Quantity",
                                "binding": "Quantity",
                                "allowSorting": true,
                                "width": 130
                            },
                            {
                                "header": "Unit",
                                "binding": "Unit",
                                "allowSorting": true,
                                "width": 200
                            },
                            {
                                "header": "Cost",
                                "binding": "Cost",
                                "allowSorting": true,
                                "width": 130
                            },
                             {
                                 "header": "Amount",
                                 "binding": "Amount",
                                 "allowSorting": true,
                                 "width": 130
                             },
                             {
                                 "header": "Unit",
                                 "binding": "BaseUnit",
                                 "allowSorting": true,
                                 "width": 200
                             },
                            {
                                "header": "Quantity",
                                "binding": "BaseQuantity",
                                "allowSorting": true,
                                "width": 130
                            },
                           {
                               "header": "Cost",
                               "binding": "BaseCost",
                               "allowSorting": true,
                               "width": 130
                           },
                           {
                               "header": "Expense Account",
                               "binding": "ExpenseAccount",
                               "allowSorting": true,
                               "width": 250
                           },
                ],
                autoGenerateColumns: false,
                itemsSource: items,
                isReadOnly: true,
                frozenColumns: 2,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            itemGrid.trackChanges = true;

            var hr = new wijmo.grid.Row();
            itemGrid.allowMerging = wijmo.grid.AllowMerging.AllHeaders;
            itemGrid.columnHeaders.rows.push(hr);
            itemGrid.columnHeaders.rows[0].allowMerging = true;

            itemGrid.columnHeaders.columns[0].allowMerging = true;
            itemGrid.columnHeaders.setCellData(0, 0, 'Edit');

            itemGrid.columnHeaders.columns[1].allowMerging = true;
            itemGrid.columnHeaders.setCellData(0, 1, 'Delete');

            itemGrid.columnHeaders.columns[2].allowMerging = true;
            itemGrid.columnHeaders.setCellData(0, 2, 'Item Code');

            itemGrid.columnHeaders.columns[3].allowMerging = true;
            itemGrid.columnHeaders.setCellData(0, 3, 'Item Description');

            itemGrid.columnHeaders.columns[4].allowMerging = true;
            itemGrid.columnHeaders.setCellData(0, 4, 'Particulars');

            itemGrid.columnHeaders.columns[5].allowMerging = true;
            itemGrid.columnHeaders.setCellData(0, 5, 'Item Inventory Code');

            itemGrid.columnHeaders.columns[6].allowMerging = true;
            itemGrid.columnHeaders.setCellData(0, 6, 'Quantity');

            itemGrid.columnHeaders.columns[7].allowMerging = true;
            itemGrid.columnHeaders.setCellData(0, 7, 'Unit');

            itemGrid.columnHeaders.columns[8].allowMerging = true;
            itemGrid.columnHeaders.setCellData(0, 8, 'Cost');

            itemGrid.columnHeaders.columns[9].allowMerging = true;
            itemGrid.columnHeaders.setCellData(0, 9, 'Amount');

            for (var columnBasicUnitConversion = 10; columnBasicUnitConversion <= 12; columnBasicUnitConversion++) {
                itemGrid.columnHeaders.setCellData(0, columnBasicUnitConversion, 'Basic Unit Conversion');
            }

            itemGrid.columnHeaders.columns[13].allowMerging = true;
            itemGrid.columnHeaders.setCellData(0, 13, 'Expense Account');

            //Navigation button for Items
            btnFirstPageGridItem = document.getElementById('btnMoveToFirstPageGridItem');
            btnPreviousPageGridItem = document.getElementById('btnMoveToPreviousPageGridItem');
            btnNextPageGridItem = document.getElementById('btnMoveToNextPageGridItem');
            btnLastPageGridItem = document.getElementById('btnMoveToLastPageGridItem');
            btnCurrentPageGridItem = document.getElementById('btnCurrentPageGridItem');

            updateNavigateButtonsItem();

            btnFirstPageGridItem.addEventListener('click', function () {
                items.moveToFirstPage();
                updateNavigateButtonsItem();
            });
            btnPreviousPageGridItem.addEventListener('click', function () {
                items.moveToPreviousPage();
                updateNavigateButtonsItem();
            });
            btnNextPageGridItem.addEventListener('click', function () {
                items.moveToNextPage();
                updateNavigateButtonsItem();
            });
            btnLastPageGridItem.addEventListener('click', function () {
                items.moveToLastPage();
                updateNavigateButtonsItem();
            });
        }
    </script>

    <!-- ========================= -->
    <!-- Inventory Entries Scripts -->
    <!-- ========================= -->
    <script type="text/javascript">
        // ======================================
        // Global Variables for Inventory Entries
        // ======================================
        var inventoryEntries;
        var inventoryEntryGrid;

        var btnFirstPageGridInventoryEntry;
        var btnPreviousPageGridInventoryEntry;
        var btnNextPageGridInventoryEntry;
        var btnLastPageGridInventoryEntry;
        var btnCurrentPageGridInventoryEntry;

        // ============================
        // GET Contact Information List
        // ============================
        function getInventoryEntry() {
            var inventoryEntries = new wijmo.collections.ObservableArray;
            //$('#loadingModal').modal('show');
            //$.ajax({
            //    url: '/api/listAccount',
            //    cache: false,
            //    type: 'GET',
            //    contentType: 'application/json; charset=utf-8',
            //    data: {},
            //    success: function (Results) {
            //        $('#loadingModal').modal('hide');
            //        if (Results.length > 0) {
            //            for (i = 0; i < Results.length; i++) {
            //                journalLedger.push({
            //                    EditId: "<button class='btn btn-primary btn-xs btn-block' onclick='cmdAccountEditButton_OnClick()'><i class='fa fa-edit'></i> Edit</button>",
            //                    DeleteId: "<button class='btn btn-danger btn-xs btn-block' onclick='cmdAccountDeleteButton_OnClick()'><i class='fa fa-trash'></i> Delete</button>",
            //                    Id: Results[i]["Id"],
            //                    AccountCode: Results[i]["AccountCode"],
            //                    Account: Results[i]["Account"],
            //                    AccountTypeId: Results[i]["AccountTypeId"],
            //                    AccountType: Results[i]["AccountType"],
            //                    AccountCashFlowId: Results[i]["AccountCashFlowId"],
            //                    AccountCashFlow: Results[i]["AccountCashFlow"],
            //                    IsLocked: Results[i]["IsLocked"],
            //                    CreatedById: Results[i]["CreatedById"],
            //                    CreatedBy: Results[i]["CreatedBy"],
            //                    CreatedDateTime: Results[i]["CreatedDateTime"],
            //                    UpdatedById: Results[i]["UpdatedById"],
            //                    UpdatedBy: Results[i]["UpdatedBy"],
            //                    UpdatedDateTime: Results[i]["UpdatedDateTime"]
            //                });
            //            }
            //        }
            //    }
            //}).fail(function (xhr, textStatus, err) {
            //    alert(err);
            //});
            return inventoryEntries;
        }

        // ========================================
        // FlexGrid Selection for Inventory Entries
        // ========================================
        function updateDetailsInventoryEntry() {
            var item = inventoryEntries.currentItem;
            document.getElementById('createdBy').innerHTML = item.CreatedBy;
            document.getElementById('createdDate').innerHTML = item.CreatedDateTime;
            document.getElementById('updatedBy').innerHTML = item.UpdatedBy;
            document.getElementById('updatedDate').innerHTML = item.UpdatedDateTime;
        }

        // ========================================
        // Navigation Buttons for Inventory Entries
        // ========================================
        function updateNavigateButtonsInventoryEntry() {
            if (inventoryEntries.pageSize <= 0) {
                document.getElementById('navigationPageGridInventoryEntry').style.display = 'none';
                return;
            }
            document.getElementById('navigationPageGridInventoryEntry').style.display = 'block';
            if (inventoryEntries.pageIndex === 0) {
                btnFirstPageGridInventoryEntry.setAttribute('disabled', 'disabled');
                btnPreviousPageGridInventoryEntry.setAttribute('disabled', 'disabled');
                btnNextPageGridInventoryEntry.removeAttribute('disabled');
                btnLastPageGridInventoryEntry.removeAttribute('disabled');
            } else if (inventoryEntries.pageIndex === (inventoryEntries.pageCount - 1)) {
                btnFirstPageGridInventoryEntry.removeAttribute('disabled');
                btnPreviousPageGridInventoryEntry.removeAttribute('disabled');
                btnLastPageGridInventoryEntry.setAttribute('disabled', 'disabled');
                btnNextPageGridInventoryEntry.setAttribute('disabled', 'disabled');
            } else {
                btnFirstPageGridInventoryEntry.removeAttribute('disabled');
                btnPreviousPageGridInventoryEntry.removeAttribute('disabled');
                btnNextPageGridInventoryEntry.removeAttribute('disabled');
                btnLastPageGridInventoryEntry.removeAttribute('disabled');
            }
            btnCurrentPageGridInventoryEntry.innerHTML = (inventoryEntries.pageIndex + 1) + ' / ' + inventoryEntries.pageCount;
        }

        // ==================================
        // On Page Load for Inventory Entries
        // ==================================
        function inventoryEntryTab() {
            inventoryEntries = new wijmo.collections.CollectionView();
            inventoryEntries.canFilter = true;
            inventoryEntries.pageSize = 15;

            var filterTextInventoryEntry = '';
            $('#InputFilterInventoryEntry').keyup(function () {
                filterTextInventoryEntry = this.value.toLowerCase();
                inventoryEntries.refresh();
            });
            inventoryEntries.filter = function (item) {
                return !filterTextInventoryEntry || (item.inventoryEntry.toLowerCase().indexOf(filterTextInventoryEntry) > -1);
            }
            inventoryEntries.collectionChanged.addHandler(function (sender, args) {
                updateNavigateButtonsInventoryEntry();
            });
            inventoryEntries.currentChanged.addHandler(function (sender, args) {
                updateDetailsInventoryEntry();
            });

            // Flex Grid for Inventory Entries
            inventoryEntryGrid = new wijmo.grid.FlexGrid('#InventoryEntryGrid');
            inventoryEntryGrid.initialize({
                columns: [
                            {
                                "header": "Contact",
                                "binding": "Contact",
                                "width": 60,
                                "align": "center",
                                "allowResizing": false,
                                "allowSorting": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "Contact Number(s)",
                                //"binding": "ContactNumbers",
                                "width": 70,
                                "align": "center",
                                "allowResizing": false,
                                "allowSorting": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "Remarks",
                                //"binding": "Remarks",
                                "allowSorting": true,
                                "width": "1*",
                            },
                ],
                autoGenerateColumns: false,
                //itemsSource: inventoryEntries,
                isReadOnly: true,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            inventoryEntryGrid.trackChanges = true;

            //Navigation button for Inventory Entries
            btnFirstPageGridInventoryEntry = document.getElementById('btnMoveToFirstPageGridInventoryEntry');
            btnPreviousPageGridInventoryEntry = document.getElementById('btnMoveToPreviousPageGridInventoryEntry');
            btnNextPageGridInventoryEntry = document.getElementById('btnMoveToNextPageGridInventoryEntry');
            btnLastPageGridInventoryEntry = document.getElementById('btnMoveToLastPageGridInventoryEntry');
            btnCurrentPageGridInventoryEntry = document.getElementById('btnCurrentPageGridInventoryEntry');

            updateNavigateButtonsInventoryEntry();

            btnFirstPageGridInventoryEntry.addEventListener('click', function () {
                inventoryEntries.moveToFirstPage();
                updateNavigateButtonsInventoryEntry();
            });
            btnPreviousPageGridInventoryEntry.addEventListener('click', function () {
                inventoryEntries.moveToPreviousPage();
                updateNavigateButtonsInventoryEntry();
            });
            btnNextPageGridInventoryEntry.addEventListener('click', function () {
                inventoryEntries.moveToNextPage();
                updateNavigateButtonsInventoryEntry();
            });
            btnLastPageGridInventoryEntry.addEventListener('click', function () {
                inventoryEntries.moveToLastPage();
                updateNavigateButtonsInventoryEntry();
            });
        }
    </script>

    <!-- ================================ -->
    <!-- Tab Current Page on Load Scripts -->
    <!-- ================================ -->
    <script type="text/javascript">
        // ====
        // TABS
        // ====
        $('#itemTabId').click(function () {
            $('#Items').show();
            $('#InventoryEntries').hide();
            window.itemTab = function () {
                return true;
            };
        });

        $('#inventoryEntryTabId').click(function () {
            $('#Items').hide();
            $('#InventoryEntries').show();
            inventoryEntryTab();
            window.inventoryEntryTab = function () {
                return true;
            };
        });

        $(document).ready(function () {
            $('#Items').show();
            $('#InventoryEntries').hide();
            itemTab();
        });
    </script>
</body>
</html>