<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Title of the Page -->
    <link rel="shortcut icon" href="~/Images/icon/easyfislogomini.ico">
    <title>Stock Out Book</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Content/Software-css")
</head>
<body class="hold-transition skin-blue fixed sidebar-mini">
    <div class="wrapper">
        @Html.Partial("_SoftwareHeader")
        @Html.Partial("_SoftwareSideBarMenu")

        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    Stock Out Book
                    <small><i class="fa fa-building"></i> @ViewData["Company"] / @ViewData["Branch"]</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/Software"> Dashboard</a></li>
                    <li> <a href="/Software/FinancialStatements">Financial Statement </a></li>
                    <li>Stock Out Book</li>
                </ol>
            </section>

            <section class="content">
                <div class="box box-default">
                    <div class="box-body">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4>
                                            @ViewData["Company"]
                                            <small>
                                                <i class="fa fa-calendar fa-fw"></i> <span id="dateFrom"></span>
                                            </small>
                                        </h4>
                                    </div>
                                    <div class="col-md-6" align="right">
                                        <button onclick="" class="btn btn-primary btn-sm"><i class="fa fa-file-excel-o" aria-hidden="true"></i> CSV</button>
                                        <button onclick="stockOutBookPDF_OnClick()" class="btn btn-primary btn-sm"><i class="fa fa-print"></i> Print</button>
                                        <a href="/Software/FinancialStatements" class="btn btn-danger btn-sm"><i class="fa fa-close"></i> Close</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="input-group input-group-sm">
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                            <input type="text" class="form-control input-sm" id="InputFilter" placeholder="Search">
                                        </div>
                                    </div>
                                    <div class="col-lg-8"></div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div id="stockOutBookGrid" class="grid"></div>
                            </div>
                            <div class="panel-footer">
                                <div align="right">
                                    <div class="row">
                                        <div class="col-md-8"></div>
                                        <div class="col-md-4">
                                            <table class="table table-responsive table-bordered">
                                                <tr>
                                                    <td align="right">
                                                        <b>Total: </b>
                                                    </td>
                                                    <td style="padding-left: 10px" align="right">
                                                        <span id="total">NA</span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        @Html.Partial("_SoftwareFooter")
    </div>

    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        function getParam(name) {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
            var regexS = "[\\?&]" + name + "=([^&#]*)";
            var regex = new RegExp(regexS);
            var results = regex.exec(window.location.href);
            if (results == null)
                return "";
            else
                return results[1];
        }

        function stockOutBookPDF_OnClick() {
            window.location.href = '/RepStockOutBook/StockOutBook?StartDate=' + getParam("StartDate") + '&EndDate=' + getParam("EndDate") + '&CompanyId=' + getParam("CompanyId");;
        }

        function getStockOutBook() {
            var stockOutBook = new wijmo.collections.ObservableArray;
            $.ajax({
                url: '/api/StockOutBook/list/' + getParam("StartDate") + '/' + getParam("EndDate") + '/' + getParam("CompanyId"),
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (stockOutBookResults) {
                    if (stockOutBookResults.length > 0) {
                        var totalAmount = 0;

                        for (i = 0; i < stockOutBookResults.length; i++) {
                              // Array Push
                            stockOutBook.push({

                                DocumentReference: stockOutBookResults[i]["DocumentReference"],
                                AccountCode: stockOutBookResults[i]["AccountCode"],
                                Account: stockOutBookResults[i]["Account"],
                                Article: stockOutBookResults[i]["Article"],
                                DebitAmount: stockOutBookResults[i]["DebitAmount"],
                                CreditAmount: stockOutBookResults[i]["CreditAmount"],
                                Balance: stockOutBookResults[i]["Balance"],


                            });

                            totalAmount += stockOutBookResults[i]["Amount"];
                        }

                        document.getElementById("total").innerHTML = totalAmount.toLocaleString();
                    }
                    NProgress.done();
                }
            });

            return stockOutBook;
        }


        $(document).ready(function () {
            NProgress.start();
            document.getElementById("dateFrom").innerHTML = "Date from " + getParam("StartDate") + " to " + getParam("EndDate");

            var stockOutBookCollections = new wijmo.collections.CollectionView(getStockOutBook());
            stockOutBookCollections.canFilter = true;

            var filterText = '';
            $('#InputFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                stockOutBookCollections.refresh();
            });
            stockOutBookCollections.filter = function (item) {
                return !filterText || (item.DocumentReference.toLowerCase().indexOf(filterText) > -1)
                || !filterText || (item.AccountCode.toLowerCase().indexOf(filterText) > -1)
                || !filterText || (item.Account.toLowerCase().indexOf(filterText) > -1)
                || !filterText || (item.Article.toLowerCase().indexOf(filterText) > -1)

            }
            // Flex Grid
            var stockOutBookGrid = new wijmo.grid.FlexGrid('#stockOutBookGrid');
            stockOutBookGrid.initialize({
                columns: [
                            {
                                "header": "OT Number",
                                "binding": "DocumentReference",
                                "allowSorting": true,
                                "width": "1*",
                            },
                            {
                                "header": "Code",
                                "binding": "AccountCode",
                                "allowSorting": true,
                                "width": "0.5*"
                            },
                            {
                                "header": "Account",
                                "binding": "Account",
                                "allowSorting": true,
                                "width": "1*"
                            },
                            {
                                "header": "Article",
                                "binding": "Article",
                                "isContentHtml" : true,
                                "allowSorting": true,
                                "width": "1.5*"
                            },
                            {
                                "header": "Debit",
                                "binding": "DebitAmount",
                                "allowSorting": true,
                                "width": "0.5*"
                            },
                            {
                                "header": "Credit",
                                "binding": "CreditAmount",
                                "allowSorting": true,
                                "width": "0.5*"
                            },
                            {
                                "header": "Balance",
                                "binding": "Balance",
                                "allowSorting": true,
                                "width": "0.5*"
                            },


                ],
                autoGenerateColumns: false,
                itemsSource: stockOutBookCollections,
                isReadOnly: true,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            stockOutBookGrid.trackChanges = true;
        });
    </script>
</body>
</html>