<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Title of the Page -->
    <link rel="shortcut icon" href="~/Images/icon/easyfislogomini.ico">
    <title>Stock Transfer Book</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Content/Software-css")
</head>
<body class="hold-transition skin-blue fixed sidebar-mini">
    <div class="wrapper">
        @Html.Partial("_SoftwareHeader")
        @Html.Partial("_SoftwareSideBarMenu")

        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    Stock Transfer Book
                    <small><i class="fa fa-building"></i> @ViewData["Company"] / @ViewData["Branch"]</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/Software"> Dashboard</a></li>
                    <li> <a href="/Software/FinancialStatements">Financial Statement </a></li>
                    <li>Stock Transfer Book</li>
                </ol>
            </section>

            <section class="content">
                <div class="box box-default">
                    <div class="box-body">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4>
                                            @ViewData["Company"]
                                            <small>
                                                <i class="fa fa-calendar fa-fw"></i> <span id="dateFrom"></span>
                                            </small>
                                        </h4>
                                    </div>
                                    <div class="col-md-6" align="right">
                                        <button onclick="stockTransferBookCSV_OnClick()" class="btn btn-primary btn-sm"><i class="fa fa-file-excel-o" aria-hidden="true"></i> CSV</button>
                                        <button onclick="stockTransferBookPDF_OnClick()" class="btn btn-primary btn-sm"><i class="fa fa-print"></i> Print</button>
                                        <a href="/Software/FinancialStatements" class="btn btn-danger btn-sm"><i class="fa fa-close"></i> Close</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="input-group input-group-sm">
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                            <input type="text" class="form-control input-sm" id="InputFilter" placeholder="Search">
                                        </div>
                                    </div>
                                    <div class="col-lg-8"></div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div id="stockTransferBookGrid" class="grid"></div>
                            </div>
                            <div class="panel-footer">
                                <div align="right">
                                    <div class="row">
                                        <div class="col-md-8"></div>
                                        <div class="col-md-4">
                                            <table class="table table-responsive table-bordered">
                                                <tr>
                                                    <td align="right">
                                                        <b>Total: </b>
                                                    </td>
                                                    <td style="padding-left: 10px" align="right">
                                                        <span id="total">NA</span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        @Html.Partial("_SoftwareFooter")
    </div>

    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        function getParam(name) {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
            var regexS = "[\\?&]" + name + "=([^&#]*)";
            var regex = new RegExp(regexS);
            var results = regex.exec(window.location.href);
            if (results == null)
                return "";
            else
                return results[1];
        }

        function stockTransferBookPDF_OnClick() {
            window.location.href = '/RepStockTransferBook/StockTransferBook?StartDate=' + getParam("StartDate") + '&EndDate=' + getParam("EndDate") + '&CompanyId=' + getParam("CompanyId");;
        }

        function getStockTransferBook() {
            var stockTransferBook = new wijmo.collections.ObservableArray;
            $.ajax({
                url: '/api/StockTransferBook/list/' + getParam("StartDate") + '/' + getParam("EndDate") + '/' + getParam("CompanyId"),
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (stockTransferBookResults) {
                    if (stockTransferBookResults.length > 0) {
                        var totalAmount = 0;

                        for (i = 0; i < stockTransferBookResults.length; i++) {
                            // Array Push
                            stockTransferBook.push({

                                DocumentReference: stockTransferBookResults[i]["DocumentReference"],
                                AccountCode: stockTransferBookResults[i]["AccountCode"],
                                Account: stockTransferBookResults[i]["Account"],
                                Article: stockTransferBookResults[i]["Article"],
                                DebitAmount: stockTransferBookResults[i]["DebitAmount"],
                                CreditAmount: stockTransferBookResults[i]["CreditAmount"],
                                Balance: stockTransferBookResults[i]["Balance"],


                            });

                            totalAmount += stockTransferBookResults[i]["Amount"];
                        }

                        document.getElementById("total").innerHTML = totalAmount.toLocaleString();
                    }
                    NProgress.done();
                }
            });

            return stockTransferBook;
        }

        var stockTransferBookCollections;

        function stockTransferBookCSV_OnClick() {

            var CSV = '';
            var stockTransferBook = [];
            var fileName = 'StockTransferBook.CSV';

            for (i = 0; i < stockTransferBookCollections.items.length; i++) {
                stockTransferBook.push({
                    DocumentReference: stockTransferBookCollections.items[i].DocumentReference,
                    AccountCode: stockTransferBookCollections.items[i].AccountCode,
                    Account: stockTransferBookCollections.items[i].Account,
                    Article: stockTransferBookCollections.items[i].Article,
                    DebitAmount: stockTransferBookCollections.items[i].DebitAmount,
                    CreditAmount: stockTransferBookCollections.items[i].CreditAmount,
                    Balance: stockTransferBookCollections.items[i].Balance,

                });
            }

            //for (var i = 0; i < symbols.length; i++) {
            //    CSV += '"' + symbols[i].AccountCode + '"\r\n';
            //}

            var Headers = [];
            Headers.push({
                DocumentReference: "ST Number",
                AccountCode: "Code",
                Account: "Account",
                Article: "Article",
                DebitAmount: "Debit",
                CreditAmount: "Credit",
                Balance: "Balance",

            });

            var header = '';
            // Rows
            for (var b in Headers[0]) {
                header += '"' + Headers[0][b] + '",';
            }



            CSV = header + '\r\n';
            for (var i = 0; i < stockTransferBook.length; i++) {
                var row = '';
                for (var a in stockTransferBook[i]) {
                    row += '"' + stockTransferBook[i][a] + '",';
                }

                row.slice(0, row.length - 1);
                CSV += row + '\r\n';
            }


            if (CSV == '') {
                toastr.error("No data.");
            } else {
                var link = document.createElement("a");

                if (link.download !== undefined) {
                    var blob = new Blob([CSV], { type: 'text/csv;charset=utf-8;' });
                    var url = URL.createObjectURL(blob);
                    link.setAttribute("href", url);
                    link.setAttribute("download", fileName);
                    link.style = "visibility:hidden";
                }

                if (navigator.msSaveBlob) {
                    link.addEventListener("click", function (event) {
                        var blob = new Blob([CSV], {
                            "type": "text/csv;charset=utf-8;"
                        });
                        navigator.msSaveBlob(blob, fileName);
                    }, false);
                }

                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);

                toastr.success("Dowload successful.");
            }
        }
    
        $(document).ready(function () {
            NProgress.start();
            document.getElementById("dateFrom").innerHTML = "Date from " + getParam("StartDate") + " to " + getParam("EndDate");

            stockTransferBookCollections = new wijmo.collections.CollectionView(getStockTransferBook());
            stockTransferBookCollections.canFilter = true;

            var filterText = '';
            $('#InputFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                stockTransferBookCollections.refresh();
            });
            stockTransferBookCollections.filter = function (item) {
                return !filterText || (item.DocumentReference.toLowerCase().indexOf(filterText) > -1)
                || !filterText || (item.AccountCode.toLowerCase().indexOf(filterText) > -1)
                || !filterText || (item.Account.toLowerCase().indexOf(filterText) > -1)
                || !filterText || (item.Article.toLowerCase().indexOf(filterText) > -1)

            }
            // Flex Grid
            var stockTransferBookGrid = new wijmo.grid.FlexGrid('#stockTransferBookGrid');
            stockTransferBookGrid.initialize({
                columns: [
                            {
                                "header": "ST Number",
                                "binding": "DocumentReference",
                                "allowSorting": true,
                                "width": "1*",
                            },
                            {
                                "header": "Code",
                                "binding": "AccountCode",
                                "allowSorting": true,
                                "width": "0.5*"
                            },
                            {
                                "header": "Account",
                                "binding": "Account",
                                "allowSorting": true,
                                "width": "1*"
                            },
                            {
                                "header": "Article",
                                "binding": "Article",
                                "isContentHtml": true,
                                "allowSorting": true,
                                "width": "1.5*"
                            },
                            {
                                "header": "Debit",
                                "binding": "DebitAmount",
                                "allowSorting": true,
                                "width": "0.5*"
                            },
                            {
                                "header": "Credit",
                                "binding": "CreditAmount",
                                "allowSorting": true,
                                "width": "0.5*"
                            },
                            {
                                "header": "Balance",
                                "binding": "Balance",
                                "allowSorting": true,
                                "width": "0.5*"
                            },


                ],
                autoGenerateColumns: false,
                itemsSource: stockTransferBookCollections,
                isReadOnly: true,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            stockTransferBookGrid.trackChanges = true;
        });
    </script>
</body>
</html>