@{
    var articleSupplierId = Request.QueryString["ArticleSupplierId"];
    var branchId = Request.QueryString["BranchId"];
}
<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Some slide and push menu demos using CSS3 transitions.">

    <!-- Title of the Page -->
    <title>Supplier Detail</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Font-Awesome/css")
    @Styles.Render("~/Content/Software-css")
    @Styles.Render("~/WijmoCSS/Wijmo-css")
</head>
<body>
    <div id="wrapper" class="wrapper">
        <!-- Header -->
        @Html.Partial("_SoftwareHeader")

        <!-- Section -->
        <section>
            <br /><br /><br />
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        @*<h4><img src='~/images/Icons/iSupplier.png'> Supplier Detail</h4>*@
                        <h4><i class="fa fa-truck fa-2x"></i> Supplier Detail</h4>
                        <br />
                        <div class="div_Current_Page">
                            @*<label id="currentBranchName"></label>*@
                            <span id="currentPage"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4 id="supplierDetailLabel"></h4>
                    </div>
                    <div class="col-md-6" align="right">
                        <button class="btn btn-primary btn-sm" id="supplier_SaveSupplierButton" onclick="supplierSaveSupplierButton_OnClick()"><i class="fa fa-save"></i> Save and Lock</button>
                        <button class="btn btn-primary btn-sm" id="supplier_SaveButton" onclick="supplierSaveButton_OnClick()"><i class="fa fa-save"></i> Save</button>
                        <button class="btn btn-primary btn-sm" id="supplier_EditButton" onclick="supplierEditButton_OnClick()"><i class="fa fa-edit"></i> Edit</button>
                        <button class="btn btn-primary btn-sm" id="supplier_PrintButton"><i class="fa fa-print"></i> Print</button>
                        <button onclick="window.location.href = '@Url.Action("Supplier", "Software", new { BranchId = branchId })'" class="btn btn-danger btn-sm" id="supplier_CloseButton"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
                @*<hr />*@
                <div class="well">
                    <form class="form-horizontal" role="form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Code:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control input-sm" id="artcileSupplier_code" />
                                        <input type="hidden" id="artcileSupplier_code_data" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Supplier:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control input-sm" id="artcileSupplier_Supplier" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Supplier Group:</label>
                                    <div class="col-sm-8">
                                        <div class="comboBox-wide" id="artcileSupplier_SupplierGroup"></div>

                                        <input type="hidden" id="artcileSupplier_SupplierGroup_Data" />
                                        <input type="hidden" id="artcileSupplier_SupplierGroup_SelectedValue" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Account:</label>
                                    <div class="col-sm-8">
                                        <div class="comboBox-wide" id="artcileSupplier_Account"></div>

                                        <input type="hidden" id="artcileSupplier_Account_Data" />
                                        <input type="hidden" id="artcileSupplier_Account_SelectedValue" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Term:</label>
                                    <div class="col-sm-8">
                                        <div class="comboBox-wide" id="artcileSupplier_Term"></div>

                                        <input type="hidden" id="artcileSupplier_Term_Data" />
                                        <input type="hidden" id="artcileSupplier_Term_SelectedValue" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Address:</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control textarea-custom" id="artcileSupplier_Address"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Contact Number:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control input-sm" id="artcileSupplier_ContactNo">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Contact Person:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control input-sm" id="artcileSupplier_ContactPerson">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">TIN:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control input-sm" id="artcileSupplier_TIN">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Particulars:</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control textarea-custom" id="artcileSupplier_Particulars"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Lock:</label>
                                    <div class="col-sm-8">
                                        <input type="checkbox" class="checkbox_custom" id="isLocked_Status" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-8">
                                        <input type="hidden" id="Supplier_IsLocked">
                                        <input type="hidden" id="Supplier_IsLocked_defaultTrue">
                                        <input type="hidden" id="Supplier_IsLocked_defaultFalse">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- Loading Modal -->
        <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="Loading..." aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class=" modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <h4>Loading ...</h4>
                    </div>
                    <div class="modal-footer">
                        <img class="img-thumbnail img-responsive center-block img-custom" src='~/images/loading/progress_bar.gif'>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        @Html.Partial("_SoftwareFooter")
    </div>

    <!-- SideBar Menu -->
    @Html.Partial("_SoftwareSideBarMenu")

    <div id="c-mask" class="c-mask"></div><!-- /c-mask -->
    @Scripts.Render("~/Scripts/Software-js")
    @Scripts.Render("~/WijmoScripts/Wijmo-js")
    <script type="text/javascript">
        // ================
        // Global Variables
        // ================
        var suppliers;

        var articleSupplierGroups;
        var accounts;
        var terms;

        var cboArticleGroup;
        var cboForAccount;
        var cboForTerm;

        // ==================================
        // Get Article for supplier by its ID
        // ==================================
        function getArticleSupplierById() {
            $('#loadingModal').modal('show');
            var suppliers = new wijmo.collections.ObservableArray;
            var articleId = @articleSupplierId;
            $.ajax({
                url: '/api/listArticleById/' +  articleId,
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (Results) {
                    $('#loadingModal').modal('hide');
                    if (Results.length > 0) {
                        suppliers.push ({
                            Id: Results.Id,
                            ArticleCode : Results.ArticleCode,
                            ManualArticleCode : Result.ManualArticleCode,
                            Article : Results.Article,
                            Category : Results.Category,
                            ArticleTypeId : Results.ArticleTypeId,
                            ArticleType : Results.ArticleType,
                            ArticleGroupId : Results.ArticleGroupId,
                            ArticleGroup : Results.ArticleGroup,
                            AccountId : Results.AccountId,
                            Account : Results.Account,
                            SalesAccountId : Results.SalesAccountId,
                            CostAccountId : Results.CostAccountId,
                            AssetAccountId : Results.AssetAccountId,
                            ExpenseAccountId : Results.ExpenseAccountId,
                            UnitId : Results.UnitId,
                            OutputTaxId : Results.OutputTaxId,
                            OutputTax : Results.OutputTax,
                            InputTaxId : Results.InputTaxId,
                            InputTax : Results.InputTax,
                            WTaxTypeId : Results.WTaxTypeId,
                            WTaxType : Results.WTaxType,
                            Price : Results.Price,
                            Cost : Results.Cost,
                            IsInventory : Results.IsInventory,
                            Particulars : Results.Particulars,
                            Address : Results.Address,
                            TermId : Results.TermId,
                            Term : Results.Term,
                            ContactNumber : Results.ContactNumber,
                            ContactPerson : Results.ContactPerson,
                            TaxNumber : Results.TaxNumber,
                            CreditLimit : Results.CreditLimit,
                            DateAcquired : Results.DateAcquired,
                            UsefulLife : Results.UsefulLife,
                            SalvageValue : Results.SalvageValue,
                            ManualArticleOldCode : Results.ManualArticleOldCode,
                            IsLocked: Results.IsLocked,
                            CreatedById: Results.CreatedById,
                            CreatedBy: Results.CreatedBy,
                            CreatedDateTime: Results.CreatedDateTime,
                            UpdatedById: Results.UpdatedById,
                            UpdatedBy: Results.UpdatedBy,
                            UpdatedDateTime: Results.UpdatedDateTime
                        });
                    }
                    document.getElementById('artcileSupplier_code').value = Results.ArticleCode;
                    document.getElementById('artcileSupplier_code_data').value = Results.ArticleCode;

                    document.getElementById('artcileSupplier_Supplier').value = Results.Article;

                    document.getElementById('artcileSupplier_SupplierGroup_Data').value = Results.ArticleGroupId;
                    document.getElementById('artcileSupplier_SupplierGroup_SelectedValue').value = Results.ArticleGroup;

                    document.getElementById('artcileSupplier_Account_Data').value = Results.AccountId;
                    document.getElementById('artcileSupplier_Account_SelectedValue').value = Results.Account;

                    document.getElementById('artcileSupplier_Term_Data').value = Results.TermId;
                    document.getElementById('artcileSupplier_Term_SelectedValue').value = Results.Term;

                    document.getElementById('artcileSupplier_Address').value = Results.Address;
                    document.getElementById('artcileSupplier_Particulars').value = Results.Particulars;
                    document.getElementById('artcileSupplier_TIN').value = Results.TaxNumber;
                    document.getElementById('artcileSupplier_ContactNo').value = Results.ContactNumber;
                    document.getElementById('artcileSupplier_ContactPerson').value = Results.ContactPerson;

                    document.getElementById('createdBy').innerHTML = Results.CreatedBy;
                    document.getElementById('createdDate').innerHTML = Results.CreatedDateTime;
                    document.getElementById('updatedBy').innerHTML = Results.UpdatedBy;
                    document.getElementById('updatedDate').innerHTML = Results.UpdatedDateTime;

                    document.getElementById('Supplier_IsLocked').value = Results.IsLocked;

                    if(document.getElementById('Supplier_IsLocked').value == 'true') {
                        document.getElementById('artcileSupplier_Supplier').disabled = true;
                        document.getElementById('artcileSupplier_Address').disabled = true;
                        document.getElementById('artcileSupplier_Particulars').disabled = true;
                        document.getElementById('artcileSupplier_TIN').disabled = true;
                        document.getElementById('artcileSupplier_ContactNo').disabled = true;
                        document.getElementById('artcileSupplier_ContactPerson').disabled = true;

                        $("#supplier_SaveSupplierButton").prop("disabled", true);
                        $("#supplier_SaveButton").prop("disabled", true);
                        $("#supplier_EditButton").prop("disabled", false);
                        $("#supplier_PrintButton").prop("disabled", false);
                        
                        document.getElementById('isLocked_Status').checked = true;

                    } else if(document.getElementById('Supplier_IsLocked').value == 'false') {
                        document.getElementById('artcileSupplier_Supplier').disabled = false;
                        document.getElementById('artcileSupplier_Address').disabled = false;
                        document.getElementById('artcileSupplier_Particulars').disabled = false;
                        document.getElementById('artcileSupplier_TIN').disabled = false;
                        document.getElementById('artcileSupplier_ContactNo').disabled = false;
                        document.getElementById('artcileSupplier_ContactPerson').disabled = false;

                        $("#supplier_SaveSupplierButton").prop("disabled", false);
                        $("#supplier_SaveButton").prop("disabled", false);
                        $("#supplier_EditButton").prop("disabled", true);
                        $("#supplier_PrintButton").prop("disabled", true);

                        document.getElementById('isLocked_Status').checked = false;
                    }

                    // ajax for combobox
                    getArticleSupplierGroupForComboBox();
                    getArticleAccountForComboBox();
                    getArticleTermForComboBox();
                }
            });

            return suppliers;
        }

        // =========================
        // Get Artile Supplier Group
        // =========================
        function getArticleSupplierGroupForComboBox() {
            articleSupplierGroups = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/listArticleGroupByArticleTypeId/3',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (results) {
                    if (results.length > 0) {
                        for (i = 0; i < results.length; i++) {
                            articleSupplierGroups.push({
                                ArticleGroupId: results[i]["Id"],
                                ArticleGroupArticleGroup: results[i]["ArticleGroup"]
                            });
                        }
                        createCboForArticleSupplierGroup(articleSupplierGroups);
                    }
                }
            }).fail(function (xhr, textStatus, err) {
                alert(err);
            }
            );
        }

        // ======================
        // CBO for Supplier Group
        // ======================
        function createCboForArticleSupplierGroup(articleSupplierGroups) {
            var articleSupplierGroupCollection = new wijmo.collections.CollectionView(articleSupplierGroups);
            var articleGroupList = new Array();
            for (var i = 0; i < articleSupplierGroupCollection.items.length; i++) {
                articleGroupList.push(articleSupplierGroupCollection.items[i].ArticleGroupArticleGroup);
            }

            if(document.getElementById('Supplier_IsLocked').value == 'true') {
                cboArticleGroup.dispose();
                cboArticleGroup = new wijmo.input.ComboBox('#artcileSupplier_SupplierGroup', {
                    disabled: true,
                    placeholder: "Select Supplier Group",
                    itemsSource: articleGroupList,
                    isEditable: false,
                    required: false,
                    selectedValue: document.getElementById('artcileSupplier_SupplierGroup_SelectedValue').value.toString(),
                    onSelectedIndexChanged: function () {
                        $("#artcileSupplier_SupplierGroup_Data").val(articleSupplierGroupCollection.items[this.selectedIndex].ArticleGroupId);
                    }
                });
            } else if(document.getElementById('Supplier_IsLocked').value == 'false') {
                cboArticleGroup.dispose();
                cboArticleGroup = new wijmo.input.ComboBox('#artcileSupplier_SupplierGroup', {
                    disabled: false,
                    placeholder: "Select Supplier Group",
                    itemsSource: articleGroupList,
                    isEditable: false,
                    required: false,
                    selectedValue: document.getElementById('artcileSupplier_SupplierGroup_SelectedValue').value.toString(),
                    onSelectedIndexChanged: function () {
                        $("#artcileSupplier_SupplierGroup_Data").val(articleSupplierGroupCollection.items[this.selectedIndex].ArticleGroupId);
                    }
                });
            } else {
                cboArticleGroup.dispose();
                cboArticleGroup = new wijmo.input.ComboBox('#artcileSupplier_SupplierGroup', {
                    placeholder: "Select Supplier Group",
                    itemsSource: articleGroupList,
                    isEditable: false,
                    required: false,
                    selectedValue: document.getElementById('artcileSupplier_SupplierGroup_SelectedValue').value.toString(),
                    onSelectedIndexChanged: function () {
                        $("#artcileSupplier_SupplierGroup_Data").val(articleSupplierGroupCollection.items[this.selectedIndex].ArticleGroupId);
                    }
                });
            }
        }

        // ==================
        // Get Artile Account
        // ==================
        function getArticleAccountForComboBox() {
            accounts = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/listAccount',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (results) {
                    if (results.length > 0) {
                        for (i = 0; i < results.length; i++) {
                            accounts.push({
                                AccountId: results[i]["Id"],
                                AccountAccount: results[i]["Account"]
                            });
                        }
                        createCboForAccount(accounts);
                    }
                }
            }).fail(function (xhr, textStatus, err) {
                alert(err);
            }
            );
        }

        // ===============
        // CBO for Account
        // ===============
        function  createCboForAccount(accounts) {
            var accountCollection = new wijmo.collections.CollectionView(accounts);
            var accountList = new Array();
            for (var i = 0; i < accountCollection.items.length; i++) {
                accountList.push(accountCollection.items[i].AccountAccount);
            }

            if(document.getElementById('Supplier_IsLocked').value == 'true') {
                cboForAccount.dispose();
                cboForAccount = new wijmo.input.ComboBox('#artcileSupplier_Account', {
                    disabled: true,
                    placeholder: "Select Account",
                    itemsSource: accountList,
                    isEditable: false,
                    required: false,
                    selectedValue: document.getElementById('artcileSupplier_Account_SelectedValue').value.toString(),
                    onSelectedIndexChanged: function () {
                        $("#artcileSupplier_Account_Data").val(accountCollection.items[this.selectedIndex].AccountId);
                    }
                });
            } else if(document.getElementById('Supplier_IsLocked').value == 'false') {
                cboForAccount.dispose();
                cboForAccount = new wijmo.input.ComboBox('#artcileSupplier_Account', {
                    disabled: false,
                    placeholder: "Select Account",
                    itemsSource: accountList,
                    isEditable: false,
                    required: false,
                    selectedValue: document.getElementById('artcileSupplier_Account_SelectedValue').value.toString(),
                    onSelectedIndexChanged: function () {
                        $("#artcileSupplier_Account_Data").val(accountCollection.items[this.selectedIndex].AccountId);
                    }
                });
            } else {
                cboForAccount.dispose();
                cboForAccount = new wijmo.input.ComboBox('#artcileSupplier_Account', {
                    placeholder: "Select Account",
                    itemsSource: accountList,
                    isEditable: false,
                    required: false,
                    selectedValue: document.getElementById('artcileSupplier_Account_SelectedValue').value.toString(),
                    onSelectedIndexChanged: function () {
                        $("#artcileSupplier_Account_Data").val(accountCollection.items[this.selectedIndex].AccountId);
                    }
                });
            }
        }

        // ===============
        // Get Artile Term
        // ===============
        function getArticleTermForComboBox() {
            terms = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/listTerm',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (results) {
                    if (results.length > 0) {
                        for (i = 0; i < results.length; i++) {
                            terms.push({
                                TermId: results[i]["Id"],
                                TermTerm: results[i]["Term"]
                            });
                        }
                        createCboForTerm(terms);
                    }
                }
            }).fail(function (xhr, textStatus, err) {
                alert(err);
            }
            );
        }

        // ===============
        // CBO for Term
        // ===============
        function createCboForTerm(terms) {
            var termCollection = new wijmo.collections.CollectionView(terms);
            var termList = new Array();
            for (var i = 0; i < termCollection.items.length; i++) {
                termList.push(termCollection.items[i].TermTerm);
            }

            if(document.getElementById('Supplier_IsLocked').value == 'true') {
                cboForTerm.dispose();
                cboForTerm = new wijmo.input.ComboBox('#artcileSupplier_Term', {
                    disabled: true,
                    placeholder: "Select Account",
                    itemsSource: termList,
                    isEditable: false,
                    required: false,
                    selectedValue: document.getElementById('artcileSupplier_Term_SelectedValue').value.toString(),
                    onSelectedIndexChanged: function () {
                        $("#artcileSupplier_Term_Data").val(accountCollection.items[this.selectedIndex].AccountId);
                    }
                });
            } else if(document.getElementById('Supplier_IsLocked').value == 'false') {
                cboForTerm.dispose();
                cboForTerm = new wijmo.input.ComboBox('#artcileSupplier_Term', {
                    disabled: false,
                    placeholder: "Select Account",
                    itemsSource: termList,
                    isEditable: false,
                    required: false,
                    selectedValue: document.getElementById('artcileSupplier_Term_SelectedValue').value.toString(),
                    onSelectedIndexChanged: function () {
                        $("#artcileSupplier_Term_Data").val(accountCollection.items[this.selectedIndex].AccountId);
                    }
                });
            } else {
                cboForTerm.dispose();
                cboForTerm = new wijmo.input.ComboBox('#artcileSupplier_Term', {
                    placeholder: "Select Account",
                    itemsSource: termList,
                    isEditable: false,
                    required: false,
                    selectedValue: document.getElementById('artcileSupplier_Term_SelectedValue').value.toString(),
                    onSelectedIndexChanged: function () {
                        $("#artcileSupplier_Term_Data").val(accountCollection.items[this.selectedIndex].AccountId);
                    }
                });
            }
        }

        // ====================
        // EDIT Supplier Button
        // ====================
        function supplierEditButton_OnClick() {
            $("#supplier_SaveSupplierButton").prop("disabled", true);
            $("#supplier_SaveButton").prop("disabled", true);
            $("#supplier_EditButton").prop("disabled", true);
            $("#supplier_PrintButton").prop("disabled", true);
            $("#supplier_CloseButton").prop("disabled", true);
            
            var supplierObject = new Object();
            var supplierId = @articleSupplierId;

            if(supplierId > 0) {
                supplierObject.IsLocked = document.getElementById('Supplier_IsLocked_defaultFalse').value;
            } else {
                supplierObject.IsLocked = document.getElementById('Supplier_IsLocked_defaultTrue').value;
            }

            console.log(document.getElementById('Supplier_IsLocked_defaultFalse').value);

            var dataUpdate = JSON.stringify(supplierObject);
            $.ajax({
                type: "PUT",
                url: '/api/updateArticleIsLock/' + supplierId,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: dataUpdate,
                statusCode: {
                    200: function () {
                        toastr.success("Unlocked");
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                        $("#supplier_SaveSupplierButton").prop("disabled", true);
                        $("#supplier_SaveButton").prop("disabled", true);
                        $("#supplier_EditButton").prop("disabled", true);
                        $("#supplier_PrintButton").prop("disabled", true);
                        $("#supplier_CloseButton").prop("disabled", true);
                    },
                    404: function () {
                        toastr.error("Can't Update");
                        $("#supplier_SaveSupplierButton").prop("disabled", false);
                        $("#supplier_SaveButton").prop("disabled", false);
                        $("#supplier_EditButton").prop("disabled", false);
                        $("#supplier_PrintButton").prop("disabled", false);
                        $("#supplier_CloseButton").prop("disabled", false);
                    },
                    400: function () {
                        toastr.error("Bad Request");
                        $("#supplier_SaveSupplierButton").prop("disabled", false);
                        $("#supplier_SaveButton").prop("disabled", false);
                        $("#supplier_EditButton").prop("disabled", false);
                        $("#supplier_PrintButton").prop("disabled", false);
                        $("#supplier_CloseButton").prop("disabled", false);
                    }
                }
            });

        }

        // =============================
        // SAVE SUPPLIER Supplier Button
        // =============================
        function supplierSaveSupplierButton_OnClick() {
            $("#supplier_SaveSupplierButton").prop("disabled", true);
            $("#supplier_SaveButton").prop("disabled", true);
            $("#supplier_EditButton").prop("disabled", true);
            $("#supplier_PrintButton").prop("disabled", true);
            $("#supplier_CloseButton").prop("disabled", true);
            
            var supplierObject = new Object();
            var supplierId = @articleSupplierId;

            if(supplierId > 0) {
                supplierObject.IsLocked = document.getElementById('Supplier_IsLocked_defaultTrue').value;
            } else {
                supplierObject.IsLocked = document.getElementById('Supplier_IsLocked_defaultFalse').value;
            }

            console.log(document.getElementById('Supplier_IsLocked_defaultFalse').value);

            var dataUpdate = JSON.stringify(supplierObject);
            $.ajax({
                type: "PUT",
                url: '/api/updateArticleIsLock/' + supplierId,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: dataUpdate,
                statusCode: {
                    200: function () {
                        toastr.success("Saved Supplier");
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function () {
                        toastr.error("Can't Update");
                    },
                    400: function () {
                        toastr.error("Bad Request");
                    }
                }
            });

        }

        // ========================================================
        // Function with leading zeroes to display the article code
        // ========================================================
        function zerofill(number, length) {
            var result = number.toString();
            var pad = length - result.length;
            while(pad > 0) {
                result = '0' + result;
                pad--;
            }
            return result;
        }

        // ============
        // On Page Load
        // ============
        $(document).ready(function () {
            document.getElementById('Supplier_IsLocked_defaultTrue').value = 'true';
            document.getElementById('Supplier_IsLocked_defaultFalse').value = 'false';

            document.getElementById('currentPage').innerHTML = '<a href="@Url.Action("Index", "Software", new { BranchId = branchId })" class="currentPageLinkCustom">Main Menu</a> > ' + ' <a href="@Url.Action("Supplier", "Software", new { BranchId = branchId })" class="currentPageLinkCustom">Supplier</a> ' + ' > Supplier Detail';

            document.getElementById('artcileSupplier_code').disabled = true;
            document.getElementById('isLocked_Status').disabled = true;

            getArticleSupplierById();

            if(@articleSupplierId == 0) {
                if(document.getElementById('artcileSupplier_code_data').value == 0) {
                    document.getElementById('artcileSupplier_code').value = "0000000001";
                }

                document.getElementById('artcileSupplier_code_data').value = 0;

                var suppliers = new wijmo.collections.ObservableArray;
                $.ajax({
                    url: '/api/listArticleLastByArticleTypeId/3',
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    data: {},
                    success: function (Results) {
                        if (Results.length > 0) {
                            suppliers.push({
                                Id: Results.Id,
                                SupplierArticleCode: Results.ArticleCode
                            });
                        }
                        var ArticleCode = parseInt(Results.ArticleCode);
                        var ArticleCode_plusOne = 0000000001;
                        var ArticleCode_Results = ArticleCode + ArticleCode_plusOne;
                        //var JV_Number_Display = JV_Num_Results.toString().replace(/(\d{3})(\d+)/, '$1-$2');

                        document.getElementById('artcileSupplier_code_data').value = zerofill(ArticleCode_Results, 10);
                        document.getElementById('artcileSupplier_code').value = zerofill(ArticleCode_Results, 10);
                    }
                });

                $("#supplier_SaveSupplierButton").prop("disabled", false);
                $("#supplier_SaveButton").prop("disabled", false);
                $("#supplier_EditButton").prop("disabled", true);
                $("#supplier_PrintButton").prop("disabled", true);
            }


            // combo box wijmo
            cboArticleGroup  = new wijmo.input.ComboBox('#artcileSupplier_SupplierGroup');
            cboForAccount  = new wijmo.input.ComboBox('#artcileSupplier_Account');
            cboForTerm  = new wijmo.input.ComboBox('#artcileSupplier_Term');

            // ajax for combobox
            getArticleSupplierGroupForComboBox();
            getArticleAccountForComboBox();
            getArticleTermForComboBox();

        });

    </script>
</body>
</html>