<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Title of the Page -->
    <link rel="shortcut icon" href="~/Images/icon/easyfislogomini.ico">
    <title>Supplier</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Content/Software-css")
</head>
<body>
    <div id="o-wrapper" class="o-wrapper">
        <main class="o-content">
            @Html.Partial("_SoftwareHeader")
            <section class="content-header">
                <div class="container">
                    <h3>
                        Supplier
                    </h3>
                    <p>
                        <i class="fa fa-building-o fa-fw"></i> &nbsp; @ViewData["Company"] <br />
                        <i class="fa fa-home fa-fw"></i> &nbsp; <a href="#" onclick="getUserBranches()" style="color: white;">@ViewData["Branch"]</a>
                    </p>
                </div>
            </section>
            <section class="container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 59%">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        <input type="text" class="form-control" id="InputFilter" placeholder="Search...">
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 40%" align="right">
                                    <button class="btn btn-primary" id="btnAddSupplier" onclick="btnAddSupplier_OnClick()"><i class="fa fa-plus"></i> Add</button>
                                    <button class="btn btn-danger" id="btnCloseSupplier" onclick="btnCloseSupplier_OnClick()"><i class=" fa fa-times"></i> Close</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-body">
                        <div id="SupplierGrid" class="grid"></div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="btn-group col-md-7" id="naviagtionPageGrid">
                                <button type="button" class="btn btn-default border-custom" id="btnMoveToFirstPageGrid">
                                    <span class="glyphicon glyphicon-fast-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" id="btnMoveToPreviousPageGrid">
                                    <span class="glyphicon glyphicon-step-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" disabled style="width: 100px" id="btnCurrentPageGrid"></button>
                                <button type="button" class="btn btn-default border-custom" id="btnMoveToNextPageGrid">
                                    <span class="glyphicon glyphicon-step-forward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" id="btnMoveToLastPageGrid">
                                    <span class="glyphicon glyphicon-fast-forward"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            @Html.Partial("_SoftwareFooter")
        </main>
    </div>
    <div id="c-mask" class="c-mask"></div>

    <!-- Supplier Delete Modal -->
    <div class="modal fade" id="deleteSupplierConfirm" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this supplier?
                </div>
                <div class="modal-footer">
                    <button id="cmdConfirmDeleteSupplier" class="btn btn-danger" onclick="cmdSupplierConfirmDeleteButton_OnClick()"><i class="fa fa-trash"></i> Delete</button>
                    <button id="cmdConfirmDeleteCloseButton" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        // ================
        // Global Variables
        // ================
        var supplierCollectionView;
        var supplierFlexGrid;
        var btnFirstPageGrid;
        var btnPreviousPageGrid;
        var btnNextPageGrid;
        var btnLastPageGrid;
        var btnCurrentPageGrid;

        // ==============================
        // Get Data from MstArtcile Table
        // ==============================
        function getArtcileForSuppliers() {
            NProgress.start();
            var suppliersObservableArray = new wijmo.collections.ObservableArray;
            $.ajax({
                url: '/api/listArticleByArticleTypeId/3',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (supplierListResults) {
                    if (supplierListResults.length > 0) {
                        for (i = 0; i < supplierListResults.length; i++) {
                            var canEdit = "@ViewData["CanEdit"]";
                            var editDisabled = "";
                            if (canEdit == "False") {
                                editDisabled = "disabled";
                            }

                            var canDelete = "@ViewData["CanDelete"]";
                            var deleteDisabled = "";
                            if (canDelete == "False") {
                                deleteDisabled = "disabled";
                            }

                            suppliersObservableArray.push({
                                EditId: "<button class='btn btn-primary btn-xs btn-block' onclick='cmdSupplierEditButton_OnClick()'" + editDisabled + "><i class='fa fa-edit'></i> Edit</button>",
                                DeleteId: "<button class='btn btn-danger btn-xs btn-block' onclick='cmdSupplierDeleteButton_OnClick()'" + deleteDisabled + "><i class='fa fa-trash'></i> Delete</button>",
                                Id: supplierListResults[i]["Id"],
                                ArticleCode: supplierListResults[i]["ArticleCode"],
                                ManualArticleCode: supplierListResults[i]["ManualArticleCode"],
                                Article: supplierListResults[i]["Article"],
                                Category: supplierListResults[i]["Category"],
                                ArticleTypeId: supplierListResults[i]["ArticleTypeId"],
                                ArticleType: supplierListResults[i]["ArticleType"],
                                ArticleGroupId: supplierListResults[i]["ArticleGroupId"],
                                ArticleGroup: supplierListResults[i]["ArticleGroup"],
                                AccountId: supplierListResults[i]["AccountId"],
                                Account: supplierListResults[i]["Account"],
                                SalesAccountId: supplierListResults[i]["SalesAccountId"],
                                CostAccountId: supplierListResults[i]["CostAccountId"],
                                AssetAccountId: supplierListResults[i]["AssetAccountId"],
                                ExpenseAccountId: supplierListResults[i]["ExpenseAccountId"],
                                UnitId: supplierListResults[i]["UnitId"],
                                OutputTaxId: supplierListResults[i]["OutputTaxId"],
                                InputTaxId: supplierListResults[i]["InputTaxId"],
                                WTaxTypeId: supplierListResults[i]["WTaxTypeId"],
                                Price: supplierListResults[i]["Price"],
                                Cost: supplierListResults[i]["Cost"],
                                IsInventory: supplierListResults[i]["IsInventory"],
                                Particulars: supplierListResults[i]["Particulars"],
                                Address: supplierListResults[i]["Address"],
                                TermId: supplierListResults[i]["TermId"],
                                ContactNumber: supplierListResults[i]["ContactNumber"],
                                ContactPerson: supplierListResults[i]["ContactPerson"],
                                TaxNumber: supplierListResults[i]["TaxNumber"],
                                CreditLimit: supplierListResults[i]["CreditLimit"],
                                DateAcquired: supplierListResults[i]["DateAcquired"],
                                UsefulLife: supplierListResults[i]["UsefulLife"],
                                SalvageValue: supplierListResults[i]["SalvageValue"],
                                ManualArticleOldCode: supplierListResults[i]["ManualArticleOldCode"],
                                IsLocked: supplierListResults[i]["IsLocked"],
                                CreatedById: supplierListResults[i]["CreatedById"],
                                CreatedBy: supplierListResults[i]["CreatedBy"],
                                CreatedDateTime: supplierListResults[i]["CreatedDateTime"],
                                UpdatedById: supplierListResults[i]["UpdatedById"],
                                UpdatedBy: supplierListResults[i]["UpdatedBy"],
                                UpdatedDateTime: supplierListResults[i]["UpdatedDateTime"]
                            });
                        }
                    }

                    NProgress.done();
                }
            });

            return suppliersObservableArray;
        }

        // =========================
        // Refresh Supplier Flexgrid
        // =========================
        function refreshSupplierFlexgrid() {
            supplierCollectionView = new wijmo.collections.CollectionView(getArtcileForSuppliers());
            supplierCollectionView.canFilter = true;
            supplierCollectionView.pageSize = 15;

            var filterText = '';
            $('#InputFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                supplierCollectionView.refresh();
            });

            supplierCollectionView.filter = function (item) {
                return !filterText || (item.Article.toLowerCase().indexOf(filterText) > -1)
                    || (item.ContactNumber.toLowerCase().indexOf(filterText) > -1)
                    || (item.ArticleCode.toLowerCase().indexOf(filterText) > -1)
                    || (item.ArticleGroup.toLowerCase().indexOf(filterText) > -1);
            }

            supplierCollectionView.collectionChanged.addHandler(function (sender, args) {
                updateNavigateButtonsSupplier();
            });

            supplierCollectionView.currentChanged.addHandler(function (sender, args) {
                updateDetails();
            });

            supplierFlexGrid.itemsSource = supplierCollectionView;
            supplierFlexGrid.trackChanges = true;
        }

        // ===================
        // Supplier Add Button
        // ===================
        function btnAddSupplier_OnClick() {
            document.getElementById('btnAddSupplier').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Adding";
            $('#btnAddSupplier').prop('disabled', true);
            $('#btnCloseSupplier').prop('disabled', true);

            var canAccessToDetailPage = "@ViewData["CanAccessToDetailPage"]";
            if (canAccessToDetailPage == "True") {
                $.ajax({
                    type: "POST",
                    url: '/api/addArticle/3',
                    contentType: "application/json; charset=utf-8",
                    success: function (id) {
                        if (id > 0) {
                            window.location = '/Software/SupplierDetail?id=' + id;
                        } else {
                            toastr.error("Something's went wrong.");
                            document.getElementById('btnAddSupplier').innerHTML = "<i class='fa fa-plus'></i> Add";
                            $('#btnAddSupplier').prop('disabled', false);
                            $('#btnCloseSupplier').prop('disabled', false);
                        }
                    }
                });
            } else {
                if (canAccessToDetailPage == "False") {
                    window.location = '/Software/Forbidden';
                }
            }
        }

        // =====================
        // Supplier Close Button
        // =====================
        function btnCloseSupplier_OnClick() {
            window.location = '/Software';
        }

        // ====================
        // Supplier Edit Button
        // ====================
        function cmdSupplierEditButton_OnClick() {
            supplierCollectionView.editItem(supplierCollectionView.currentItem);
            var supplier = supplierCollectionView.currentEditItem;
            var supplierId = supplier.Id;

            window.location = '/Software/SupplierDetail?id=' + supplierId;
        }

        // =====================
        // Supplier delete Button
        // =====================
        function cmdSupplierDeleteButton_OnClick() {
            supplierCollectionView.editItem(supplierCollectionView.currentItem);
            var supplier = supplierCollectionView.currentEditItem;
            if (supplier.IsLocked) {
                toastr.error("Delete is not allowed when the selected record is locked!");
            } else {
                $('#deleteSupplierConfirm').modal({
                    show: true,
                    backdrop: 'static'
                });

                document.getElementById('cmdConfirmDeleteSupplier').innerHTML = "<i class='fa fa-trash'></i> Delete";
                $('#cmdConfirmDeleteSupplier').prop('disabled', false);
                $('#cmdConfirmDeleteCloseButton').prop('disabled', false);
            }
        }

        // Supplier Confirm Delete Button
        function cmdSupplierConfirmDeleteButton_OnClick() {
            document.getElementById('cmdConfirmDeleteSupplier').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Deleting";
            $('#cmdConfirmDeleteSupplier').prop('disabled', true);
            $('#cmdConfirmDeleteCloseButton').prop('disabled', true);

            supplierCollectionView.editItem(supplierCollectionView.currentItem);
            var supplierId = supplierCollectionView.currentEditItem.Id;
            $.ajax({
                url: '/api/deleteArticle/' + supplierId,
                type: "DELETE",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                statusCode: {
                    200: function () {
                        toastr.success("Delete Successful");
                        $('#deleteSupplierConfirm').modal('hide');
                        refreshSupplierFlexgrid();
                    },
                    404: function () {
                        toastr.error("Not Found");
                        $('#deleteSupplierConfirm').modal('hide');
                        document.getElementById('cmdConfirmDeleteSupplier').innerHTML = "<i class='fa fa-trash'></i> Delete";
                        $('#cmdConfirmDeleteSupplier').prop('disabled', false);
                        $('#cmdConfirmDeleteCloseButton').prop('disabled', false);
                    },
                    400: function () {
                        toastr.error("Bad Request");
                        $('#deleteSupplierConfirm').modal('hide');
                        document.getElementById('cmdConfirmDeleteSupplier').innerHTML = "<i class='fa fa-trash'></i> Delete";
                        $('#cmdConfirmDeleteSupplier').prop('disabled', false);
                        $('#cmdConfirmDeleteCloseButton').prop('disabled', false);
                    }
                }
            });
        }

        // ===================
        // FlexGrid Selection
        // ===================
        function updateDetails() {
            supplierCollectionView.editItem(supplierCollectionView.currentItem);
            var supplier = supplierCollectionView.currentItem;
            document.getElementById('createdBy').innerHTML = supplier.CreatedBy;
            document.getElementById('createdDate').innerHTML = supplier.CreatedDateTime;
            document.getElementById('updatedBy').innerHTML = supplier.UpdatedBy;
            document.getElementById('updatedDate').innerHTML = supplier.UpdatedDateTime;
        }

        // ===============================
        // Navigation Buttons for Supplier
        // ===============================
        function updateNavigateButtonsSupplier() {
            if (supplierCollectionView.pageSize <= 0) {
                document.getElementById('naviagtionPageGrid').style.display = 'none';
                return;
            }
            document.getElementById('naviagtionPageGrid').style.display = 'block';
            if (supplierCollectionView.pageIndex === 0) {
                btnFirstPageGrid.setAttribute('disabled', 'disabled');
                btnPreviousPageGrid.setAttribute('disabled', 'disabled');
                btnNextPageGrid.removeAttribute('disabled');
                btnLastPageGrid.removeAttribute('disabled');
            } else if (supplierCollectionView.pageIndex === (supplierCollectionView.pageCount - 1)) {
                btnFirstPageGrid.removeAttribute('disabled');
                btnPreviousPageGrid.removeAttribute('disabled');
                btnLastPageGrid.setAttribute('disabled', 'disabled');
                btnNextPageGrid.setAttribute('disabled', 'disabled');
            } else {
                btnFirstPageGrid.removeAttribute('disabled');
                btnPreviousPageGrid.removeAttribute('disabled');
                btnNextPageGrid.removeAttribute('disabled');
                btnLastPageGrid.removeAttribute('disabled');
            }
            btnCurrentPageGrid.innerHTML = (supplierCollectionView.pageIndex + 1) + ' / ' + supplierCollectionView.pageCount;
        }

        // =================
        // Supplier FlexGrid
        // =================
        function createSupplierFlexGrid() {
            supplierCollectionView = new wijmo.collections.CollectionView(getArtcileForSuppliers());
            supplierCollectionView.canFilter = true;
            supplierCollectionView.pageSize = 15;

            var filterText = '';
            $('#InputFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                supplierCollectionView.refresh();
            });

            supplierCollectionView.filter = function (item) {
                return !filterText || (item.Article.toLowerCase().indexOf(filterText) > -1)
                                   || (item.ContactNumber.toLowerCase().indexOf(filterText) > -1)
                                   || (item.ArticleCode.toLowerCase().indexOf(filterText) > -1)
                                   || (item.ArticleGroup.toLowerCase().indexOf(filterText) > -1);
            }

            supplierCollectionView.collectionChanged.addHandler(function (sender, args) {
                updateNavigateButtonsSupplier();
            });

            supplierCollectionView.currentChanged.addHandler(function (sender, args) {
                updateDetails();
            });

            supplierFlexGrid = new wijmo.grid.FlexGrid('#SupplierGrid');
            supplierFlexGrid.initialize({
                columns: [
                            {
                                "header": "Edit",
                                "binding": "EditId",
                                "width": 70,
                                "align": "center",
                                "allowResizing": false,
                                "allowSorting": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "Delete",
                                "binding": "DeleteId",
                                "width": 70,
                                "align": "center",
                                "allowResizing": false,
                                "allowSorting": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "Code",
                                "binding": "ArticleCode",
                                "allowSorting": true,
                                "width": "1.5*",
                            },
                            {
                                "header": "Supplier",
                                "binding": "Article",
                                "allowSorting": true,
                                "width": "4*"
                            },
                            {
                                "header": "Contact Number",
                                "binding": "ContactNumber",
                                "allowSorting": true,
                                "width": "3*"
                            },
                            {
                                "header": "Group",
                                "binding": "ArticleGroup",
                                "allowSorting": true,
                                "width": "3*"
                            },
                            {
                                "header": "L",
                                "binding": "IsLocked",
                                "allowSorting": true,
                                "width": 50
                            }
                ],
                autoGenerateColumns: false,
                itemsSource: supplierCollectionView,
                isReadOnly: true,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            supplierFlexGrid.trackChanges = true;

            btnFirstPageGrid = document.getElementById('btnMoveToFirstPageGrid');
            btnPreviousPageGrid = document.getElementById('btnMoveToPreviousPageGrid');
            btnNextPageGrid = document.getElementById('btnMoveToNextPageGrid');
            btnLastPageGrid = document.getElementById('btnMoveToLastPageGrid');
            btnCurrentPageGrid = document.getElementById('btnCurrentPageGrid');

            updateNavigateButtonsSupplier();

            btnFirstPageGrid.addEventListener('click', function () {
                supplierCollectionView.moveToFirstPage();
                updateNavigateButtonsSupplier();
            });

            btnPreviousPageGrid.addEventListener('click', function () {
                supplierCollectionView.moveToPreviousPage();
                updateNavigateButtonsSupplier();
            });

            btnNextPageGrid.addEventListener('click', function () {
                supplierCollectionView.moveToNextPage();
                updateNavigateButtonsSupplier();
            });

            btnLastPageGrid.addEventListener('click', function () {
                supplierCollectionView.moveToLastPage();
                updateNavigateButtonsSupplier();
            });

            var canAdd = "@ViewData["CanAdd"]";
            if (canAdd == "False") {
                $("#btnAddSupplier").prop("disabled", true);
            }
        }

        // ============
        // On Load Page
        // ============
        $(document).ready(function () {
            createSupplierFlexGrid();
        });
    </script>
    <script type="text/javascript">
        var cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches');
        function getUserBranches() {
            $("#loadingUserBranches").show();
            document.getElementById("loadingUserBranches").innerHTML = '<i class="fa fa-spinner fa-spin"></i>';
            $("#userBranchContent").hide();

            $('#userBranchesModal').modal({ show: true, backdrop: 'static' });

            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
            $("#updateUserBranch").prop("disabled", false);
            $("#closeUserBranch").prop("disabled", false);

            var userBranchesObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/userBranch/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (userBranchesResults) {
                    if (userBranchesResults.length > 0) {
                        for (i = 0; i < userBranchesResults.length; i++) {
                            userBranchesObservableArray.push({
                                BranchId: userBranchesResults[i]["BranchId"],
                                Branch: userBranchesResults[i]["Branch"]
                            });
                        }
                    }

                    var currentBranch = "@ViewData["BranchId"]";
                    cboUserBranches.dispose();
                    cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches', {
                        isEditable: false,
                        placeholder: "Select Branches",
                        itemsSource: userBranchesObservableArray,
                        displayMemberPath: "Branch",
                        selectedValuePath: "BranchId",
                        selectedValue: currentBranch
                    });

                    setTimeout(function () {
                        $("#loadingUserBranches").hide();
                        $("#userBranchContent").show();
                    }, 500)
                }
            });
        }

        function updateUserBranchOnclick() {
            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Updating";
            $("#updateUserBranch").prop("disabled", true);
            $("#closeUserBranch").prop("disabled", true);

            var userBranchObject = new Object();
            userBranchObject.BranchId = cboUserBranches.selectedValue;
            var userBranchData = JSON.stringify(userBranchObject);

            $.ajax({
                type: "PUT",
                url: '/api/userBranch/update',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: userBranchData,
                statusCode: {
                    200: function () {
                        toastr.success("Update Successful");
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function () {
                        toastr.error("Not Found");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    },
                    500: function () {
                        toastr.error("Bad Request");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    }
                }
            });
        }
    </script>
    <script type="text/javascript">
        var slideLeft = new Menu({
            wrapper: '#o-wrapper',
            type: 'slide-left',
            menuOpenerClass: '.c-button',
            maskId: '#c-mask'
        });

        var slideLeftBtn = document.querySelector('#c-button--slide-left');

        slideLeftBtn.addEventListener('click', function (e) {
            e.preventDefault;
            slideLeft.open();
        });
    </script>
</body>
</html>