<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Title of the Page -->
    <title>Supplier Detail</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Content/Software-css")
</head>
<body class="hold-transition skin-blue fixed sidebar-mini">
    <div class="wrapper">
        @Html.Partial("_SoftwareHeader")
        @Html.Partial("_SoftwareSideBarMenu")

        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    Supplier Detail
                    <small><i class="fa fa-building"></i> @ViewData["Company"] / @ViewData["Branch"]</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/Software"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                    <li><a href="/Software/Supplier">Supplier</a></li>
                    <li> Supplier Detail </li>
                </ol>
            </section>

            <section class="content">
                <div class="box box-default">
                    <div class="box-header">
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-6" align="right">
                                <button class="btn btn-primary btn-sm" id="supplier_SaveButton" onclick="supplierSaveButton_OnClick()"><i class="fa fa-save"></i> Save</button>
                                <button class="btn btn-primary btn-sm" id="supplier_LockButton" onclick="supplierLockButton_OnClick()"><i class="fa fa-lock"></i> Lock</button>
                                <button class="btn btn-primary btn-sm" id="supplier_UnlockButton" onclick="supplierUnlockButton_OnClick()"><i class="fa fa-unlock"></i> Unlock</button>
                                <button class="btn btn-danger btn-sm" id="supplier_CloseButton" onclick="supplierCloseButton_OnClick()"><i class=" fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="well">
                            <form class="form-horizontal" role="form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Code</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control input-30 input-sm requiredSupplier" id="artcileSupplier_code" placeholder="Code" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Supplier</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control input-sm requiredSupplier" id="artcileSupplier_Supplier" placeholder="Supplier" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Supplier Group</label>
                                            <div class="col-sm-8">
                                                <div class="input-70" id="artcileSupplier_SupplierGroup"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Account</label>
                                            <div class="col-sm-8">
                                                <div class="input-30" id="artcileSupplier_AccountCode"></div>
                                                <div class="input-68" id="artcileSupplier_Account"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Term</label>
                                            <div class="col-sm-8">
                                                <div class="input-70" id="artcileSupplier_Term"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Address</label>
                                            <div class="col-sm-8">
                                                <textarea class="form-control textarea-custom requiredSupplier" id="artcileSupplier_Address" placeholder="Address"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Contact Number</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control input-sm input-50 requiredSupplier" id="artcileSupplier_ContactNo" placeholder="Contact No." />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Contact Person</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control input-sm requiredSupplier" id="artcileSupplier_ContactPerson" placeholder="Contact Person" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">TIN</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control input-sm input-50 requiredSupplier" id="artcileSupplier_TIN" placeholder="TIN Number" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Particulars</label>
                                            <div class="col-sm-8">
                                                <textarea class="form-control textarea-custom requiredSupplier" id="artcileSupplier_Particulars" placeholder="Particulars"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <br />
                        <!-- Supplier line -->
                        <ul class="nav nav-tabs" role="tablist" id="myTab">
                            <li role="presentation" class="active"><a data-toggle="tab" href="#JournalLedger" id="journalLedgerTabId">Journal Ledger</a></li>
                            <li role="presentation"><a data-toggle="tab" href="#ContactInformation" id="contactInformationTabId">More Contact Information</a></li>
                        </ul>
                        <br />
                        <div class="tab-content">
                            <!-- Journal Ledger -->
                            <div id="JournalLedger" class="tab-pane fade in active">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div id="JournalLedgerGrid" class="grid" align="left"></div>
                                    </div>
                                </div>
                            </div>

                            <!-- More Contact Information List -->
                            <div id="ContactInformation" class="tab-pane fade in">
                                <div class="row">
                                    <div class="col-lg-12" align="right">
                                        <button class="btn btn-primary btn-sm" id="btnAddMoreContactInformation" onclick="cmdAddContact_OnClick()"><i class="fa fa-plus"></i> Add</button>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div id="ContactInformationGrid" class="grid"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        @Html.Partial("_SoftwareFooter")
    </div>

    <!-- Contact Edit Detail -->
    <div class="modal fade" id="contactEdit" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="contactModalLabel">Contact Information Detail</h4>
                </div>
                <div class="modal-body">
                    <form id="contactDetailForm">
                        <input type="hidden" id="contact_Id" />
                        <dl class="dl-horizontal">
                            <dt>Contact Person</dt>
                            <dd><input type="text" class="form-control input-sm requiredContact" id="contact_contactPerson" placeholder="Contact Person" /></dd>
                            <dt>Contact Number</dt>
                            <dd><input type="text" class="form-control input-sm input-50 requiredContact" id="contact_contactNumber" placeholder="Contact Number" /></dd>
                            <dt>Remarks</dt>
                            <dd><textarea class="form-control textarea-custom requiredContact" id="contact_Remarks" placeholder="Remarks"></textarea></dd>
                        </dl>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" id="cmdSaveContactButton" onclick="cmdContactSaveButton_OnClick()"><i class="fa fa-save"></i> Save</button>
                    <button id="cmdContactDetailCloseButton" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact Delete Modal Confirmation -->
    <div class="modal fade" id="deleteContactConfirm" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Contact <i class="fa fa-trash"></i></h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger btn-sm" id="cmdConfirmDeleteContact" onclick="cmdContactConfirmDeleteButton_OnClick()"><i class="fa fa-trash"></i> Delete</button>
                    <button id="cmdConfirmDeleteContactCloseButton" class="btn btn-primary btn-sm" data-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        // ================
        // Global Variables
        // ================
        var suppliers;
        var articleSupplierGroups;
        var accounts;
        var terms;
        var cboArticleGroup;
        var cboForAccountCode;
        var cboForAccount;
        var cboForTerm;
        var supplierGroupSelectedValue = "";
        var accountSelectedValue = "";
        var termSelectedValue = "";
        var Islocked;
        var supplierId = getParam('SupplierId');

        // =======================
        // Get URL Parameter Value
        // =======================
        function getParam(name) {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
            var regexS = "[\\?&]" + name + "=([^&#]*)";
            var regex = new RegExp(regexS);
            var results = regex.exec(window.location.href);
            if (results == null) {
                return "";
            } else {
                return results[1];
            }
        }

        // ==================================
        // Get Article for supplier by its ID
        // ==================================
        function getArticleSupplierById() {
            if (document.location.search.length > 0) {
                NProgress.start();
                $.ajax({
                    url: '/api/article/' + supplierId,
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    data: {},
                    success: function (supplierResults) {
                        if (supplierResults != null) {
                            document.getElementById('artcileSupplier_code').value = supplierResults.ArticleCode;
                            document.getElementById('artcileSupplier_Supplier').value = supplierResults.Article;
                            document.getElementById('artcileSupplier_Address').value = supplierResults.Address;
                            document.getElementById('artcileSupplier_Particulars').value = supplierResults.Particulars;
                            document.getElementById('artcileSupplier_TIN').value = supplierResults.TaxNumber;
                            document.getElementById('artcileSupplier_ContactNo').value = supplierResults.ContactNumber;
                            document.getElementById('artcileSupplier_ContactPerson').value = supplierResults.ContactPerson;
                            document.getElementById('createdBy').innerHTML = supplierResults.CreatedBy;
                            document.getElementById('createdDate').innerHTML = supplierResults.CreatedDateTime;
                            document.getElementById('updatedBy').innerHTML = supplierResults.UpdatedBy;
                            document.getElementById('updatedDate').innerHTML = supplierResults.UpdatedDateTime;
                            supplierGroupSelectedValue = supplierResults.ArticleGroup;
                            accountSelectedValue = supplierResults.Account;
                            termSelectedValue = supplierResults.Term;

                            NProgress.done();
                            if (supplierResults.IsLocked == true) {
                                document.getElementById('artcileSupplier_Supplier').disabled = true;
                                document.getElementById('artcileSupplier_Address').disabled = true;
                                document.getElementById('artcileSupplier_Particulars').disabled = true;
                                document.getElementById('artcileSupplier_TIN').disabled = true;
                                document.getElementById('artcileSupplier_ContactNo').disabled = true;
                                document.getElementById('artcileSupplier_ContactPerson').disabled = true;
                                $('#supplier_SaveButton').prop('disabled', true);
                                $('#supplier_LockButton').prop('disabled', true);
                                $('#supplier_UnlockButton').prop('disabled', false);
                                $('#btnAddMoreContactInformation').prop('disabled', true);
                                Islocked = true;
                            } else {
                                document.getElementById('artcileSupplier_Supplier').disabled = false;
                                document.getElementById('artcileSupplier_Address').disabled = false;
                                document.getElementById('artcileSupplier_Particulars').disabled = false;
                                document.getElementById('artcileSupplier_TIN').disabled = false;
                                document.getElementById('artcileSupplier_ContactNo').disabled = false;
                                document.getElementById('artcileSupplier_ContactPerson').disabled = false;
                                $('#supplier_SaveButton').prop('disabled', false);
                                $('#supplier_LockButton').prop('disabled', false);
                                $('#supplier_UnlockButton').prop('disabled', true);
                                $('#btnAddMoreContactInformation').prop('disabled', false);
                                Islocked = false;
                            }

                            getLastArticleCode();
                            getArticleSupplierGroupForComboBox();
                            getArticleTermForComboBox();
                        } else {
                            confirm("No Data");
                            window.location = '/Software/Supplier';
                        }
                    }
                }).fail(function () {
                    confirm("URL Not Found");
                    window.location = '/Software/Supplier';
                });
            } else {
                getLastArticleCode();
                getArticleSupplierGroupForComboBox();
                getArticleTermForComboBox();

                document.getElementById('artcileSupplier_Supplier').value = "NA";
                document.getElementById('artcileSupplier_Address').value = "NA";
                document.getElementById('artcileSupplier_Particulars').value = "NA";
                document.getElementById('artcileSupplier_TIN').value = "NA";
                document.getElementById('artcileSupplier_ContactNo').value = "NA";
                document.getElementById('artcileSupplier_ContactPerson').value = "NA";

                NProgress.done();
            }
        }

        // =================
        // IsLocked Disabled
        // =================
        function isLockedDisabledDropdown(items) {
            var disabled;
            if (items == 0) {
                disabled = true;
            } else {
                if (Islocked == true) {
                    disabled = true;
                } else {
                    disabled = false;
                }
            }
            return disabled;
        }

        // =========================
        // Get Artile Supplier Group
        // =========================
        function getArticleSupplierGroupForComboBox() {
            articleSupplierGroups = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/listArticleGroupByArticleTypeId/3',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (articleSupplierGroupResults) {
                    if (articleSupplierGroupResults.length > 0) {
                        for (i = 0; i < articleSupplierGroupResults.length; i++) {
                            articleSupplierGroups.push({
                                ArticleGroupId: articleSupplierGroupResults[i]["Id"],
                                ArticleGroup: articleSupplierGroupResults[i]["ArticleGroup"],
                                AccountId: articleSupplierGroupResults[i]["AccountId"],
                                AccountCode: articleSupplierGroupResults[i]["AccountCode"],
                                Account: articleSupplierGroupResults[i]["Account"],
                                SalesAccountId: articleSupplierGroupResults[i]["SalesAccountId"],
                                SalesAccount: articleSupplierGroupResults[i]["SalesAccount"],
                                CostAccountId: articleSupplierGroupResults[i]["CostAccountId"],
                                CostAccount: articleSupplierGroupResults[i]["CostAccount"],
                                AssetAccountId: articleSupplierGroupResults[i]["AssetAccountId"],
                                AssetAccount: articleSupplierGroupResults[i]["AssetAccount"],
                                ExpenseAccountId: articleSupplierGroupResults[i]["ExpenseAccountId"],
                                ExpenseAccount: articleSupplierGroupResults[i]["ExpenseAccount"]
                            });
                        }
                        createCboForArticleSupplierGroup(articleSupplierGroups);
                        getArticleAccountForComboBox();
                    } else {
                        createCboForArticleSupplierGroup(articleSupplierGroups);
                        getArticleAccountForComboBox();
                    }
                }
            });
        }

        // ======================
        // CBO for Supplier Group
        // ======================
        function createCboForArticleSupplierGroup(articleSupplierGroups) {
            cboArticleGroup.dispose();
            cboArticleGroup = new wijmo.input.ComboBox('#artcileSupplier_SupplierGroup', {
                disabled: isLockedDisabledDropdown(articleSupplierGroups),
                placeholder: "Supplier Group",
                itemsSource: articleSupplierGroups,
                displayMemberPath: "ArticleGroup",
                isEditable: false,
                selectedValuePath: "ArticleGroup",
                selectedValue: supplierGroupSelectedValue.toString(),
                onSelectedIndexChanged: function () {
                    getArticleAccountForComboBox();
                }
            });
        }

        // ==================
        // Get Artile Account
        // ==================
        function getArticleAccountForComboBox() {
            accounts = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/listAccount',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (accountResults) {
                    if (accountResults.length > 0) {
                        for (i = 0; i < accountResults.length; i++) {
                            accounts.push({
                                AccountId: accountResults[i]["Id"],
                                AccountCode: accountResults[i]["AccountCode"],
                                Account: accountResults[i]["Account"]
                            });
                        }
                        createCboForAccountCode(accounts);
                        createCboForAccount(accounts);
                    } else {
                        createCboForAccountCode(accounts);
                        createCboForAccount(accounts);
                    }
                }
            });
        }

        // ====================
        // CBO for Account Code
        // ====================
        function createCboForAccountCode(accounts) {
            cboForAccountCode.dispose();
            cboForAccountCode = new wijmo.input.ComboBox('#artcileSupplier_AccountCode', {
                disabled: true,
                placeholder: "Account Code",
                itemsSource: accounts,
                displayMemberPath: "AccountCode",
                isEditable: false,
                selectedValuePath: "AccountCode",
                selectedValue: cboArticleGroup.selectedItem["AccountCode"].toString(),
            });
        }

        // ===============
        // CBO for Account
        // ===============
        function createCboForAccount(accounts) {
            cboForAccount.dispose();
            cboForAccount = new wijmo.input.ComboBox('#artcileSupplier_Account', {
                disabled: true,
                placeholder: "Account",
                itemsSource: accounts,
                displayMemberPath: "Account",
                isEditable: false,
                selectedValuePath: "Account",
                selectedValue: cboArticleGroup.selectedItem["Account"].toString(),
            });
        }

        // ===============
        // Get Artile Term
        // ===============
        function getArticleTermForComboBox() {
            terms = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/listTerm',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (termResults) {
                    if (termResults.length > 0) {
                        for (i = 0; i < termResults.length; i++) {
                            terms.push({
                                TermId: termResults[i]["Id"],
                                Term: termResults[i]["Term"]
                            });
                        }
                        createCboForTerm(terms);
                    } else {
                        createCboForTerm(terms);
                    }
                }
            });
        }

        // ============
        // CBO for Term
        // ============
        function createCboForTerm(terms) {
            cboForTerm.dispose();
            cboForTerm = new wijmo.input.ComboBox('#artcileSupplier_Term', {
                disabled: isLockedDisabledDropdown(terms),
                placeholder: "Term",
                itemsSource: terms,
                displayMemberPath: "Term",
                isEditable: false,
                selectedValuePath: "Term",
                selectedValue: termSelectedValue.toString()
            });
        }

        // =========================
        // Supplier Entry Validation
        // =========================
        function supplierEntryValidation() {
            var isValid = true;
            $('.requiredSupplier').each(function () {
                if ($.trim($(this).val()) == '') {
                    isValid = false;
                    $(this).css({
                        "border": "1px solid red"
                    });
                } else {
                    $(this).css({
                        "border": "",
                    });
                }
            });
            return isValid;
        }

        // ===================================
        // Supplier drop down field validation
        // ===================================
        function dropdownValidation() {
            if (cboArticleGroup.selectedItem["ArticleGroup"].toString() == '') {
                document.getElementById("artcileSupplier_SupplierGroup").style.border = "1px solid red";
            } else {
                document.getElementById("artcileSupplier_SupplierGroup").style.border = "1px solid #C8C8C8   ";
            }

            if (cboArticleGroup.selectedItem["Account"].toString() == '') {
                document.getElementById("artcileSupplier_Account").style.border = "1px solid red";
            } else {
                document.getElementById("artcileSupplier_Account").style.border = "1px solid #C8C8C8   ";
            }

            if (cboForTerm.selectedItem["Term"].toString() == '') {
                document.getElementById("artcileSupplier_Term").style.border = "1px solid red";
            } else {
                document.getElementById("artcileSupplier_Term").style.border = "1px solid #C8C8C8   ";
            }
        }

        // ====================
        // Data Supplier Object
        // ====================
        function dataSupplierObject() {
            var supplierObject = new Object();
            supplierObject.ArticleCode = document.getElementById('artcileSupplier_code').value;
            supplierObject.Article = document.getElementById('artcileSupplier_Supplier').value;
            supplierObject.ArticleGroupId = cboArticleGroup.selectedItem["ArticleGroupId"];
            supplierObject.AccountId = cboForAccount.selectedItem["AccountId"];
            supplierObject.SalesAccountId = cboArticleGroup.selectedItem["SalesAccountId"];
            supplierObject.CostAccountId = cboArticleGroup.selectedItem["CostAccountId"];
            supplierObject.AssetAccountId = cboArticleGroup.selectedItem["AssetAccountId"];
            supplierObject.ExpenseAccountId = cboArticleGroup.selectedItem["ExpenseAccountId"];
            supplierObject.TermId = cboForTerm.selectedItem["TermId"];
            supplierObject.Address = document.getElementById('artcileSupplier_Address').value;
            supplierObject.ContactNumber = document.getElementById('artcileSupplier_ContactNo').value;
            supplierObject.ContactPerson = document.getElementById('artcileSupplier_ContactPerson').value;
            supplierObject.TaxNumber = document.getElementById('artcileSupplier_TIN').value;
            supplierObject.Particulars = document.getElementById('artcileSupplier_Particulars').value;
            var supplierData = JSON.stringify(supplierObject);
            return supplierData;
        }

        // ====================
        // Save Supllier Button
        // ====================
        function supplierSaveButton_OnClick() {
            dropdownValidation();
            if (supplierEntryValidation() == false) {
                toastr.error("Invalid Entry");
            } else {
                document.getElementById('supplier_SaveButton').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Saving";
                $('#supplier_SaveButton').prop('disabled', true);
                $('#supplier_LockButton').prop('disabled', true);
                $('#supplier_UnlockButton').prop('disabled', true);
                $('#supplier_CloseButton').prop('disabled', true);

                $.ajax({
                    type: "POST",
                    url: '/api/addArticle/3',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: dataSupplierObject(),
                    success: function (id) {
                        if (id > 0) {
                            window.location = '/Software/SupplierDetail?SupplierId=' + id;
                            document.getElementById('supplier_SaveButton').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Saving";
                            $('#supplier_SaveButton').prop('disabled', true);
                            $('#supplier_LockButton').prop('disabled', true);
                            $('#supplier_UnlockButton').prop('disabled', true);
                            $('#supplier_CloseButton').prop('disabled', true);
                        } else {
                            window.history.back();
                        }
                    }
                });
            }
        }

        // ====================
        // Lock Supplier Button
        // ====================
        function supplierLockButton_OnClick() {
            dropdownValidation();
            if (supplierEntryValidation() == false) {
                toastr.error("Invalid Entry");
            } else {
                document.getElementById('supplier_LockButton').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Locking";
                $('#supplier_SaveButton').prop('disabled', true);
                $('#supplier_LockButton').prop('disabled', true);
                $('#supplier_UnlockButton').prop('disabled', true);
                $('#supplier_CloseButton').prop('disabled', true);

                $.ajax({
                    type: "PUT",
                    url: '/api/updateArticle/' + supplierId + '/3',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: dataSupplierObject(),
                    statusCode: {
                        200: function () {
                            document.getElementById('supplier_LockButton').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Locking";
                            $('#supplier_SaveButton').prop('disabled', true);
                            $('#supplier_LockButton').prop('disabled', true);
                            $('#supplier_UnlockButton').prop('disabled', true);
                            $('#supplier_CloseButton').prop('disabled', true);
                            toastr.success("Locked");
                            window.setTimeout(function () {
                                location.reload()
                            }, 1000);
                        },
                        404: function () {
                            document.getElementById('supplier_LockButton').innerHTML = "<i class='fa fa-lock'></i> Lock";
                            $('#supplier_SaveButton').prop('disabled', true);
                            $('#supplier_LockButton').prop('disabled', false);
                            $('#supplier_UnlockButton').prop('disabled', true);
                            $('#supplier_CloseButton').prop('disabled', false);
                            toastr.error("Lock request not found");
                        },
                        400: function () {
                            document.getElementById('supplier_LockButton').innerHTML = "<i class='fa fa-lock'></i> Lock";
                            $('#supplier_SaveButton').prop('disabled', true);
                            $('#supplier_LockButton').prop('disabled', false);
                            $('#supplier_UnlockButton').prop('disabled', true);
                            $('#supplier_CloseButton').prop('disabled', false);
                            toastr.error("Cannot lock record");
                        }
                    }
                });
            }
        }

        // ======================
        // Unlock Supplier Button
        // ======================
        function supplierUnlockButton_OnClick() {
            document.getElementById('supplier_UnlockButton').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Unlocking";
            $('#supplier_SaveButton').prop('disabled', true);
            $('#supplier_LockButton').prop('disabled', true);
            $('#supplier_UnlockButton').prop('disabled', true);
            $('#supplier_CloseButton').prop('disabled', true);

            $.ajax({
                type: "PUT",
                url: '/api/unlockArticle/' + supplierId,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: {},
                statusCode: {
                    200: function () {
                        document.getElementById('supplier_UnlockButton').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Unlocking";
                        $('#supplier_SaveButton').prop('disabled', true);
                        $('#supplier_LockButton').prop('disabled', true);
                        $('#supplier_UnlockButton').prop('disabled', true);
                        $('#supplier_CloseButton').prop('disabled', true);
                        toastr.success("Unlocked");
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function () {
                        document.getElementById('supplier_UnlockButton').innerHTML = "<i class='fa fa-unlock'></i> Unlock";
                        $('#supplier_SaveButton').prop('disabled', true);
                        $('#supplier_LockButton').prop('disabled', true);
                        $('#supplier_UnlockButton').prop('disabled', false);
                        $('#supplier_CloseButton').prop('disabled', false);
                        toastr.error("Unlock request not found");
                    },
                    400: function () {
                        document.getElementById('supplier_UnlockButton').innerHTML = "<i class='fa fa-unlock'></i> Unlock";
                        $('#supplier_SaveButton').prop('disabled', true);
                        $('#supplier_LockButton').prop('disabled', true);
                        $('#supplier_UnlockButton').prop('disabled', false);
                        $('#supplier_CloseButton').prop('disabled', false);
                        toastr.error("Cannot unlock record");
                    }
                }
            });
        }

        // =====================
        // Close Supplier Button
        // =====================
        function supplierCloseButton_OnClick() {
            window.location = '/Software/Supplier';
        }

        // ========================================================
        // Function with leading zeroes to display the article code
        // ========================================================
        function zerofill(number, length) {
            var result = number.toString();
            var pad = length - result.length;
            while (pad > 0) {
                result = '0' + result;
                pad--;
            }
            return result;
        }

        // =========================
        // Get the last Article Code
        // =========================
        function getLastArticleCode() {
            document.getElementById('artcileSupplier_code').disabled = true;
            if (document.location.search.length == 0) {
                $.ajax({
                    url: '/api/articleLastArticleCodeByArticleTypeId/3',
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    data: {},
                    success: function (lastArticleCodeResults) {
                        if (lastArticleCodeResults != null) {
                            var articleCode = parseInt(lastArticleCodeResults.ArticleCode);
                            var articleCodeResults = articleCode + 0000000001;
                            document.getElementById('artcileSupplier_code').value = zerofill(articleCodeResults, 10);
                        } else {
                            document.getElementById('artcileSupplier_code').value = "0000000001";
                        }
                    }
                });

                $('#supplier_SaveButton').prop('disabled', false);
                $('#supplier_LockButton').prop('disabled', true);
                $('#supplier_UnlockButton').prop('disabled', true);
                $('#supplier_CloseButton').prop('disabled', false);
            }
        }

        // ============
        // On Page Load
        // ============
        $(document).ready(function () {
            var userId = '@ViewData["UserId"]';
            rightsAccessValidation(userId);

            // combo box wijmo
            cboArticleGroup = new wijmo.input.ComboBox('#artcileSupplier_SupplierGroup');
            cboForAccountCode = new wijmo.input.ComboBox('#artcileSupplier_AccountCode');
            cboForAccount = new wijmo.input.ComboBox('#artcileSupplier_Account');
            cboForTerm = new wijmo.input.ComboBox('#artcileSupplier_Term');

            // function
            getArticleSupplierById();

            if (document.location.search.length == 0) {
                $('#supplier_SaveButton').show();
                $('#supplier_LockButton').hide();
                $('#supplier_UnlockButton').hide();
                $('#btnAddMoreContactInformation').prop('disabled', true);

                
            } else {
                $('#supplier_SaveButton').hide();
                $('#supplier_LockButton').show();
                $('#supplier_UnlockButton').show();
            }

            $('#JournalLedger').show();
            $('#ContactInformation').hide();
            journalLedgerTab();

            $(document).ajaxStop(function () {
                if (document.location.search.length == 0) {
                    supplierSaveButton_OnClick();
                    window.supplierSaveButton_OnClick = function () {
                        return true;
                    }
                }
            });
        });

       
    </script>

    <!-- ====================== -->
    <!-- Journal Ledger Scripts -->
    <!-- ====================== -->
    <script type="text/javascript">
        // ===================================
        // Global Variables for Journal Ledger
        // ===================================
        var journalLedgers;
        var journalLedgerGrid;

        // =======================
        // GET Journal Ledger List
        // =======================
        function getJournalLedger() {
            //var journalLedgers = new wijmo.collections.ObservableArray;
            //$.ajax({
            //    url: '/api/listAccount',
            //    cache: false,
            //    type: 'GET',
            //    contentType: 'application/json; charset=utf-8',
            //    data: {},
            //    success: function (Results) {
            //        if (Results.length > 0) {
            //            for (i = 0; i < Results.length; i++) {
            //                journalLedger.push({
            //                    EditId: "<button class='btn btn-primary btn-xs btn-block' onclick='cmdAccountEditButton_OnClick()'><i class='fa fa-edit'></i> Edit</button>",
            //                    DeleteId: "<button class='btn btn-danger btn-xs btn-block' onclick='cmdAccountDeleteButton_OnClick()'><i class='fa fa-trash'></i> Delete</button>",
            //                    Id: Results[i]["Id"],
            //                    AccountCode: Results[i]["AccountCode"],
            //                    Account: Results[i]["Account"],
            //                    AccountTypeId: Results[i]["AccountTypeId"],
            //                    AccountType: Results[i]["AccountType"],
            //                    AccountCashFlowId: Results[i]["AccountCashFlowId"],
            //                    AccountCashFlow: Results[i]["AccountCashFlow"],
            //                    IsLocked: Results[i]["IsLocked"],
            //                    CreatedById: Results[i]["CreatedById"],
            //                    CreatedBy: Results[i]["CreatedBy"],
            //                    CreatedDateTime: Results[i]["CreatedDateTime"],
            //                    UpdatedById: Results[i]["UpdatedById"],
            //                    UpdatedBy: Results[i]["UpdatedBy"],
            //                    UpdatedDateTime: Results[i]["UpdatedDateTime"]
            //                });
            //            }
            //        }
            //    }
            //}).fail(function (xhr, textStatus, err) {
            //    alert(err);
            //});
            //return journalLedgers;
        }

        // ===============
        //  Journal Ledger
        // ===============
        function journalLedgerTab() {
            journalLedgers = new wijmo.collections.CollectionView();

            // Flex Grid for Journal Ledger
            journalLedgerGrid = new wijmo.grid.FlexGrid('#JournalLedgerGrid');
            journalLedgerGrid.initialize({
                columns: [
                            {
                                "header": "date",
                                //"binding": "Remarks",
                                "allowSorting": true,
                                "width": "4*",
                            },
                            {
                                "header": "Doc Ref.",
                                //"binding": "Remarks",
                                "allowSorting": true,
                                "width": "4*",
                            },
                            {
                                "header": "Branch",
                                //"binding": "Remarks",
                                "allowSorting": true,
                                "width": "4*",
                            },
                            {
                                "header": "Account",
                                //"binding": "Remarks",
                                "allowSorting": true,
                                "width": "4*",
                            },
                            {
                                "header": "Debit",
                                //"binding": "Remarks",
                                "allowSorting": true,
                                "width": "4*",
                            },
                            {
                                "header": "Credit",
                                //"binding": "Remarks",
                                "allowSorting": true,
                                "width": "4*",
                            },
                            {
                                "header": "Balance",
                                //"binding": "Remarks",
                                "allowSorting": true,
                                "width": "4*",
                            },
                            {
                                "header": "Particulars",
                                //"binding": "Remarks",
                                "allowSorting": true,
                                "width": "8*",
                            }
                ],
                autoGenerateColumns: false,
                //itemsSource: journalLedgers,
                isReadOnly: true,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            journalLedgerGrid.trackChanges = true;
        }
    </script>

    <!-- =========================== -->
    <!-- Contact Information Scripts -->
    <!-- =========================== -->
    <script type="text/javascript">
        // ========================================
        // Global Variables for Contact Information
        // ========================================
        var contactInformations;
        var contactInformationGrid;

        // ============================
        // GET Contact Information List
        // ============================
        function getContactInformation() {
            var contactInformations = new wijmo.collections.ObservableArray;
            NProgress.start();
            if (document.location.search.length > 0) {
                $.ajax({
                    url: '/api/listArticleContactByArticleId/' + supplierId,
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    data: {},
                    success: function (contactInformationResults) {
                        if (contactInformationResults.length > 0) {
                            $.ajax({
                                url: '/api/article/' + supplierId,
                                cache: false,
                                type: 'GET',
                                contentType: 'application/json; charset=utf-8',
                                data: {},
                                success: function (supplierResults) {
                                    var btnEditId;
                                    var btnDeleteId;
                                    if (supplierResults.IsLocked == true) {
                                        btnEditId = "<button class='btn btn-primary btn-xs btn-block' onclick='btnEditContact_OnClick()' disabled><i class='fa fa-edit'></i> Edit</button>";
                                        btnDeleteId = "<button class='btn btn-danger btn-xs btn-block' onclick='btnDeleteContact_OnClick()' disabled><i class='fa fa-trash'></i> Delete</button>";
                                    } else {
                                        btnEditId = "<button class='btn btn-primary btn-xs btn-block' onclick='btnEditContact_OnClick()'><i class='fa fa-edit'></i> Edit</button>";
                                        btnDeleteId = "<button class='btn btn-danger btn-xs btn-block' onclick='btnDeleteContact_OnClick()'><i class='fa fa-trash'></i> Delete</button>";
                                    }

                                    for (i = 0; i < contactInformationResults.length; i++) {
                                        contactInformations.push({
                                            EditId: btnEditId,
                                            DeleteId: btnDeleteId,
                                            Id: contactInformationResults[i]["Id"],
                                            ArticleId: contactInformationResults[i]["ArticleId"],
                                            Article: contactInformationResults[i]["Article"],
                                            ContactPerson: contactInformationResults[i]["ContactPerson"],
                                            ContactNumber: contactInformationResults[i]["ContactNumber"],
                                            Remarks: contactInformationResults[i]["Remarks"]
                                        });
                                    }
                                }
                            });
                        }
                        NProgress.done();
                    }
                }).fail(function (xhr, textStatus, err) {
                    alert(err);
                });
            } else {
                NProgress.done();
            }
            return contactInformations;
        }

        // ===========
        // ADD Contact
        // ===========
        function cmdAddContact_OnClick() {
            $('#contactEdit').modal({
                show: true,
                backdrop: 'static'
            });

            $('.requiredContact').each(function () {
                $(this).css({
                    "border": ""
                });
            });

            document.getElementById('cmdSaveContactButton').innerHTML = "<i class='fa fa-save'></i> Save";
            $('#cmdSaveContactButton').prop('disabled', false);
            $('#cmdContactDetailCloseButton').prop('disabled', false);

            document.getElementById('contact_Id').value = 0;
            document.getElementById('contact_contactPerson').value = "NA";
            document.getElementById('contact_contactNumber').value = "NA";
            document.getElementById('contact_Remarks').value = "NA";
        }

        // ===========
        // Edit Button
        // ===========
        function btnEditContact_OnClick() {
            $('#contactEdit').modal({
                show: true,
                backdrop: 'static'
            });

            $('.requiredContact').each(function () {
                $(this).css({
                    "border": ""
                });
            });

            document.getElementById('cmdSaveContactButton').innerHTML = "<i class='fa fa-save'></i> Save";
            $('#cmdSaveContactButton').prop('disabled', false);
            $('#cmdContactDetailCloseButton').prop('disabled', false);

            contactInformations.editItem(contactInformations.currentItem);
            var contactInformation = contactInformations.currentEditItem;
            document.getElementById('contact_Id').value = contactInformation.Id;
            document.getElementById('contact_contactPerson').value = contactInformation.ContactPerson;
            document.getElementById('contact_contactNumber').value = contactInformation.ContactNumber;
            document.getElementById('contact_Remarks').value = contactInformation.Remarks;
        }

        // =========================================
        // Refresh more contact information flexgrid
        // =========================================
        function refreshMoreContactInformation() {
            contactInformations = new wijmo.collections.CollectionView(getContactInformation());

            // Flex Grid for Contact Information
            contactInformationGrid.trackChanges = true;
            contactInformationGrid.itemsSource = contactInformations;
        }

        // ====================================
        // Contact Information Entry Validation
        // ====================================
        function contactInformationEntryValidation() {
            var isValid = true;
            $('.requiredContact').each(function () {
                if ($.trim($(this).val()) == '') {
                    isValid = false;
                    $(this).css({
                        "border": "1px solid red"
                    });
                } else {
                    $(this).css({
                        "border": ""
                    });
                }
            });
            return isValid;
        }

        // ============
        // SAVE Contact
        // ============
        function cmdContactSaveButton_OnClick() {
            var contactObject = new Object();
            var contactId = document.getElementById('contact_Id').value;
            contactObject.ContactPerson = document.getElementById('contact_contactPerson').value;
            contactObject.ContactNumber = document.getElementById('contact_contactNumber').value;
            contactObject.Remarks = document.getElementById('contact_Remarks').value;
            var contactData = JSON.stringify(contactObject);

            if (contactInformationEntryValidation() == false) {
                toastr.error("Invalid Entry");
            } else {
                document.getElementById('cmdSaveContactButton').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Saving";
                $('#cmdSaveContactButton').prop('disabled', true);
                $('#cmdContactDetailCloseButton').prop('disabled', true);

                if (contactId == 0) {
                    $.ajax({
                        type: "POST",
                        url: '/api/addArticleContact/' + supplierId,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: contactData,
                        success: function (id) {
                            if (id > 0) {
                                document.getElementById('cmdSaveContactButton').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Saving";
                                $('#cmdSaveContactButton').prop('disabled', true);
                                $('#cmdContactDetailCloseButton').prop('disabled', true);
                                toastr.success("Successfully saved");
                                $('#contactEdit').modal('hide');
                                refreshMoreContactInformation();
                            } else {
                                document.getElementById('cmdSaveContactButton').innerHTML = "<i class='fa fa-save'></i> Save";
                                $('#cmdSaveContactButton').prop('disabled', false);
                                $('#cmdContactDetailCloseButton').prop('disabled', false);
                                toastr.error("Save unsuccessful");
                            }
                        }
                    });
                } else {
                    $.ajax({
                        type: "PUT",
                        url: '/api/updateArticleContact/' + contactId,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: contactData,
                        statusCode: {
                            200: function () {
                                document.getElementById('cmdSaveContactButton').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Updating";
                                $('#cmdSaveContactButton').prop('disabled', true);
                                $('#cmdContactDetailCloseButton').prop('disabled', true);
                                toastr.success("Successfully updated");
                                $('#contactEdit').modal('hide');
                                refreshMoreContactInformation();
                            },
                            404: function () {
                                document.getElementById('cmdSaveContactButton').innerHTML = "<i class='fa fa-save'></i> Update";
                                t$('#cmdSaveContactButton').prop('disabled', false);
                                $('#cmdContactDetailCloseButton').prop('disabled', false);
                                toastr.error("Update request not found");
                            },
                            400: function () {
                                document.getElementById('cmdSaveContactButton').innerHTML = "<i class='fa fa-save'></i> Update";
                                $('#cmdSaveContactButton').prop('disabled', false);
                                $('#cmdContactDetailCloseButton').prop('disabled', false);
                                toastr.error("Cannot update record");
                            }
                        }
                    });
                }
            }
        }

        // ==============
        // DELETE Contact
        // ==============
        function btnDeleteContact_OnClick() {
            $('#deleteContactConfirm').modal({
                show: true,
                backdrop: 'static'
            });

            document.getElementById('cmdConfirmDeleteContact').innerHTML = "<i class='fa fa-trash'></i> Delete";
            $('#cmdConfirmDeleteContact').prop('disabled', false);
            $('#cmdConfirmDeleteContactCloseButton').prop('disabled', false);
        }
        // Contact Confirm Delete
        function cmdContactConfirmDeleteButton_OnClick() {
            document.getElementById('cmdConfirmDeleteContact').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Deleting";
            $('#cmdConfirmDeleteContact').prop('disabled', true);
            $('#cmdConfirmDeleteContactCloseButton').prop('disabled', true);

            contactInformations.editItem(contactInformations.currentItem);
            var contactId = contactInformations.currentEditItem.Id;
            $.ajax({
                url: '/api/deleteArticleContact/' + contactId,
                type: "DELETE",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                statusCode: {
                    200: function () {
                        document.getElementById('cmdConfirmDeleteContact').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Deleting";
                        $('#cmdConfirmDeleteContact').prop('disabled', true);
                        $('#cmdConfirmDeleteContactCloseButton').prop('disabled', true);
                        toastr.success("Successfully deleted");
                        $('#deleteContactConfirm').modal('hide');
                        refreshMoreContactInformation();
                    },
                    404: function () {
                        document.getElementById('cmdConfirmDeleteContact').innerHTML = "<i class='fa fa-trash'></i> Delete";
                        $('#cmdConfirmDeleteContact').prop('disabled', false);
                        $('#cmdConfirmDeleteContactCloseButton').prop('disabled', false);
                        toastr.error("Delete request not found");
                        $('#deleteContactConfirm').modal('hide');
                    },
                    400: function () {
                        document.getElementById('cmdConfirmDeleteContact').innerHTML = "<i class='fa fa-trash'></i> Delete";
                        $('#cmdConfirmDeleteContact').prop('disabled', false);
                        $('#cmdConfirmDeleteContactCloseButton').prop('disabled', false);
                        toastr.error("Cannot delete record");
                        $('#deleteContactConfirm').modal('hide');
                    }
                }
            });
        }

        // ====================================
        // On Page Load for Contact Information
        // ====================================
        function contactInformationTab() {
            contactInformations = new wijmo.collections.CollectionView(getContactInformation());

            // Flex Grid for Contact Information
            contactInformationGrid = new wijmo.grid.FlexGrid('#ContactInformationGrid');
            contactInformationGrid.initialize({
                columns: [
                            {
                                "header": "Edit",
                                "binding": "EditId",
                                "width": 60,
                                "align": "center",
                                "allowResizing": false,
                                "allowSorting": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "Delete",
                                "binding": "DeleteId",
                                "width": 70,
                                "align": "center",
                                "allowResizing": false,
                                "allowSorting": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "Contact",
                                "binding": "ContactPerson",
                                "width": "3*",
                                "allowResizing": false,
                                "allowSorting": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "Contact Number(s)",
                                "binding": "ContactNumber",
                                "width": "2*",
                                "allowResizing": false,
                                "allowSorting": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "Remarks",
                                "binding": "Remarks",
                                "allowSorting": true,
                                "width": "4*",
                            },
                ],
                autoGenerateColumns: false,
                itemsSource: contactInformations,
                isReadOnly: true,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });
            contactInformationGrid.trackChanges = true;
        }
    </script>

    <!-- ================================ -->
    <!-- Tab Current Page on Load Scripts -->
    <!-- ================================ -->
    <script type="text/javascript">
        // ====
        // TABS
        // ====
        $('#journalLedgerTabId').click(function () {
            $('#JournalLedger').show();
            $('#ContactInformation').hide();
            window.journalLedgerTab = function () {
                return true;
            };
        });

        $('#contactInformationTabId').click(function () {
            $('#JournalLedger').hide();
            $('#ContactInformation').show();
            contactInformationTab();
            window.contactInformationTab = function () {
                return true;
            };
        });
    </script>
</body>
</html>