@{
    var supplierId = Request.QueryString["SupplierId"];
    var branchId = Request.QueryString["BranchId"];
}
<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Some slide and push menu demos using CSS3 transitions.">

    <!-- Title of the Page -->
    <title>Supplier Detail</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Font-Awesome/css")
    @Styles.Render("~/Content/Software-css")
    @Styles.Render("~/WijmoCSS/Wijmo-css")
</head>
<body>
    <div id="wrapper" class="wrapper">
        <!-- Header -->
        @Html.Partial("_SoftwareHeader")

        <!-- Section -->
        <section>
            <br /><br /><br />
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h4><i class="fa fa-truck fa-2x"></i> Supplier Detail</h4>
                        <br />
                        <div class="div_Current_Page">
                            <span id="currentPage"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4 id="supplierDetailLabel"></h4>
                    </div>
                    <div class="col-md-6" align="right">
                        <button class="btn btn-primary btn-sm" id="supplier_SaveSupplierButton" onclick="supplierSaveSupplierButton_OnClick()"><i class="fa fa-save"></i> Save and Lock</button>
                        <button class="btn btn-primary btn-sm" id="supplier_SaveButton" onclick="supplierSaveButton_OnClick()"><i class="fa fa-save"></i> Save</button>
                        <button class="btn btn-primary btn-sm" id="supplier_EditButton" onclick="supplierEditButton_OnClick()"><i class="fa fa-edit"></i> Edit</button>
                        <button class="btn btn-primary btn-sm" id="supplier_PrintButton" onclick="window.location.href ='@Url.Action("SupplierPDF", "Software", new { SupplierId = supplierId })'"><i class="fa fa-print"></i> Print</button>
                        <button onclick="window.location.href = '@Url.Action("Supplier", "Software", new { BranchId = branchId })'" class="btn btn-danger btn-sm" id="supplier_CloseButton"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
                <div class="well">
                    <form class="form-horizontal" role="form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Code:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control input-sm requiredSupplier" id="artcileSupplier_code" />
                                        <input type="hidden" id="artcileSupplier_code_data" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Supplier:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control input-sm requiredSupplier" id="artcileSupplier_Supplier" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Supplier Group:</label>
                                    <div class="col-sm-8">
                                        <div class="comboBox-wide" id="artcileSupplier_SupplierGroup"></div>
                                        <input type="hidden" id="artcileSupplier_SupplierGroup_Data" />
                                        <input type="hidden" id="artcileSupplier_SupplierGroup_SelectedValue" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Account:</label>
                                    <div class="col-sm-8">
                                        <div class="comboBox-wide" id="artcileSupplier_Account"></div>
                                        <input type="hidden" id="artcileSupplier_Account_Data" class="requiredSupplier" />
                                        <input type="hidden" id="artcileSupplier_Account_SelectedValue" />
                                        <input type="hidden" id="artcileSupplier_SalesAccountId" />
                                        <input type="hidden" id="artcileSupplier_CostAccountId" />
                                        <input type="hidden" id="artcileSupplier_AssetAccountId" />
                                        <input type="hidden" id="artcileSupplier_ExpenseAccountId" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Term:</label>
                                    <div class="col-sm-8">
                                        <div class="comboBox-wide" id="artcileSupplier_Term"></div>
                                        <input type="hidden" id="artcileSupplier_Term_Data" class="requiredSupplier" />
                                        <input type="hidden" id="artcileSupplier_Term_SelectedValue" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Address:</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control textarea-custom requiredSupplier" id="artcileSupplier_Address"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Contact Number:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control input-sm requiredSupplier" id="artcileSupplier_ContactNo">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Contact Person:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control input-sm requiredSupplier" id="artcileSupplier_ContactPerson">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">TIN:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control input-sm requiredSupplier" id="artcileSupplier_TIN">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Particulars:</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control textarea-custom requiredSupplier" id="artcileSupplier_Particulars"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Lock:</label>
                                    <div class="col-sm-8">
                                        <input type="checkbox" class="checkbox_custom requiredSupplier" id="isLocked_Status" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-8">
                                        <input type="hidden" id="Supplier_IsLocked">
                                        <input type="hidden" id="Supplier_IsLocked_defaultTrue">
                                        <input type="hidden" id="Supplier_IsLocked_defaultFalse">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Supplier line -->
                <ul class="nav nav-tabs" role="tablist" id="myTab">
                    @*<li role="presentation" class="active"><a data-toggle="tab" href="#JournalLedger" id="journalLedgerTabId">Journal Ledger</a></li>*@
                    <li role="presentation" class="active"><a data-toggle=" tab" href="#ContactInformation" id="contactInformationTabId">More Contact Information</a></li>
                </ul>
                <br />
                <div class="tab-content">
                    <!-- Journal Ledger -->
                    <div id="JournalLedger" class="tab-pane fade in">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4>Journal Ledger</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                    <input type="text" class="form-control input-sm" id="InputFilterJournalLedger" placeholder="Search">
                                </div>
                            </div>
                            <div class="col-lg-8" align="right">
                                <button class="btn btn-primary btn-sm" onclick="cmdAddNewAccount_OnClick()"><i class="fa fa-plus"></i> Add</button>
                            </div>
                        </div>
                        <br />
                        <div class="row" align="left">
                            <div class="col-lg-12">
                                <div id="JournalLedgerGrid" class="grid" align="left"></div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="btn-group col-md-7" id="naviagtionPageGridJournalLedger">
                                <button type="button" class="btn btn-default" id="btnMoveToFirstPageGridJournalLedger">
                                    <span class="glyphicon glyphicon-fast-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default" id="btnMoveToPreviousPageGridJournalLedger">
                                    <span class="glyphicon glyphicon-step-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default" disabled style="width: 100px" id="btnCurrentPageGridJournalLedger"></button>
                                <button type="button" class="btn btn-default" id="btnMoveToNextPageGridJournalLedger">
                                    <span class="glyphicon glyphicon-step-forward"></span>
                                </button>
                                <button type="button" class="btn btn-default" id="btnMoveToLastPageGridJournalLedger">
                                    <span class="glyphicon glyphicon-fast-forward"></span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- More Contact Information List -->
                    <div id="ContactInformation" class="tab-pane fade in active">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4>More Contact Information</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                    <input type="text" class="form-control input-sm" id="InputFilterContactInformation" placeholder="Search">
                                </div>
                            </div>
                            <div class="col-lg-8" align="right">
                                <button class="btn btn-primary btn-sm" id="btnAddMoreContactInformation" onclick="cmdAddContact_OnClick()"><i class="fa fa-plus"></i> Add</button>
                            </div>
                        </div>
                        <br />
                        <div class="row" align="left">
                            <div class="col-lg-12">
                                <div id="ContactInformationGrid" class="grid" align="left"></div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="btn-group col-md-7" id="naviagtionPageGridContactInformation">
                                <button type="button" class="btn btn-default" id="btnMoveToFirstPageGridContactInformation">
                                    <span class="glyphicon glyphicon-fast-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default" id="btnMoveToPreviousPageGridContactInformation">
                                    <span class="glyphicon glyphicon-step-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default" disabled style="width: 100px" id="btnCurrentPageGridContactInformation"></button>
                                <button type="button" class="btn btn-default" id="btnMoveToNextPageGridContactInformation">
                                    <span class="glyphicon glyphicon-step-forward"></span>
                                </button>
                                <button type="button" class="btn btn-default" id="btnMoveToLastPageGridContactInformation">
                                    <span class="glyphicon glyphicon-fast-forward"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Contact Edit Detail -->
        <div class="modal fade" id="contactEdit" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="contactModalLabel">Contact Information - Detail</h4>
                    </div>
                    <div class="modal-body">
                        <form id="contactDetailForm">
                            <input type="hidden" id="contact_Id" />
                            <dl class="dl-horizontal">
                                <dt>Contact Person:</dt>
                                <dd><input type="text" class="form-control input-sm requiredContact" id="contact_contactPerson" /></dd>
                                <dt>Contact Number:</dt>
                                <dd><input type="text" class="form-control input-sm requiredContact" id="contact_contactNumber" /></dd>
                                <dt>Remarks:</dt>
                                <dd><textarea class="form-control textarea-custom requiredContact" id="contact_Remarks"></textarea></dd>
                            </dl>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary btn-sm" id="cmdSaveContactButton" onclick="cmdContactSaveButton_OnClick()"><i class="fa fa-save"></i> Save</button>
                        <button id="cmdContactDetailCloseButton" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Contact Delete Modal Confirmation -->
        <div class="modal fade" id="deleteContactConfirm" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Delete Contact <i class="fa fa-trash"></i></h4>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this?
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger btn-sm" id="cmdConfirmDeleteContact" onclick="cmdContactConfirmDeleteButton_OnClick()"><i class="fa fa-trash"></i> Delete</button>
                        <button id="cmdConfirmDeleteContactCloseButton" class="btn btn-primary btn-sm" data-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Loading Modal -->
        <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="Loading..." aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class=" modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <h4>Loading ...</h4>
                    </div>
                    <div class="modal-footer">
                        <img class="img-thumbnail img-responsive center-block img-custom" src='~/images/loading/progress_bar.gif'>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        @Html.Partial("_SoftwareFooter")
    </div>

    <!-- SideBar Menu -->
    @Html.Partial("_SoftwareSideBarMenu")

    <div id="c-mask" class="c-mask"></div><!-- /c-mask -->
    @Scripts.Render("~/Scripts/Software-js")
    @Scripts.Render("~/WijmoScripts/Wijmo-js")
    <script type="text/javascript">
        // ================
        // Global Variables
        // ================
        var suppliers;
        var articleSupplierGroups;
        var accounts;
        var terms;
        var cboArticleGroup;
        var cboForAccount;
        var cboForTerm;

        // ==================================
        // Get Article for supplier by its ID
        // ==================================
        function getArticleSupplierById() {
            $('#loadingModal').modal('show');
            var suppliers = new wijmo.collections.ObservableArray;
            var supplierId = @supplierId;
            $.ajax({
                url: '/api/article/' +  supplierId,
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (Results) {
                    $('#loadingModal').modal('hide');
                    if (Results.length > 0) {
                        suppliers.push ({
                            Id: Results.Id,
                            ArticleCode : Results.ArticleCode,
                            ManualArticleCode : Result.ManualArticleCode,
                            Article : Results.Article,
                            Category : Results.Category,
                            ArticleTypeId : Results.ArticleTypeId,
                            ArticleType : Results.ArticleType,
                            ArticleGroupId : Results.ArticleGroupId,
                            ArticleGroup : Results.ArticleGroup,
                            AccountId : Results.AccountId,
                            Account : Results.Account,
                            SalesAccountId : Results.SalesAccountId,
                            CostAccountId : Results.CostAccountId,
                            AssetAccountId : Results.AssetAccountId,
                            ExpenseAccountId : Results.ExpenseAccountId,
                            UnitId : Results.UnitId,
                            OutputTaxId : Results.OutputTaxId,
                            OutputTax : Results.OutputTax,
                            InputTaxId : Results.InputTaxId,
                            InputTax : Results.InputTax,
                            WTaxTypeId : Results.WTaxTypeId,
                            WTaxType : Results.WTaxType,
                            Price : Results.Price,
                            Cost : Results.Cost,
                            IsInventory : Results.IsInventory,
                            Particulars : Results.Particulars,
                            Address : Results.Address,
                            TermId : Results.TermId,
                            Term : Results.Term,
                            ContactNumber : Results.ContactNumber,
                            ContactPerson : Results.ContactPerson,
                            TaxNumber : Results.TaxNumber,
                            CreditLimit : Results.CreditLimit,
                            DateAcquired : Results.DateAcquired,
                            UsefulLife : Results.UsefulLife,
                            SalvageValue : Results.SalvageValue,
                            ManualArticleOldCode : Results.ManualArticleOldCode,
                            IsLocked: Results.IsLocked,
                            CreatedById: Results.CreatedById,
                            CreatedBy: Results.CreatedBy,
                            CreatedDateTime: Results.CreatedDateTime,
                            UpdatedById: Results.UpdatedById,
                            UpdatedBy: Results.UpdatedBy,
                            UpdatedDateTime: Results.UpdatedDateTime
                        });
                    }

                    document.getElementById('artcileSupplier_SalesAccountId').value = Results.SalesAccountId;
                    document.getElementById('artcileSupplier_CostAccountId').value = Results.CostAccountId;
                    document.getElementById('artcileSupplier_AssetAccountId').value = Results.AssetAccountId;
                    document.getElementById('artcileSupplier_ExpenseAccountId').value = Results.ExpenseAccountId;
                    document.getElementById('artcileSupplier_code').value = Results.ArticleCode;
                    document.getElementById('artcileSupplier_code_data').value = Results.ArticleCode;
                    document.getElementById('artcileSupplier_Supplier').value = Results.Article;
                    document.getElementById('artcileSupplier_SupplierGroup_Data').value = Results.ArticleGroupId;
                    document.getElementById('artcileSupplier_SupplierGroup_SelectedValue').value = Results.ArticleGroup;
                    document.getElementById('artcileSupplier_Account_Data').value = Results.AccountId;
                    document.getElementById('artcileSupplier_Account_SelectedValue').value = Results.Account;
                    document.getElementById('artcileSupplier_Term_Data').value = Results.TermId;
                    document.getElementById('artcileSupplier_Term_SelectedValue').value = Results.Term;
                    document.getElementById('artcileSupplier_Address').value = Results.Address;
                    document.getElementById('artcileSupplier_Particulars').value = Results.Particulars;
                    document.getElementById('artcileSupplier_TIN').value = Results.TaxNumber;
                    document.getElementById('artcileSupplier_ContactNo').value = Results.ContactNumber;
                    document.getElementById('artcileSupplier_ContactPerson').value = Results.ContactPerson;
                    document.getElementById('createdBy').innerHTML = Results.CreatedBy;
                    document.getElementById('createdDate').innerHTML = Results.CreatedDateTime;
                    document.getElementById('updatedBy').innerHTML = Results.UpdatedBy;
                    document.getElementById('updatedDate').innerHTML = Results.UpdatedDateTime;
                    document.getElementById('Supplier_IsLocked').value = Results.IsLocked;

                    if(document.getElementById('Supplier_IsLocked').value == 'true') {
                        document.getElementById('artcileSupplier_Supplier').disabled = true;
                        document.getElementById('artcileSupplier_Address').disabled = true;
                        document.getElementById('artcileSupplier_Particulars').disabled = true;
                        document.getElementById('artcileSupplier_TIN').disabled = true;
                        document.getElementById('artcileSupplier_ContactNo').disabled = true;
                        document.getElementById('artcileSupplier_ContactPerson').disabled = true;
                        $("#supplier_SaveSupplierButton").prop("disabled", true);
                        $("#supplier_SaveButton").prop("disabled", true);
                        $("#supplier_EditButton").prop("disabled", false);
                        $("#supplier_PrintButton").prop("disabled", false);
                        document.getElementById('isLocked_Status').checked = true;
                        
                        $('#btnAddMoreContactInformation').prop('disabled', true);

                        contactInformationGrid.dispose();
                        contactInformationGrid = new wijmo.grid.FlexGrid('#ContactInformationGrid');
                        contactInformationGrid.initialize({
                            columns: [
                                        //{
                                        //    "header": "Edit",
                                        //    "binding": "EditId",
                                        //    "width": 60,
                                        //    "align": "center",
                                        //    "allowResizing": false,
                                        //    "allowSorting": false,
                                        //    "isContentHtml": true
                                        //},
                                        //{
                                        //    "header": "Delete",
                                        //    "binding": "DeleteId",
                                        //    "width": 70,
                                        //    "align": "center",
                                        //    "allowResizing": false,
                                        //    "allowSorting": false,
                                        //    "isContentHtml": true
                                        //},
                                        {
                                            "header": "Contact",
                                            "binding": "ContactPerson",
                                            "width": "3*",
                                            "allowResizing": false,
                                            "allowSorting": false,
                                            "isContentHtml": true
                                        },
                                        {
                                            "header": "Contact Number(s)",
                                            "binding": "ContactNumber",
                                            "width": "2*",
                                            "allowResizing": false,
                                            "allowSorting": false,
                                            "isContentHtml": true
                                        },
                                        {
                                            "header": "Remarks",
                                            "binding": "Remarks",
                                            "allowSorting": true,
                                            "width": "4*",
                                        },
                            ],
                            autoGenerateColumns: false,
                            itemsSource: contactInformations,
                            isReadOnly: true,
                            autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                            allowDragging: wijmo.grid.AllowDragging.None,
                            selectionMode: wijmo.grid.SelectionMode.Row
                        });

                        contactInformationGrid.trackChanges = true;

                    } else if(document.getElementById('Supplier_IsLocked').value == 'false') {
                        document.getElementById('artcileSupplier_Supplier').disabled = false;
                        document.getElementById('artcileSupplier_Address').disabled = false;
                        document.getElementById('artcileSupplier_Particulars').disabled = false;
                        document.getElementById('artcileSupplier_TIN').disabled = false;
                        document.getElementById('artcileSupplier_ContactNo').disabled = false;
                        document.getElementById('artcileSupplier_ContactPerson').disabled = false;
                        $("#supplier_SaveSupplierButton").prop("disabled", false);
                        $("#supplier_SaveButton").prop("disabled", false);
                        $("#supplier_EditButton").prop("disabled", true);
                        $("#supplier_PrintButton").prop("disabled", true);
                        document.getElementById('isLocked_Status').checked = false;
                    } else {
                        console.log("Invalid Lock");
                    }

                    // ajax for combobox
                    getArticleSupplierGroupForComboBox();
                    getArticleAccountForComboBox();
                    getArticleTermForComboBox();
                }
            }).fail(function (xhr, textStatus, err) {
                alert(err);
            });

            return suppliers;
        }

        // ==================================
        // Get Last Id for supplier by its ID
        // ==================================
        function getLastInsertedIdSupplierByArticleTypeId() {
            var suppliers = new wijmo.collections.ObservableArray;
            $.ajax({
                url: '/api/articleLastIdByArticleTypeId/3',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (Results) {
                    if (Results.length > 0) {
                        suppliers.push ({
                            Id: Results.Id,
                            Article : Results.Article
                        });
                    }
                    window.location = '/Software/SupplierDetail?SupplierId=' + Results.Id + '&BranchId=' + @branchId;
                    window.setTimeout(function () { location.reload() }, 1000);
                }
            });
        }

        // =========================
        // Get Artile Supplier Group
        // =========================
        function getArticleSupplierGroupForComboBox() {
            articleSupplierGroups = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/listArticleGroupByArticleTypeId/3',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (results) {
                    if (results.length > 0) {
                        for (i = 0; i < results.length; i++) {
                            articleSupplierGroups.push({
                                ArticleGroupId: results[i]["Id"],
                                ArticleGroupArticleGroup: results[i]["ArticleGroup"],
                                ArticleGroupAccountId: results[i]["AccountId"],
                                ArticleGroupAccount: results[i]["Account"],
                                ArticleGroupSalesAccountId: results[i]["SalesAccountId"],
                                ArticleGroupSalesAccount: results[i]["SalesAccount"],
                                ArticleGroupCostAccountId: results[i]["CostAccountId"],
                                ArticleGroupCostAccount: results[i]["CostAccount"],
                                ArticleGroupAssetAccountId: results[i]["AssetAccountId"],
                                ArticleGroupAssetAccount: results[i]["AssetAccount"],
                                ArticleGroupExpenseAccountId: results[i]["ExpenseAccountId"],
                                ArticleGroupExpenseAccount: results[i]["ExpenseAccount"]
                            });
                        }
                        createCboForArticleSupplierGroup(articleSupplierGroups);
                    }
                }
            });
        }

        // ======================
        // CBO for Supplier Group
        // ======================
        function createCboForArticleSupplierGroup(articleSupplierGroups) {
            var articleSupplierGroupCollection = new wijmo.collections.CollectionView(articleSupplierGroups);
            var articleGroupList = new Array();
            for (var i = 0; i < articleSupplierGroupCollection.items.length; i++) {
                articleGroupList.push(articleSupplierGroupCollection.items[i].ArticleGroupArticleGroup);
            }

            if(document.getElementById('Supplier_IsLocked').value == 'true') {
                cboArticleGroup.dispose();
                cboArticleGroup = new wijmo.input.ComboBox('#artcileSupplier_SupplierGroup', {
                    disabled: true,
                    placeholder: "Select Supplier Group",
                    itemsSource: articleGroupList,
                    isEditable: false,
                    required: false,
                    selectedValue: document.getElementById('artcileSupplier_SupplierGroup_SelectedValue').value.toString(),
                    onSelectedIndexChanged: function () {
                        $("#artcileSupplier_SupplierGroup_Data").val(articleSupplierGroupCollection.items[this.selectedIndex].ArticleGroupId);
                        $("#artcileSupplier_Account_Data").val(articleSupplierGroupCollection.items[this.selectedIndex].ArticleGroupAccountId);
                        $("#artcileSupplier_Account_SelectedValue").val(articleSupplierGroupCollection.items[this.selectedIndex].ArticleGroupAccount);
                        $("#artcileSupplier_SalesAccountId").val(articleSupplierGroupCollection.items[this.selectedIndex].ArticleGroupSalesAccountId);
                        $("#artcileSupplier_CostAccountId").val(articleSupplierGroupCollection.items[this.selectedIndex].ArticleGroupCostAccountId);
                        $("#artcileSupplier_AssetAccountId").val(articleSupplierGroupCollection.items[this.selectedIndex].ArticleGroupAssetAccountId);
                        $("#artcileSupplier_ExpenseAccountId").val(articleSupplierGroupCollection.items[this.selectedIndex].ArticleGroupExpenseAccountId);

                        getArticleAccountForComboBox();
                    }
                });
            } else if(document.getElementById('Supplier_IsLocked').value == 'false') {
                cboArticleGroup.dispose();
                cboArticleGroup = new wijmo.input.ComboBox('#artcileSupplier_SupplierGroup', {
                    disabled: false,
                    placeholder: "Select Supplier Group",
                    itemsSource: articleGroupList,
                    isEditable: false,
                    required: false,
                    selectedValue: document.getElementById('artcileSupplier_SupplierGroup_SelectedValue').value.toString(),
                    onSelectedIndexChanged: function () {
                        $("#artcileSupplier_SupplierGroup_Data").val(articleSupplierGroupCollection.items[this.selectedIndex].ArticleGroupId);
                        $("#artcileSupplier_Account_Data").val(articleSupplierGroupCollection.items[this.selectedIndex].ArticleGroupAccountId);
                        $("#artcileSupplier_Account_SelectedValue").val(articleSupplierGroupCollection.items[this.selectedIndex].ArticleGroupAccount);
                        $("#artcileSupplier_SalesAccountId").val(articleSupplierGroupCollection.items[this.selectedIndex].ArticleGroupSalesAccountId);
                        $("#artcileSupplier_CostAccountId").val(articleSupplierGroupCollection.items[this.selectedIndex].ArticleGroupCostAccountId);
                        $("#artcileSupplier_AssetAccountId").val(articleSupplierGroupCollection.items[this.selectedIndex].ArticleGroupAssetAccountId);
                        $("#artcileSupplier_ExpenseAccountId").val(articleSupplierGroupCollection.items[this.selectedIndex].ArticleGroupExpenseAccountId);

                        getArticleAccountForComboBox();
                    }
                });
            } else {
                cboArticleGroup.dispose();
                cboArticleGroup = new wijmo.input.ComboBox('#artcileSupplier_SupplierGroup', {
                    placeholder: "Select Supplier Group",
                    itemsSource: articleGroupList,
                    isEditable: false,
                    required: false,
                    selectedValue: document.getElementById('artcileSupplier_SupplierGroup_SelectedValue').value.toString(),
                    onSelectedIndexChanged: function () {
                        $("#artcileSupplier_SupplierGroup_Data").val(articleSupplierGroupCollection.items[this.selectedIndex].ArticleGroupId);
                        $("#artcileSupplier_Account_Data").val(articleSupplierGroupCollection.items[this.selectedIndex].ArticleGroupAccountId);
                        $("#artcileSupplier_Account_SelectedValue").val(articleSupplierGroupCollection.items[this.selectedIndex].ArticleGroupAccount);
                        $("#artcileSupplier_SalesAccountId").val(articleSupplierGroupCollection.items[this.selectedIndex].ArticleGroupSalesAccountId);
                        $("#artcileSupplier_CostAccountId").val(articleSupplierGroupCollection.items[this.selectedIndex].ArticleGroupCostAccountId);
                        $("#artcileSupplier_AssetAccountId").val(articleSupplierGroupCollection.items[this.selectedIndex].ArticleGroupAssetAccountId);
                        $("#artcileSupplier_ExpenseAccountId").val(articleSupplierGroupCollection.items[this.selectedIndex].ArticleGroupExpenseAccountId);

                        getArticleAccountForComboBox();
                    }
                });
            }
        }

        // ==================
        // Get Artile Account
        // ==================
        function getArticleAccountForComboBox() {
            accounts = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/listAccount',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (results) {
                    if (results.length > 0) {
                        for (i = 0; i < results.length; i++) {
                            accounts.push({
                                AccountId: results[i]["Id"],
                                AccountAccount: results[i]["Account"]
                            });
                        }
                        createCboForAccount(accounts);
                    }
                }
            });
        }

        // ===============
        // CBO for Account
        // ===============
        function  createCboForAccount(accounts) {
            var accountCollection = new wijmo.collections.CollectionView(accounts);
            var accountList = new Array();
            for (var i = 0; i < accountCollection.items.length; i++) {
                accountList.push(accountCollection.items[i].AccountAccount);
            }

            if(document.getElementById('Supplier_IsLocked').value == 'true') {
                cboForAccount.dispose();
                cboForAccount = new wijmo.input.ComboBox('#artcileSupplier_Account', {
                    disabled: true,
                    placeholder: "Select Account",
                    itemsSource: accountList,
                    isEditable: false,
                    required: false,
                    selectedValue: document.getElementById('artcileSupplier_Account_SelectedValue').value.toString(),
                    onSelectedIndexChanged: function () {
                        $("#artcileSupplier_Account_Data").val(accountCollection.items[this.selectedIndex].AccountId);
                    }
                });
            } else if(document.getElementById('Supplier_IsLocked').value == 'false') {
                cboForAccount.dispose();
                cboForAccount = new wijmo.input.ComboBox('#artcileSupplier_Account', {
                    disabled: true,
                    placeholder: "Select Account",
                    itemsSource: accountList,
                    isEditable: false,
                    required: false,
                    selectedValue: document.getElementById('artcileSupplier_Account_SelectedValue').value.toString(),
                    onSelectedIndexChanged: function () {
                        $("#artcileSupplier_Account_Data").val(accountCollection.items[this.selectedIndex].AccountId);
                    }
                });
            } else {
                cboForAccount.dispose();
                cboForAccount = new wijmo.input.ComboBox('#artcileSupplier_Account', {
                    disabled: true,
                    placeholder: "Select Account",
                    itemsSource: accountList,
                    isEditable: true,
                    required: false,
                    selectedValue: document.getElementById('artcileSupplier_Account_SelectedValue').value.toString(),
                    onSelectedIndexChanged: function () {
                        $("#artcileSupplier_Account_Data").val(accountCollection.items[this.selectedIndex].AccountId);
                    }
                });
            }
        }

        // ===============
        // Get Artile Term
        // ===============
        function getArticleTermForComboBox() {
            terms = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/listTerm',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (results) {
                    if (results.length > 0) {
                        for (i = 0; i < results.length; i++) {
                            terms.push({
                                TermId: results[i]["Id"],
                                TermTerm: results[i]["Term"]
                            });
                        }
                        createCboForTerm(terms);
                    }
                }
            });
        }

        // ============
        // CBO for Term
        // ============
        function createCboForTerm(terms) {
            var termCollection = new wijmo.collections.CollectionView(terms);
            var termList = new Array();
            for (var i = 0; i < termCollection.items.length; i++) {
                termList.push(termCollection.items[i].TermTerm);
            }

            if(document.getElementById('Supplier_IsLocked').value == 'true') {
                cboForTerm.dispose();
                cboForTerm = new wijmo.input.ComboBox('#artcileSupplier_Term', {
                    disabled: true,
                    placeholder: "Select Term",
                    itemsSource: termList,
                    isEditable: false,
                    required: false,
                    selectedValue: document.getElementById('artcileSupplier_Term_SelectedValue').value.toString(),
                    onSelectedIndexChanged: function () {
                        $("#artcileSupplier_Term_Data").val(termCollection.items[this.selectedIndex].TermId);
                    }
                });
            } else if(document.getElementById('Supplier_IsLocked').value == 'false') {
                cboForTerm.dispose();
                cboForTerm = new wijmo.input.ComboBox('#artcileSupplier_Term', {
                    disabled: false,
                    placeholder: "Select Term",
                    itemsSource: termList,
                    isEditable: false,
                    required: false,
                    selectedValue: document.getElementById('artcileSupplier_Term_SelectedValue').value.toString(),
                    onSelectedIndexChanged: function () {
                        $("#artcileSupplier_Term_Data").val(termCollection.items[this.selectedIndex].TermId);
                    }
                });
            } else {
                cboForTerm.dispose();
                cboForTerm = new wijmo.input.ComboBox('#artcileSupplier_Term', {
                    placeholder: "Select Term",
                    itemsSource: termList,
                    isEditable: false,
                    required: false,
                    selectedValue: document.getElementById('artcileSupplier_Term_SelectedValue').value.toString(),
                    onSelectedIndexChanged: function () {
                        $("#artcileSupplier_Term_Data").val(termCollection.items[this.selectedIndex].TermId);
                    }
                });
            }
        }

        // ====================
        // EDIT Supplier Button
        // ====================
        function supplierEditButton_OnClick() {
            $("#supplier_SaveSupplierButton").prop("disabled", true);
            $("#supplier_SaveButton").prop("disabled", true);
            $("#supplier_EditButton").prop("disabled", true);
            $("#supplier_PrintButton").prop("disabled", true);
            $("#supplier_CloseButton").prop("disabled", true);

            var supplierObject = new Object();
            var supplierId = @supplierId;

            if(supplierId > 0) {
                supplierObject.IsLocked = document.getElementById('Supplier_IsLocked_defaultFalse').value;
            } else {
                supplierObject.IsLocked = document.getElementById('Supplier_IsLocked_defaultTrue').value;
            }

            var dataUpdate = JSON.stringify(supplierObject);
            $.ajax({
                type: "PUT",
                url: '/api/updateArticleIsLock/' + supplierId,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: dataUpdate,
                statusCode: {
                    200: function () {
                        toastr.success("Unlocked");
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                        $("#supplier_SaveSupplierButton").prop("disabled", true);
                        $("#supplier_SaveButton").prop("disabled", true);
                        $("#supplier_EditButton").prop("disabled", true);
                        $("#supplier_PrintButton").prop("disabled", true);
                        $("#supplier_CloseButton").prop("disabled", true);
                    },
                    404: function () {
                        toastr.error("Can't Update");
                        $("#supplier_SaveSupplierButton").prop("disabled", false);
                        $("#supplier_SaveButton").prop("disabled", false);
                        $("#supplier_EditButton").prop("disabled", false);
                        $("#supplier_PrintButton").prop("disabled", false);
                        $("#supplier_CloseButton").prop("disabled", false);
                    },
                    400: function () {
                        toastr.error("Bad Request");
                        $("#supplier_SaveSupplierButton").prop("disabled", false);
                        $("#supplier_SaveButton").prop("disabled", false);
                        $("#supplier_EditButton").prop("disabled", false);
                        $("#supplier_PrintButton").prop("disabled", false);
                        $("#supplier_CloseButton").prop("disabled", false);
                    }
                }
            });

        }

        // =============================
        // SAVE SUPPLIER Supplier Button
        // =============================
        function supplierSaveSupplierButton_OnClick() {
            $("#supplier_SaveSupplierButton").prop("disabled", true);
            $("#supplier_SaveButton").prop("disabled", true);
            $("#supplier_EditButton").prop("disabled", true);
            $("#supplier_PrintButton").prop("disabled", true);
            $("#supplier_CloseButton").prop("disabled", true);

            var supplierObject = new Object();
            var supplierId = @supplierId;
            if(supplierId > 0) {
                supplierObject.IsLocked = document.getElementById('Supplier_IsLocked_defaultTrue').value;
            } else {
                supplierObject.IsLocked = document.getElementById('Supplier_IsLocked_defaultFalse').value;
            }

            var dataUpdate = JSON.stringify(supplierObject);
            $.ajax({
                type: "PUT",
                url: '/api/updateArticleIsLock/' + supplierId,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: dataUpdate,
                statusCode: {
                    200: function () {
                        toastr.success("Saved Supplier");
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function () {
                        toastr.error("Can't Update");
                    },
                    400: function () {
                        toastr.error("Bad Request");
                    }
                }
            });
        }

        // ========================================================
        // Function with leading zeroes to display the article code
        // ========================================================
        function zerofill(number, length) {
            var result = number.toString();
            var pad = length - result.length;
            while(pad > 0) {
                result = '0' + result;
                pad--;
            }
            return result;
        }

        // ============
        // Add Supllier
        // ============
        function supplierSaveButton_OnClick() {
            var supplierObject = new Object();
            var supplierId = @supplierId;
            supplierObject.ArticleCode = document.getElementById('artcileSupplier_code').value;
            supplierObject.Article = document.getElementById('artcileSupplier_Supplier').value;
            supplierObject.ArticleGroupId = document.getElementById('artcileSupplier_SupplierGroup_Data').value;
            supplierObject.AccountId = document.getElementById('artcileSupplier_Account_Data').value;
            supplierObject.SalesAccountId = document.getElementById('artcileSupplier_SalesAccountId').value;
            supplierObject.CostAccountId = document.getElementById('artcileSupplier_CostAccountId').value;
            supplierObject.AssetAccountId = document.getElementById('artcileSupplier_AssetAccountId').value;
            supplierObject.ExpenseAccountId = document.getElementById('artcileSupplier_ExpenseAccountId').value;
            supplierObject.Particulars = document.getElementById('artcileSupplier_Particulars').value;
            supplierObject.Address = document.getElementById('artcileSupplier_Address').value;
            supplierObject.TermId = document.getElementById('artcileSupplier_Term_Data').value;
            supplierObject.ContactNumber = document.getElementById('artcileSupplier_ContactNo').value;
            supplierObject.ContactPerson = document.getElementById('artcileSupplier_ContactPerson').value;
            supplierObject.TaxNumber = document.getElementById('artcileSupplier_TIN').value;
            var data = JSON.stringify(supplierObject);

            if( document.getElementById('artcileSupplier_Account_Data').value == '') {
                document.getElementById("artcileSupplier_Account").style.border = "1px solid red";
            } else {
                document.getElementById("artcileSupplier_Account").style.border = "1px solid #C8C8C8   ";
            }

            if( document.getElementById('artcileSupplier_SupplierGroup_Data').value == '') {
                document.getElementById("artcileSupplier_SupplierGroup").style.border = "1px solid red";
            } else {
                document.getElementById("artcileSupplier_SupplierGroup").style.border = "1px solid #C8C8C8   ";
            }

            if( document.getElementById('artcileSupplier_Term_Data').value == '') {
                document.getElementById("artcileSupplier_Term").style.border = "1px solid red";
            } else {
                document.getElementById("artcileSupplier_Term").style.border = "1px solid #C8C8C8   ";
            }

            var isValid = true;
            $('.requiredSupplier').each(function () {
                if ($.trim($(this).val()) == '') {
                    isValid = false;
                    $(this).css({
                        "border": "1px solid red"
                    });
                }
                else {
                    $(this).css({
                        "border": "",
                    });
                }
            });
            if (isValid == false) {
                toastr.error("Invalid Entry");
                e.preventDefault();
            }
            else {
                if(supplierId == 0) {
                    $.ajax({
                        type: "POST",
                        url: '/api/addArticle/3',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: data,
                        statusCode: {
                            200: function () {
                                $("#supplier_SaveSupplierButton").prop("disabled", true);
                                $("#supplier_SaveButton").prop("disabled", true);
                                $("#supplier_EditButton").prop("disabled", true);
                                $("#supplier_PrintButton").prop("disabled", true);
                                $("#supplier_CloseButton").prop("disabled", true);
                                toastr.success("Successfully Saved");
                                setTimeout(getLastInsertedIdSupplierByArticleTypeId, 1000);
                            },
                            404: function () {
                                toastr.error("Can't Save");
                                $("#supplier_SaveSupplierButton").prop("disabled", true);
                                $("#supplier_SaveButton").prop("disabled", true);
                                $("#supplier_EditButton").prop("disabled", true);
                                $("#supplier_PrintButton").prop("disabled", true);
                                $("#supplier_CloseButton").prop("disabled", true);
                            },
                            400: function () {
                                toastr.error("Bad Request");
                                $("#supplier_SaveSupplierButton").prop("disabled", true);
                                $("#supplier_SaveButton").prop("disabled", true);
                                $("#supplier_EditButton").prop("disabled", true);
                                $("#supplier_PrintButton").prop("disabled", true);
                                $("#supplier_CloseButton").prop("disabled", true);
                            }
                        }
                    });
                } else {
                    $.ajax({
                        type: "PUT",
                        url: '/api/updateArticle/' + supplierId + '/3',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: data,
                        statusCode: {
                            200: function () {
                                $("#supplier_SaveSupplierButton").prop("disabled", true);
                                $("#supplier_SaveButton").prop("disabled", true);
                                $("#supplier_EditButton").prop("disabled", true);
                                $("#supplier_PrintButton").prop("disabled", true);
                                $("#supplier_CloseButton").prop("disabled", true);
                                toastr.success("Successfully Updated");
                                window.setTimeout(function () {
                                    location.reload()
                                }, 1000);
                            },
                            404: function () {
                                toastr.error("Can't Save");
                                $("#supplier_SaveSupplierButton").prop("disabled", true);
                                $("#supplier_SaveButton").prop("disabled", true);
                                $("#supplier_EditButton").prop("disabled", true);
                                $("#supplier_PrintButton").prop("disabled", true);
                                $("#supplier_CloseButton").prop("disabled", true);
                            },
                            400: function () {
                                toastr.error("Bad Request");
                                $("#supplier_SaveSupplierButton").prop("disabled", true);
                                $("#supplier_SaveButton").prop("disabled", true);
                                $("#supplier_EditButton").prop("disabled", true);
                                $("#supplier_PrintButton").prop("disabled", true);
                                $("#supplier_CloseButton").prop("disabled", true);
                            }
                        }
                    });
                }
            }
        }

        // ============
        // On Page Load
        // ============
        $(document).ready(function () {
            document.getElementById('currentPage').innerHTML = '<a href="@Url.Action("Index", "Software", new { BranchId = branchId })" class="currentPageLinkCustom">Main Menu</a> > ' + ' <a href="@Url.Action("Supplier", "Software", new { BranchId = branchId })" class="currentPageLinkCustom">Supplier</a> ' + ' > Supplier Detail';
            document.getElementById('Supplier_IsLocked_defaultTrue').value = 'true';
            document.getElementById('Supplier_IsLocked_defaultFalse').value = 'false';
            document.getElementById('artcileSupplier_code').disabled = true;
            document.getElementById('isLocked_Status').disabled = true;

            getArticleSupplierById();

            var supplierId = @supplierId;
            if(supplierId == 0) {
                // ajax for combobox
                getArticleSupplierGroupForComboBox();
                getArticleAccountForComboBox();
                getArticleTermForComboBox();

                if(document.getElementById('artcileSupplier_code_data').value == 0) {
                    document.getElementById('artcileSupplier_code').value = "0000000001";
                }

                document.getElementById('artcileSupplier_code_data').value = 0;
                var suppliers = new wijmo.collections.ObservableArray;
                $.ajax({
                    url: '/api/articleLastArticleCodeByArticleTypeId/3',
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    data: {},
                    success: function (Results) {
                        if (Results.length > 0) {
                            suppliers.push({
                                Id: Results.Id,
                                SupplierArticleCode: Results.ArticleCode
                            });
                        }
                        var ArticleCode = parseInt(Results.ArticleCode);
                        var ArticleCode_plusOne = 0000000001;
                        var ArticleCode_Results = ArticleCode + ArticleCode_plusOne;
                        document.getElementById('artcileSupplier_code_data').value = zerofill(ArticleCode_Results, 10);
                        document.getElementById('artcileSupplier_code').value = zerofill(ArticleCode_Results, 10);
                    }
                });
                $("#supplier_SaveSupplierButton").prop("disabled", false);
                $("#supplier_SaveButton").prop("disabled", false);
                $("#supplier_EditButton").prop("disabled", true);
                $("#supplier_PrintButton").prop("disabled", true);
            }

            // combo box wijmo
            cboArticleGroup  = new wijmo.input.ComboBox('#artcileSupplier_SupplierGroup');
            cboForAccount  = new wijmo.input.ComboBox('#artcileSupplier_Account');
            cboForTerm  = new wijmo.input.ComboBox('#artcileSupplier_Term');
        });
    </script>

    <!-- ====================== -->
    <!-- Journal Ledger Scripts -->
    <!-- ====================== -->
    <script type="text/javascript">
        // ===================================
        // Global Variables for Journal Ledger
        // ===================================
        var journalLedgers;
        var journalLedgerGrid;

        var btnFirstPageGridJournalLedger;
        var btnPreviousPageGridJournalLedger;
        var btnNextPageGridJournalLedger;
        var btnLastPageGridJournalLedger;
        var btnCurrentPageGridJournalLedger;

        // =======================
        // GET Journal Ledger List
        // =======================
        function getJournalLedger() {
            var journalLedgers = new wijmo.collections.ObservableArray;
            //$('#loadingModal').modal('show');
            //$.ajax({
            //    url: '/api/listAccount',
            //    cache: false,
            //    type: 'GET',
            //    contentType: 'application/json; charset=utf-8',
            //    data: {},
            //    success: function (Results) {
            //        $('#loadingModal').modal('hide');
            //        if (Results.length > 0) {
            //            for (i = 0; i < Results.length; i++) {
            //                journalLedger.push({
            //                    EditId: "<button class='btn btn-primary btn-xs btn-block' onclick='cmdAccountEditButton_OnClick()'><i class='fa fa-edit'></i> Edit</button>",
            //                    DeleteId: "<button class='btn btn-danger btn-xs btn-block' onclick='cmdAccountDeleteButton_OnClick()'><i class='fa fa-trash'></i> Delete</button>",
            //                    Id: Results[i]["Id"],
            //                    AccountCode: Results[i]["AccountCode"],
            //                    Account: Results[i]["Account"],
            //                    AccountTypeId: Results[i]["AccountTypeId"],
            //                    AccountType: Results[i]["AccountType"],
            //                    AccountCashFlowId: Results[i]["AccountCashFlowId"],
            //                    AccountCashFlow: Results[i]["AccountCashFlow"],
            //                    IsLocked: Results[i]["IsLocked"],
            //                    CreatedById: Results[i]["CreatedById"],
            //                    CreatedBy: Results[i]["CreatedBy"],
            //                    CreatedDateTime: Results[i]["CreatedDateTime"],
            //                    UpdatedById: Results[i]["UpdatedById"],
            //                    UpdatedBy: Results[i]["UpdatedBy"],
            //                    UpdatedDateTime: Results[i]["UpdatedDateTime"]
            //                });
            //            }
            //        }
            //    }
            //}).fail(function (xhr, textStatus, err) {
            //    alert(err);
            //});
            //return journalLedgers;
        }
        // =====================================
        // FlexGrid Selection for Journal Ledger
        // =====================================
        function updateDetailsJournalLedger() {
            var item = journalLedgers.currentItem;
            document.getElementById('createdBy').innerHTML = item.CreatedBy;
            document.getElementById('createdDate').innerHTML = item.CreatedDateTime;
            document.getElementById('updatedBy').innerHTML = item.UpdatedBy;
            document.getElementById('updatedDate').innerHTML = item.UpdatedDateTime;
        }

        // =====================================
        // Navigation Buttons for Journal Ledger
        // =====================================
        function updateNavigateButtonsJournalLedger() {
            if (journalLedgers.pageSize <= 0) {
                document.getElementById('naviagtionPageGridJournalLedger').style.display = 'none';
                return;
            }
            document.getElementById('naviagtionPageGridJournalLedger').style.display = 'block';
            if (journalLedgers.pageIndex === 0) {
                btnFirstPageGridJournalLedger.setAttribute('disabled', 'disabled');
                btnPreviousPageGridJournalLedger.setAttribute('disabled', 'disabled');
                btnNextPageGridJournalLedger.removeAttribute('disabled');
                btnLastPageGridJournalLedger.removeAttribute('disabled');
            } else if (journalLedgers.pageIndex === (journalLedgers.pageCount - 1)) {
                btnFirstPageGridJournalLedger.removeAttribute('disabled');
                btnPreviousPageGridJournalLedger.removeAttribute('disabled');
                btnLastPageGridJournalLedger.setAttribute('disabled', 'disabled');
                btnNextPageGridJournalLedger.setAttribute('disabled', 'disabled');
            } else {
                btnFirstPageGridJournalLedger.removeAttribute('disabled');
                btnPreviousPageGridJournalLedger.removeAttribute('disabled');
                btnNextPageGridJournalLedger.removeAttribute('disabled');
                btnLastPageGridJournalLedger.removeAttribute('disabled');
            }
            btnCurrentPageGridJournalLedger.innerHTML = (journalLedgers.pageIndex + 1) + ' / ' + journalLedgers.pageCount;
        }

        // ===============
        //  Journal Ledger
        // ===============
        function journalLedgerTab() {
            journalLedgers = new wijmo.collections.CollectionView();
            journalLedgers.canFilter = true;
            journalLedgers.pageSize = 15;

            var filterTextJournalLedger = '';
            $('#InputFilterJournalLedger').keyup(function () {
                filterTextJournalLedger = this.value.toLowerCase();
                journalLedgers.refresh();
            });
            journalLedgers.filter = function (item) {
                return !filterTextJournalLedger || (item.journalLedger.toLowerCase().indexOf(filterTextJournalLedger) > -1);
            }
            journalLedgers.collectionChanged.addHandler(function (sender, args) {
                updateNavigateButtonsJournalLedger();
            });
            journalLedgers.currentChanged.addHandler(function (sender, args) {
                updateDetailsJournalLedger();
            });

            // Flex Grid for Journal Ledger
            journalLedgerGrid = new wijmo.grid.FlexGrid('#JournalLedgerGrid');
            journalLedgerGrid.initialize({
                columns: [
                            {
                                "header": "Edit",
                                "binding": "EditId",
                                "width": 60,
                                "align": "center",
                                "allowResizing": false,
                                "allowSorting": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "Delete",
                                "binding": "DeleteId",
                                "width": 70,
                                "align": "center",
                                "allowResizing": false,
                                "allowSorting": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "Date",
                                //"binding": "Date",
                                "allowSorting": true,
                                "width": "1*",
                            },
                            {
                                "header": "Doc Ref.",
                                // "binding": "Doc Ref.",
                                "allowSorting": true,
                                "width": "3*"
                            },
                            {
                                "header": "Branch",
                                // "binding": "Branch",
                                "allowSorting": true,
                                "width": "2*"
                            },
                            {
                                "header": "Account",
                                // "binding": "Account",
                                "allowSorting": true,
                                "width": "2*"
                            },
                            {
                                "header": "Debit",
                                // "binding": "Debit",
                                "allowSorting": true,
                                "width": "2*"
                            },
                            {
                                "header": "Credit",
                                // "binding": "Credit",
                                "allowSorting": true,
                                "width": "2*"
                            },
                             {
                                 "header": "Balance",
                                 //    "binding": "Balance",
                                 "allowSorting": true,
                                 "width": "2*"
                             },
                             {
                                 "header": "Particulars",
                                 //  "binding": "Particulars",
                                 "allowSorting": true,
                                 "width": "2*"
                             },
                ],
                autoGenerateColumns: false,
                //itemsSource: journalLedgers,
                isReadOnly: true,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            journalLedgerGrid.trackChanges = true;

            //Navigation button for Journal Ledger
            btnFirstPageGridJournalLedger = document.getElementById('btnMoveToFirstPageGridJournalLedger');
            btnPreviousPageGridJournalLedger = document.getElementById('btnMoveToPreviousPageGridJournalLedger');
            btnNextPageGridJournalLedger = document.getElementById('btnMoveToNextPageGridJournalLedger');
            btnLastPageGridJournalLedger = document.getElementById('btnMoveToLastPageGridJournalLedger');
            btnCurrentPageGridJournalLedger = document.getElementById('btnCurrentPageGridJournalLedger');

            updateNavigateButtonsJournalLedger();

            btnFirstPageGridJournalLedger.addEventListener('click', function () {
                journalLedgers.moveToFirstPage();
                updateNavigateButtonsJournalLedger();
            });
            btnPreviousPageGridJournalLedger.addEventListener('click', function () {
                journalLedgers.moveToPreviousPage();
                updateNavigateButtonsJournalLedger();
            });
            btnNextPageGridJournalLedger.addEventListener('click', function () {
                journalLedgers.moveToNextPage();
                updateNavigateButtonsJournalLedger();
            });
            btnLastPageGridJournalLedger.addEventListener('click', function () {
                journalLedgers.moveToLastPage();
                updateNavigateButtonsJournalLedger();
            });
        }
    </script>

    <!-- =========================== -->
    <!-- Contact Information Scripts -->
    <!-- =========================== -->
    <script type="text/javascript">
        // ========================================
        // Global Variables for Contact Information
        // ========================================
        var contactInformations;
        var contactInformationGrid;

        var btnFirstPageGridContactInformation;
        var btnPreviousPageGridContactInformation;
        var btnNextPageGridContactInformation;
        var btnLastPageGridContactInformation;
        var btnCurrentPageGridContactInformation;

        // ============================
        // GET Contact Information List
        // ============================
        function getContactInformation() {
            var contactInformations = new wijmo.collections.ObservableArray;
            var articleId = @supplierId;
            $('#loadingModal').modal('show');
            $.ajax({
                url: '/api/listArticleContactByArticleId/' + articleId,
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (Results) {
                    $('#loadingModal').modal('hide');
                    if (Results.length > 0) {
                        for (i = 0; i < Results.length; i++) {
                            contactInformations.push({
                                EditId: "<button class='btn btn-primary btn-xs btn-block' onclick='btnEditContact_OnClick()'><i class='fa fa-edit'></i> Edit</button>",
                                DeleteId: "<button class='btn btn-danger btn-xs btn-block' onclick='btnDeleteContact_OnClick()'><i class='fa fa-trash'></i> Delete</button>",
                                Id: Results[i]["Id"],
                                ArticleId: Results[i]["ArticleId"],
                                Article: Results[i]["Article"],
                                ContactPerson: Results[i]["ContactPerson"],
                                ContactNumber: Results[i]["ContactNumber"],
                                Remarks: Results[i]["Remarks"]
                            });
                            
                            $('#supplier_SaveSupplierButton').show();
                            $('#supplier_SaveButton').hide();
                        }
                    } else {

                        $('#supplier_SaveSupplierButton').hide();
                        $('#supplier_SaveButton').show();
                    }
                }
            }).fail(function (xhr, textStatus, err) {
                alert(err);
            });
            return contactInformations;
        }

        // ===========
        // ADD Contact
        // ===========
        function cmdAddContact_OnClick() {
            $('#contactEdit').modal({
                show: true,
                backdrop: 'static'
            });

            $('.requiredContact').each(function () {
                $(this).css({
                    "border": ""
                });
            });

            $("#cmdSaveContactButton").prop("disabled", false);
            $("#cmdContactDetailCloseButton").prop("disabled", false);

            document.getElementById('contact_Id').value = 0;
            document.getElementById('contact_contactPerson').value = '';
            document.getElementById('contact_contactNumber').value = '';
            document.getElementById('contact_Remarks').value = '';
        }

        // ==================
        // Contact Edit Button
        // ==================
        function btnEditContact_OnClick() {
            contactInformations.editItem(contactInformations.currentItem);
            $('#contactEdit').modal({
                show: true,
                backdrop: 'static'
            });

            $('.requiredContact').each(function () {
                $(this).css({
                    "border": ""
                });
            });

            $("#cmdSaveContactButton").prop("disabled", false);
            $("#cmdContactDetailCloseButton").prop("disabled", false);

            var contactInformation = contactInformations.currentEditItem;

            document.getElementById('contact_Id').value = contactInformation.Id;
            document.getElementById('contact_contactPerson').value = contactInformation.ContactPerson;
            document.getElementById('contact_contactNumber').value = contactInformation.ContactNumber;
            document.getElementById('contact_Remarks').value = contactInformation.Remarks;
        }

        // ============
        // SAVE Contact
        // ============
        function cmdContactSaveButton_OnClick() {
            var contactObject = new Object();
            var articleId = @supplierId;
            var contactId = document.getElementById('contact_Id').value;

            contactObject.ContactPerson = document.getElementById('contact_contactPerson').value;
            contactObject.ContactNumber = document.getElementById('contact_contactNumber').value;
            contactObject.Remarks = document.getElementById('contact_Remarks').value;
            var contactData = JSON.stringify(contactObject);

            var isValid = true;
            $('.requiredContact').each(function () {
                if ($.trim($(this).val()) == '') {
                    isValid = false;
                    $(this).css({
                        "border": "1px solid red"
                    });
                }
                else {
                    $(this).css({
                        "border": ""
                    });
                }
            });
            if (isValid == false) {
                toastr.error("Invalid Entry");
                e.preventDefault();
            }
            else {
                $("#cmdSaveContactButton").prop("disabled", true);
                $("#cmdContactDetailCloseButton").prop("disabled", true);

                if (contactId == 0) {
                    $.ajax({
                        type: "POST",
                        url: '/api/addArticleContact/' + articleId,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: contactData,
                        statusCode: {
                            200: function () {
                                $("#cmdSaveContactButton").prop("disabled", true);
                                $("#cmdContactDetailCloseButton").prop("disabled", true);
                                toastr.success("Successfully Saved");

                                $('#contactEdit').modal('hide');

                                contactInformations = new wijmo.collections.CollectionView(getContactInformation());
                                contactInformations.canFilter = true;
                                contactInformations.pageSize = 15;

                                var filterTextContactInformation = '';
                                $('#InputFilterContactInformation').keyup(function () {
                                    filterTextContactInformation = this.value.toLowerCase();
                                    contactInformations.refresh();
                                });
                                contactInformations.filter = function (item) {
                                    return !filterTextContactInformation || (item.ContactPerson.toLowerCase().indexOf(filterTextContactInformation) > -1);
                                }
                                contactInformations.collectionChanged.addHandler(function (sender, args) {
                                    updateNavigateButtonsContactInformation();
                                });

                                // Flex Grid for Contact Information
                                contactInformationGrid.trackChanges = true;
                                contactInformationGrid.itemsSource = contactInformations;
                            },
                            404: function () {
                                toastr.error("Can't Save");
                                $("#cmdSaveContactButton").prop("disabled", false);
                                $("#cmdContactDetailCloseButton").prop("disabled", false);
                            },
                            400: function () {
                                toastr.error("Bad Request");
                                $("#cmdSaveContactButton").prop("disabled", false);
                                $("#cmdContactDetailCloseButton").prop("disabled", false);
                            }
                        }
                    });
                } else {
                    $.ajax({
                        type: "PUT",
                        url: '/api/updateArticleContact/' + contactId,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: contactData,
                        statusCode: {
                            200: function () {
                                $("#cmdSaveContactButton").prop("disabled", true);
                                $("#cmdContactDetailCloseButton").prop("disabled", true);
                                toastr.success("Successfully Updated");

                                $('#contactEdit').modal('hide');

                                contactInformations = new wijmo.collections.CollectionView(getContactInformation());
                                contactInformations.canFilter = true;
                                contactInformations.pageSize = 15;

                                var filterTextContactInformation = '';
                                $('#InputFilterContactInformation').keyup(function () {
                                    filterTextContactInformation = this.value.toLowerCase();
                                    contactInformations.refresh();
                                });
                                contactInformations.filter = function (item) {
                                    return !filterTextContactInformation || (item.ContactPerson.toLowerCase().indexOf(filterTextContactInformation) > -1);
                                }
                                contactInformations.collectionChanged.addHandler(function (sender, args) {
                                    updateNavigateButtonsContactInformation();
                                });

                                // Flex Grid for Contact Information
                                contactInformationGrid.trackChanges = true;
                                contactInformationGrid.itemsSource = contactInformations;
                            },
                            404: function () {
                                toastr.error("Can't Update");
                                $("#cmdSaveContactButton").prop("disabled", false);
                                $("#cmdContactDetailCloseButton").prop("disabled", false);
                            },
                            400: function () {
                                toastr.error("Bad Request");
                                $("#cmdSaveContactButton").prop("disabled", false);
                                $("#cmdContactDetailCloseButton").prop("disabled", false);
                            }
                        }
                    });
                }
            }
        }

        // ==============
        // DELETE Contact
        // ==============
        function btnDeleteContact_OnClick() {
            $('#deleteContactConfirm').modal({
                show: true,
                backdrop: 'static'
            });
            
            $("#cmdConfirmDeleteContact").prop("disabled", false);
            $("#cmdConfirmDeleteContactCloseButton").prop("disabled", false);
        }
        // Contact Confirm Delete
        function cmdContactConfirmDeleteButton_OnClick() {
            $("#cmdConfirmDeleteContact").prop("disabled", true);
            $("#cmdConfirmDeleteContactCloseButton").prop("disabled", true);
           
            contactInformations.editItem(contactInformations.currentItem);
            var contactId = contactInformations.currentEditItem.Id;
            $.ajax({
                url: '/api/deleteArticleContact/' + contactId,
                type: "DELETE",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                statusCode: {
                    200: function () {
                        $("#cmdConfirmDeleteContact").prop("disabled", true);
                        $("#cmdConfirmDeleteContactCloseButton").prop("disabled", true);
                        toastr.success("Successfully Deleted");
                        
                        $('#deleteContactConfirm').modal('hide');

                        contactInformations = new wijmo.collections.CollectionView(getContactInformation());
                        contactInformations.canFilter = true;
                        contactInformations.pageSize = 15;

                        var filterTextContactInformation = '';
                        $('#InputFilterContactInformation').keyup(function () {
                            filterTextContactInformation = this.value.toLowerCase();
                            contactInformations.refresh();
                        });
                        contactInformations.filter = function (item) {
                            return !filterTextContactInformation || (item.ContactPerson.toLowerCase().indexOf(filterTextContactInformation) > -1);
                        }
                        contactInformations.collectionChanged.addHandler(function (sender, args) {
                            updateNavigateButtonsContactInformation();
                        });

                        // Flex Grid for Contact Information
                        contactInformationGrid.trackChanges = true;
                        contactInformationGrid.itemsSource = contactInformations;
                    },
                    404: function () {
                        toastr.error("Request Not Found");
                        $('#deleteContactConfirm').modal('hide');
                        $("#cmdConfirmDeleteContact").prop("disabled", false);
                        $("#cmdConfirmDeleteContactCloseButton").prop("disabled", false);
                    },
                    400: function () {
                        toastr.error("Bad Request");
                        $('#deleteContactConfirm').modal('hide');
                        $("#cmdConfirmDeleteContact").prop("disabled", false);
                        $("#cmdConfirmDeleteContactCloseButton").prop("disabled", false);
                    }
                }
            });
        }

        // ==========================================
        // Navigation Buttons for Contact Information
        // ==========================================
        function updateNavigateButtonsContactInformation() {
            if (contactInformations.pageSize <= 0) {
                document.getElementById('naviagtionPageGridContactInformation').style.display = 'none';
                return;
            }
            document.getElementById('naviagtionPageGridContactInformation').style.display = 'block';
            if (contactInformations.pageIndex === 0) {
                btnFirstPageGridContactInformation.setAttribute('disabled', 'disabled');
                btnPreviousPageGridContactInformation.setAttribute('disabled', 'disabled');
                btnNextPageGridContactInformation.removeAttribute('disabled');
                btnLastPageGridContactInformation.removeAttribute('disabled');
            } else if (contactInformations.pageIndex === (contactInformations.pageCount - 1)) {
                btnFirstPageGridContactInformation.removeAttribute('disabled');
                btnPreviousPageGridContactInformation.removeAttribute('disabled');
                btnLastPageGridContactInformation.setAttribute('disabled', 'disabled');
                btnNextPageGridContactInformation.setAttribute('disabled', 'disabled');
            } else {
                btnFirstPageGridContactInformation.removeAttribute('disabled');
                btnPreviousPageGridContactInformation.removeAttribute('disabled');
                btnNextPageGridContactInformation.removeAttribute('disabled');
                btnLastPageGridContactInformation.removeAttribute('disabled');
            }
            btnCurrentPageGridContactInformation.innerHTML = (contactInformations.pageIndex + 1) + ' / ' + contactInformations.pageCount;
        }

        // ====================================
        // On Page Load for Contact Information
        // ====================================
        function contactInformationTab() {
            contactInformations = new wijmo.collections.CollectionView(getContactInformation());
            contactInformations.canFilter = true;
            contactInformations.pageSize = 15;

            var filterTextContactInformation = '';
            $('#InputFilterContactInformation').keyup(function () {
                filterTextContactInformation = this.value.toLowerCase();
                contactInformations.refresh();
            });
            contactInformations.filter = function (item) {
                return !filterTextContactInformation || (item.ContactPerson.toLowerCase().indexOf(filterTextContactInformation) > -1);
            }
            contactInformations.collectionChanged.addHandler(function (sender, args) {
                updateNavigateButtonsContactInformation();
            });

            // Flex Grid for Contact Information
            contactInformationGrid = new wijmo.grid.FlexGrid('#ContactInformationGrid');
            contactInformationGrid.initialize({
                columns: [
                            {
                                "header": "Edit",
                                "binding": "EditId",
                                "width": 60,
                                "align": "center",
                                "allowResizing": false,
                                "allowSorting": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "Delete",
                                "binding": "DeleteId",
                                "width": 70,
                                "align": "center",
                                "allowResizing": false,
                                "allowSorting": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "Contact",
                                "binding": "ContactPerson",
                                "width": "3*",
                                "allowResizing": false,
                                "allowSorting": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "Contact Number(s)",
                                "binding": "ContactNumber",
                                "width": "2*",
                                "allowResizing": false,
                                "allowSorting": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "Remarks",
                                "binding": "Remarks",
                                "allowSorting": true,
                                "width": "4*",
                            },
                ],
                autoGenerateColumns: false,
                itemsSource: contactInformations,
                isReadOnly: true,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            contactInformationGrid.trackChanges = true;

            //Navigation button for Journal Ledger
            btnFirstPageGridContactInformation = document.getElementById('btnMoveToFirstPageGridContactInformation');
            btnPreviousPageGridContactInformation = document.getElementById('btnMoveToPreviousPageGridContactInformation');
            btnNextPageGridContactInformation = document.getElementById('btnMoveToNextPageGridContactInformation');
            btnLastPageGridContactInformation = document.getElementById('btnMoveToLastPageGridContactInformation');
            btnCurrentPageGridContactInformation = document.getElementById('btnCurrentPageGridContactInformation');

            updateNavigateButtonsContactInformation();

            btnFirstPageGridContactInformation.addEventListener('click', function () {
                contactInformations.moveToFirstPage();
                updateNavigateButtonsContactInformation();
            });
            btnPreviousPageGridContactInformation.addEventListener('click', function () {
                contactInformations.moveToPreviousPage();
                updateNavigateButtonsContactInformation();
            });
            btnNextPageGridContactInformation.addEventListener('click', function () {
                contactInformations.moveToNextPage();
                updateNavigateButtonsContactInformation();
            });
            btnLastPageGridContactInformation.addEventListener('click', function () {
                contactInformations.moveToLastPage();
                updateNavigateButtonsContactInformation();
            });
        }
    </script>
    <!-- ================================ -->
    <!-- Tab Current Page on Load Scripts -->
    <!-- ================================ -->
    <script type="text/javascript">
        // ====
        // TABS
        // ====
        $('#journalLedgerTabId').click(function () {
            $('#JournalLedger').show();
            $('#ContactInformation').hide();
            window.journalLedgerTab = function () {
                return true;
            };
        });

        $('#contactInformationTabId').click(function () {
            $('#JournalLedger').hide();
            $('#ContactInformation').show();
            //contactInformationTab();
            window.contactInformationTab = function () {
                return true;
            };
        });

        $(document).ready(function () {
            //$('#JournalLedger').show();
            //$('#ContactInformation').hide();
            //journalLedgerTab();

            var SupplierId = @supplierId;

            if(SupplierId == 0) {
                $('#supplier_SaveSupplierButton').hide();
                $('#btnAddMoreContactInformation').prop('disabled', true);
            }

            $('#JournalLedger').hide();
            $('#ContactInformation').show();
            contactInformationTab();
        });
    </script>
</body>
</html>