@Styles.Render("~/Content/css")
@Styles.Render("~/Font-Awesome/css")
@Styles.Render("~/Content/custom-css")

<!-- Header -->
@Html.Partial("_ManageHeader")

<!-- Section -->
<section>
    <div class="cover-login-photo-custom">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">Change Password Form: </h4>
                            </div>
                            <div>
                                <div class="panel-body">
                                    @model easyfis.Models.ChangePasswordViewModel
                                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        <div class="container-fluid">
                                            @Html.AntiForgeryToken()
                                            <div class="form-group">
                                                <span class="help-block">
                                                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                                    <p>@ViewBag.StatusMessage</p>
                                                </span>
                                            </div>
                                            <div class="form-group">
                                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Current Password" })
                                                @*@Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })*@
                                            </div>
                                            <div class="form-group">
                                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "New Password" })
                                                @*@Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })*@
                                            </div>
                                            <div class="form-group">
                                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                                                @*@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })*@
                                            </div>
                                            <br /><br />
                                            <div class="form-group">
                                                <input type="submit" value="Change password" class="btn btn-success btn-block" />
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="panel-footer">
                                    <p>Panel Footer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    @*<img class="img-thumbnail img-responsive center-block img-custom" data-src="holder.js/500x500/auto" alt="" src="../images/sectionImages/purchase.jpg"><br>*@
                </div>
            </div>
            @*@section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }*@
        </div>
    </div>
</section>

<!-- Footer -->
@Html.Partial("_ManageFooter")

@Scripts.Render("~/Scripts/js")
@Scripts.Render("~/bundles/jqueryval")


@*@model easyfis.Models.ChangePasswordViewModel
    @{
        ViewBag.Title = "Change Password";
    }

    <h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Change Password Form</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Change password" class="btn btn-default" />
            </div>
        </div>
    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
