<!DOCTYPE html>
<html>
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title of the Page -->
    <title>Change Password</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Content/Home-css")
</head>
<body data-spy="scroll" data-offset="100" id="home">
    <!-- Header -->
    @Html.Partial("_ManageHeader")

    <!-- Section -->
    <section>
        <div class="cover-login-photo-custom">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Change Password Form: </h4>
                                </div>
                                <div>
                                    <div class="panel-body">
                                        @model easyfis.Models.ChangePasswordViewModel
                                        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                        {
                                            <div class="container-fluid">
                                                @Html.AntiForgeryToken()
                                                <div class="form-group">
                                                    <span class="help-block">
                                                        @Html.ValidationSummary("", new { @class = "text-danger" })
                                                        @ViewBag.StatusMessage
                                                    </span>
                                                </div>
                                                <div class="form-group">
                                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control input-sm", @placeholder = "Current Password" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control input-sm", @placeholder = "New Password" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-sm", @placeholder = "Confirm Password" })
                                                </div>
                                                <br /><br />
                                                <div class="form-group">
                                                    <input type="submit" value="Change password" class="btn btn-success btn-sm btn-block" />
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    @*<div class="panel-footer">
                                        <p>Panel Footer</p>
                                    </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        @*<img class="img-thumbnail img-responsive center-block img-custom" data-src="holder.js/500x500/auto" alt="" src="../images/sectionImages/purchase.jpg"><br>*@
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    @Html.Partial("_ManageFooter")

    <!-- Scripts JavaScripts -->
    @Scripts.Render("~/Scripts/Home-js")
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>