<!DOCTYPE html>
<html>
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title of the Page -->
    <title>Change Password</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Content/Home-css")
</head>
<body>
    <div id="o-wrapper" class="o-wrapper">
        <main class="o-content">
            @Html.Partial("_SoftwareHeader")
            <section class="content-header">
                <div class="container">
                    <h3>
                        Change Password
                    </h3>
                    <p>
                        <i class="fa fa-building-o fa-fw"></i> &nbsp; @ViewData["Company"] <br />
                        <i class="fa fa-home fa-fw"></i> &nbsp; <a href="#" onclick="getUserBranches()" style="color: white;">@ViewData["Branch"]</a>
                    </p>
                </div>
            </section>
            <section class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div>
                                    <div class="panel-body">
                                        @model easyfis.Models.ChangePasswordViewModel
                                        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                        {
                                            <span class="help-block">
                                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                                @ViewBag.StatusMessage
                                            </span>
                                            <div class="container-fluid">
                                                @Html.AntiForgeryToken()
                                                <div class="form-group">
                                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control ", @placeholder = "Current Password" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control ", @placeholder = "New Password" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control ", @placeholder = "Confirm Password" })
                                                </div>
                                                <div class="form-group">
                                                    <input type="submit" value="Change password" class="btn btn-primary" />
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8"></div>
                </div>
            </section>
            @Html.Partial("_ManageFooter")
        </main>
    </div>

    <div id="c-mask" class="c-mask"></div><!-- /c-mask -->
    <!-- Footer -->
    <!-- Scripts JavaScripts -->
    @Scripts.Render("~/Scripts/Home-js")
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        var slideLeft = new Menu({
            wrapper: '#o-wrapper',
            type: 'slide-left',
            menuOpenerClass: '.c-button',
            maskId: '#c-mask'
        });

        var slideLeftBtn = document.querySelector('#c-button--slide-left');

        slideLeftBtn.addEventListener('click', function (e) {
            e.preventDefault;
            slideLeft.open();
        });
    </script>
</body>
</html>