@Styles.Render("~/Content/css")
@Styles.Render("~/Font-Awesome/css")
@Styles.Render("~/Content/custom-css")

<!-- Header -->
<header>
    <!-- navbar -->
    <nav class="navbar navbar opaque navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")"><i class="fa fa-calculator"></i> ERP System</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index", "Home")#home"><i class="fa fa-home"></i> Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-info-circle"></i> About</a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "Home")#sales"><i class="fa fa-tags"></i> Sales</a></li>
                            <li><a href="@Url.Action("Index", "Home")#purchases"><i class="fa fa-shopping-cart"></i> Purchases</a></li>
                            <li><a href="@Url.Action("Index", "Home")#warehouseInventory"><i class="fa fa-th-large"></i> Warehouse Inventory</a></li>
                            <li><a href="@Url.Action("Index", "Home")#productManagement"><i class="fa fa-archive"></i> Product Management</a></li>
                            <li><a href="@Url.Action("Index", "Home")#bankManagement"><i class="fa fa-university"></i> Bank Management</a></li>
                            <li><a href="@Url.Action("Index", "Home")#financials"><i class="fa fa-bar-chart"></i> Financials</a></li>
                            <li><a href="@Url.Action("Index", "Home")#multiUserSetup"><i class="fa fa-users"></i> Mutli-user Setup</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("Index", "Home")#support"><i class="fa fa-phone"></i> Support</a></li>
                    <li><a href="#"><i class="fa fa-newspaper-o"></i> News</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
    </nav>
    <!-- end of navbar -->
</header>

<!-- Section -->
<section>
    <div class="cover-login-photo-custom">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">Change Password Form: </h4>
                            </div>
                            <div>
                                <div class="panel-body">
                                    @model easyfis.Models.ChangePasswordViewModel
                                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        <div class="container">
                                            @Html.AntiForgeryToken()
                                            <div class="form-group">
                                                <span class="help-block">
                                                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                                    <p>@ViewBag.StatusMessage</p>
                                                </span>
                                            </div>
                                            <div class="form-group">
                                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Current Password" })
                                                @*@Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })*@
                                            </div>
                                            <div class="form-group">
                                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "New Password" })
                                                @*@Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })*@
                                            </div>
                                            <div class="form-group">
                                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                                                @*@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })*@
                                            </div>
                                            <br /><br />
                                            <div class="form-group">
                                                <input type="submit" value="Change password" class="btn btn-success btn-block" />
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="panel-footer">
                                    <p>Panel Footer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    @*<img class="img-thumbnail img-responsive center-block img-custom" data-src="holder.js/500x500/auto" alt="" src="../images/sectionImages/purchase.jpg"><br>*@
                </div>
            </div>
            @*@section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }*@
        </div>
    </div>
</section>

<!-- Modal for Signout -->
<div class="modal fade" id="modalLogout" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            @*<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <center><h4 class="modal-title">Login</h4></center>
                </div>*@
            <div class="modal-body">
                Are you sure you want to logout?
            </div>
            <div class="modal-footer">
                @*<a href="#" class="modal-footer-custom">Forgot Password?</a>
                    Not yet a member? <a href="#">Register</a>*@
                <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-primary"><i class="fa fa-sign-out"></i> Logout</a>
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
            </div>
        </div>
    </div>
</div>


<!-- Footer -->
<footer>
    <!-- cover page support -->
    <div class="cover-photo-footer-custom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <a href="#" class="btn btn-primary" data-placement="top" data-toggle="tooltip" title="Like us on Facebook"><i class="fa fa-facebook-official"></i> Facebook</a>
                    <a href="#" class="btn btn-info" data-placement="right" data-toggle="tooltip" title="Follow us on twitter"><i class="fa fa-twitter"></i> Twitter</a>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <p>Simplified Accounting Beta - v1.20140715 - © Innosoft Solutions - ERP System</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End of cover page support -->
</footer>

@Scripts.Render("~/Scripts/js")
@Scripts.Render("~/bundles/jqueryval")


@*@model easyfis.Models.ChangePasswordViewModel
    @{
        ViewBag.Title = "Change Password";
    }

    <h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Change Password Form</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Change password" class="btn btn-default" />
            </div>
        </div>
    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
