@Styles.Render("~/Content/css")
@Styles.Render("~/Font-Awesome/css")
@Styles.Render("~/Content/custom-css")

<!-- Header -->
<header>
    <!-- navbar -->
    <nav class="navbar navbar opaque navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")"><i class="fa fa-calculator"></i> ERP System</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index", "Home")#home"><i class="fa fa-home"></i> Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-info-circle"></i> About</a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "Home")#sales"><i class="fa fa-tags"></i> Sales</a></li>
                            <li><a href="@Url.Action("Index", "Home")#purchases"><i class="fa fa-shopping-cart"></i> Purchases</a></li>
                            <li><a href="@Url.Action("Index", "Home")#warehouseInventory"><i class="fa fa-th-large"></i> Warehouse Inventory</a></li>
                            <li><a href="@Url.Action("Index", "Home")#productManagement"><i class="fa fa-archive"></i> Product Management</a></li>
                            <li><a href="@Url.Action("Index", "Home")#bankManagement"><i class="fa fa-university"></i> Bank Management</a></li>
                            <li><a href="@Url.Action("Index", "Home")#financials"><i class="fa fa-bar-chart"></i> Financials</a></li>
                            <li><a href="@Url.Action("Index", "Home")#multiUserSetup"><i class="fa fa-users"></i> Mutli-user Setup</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("Index", "Home")#support"><i class="fa fa-phone"></i> Support</a></li>
                    <li><a href="#"><i class="fa fa-newspaper-o"></i> News</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
    </nav>
    <!-- end of navbar -->
</header>

@Html.Partial("_Manage")

<!-- Footer -->
<footer>
    <!-- cover page support -->
    <div class="cover-photo-footer-custom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <a href="#" class="btn btn-primary" data-placement="top" data-toggle="tooltip" title="Like us on Facebook"><i class="fa fa-facebook-official"></i> Facebook</a>
                    <a href="#" class="btn btn-info" data-placement="right" data-toggle="tooltip" title="Follow us on twitter"><i class="fa fa-twitter"></i> Twitter</a>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <p>Simplified Accounting Beta - v1.20140715 - © Innosoft Solutions - ERP System</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End of cover page support -->
</footer>

@Scripts.Render("~/Scripts/js")
@Scripts.Render("~/bundles/jqueryval")


@*@model easyfis.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [*@
@*<p class="text-success">@ViewBag.StatusMessage</p>
            @if (Model.HasPassword)
            {
                //Response.Redirect("~/Manage/AccountSettings");
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }*@
            @*]*@
        @*</dd>*@
        @*<dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>*@
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.
             
             See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.
             
             Uncomment the following block after you have set up two-factor authentication
        *@
        @*  
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None") [
                @if (Model.PhoneNumber != null)
                {
                    @Html.ActionLink("Change", "AddPhoneNumber")
                    @: &nbsp;|&nbsp;
                    @Html.ActionLink("Remove", "RemovePhoneNumber")
                }
                else
                {
                    @Html.ActionLink("Add", "AddPhoneNumber")
                }
                ]
            </dd>
        *@
        @*<dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>*@
            @*@if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Enabled
                        <input type="submit" value="Disable" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Disabled
                        <input type="submit" value="Enable" class="btn btn-link" />
                        </text>
                    }
                }*@
        @*</dd>*@
    @*</dl>
</div>*@
