<!DOCTYPE html>
<html class="account-html-custom">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title of the Page -->
    <title>EasyFIS Login</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Content/Home-css")
</head>
<body data-spy="scroll" data-offset="100" id="home" class="account-body-custom">
    <!-- Header -->
    @Html.Partial("_AccountHeader")

    <!-- After Login -->
    @Html.Partial("_AccountLogin")

    <!-- Footer -->
    @Html.Partial("_AccountFooter")

    @Scripts.Render("~/Scripts/Home-js")
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>